/** Colors common to all color stops */
$spectrum-color-red1: rgb(255, 105, 105);
$spectrum-color-red2: rgb(245, 60, 60);
$spectrum-color-red3: rgb(230, 20, 20);
$spectrum-color-red4: rgb(210, 10, 10);
$spectrum-color-red5: rgb(180, 0, 0);
$spectrum-color-yellow1: rgb(240, 210, 110);
$spectrum-color-yellow2: rgb(235, 190, 50);
$spectrum-color-yellow3: rgb(230, 175, 0);
$spectrum-color-yellow4: rgb(230, 160, 0);
$spectrum-color-yellow5: rgb(220, 145, 0);
$spectrum-color-green1: rgb(70, 170, 70);
$spectrum-color-green2: rgb(20, 155, 20);
$spectrum-color-green3: rgb(15, 135, 15);
$spectrum-color-green4: rgb(10, 120, 10);
$spectrum-color-green5: rgb(0, 100, 0);
$spectrum-color-blue1: rgb(70, 160, 245);
$spectrum-color-blue2: rgb(45, 140, 235);
$spectrum-color-blue3: rgb(20, 115, 230);
$spectrum-color-blue4: rgb(0, 100, 220);
$spectrum-color-blue5: rgb(0, 90, 190);
$spectrum-color-periwinkle: rgb(115, 75, 195);
$spectrum-color-plum: rgb(150, 60, 115);
$spectrum-color-fuchsia: rgb(230, 20, 130);
$spectrum-color-magenta: rgb(205, 0, 95);
$spectrum-color-orange: rgb(240, 80, 0);
$spectrum-color-tangerine: rgb(250, 140, 0);
$spectrum-color-chartreuse: rgb(120, 200, 35);
$spectrum-color-kellygreen: rgb(0, 135, 105);
$spectrum-color-seafoam: rgb(30, 180, 140);
$spectrum-color-cyan: rgb(0, 190, 225);
$spectrum-color-blue: rgb(20, 115, 230);
$spectrum-color-defaultgrey: rgb(112, 112, 112);


/** Palette for color stop light */
$spectrum-color-grey1: rgb(255, 255, 255);
$spectrum-color-grey2: rgb(250, 250, 250);
$spectrum-color-grey3: rgb(245, 245, 245);
$spectrum-color-grey4: rgb(234, 234, 234);
$spectrum-color-grey5: rgb(225, 225, 225);
$spectrum-color-grey6: rgb(194, 194, 194);
$spectrum-color-grey7: rgb(153, 153, 153);
$spectrum-color-grey8: rgb(112, 112, 112);
$spectrum-color-grey9: rgb(75, 75, 75);
$spectrum-color-grey10: rgb(45, 45, 45);

/** Concepts for color stop light */
$spectrum-color-info: $spectrum-color-blue3;
$spectrum-color-error: $spectrum-color-red3;
$spectrum-color-warning: $spectrum-color-yellow3;
$spectrum-color-success: $spectrum-color-green3;
$spectrum-color-background: $spectrum-color-grey3;
$spectrum-color-text: $spectrum-color-grey9;
$spectrum-color-text-secondary: $spectrum-color-grey8;
$spectrum-color-disabled: $spectrum-color-grey4;
$spectrum-color-disabled-text: $spectrum-color-grey6;
$spectrum-color-disabled-border: transparent;
$spectrum-color-border: $spectrum-color-grey5;
$spectrum-color-border-hover: $spectrum-color-grey6;
$spectrum-color-invalid: $spectrum-color-red2;
$spectrum-color-invalid-hover: $spectrum-color-red3;
$spectrum-color-invalid-active: $spectrum-color-red4;
$spectrum-color-dropshadow: rgba(0, 0, 0, 0.08);
$spectrum-color-modal-overlay-background: rgba(0, 0, 0, 0.6);
$spectrum-color-track: $spectrum-color-grey5;
$spectrum-color-button-background: transparent;
$spectrum-color-button-background-hover: $spectrum-color-grey9;
$spectrum-color-button-background-active: $spectrum-color-grey10;
$spectrum-color-button-background-focus: $spectrum-color-button-focus;
$spectrum-color-button-background-disabled: $spectrum-color-disabled;
$spectrum-color-button-border: $spectrum-color-grey9;
$spectrum-color-button-border-hover: $spectrum-color-grey9;
$spectrum-color-button-border-active: $spectrum-color-grey10;
$spectrum-color-button-border-focus: $spectrum-color-button-focus;
$spectrum-color-button-border-disabled: $spectrum-color-disabled-border;
$spectrum-color-button-text: $spectrum-color-button-border;
$spectrum-color-button-text-hover: $spectrum-color-grey1;
$spectrum-color-button-text-active: $spectrum-color-grey1;
$spectrum-color-button-text-focus: white;
$spectrum-color-button-text-disabled: $spectrum-color-disabled-text;
$spectrum-color-button-secondary-background: transparent;
$spectrum-color-button-secondary-background-hover: $spectrum-color-grey8;
$spectrum-color-button-secondary-background-active: $spectrum-color-grey9;
$spectrum-color-button-secondary-background-focus: $spectrum-color-button-focus;
$spectrum-color-button-secondary-background-disabled: $spectrum-color-disabled;
$spectrum-color-button-secondary-border: $spectrum-color-grey8;
$spectrum-color-button-secondary-border-hover: $spectrum-color-grey8;
$spectrum-color-button-secondary-border-active: $spectrum-color-grey9;
$spectrum-color-button-secondary-border-focus: $spectrum-color-button-focus;
$spectrum-color-button-secondary-border-disabled: $spectrum-color-disabled-border;
$spectrum-color-button-secondary-text: $spectrum-color-button-secondary-border;
$spectrum-color-button-secondary-text-hover: $spectrum-color-grey1;
$spectrum-color-button-secondary-text-active: $spectrum-color-grey1;
$spectrum-color-button-secondary-text-focus: white;
$spectrum-color-button-secondary-text-disabled: $spectrum-color-disabled-text;
$spectrum-color-button-cta-background: $spectrum-color-blue3;
$spectrum-color-button-cta-background-hover: $spectrum-color-blue4;
$spectrum-color-button-cta-background-active: $spectrum-color-blue5;
$spectrum-color-button-cta-background-focus: $spectrum-color-button-focus;
$spectrum-color-button-cta-background-disabled: $spectrum-color-disabled;
$spectrum-color-button-cta-border: transparent;
$spectrum-color-button-cta-border-hover: transparent;
$spectrum-color-button-cta-border-active: transparent;
$spectrum-color-button-cta-border-focus: $spectrum-color-button-focus;
$spectrum-color-button-cta-border-disabled: $spectrum-color-disabled-border;
$spectrum-color-button-cta-text: white;
$spectrum-color-button-cta-text-hover: white;
$spectrum-color-button-cta-text-active: white;
$spectrum-color-button-cta-text-focus: white;
$spectrum-color-button-cta-text-disabled: $spectrum-color-disabled-text;
$spectrum-color-button-warning-background: transparent;
$spectrum-color-button-warning-background-hover: $spectrum-color-red3;
$spectrum-color-button-warning-background-active: $spectrum-color-red4;
$spectrum-color-button-warning-background-focus: $spectrum-color-button-focus;
$spectrum-color-button-warning-background-disabled: $spectrum-color-disabled;
$spectrum-color-button-warning-border: $spectrum-color-red3;
$spectrum-color-button-warning-border-hover: $spectrum-color-red3;
$spectrum-color-button-warning-border-active: $spectrum-color-red4;
$spectrum-color-button-warning-border-focus: white;
$spectrum-color-button-warning-border-disabled: $spectrum-color-disabled-text;
$spectrum-color-button-warning-text: $spectrum-color-red3;
$spectrum-color-button-warning-text-hover: $spectrum-color-grey1;
$spectrum-color-button-warning-text-active: $spectrum-color-grey1;
$spectrum-color-button-warning-text-focus: white;
$spectrum-color-button-warning-text-disabled: $spectrum-color-disabled-text;
$spectrum-color-button-quiet-primary-background: transparent;
$spectrum-color-button-quiet-primary-background-hover: transparent;
$spectrum-color-button-quiet-primary-background-active: transparent;
$spectrum-color-button-quiet-primary-background-focus: transparent;
$spectrum-color-button-quiet-primary-background-disabled: $spectrum-color-disabled;
$spectrum-color-button-quiet-primary-border: transparent;
$spectrum-color-button-quiet-primary-border-hover: transparent;
$spectrum-color-button-quiet-primary-border-active: transparent;
$spectrum-color-button-quiet-primary-border-focus: $spectrum-color-button-focus;
$spectrum-color-button-quiet-primary-border-disabled: $spectrum-color-disabled-border;
$spectrum-color-button-quiet-primary-text: $spectrum-color-grey8;
$spectrum-color-button-quiet-primary-text-hover: $spectrum-color-grey9;
$spectrum-color-button-quiet-primary-text-active: $spectrum-color-grey10;
$spectrum-color-button-quiet-primary-text-focus: $spectrum-color-button-focus;
$spectrum-color-button-quiet-primary-text-disabled: $spectrum-color-disabled-text;
$spectrum-color-button-quiet-background: transparent;
$spectrum-color-button-quiet-background-hover: transparent;
$spectrum-color-button-quiet-background-active: transparent;
$spectrum-color-button-quiet-background-focus: transparent;
$spectrum-color-button-quiet-background-disabled: $spectrum-color-disabled;
$spectrum-color-button-quiet-border: transparent;
$spectrum-color-button-quiet-border-hover: transparent;
$spectrum-color-button-quiet-border-active: transparent;
$spectrum-color-button-quiet-border-focus: $spectrum-color-button-focus;
$spectrum-color-button-quiet-border-disabled: $spectrum-color-disabled-border;
$spectrum-color-button-quiet-text: $spectrum-color-grey8;
$spectrum-color-button-quiet-text-hover: $spectrum-color-grey9;
$spectrum-color-button-quiet-text-active: $spectrum-color-grey10;
$spectrum-color-button-quiet-text-focus: $spectrum-color-button-focus;
$spectrum-color-button-quiet-text-disabled: $spectrum-color-disabled-text;
$spectrum-color-button-buttonbar-background: $spectrum-color-grey2;
$spectrum-color-button-buttonbar-background-hover: $spectrum-color-grey1;
$spectrum-color-button-buttonbar-background-active: $spectrum-color-grey4;
$spectrum-color-button-buttonbar-background-selected: $spectrum-color-grey4;
$spectrum-color-button-buttonbar-border: $spectrum-color-border;
$spectrum-color-button-buttonbar-border-focus: $spectrum-color-focus;
$spectrum-color-button-icon: $spectrum-color-grey8;
$spectrum-color-button-icon-hover: $spectrum-color-grey9;
$spectrum-color-button-icon-active: $spectrum-color-grey9;
$spectrum-color-button-icon-selected: $spectrum-color-grey9;
$spectrum-color-button-toggle-background-on: $spectrum-color-grey4;
$spectrum-color-button-quickaction-background: $spectrum-color-grey1;
$spectrum-color-button-quickaction-border: $spectrum-color-translucent-border;
$spectrum-color-button-quickaction-shadow: $spectrum-color-dropshadow;
$spectrum-color-button-quickaction-icon-focus: $spectrum-color-focus;
$spectrum-color-switch-border: $spectrum-color-grey8;
$spectrum-color-switch-border-hover: $spectrum-color-grey9;
$spectrum-color-switch-border-active: $spectrum-color-grey10;
$spectrum-color-switch-border-focus: $spectrum-color-focus;
$spectrum-color-switch-border-invalid: $spectrum-color-invalid;
$spectrum-color-switch-border-invalid-hover: $spectrum-color-invalid-hover;
$spectrum-color-switch-border-invalid-active: $spectrum-color-invalid-active;
$spectrum-color-switch-track: $spectrum-color-track;
$spectrum-color-slider-track: $spectrum-color-track;
$spectrum-color-slider-track-filled: $spectrum-color-grey8;
$spectrum-color-slider-track-buffer: $spectrum-color-grey6;
$spectrum-color-slider-handle-border: $spectrum-color-grey8;
$spectrum-color-slider-handle-border-hover: $spectrum-color-grey8;
$spectrum-color-slider-handle-border-active: $spectrum-color-grey9;
$spectrum-color-slider-handle-border-focus: $spectrum-color-focus;
$spectrum-color-slider-handle-border-disabled: $spectrum-color-disabled;
$spectrum-color-input-placeholder: $spectrum-color-grey7;
$spectrum-color-input-placeholder-hover: $spectrum-color-grey8;
$spectrum-color-input-placeholder-disabled: $spectrum-color-grey5;
$spectrum-color-input-background: $spectrum-color-grey1;
$spectrum-color-input-background-disabled: $spectrum-color-disabled;
$spectrum-color-input-border: $spectrum-color-border;
$spectrum-color-input-border-hover: $spectrum-color-border-hover;
$spectrum-color-input-border-active: $spectrum-color-focus;
$spectrum-color-input-border-focus: $spectrum-color-focus;
$spectrum-color-input-border-disabled: $spectrum-color-disabled-border;
$spectrum-color-input-border-invalid: $spectrum-color-invalid;
$spectrum-color-input-text: $spectrum-color-text;
$spectrum-color-input-text-disabled: $spectrum-color-disabled-text;
$spectrum-color-input-quiet-background: transparent;
$spectrum-color-input-quiet-background-disabled: transparent;
$spectrum-color-input-quiet-border-disabled: $spectrum-color-disabled;
$spectrum-color-input-label: $spectrum-color-grey8;
$spectrum-color-input-icon: $spectrum-color-grey8;
$spectrum-color-input-icon-hover: $spectrum-color-grey9;
$spectrum-color-input-icon-active: $spectrum-color-grey10;
$spectrum-color-select-background: $spectrum-color-grey2;
$spectrum-color-select-background-hover: $spectrum-color-grey1;
$spectrum-color-select-icon: $spectrum-color-grey8;
$spectrum-color-select-icon-disabled: $spectrum-color-disabled-text;
$spectrum-color-select-border: $spectrum-color-border;
$spectrum-color-select-border-focus: $spectrum-color-focus;
$spectrum-color-select-quiet-background: transparent;
$spectrum-color-select-quiet-background-disabled: transparent;
$spectrum-color-select-quiet-text-hover: $spectrum-color-grey10;
$spectrum-color-list-background: $spectrum-color-grey1;
$spectrum-color-list-background-hover: $spectrum-color-grey3;
$spectrum-color-list-text-selected: $spectrum-color-focus-text;
$spectrum-color-list-icon-selected: $spectrum-color-focus-text;
$spectrum-color-list-focusindicator: $spectrum-color-focus;
$spectrum-color-tag-border: $spectrum-color-grey7;
$spectrum-color-tag-border-hover: $spectrum-color-grey9;
$spectrum-color-tag-border-active: $spectrum-color-grey10;
$spectrum-color-tag-border-focus: $spectrum-color-focus;
$spectrum-color-tag-border-disabled: $spectrum-color-disabled;
$spectrum-color-tag-border-invalid: $spectrum-color-invalid;
$spectrum-color-tag-text: $spectrum-color-grey7;
$spectrum-color-tag-text-hover: $spectrum-color-grey9;
$spectrum-color-tag-text-active: $spectrum-color-grey10;
$spectrum-color-tag-text-focus: $spectrum-color-focus;
$spectrum-color-tag-text-disabled: $spectrum-color-disabled;
$spectrum-color-tag-text-invalid: $spectrum-color-invalid;
$spectrum-color-alert-background: $spectrum-color-grey1;
$spectrum-color-alert-border-error: $spectrum-color-error;
$spectrum-color-alert-border-info: $spectrum-color-info;
$spectrum-color-alert-border-success: $spectrum-color-success;
$spectrum-color-alert-border-warning: $spectrum-color-warning;
$spectrum-color-notification-background-default: $spectrum-color-defaultgrey;
$spectrum-color-notification-background-success: $spectrum-color-success;
$spectrum-color-notification-background-info: $spectrum-color-info;
$spectrum-color-notification-background-error: $spectrum-color-error;
$spectrum-color-notification-background-warning: $spectrum-color-warning;
$spectrum-color-notification-text: white;
$spectrum-color-notification-button: white;
$spectrum-color-notification-icon: white;
$spectrum-color-loader-track: $spectrum-color-track;
$spectrum-color-loader-progress: $spectrum-color-focus;
$spectrum-color-loader-progress-grey: $spectrum-color-grey7;
$spectrum-color-divider-background: $spectrum-color-grey9;
$spectrum-color-rule-background: $spectrum-color-grey6;
$spectrum-color-tab-text: $spectrum-color-grey8;
$spectrum-color-tab-text-hover: $spectrum-color-grey10;
$spectrum-color-tab-text-active: $spectrum-color-grey10;
$spectrum-color-tab-text-selected: $spectrum-color-grey10;
$spectrum-color-tab-text-focus: $spectrum-color-focus;
$spectrum-color-tab-text-disabled: $spectrum-color-disabled-text;
$spectrum-color-tab-line-background: $spectrum-color-grey10;
$spectrum-color-tab-line-background-focus: $spectrum-color-focus;
$spectrum-color-tab-line-background-disabled: $spectrum-color-disabled;
$spectrum-color-tab-border-focus: $spectrum-color-focus;
$spectrum-color-accordion-border: $spectrum-color-grey4;
$spectrum-color-accordion-text: $spectrum-color-grey8;
$spectrum-color-accordion-text-hover: $spectrum-color-grey10;
$spectrum-color-accordion-text-active: $spectrum-color-grey10;
$spectrum-color-accordion-text-focus: $spectrum-color-grey10;
$spectrum-color-accordion-text-disabled: $spectrum-color-disabled-text;
$spectrum-color-accordion-focusindicator: $spectrum-color-focus;
$spectrum-color-accordion-icon: $spectrum-color-grey7;
$spectrum-color-accordion-icon-hover: $spectrum-color-grey9;
$spectrum-color-accordion-icon-active: $spectrum-color-grey9;
$spectrum-color-accordion-icon-focus: $spectrum-color-grey9;
$spectrum-color-accordion-icon-disabled: $spectrum-color-disabled;
$spectrum-color-drawer-background: $spectrum-color-grey2;
$spectrum-color-drag-handle-background: $spectrum-color-grey5;
$spectrum-color-drag-handle-background-hover: $spectrum-color-grey6;
$spectrum-color-drag-handle-background-focus: $spectrum-color-focus;
$spectrum-color-drag-handle-icon: $spectrum-color-grey1;
$spectrum-color-dialog-background: $spectrum-color-grey1;
$spectrum-color-dialog-header-default: $spectrum-color-grey10;
$spectrum-color-dialog-header-success: $spectrum-color-success;
$spectrum-color-dialog-header-info: $spectrum-color-info;
$spectrum-color-dialog-header-error: $spectrum-color-invalid;
$spectrum-color-dialog-header-warning: $spectrum-color-grey10;
$spectrum-color-dialog-icon-success: $spectrum-color-success;
$spectrum-color-dialog-icon-info: $spectrum-color-info;
$spectrum-color-dialog-icon-error: $spectrum-color-invalid;
$spectrum-color-dialog-icon-warning: $spectrum-color-warning;
$spectrum-color-dialog-divider: $spectrum-color-grey3;
$spectrum-color-dialog-popover-border: $spectrum-color-border;
$spectrum-color-dialog-popover-shadow: $spectrum-color-dropshadow;
$spectrum-color-miller-divider: $spectrum-color-grey4;
$spectrum-color-miller-item-hover: $spectrum-color-grey4;
$spectrum-color-miller-item-icon: $spectrum-color-grey7;
$spectrum-color-miller-item-icon-hover: $spectrum-color-grey8;
$spectrum-color-miller-item-text-focus: $spectrum-color-focus;
$spectrum-color-miller-item-focusindicator: $spectrum-color-focus;
$spectrum-color-wizard-step: $spectrum-color-grey5;
$spectrum-color-wizard-step-current: $spectrum-color-grey9;
$spectrum-color-wizard-step-complete: $spectrum-color-grey7;
$spectrum-color-wizard-step-hover: $spectrum-color-grey8;
$spectrum-color-wizard-step-focus: $spectrum-color-focus;
$spectrum-color-wizard-segement: $spectrum-color-grey5;
$spectrum-color-wizard-segement-complete: $spectrum-color-grey7;
$spectrum-color-wizard-label: $spectrum-color-grey7;
$spectrum-color-wizard-label-complete: $spectrum-color-grey8;
$spectrum-color-wizard-label-current: $spectrum-color-grey9;
$spectrum-color-heading1: $spectrum-color-grey10;
$spectrum-color-heading2: $spectrum-color-grey10;
$spectrum-color-heading3: $spectrum-color-grey10;
$spectrum-color-heading4: $spectrum-color-grey10;
$spectrum-color-heading5: $spectrum-color-grey8;
$spectrum-color-focus: $spectrum-color-blue3;
$spectrum-color-focus-text: $spectrum-color-blue4;
$spectrum-color-button-focus: $spectrum-color-blue4;
$spectrum-color-translucent-border: rgba(45, 45, 45, .1);
$spectrum-color-link: $spectrum-color-blue4;
$spectrum-color-link-active: $spectrum-color-blue5;
