/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@container style(--system: spectrum) {
	.spectrum-Textfield {
		--spectrum-textfield-border-color: var(--spectrum-gray-500);
		--spectrum-textfield-border-color-hover: var(--spectrum-gray-600);
		--spectrum-textfield-border-color-focus: var(--spectrum-gray-800);
		--spectrum-textfield-border-color-focus-hover: var(--spectrum-gray-900);
		--spectrum-textfield-border-color-keyboard-focus: var(--spectrum-gray-900);

		--spectrum-textfield-border-width: var(--spectrum-border-width-100);

		--spectrum-texfield-animation-duration: var(--spectrum-animation-duration-100);

		--spectrum-textfield-width: 240px; /* override per api */
		--spectrum-textfield-min-width: var(--spectrum-text-field-minimum-width-multiplier);
		--spectrum-textfield-corner-radius: var(--spectrum-corner-radius-100);

		/* default spacing */
		--spectrum-textfield-spacing-inline-quiet: var(--spectrum-field-edge-to-text-quiet);
		--spectrum-textfield-spacing-block-start: var(--spectrum-component-top-to-text-100);
		--spectrum-textfield-spacing-block-end: var(--spectrum-component-bottom-to-text-100);
		--spectrum-textfield-spacing-block-quiet: var(--spectrum-field-edge-to-border-quiet);

		/* default label spacing */
		--spectrum-textfield-label-spacing-block: var(--spectrum-field-label-to-component);

		/* default help text spacing */
		--spectrum-textfield-helptext-spacing-block: var(--spectrum-help-text-to-component);

		/* quiet spacing  */
		--spectrum-textfield-icon-spacing-inline-end-quiet-invalid: var(--spectrum-field-edge-to-alert-icon-quiet);
		--spectrum-textfield-icon-spacing-inline-end-quiet-valid: var(--spectrum-field-edge-to-validation-icon-quiet);

		/* font styles */
		--spectrum-textfield-font-family: var(--spectrum-sans-font-family-stack);
		--spectrum-textfield-font-weight: var(--spectrum-regular-font-weight);

		/* line height */
		--spectrum-textfield-input-line-height: var(--spectrum-textfield-height);

		/* character count */
		--spectrum-textfield-character-count-font-family: var(--spectrum-sans-font-family-stack);
		--spectrum-textfield-character-count-font-weight: var(--spectrum-regular-font-weight);
		--spectrum-textfield-character-count-spacing-inline: var(--spectrum-spacing-200);
		--spectrum-textfield-character-count-spacing-inline-side: var(--spectrum-side-label-character-count-to-field);

		/* focus indicator */
		--spectrum-textfield-focus-indicator-width: var(--spectrum-focus-indicator-thickness);
		--spectrum-textfield-focus-indicator-gap: var(--spectrum-focus-indicator-gap);

		/*** Colors ***/
		--spectrum-textfield-background-color: var(--spectrum-gray-25);

		/* Text Colors */
		--spectrum-textfield-text-color-default: var(--spectrum-neutral-content-color-default);
		--spectrum-textfield-text-color-hover: var(--spectrum-neutral-content-color-hover);
		--spectrum-textfield-text-color-focus: var(--spectrum-neutral-content-color-focus);
		--spectrum-textfield-text-color-focus-hover: var(--spectrum-neutral-content-color-focus-hover);
		--spectrum-textfield-text-color-keyboard-focus: var(--spectrum-neutral-content-color-key-focus);

		/* Read Only Text Color */
		--spectrum-textfield-text-color-readonly: var(--spectrum-neutral-content-color-default);

		/* Disabled Colors */
		--spectrum-textfield-background-color-disabled: var(--spectrum-disabled-background-color);
		--spectrum-textfield-border-color-disabled: var(--spectrum-disabled-border-color);
		--spectrum-textfield-text-color-disabled: var(--spectrum-disabled-content-color);

		/* Invalid Colors */
		--spectrum-textfield-border-color-invalid-default: var(--spectrum-negative-border-color-default);
		--spectrum-textfield-border-color-invalid-hover: var(--spectrum-negative-border-color-hover);
		--spectrum-textfield-border-color-invalid-focus: var(--spectrum-negative-border-color-focus);
		--spectrum-textfield-border-color-invalid-focus-hover: var(--spectrum-negative-border-color-focus-hover);
		--spectrum-textfield-border-color-invalid-keyboard-focus: var(--spectrum-negative-border-color-key-focus);
		--spectrum-textfield-icon-color-invalid: var(--spectrum-negative-visual-color);

		--spectrum-textfield-text-color-invalid: var(--spectrum-neutral-content-color-default);

		/* Valid Colors */
		--spectrum-textfield-text-color-valid: var(--spectrum-neutral-content-color-default);
		--spectrum-textfield-icon-color-valid: var(--spectrum-positive-visual-color);

		/* Focus Indicator Color */
		--spectrum-textfield-focus-indicator-color: var(--spectrum-focus-indicator-color);

		/* Text Area / Multiline */
		--spectrum-text-area-min-inline-size: var(--spectrum-text-area-minimum-width);
		--spectrum-text-area-min-block-size: var(--spectrum-text-area-minimum-height);

		/********* Text field t-shirt sizes *********/
		&.spectrum-Textfield--sizeS {
			--spectrum-textfield-height: var(--spectrum-component-height-75);
			--spectrum-textfield-label-spacing-block-quiet: var(--spectrum-field-label-to-component-quiet-small);
			--spectrum-textfield-label-spacing-inline-side-label: var(--spectrum-spacing-100);
			--spectrum-textfield-placeholder-font-size: var(--spectrum-font-size-75);
			--spectrum-textfield-spacing-inline: var(--spectrum-component-edge-to-text-75);
			--spectrum-textfield-icon-size-invalid: var(--spectrum-workflow-icon-size-75);
			--spectrum-textfield-icon-size-valid: var(--spectrum-checkmark-icon-size-75);
			--spectrum-textfield-icon-spacing-inline-end-invalid: var(--spectrum-field-edge-to-alert-icon-small);
			--spectrum-textfield-icon-spacing-inline-end-valid: var(--spectrum-field-edge-to-validation-icon-small);
			--spectrum-textfield-icon-spacing-block-invalid: var(--spectrum-field-top-to-alert-icon-small);
			--spectrum-textfield-icon-spacing-block-valid: var(--spectrum-field-top-to-validation-icon-small);
			--spectrum-textfield-icon-spacing-inline-start-invalid: var(--spectrum-field-text-to-alert-icon-small);
			--spectrum-textfield-icon-spacing-inline-start-valid: var(--spectrum-field-text-to-validation-icon-small);
			--spectrum-textfield-character-count-font-size: var(--spectrum-font-size-75);
			--spectrum-textfield-character-count-spacing-block: var(--spectrum-component-bottom-to-text-75);
			--spectrum-textfield-character-count-spacing-block-quiet: var(--spectrum-character-count-to-field-quiet-small);
			--spectrum-textfield-character-count-spacing-block-side: var(--spectrum-side-label-character-count-top-margin-small);

			/* Text Area / Multiline size small */
			--spectrum-text-area-min-block-size-quiet: var(--spectrum-component-height-75);
		}

		&,
		&.spectrum-Textfield--sizeM {
			--spectrum-textfield-height: var(--spectrum-component-height-100);
			--spectrum-textfield-label-spacing-block-quiet: var(--spectrum-field-label-to-component-quiet-medium);
			--spectrum-textfield-label-spacing-inline-side-label: var(--spectrum-spacing-200);
			--spectrum-textfield-placeholder-font-size: var(--spectrum-font-size-100);
			--spectrum-textfield-spacing-inline: var(--spectrum-component-edge-to-text-100);
			--spectrum-textfield-icon-size-invalid: var(--spectrum-workflow-icon-size-100);
			--spectrum-textfield-icon-size-valid: var(--spectrum-checkmark-icon-size-100);
			--spectrum-textfield-icon-spacing-inline-end-invalid: var(--spectrum-field-edge-to-alert-icon-medium);
			--spectrum-textfield-icon-spacing-inline-end-valid: var(--spectrum-field-edge-to-validation-icon-medium);
			--spectrum-textfield-icon-spacing-block-invalid: var(--spectrum-field-top-to-alert-icon-medium);
			--spectrum-textfield-icon-spacing-block-valid: var(--spectrum-field-top-to-validation-icon-medium);
			--spectrum-textfield-icon-spacing-inline-start-invalid: var(--spectrum-field-text-to-alert-icon-medium);
			--spectrum-textfield-icon-spacing-inline-start-valid: var(--spectrum-field-text-to-validation-icon-medium);
			--spectrum-textfield-character-count-font-size: var(--spectrum-font-size-75);
			--spectrum-textfield-character-count-spacing-block: var(--spectrum-component-bottom-to-text-75);
			--spectrum-textfield-character-count-spacing-block-quiet: var(--spectrum-character-count-to-field-quiet-medium);
			--spectrum-textfield-character-count-spacing-block-side: var(--spectrum-side-label-character-count-top-margin-medium);

			/* Text Area / Multiline size medium */
			--spectrum-text-area-min-block-size-quiet: var(--spectrum-component-height-100);
		}

		&.spectrum-Textfield--sizeL {
			--spectrum-textfield-height: var(--spectrum-component-height-200);
			--spectrum-textfield-label-spacing-block-quiet: var(--spectrum-field-label-to-component-quiet-large);
			--spectrum-textfield-label-spacing-inline-side-label: var(--spectrum-spacing-200);
			--spectrum-textfield-placeholder-font-size: var(--spectrum-font-size-200);
			--spectrum-textfield-spacing-inline: var(--spectrum-component-edge-to-text-200);
			--spectrum-textfield-icon-size-invalid: var(--spectrum-workflow-icon-size-200);
			--spectrum-textfield-icon-size-valid: var(--spectrum-checkmark-icon-size-200);
			--spectrum-textfield-icon-spacing-inline-end-invalid: var(--spectrum-field-edge-to-alert-icon-large);
			--spectrum-textfield-icon-spacing-inline-end-valid: var(--spectrum-field-edge-to-validation-icon-large);
			--spectrum-textfield-icon-spacing-block-invalid: var(--spectrum-field-top-to-alert-icon-large);
			--spectrum-textfield-icon-spacing-block-valid: var(--spectrum-field-top-to-validation-icon-large);
			--spectrum-textfield-icon-spacing-inline-start-invalid: var(--spectrum-field-text-to-alert-icon-large);
			--spectrum-textfield-icon-spacing-inline-start-valid: var(--spectrum-field-text-to-validation-icon-large);
			--spectrum-textfield-character-count-font-size: var(--spectrum-font-size-100);
			--spectrum-textfield-character-count-spacing-block: var(--spectrum-component-bottom-to-text-100);
			--spectrum-textfield-character-count-spacing-block-quiet: var(--spectrum-character-count-to-field-quiet-large);
			--spectrum-textfield-character-count-spacing-block-side: var(--spectrum-side-label-character-count-top-margin-large);

			/* Text Area / Multiline size large */
			--spectrum-text-area-min-block-size-quiet: var(--spectrum-component-height-200);
		}

		&.spectrum-Textfield--sizeXL {
			--spectrum-textfield-height: var(--spectrum-component-height-300);
			--spectrum-textfield-label-spacing-block-quiet: var(--spectrum-field-label-to-component-quiet-extra-large);
			--spectrum-textfield-label-spacing-inline-side-label: var(--spectrum-spacing-200);
			--spectrum-textfield-placeholder-font-size: var(--spectrum-font-size-300);
			--spectrum-textfield-spacing-inline: var(--spectrum-component-edge-to-text-200);
			--spectrum-textfield-icon-size-invalid: var(--spectrum-workflow-icon-size-300);
			--spectrum-textfield-icon-size-valid: var(--spectrum-checkmark-icon-size-300);
			--spectrum-textfield-icon-spacing-inline-end-invalid: var(--spectrum-field-edge-to-alert-icon-extra-large);
			--spectrum-textfield-icon-spacing-inline-end-valid: var(--spectrum-field-edge-to-validation-icon-extra-large);
			--spectrum-textfield-icon-spacing-block-invalid: var(--spectrum-field-top-to-alert-icon-extra-large);
			--spectrum-textfield-icon-spacing-block-valid: var(--spectrum-field-top-to-validation-icon-extra-large);
			--spectrum-textfield-icon-spacing-inline-start-invalid: var(--spectrum-field-text-to-alert-icon-extra-large);
			--spectrum-textfield-icon-spacing-inline-start-valid: var(--spectrum-field-text-to-validation-icon-extra-large);
			--spectrum-textfield-character-count-font-size: var(--spectrum-font-size-200);
			--spectrum-textfield-character-count-spacing-block: var(--spectrum-component-bottom-to-text-200);
			--spectrum-textfield-character-count-spacing-block-quiet: var(--spectrum-character-count-to-field-quiet-extra-large);
			--spectrum-textfield-character-count-spacing-block-side: var(--spectrum-side-label-character-count-top-margin-extra-large);

			/* Text Area / Multiline size extra large */
			--spectrum-text-area-min-block-size-quiet: var(--spectrum-component-height-300);
		}
	}
}
