/*!
 * Copyright 2025 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-Tabs {
	--spectrum-tabs-item-height: var(--mod-tabs-item-height, var(--spectrum-tab-item-height-medium));
	--spectrum-tabs-start-to-edge: var(--mod-tabs-start-to-edge, var(--spectrum-tab-item-start-to-edge-medium));
	--spectrum-tabs-top-to-text: var(--mod-tabs-top-to-text, var(--spectrum-tab-item-top-to-text-medium));
	--spectrum-tabs-bottom-to-text: var(--mod-tabs-bottom-to-text, var(--spectrum-tab-item-bottom-to-text-medium));
	--spectrum-tabs-label-to-selection-indicator: var(--mod-tabs-label-to-selection-indicator, var(--spectrum-spacing-200));
	--spectrum-tabs-item-horizontal-spacing: var(--mod-tabs-item-horizontal-spacing, var(--spectrum-tab-item-to-tab-item-horizontal-medium));

	--spectrum-tabs-icon-size: var(--mod-tabs-icon-size, var(--spectrum-workflow-icon-size-100));
	--spectrum-tabs-icon-to-text: var(--mod-tabs-icon-to-text, var(--spectrum-text-to-visual-100));
	--spectrum-tabs-top-to-icon: var(--mod-tabs-top-to-icon, var(--spectrum-tab-item-top-to-workflow-icon-medium));
	--spectrum-tabs-side-to-icon: var(--mod-tabs-side-to-icon, var(--spectrum-tab-item-side-to-workflow-icon-medium));

	--spectrum-tabs-item-border-radius: var(--mod-tabs-item-border-radius, var(--spectrum-corner-radius-0));

	--spectrum-tabs-color: var(--spectrum-neutral-subdued-content-color-default);
	--spectrum-tabs-color-hover: var(--spectrum-neutral-subdued-content-color-hover);
	--spectrum-tabs-color-key-focus: var(--spectrum-neutral-subdued-content-color-key-focus);
	--spectrum-tabs-color-selected: var(--spectrum-neutral-content-color-default);
	--spectrum-tabs-color-selected-hover: var(--spectrum-neutral-content-color-hover);
	--spectrum-tabs-color-selected-key-focus: var(--spectrum-neutral-content-color-key-focus);
	--spectrum-tabs-color-disabled: var(--spectrum-disabled-content-color);
	--spectrum-tabs-selection-indicator-color-disabled: var(--spectrum-disabled-border-color);

	--spectrum-tabs-font-weight: var(--mod-tabs-font-weight, var(--spectrum-regular-font-weight));
	--spectrum-tabs-font-family: var(--mod-tabs-font-family, var(--spectrum-sans-font-family-stack));
	--spectrum-tabs-font-style: var(--mod-tabs-font-style, var(--spectrum-default-font-style));
	--spectrum-tabs-font-size: var(--mod-tabs-font-size, var(--spectrum-font-size-100));
	--spectrum-tabs-line-height: var(--mod-tabs-line-height, var(--spectrum-line-height-100));

	--spectrum-tabs-focus-indicator-width: var(--mod-tabs-focus-indicator-width, var(--spectrum-focus-indicator-thickness));
	--spectrum-tabs-focus-indicator-border-radius: var(--mod-tabs-focus-indicator-border-radius, var(--spectrum-corner-radius-100)); /* component rounding + focus indicator thickness + focus indicator gap = 0 + 2px + 2px = 4px */
	--spectrum-tabs-focus-indicator-gap: var(--mod-tabs-focus-indicator-gap, var(--spectrum-focus-indicator-gap));
	--spectrum-tabs-focus-indicator-color: var(--spectrum-focus-indicator-color);

	--spectrum-tabs-selection-indicator-color: var(--spectrum-neutral-subdued-content-color-down);
	--spectrum-tabs-selection-indicator-thickness: var(--mod-tabs-selection-indicator-thickness, var(--spectrum-tab-selection-indicator-thickness));
	--spectrum-tabs-selection-indicator-border-radius: var(--mod-tabs-selection-indicator-border-radius, var(--spectrum-corner-radius-full));

	--spectrum-tabs-animation-duration: var(--mod-tabs-animation-duration, var(--spectrum-animation-duration-100));
	--spectrum-tabs-animation-ease: var(--mod-tabs-animation-ease, var(--spectrum-animation-ease-in-out));
}

.spectrum-Tabs.spectrum-Tabs--compact {
	--spectrum-tabs-item-height: var(--mod-tabs-item-height-compact, var(--spectrum-tab-item-compact-height-medium));
	--spectrum-tabs-top-to-text: var(--mod-tabs-top-to-text-compact, var(--spectrum-tab-item-top-to-text-compact-medium));
	--spectrum-tabs-bottom-to-text: var(--mod-tabs-bottom-to-text-compact, var(--spectrum-tab-item-bottom-to-text-compact-medium));
	--spectrum-tabs-label-to-selection-indicator: var(--mod-tabs-label-to-selection-indicator-compact, var(--spectrum-spacing-75));
	--spectrum-tabs-item-horizontal-spacing: var(--mod-tabs-item-horizontal-spacing-compact, var(--spectrum-tab-item-to-tab-item-compact-horizontal-medium));
	--spectrum-tabs-top-to-icon: var(--mod-tabs-top-to-icon-compact, var(--spectrum-tab-item-top-to-workflow-icon-compact-medium));
	--spectrum-tabs-side-to-icon: var(--mod-tabs-side-to-icon-compact, var(--spectrum-tab-item-side-to-workflow-icon-compact-medium));
}

/* @passthrough -- picker styling for overflow tabs */
.spectrum-Tabs .spectrum-Picker-button {
	--mod-picker-block-size: var(--spectrum-tabs-item-height);
}

.spectrum-Tabs {
	display: flex;
	gap: var(--spectrum-tabs-item-horizontal-spacing);

	/* Contain the selection indicator */
	position: relative;
	z-index: 0;

	margin: 0;
	padding-block: 0;

	/* Friends should align to the top of the tabs */
	vertical-align: top;
}

.spectrum-Tabs-item {
	/* Contain the focus ring */
	position: relative;
	box-sizing: border-box;

	block-size: var(--spectrum-tabs-item-height);

	/* Float above the tab line */
	z-index: 1;

	text-decoration: none;
	white-space: nowrap;

	color: var(--spectrum-tabs-color);

	transition: color var(--spectrum-tabs-animation-duration) ease-out;
	cursor: pointer;
	outline: none;
	border-radius: var(--spectrum-tabs-item-border-radius);

	.spectrum-Icon {
		/* Vertical centering */
		block-size: var(--spectrum-tabs-icon-size);
		inline-size: var(--spectrum-tabs-icon-size);
		margin-block-start: var(--spectrum-tabs-top-to-icon);
		margin-inline: var(--spectrum-tabs-side-to-icon);

		& + .spectrum-Tabs-itemLabel {
			margin-inline-start: calc(var(--spectrum-tabs-icon-to-text) - var(--spectrum-tabs-side-to-icon));
		}
	}

	&::before {
		content: "";
		position: absolute;
		box-sizing: border-box;

		block-size: calc(100% + var(--spectrum-tabs-focus-indicator-gap) * 2 + var(--spectrum-tabs-focus-indicator-width) * 2);
		inline-size: calc(100% + var(--spectrum-tabs-focus-indicator-gap) * 2 + var(--spectrum-tabs-focus-indicator-width) * 2);
		margin: calc(-1 * (var(--spectrum-tabs-focus-indicator-gap) + var(--spectrum-tabs-focus-indicator-width)));

		border: var(--spectrum-tabs-focus-indicator-width) solid transparent;
		border-radius: var(--spectrum-tabs-focus-indicator-border-radius);

		pointer-events: none;
	}

	&:hover {
		color: var(--spectrum-tabs-color-hover);
	}

	&.is-selected {
		color: var(--spectrum-tabs-color-selected);

		&:hover {
			color: var(--spectrum-tabs-color-selected-hover);
		}

		&:focus-visible {
			color: var(--spectrum-tabs-color-selected-key-focus);
		}

		&.is-disabled {
			color: var(--spectrum-tabs-color-disabled);
		}
	}

	&.is-disabled {
		cursor: default;
		color: var(--spectrum-tabs-color-disabled);

		.spectrum-Tabs-itemLabel {
			cursor: default;
		}

		.spectrum-Tabs-selectionIndicator {
			background-color: var(--spectrum-tabs-selection-indicator-color-disabled);
		}
	}

	&:focus-visible {
		color: var(--spectrum-tabs-color-key-focus);

		&::before {
			border-color: var(--spectrum-tabs-focus-indicator-color);
		}
	}
}

.spectrum-Tabs-itemLabel {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;

	font-family: var(--spectrum-tabs-font-family);
	font-style: var(--spectrum-tabs-font-style);
	font-size: var(--spectrum-tabs-font-size);
	font-weight: var(--spectrum-tabs-font-weight);
	line-height: var(--spectrum-tabs-line-height);
	margin-block-start: var(--spectrum-tabs-top-to-text);
	margin-block-end: var(--spectrum-tabs-bottom-to-text);

	/* support links */
	text-decoration: none;

	&:empty {
		/* Hide the tab label if it's not being used */
		display: none;
	}
}

.spectrum-Tabs-selectionIndicator {
	position: absolute;
	inset-inline-start: 0;
	background-color: var(--spectrum-tabs-selection-indicator-color);

	/* Be below the tab */
	z-index: 0;

	/* @todo: set transition: none for initial positioning */
	transition: transform var(--spectrum-tabs-animation-duration) var(--spectrum-tabs-animation-ease);
	transform-origin: top left;

	border-radius: var(--spectrum-tabs-selection-indicator-border-radius);
}

.spectrum-Tabs--horizontal {
	align-items: center;

	.spectrum-Tabs-item {
		vertical-align: top;
	}

	.spectrum-Tabs-selectionIndicator {
		position: absolute;
		inset-block-end: 0;
		inline-size: 100%;
		block-size: var(--spectrum-tabs-selection-indicator-thickness);
		margin-block-start: var(--spectrum-tabs-label-to-selection-indicator);
	}

	&.spectrum-Tabs--compact {
		/* The overflow ActionButton is taller than the tabs, so don't push tabs around */
		box-sizing: content-box;
		align-items: end;
	}
}

.spectrum-Tabs--vertical,
.spectrum-Tabs--vertical-right {
	display: inline-flex;
	flex-direction: column;
	padding: 0;

	.spectrum-Tabs-item {
		block-size: var(--spectrum-tabs-item-height);
		line-height: var(--spectrum-tabs-item-height);
		padding-block: 0;

		margin-inline-start: var(--spectrum-tabs-start-to-edge);
		margin-inline-end: var(--spectrum-tabs-start-to-edge);
	}

	.spectrum-Icon {
		line-height: var(--spectrum-tabs-item-height);
	}

	.spectrum-Tabs-selectionIndicator {
		position: absolute;
		inset-inline-start: calc(-1 * var(--spectrum-tabs-start-to-edge));
		inset-block-start: 0;
		inline-size: var(--spectrum-tabs-selection-indicator-thickness);
		block-size: 100%;
	}
}

.spectrum-Tabs--vertical-right {
	.spectrum-Tabs-selectionIndicator {
		inset-inline: auto calc(-1 * var(--spectrum-tabs-start-to-edge));
	}
}
