/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Tabs {
  border-block-end-color: var(--spectrum-tabs-textonly-divider-background-color);
}

.spectrum-Tabs--vertical {
  border-inline-start-color: var(--spectrum-tabs-vertical-textonly-divider-background-color);
}

.spectrum-Tabs-selectionIndicator {
  background-color: var(--spectrum-tabs-textonly-tabitem-selection-indicator-background-color-selected);
}

.spectrum-Tabs--emphasized {
  .spectrum-Tabs-selectionIndicator {
    background-color: var(--spectrum-tabs-emphasized-texticon-tabitem-selection-indicator-background-color-selected);
  }
}

.spectrum-Tabs-item {
  color: var(--spectrum-tabs-textonly-tabitem-text-color);

  .spectrum-Icon {
    color: var(--spectrum-tabs-textonly-tabitem-icon-color)
  }

  &:hover {
    color: var(--spectrum-tabs-textonly-tabitem-text-color-hover);

    .spectrum-Icon {
      color: var(--spectrum-tabs-textonly-tabitem-icon-color-hover)
    }
  }

  &.is-selected {
    color: var(--spectrum-tabs-textonly-tabitem-text-color-selected);

    .spectrum-Icon {
      color: var(--spectrum-tabs-textonly-tabitem-icon-color-selected);
    }
  }

  &:focus-ring {
    color: var(--spectrum-tabs-textonly-tabitem-text-color-selected-key-focus);

    &::before {
      border-color: var(--spectrum-tabs-textonly-tabitem-focus-ring-border-color-key-focus);
    }

    .spectrum-Icon {
      color: var(--spectrum-tabs-textonly-tabitem-icon-color-selected-key-focus)
    }
  }

  &.is-disabled {
    color: var(--spectrum-tabs-textonly-tabitem-text-color-disabled);

    .spectrum-Icon {
      color: var(--spectrum-tabs-textonly-tabitem-icon-color-disabled)
    }
  }
}

.spectrum-Tabs--emphasized {
  .spectrum-Tabs-item {
    &.is-selected {
      color: var(--spectrum-tabs-emphasized-texticon-tabitem-text-color-selected);
  
      .spectrum-Icon {
        color: var(--spectrum-tabs-emphasized-texticon-tabitem-icon-color-selected);
      }
    }
  }
}

.spectrum-Tabs--quiet {
  border-block-end-color: var(--spectrum-tabs-quiet-textonly-divider-background-color);

  .spectrum-Tabs-selectionIndicator {
    background-color: var(--spectrum-tabs-quiet-textonly-tabitem-selection-indicator-background-color-selected);
  }

  &.spectrum-Tabs--emphasized {
    .spectrum-Tabs-selectionIndicator {
      background-color: var(--spectrum-tabs-emphasized-texticon-tabitem-selection-indicator-background-color-selected);
    }
  }
}

.spectrum-Tabs--vertical {
  &.spectrum-Tabs--quiet,
  &.spectrum-Tabs--compact {
    border-inline-start-color: var(--spectrum-tabs-vertical-quiet-textonly-divider-background-color);

    .spectrum-Tabs-selectionIndicator {
      background-color: var(--spectrum-tabs-vertical-textonly-tabitem-selection-indicator-background-color-selected);
    }
  }

  &.spectrum-Tabs--emphasized {
    border-inline-start-color: var(--spectrum-tabs-emphasized-textonly-divider-background-color);
    .spectrum-Tabs-selectionIndicator {
      background-color: var(--spectrum-tabs-emphasized-texticon-tabitem-selection-indicator-background-color-selected);
    }
  }
}

@media (forced-colors: active) {
  .spectrum-Tabs {
    --spectrum-tabs-emphasized-texticon-tabitem-icon-color-selected: HighlightText;
    --spectrum-tabs-emphasized-texticon-tabitem-selection-indicator-background-color-selected: Highlight;
    --spectrum-tabs-emphasized-texticon-tabitem-text-color-selected: HighlightText;
    --spectrum-tabs-emphasized-textonly-divider-background-color: transparent;
    --spectrum-tabs-emphasized-textonly-tabitem-icon-color-selected: HighlightText;
    --spectrum-tabs-quiet-textonly-divider-background-color: transparent;
    --spectrum-tabs-quiet-textonly-tabitem-selection-indicator-background-color-selected: Highlight;
    --spectrum-tabs-quiet-textonly-tabitem-selection-indicator-background-color: transparent;
    --spectrum-tabs-textonly-divider-background-color: transparent;
    --spectrum-tabs-textonly-tabitem-focus-ring-border-color-key-focus: ButtonText;
    --spectrum-tabs-textonly-tabitem-icon-color-disabled: GrayText;
    --spectrum-tabs-textonly-tabitem-icon-color-hover: ButtonText;
    --spectrum-tabs-textonly-tabitem-icon-color-selected-key-focus: ButtonText;
    --spectrum-tabs-textonly-tabitem-icon-color-selected: HighlightText;
    --spectrum-tabs-textonly-tabitem-selection-indicator-background-color-selected: Highlight;
    --spectrum-tabs-textonly-tabitem-text-color-disabled: GrayText;
    --spectrum-tabs-textonly-tabitem-text-color-hover: ButtonText;
    --spectrum-tabs-textonly-tabitem-text-color-selected-key-focus: ButtonText;
    --spectrum-tabs-textonly-tabitem-text-color-selected: HighlightText;
    --spectrum-tabs-textonly-tabitem-text-color: ButtonText;
    --spectrum-tabs-vertical-quiet-textonly-divider-background-color: transparent;
    --spectrum-tabs-vertical-rule-color: transparent;
    --spectrum-tabs-vertical-textonly-divider-background-color: transparent;
    --spectrum-tabs-vertical-textonly-tabitem-selection-indicator-background-color-selected: Highlight;
    forced-color-adjust: none;

    .spectrum-Tabs-item {
      &:before {
        background-color: ButtonFace;
      }

      .spectrum-Icon {
        z-index: 1;
        position: relative;
      }

      .spectrum-Tabs-itemLabel {
        position: relative;
        z-index: 1;
      }
    }

    .is-selected {
      color: HighlightText;

      .spectrum-Icon {
        color: HighlightText;
      }

      &:before {
        background-color: Highlight;
        color: HighlightText;
      }

      .spectrum-Tabs-itemLabel {
        color: HighlightText;
      }
    }

    &.spectrum-Tabs--emphasized {
      .spectrum-Tabs-item {
        &:before {
          background-color: ButtonFace;
        }

        .spectrum-Icon {
          z-index: 1;
          position: relative;
        }

        .spectrum-Tabs-itemLabel {
          position: relative;
          z-index: 1;
        }
      }

      .is-selected {
        color: HighlightText;

        .spectrum-Icon {
          color: HighlightText;
        }

        &:before {
          background-color: Highlight;
          color: HighlightText;
        }

        .spectrum-Tabs-itemLabel {
          color: HighlightText;
        }
      }
    }
  }
}
