/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum--legacy {
	--system-alert-banner-alert-banner-netural-background: var(--spectrum-neutral-subdued-background-color-default);
	--system-alert-banner-alert-banner-min-height: var(--spectrum-alert-banner-minimum-height);
	--system-alert-banner-alert-banner-max-inline-size: var(--spectrum-alert-banner-width);
	--system-alert-banner-alert-banner-size: auto;
	--system-alert-banner-alert-banner-font-size: var(--spectrum-font-size-100);
	--system-alert-banner-alert-banner-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-alert-banner-alert-banner-icon-to-text: var(--spectrum-text-to-visual-300);
	--system-alert-banner-alert-banner-start-edge: var(--spectrum-spacing-300);
	--system-alert-banner-alert-banner-text-to-button-horizontal: var(--spectrum-spacing-300);
	--system-alert-banner-alert-banner-text-to-divider: var(--spectrum-spacing-300);
	--system-alert-banner-alert-banner-top-icon: var(--spectrum-alert-banner-top-to-workflow-icon);
	--system-alert-banner-alert-banner-top-text: var(--spectrum-alert-banner-top-to-text);
	--system-alert-banner-alert-banner-bottom-text: var(--spectrum-alert-banner-bottom-to-text);
	--system-alert-banner-alert-banner-informative-background: var(--spectrum-informative-background-color-default);
	--system-alert-banner-alert-banner-negative-background: var(--spectrum-negative-background-color-default);
	--system-alert-banner-alert-banner-font-color: var(--spectrum-white);
}

.spectrum--express {
	--system-alert-banner-alert-banner-netural-background: var(--spectrum-neutral-background-color-default);
}
