/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum--express {
	--system-avatar-color-opacity: 1;
	--system-avatar-inline-size: var(--spectrum-avatar-size-100);
	--system-avatar-block-size: var(--spectrum-avatar-size-100);
	--system-avatar-border-radius: var(--system-avatar-block-size);
	--system-avatar-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
	--system-avatar-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
	--system-avatar-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--system-avatar-color-opacity-disabled: var(--spectrum-avatar-opacity-disabled);
	--system-avatar-size-50-inline-size: var(--spectrum-avatar-size-50);
	--system-avatar-size-50-block-size: var(--spectrum-avatar-size-50);
	--system-avatar-size-75-inline-size: var(--spectrum-avatar-size-75);
	--system-avatar-size-75-block-size: var(--spectrum-avatar-size-75);
	--system-avatar-size-100-inline-size: var(--spectrum-avatar-size-100);
	--system-avatar-size-100-block-size: var(--spectrum-avatar-size-100);
	--system-avatar-size-200-inline-size: var(--spectrum-avatar-size-200);
	--system-avatar-size-200-block-size: var(--spectrum-avatar-size-200);
	--system-avatar-size-300-inline-size: var(--spectrum-avatar-size-300);
	--system-avatar-size-300-block-size: var(--spectrum-avatar-size-300);
	--system-avatar-size-400-inline-size: var(--spectrum-avatar-size-400);
	--system-avatar-size-400-block-size: var(--spectrum-avatar-size-400);
	--system-avatar-size-500-inline-size: var(--spectrum-avatar-size-500);
	--system-avatar-size-500-block-size: var(--spectrum-avatar-size-500);
	--system-avatar-size-600-inline-size: var(--spectrum-avatar-size-600);
	--system-avatar-size-600-block-size: var(--spectrum-avatar-size-600);
	--system-avatar-size-700-inline-size: var(--spectrum-avatar-size-700);
	--system-avatar-size-700-block-size: var(--spectrum-avatar-size-700);
}
