/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum--legacy {
	--system-combobox-combobox-border-color-default: var(--spectrum-gray-500);
	--system-combobox-combobox-border-color-hover: var(--spectrum-gray-600);
	--system-combobox-combobox-border-color-focus: var(--spectrum-gray-500);
	--system-combobox-combobox-border-color-focus-hover: var(--spectrum-gray-600);
	--system-combobox-combobox-border-color-key-focus: var(--spectrum-gray-600);
	--system-combobox-combobox-inline-size: var(--spectrum-field-width);
	--system-combobox-combobox-block-size: var(--spectrum-component-height-100);
	--system-combobox-combobox-min-inline-size: calc(var(--spectrum-combo-box-minimum-width-multiplier) * var(--spectrum-combobox-block-size));
	--system-combobox-combobox-button-width: var(--spectrum-combobox-block-size);
	--system-combobox-combobox-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-combobox-combobox-font-size: var(--spectrum-font-size-100);
	--system-combobox-combobox-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-medium);
	--system-combobox-combobox-block-spacing-edge-to-progress-circle: var(--spectrum-field-top-to-progress-circle-medium);
	--system-combobox-combobox-block-spacing-edge-to-alert: var(--spectrum-field-top-to-alert-icon-medium);
	--system-combobox-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-medium);
	--system-combobox-combobox-spacing-block-start-edge-to-text: var(--spectrum-component-top-to-text-100);
	--system-combobox-combobox-spacing-block-end-edge-to-text: var(--spectrum-component-bottom-to-text-100);
	--system-combobox-combobox-spacing-inline-start-edge-to-text: var(--spectrum-component-edge-to-text-100);
	--system-combobox-combobox-spacing-inline-end-edge-to-text: var(--spectrum-component-edge-to-text-100);
	--system-combobox-combobox-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
	--system-combobox-combobox-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
	--system-combobox-combobox-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--system-combobox-combobox-border-radius: var(--spectrum-corner-radius-100);
	--system-combobox-combobox-border-width: var(--spectrum-border-width-100);
	--system-combobox-combobox-spacing-label-to-combobox: var(--spectrum-field-label-to-component);
	--system-combobox-combobox-font-style: var(--spectrum-default-font-style);
	--system-combobox-combobox-line-height: var(--spectrum-line-height-100);
	--system-combobox-combobox-border-color-invalid-default: var(--spectrum-negative-border-color-default);
	--system-combobox-combobox-border-color-invalid-hover: var(--spectrum-negative-border-color-hover);
	--system-combobox-combobox-border-color-invalid-focus: var(--spectrum-negative-border-color-focus);
	--system-combobox-combobox-border-color-invalid-focus-hover: var(--spectrum-negative-border-color-focus-hover);
	--system-combobox-combobox-border-color-invalid-key-focus: var(--spectrum-negative-border-color-key-focus);
	--system-combobox-textfield-focus-indicator-gap: var(--mod-combobox-focus-indicator-gap, var(--system-combobox-combobox-focus-indicator-gap));
	--system-combobox-textfield-focus-indicator-width: var(--mod-combobox-focus-indicator-thickness, var(--system-combobox-combobox-focus-indicator-thickness));
	--system-combobox-textfield-focus-indicator-color: var(--mod-combobox-focus-indicator-color, var(--system-combobox-combobox-focus-indicator-color));
	--system-combobox-textfield-background-color: var(--mod-combobox-background-color-default);
	--system-combobox-textfield-background-color-disabled: var(--mod-combobox-background-color-disabled);
	--system-combobox-textfield-font-family: var(--mod-combobox-font-family);
	--system-combobox-textfield-font-weight: var(--mod-combobox-font-weight);
	--system-combobox-textfield-text-color-default: var(--mod-combobox-font-color-default);
	--system-combobox-textfield-text-color-hover: var(--mod-combobox-font-color-hover);
	--system-combobox-textfield-text-color-focus: var(--mod-combobox-font-color-focus);
	--system-combobox-textfield-text-color-focus-hover: var(--mod-combobox-font-color-focus-hover);
	--system-combobox-textfield-text-color-keyboard-focus: var(--mod-combobox-font-color-key-focus);
	--system-combobox-textfield-text-color-disabled: var(--mod-combobox-font-color-disabled);
	--system-combobox-textfield-border-width: var(--mod-combobox-border-width, var(--system-combobox-combobox-border-width));
	--system-combobox-textfield-border-color: var(--mod-combobox-border-color-default, var(--system-combobox-combobox-border-color-default));
	--system-combobox-textfield-border-color-disabled: var(--mod-combobox-border-color-disabled);
	--system-combobox-textfield-border-color-focus: var(--mod-combobox-border-color-focus, var(--system-combobox-combobox-border-color-focus));
	--system-combobox-textfield-border-color-focus-hover: var(--mod-combobox-border-color-focus-hover, var(--system-combobox-combobox-border-color-focus-hover));
	--system-combobox-textfield-border-color-hover: var(--mod-combobox-border-color-hover, var(--system-combobox-combobox-border-color-hover));
	--system-combobox-textfield-border-color-keyboard-focus: var(--mod-combobox-border-color-key-focus, var(--system-combobox-combobox-border-color-key-focus));
	--system-combobox-textfield-border-color-invalid-default: var(--mod-combobox-border-color-invalid-default, var(--system-combobox-combobox-border-color-invalid-default));
	--system-combobox-textfield-border-color-invalid-hover: var(--mod-combobox-border-color-invalid-hover, var(--system-combobox-combobox-border-color-invalid-hover));
	--system-combobox-textfield-border-color-invalid-focus: var(--mod-combobox-border-color-invalid-focus, var(--system-combobox-combobox-border-color-invalid-focus));
	--system-combobox-textfield-border-color-invalid-focus-hover: var(--mod-combobox-border-color-invalid-focus-hover, var(--system-combobox-combobox-border-color-invalid-focus-hover));
	--system-combobox-textfield-border-color-invalid-keyboard-focus: var(--mod-combobox-border-color-invalid-key-focus, var(--system-combobox-combobox-border-color-invalid-key-focus));
	--system-combobox-textfield-icon-color-invalid: var(--mod-combobox-alert-icon-color);
	--system-combobox-picker-button-border-width: var(--mod-combobox-border-width, var(--system-combobox-combobox-border-width));
	--system-combobox-picker-button-border-color: var(--mod-combobox-border-color-default, var(--system-combobox-combobox-border-color-default));
	--system-combobox-picker-button-background-color: var(--mod-combobox-background-color-default);
	--system-combobox-picker-button-background-color-disabled: var(--mod-combobox-background-color-disabled);
	--system-combobox-picker-button-font-color-disabled: var(--mod-combobox-font-color-disabled);
	--system-combobox-size-s-combobox-block-size: var(--spectrum-component-height-75);
	--system-combobox-size-s-combobox-icon-size: var(--spectrum-workflow-icon-size-75);
	--system-combobox-size-s-combobox-font-size: var(--spectrum-font-size-75);
	--system-combobox-size-s-combobox-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-small);
	--system-combobox-size-s-combobox-block-spacing-edge-to-progress-circle: var(--spectrum-field-top-to-progress-circle-small);
	--system-combobox-size-s-combobox-block-spacing-edge-to-alert: var(--spectrum-field-top-to-alert-icon-small);
	--system-combobox-size-s-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-small);
	--system-combobox-size-s-combobox-spacing-block-start-edge-to-text: var(--spectrum-component-top-to-text-75);
	--system-combobox-size-s-combobox-spacing-block-end-edge-to-text: var(--spectrum-component-bottom-to-text-75);
	--system-combobox-size-s-combobox-spacing-inline-start-edge-to-text: var(--spectrum-component-edge-to-text-75);
	--system-combobox-size-s-combobox-spacing-inline-end-edge-to-text: var(--spectrum-component-edge-to-text-75);
	--system-combobox-size-m-combobox-block-size: var(--spectrum-component-height-100);
	--system-combobox-size-m-combobox-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-combobox-size-m-combobox-font-size: var(--spectrum-font-size-100);
	--system-combobox-size-m-combobox-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-medium);
	--system-combobox-size-m-combobox-block-spacing-edge-to-progress-circle: var(--spectrum-field-top-to-progress-circle-medium);
	--system-combobox-size-m-combobox-block-spacing-edge-to-alert: var(--spectrum-field-top-to-alert-icon-medium);
	--system-combobox-size-m-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-medium);
	--system-combobox-size-m-combobox-spacing-block-start-edge-to-text: var(--spectrum-component-top-to-text-100);
	--system-combobox-size-m-combobox-spacing-block-end-edge-to-text: var(--spectrum-component-bottom-to-text-100);
	--system-combobox-size-m-combobox-spacing-inline-start-edge-to-text: var(--spectrum-component-edge-to-text-100);
	--system-combobox-size-m-combobox-spacing-inline-end-edge-to-text: var(--spectrum-component-edge-to-text-100);
	--system-combobox-size-l-combobox-block-size: var(--spectrum-component-height-200);
	--system-combobox-size-l-combobox-icon-size: var(--spectrum-workflow-icon-size-200);
	--system-combobox-size-l-combobox-font-size: var(--spectrum-font-size-200);
	--system-combobox-size-l-combobox-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-large);
	--system-combobox-size-l-combobox-block-spacing-edge-to-progress-circle: var(--spectrum-field-top-to-progress-circle-large);
	--system-combobox-size-l-combobox-block-spacing-edge-to-alert: var(--spectrum-field-top-to-alert-icon-large);
	--system-combobox-size-l-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-large);
	--system-combobox-size-l-combobox-spacing-block-start-edge-to-text: var(--spectrum-component-top-to-text-200);
	--system-combobox-size-l-combobox-spacing-block-end-edge-to-text: var(--spectrum-component-bottom-to-text-200);
	--system-combobox-size-l-combobox-spacing-inline-start-edge-to-text: var(--spectrum-component-edge-to-text-200);
	--system-combobox-size-l-combobox-spacing-inline-end-edge-to-text: var(--spectrum-component-edge-to-text-200);
	--system-combobox-size-xl-combobox-block-size: var(--spectrum-component-height-300);
	--system-combobox-size-xl-combobox-icon-size: var(--spectrum-workflow-icon-size-300);
	--system-combobox-size-xl-combobox-font-size: var(--spectrum-font-size-300);
	--system-combobox-size-xl-combobox-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-extra-large);
	--system-combobox-size-xl-combobox-block-spacing-edge-to-progress-circle: var(--spectrum-field-top-to-progress-circle-extra-large);
	--system-combobox-size-xl-combobox-block-spacing-edge-to-alert: var(--spectrum-field-top-to-alert-icon-extra-large);
	--system-combobox-size-xl-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-extra-large);
	--system-combobox-size-xl-combobox-spacing-block-start-edge-to-text: var(--spectrum-component-top-to-text-300);
	--system-combobox-size-xl-combobox-spacing-block-end-edge-to-text: var(--spectrum-component-bottom-to-text-300);
	--system-combobox-size-xl-combobox-spacing-inline-start-edge-to-text: var(--spectrum-component-edge-to-text-300);
	--system-combobox-size-xl-combobox-spacing-inline-end-edge-to-text: var(--spectrum-component-edge-to-text-300);
	--system-combobox-quiet-combobox-min-inline-size: calc(var(--spectrum-combo-box-quiet-minimum-width-multiplier) * var(--spectrum-combobox-block-size));
	--system-combobox-quiet-combobox-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-quiet);
	--system-combobox-quiet-combobox-spacing-inline-start-edge-to-text: var(--spectrum-field-edge-to-text-quiet);
	--system-combobox-quiet-combobox-spacing-label-to-combobox: var(--spectrum-field-label-to-component-quiet-medium);
	--system-combobox-quiet-combobox-button-inline-offset: calc(var(--mod-combobox-block-size, var(--spectrum-combobox-block-size)) / 2 - var(--mod-combobox-icon-size, var(--spectrum-combobox-icon-size)) / 2);
	--system-combobox-quiet-picker-button-background-color-quiet: transparent;
	--system-combobox-quiet-picker-button-border-color-quiet: transparent;
	--system-combobox-quiet-combobox-size-s-combobox-spacing-label-to-combobox: var(--spectrum-field-label-to-component-quiet-small);
	--system-combobox-quiet-combobox-size-m-combobox-spacing-label-to-combobox: var(--spectrum-field-label-to-component-quiet-medium);
	--system-combobox-quiet-combobox-size-l-combobox-spacing-label-to-combobox: var(--spectrum-field-label-to-component-quiet-large);
	--system-combobox-quiet-combobox-size-xl-combobox-spacing-label-to-combobox: var(--spectrum-field-label-to-component-quiet-extra-large);
}

.spectrum--express {
	--system-combobox-combobox-border-color-default: var(--spectrum-gray-400);
	--system-combobox-combobox-border-color-hover: var(--spectrum-gray-500);
	--system-combobox-combobox-border-color-focus: var(--spectrum-gray-900);
	--system-combobox-combobox-border-color-focus-hover: var(--spectrum-gray-800);
	--system-combobox-combobox-border-color-key-focus: var(--spectrum-gray-900);
}
