/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-express {
	--system-spectrum-helptext--line-height: var(--spectrum-line-height-100);
	--system-spectrum-helptext--content-color-default: var(--spectrum-neutral-subdued-content-color-default);
	--system-spectrum-helptext--icon-color-default: var(--spectrum-neutral-subdued-content-color-default);
	--system-spectrum-helptext--disabled-content-color: var(--spectrum-disabled-content-color);
	--system-spectrum-helptext--neutral--content-color-default: var(--spectrum-neutral-subdued-content-color-default);
	--system-spectrum-helptext--neutral--icon-color-default: var(--spectrum-neutral-subdued-content-color-default);
	--system-spectrum-helptext--negative--content-color-default: var(--spectrum-negative-color-900);
	--system-spectrum-helptext--negative--icon-color-default: var(--spectrum-negative-color-900);
	--system-spectrum-helptext--disabled--content-color-default: var(--spectrum-helptext-disabled-content-color);
	--system-spectrum-helptext--disabled--icon-color-default: var(--spectrum-helptext-disabled-content-color);
	--system-spectrum-helptext: lang(ja); --help-text-lang-ja--helptext-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-spectrum-helptext: lang(zh); --help-text-lang-zh--helptext-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-spectrum-helptext: lang(ko); --help-text-lang-ko--helptext-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-spectrum-helptext--size-s--min-height: var(--spectrum-component-height-75);
	--system-spectrum-helptext--size-s--icon-size: var(--spectrum-workflow-icon-size-75);
	--system-spectrum-helptext--size-s--font-size: var(--spectrum-font-size-75);
	--system-spectrum-helptext--size-s--text-to-visual: var(--spectrum-text-to-visual-75);
	--system-spectrum-helptext--size-s--top-to-workflow-icon: var(--spectrum-help-text-top-to-workflow-icon-small);
	--system-spectrum-helptext--size-s--bottom-to-workflow-icon: var(--spectrum-helptext-top-to-workflow-icon);
	--system-spectrum-helptext--size-s--top-to-text: var(--spectrum-component-top-to-text-75);
	--system-spectrum-helptext--size-s--bottom-to-text: var(--spectrum-component-bottom-to-text-75);
	--system-spectrum-helptext--size-m--min-height: var(--spectrum-component-height-75);
	--system-spectrum-helptext--size-m--icon-size: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-helptext--size-m--font-size: var(--spectrum-font-size-75);
	--system-spectrum-helptext--size-m--text-to-visual: var(--spectrum-text-to-visual-75);
	--system-spectrum-helptext--size-m--top-to-workflow-icon: var(--spectrum-help-text-top-to-workflow-icon-medium);
	--system-spectrum-helptext--size-m--bottom-to-workflow-icon: var(--spectrum-helptext-top-to-workflow-icon);
	--system-spectrum-helptext--size-m--top-to-text: var(--spectrum-component-top-to-text-75);
	--system-spectrum-helptext--size-m--bottom-to-text: var(--spectrum-component-bottom-to-text-75);
	--system-spectrum-helptext--size-l--min-height: var(--spectrum-component-height-100);
	--system-spectrum-helptext--size-l--icon-size: var(--spectrum-workflow-icon-size-200);
	--system-spectrum-helptext--size-l--font-size: var(--spectrum-font-size-100);
	--system-spectrum-helptext--size-l--text-to-visual: var(--spectrum-text-to-visual-100);
	--system-spectrum-helptext--size-l--top-to-workflow-icon: var(--spectrum-help-text-top-to-workflow-icon-large);
	--system-spectrum-helptext--size-l--bottom-to-workflow-icon: var(--spectrum-helptext-top-to-workflow-icon);
	--system-spectrum-helptext--size-l--top-to-text: var(--spectrum-component-top-to-text-100);
	--system-spectrum-helptext--size-l--bottom-to-text: var(--spectrum-component-bottom-to-text-100);
	--system-spectrum-helptext--size-xl--min-height: var(--spectrum-component-height-200);
	--system-spectrum-helptext--size-xl--icon-size: var(--spectrum-workflow-icon-size-300);
	--system-spectrum-helptext--size-xl--font-size: var(--spectrum-font-size-200);
	--system-spectrum-helptext--size-xl--text-to-visual: var(--spectrum-text-to-visual-200);
	--system-spectrum-helptext--size-xl--top-to-workflow-icon: var(--spectrum-help-text-top-to-workflow-icon-extra-large);
	--system-spectrum-helptext--size-xl--bottom-to-workflow-icon: var(--spectrum-helptext-top-to-workflow-icon);
	--system-spectrum-helptext--size-xl--top-to-text: var(--spectrum-component-top-to-text-200);
	--system-spectrum-helptext--size-xl--bottom-to-text: var(--spectrum-component-bottom-to-text-200);
}
