/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-express {
	--system-spectrum-pickerbutton-spectrum-picker-button-background-color: var(--spectrum-gray-200);
	--system-spectrum-pickerbutton-spectrum-picker-button-background-color-hover: var(--spectrum-gray-300);
	--system-spectrum-pickerbutton-spectrum-picker-button-background-color-down: var(--spectrum-gray-400);
	--system-spectrum-pickerbutton-spectrum-picker-button-background-color-key-focus: var(--spectrum-gray-300);
	--system-spectrum-pickerbutton-spectrum-picker-button-border-color: none;
	--system-spectrum-pickerbutton-spectrum-picker-button-border-radius: var(--spectrum-corner-radius-75);
	--system-spectrum-pickerbutton-spectrum-picker-button-border-radius-rounded-sided: var(--spectrum-corner-radius-200);
	--system-spectrum-pickerbutton-spectrum-picker-button-border-radius-sided: var(--spectrum-corner-radius-75);
	--system-spectrum-pickerbutton-spectrum-picker-button-border-width: 0px;
	--system-spectrum-pickerbutton-spectrum-picker-button-height: var(--spectrum-component-height-100);
	--system-spectrum-pickerbutton-spectrum-picker-button-width: var(--spectrum-component-height-100);
	--system-spectrum-pickerbutton-spectrum-picker-button-gap: var(--spectrum-text-to-visual-50);
	--system-spectrum-pickerbutton-spectrum-picker-button-padding: var(--spectrum-in-field-button-edge-to-fill);
	--system-spectrum-pickerbutton-spectrum-picker-button-label-padding: var(--spectrum-text-to-visual-50);
	--system-spectrum-pickerbutton-spectrum-picker-button-fill-padding: var(--spectrum-field-edge-to-disclosure-icon-100);
	--system-spectrum-pickerbutton-spectrum-picker-button-border-radius-rounded: var(--spectrum-corner-radius-200);
	--system-spectrum-pickerbutton-spectrum-picker-button-icon-color: var(--spectrum-neutral-content-color-default);
	--system-spectrum-pickerbutton-spectrum-picker-button-icon-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-spectrum-pickerbutton-spectrum-picker-button-icon-color-down: var(--spectrum-neutral-content-color-down);
	--system-spectrum-pickerbutton-spectrum-picker-button-icon-color-key-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-spectrum-pickerbutton-spectrum-picker-button-font-color: var(--spectrum-neutral-content-color-default);
	--system-spectrum-pickerbutton-spectrum-picker-button-font-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-spectrum-pickerbutton-spectrum-picker-button-font-color-down: var(--spectrum-neutral-content-color-down);
	--system-spectrum-pickerbutton-spectrum-picker-button-font-color-key-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-spectrum-pickerbutton-spectrum-picker-button-font-family: var(--spectrum-sans-font-family-stack);
	--system-spectrum-pickerbutton-spectrum-picker-button-font-style: var(--spectrum-default-font-style);
	--system-spectrum-pickerbutton-spectrum-picker-button-font-weight: var(--spectrum-body-sans-serif-font-weight);
	--system-spectrum-pickerbutton-spectrum-picker-button-font-size: var(--spectrum-font-size-100);
	--system-spectrum-pickerbutton-spectrum-picker-button-background-animation-duration: var(--spectrum-animation-duration-100);
	--system-spectrum-pickerbutton: disabled-mod-picker-button-background-color: var(--mod-picker-button-background-color-disabled, var(--spectrum-disabled-background-color));
	--system-spectrum-pickerbutton: disabled-mod-picker-button-background-color-hover: var(--mod-picker-button-background-color-hover-disabled, var(--spectrum-disabled-background-color));
	--system-spectrum-pickerbutton: disabled-mod-picker-button-background-color-down: var(--mod-picker-button-background-color-down-disabled, var(--spectrum-disabled-background-color));
	--system-spectrum-pickerbutton: disabled-mod-picker-button-border-color: var(--mod-picker-button-border-color-disabled, var(--spectrum-disabled-background-color));
	--system-spectrum-pickerbutton: disabled-mod-picker-button-font-color: var(--mod-picker-button-font-color-disabled, var(--spectrum-disabled-content-color));
	--system-spectrum-pickerbutton: disabled-mod-picker-button-font-color-hover: var(--mod-picker-button-font-color-hover-disabled, var(--spectrum-disabled-content-color));
	--system-spectrum-pickerbutton: disabled-mod-picker-button-font-color-down: var(--mod-picker-button-font-color-down-disabled, var(--spectrum-disabled-content-color));
	--system-spectrum-pickerbutton: disabled-mod-picker-button-icon-color: var(--mod-picker-button-icon-color-disabled, var(--spectrum-disabled-content-color));
	--system-spectrum-pickerbutton: disabled-mod-picker-button-icon-color-hover: var(--mod-picker-button-icon-color-hover-disabled, var(--spectrum-disabled-content-color));
	--system-spectrum-pickerbutton: disabled-mod-picker-button-icon-color-down: var(--mod-picker-button-icon-color-down-disabled, var(--spectrum-disabled-content-color));
	--system-spectrum-pickerbutton-quiet-mod-picker-button-background-color: var(--mod-picker-button-background-color-quiet, transparent);
	--system-spectrum-pickerbutton-quiet-mod-picker-button-background-color-hover: var(--mod-picker-button-background-color-hover-quiet, transparent);
	--system-spectrum-pickerbutton-quiet-mod-picker-button-background-color-down: var(--mod-picker-button-background-color-down-quiet, transparent);
	--system-spectrum-pickerbutton-quiet-mod-picker-button-background-color-key-focus: var(--mod-picker-button-background-color-key-focus-quiet, transparent);
	--system-spectrum-pickerbutton-quiet-mod-picker-button-border-color: var(--mod-picker-button-border-color-quiet, transparent);
	--system-spectrum-pickerbutton-sizes-spectrum-picker-button-height: var(--spectrum-component-height-75);
	--system-spectrum-pickerbutton-sizes-spectrum-picker-button-width: var(--spectrum-component-height-75);
	--system-spectrum-pickerbutton-sizes-spectrum-picker-button-label-padding: var(--spectrum-spacing-75);
	--system-spectrum-pickerbutton-sizes-spectrum-picker-button-font-size: var(--spectrum-font-size-75);
	--system-spectrum-pickerbutton-sizes-spectrum-picker-button-fill-padding: var(--spectrum-field-edge-to-disclosure-icon-75);
	--system-spectrum-pickerbutton-sizel-spectrum-picker-button-height: var(--spectrum-component-height-200);
	--system-spectrum-pickerbutton-sizel-spectrum-picker-button-width: var(--spectrum-component-height-200);
	--system-spectrum-pickerbutton-sizel-spectrum-picker-button-label-padding: var(--spectrum-text-to-visual-200);
	--system-spectrum-pickerbutton-sizel-spectrum-picker-button-font-size: var(--spectrum-font-size-200);
	--system-spectrum-pickerbutton-sizel-spectrum-picker-button-fill-padding: var(--spectrum-field-edge-to-disclosure-icon-200);
	--system-spectrum-pickerbutton-sizexl-spectrum-picker-button-height: var(--spectrum-component-height-300);
	--system-spectrum-pickerbutton-sizexl-spectrum-picker-button-width: var(--spectrum-component-height-300);
	--system-spectrum-pickerbutton-sizexl-spectrum-picker-button-label-padding: var(--spectrum-text-to-visual-300);
	--system-spectrum-pickerbutton-sizexl-spectrum-picker-button-font-size: var(--spectrum-font-size-300);
	--system-spectrum-pickerbutton-sizexl-spectrum-picker-button-fill-padding: var(--spectrum-field-edge-to-disclosure-icon-300);
}
