/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-express {
	--system-spectrum-progressbar-animation-ease-in-out-indeterminate: var(--spectrum-animation-ease-in-out);
	--system-spectrum-progressbar-animation-duration-indeterminate: var(--spectrum-animation-duration-2000);
	--system-spectrum-progressbar-corner-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-progressbar-fill-size-indeterminate: 70%;
	--system-spectrum-progressbar-size-2400: 192px;
	--system-spectrum-progressbar-size-2500: 200px;
	--system-spectrum-progressbar-size-2800: 224px;
	--system-spectrum-progressbar-font-size: var(--spectrum-font-size-75);
	--system-spectrum-progressbar-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-spectrum-progressbar-min-size: var(--spectrum-progress-bar-minimum-width);
	--system-spectrum-progressbar-max-size: var(--spectrum-progress-bar-maximum-width);
	--system-spectrum-progressbar-thickness: var(--spectrum-progress-bar-thickness-medium);
	--system-spectrum-progressbar-line-height: var(--spectrum-line-height-100);
	--system-spectrum-progressbar-spacing-label-to-progressbar: var(--spectrum-spacing-75);
	--system-spectrum-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-100);
	--system-spectrum-progressbar-spacing-label-to-text: var(--spectrum-spacing-200);
	--system-spectrum-progressbar-text-color: var(--spectrum-neutral-content-color-default);
	--system-spectrum-progressbar-track-color: var(--spectrum-gray-200);
	--system-spectrum-progressbar-fill-color: var(--spectrum-accent-color-900);
	--system-spectrum-progressbar-fill-color-positive: var(--spectrum-positive-visual-color);
	--system-spectrum-progressbar-fill-color-notice: var(--spectrum-notice-visual-color);
	--system-spectrum-progressbar-fill-color-negative: var(--spectrum-negative-visual-color);
	--system-spectrum-progressbar-label-and-value-white: var(--spectrum-white);
	--system-spectrum-progressbar-track-color-white: var(--spectrum-transparent-white-300);
	--system-spectrum-progressbar-fill-color-white: var(--spectrum-white);
	--system-spectrum-progressbar-meter-min-width: var(--spectrum-meter-minimum-width);
	--system-spectrum-progressbar-meter-max-width: var(--spectrum-meter-maximum-width);
	--system-spectrum-progressbar-meter-inline-size: var(--spectrum-meter-default-width);
	--system-spectrum-progressbar-meter-thickness-s: var(--spectrum-meter-thickness-small);
	--system-spectrum-progressbar-meter-thickness-l: var(--spectrum-meter-thickness-large);
	--system-spectrum-progressbar-meter-top-to-text: var(--spectrum-component-top-to-text);
	--system-spectrum-progressbar-size-s-size-default: var(--spectrum-progressbar-size-2400);
	--system-spectrum-meter-size-s-progressbar-size-default: var(--spectrum-progressbar-size-2400);
	--system-spectrum-progressbar-size-s-font-size: var(--spectrum-font-size-75);
	--system-spectrum-meter-size-s-progressbar-font-size: var(--spectrum-font-size-75);
	--system-spectrum-progressbar-size-s-thickness: var(--spectrum-progress-bar-thickness-small);
	--system-spectrum-meter-size-s-progressbar-thickness: var(--spectrum-progress-bar-thickness-small);
	--system-spectrum-progressbar-size-s-spacing-top-to-text: var(--spectrum-component-top-to-text-75);
	--system-spectrum-meter-size-s-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-75);
	--system-spectrum-progressbar-size-m-size-default: var(--spectrum-progressbar-size-2400);
	--system-spectrum-progressbar-size-m-font-size: var(--spectrum-font-size-75);
	--system-spectrum-progressbar-size-m-thickness: var(--spectrum-progress-bar-thickness-large);
	--system-spectrum-progressbar-size-m-spacing-top-to-text: var(--spectrum-component-top-to-text-75);
	--system-spectrum-progressbar-size-l-size-default: var(--spectrum-progressbar-size-2500);
	--system-spectrum-meter-size-l-progressbar-size-default: var(--spectrum-progressbar-size-2500);
	--system-spectrum-progressbar-size-l-font-size: var(--spectrum-font-size-100);
	--system-spectrum-meter-size-l-progressbar-font-size: var(--spectrum-font-size-100);
	--system-spectrum-progressbar-size-l-thickness: var(--spectrum-progress-bar-thickness-large);
	--system-spectrum-meter-size-l-progressbar-thickness: var(--spectrum-progress-bar-thickness-large);
	--system-spectrum-progressbar-size-l-spacing-top-to-text: var(--spectrum-component-top-to-text-200);
	--system-spectrum-meter-size-l-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-200);
	--system-spectrum-progressbar-size-xl-size-default: var(--spectrum-progressbar-size-2800);
	--system-spectrum-progressbar-size-xl-font-size: var(--spectrum-font-size-200);
	--system-spectrum-progressbar-size-xl-thickness: var(--spectrum-progress-bar-thickness-extra-large);
	--system-spectrum-progressbar-size-xl-spacing-top-to-text: var(--spectrum-component-top-to-text-300);
	--system-spectrum-meter-progressbar-size-default: var(--mod-meter-inline-size, var(--spectrum-meter-inline-size));
	--system-spectrum-meter-progressbar-max-size: var(--mod-meter-max-width, var(--spectrum-meter-max-width));
	--system-spectrum-meter-progressbar-min-size: var(--mod-meter-min-width, var(--spectrum-meter-min-width));
	--system-spectrum-meter-size-s-progressbar-thickness: var(--spectrum-meter-thickness-s);
	--system-spectrum-meter-size-l-progressbar-thickness: var(--spectrum-meter-thickness-l);
	--system-spectrum-meter-size-l-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-75);
}
