/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum--legacy {
	--system-radio-radio-button-border-color-default: var(--spectrum-gray-600);
	--system-radio-radio-button-border-color-hover: var(--spectrum-gray-700);
	--system-radio-radio-button-border-color-down: var(--spectrum-gray-800);
	--system-radio-radio-button-border-color-focus: var(--spectrum-gray-700);
	--system-radio-radio-neutral-content-color: var(--spectrum-neutral-content-color-default);
	--system-radio-radio-neutral-content-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-radio-radio-neutral-content-color-down: var(--spectrum-neutral-content-color-down);
	--system-radio-radio-neutral-content-color-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-radio-radio-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
	--system-radio-radio-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
	--system-radio-radio-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--system-radio-radio-disabled-content-color: var(--spectrum-disabled-content-color);
	--system-radio-radio-disabled-border-color: var(--spectrum-disabled-content-color);
	--system-radio-radio-emphasized-accent-color: var(--spectrum-accent-color-900);
	--system-radio-radio-emphasized-accent-color-hover: var(--spectrum-accent-color-1000);
	--system-radio-radio-emphasized-accent-color-down: var(--spectrum-accent-color-1100);
	--system-radio-radio-emphasized-accent-color-focus: var(--spectrum-accent-color-1000);
	--system-radio-radio-border-width: var(--spectrum-border-width-200);
	--system-radio-radio-button-background-color: var(--spectrum-gray-50);
	--system-radio-radio-button-checked-border-color-default: var(--spectrum-neutral-background-color-selected-default);
	--system-radio-radio-button-checked-border-color-hover: var(--spectrum-neutral-background-color-selected-hover);
	--system-radio-radio-button-checked-border-color-down: var(--spectrum-neutral-background-color-selected-down);
	--system-radio-radio-button-checked-border-color-focus: var(--spectrum-neutral-background-color-selected-focus);
	--system-radio-radio-text-to-control: var(--spectrum-text-to-control-100);
	--system-radio-radio-label-top-to-text: var(--spectrum-component-top-to-text-100);
	--system-radio-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-100);
	--system-radio-radio-font-size: var(--spectrum-font-size-100);
	--system-radio-radio-line-height: var(--spectrum-line-height-100);
	--system-radio-radio-animation-duration: var(--spectrum-animation-duration-100);
	--system-radio-radio-height: var(--spectrum-component-height-100);
	--system-radio-radio-button-control-size: var(--spectrum-radio-button-control-size-medium);
	--system-radio-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-medium);
	--system-radio-lang-ja-radio-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-radio-lang-zh-radio-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-radio-lang-ko-radio-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-radio-size-s-radio-height: var(--spectrum-component-height-75);
	--system-radio-size-s-radio-button-control-size: var(--spectrum-radio-button-control-size-small);
	--system-radio-size-s-radio-text-to-control: var(--spectrum-text-to-control-75);
	--system-radio-size-s-radio-label-top-to-text: var(--spectrum-component-top-to-text-75);
	--system-radio-size-s-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-75);
	--system-radio-size-s-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-small);
	--system-radio-size-s-radio-font-size: var(--spectrum-font-size-75);
	--system-radio-size-m-radio-height: var(--spectrum-component-height-100);
	--system-radio-size-m-radio-button-control-size: var(--spectrum-radio-button-control-size-medium);
	--system-radio-size-m-radio-text-to-control: var(--spectrum-text-to-control-100);
	--system-radio-size-m-radio-label-top-to-text: var(--spectrum-component-top-to-text-100);
	--system-radio-size-m-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-100);
	--system-radio-size-m-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-medium);
	--system-radio-size-m-radio-font-size: var(--spectrum-font-size-100);
	--system-radio-size-l-radio-height: var(--spectrum-component-height-200);
	--system-radio-size-l-radio-button-control-size: var(--spectrum-radio-button-control-size-large);
	--system-radio-size-l-radio-text-to-control: var(--spectrum-text-to-control-200);
	--system-radio-size-l-radio-label-top-to-text: var(--spectrum-component-top-to-text-200);
	--system-radio-size-l-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-200);
	--system-radio-size-l-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-large);
	--system-radio-size-l-radio-font-size: var(--spectrum-font-size-200);
	--system-radio-size-xl-radio-height: var(--spectrum-component-height-300);
	--system-radio-size-xl-radio-button-control-size: var(--spectrum-radio-button-control-size-extra-large);
	--system-radio-size-xl-radio-text-to-control: var(--spectrum-text-to-control-300);
	--system-radio-size-xl-radio-label-top-to-text: var(--spectrum-component-top-to-text-300);
	--system-radio-size-xl-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-300);
	--system-radio-size-xl-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-extra-large);
	--system-radio-size-xl-radio-font-size: var(--spectrum-font-size-300);
	--system-radio-emphasized-radio-button-checked-border-color-default: var(--spectrum-accent-color-900);
	--system-radio-emphasized-radio-button-checked-border-color-hover: var(--spectrum-accent-color-1000);
	--system-radio-emphasized-radio-button-checked-border-color-down: var(--spectrum-accent-color-1100);
	--system-radio-emphasized-radio-button-checked-border-color-focus: var(--spectrum-accent-color-1000);
}

.spectrum--express {
	--system-radio-radio-button-border-color-default: var(--spectrum-gray-800);
	--system-radio-radio-button-border-color-hover: var(--spectrum-gray-900);
	--system-radio-radio-button-border-color-down: var(--spectrum-gray-900);
	--system-radio-radio-button-border-color-focus: var(--spectrum-gray-900);
}
