/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-express {
	--system-spectrum-tabs-font-weight: var(--spectrum-default-font-weight);
	--system-spectrum-tabs-item-height: var(--spectrum-tab-item-height-medium);
	--system-spectrum-tabs-item-horizontal-spacing: var(--spectrum-tab-item-to-tab-item-horizontal-medium);
	--system-spectrum-tabs-item-vertical-spacing: var(--spectrum-tab-item-to-tab-item-vertical-medium);
	--system-spectrum-tabs-start-to-edge: var(--spectrum-tab-item-start-to-edge-medium);
	--system-spectrum-tabs-top-to-text: var(--spectrum-tab-item-top-to-text-medium);
	--system-spectrum-tabs-bottom-to-text: var(--spectrum-tab-item-bottom-to-text-medium);
	--system-spectrum-tabs-icon-size: var(--spectrum-workflow-icon-size-75);
	--system-spectrum-tabs-icon-to-text: var(--spectrum-text-to-visual-100);
	--system-spectrum-tabs-top-to-icon: var(--spectrum-tab-item-top-to-workflow-icon-medium);
	--system-spectrum-tabs-color: var(--spectrum-neutral-subdued-content-color-default);
	--system-spectrum-tabs-color-selected: var(--spectrum-neutral-subdued-content-color-down);
	--system-spectrum-tabs-color-hover: var(--spectrum-neutral-subdued-content-color-hover);
	--system-spectrum-tabs-color-key-focus: var(--spectrum-neutral-subdued-content-color-key-focus);
	--system-spectrum-tabs-color-disabled: var(--spectrum-gray-500);
	--system-spectrum-tabs-font-family: var(--spectrum-sans-font-family-stack);
	--system-spectrum-tabs-font-style: var(--spectrum-default-font-style);
	--system-spectrum-tabs-font-size: var(--spectrum-font-size-100);
	--system-spectrum-tabs-line-height: var(--spectrum-line-height-100);
	--system-spectrum-tabs-focus-indicator-width: var(--spectrum-focus-indicator-thickness);
	--system-spectrum-tabs-focus-indicator-border-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-tabs-focus-indicator-gap: var(--spectrum-tab-item-focus-indicator-gap-medium);
	--system-spectrum-tabs-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--system-spectrum-tabs-selection-indicator-color: var(--spectrum-neutral-subdued-content-color-down);
	--system-spectrum-tabs-list-background-direction: top;
	--system-spectrum-tabs-divider-background-color: var(--spectrum-gray-200);
	--system-spectrum-tabs-divider-size: var(--spectrum-border-width-200);
	--system-spectrum-tabs-divider-border-radius: 1px;
	--system-spectrum-tabs-animation-duration: var(--spectrum-animation-duration-100);
	--system-spectrum-tabs-animation-ease: var(--spectrum-animation-ease-in-out);
	--system-spectrum-tabs-sizes-item-height: var(--spectrum-tab-item-height-small);
	--system-spectrum-tabs-sizes-item-horizontal-spacing: var(--spectrum-tab-item-to-tab-item-horizontal-small);
	--system-spectrum-tabs-sizes-item-vertical-spacing: var(--spectrum-tab-item-to-tab-item-vertical-small);
	--system-spectrum-tabs-sizes-start-to-edge: var(--spectrum-tab-item-start-to-edge-small);
	--system-spectrum-tabs-sizes-top-to-text: var(--spectrum-tab-item-top-to-text-small);
	--system-spectrum-tabs-sizes-bottom-to-text: var(--spectrum-tab-item-bottom-to-text-small);
	--system-spectrum-tabs-sizes-icon-size: var(--spectrum-workflow-icon-size-50);
	--system-spectrum-tabs-sizes-icon-to-text: var(--spectrum-text-to-visual-75);
	--system-spectrum-tabs-sizes-top-to-icon: var(--spectrum-tab-item-top-to-workflow-icon-small);
	--system-spectrum-tabs-sizes-focus-indicator-gap: var(--spectrum-tab-item-focus-indicator-gap-small);
	--system-spectrum-tabs-sizes-font-size: var(--spectrum-font-size-75);
	--system-spectrum-tabs-sizel-item-height: var(--spectrum-tab-item-height-large);
	--system-spectrum-tabs-sizel-item-horizontal-spacing: var(--spectrum-tab-item-to-tab-item-horizontal-large);
	--system-spectrum-tabs-sizel-item-vertical-spacing: var(--spectrum-tab-item-to-tab-item-vertical-large);
	--system-spectrum-tabs-sizel-start-to-edge: var(--spectrum-tab-item-start-to-edge-large);
	--system-spectrum-tabs-sizel-top-to-text: var(--spectrum-tab-item-top-to-text-large);
	--system-spectrum-tabs-sizel-bottom-to-text: var(--spectrum-tab-item-bottom-to-text-large);
	--system-spectrum-tabs-sizel-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-tabs-sizel-icon-to-text: var(--spectrum-text-to-visual-200);
	--system-spectrum-tabs-sizel-top-to-icon: var(--spectrum-tab-item-top-to-workflow-icon-large);
	--system-spectrum-tabs-sizel-focus-indicator-gap: var(--spectrum-tab-item-focus-indicator-gap-large);
	--system-spectrum-tabs-sizel-font-size: var(--spectrum-font-size-200);
	--system-spectrum-tabs-sizexl-item-height: var(--spectrum-tab-item-height-extra-large);
	--system-spectrum-tabs-sizexl-item-horizontal-spacing: var(--spectrum-tab-item-to-tab-item-horizontal-extra-large);
	--system-spectrum-tabs-sizexl-item-vertical-spacing: var(--spectrum-tab-item-to-tab-item-vertical-extra-large);
	--system-spectrum-tabs-sizexl-start-to-edge: var(--spectrum-tab-item-start-to-edge-extra-large);
	--system-spectrum-tabs-sizexl-top-to-text: var(--spectrum-tab-item-top-to-text-extra-large);
	--system-spectrum-tabs-sizexl-bottom-to-text: var(--spectrum-tab-item-bottom-to-text-extra-large);
	--system-spectrum-tabs-sizexl-icon-size: var(--spectrum-workflow-icon-size-200);
	--system-spectrum-tabs-sizexl-icon-to-text: var(--spectrum-text-to-visual-300);
	--system-spectrum-tabs-sizexl-top-to-icon: var(--spectrum-tab-item-top-to-workflow-icon-extra-large);
	--system-spectrum-tabs-sizexl-focus-indicator-gap: var(--spectrum-tab-item-focus-indicator-gap-extra-large);
	--system-spectrum-tabs-sizexl-font-size: var(--spectrum-font-size-300);
	--system-spectrum-tabs-emphasized-mod-tabs-color-selected: var(--mod-tabs-color-selected-emphasized, var(--spectrum-accent-content-color-default));
	--system-spectrum-tabs-emphasized-mod-tabs-color-hover: var(--mod-tabs-color-hover-emphasized, var(--spectrum-accent-content-color-hover));
	--system-spectrum-tabs-emphasized-mod-tabs-color-key-focus: var(--mod-tabs-color-key-focus-emphasized, var(--spectrum-accent-content-color-key-focus));
	--system-spectrum-tabs-emphasized-mod-tabs-selection-indicator-color: var(--mod-tabs-selection-indicator-color-emphasized, var(--spectrum-accent-content-color-default));
	--system-spectrum-tabs-vertical-mod-tabs-list-background-direction: var(--mod-tabs-list-background-direction-vertical, right);
	--system-spectrum-tabs-vertical-right-mod-tabs-list-background-direction: var(--mod-tabs-list-background-direction-vertical-right, left);
	--system-spectrum-tabs-vertical-dir-rtl-mod-tabs-list-background-direction: var(--mod-tabs-list-background-direction-vertical, left);
	--system-spectrum-tabs-vertical-right-dir-rtl-mod-tabs-list-background-direction: var(--mod-tabs-list-background-direction-vertical, right);
	--system-spectrum-tabs-compact-mod-tabs-item-height: var(--mod-tabs-item-height-compact, var(--spectrum-tab-item-compact-height-medium));
	--system-spectrum-tabs-compact-mod-tabs-top-to-text: var(--mod-tabs-top-to-text-compact, var(--spectrum-tab-item-top-to-text-compact-medium));
	--system-spectrum-tabs-compact-mod-tabs-bottom-to-text: var(--mod-tabs-bottom-to-text-compact, var(--spectrum-tab-item-top-to-text-compact-medium));
	--system-spectrum-tabs-compact-mod-tabs-top-to-icon: var(--mod-tabs-top-to-icon-compact, var(--spectrum-tab-item-top-to-workflow-icon-compact-medium));
	--system-spectrum-tabs-compact-sizes-mod-tabs-item-height: var(--mod-tabs-item-height-compact, var(--spectrum-tab-item-compact-height-small));
	--system-spectrum-tabs-compact-sizes-mod-tabs-top-to-text: var(--mod-tabs-top-to-text-compact, var(--spectrum-tab-item-top-to-text-compact-small));
	--system-spectrum-tabs-compact-sizes-mod-tabs-bottom-to-text: var(--mod-tabs-bottom-to-text-compact, var(--spectrum-tab-item-top-to-text-compact-small));
	--system-spectrum-tabs-compact-sizes-mod-tabs-top-to-icon: var(--mod-tabs-top-to-icon-compact, var(--spectrum-tab-item-top-to-workflow-icon-compact-small));
	--system-spectrum-tabs-compact-sizel-mod-tabs-item-height: var(--mod-tabs-item-height-compact, var(--spectrum-tab-item-compact-height-large));
	--system-spectrum-tabs-compact-sizel-mod-tabs-top-to-text: var(--mod-tabs-top-to-text-compact, var(--spectrum-tab-item-top-to-text-compact-large));
	--system-spectrum-tabs-compact-sizel-mod-tabs-bottom-to-text: var(--mod-tabs-bottom-to-text-compact, var(--spectrum-tab-item-top-to-text-compact-large));
	--system-spectrum-tabs-compact-sizel-mod-tabs-top-to-icon: var(--mod-tabs-top-to-icon-compact, var(--spectrum-tab-item-top-to-workflow-icon-compact-large));
	--system-spectrum-tabs-compact-sizexl-mod-tabs-item-height: var(--mod-tabs-item-height-compact, var(--spectrum-tab-item-compact-height-extra-large));
	--system-spectrum-tabs-compact-sizexl-mod-tabs-top-to-text: var(--mod-tabs-top-to-text-compact, var(--spectrum-tab-item-top-to-text-compact-extra-large));
	--system-spectrum-tabs-compact-sizexl-mod-tabs-bottom-to-text: var(--mod-tabs-bottom-to-text-compact, var(--spectrum-tab-item-top-to-text-compact-extra-large));
	--system-spectrum-tabs-compact-sizexl-mod-tabs-top-to-icon: var(--mod-tabs-top-to-icon-compact, var(--spectrum-tab-item-top-to-workflow-icon-compact-extra-large));
}
