/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum.spectrum--legacy {
	--system-toast-background-color-default: var(--spectrum-neutral-background-color-default);
	--system-toast-font-weight: var(--spectrum-regular-font-weight);
	--system-toast-font-size: var(--spectrum-font-size-100);
	--system-toast-corner-radius: var(--spectrum-corner-radius-100);
	--system-toast-block-size: var(--spectrum-toast-height);
	--system-toast-max-inline-size: var(--spectrum-toast-maximum-width);
	--system-toast-border-width: var(--spectrum-border-width-100);
	--system-toast-line-height: var(--spectrum-line-height-100);
	--system-toast-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-toast-spacing-icon-to-text: var(--spectrum-text-to-visual-100);
	--system-toast-spacing-start-edge-to-text-and-icon: var(--spectrum-spacing-300);
	--system-toast-spacing-text-and-action-button-to-divider: var(--spectrum-spacing-300);
	--system-toast-spacing-top-edge-to-divider: var(--spectrum-spacing-100);
	--system-toast-spacing-bottom-edge-to-divider: var(--spectrum-spacing-100);
	--system-toast-spacing-top-edge-to-icon: var(--spectrum-toast-top-to-workflow-icon);
	--system-toast-spacing-text-to-action-button-horizontal: var(--spectrum-spacing-300);
	--system-toast-spacing-close-button: var(--spectrum-spacing-100);
	--system-toast-spacing-block-start: var(--spectrum-spacing-100);
	--system-toast-spacing-block-end: var(--spectrum-spacing-100);
	--system-toast-spacing-top-edge-to-text: var(--spectrum-toast-top-to-text);
	--system-toast-spacing-bottom-edge-to-text: var(--spectrum-toast-bottom-to-text);
	--system-toast-negative-background-color-default: var(--spectrum-negative-background-color-default);
	--system-toast-positive-background-color-default: var(--spectrum-positive-background-color-default);
	--system-toast-informative-background-color-default: var(--spectrum-informative-background-color-default);
	--system-toast-text-and-icon-color: var(--spectrum-white);
	--system-toast-divider-color: var(--spectrum-transparent-white-300);
}
