.pageHeading___26RtH {
  font-size: 58px !important;
  font-family: adobe-clean-serif !important;
  font-weight: 800;
  line-height: 1.15 !important;
  letter-spacing: normal !important; }
  @media screen and (max-width: 768px) {
    .pageHeading___26RtH {
      font-size: 44px !important;
      font-family: adobe-clean-serif !important;
      letter-spacing: normal !important; } }

.headerRow___2meAi {
  margin-bottom: 16px; }

