.pageHeading___26RtH {
  font-size: 58px !important;
  font-family: adobe-clean-serif !important;
  font-weight: 800;
  line-height: 1.15 !important;
  letter-spacing: normal !important; }
  @media screen and (max-width: 768px) {
    .pageHeading___26RtH {
      font-size: 44px !important;
      font-family: adobe-clean-serif !important;
      letter-spacing: normal !important; } }

.headerRow___2meAi {
  margin-bottom: 16px; }

/*
Use of this code is governed by the Adobe Terms of Use and
Adobe Developer Additional Terms, and the license attached
to this repo does not apply.
*/
.spectrum-Rule {
  width: 100%;
  overflow: visible;

  border: none;
  border-width: 2px;
  border-radius: 2px;
}
.spectrum-Rule--large {
  height: 4px;

  border-radius: 2px;
}
.spectrum-Rule--medium {
  height: 2px;

  border-radius: 1px;
}
.spectrum-Rule--small {
  height: 1px;

  border-radius: 1px;
}
.spectrum-Rule--vertical {
  height: 100%;
}
.spectrum-Rule--vertical.spectrum-Rule--large {
    width: 4px;
  }
.spectrum-Rule--vertical.spectrum-Rule--medium {
    width: 2px;
  }
.spectrum-Rule--vertical.spectrum-Rule--small {
    width: 1px;
  }

/*
Use of this code is governed by the Adobe Terms of Use and
Adobe Developer Additional Terms, and the license attached
to this repo does not apply.
*/
.spectrum--large .spectrum-Rule {
  border-width: 2px;
  border-radius: 2px;
}
.spectrum--large .spectrum-Rule--large {
  height: 4px;

  border-radius: 2px;
}
.spectrum--large .spectrum-Rule--medium {
  height: 2px;

  border-radius: 1px;
}
.spectrum--large .spectrum-Rule--small {
  height: 1px;

  border-radius: 1px;
}
.spectrum--large .spectrum-Rule--vertical.spectrum-Rule--large {
    width: 4px;
  }
.spectrum--large .spectrum-Rule--vertical.spectrum-Rule--medium {
    width: 2px;
  }
.spectrum--large .spectrum-Rule--vertical.spectrum-Rule--small {
    width: 1px;
  }

/*
Use of this code is governed by the Adobe Terms of Use and
Adobe Developer Additional Terms, and the license attached
to this repo does not apply.
*/
.spectrum--light .spectrum-Rule--large {
  background-color: rgb(75, 75, 75);
}
.spectrum--light .spectrum-Rule--medium {
  background-color: rgb(225, 225, 225);
}
.spectrum--light .spectrum-Rule--small {
  background-color: rgb(225, 225, 225);
}

/*
Use of this code is governed by the Adobe Terms of Use and
Adobe Developer Additional Terms, and the license attached
to this repo does not apply.
*/
.spectrum--dark .spectrum-Rule--large {
  background-color: rgb(227, 227, 227);
}
.spectrum--dark .spectrum-Rule--medium {
  background-color: rgb(74, 74, 74);
}
.spectrum--dark .spectrum-Rule--small {
  background-color: rgb(74, 74, 74);
}

/*
Use of this code is governed by the Adobe Terms of Use and
Adobe Developer Additional Terms, and the license attached
to this repo does not apply.
*/
.spectrum--lightest .spectrum-Rule--large {
  background-color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-Rule--medium {
  background-color: rgb(234, 234, 234);
}
.spectrum--lightest .spectrum-Rule--small {
  background-color: rgb(234, 234, 234);
}

/*
Use of this code is governed by the Adobe Terms of Use and
Adobe Developer Additional Terms, and the license attached
to this repo does not apply.
*/
.spectrum--darkest .spectrum-Rule--large {
  background-color: rgb(200, 200, 200);
}
.spectrum--darkest .spectrum-Rule--medium {
  background-color: rgb(57, 57, 57);
}
.spectrum--darkest .spectrum-Rule--small {
  background-color: rgb(57, 57, 57);
}

.pageContainer___3Z_T8 {
  position: relative; }

.resources___27Jq_ {
  display: flex;
  flex-direction: row; }

.code___1HMqk {
  border: 5px solid blue; }

.linkList___IzQQN {
  list-style: none;
  margin: 0;
  padding: 0; }
  .linkList___IzQQN li {
    margin-bottom: 6px; }

.headerRow___GZ4vg {
  margin-bottom: 40px; }

.cta___2QB6e {
  margin-top: 32px; }

body {
  -webkit-font-smoothing: antialiased; }

.versionTable___3qu5a {
  width: 100%; }

.resourceRow___3vNAc {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px; }
  @media screen and (max-width: 960px) {
    .resourceRow___3vNAc {
      flex-direction: column; } }

.pageContainer___3Z_T8 {
  opacity: 0;
  transition: opacity 125ms ease-in-out; }

.wf-active .pageContainer___3Z_T8 {
  opacity: 1; }

.test1 {
  border: 1px solid red; }

