/*!
 * Copyright 2024 Adobe. All rights reserved.
 * 
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 * 
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

dl.spectrum-storybook-component-details {
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 20px;
	row-gap: 14px;
	padding-block: 0.75rem;
	margin-block: 0.5rem 2.5rem;
	border-block: 1px solid hsla(203deg, 50%, 30%, 15%);
}

dl.spectrum-storybook-component-details dt,
dl.spectrum-storybook-component-details dd {
	font-style: normal;
	padding: 0;
	margin: 0;
	font-size: 14px;
}
