@import '../commons/index.css';

:root {
  --spectrum-miller-column-chevron-height: 10px;
  --spectrum-miller-column-chevron-width: 6px;
}

/* topdoc
{{ assetlist/assetlist.yml }}
*/
.spectrum-AssetList {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.spectrum-AssetList-item {
  position: relative;

  display: flex;
  box-sizing: border-box;
  align-items: center;

  width: var(--spectrum-miller-column-width);
  height: var(--spectrum-miller-column-item-height);

  padding: 0 var(--spectrum-miller-column-item-padding-right) 0 var(--spectrum-miller-column-item-padding-left);
  margin: 0 0 var(--spectrum-miller-column-item-margin-bottom) 0;

  border-radius: var(--spectrum-miller-column-item-border-radius);

  transition: background-color var(--spectrum-transition-time) ease-in-out;

  font-size: var(--spectrum-selectlist-option-text-size);
  font-weight: var(--spectrum-selectlist-option-text-font-weight);
  font-style: normal;

  cursor: pointer;

  outline: none;

  &.is-selectable,
  &.is-selected,
  &:hover {
    /* checkbox on the left, shows up always */
    .spectrum-Checkbox {
      display: inline-flex;
    }
  }

  &.is-branch {
    /* show chevron */
    .spectrum-AssetList-itemChildIndicator {
      display: block;
    }
  }

  .spectrum-AssetList-itemThumbnail {
    /* Remove the border on images inside links in IE 10-. */
    border-style: none;

    width: var(--spectrum-miller-column-thumbnail-width);
    height: var(--spectrum-miller-column-thumbnail-height);
    margin-left: var(--spectrum-miller-column-thumbnail-margin-left);
    vertical-align: middle;
  }
}

.spectrum-AssetList-itemSelector {
  display: none;
}

.spectrum-AssetList-itemChildIndicator {
  display: none;
  transition: transform ease var(--spectrum-transition-time);
}

.spectrum-AssetList-itemLabel {
  flex: 1;
  padding-left: var(--spectrum-miller-column-item-label-padding-left);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
