/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum.spectrum--legacy {
	--system-action-button-background-color-default: var(--spectrum-gray-75);
	--system-action-button-background-color-hover: var(--spectrum-gray-200);
	--system-action-button-background-color-down: var(--spectrum-gray-300);
	--system-action-button-background-color-focus: var(--spectrum-gray-200);
	--system-action-button-border-color-default: var(--spectrum-gray-400);
	--system-action-button-border-color-hover: var(--spectrum-gray-500);
	--system-action-button-border-color-down: var(--spectrum-gray-600);
	--system-action-button-border-color-focus: var(--spectrum-gray-500);
	--system-action-button-background-color-disabled: transparent;
	--system-action-button-border-color-disabled: var(--spectrum-disabled-border-color);
	--system-action-button-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-action-button-animation-duration: var(--spectrum-animation-duration-100);
	--system-action-button-border-radius: var(--spectrum-corner-radius-100);
	--system-action-button-border-width: var(--spectrum-border-width-100);
	--system-action-button-min-width: calc(var(--spectrum-component-edge-to-visual-only-100) * 2 + var(--spectrum-workflow-icon-size-100));
	--system-action-button-height: var(--spectrum-component-height-100);
	--system-action-button-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-action-button-font-size: var(--spectrum-font-size-100);
	--system-action-button-text-to-visual: var(--spectrum-text-to-visual-100);
	--system-action-button-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-medium);
	--system-action-button-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-100) - var(--system-action-button-border-width));
	--system-action-button-edge-to-text: calc(var(--spectrum-component-edge-to-text-100) - var(--system-action-button-border-width));
	--system-action-button-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-100) - var(--system-action-button-border-width));
	--system-action-button-content-color-default: var(--spectrum-neutral-content-color-default);
	--system-action-button-content-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-action-button-content-color-down: var(--spectrum-neutral-content-color-down);
	--system-action-button-content-color-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-action-button-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
	--system-action-button-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
	--system-action-button-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--system-action-button-quiet-background-color-default: transparent;
	--system-action-button-quiet-background-color-hover: var(--spectrum-gray-200);
	--system-action-button-quiet-background-color-down: var(--spectrum-gray-300);
	--system-action-button-quiet-background-color-focus: var(--spectrum-gray-200);
	--system-action-button-quiet-border-color-default: transparent;
	--system-action-button-quiet-border-color-hover: transparent;
	--system-action-button-quiet-border-color-down: transparent;
	--system-action-button-quiet-border-color-focus: transparent;
	--system-action-button-quiet-background-color-disabled: transparent;
	--system-action-button-quiet-border-color-disabled: transparent;
	--system-action-button-selected-background-color-default: var(--mod-actionbutton-background-color-default-selected, var(--spectrum-neutral-background-color-selected-default));
	--system-action-button-selected-background-color-hover: var(--mod-actionbutton-background-color-hover-selected, var(--spectrum-neutral-background-color-selected-hover));
	--system-action-button-selected-background-color-down: var(--mod-actionbutton-background-color-down-selected, var(--spectrum-neutral-background-color-selected-down));
	--system-action-button-selected-background-color-focus: var(--mod-actionbutton-background-color-focus-selected, var(--spectrum-neutral-background-color-selected-key-focus));
	--system-action-button-selected-content-color-default: var(--mod-actionbutton-content-color-default-selected, var(--spectrum-gray-50));
	--system-action-button-selected-content-color-hover: var(--mod-actionbutton-content-color-hover-selected, var(--spectrum-gray-50));
	--system-action-button-selected-content-color-down: var(--mod-actionbutton-content-color-down-selected, var(--spectrum-gray-50));
	--system-action-button-selected-content-color-focus: var(--mod-actionbutton-content-color-focus-selected, var(--spectrum-gray-50));
	--system-action-button-selected-border-color-default: transparent;
	--system-action-button-selected-border-color-hover: transparent;
	--system-action-button-selected-border-color-down: transparent;
	--system-action-button-selected-border-color-focus: transparent;
	--system-action-button-selected-background-color-disabled: var(--spectrum-disabled-background-color);
	--system-action-button-selected-border-color-disabled: transparent;
	--system-action-button-selected-emphasized-background-color-default: var(--mod-actionbutton-background-color-default-selected-emphasized, var(--spectrum-accent-background-color-default));
	--system-action-button-selected-emphasized-background-color-hover: var(--mod-actionbutton-background-color-hover-selected-emphasized, var(--spectrum-accent-background-color-hover));
	--system-action-button-selected-emphasized-background-color-down: var(--mod-actionbutton-background-color-down-selected-emphasized, var(--spectrum-accent-background-color-down));
	--system-action-button-selected-emphasized-background-color-focus: var(--mod-actionbutton-background-color-focus-selected-emphasized, var(--spectrum-accent-background-color-key-focus));
	--system-action-button-selected-emphasized-content-color-default: var(--mod-actionbutton-content-color-default-selected-emphasized, var(--spectrum-white));
	--system-action-button-selected-emphasized-content-color-hover: var(--mod-actionbutton-content-color-hover-selected-emphasized, var(--spectrum-white));
	--system-action-button-selected-emphasized-content-color-down: var(--mod-actionbutton-content-color-down-selected-emphasized, var(--spectrum-white));
	--system-action-button-selected-emphasized-content-color-focus: var(--mod-actionbutton-content-color-focus-selected-emphasized, var(--spectrum-white));
	--system-action-button-size-xs-min-width: calc(var(--spectrum-component-edge-to-visual-only-50) * 2 + var(--spectrum-workflow-icon-size-50));
	--system-action-button-size-xs-height: var(--spectrum-component-height-50);
	--system-action-button-size-xs-icon-size: var(--spectrum-workflow-icon-size-50);
	--system-action-button-size-xs-font-size: var(--spectrum-font-size-50);
	--system-action-button-size-xs-text-to-visual: var(--spectrum-text-to-visual-50);
	--system-action-button-size-xs-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-extra-small);
	--system-action-button-size-xs-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-50) - var(--system-action-button-border-width));
	--system-action-button-size-xs-edge-to-text: calc(var(--spectrum-component-edge-to-text-50) - var(--system-action-button-border-width));
	--system-action-button-size-xs-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-50) - var(--system-action-button-border-width));
	--system-action-button-size-s-min-width: calc(var(--spectrum-component-edge-to-visual-only-75) * 2 + var(--spectrum-workflow-icon-size-75));
	--system-action-button-size-s-height: var(--spectrum-component-height-75);
	--system-action-button-size-s-icon-size: var(--spectrum-workflow-icon-size-75);
	--system-action-button-size-s-font-size: var(--spectrum-font-size-75);
	--system-action-button-size-s-text-to-visual: var(--spectrum-text-to-visual-75);
	--system-action-button-size-s-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-small);
	--system-action-button-size-s-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-75) - var(--system-action-button-border-width));
	--system-action-button-size-s-edge-to-text: calc(var(--spectrum-component-edge-to-text-75) - var(--system-action-button-border-width));
	--system-action-button-size-s-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-75) - var(--system-action-button-border-width));
	--system-action-button-size-m-min-width: calc(var(--spectrum-component-edge-to-visual-only-100) * 2 + var(--spectrum-workflow-icon-size-100));
	--system-action-button-size-m-height: var(--spectrum-component-height-100);
	--system-action-button-size-m-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-action-button-size-m-font-size: var(--spectrum-font-size-100);
	--system-action-button-size-m-text-to-visual: var(--spectrum-text-to-visual-100);
	--system-action-button-size-m-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-medium);
	--system-action-button-size-m-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-100) - var(--system-action-button-border-width));
	--system-action-button-size-m-edge-to-text: calc(var(--spectrum-component-edge-to-text-100) - var(--system-action-button-border-width));
	--system-action-button-size-m-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-100) - var(--system-action-button-border-width));
	--system-action-button-size-l-min-width: calc(var(--spectrum-component-edge-to-visual-only-200) * 2 + var(--spectrum-workflow-icon-size-200));
	--system-action-button-size-l-height: var(--spectrum-component-height-200);
	--system-action-button-size-l-icon-size: var(--spectrum-workflow-icon-size-200);
	--system-action-button-size-l-font-size: var(--spectrum-font-size-200);
	--system-action-button-size-l-text-to-visual: var(--spectrum-text-to-visual-200);
	--system-action-button-size-l-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-large);
	--system-action-button-size-l-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-200) - var(--system-action-button-border-width));
	--system-action-button-size-l-edge-to-text: calc(var(--spectrum-component-edge-to-text-200) - var(--system-action-button-border-width));
	--system-action-button-size-l-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-200) - var(--system-action-button-border-width));
	--system-action-button-size-xl-min-width: calc(var(--spectrum-component-edge-to-visual-only-300) * 2 + var(--spectrum-workflow-icon-size-300));
	--system-action-button-size-xl-height: var(--spectrum-component-height-300);
	--system-action-button-size-xl-icon-size: var(--spectrum-workflow-icon-size-300);
	--system-action-button-size-xl-font-size: var(--spectrum-font-size-300);
	--system-action-button-size-xl-text-to-visual: var(--spectrum-text-to-visual-300);
	--system-action-button-size-xl-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-extra-large);
	--system-action-button-size-xl-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-300) - var(--system-action-button-border-width));
	--system-action-button-size-xl-edge-to-text: calc(var(--spectrum-component-edge-to-text-300) - var(--system-action-button-border-width));
	--system-action-button-size-xl-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-300) - var(--system-action-button-border-width));
	--system-action-button-static-black-background-color-default: transparent;
	--system-action-button-static-black-background-color-hover: var(--spectrum-transparent-black-300);
	--system-action-button-static-black-background-color-down: var(--spectrum-transparent-black-400);
	--system-action-button-static-black-background-color-focus: var(--spectrum-transparent-black-300);
	--system-action-button-static-black-border-color-default: var(--spectrum-transparent-black-400);
	--system-action-button-static-black-border-color-hover: var(--spectrum-transparent-black-500);
	--system-action-button-static-black-border-color-down: var(--spectrum-transparent-black-600);
	--system-action-button-static-black-border-color-focus: var(--spectrum-transparent-black-500);
	--system-action-button-static-black-content-color-default: var(--spectrum-black);
	--system-action-button-static-black-content-color-hover: var(--spectrum-black);
	--system-action-button-static-black-content-color-down: var(--spectrum-black);
	--system-action-button-static-black-content-color-focus: var(--spectrum-black);
	--system-action-button-static-black-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);
	--system-action-button-static-black-background-color-disabled: transparent;
	--system-action-button-static-black-border-color-disabled: var(--spectrum-disabled-static-black-border-color);
	--system-action-button-static-black-content-color-disabled: var(--spectrum-disabled-static-black-content-color);
	--system-action-button-static-black-selected-background-color-default: var(--spectrum-transparent-black-800);
	--system-action-button-static-black-selected-background-color-hover: var(--spectrum-transparent-black-900);
	--system-action-button-static-black-selected-background-color-down: var(--spectrum-transparent-black-900);
	--system-action-button-static-black-selected-background-color-focus: var(--spectrum-transparent-black-900);
	--system-action-button-static-black-selected-content-color-default: var(--mod-actionbutton-static-content-color, var(--spectrum-white));
	--system-action-button-static-black-selected-content-color-hover: var(--mod-actionbutton-static-content-color, var(--spectrum-white));
	--system-action-button-static-black-selected-content-color-down: var(--mod-actionbutton-static-content-color, var(--spectrum-white));
	--system-action-button-static-black-selected-content-color-focus: var(--mod-actionbutton-static-content-color, var(--spectrum-white));
	--system-action-button-static-black-selected-background-color-disabled: var(--spectrum-disabled-static-black-background-color);
	--system-action-button-static-black-selected-border-color-disabled: transparent;
	--system-action-button-static-white-background-color-default: transparent;
	--system-action-button-static-white-background-color-hover: var(--spectrum-transparent-white-300);
	--system-action-button-static-white-background-color-down: var(--spectrum-transparent-white-400);
	--system-action-button-static-white-background-color-focus: var(--spectrum-transparent-white-300);
	--system-action-button-static-white-border-color-default: var(--spectrum-transparent-white-400);
	--system-action-button-static-white-border-color-hover: var(--spectrum-transparent-white-500);
	--system-action-button-static-white-border-color-down: var(--spectrum-transparent-white-600);
	--system-action-button-static-white-border-color-focus: var(--spectrum-transparent-white-500);
	--system-action-button-static-white-content-color-default: var(--spectrum-white);
	--system-action-button-static-white-content-color-hover: var(--spectrum-white);
	--system-action-button-static-white-content-color-down: var(--spectrum-white);
	--system-action-button-static-white-content-color-focus: var(--spectrum-white);
	--system-action-button-static-white-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);
	--system-action-button-static-white-background-color-disabled: transparent;
	--system-action-button-static-white-border-color-disabled: var(--spectrum-disabled-static-white-border-color);
	--system-action-button-static-white-content-color-disabled: var(--spectrum-disabled-static-white-content-color);
	--system-action-button-static-white-selected-background-color-default: var(--spectrum-transparent-white-800);
	--system-action-button-static-white-selected-background-color-hover: var(--spectrum-transparent-white-900);
	--system-action-button-static-white-selected-background-color-down: var(--spectrum-transparent-white-900);
	--system-action-button-static-white-selected-background-color-focus: var(--spectrum-transparent-white-900);
	--system-action-button-static-white-selected-content-color-default: var(--mod-actionbutton-static-content-color, var(--spectrum-black));
	--system-action-button-static-white-selected-content-color-hover: var(--mod-actionbutton-static-content-color, var(--spectrum-black));
	--system-action-button-static-white-selected-content-color-down: var(--mod-actionbutton-static-content-color, var(--spectrum-black));
	--system-action-button-static-white-selected-content-color-focus: var(--mod-actionbutton-static-content-color, var(--spectrum-black));
	--system-action-button-static-white-selected-background-color-disabled: var(--spectrum-disabled-static-white-background-color);
	--system-action-button-static-white-selected-border-color-disabled: transparent;
	--system-action-button-static-black-quiet-border-color-default: transparent;
	--system-action-button-static-white-quiet-border-color-default: transparent;
	--system-action-button-static-black-quiet-border-color-hover: transparent;
	--system-action-button-static-white-quiet-border-color-hover: transparent;
	--system-action-button-static-black-quiet-border-color-down: transparent;
	--system-action-button-static-white-quiet-border-color-down: transparent;
	--system-action-button-static-black-quiet-border-color-focus: transparent;
	--system-action-button-static-white-quiet-border-color-focus: transparent;
	--system-action-button-static-black-quiet-border-color-disabled: transparent;
	--system-action-button-static-white-quiet-border-color-disabled: transparent;
}
