/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum {
	--system-spectrum-badge-corner-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-badge-line-height: var(--spectrum-line-height-100);
	--system-spectrum-badge-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-spectrum-badge-label-icon-color: var(--spectrum-white);
	--system-spectrum-badge-background-color-default: var(--spectrum-neutral-subdued-background-color-default);
	--system-spectrum-badge-background-color-accent: var(--spectrum-accent-background-color-default);
	--system-spectrum-badge-background-color-informative: var(--spectrum-informative-background-color-default);
	--system-spectrum-badge-background-color-negative: var(--spectrum-negative-background-color-default);
	--system-spectrum-badge-background-color-positive: var(--spectrum-positive-background-color-default);
	--system-spectrum-badge-background-color-notice: var(--spectrum-notice-background-color-default);
	--system-spectrum-badge-background-color-gray: var(--spectrum-gray-background-color-default);
	--system-spectrum-badge-background-color-red: var(--spectrum-red-background-color-default);
	--system-spectrum-badge-background-color-orange: var(--spectrum-orange-background-color-default);
	--system-spectrum-badge-background-color-yellow: var(--spectrum-yellow-background-color-default);
	--system-spectrum-badge-background-color-chartreuse: var(--spectrum-chartreuse-background-color-default);
	--system-spectrum-badge-background-color-celery: var(--spectrum-celery-background-color-default);
	--system-spectrum-badge-background-color-green: var(--spectrum-green-background-color-default);
	--system-spectrum-badge-background-color-seafoam: var(--spectrum-seafoam-background-color-default);
	--system-spectrum-badge-background-color-cyan: var(--spectrum-cyan-background-color-default);
	--system-spectrum-badge-background-color-blue: var(--spectrum-blue-background-color-default);
	--system-spectrum-badge-background-color-indigo: var(--spectrum-indigo-background-color-default);
	--system-spectrum-badge-background-color-purple: var(--spectrum-purple-background-color-default);
	--system-spectrum-badge-background-color-fuchsia: var(--spectrum-fuchsia-background-color-default);
	--system-spectrum-badge-background-color-magenta: var(--spectrum-magenta-background-color-default);
	--system-spectrum-badge-height: var(--spectrum-component-height-100);
	--system-spectrum-badge-font-size: var(--spectrum-font-size-100);
	--system-spectrum-badge-label-spacing-vertical-top: var(--spectrum-component-top-to-text-100);
	--system-spectrum-badge-label-spacing-vertical-bottom: var(--spectrum-component-bottom-to-text-100);
	--system-spectrum-badge-label-spacing-horizontal: var(--spectrum-component-edge-to-text-100);
	--system-spectrum-badge-workflow-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-badge-icon-text-spacing: var(--spectrum-text-to-visual-100);
	--system-spectrum-badge-icon-spacing-horizontal: var(--spectrum-component-edge-to-visual-100);
	--system-spectrum-badge-icon-spacing-vertical-top: var(--spectrum-component-top-to-workflow-icon-100);
	--system-spectrum-badge-icon-only-spacing-horizontal: var(--spectrum-component-edge-to-visual-only-100);
	--system-spectrum-badge-orange-label-icon-color: var(--spectrum-black);
	--system-spectrum-badge-yellow-label-icon-color: var(--spectrum-black);
	--system-spectrum-badge-chartreuse-label-icon-color: var(--spectrum-black);
	--system-spectrum-badge-celery-label-icon-color: var(--spectrum-black);
	--system-spectrum-badge-gray-label-icon-color: var(--spectrum-badge-label-icon-color-primary);
	--system-spectrum-badge-red-label-icon-color: var(--spectrum-badge-label-icon-color-primary);
	--system-spectrum-badge-green-label-icon-color: var(--spectrum-badge-label-icon-color-primary);
	--system-spectrum-badge-seafoam-label-icon-color: var(--spectrum-badge-label-icon-color-primary);
	--system-spectrum-badge-cyan-label-icon-color: var(--spectrum-badge-label-icon-color-primary);
	--system-spectrum-badge-blue-label-icon-color: var(--spectrum-badge-label-icon-color-primary);
	--system-spectrum-badge-indigo-label-icon-color: var(--spectrum-badge-label-icon-color-primary);
	--system-spectrum-badge-purple-label-icon-color: var(--spectrum-badge-label-icon-color-primary);
	--system-spectrum-badge-fuchsia-label-icon-color: var(--spectrum-badge-label-icon-color-primary);
	--system-spectrum-badge-magenta-label-icon-color: var(--spectrum-badge-label-icon-color-primary);
	--system-spectrum-badge-size-s-height: var(--spectrum-component-height-75);
	--system-spectrum-badge-size-s-font-size: var(--spectrum-font-size-75);
	--system-spectrum-badge-size-s-label-spacing-vertical-top: var(--spectrum-component-top-to-text-75);
	--system-spectrum-badge-size-s-label-spacing-vertical-bottom: var(--spectrum-component-bottom-to-text-75);
	--system-spectrum-badge-size-s-label-spacing-horizontal: var(--spectrum-component-edge-to-text-75);
	--system-spectrum-badge-size-s-workflow-icon-size: var(--spectrum-workflow-icon-size-75);
	--system-spectrum-badge-size-s-icon-text-spacing: var(--spectrum-text-to-visual-75);
	--system-spectrum-badge-size-s-icon-spacing-horizontal: var(--spectrum-component-edge-to-visual-75);
	--system-spectrum-badge-size-s-icon-spacing-vertical-top: var(--spectrum-component-top-to-workflow-icon-75);
	--system-spectrum-badge-size-s-icon-only-spacing-horizontal: var(--spectrum-component-edge-to-visual-only-75);
	--system-spectrum-badge-size-l-height: var(--spectrum-component-height-100);
	--system-spectrum-badge-size-l-font-size: var(--spectrum-font-size-200);
	--system-spectrum-badge-size-l-label-spacing-vertical-top: var(--spectrum-component-top-to-text-200);
	--system-spectrum-badge-size-l-label-spacing-vertical-bottom: var(--spectrum-component-bottom-to-text-200);
	--system-spectrum-badge-size-l-label-spacing-horizontal: var(--spectrum-component-edge-to-text-200);
	--system-spectrum-badge-size-l-workflow-icon-size: var(--spectrum-workflow-icon-size-200);
	--system-spectrum-badge-size-l-icon-text-spacing: var(--spectrum-text-to-visual-200);
	--system-spectrum-badge-size-l-icon-spacing-horizontal: var(--spectrum-component-edge-to-visual-200);
	--system-spectrum-badge-size-l-icon-spacing-vertical-top: var(--spectrum-component-top-to-workflow-icon-200);
	--system-spectrum-badge-size-l-icon-only-spacing-horizontal: var(--spectrum-component-edge-to-visual-only-200);
	--system-spectrum-badge-size-xl-height: var(--spectrum-component-height-100);
	--system-spectrum-badge-size-xl-font-size: var(--spectrum-font-size-300);
	--system-spectrum-badge-size-xl-label-spacing-vertical-top: var(--spectrum-component-top-to-text-300);
	--system-spectrum-badge-size-xl-label-spacing-vertical-bottom: var(--spectrum-component-bottom-to-text-300);
	--system-spectrum-badge-size-xl-label-spacing-horizontal: var(--spectrum-component-edge-to-text-300);
	--system-spectrum-badge-size-xl-workflow-icon-size: var(--spectrum-workflow-icon-size-300);
	--system-spectrum-badge-size-xl-icon-text-spacing: var(--spectrum-text-to-visual-300);
	--system-spectrum-badge-size-xl-icon-spacing-horizontal: var(--spectrum-component-edge-to-visual-300);
	--system-spectrum-badge-size-xl-icon-spacing-vertical-top: var(--spectrum-component-top-to-workflow-icon-300);
	--system-spectrum-badge-size-xl-icon-only-spacing-horizontal: var(--spectrum-component-edge-to-visual-only-300);
}
