/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum {
	--system-spectrum-combobox-border-color-default: var(--spectrum-gray-500);
	--system-spectrum-combobox-border-color-hover: var(--spectrum-gray-600);
	--system-spectrum-combobox-border-color-focus: var(--spectrum-gray-500);
	--system-spectrum-combobox-border-color-focus-hover: var(--spectrum-gray-600);
	--system-spectrum-combobox-border-color-key-focus: var(--spectrum-gray-600);
	--system-spectrum-combobox-inline-size: var(--spectrum-field-width);
	--system-spectrum-combobox-block-size: var(--spectrum-component-height-100);
	--system-spectrum-combobox-min-inline-size: calc(var(--spectrum-combo-box-minimum-width-multiplier) * var(--spectrum-combobox-block-size));
	--system-spectrum-combobox-button-width: var(--spectrum-combobox-block-size);
	--system-spectrum-combobox-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-combobox-font-size: var(--spectrum-font-size-100);
	--system-spectrum-combobox-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-medium);
	--system-spectrum-combobox-block-spacing-edge-to-progress-circle: var(--spectrum-field-top-to-progress-circle-medium);
	--system-spectrum-combobox-block-spacing-edge-to-alert: var(--spectrum-field-top-to-alert-icon-medium);
	--system-spectrum-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-medium);
	--system-spectrum-combobox-spacing-block-start-edge-to-text: var(--spectrum-component-top-to-text-100);
	--system-spectrum-combobox-spacing-block-end-edge-to-text: var(--spectrum-component-bottom-to-text-100);
	--system-spectrum-combobox-spacing-inline-start-edge-to-text: var(--spectrum-component-edge-to-text-100);
	--system-spectrum-combobox-spacing-inline-end-edge-to-text: var(--spectrum-component-edge-to-text-100);
	--system-spectrum-combobox-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
	--system-spectrum-combobox-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
	--system-spectrum-combobox-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--system-spectrum-combobox-border-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-combobox-border-width: var(--spectrum-border-width-100);
	--system-spectrum-combobox-spacing-label-to-combobox: var(--spectrum-field-label-to-component);
	--system-spectrum-combobox-font-style: var(--spectrum-default-font-style);
	--system-spectrum-combobox-line-height: var(--spectrum-line-height-100);
	--system-spectrum-combobox-border-color-invalid-default: var(--spectrum-negative-border-color-default);
	--system-spectrum-combobox-border-color-invalid-hover: var(--spectrum-negative-border-color-hover);
	--system-spectrum-combobox-border-color-invalid-focus: var(--spectrum-negative-border-color-focus);
	--system-spectrum-combobox-border-color-invalid-focus-hover: var(--spectrum-negative-border-color-focus-hover);
	--system-spectrum-combobox-border-color-invalid-key-focus: var(--spectrum-negative-border-color-key-focus);
	--system-spectrum-combobox-mod-textfield-focus-indicator-gap: var(--mod-combobox-focus-indicator-gap, var(--spectrum-combobox-focus-indicator-gap));
	--system-spectrum-combobox-mod-textfield-focus-indicator-width: var(--mod-combobox-focus-indicator-thickness, var(--spectrum-combobox-focus-indicator-thickness));
	--system-spectrum-combobox-mod-textfield-focus-indicator-color: var(--mod-combobox-focus-indicator-color, var(--spectrum-combobox-focus-indicator-color));
	--system-spectrum-combobox-mod-textfield-background-color: var(--mod-combobox-background-color-default);
	--system-spectrum-combobox-mod-textfield-background-color-disabled: var(--mod-combobox-background-color-disabled);
	--system-spectrum-combobox-mod-textfield-font-family: var(--mod-combobox-font-family);
	--system-spectrum-combobox-mod-textfield-font-weight: var(--mod-combobox-font-weight);
	--system-spectrum-combobox-mod-textfield-text-color-default: var(--mod-combobox-font-color-default);
	--system-spectrum-combobox-mod-textfield-text-color-hover: var(--mod-combobox-font-color-hover);
	--system-spectrum-combobox-mod-textfield-text-color-focus: var(--mod-combobox-font-color-focus);
	--system-spectrum-combobox-mod-textfield-text-color-focus-hover: var(--mod-combobox-font-color-focus-hover);
	--system-spectrum-combobox-mod-textfield-text-color-keyboard-focus: var(--mod-combobox-font-color-key-focus);
	--system-spectrum-combobox-mod-textfield-text-color-disabled: var(--mod-combobox-font-color-disabled);
	--system-spectrum-combobox-mod-textfield-border-width: var(--mod-combobox-border-width, var(--spectrum-combobox-border-width));
	--system-spectrum-combobox-mod-textfield-border-color: var(--mod-combobox-border-color-default, var(--spectrum-combobox-border-color-default));
	--system-spectrum-combobox-mod-textfield-border-color-disabled: var(--mod-combobox-border-color-disabled);
	--system-spectrum-combobox-mod-textfield-border-color-focus: var(--mod-combobox-border-color-focus, var(--spectrum-combobox-border-color-focus));
	--system-spectrum-combobox-mod-textfield-border-color-focus-hover: var(--mod-combobox-border-color-focus-hover, var(--spectrum-combobox-border-color-focus-hover));
	--system-spectrum-combobox-mod-textfield-border-color-hover: var(--mod-combobox-border-color-hover, var(--spectrum-combobox-border-color-hover));
	--system-spectrum-combobox-mod-textfield-border-color-keyboard-focus: var(--mod-combobox-border-color-key-focus, var(--spectrum-combobox-border-color-key-focus));
	--system-spectrum-combobox-mod-textfield-border-color-invalid-default: var(--mod-combobox-border-color-invalid-default, var(--spectrum-combobox-border-color-invalid-default));
	--system-spectrum-combobox-mod-textfield-border-color-invalid-hover: var(--mod-combobox-border-color-invalid-hover, var(--spectrum-combobox-border-color-invalid-hover));
	--system-spectrum-combobox-mod-textfield-border-color-invalid-focus: var(--mod-combobox-border-color-invalid-focus, var(--spectrum-combobox-border-color-invalid-focus));
	--system-spectrum-combobox-mod-textfield-border-color-invalid-focus-hover: var(--mod-combobox-border-color-invalid-focus-hover, var(--spectrum-combobox-border-color-invalid-focus-hover));
	--system-spectrum-combobox-mod-textfield-border-color-invalid-keyboard-focus: var(--mod-combobox-border-color-invalid-key-focus, var(--spectrum-combobox-border-color-invalid-key-focus));
	--system-spectrum-combobox-mod-textfield-icon-color-invalid: var(--mod-combobox-alert-icon-color);
	--system-spectrum-combobox-mod-picker-button-border-width: var(--mod-combobox-border-width, var(--spectrum-combobox-border-width));
	--system-spectrum-combobox-mod-picker-button-border-color: var(--mod-combobox-border-color-default, var(--spectrum-combobox-border-color-default));
	--system-spectrum-combobox-mod-picker-button-background-color: var(--mod-combobox-background-color-default);
	--system-spectrum-combobox-mod-picker-button-background-color-disabled: var(--mod-combobox-background-color-disabled);
	--system-spectrum-combobox-mod-picker-button-font-color-disabled: var(--mod-combobox-font-color-disabled);
	--system-spectrum-combobox-sizes-block-size: var(--spectrum-component-height-75);
	--system-spectrum-combobox-sizes-icon-size: var(--spectrum-workflow-icon-size-75);
	--system-spectrum-combobox-sizes-font-size: var(--spectrum-font-size-75);
	--system-spectrum-combobox-sizes-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-small);
	--system-spectrum-combobox-sizes-block-spacing-edge-to-progress-circle: var(--spectrum-field-top-to-progress-circle-small);
	--system-spectrum-combobox-sizes-block-spacing-edge-to-alert: var(--spectrum-field-top-to-alert-icon-small);
	--system-spectrum-combobox-sizes-spacing-edge-to-menu: var(--spectrum-component-to-menu-small);
	--system-spectrum-combobox-sizes-spacing-block-start-edge-to-text: var(--spectrum-component-top-to-text-75);
	--system-spectrum-combobox-sizes-spacing-block-end-edge-to-text: var(--spectrum-component-bottom-to-text-75);
	--system-spectrum-combobox-sizes-spacing-inline-start-edge-to-text: var(--spectrum-component-edge-to-text-75);
	--system-spectrum-combobox-sizes-spacing-inline-end-edge-to-text: var(--spectrum-component-edge-to-text-75);
	--system-spectrum-combobox-sizem-block-size: var(--spectrum-component-height-100);
	--system-spectrum-combobox-sizem-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-combobox-sizem-font-size: var(--spectrum-font-size-100);
	--system-spectrum-combobox-sizem-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-medium);
	--system-spectrum-combobox-sizem-block-spacing-edge-to-progress-circle: var(--spectrum-field-top-to-progress-circle-medium);
	--system-spectrum-combobox-sizem-block-spacing-edge-to-alert: var(--spectrum-field-top-to-alert-icon-medium);
	--system-spectrum-combobox-sizem-spacing-edge-to-menu: var(--spectrum-component-to-menu-medium);
	--system-spectrum-combobox-sizem-spacing-block-start-edge-to-text: var(--spectrum-component-top-to-text-100);
	--system-spectrum-combobox-sizem-spacing-block-end-edge-to-text: var(--spectrum-component-bottom-to-text-100);
	--system-spectrum-combobox-sizem-spacing-inline-start-edge-to-text: var(--spectrum-component-edge-to-text-100);
	--system-spectrum-combobox-sizem-spacing-inline-end-edge-to-text: var(--spectrum-component-edge-to-text-100);
	--system-spectrum-combobox-sizel-block-size: var(--spectrum-component-height-200);
	--system-spectrum-combobox-sizel-icon-size: var(--spectrum-workflow-icon-size-200);
	--system-spectrum-combobox-sizel-font-size: var(--spectrum-font-size-200);
	--system-spectrum-combobox-sizel-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-large);
	--system-spectrum-combobox-sizel-block-spacing-edge-to-progress-circle: var(--spectrum-field-top-to-progress-circle-large);
	--system-spectrum-combobox-sizel-block-spacing-edge-to-alert: var(--spectrum-field-top-to-alert-icon-large);
	--system-spectrum-combobox-sizel-spacing-edge-to-menu: var(--spectrum-component-to-menu-large);
	--system-spectrum-combobox-sizel-spacing-block-start-edge-to-text: var(--spectrum-component-top-to-text-200);
	--system-spectrum-combobox-sizel-spacing-block-end-edge-to-text: var(--spectrum-component-bottom-to-text-200);
	--system-spectrum-combobox-sizel-spacing-inline-start-edge-to-text: var(--spectrum-component-edge-to-text-200);
	--system-spectrum-combobox-sizel-spacing-inline-end-edge-to-text: var(--spectrum-component-edge-to-text-200);
	--system-spectrum-combobox-sizexl-block-size: var(--spectrum-component-height-300);
	--system-spectrum-combobox-sizexl-icon-size: var(--spectrum-workflow-icon-size-300);
	--system-spectrum-combobox-sizexl-font-size: var(--spectrum-font-size-300);
	--system-spectrum-combobox-sizexl-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-extra-large);
	--system-spectrum-combobox-sizexl-block-spacing-edge-to-progress-circle: var(--spectrum-field-top-to-progress-circle-extra-large);
	--system-spectrum-combobox-sizexl-block-spacing-edge-to-alert: var(--spectrum-field-top-to-alert-icon-extra-large);
	--system-spectrum-combobox-sizexl-spacing-edge-to-menu: var(--spectrum-component-to-menu-extra-large);
	--system-spectrum-combobox-sizexl-spacing-block-start-edge-to-text: var(--spectrum-component-top-to-text-300);
	--system-spectrum-combobox-sizexl-spacing-block-end-edge-to-text: var(--spectrum-component-bottom-to-text-300);
	--system-spectrum-combobox-sizexl-spacing-inline-start-edge-to-text: var(--spectrum-component-edge-to-text-300);
	--system-spectrum-combobox-sizexl-spacing-inline-end-edge-to-text: var(--spectrum-component-edge-to-text-300);
	--system-spectrum-combobox-quiet-min-inline-size: calc(var(--spectrum-combo-box-quiet-minimum-width-multiplier) * var(--spectrum-combobox-block-size));
	--system-spectrum-combobox-quiet-spacing-inline-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-quiet);
	--system-spectrum-combobox-quiet-spacing-inline-start-edge-to-text: var(--spectrum-field-edge-to-text-quiet);
	--system-spectrum-combobox-quiet-spacing-label-to-combobox: var(--spectrum-field-label-to-component-quiet-medium);
	--system-spectrum-combobox-quiet-button-inline-offset: calc(var(--mod-combobox-block-size, var(--spectrum-combobox-block-size)) / 2 - var(--mod-combobox-icon-size, var(--spectrum-combobox-icon-size)) / 2);
	--system-spectrum-combobox-quiet-mod-picker-button-background-color-quiet: transparent;
	--system-spectrum-combobox-quiet-mod-picker-button-border-color-quiet: transparent;
	--system-spectrum-combobox-quiet-sizes-spacing-label-to-combobox: var(--spectrum-field-label-to-component-quiet-small);
	--system-spectrum-combobox-quiet-sizem-spacing-label-to-combobox: var(--spectrum-field-label-to-component-quiet-medium);
	--system-spectrum-combobox-quiet-sizel-spacing-label-to-combobox: var(--spectrum-field-label-to-component-quiet-large);
	--system-spectrum-combobox-quiet-sizexl-spacing-label-to-combobox: var(--spectrum-field-label-to-component-quiet-extra-large);
}
