/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum {
	--system-floatingactionbutton-floating-action-button-size: var(--spectrum-component-height-200);
	--system-floatingactionbutton-floating-action-button-icon-size: var(--spectrum-workflow-icon-size-200);
	--system-floatingactionbutton-floating-action-button-padding: var(--spectrum-component-pill-edge-to-visual-only-200);
	--system-floatingactionbutton-floating-action-button-margin: var(--spectrum-spacing-200);
	--system-floatingactionbutton-floating-action-button-drop-shadow-x: var(--spectrum-drop-shadow-x);
	--system-floatingactionbutton-floating-action-button-focus-ring-width: var(--spectrum-focus-indicator-thickness);
	--system-floatingactionbutton-floating-action-button-focus-ring-gap: var(--spectrum-focus-indicator-gap);
	--system-floatingactionbutton-floating-action-button-focus-ring-color: var(--spectrum-focus-indicator-color);
	--system-floatingactionbutton-floating-action-button-background-color: var(--spectrum-accent-background-color-default);
	--system-floatingactionbutton-floating-action-button-background-color-hover: var(--spectrum-accent-background-color-hover);
	--system-floatingactionbutton-floating-action-button-background-color-down: var(--spectrum-accent-background-color-down);
	--system-floatingactionbutton-floating-action-button-background-color-key-focus: var(--spectrum-accent-background-color-key-focus);
	--system-floatingactionbutton-floating-action-button-icon-color: var(--spectrum-white);
	--system-floatingactionbutton-floating-action-button-icon-color-hover: var(--spectrum-white);
	--system-floatingactionbutton-floating-action-button-icon-color-down: var(--spectrum-white);
	--system-floatingactionbutton-floating-action-button-icon-color-key-focus: var(--spectrum-white);
	--system-floatingactionbutton-secondary-floating-action-button-background-color: var(--spectrum-background-layer-2-color);
	--system-floatingactionbutton-secondary-floating-action-button-background-color-hover: var(--spectrum-background-layer-2-color);
	--system-floatingactionbutton-secondary-floating-action-button-background-color-down: var(--spectrum-background-layer-2-color);
	--system-floatingactionbutton-secondary-floating-action-button-background-color-key-focus: var(--spectrum-background-layer-2-color);
	--system-floatingactionbutton-secondary-floating-action-button-icon-color: var(--spectrum-neutral-subdued-content-color-default);
	--system-floatingactionbutton-secondary-floating-action-button-icon-color-hover: var(--spectrum-neutral-subdued-content-color-hover);
	--system-floatingactionbutton-secondary-floating-action-button-icon-color-down: var(--spectrum-neutral-subdued-content-color-down);
	--system-floatingactionbutton-secondary-floating-action-button-icon-color-key-focus: var(--spectrum-neutral-subdued-content-color-key-focus);
}
