/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum.spectrum--legacy {
	--system-infield-button-border-width: var(--spectrum-border-width-100);
	--system-infield-button-border-color: inherit;
	--system-infield-button-border-radius: var(--spectrum-corner-radius-100);
	--system-infield-button-border-radius-reset: 0;
	--system-infield-button-stacked-top-border-radius-start-start: var(--system-infield-button-border-radius-reset);
	--system-infield-button-stacked-bottom-border-radius-end-start: var(--system-infield-button-border-radius-reset);
	--system-infield-button-background-color: var(--spectrum-gray-75);
	--system-infield-button-background-color-hover: var(--spectrum-gray-200);
	--system-infield-button-background-color-down: var(--spectrum-gray-300);
	--system-infield-button-background-color-key-focus: var(--spectrum-gray-200);
	--system-infield-button-height: var(--spectrum-component-height-100);
	--system-infield-button-width: var(--spectrum-component-height-100);
	--system-infield-button-stacked-border-radius-reset: var(--spectrum-in-field-button-fill-stacked-inner-border-rounding);
	--system-infield-button-edge-to-fill: var(--spectrum-in-field-button-edge-to-fill);
	--system-infield-button-inner-edge-to-fill: var(--spectrum-in-field-button-stacked-inner-edge-to-fill);
	--system-infield-button-fill-padding: 0px;
	--system-infield-button-stacked-fill-padding-inline: var(--spectrum-in-field-button-edge-to-disclosure-icon-stacked-medium);
	--system-infield-button-stacked-fill-padding-outer: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-medium);
	--system-infield-button-stacked-fill-padding-inner: var(--spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-medium);
	--system-infield-button-animation-duration: var(--spectrum-animation-duration-100);
	--system-infield-button-icon-color: var(--spectrum-neutral-content-color-default);
	--system-infield-button-icon-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-infield-button-icon-color-down: var(--spectrum-neutral-content-color-down);
	--system-infield-button-icon-color-key-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-infield-button-fill-justify-content: center;
	--system-infield-button-disabled-background-color: var(--mod-infield-button-background-color-disabled, var(--spectrum-disabled-background-color));
	--system-infield-button-disabled-background-color-hover: var(--mod-infield-button-background-color-hover-disabled, var(--spectrum-disabled-background-color));
	--system-infield-button-disabled-background-color-down: var(--mod-infield-button-background-color-down-disabled, var(--spectrum-disabled-background-color));
	--system-infield-button-disabled-border-color: var(--mod-infield-button-border-color-disabled, var(--spectrum-disabled-background-color));
	--system-infield-button-disabled-icon-color: var(--mod-infield-button-icon-color-disabled, var(--spectrum-disabled-content-color));
	--system-infield-button-disabled-icon-color-hover: var(--mod-infield-button-icon-color-hover-disabled, var(--spectrum-disabled-content-color));
	--system-infield-button-disabled-icon-color-down: var(--mod-infield-button-icon-color-down-disabled, var(--spectrum-disabled-content-color));
	--system-infield-button-disabled-icon-color-key-focus: var(--mod-infield-button-icon-color-key-focus-disabled, var(--spectrum-disabled-content-color));
	--system-infield-button-size-s-height: var(--spectrum-component-height-75);
	--system-infield-button-size-s-width: var(--spectrum-component-height-75);
	--system-infield-button-size-s-stacked-fill-padding-inline: var(--spectrum-in-field-button-edge-to-disclosure-icon-stacked-small);
	--system-infield-button-size-s-stacked-fill-padding-outer: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-small);
	--system-infield-button-size-s-stacked-fill-padding-inner: var(--spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-small);
	--system-infield-button-size-l-height: var(--spectrum-component-height-200);
	--system-infield-button-size-l-width: var(--spectrum-component-height-200);
	--system-infield-button-size-l-stacked-fill-padding-inline: var(--spectrum-in-field-button-edge-to-disclosure-icon-stacked-large);
	--system-infield-button-size-l-stacked-fill-padding-outer: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-large);
	--system-infield-button-size-l-stacked-fill-padding-inner: var(--spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-large);
	--system-infield-button-size-xl-height: var(--spectrum-component-height-300);
	--system-infield-button-size-xl-width: var(--spectrum-component-height-300);
	--system-infield-button-size-xl-stacked-fill-padding-inline: var(--spectrum-in-field-button-edge-to-disclosure-icon-stacked-extra-large);
	--system-infield-button-size-xl-stacked-fill-padding-outer: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-extra-large);
	--system-infield-button-size-xl-stacked-fill-padding-inner: var(--spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-extra-large);
	--system-infield-button-top-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-medium));
	--system-infield-button-bottom-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-medium));
	--system-infield-button-top-size-s-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-small));
	--system-infield-button-bottom-size-s-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-small));
	--system-infield-button-top-size-l-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-large));
	--system-infield-button-bottom-size-l-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-large));
	--system-infield-button-top-size-xl-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-extra-large));
	--system-infield-button-bottom-size-xl-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-extra-large));
	--system-infield-button-quiet-background-color: var(--mod-infield-button-background-color-quiet, transparent);
	--system-infield-button-quiet-background-color-hover: var(--mod-infield-button-background-color-hover-quiet, transparent);
	--system-infield-button-quiet-background-color-down: var(--mod-infield-button-background-color-down-quiet, transparent);
	--system-infield-button-quiet-background-color-key-focus: var(--mod-infield-button-background-color-key-focus-quiet, transparent);
	--system-infield-button-quiet-infield-border-color: var(--mod-infield-border-color-quiet, transparent);
	--system-infield-button-quiet-border-width: var(--mod-infield-button-border-width-quiet, 0);
	--system-infield-button-quiet-disabled-background-color: var(--mod-infield-button-background-color-quiet-disabled, transparent);
	--system-infield-button-quiet-disabled-border-color: var(--mod-infield-button-border-color-quiet-disabled, transparent);
}
