/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum.spectrum--legacy {
	--system-side-nav-focus-ring-size: var(--spectrum-focus-indicator-thickness);
	--system-side-nav-focus-ring-gap: var(--spectrum-focus-indicator-gap);
	--system-side-nav-focus-ring-color: var(--spectrum-focus-indicator-color);
	--system-side-nav-min-height: var(--spectrum-component-height-100);
	--system-side-nav-width: 100%;
	--system-side-nav-min-width: var(--spectrum-side-navigation-minimum-width);
	--system-side-nav-max-width: var(--spectrum-side-navigation-maximum-width);
	--system-side-nav-border-radius: var(--spectrum-corner-radius-100);
	--system-side-nav-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-side-nav-icon-spacing: var(--spectrum-text-to-visual-100);
	--system-side-nav-inline-padding: var(--spectrum-component-edge-to-text-100);
	--system-side-nav-gap: var(--spectrum-side-navigation-item-to-item);
	--system-side-nav-top-to-icon: var(--spectrum-component-top-to-workflow-icon-100);
	--system-side-nav-top-to-label: var(--spectrum-component-top-to-text-100);
	--system-side-nav-bottom-to-label: var(--spectrum-side-navigation-bottom-to-text);
	--system-side-nav-start-to-content-second-level: var(--spectrum-side-navigation-second-level-edge-to-text);
	--system-side-nav-start-to-content-third-level: var(--spectrum-side-navigation-third-level-edge-to-text);
	--system-side-nav-start-to-content-with-icon-second-level: var(--spectrum-side-navigation-with-icon-second-level-edge-to-text);
	--system-side-nav-start-to-content-with-icon-third-level: var(--spectrum-side-navigation-with-icon-third-level-edge-to-text);
	--system-side-nav-heading-top-margin: var(--spectrum-side-navigation-item-to-header);
	--system-side-nav-heading-bottom-margin: var(--spectrum-side-navigation-header-to-item);
	--system-side-nav-background-disabled: transparent;
	--system-side-nav-background-default: transparent;
	--system-side-nav-background-hover: var(--spectrum-gray-100);
	--system-side-nav-item-background-down: var(--spectrum-gray-200);
	--system-side-nav-background-key-focus: var(--spectrum-gray-100);
	--system-side-nav-item-background-default-selected: var(--spectrum-gray-100);
	--system-side-nav-background-hover-selected: var(--spectrum-gray-200);
	--system-side-nav-item-background-down-selected: var(--spectrum-gray-200);
	--system-side-nav-background-key-focus-selected: var(--spectrum-gray-100);
	--system-side-nav-header-color: var(--spectrum-gray-600);
	--system-side-nav-content-disabled-color: var(--spectrum-disabled-content-color);
	--system-side-nav-content-color-default: var(--spectrum-neutral-content-color-default);
	--system-side-nav-content-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-side-nav-content-color-down: var(--spectrum-neutral-content-color-down);
	--system-side-nav-content-color-key-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-side-nav-content-color-default-selected: var(--spectrum-neutral-content-color-default);
	--system-side-nav-content-color-hover-selected: var(--spectrum-neutral-content-color-hover);
	--system-side-nav-content-color-down-selected: var(--spectrum-neutral-content-color-down);
	--system-side-nav-content-color-key-focus-selected: var(--spectrum-neutral-content-color-key-focus);
	--system-side-nav-text-font-family: var(--spectrum-sans-font-family-stack);
	--system-side-nav-text-font-weight: var(--spectrum-regular-font-weight);
	--system-side-nav-text-font-style: var(--spectrum-default-font-style);
	--system-side-nav-text-font-size: var(--spectrum-font-size-100);
	--system-side-nav-text-line-height: var(--spectrum-line-height-100);
	--system-side-nav-top-level-font-family: var(--spectrum-sans-font-family-stack);
	--system-side-nav-top-level-font-weight: var(--spectrum-bold-font-weight);
	--system-side-nav-top-level-font-style: var(--spectrum-default-font-style);
	--system-side-nav-top-level-font-size: var(--spectrum-font-size-100);
	--system-side-nav-top-level-line-height: var(--spectrum-line-height-100);
	--system-side-nav-header-font-family: var(--spectrum-sans-font-family-stack);
	--system-side-nav-header-font-weight: var(--spectrum-medium-font-weight);
	--system-side-nav-header-font-style: var(--spectrum-default-font-style);
	--system-side-nav-header-font-size: var(--spectrum-font-size-75);
	--system-side-nav-header-line-height: var(--spectrum-line-height-100);
	--system-side-nav-lang-ja-text-line-height: var(--spectrum-cjk-line-height-100);
	--system-side-nav-lang-zh-text-line-height: var(--spectrum-cjk-line-height-100);
	--system-side-nav-lang-ko-text-line-height: var(--spectrum-cjk-line-height-100);
	--system-side-nav-lang-ja-top-level-line-height: var(--spectrum-cjk-line-height-100);
	--system-side-nav-lang-zh-top-level-line-height: var(--spectrum-cjk-line-height-100);
	--system-side-nav-lang-ko-top-level-line-height: var(--spectrum-cjk-line-height-100);
	--system-side-nav-lang-ja-header-line-height: var(--spectrum-cjk-line-height-100);
	--system-side-nav-lang-zh-header-line-height: var(--spectrum-cjk-line-height-100);
	--system-side-nav-lang-ko-header-line-height: var(--spectrum-cjk-line-height-100);
}
