/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum--legacy {
	--system-slider-slider-track-color: var(--spectrum-gray-300);
	--system-slider-slider-track-fill-color: var(--spectrum-gray-700);
	--system-slider-slider-ramp-track-color: var(--spectrum-gray-400);
	--system-slider-slider-ramp-track-color-disabled: var(--spectrum-gray-200);
	--system-slider-slider-handle-background-color: transparent;
	--system-slider-slider-handle-background-color-disabled: transparent;
	--system-slider-slider-ramp-handle-background-color: var(--spectrum-gray-100);
	--system-slider-slider-ticks-handle-background-color: var(--spectrum-gray-100);
	--system-slider-slider-handle-border-color: var(--spectrum-gray-700);
	--system-slider-slider-handle-disabled-background-color: var(--spectrum-gray-100);
	--system-slider-slider-tick-mark-color: var(--spectrum-gray-300);
	--system-slider-slider-handle-border-color-hover: var(--spectrum-gray-800);
	--system-slider-slider-handle-border-color-down: var(--spectrum-gray-800);
	--system-slider-slider-handle-border-color-key-focus: var(--spectrum-gray-800);
	--system-slider-slider-handle-focus-ring-color-key-focus: var(--spectrum-focus-indicator-color);
	--system-slider-slider-font-size: var(--spectrum-font-size-75);
	--system-slider-slider-handle-size: var(--spectrum-slider-handle-size-medium);
	--system-slider-slider-control-height: var(--spectrum-component-height-100);
	--system-slider-slider-handle-border-radius: var(--spectrum-corner-radius-200);
	--system-slider-slider-handle-border-width-down: var(--spectrum-slider-handle-border-width-down-medium);
	--system-slider-slider-label-top-to-text: var(--spectrum-component-top-to-text-75);
	--system-slider-slider-control-to-field-label: var(--spectrum-slider-control-to-field-label-medium);
	--system-slider-slider-value-side-padding-inline: var(--spectrum-spacing-200);
	--system-slider-slider-value-inline-size: 18px;
	--system-slider-dir-rtl-logical-rotation: matrix(-1, 0, 0, 1, 0, 0);
	--system-slider-size-s-slider-font-size: var(--spectrum-font-size-75);
	--system-slider-size-s-slider-handle-size: var(--spectrum-slider-handle-size-small);
	--system-slider-size-s-slider-control-height: var(--spectrum-component-height-75);
	--system-slider-size-s-slider-handle-border-radius: var(--spectrum-corner-radius-200);
	--system-slider-size-s-slider-handle-border-width-down: var(--spectrum-slider-handle-border-width-down-small);
	--system-slider-size-s-slider-label-top-to-text: var(--spectrum-component-top-to-text-75);
	--system-slider-size-s-slider-control-to-field-label: var(--spectrum-slider-control-to-field-label-small);
	--system-slider-size-s-slider-value-side-padding-inline: var(--spectrum-spacing-100);
	--system-slider-size-l-slider-font-size: var(--spectrum-font-size-100);
	--system-slider-size-l-slider-handle-size: var(--spectrum-slider-handle-size-large);
	--system-slider-size-l-slider-control-height: var(--spectrum-component-height-200);
	--system-slider-size-l-slider-handle-border-radius: calc(var(--spectrum-corner-radius-200) * 4);
	--system-slider-size-l-slider-handle-border-width-down: var(--spectrum-slider-handle-border-width-down-large);
	--system-slider-size-l-slider-label-top-to-text: var(--spectrum-component-top-to-text-100);
	--system-slider-size-l-slider-control-to-field-label: var(--spectrum-slider-control-to-field-label-large);
	--system-slider-size-l-slider-value-side-padding-inline: var(--spectrum-spacing-200);
	--system-slider-size-l-slider-value-inline-size: 18px;
	--system-slider-size-xl-slider-font-size: var(--spectrum-font-size-200);
	--system-slider-size-xl-slider-handle-size: var(--spectrum-slider-handle-size-extra-large);
	--system-slider-size-xl-slider-control-height: var(--spectrum-component-height-300);
	--system-slider-size-xl-slider-handle-border-radius: calc(var(--spectrum-corner-radius-200) * 4);
	--system-slider-size-xl-slider-handle-border-width-down: var(--spectrum-slider-handle-border-width-down-extra-large);
	--system-slider-size-xl-slider-label-top-to-text: var(--spectrum-component-top-to-text-200);
	--system-slider-size-xl-slider-control-to-field-label: var(--spectrum-slider-control-to-field-label-extra-large);
	--system-slider-size-xl-slider-value-side-padding-inline: var(--spectrum-spacing-200);
	--system-slider-size-xl-slider-value-inline-size: 22px;
	--system-slider-slider-cjk-line-height: var(--spectrum-cjk-line-height-100);
	--system-slider-slider-min-size: var(--spectrum-spacing-900);
	--system-slider-slider-track-corner-radius: var(--spectrum-corner-radius-75);
	--system-slider-slider-label-margin-start: var(--spectrum-spacing-300);
	--system-slider-slider-handle-border-width: var(--spectrum-border-width-200);
	--system-slider-slider-handle-margin-left: calc(var(--spectrum-slider-handle-size) / -2);
	--system-slider-slider-controls-margin: calc(var(--spectrum-slider-handle-size) / 2);
	--system-slider-slider-track-margin-offset: calc(var(--system-slider-slider-controls-margin) * -1);
	--system-slider-slider-track-middle-handleoffset: calc(var(--spectrum-slider-handle-gap) + var(--spectrum-slider-handle-size) / 2);
	--system-slider-slider-input-top-size: calc(var(--spectrum-slider-handle-size) / -2 / 4);
	--system-slider-slider-track-fill-thickness: var(--spectrum-slider-track-thickness);
	--system-slider-slider-tick-mark-width: var(--spectrum-border-width-200);
	--system-slider-slider-tick-mark-border-radius: 2px;
	--system-slider-slider-tick-handle-background-color: var(--spectrum-gray-75);
	--system-slider-slider-track-color-disabled: var(--spectrum-disabled-background-color);
	--system-slider-slider-track-fill-color-disabled: var(--spectrum-disabled-background-color);
	--system-slider-slider-handle-border-color-disabled: var(--spectrum-disabled-border-color);
	--system-slider-slider-label-text-color: var(--spectrum-neutral-content-color-default);
	--system-slider-slider-tick-label-color: var(--spectrum-neutral-content-color-default);
	--system-slider-slider-label-text-color-disabled: var(--spectrum-disabled-content-color);
	--system-slider-slider-tick-mark-color-disabled: var(--spectrum-disabled-background-color);
	--system-slider-slider-ramp-handle-border-color-active: var(--spectrum-gray-75);
	--system-slider-slider-input-left: calc(var(--system-slider-slider-handle-margin-left) / 4);
	--system-slider-slider-track-handleoffset: var(--spectrum-slider-handle-gap);
	--system-slider-slider-range-track-reset: 0;
}
