/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum {
	--system-spectrum-tag-border-color: var(--spectrum-gray-700);
	--system-spectrum-tag-border-color-hover: var(--spectrum-gray-800);
	--system-spectrum-tag-border-color-active: var(--spectrum-gray-900);
	--system-spectrum-tag-border-color-focus: var(--spectrum-gray-800);
	--system-spectrum-tag-size-small-corner-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-tag-size-medium-corner-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-tag-size-large-corner-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-tag-background-color: var(--spectrum-gray-50);
	--system-spectrum-tag-background-color-hover: var(--spectrum-gray-50);
	--system-spectrum-tag-background-color-active: var(--spectrum-gray-100);
	--system-spectrum-tag-background-color-focus: var(--spectrum-gray-50);
	--system-spectrum-tag-content-color: var(--spectrum-neutral-subdued-content-color-default);
	--system-spectrum-tag-content-color-hover: var(--spectrum-neutral-subdued-content-color-hover);
	--system-spectrum-tag-content-color-active: var(--spectrum-neutral-subdued-content-color-down);
	--system-spectrum-tag-content-color-focus: var(--spectrum-neutral-subdued-content-color-key-focus);
	--system-spectrum-tag-border-color-selected: var(--spectrum-neutral-subdued-background-color-default);
	--system-spectrum-tag-border-color-selected-hover: var(--spectrum-neutral-subdued-background-color-hover);
	--system-spectrum-tag-border-color-selected-active: var(--spectrum-neutral-subdued-background-color-down);
	--system-spectrum-tag-border-color-selected-focus: var(--spectrum-neutral-subdued-background-color-key-focus);
	--system-spectrum-tag-border-color-disabled: transparent;
	--system-spectrum-tag-background-color-disabled: var(--spectrum-disabled-background-color);
	--system-spectrum-tag-size-small-spacing-inline-start: var(--spectrum-component-edge-to-visual-75);
	--system-spectrum-tag-size-small-label-spacing-inline-end: var(--spectrum-component-edge-to-text-75);
	--system-spectrum-tag-size-small-clear-button-spacing-inline-end: var(--spectrum-component-edge-to-visual-75);
	--system-spectrum-tag-size-medium-spacing-inline-start: var(--spectrum-component-edge-to-visual-100);
	--system-spectrum-tag-size-medium-label-spacing-inline-end: var(--spectrum-component-edge-to-text-100);
	--system-spectrum-tag-size-medium-clear-button-spacing-inline-end: var(--spectrum-component-edge-to-visual-100);
	--system-spectrum-tag-size-large-spacing-inline-start: var(--spectrum-component-edge-to-visual-200);
	--system-spectrum-tag-size-large-label-spacing-inline-end: var(--spectrum-component-edge-to-text-200);
	--system-spectrum-tag-size-large-clear-button-spacing-inline-end: var(--spectrum-component-edge-to-visual-200);
	--system-spectrum-tag-spectrum-avatar-opacity-disabled: 0.3;
	--system-spectrum-tag-animation-duration: var(--spectrum-animation-duration-100);
	--system-spectrum-tag-border-width: var(--spectrum-border-width-100);
	--system-spectrum-tag-focus-ring-thickness: var(--spectrum-focus-indicator-thickness);
	--system-spectrum-tag-focus-ring-gap: var(--spectrum-focus-indicator-gap);
	--system-spectrum-tag-focus-ring-color: var(--spectrum-focus-indicator-color);
	--system-spectrum-tag-label-line-height: var(--spectrum-line-height-100);
	--system-spectrum-tag-label-font-weight: var(--spectrum-regular-font-weight);
	--system-spectrum-tag-content-color-selected: var(--spectrum-gray-25);
	--system-spectrum-tag-background-color-selected: var(--spectrum-neutral-background-color-selected-default);
	--system-spectrum-tag-background-color-selected-hover: var(--spectrum-neutral-background-color-selected-hover);
	--system-spectrum-tag-background-color-selected-active: var(--spectrum-neutral-background-color-selected-down);
	--system-spectrum-tag-background-color-selected-focus: var(--spectrum-neutral-background-color-selected-key-focus);
	--system-spectrum-tag-border-color-invalid: var(--spectrum-negative-color-900);
	--system-spectrum-tag-border-color-invalid-hover: var(--spectrum-negative-color-1000);
	--system-spectrum-tag-border-color-invalid-active: var(--spectrum-negative-color-1100);
	--system-spectrum-tag-border-color-invalid-focus: var(--spectrum-negative-color-1000);
	--system-spectrum-tag-content-color-invalid: var(--spectrum-negative-content-color-default);
	--system-spectrum-tag-content-color-invalid-hover: var(--spectrum-negative-content-color-hover);
	--system-spectrum-tag-content-color-invalid-active: var(--spectrum-negative-content-color-down);
	--system-spectrum-tag-content-color-invalid-focus: var(--spectrum-negative-content-color-key-focus);
	--system-spectrum-tag-border-color-invalid-selected: var(--spectrum-negative-background-color-default);
	--system-spectrum-tag-border-color-invalid-selected-hover: var(--spectrum-negative-background-color-hover);
	--system-spectrum-tag-border-color-invalid-selected-focus: var(--spectrum-negative-background-color-down);
	--system-spectrum-tag-border-color-invalid-selected-active: var(--spectrum-negative-background-color-key-focus);
	--system-spectrum-tag-background-color-invalid-selected: var(--spectrum-negative-background-color-default);
	--system-spectrum-tag-background-color-invalid-selected-hover: var(--spectrum-negative-background-color-hover);
	--system-spectrum-tag-background-color-invalid-selected-active: var(--spectrum-negative-background-color-down);
	--system-spectrum-tag-background-color-invalid-selected-focus: var(--spectrum-negative-background-color-key-focus);
	--system-spectrum-tag-content-color-invalid-selected: var(--spectrum-white);
	--system-spectrum-tag-border-color-emphasized: var(--spectrum-accent-background-color-default);
	--system-spectrum-tag-border-color-emphasized-hover: var(--spectrum-accent-background-color-hover);
	--system-spectrum-tag-border-color-emphasized-active: var(--spectrum-accent-background-color-down);
	--system-spectrum-tag-border-color-emphasized-focus: var(--spectrum-accent-background-color-key-focus);
	--system-spectrum-tag-background-color-emphasized: var(--spectrum-accent-background-color-default);
	--system-spectrum-tag-background-color-emphasized-hover: var(--spectrum-accent-background-color-hover);
	--system-spectrum-tag-background-color-emphasized-active: var(--spectrum-accent-background-color-down);
	--system-spectrum-tag-background-color-emphasized-focus: var(--spectrum-accent-background-color-key-focus);
	--system-spectrum-tag-content-color-emphasized: var(--spectrum-white);
	--system-spectrum-tag-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-tag-icon-spacing-inline-end: var(--spectrum-text-to-visual-100);
	--system-spectrum-tag-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-tag-icon-spacing-block-start: var(--spectrum-component-top-to-workflow-icon-100);
	--system-spectrum-tag-icon-spacing-block-end: var(--spectrum-component-top-to-workflow-icon-100);
	--system-spectrum-tag-avatar-spacing-block-start: var(--spectrum-tag-top-to-avatar-medium);
	--system-spectrum-tag-avatar-spacing-block-end: var(--spectrum-tag-top-to-avatar-medium);
	--system-spectrum-tag-avatar-spacing-inline-end: var(--spectrum-text-to-visual-100);
	--system-spectrum-tag-label-spacing-block: var(--spectrum-component-top-to-text-100);
	--system-spectrum-tag-clear-button-spacing-inline-start: var(--spectrum-text-to-visual-100);
	--system-spectrum-tag-height: var(--spectrum-component-height-100);
	--system-spectrum-tag-font-size: var(--spectrum-font-size-100);
	--system-spectrum-tag-clear-button-spacing-block: var(--spectrum-tag-top-to-cross-icon-medium);
	--system-spectrum-tag-sizes-height: var(--spectrum-component-height-75);
	--system-spectrum-tag-sizes-font-size: var(--spectrum-font-size-75);
	--system-spectrum-tag-sizes-icon-size: var(--spectrum-workflow-icon-size-75);
	--system-spectrum-tag-sizes-clear-button-spacing-inline-start: var(--spectrum-text-to-visual-75);
	--system-spectrum-tag-sizes-clear-button-spacing-block: var(--spectrum-tag-top-to-cross-icon-small);
	--system-spectrum-tag-sizes-icon-spacing-block-start: var(--spectrum-component-top-to-workflow-icon-75);
	--system-spectrum-tag-sizes-icon-spacing-block-end: var(--spectrum-component-top-to-workflow-icon-75);
	--system-spectrum-tag-sizes-icon-spacing-inline-end: var(--spectrum-text-to-visual-75);
	--system-spectrum-tag-sizes-avatar-spacing-block-start: var(--spectrum-tag-top-to-avatar-small);
	--system-spectrum-tag-sizes-avatar-spacing-block-end: var(--spectrum-tag-top-to-avatar-small);
	--system-spectrum-tag-sizes-avatar-spacing-inline-end: var(--spectrum-text-to-visual-75);
	--system-spectrum-tag-sizes-label-spacing-block: var(--spectrum-component-top-to-text-75);
	--system-spectrum-tag-sizes-corner-radius: var(--spectrum-tag-size-small-corner-radius);
	--system-spectrum-tag-sizes-spacing-inline-start: var(--spectrum-tag-size-small-spacing-inline-start);
	--system-spectrum-tag-sizes-label-spacing-inline-end: var(--spectrum-tag-size-small-label-spacing-inline-end);
	--system-spectrum-tag-sizes-clear-button-spacing-inline-end: var(--spectrum-tag-size-small-clear-button-spacing-inline-end);
	--system-spectrum-tag-sizem-height: var(--spectrum-component-height-100);
	--system-spectrum-tag-sizem-font-size: var(--spectrum-font-size-100);
	--system-spectrum-tag-sizem-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-tag-sizem-clear-button-spacing-inline-start: var(--spectrum-text-to-visual-100);
	--system-spectrum-tag-sizem-clear-button-spacing-block: var(--spectrum-tag-top-to-cross-icon-medium);
	--system-spectrum-tag-sizem-icon-spacing-block-start: var(--spectrum-component-top-to-workflow-icon-100);
	--system-spectrum-tag-sizem-icon-spacing-block-end: var(--spectrum-component-top-to-workflow-icon-100);
	--system-spectrum-tag-sizem-icon-spacing-inline-end: var(--spectrum-text-to-visual-100);
	--system-spectrum-tag-sizem-avatar-spacing-block-start: var(--spectrum-tag-top-to-avatar-medium);
	--system-spectrum-tag-sizem-avatar-spacing-block-end: var(--spectrum-tag-top-to-avatar-medium);
	--system-spectrum-tag-sizem-avatar-spacing-inline-end: var(--spectrum-text-to-visual-100);
	--system-spectrum-tag-sizem-label-spacing-block: var(--spectrum-component-top-to-text-100);
	--system-spectrum-tag-sizem-corner-radius: var(--spectrum-tag-size-medium-corner-radius);
	--system-spectrum-tag-sizem-spacing-inline-start: var(--spectrum-tag-size-medium-spacing-inline-start);
	--system-spectrum-tag-sizem-label-spacing-inline-end: var(--spectrum-tag-size-medium-label-spacing-inline-end);
	--system-spectrum-tag-sizem-clear-button-spacing-inline-end: var(--spectrum-tag-size-medium-clear-button-spacing-inline-end);
	--system-spectrum-tag-sizel-height: var(--spectrum-component-height-200);
	--system-spectrum-tag-sizel-font-size: var(--spectrum-font-size-200);
	--system-spectrum-tag-sizel-icon-size: var(--spectrum-workflow-icon-size-200);
	--system-spectrum-tag-sizel-clear-button-spacing-inline-start: var(--spectrum-text-to-visual-200);
	--system-spectrum-tag-sizel-clear-button-spacing-block: var(--spectrum-tag-top-to-cross-icon-large);
	--system-spectrum-tag-sizel-icon-spacing-block-start: var(--spectrum-component-top-to-workflow-icon-200);
	--system-spectrum-tag-sizel-icon-spacing-block-end: var(--spectrum-component-top-to-workflow-icon-200);
	--system-spectrum-tag-sizel-icon-spacing-inline-end: var(--spectrum-text-to-visual-200);
	--system-spectrum-tag-sizel-avatar-spacing-block-start: var(--spectrum-tag-top-to-avatar-large);
	--system-spectrum-tag-sizel-avatar-spacing-block-end: var(--spectrum-tag-top-to-avatar-large);
	--system-spectrum-tag-sizel-avatar-spacing-inline-end: var(--spectrum-text-to-visual-200);
	--system-spectrum-tag-sizel-label-spacing-block: var(--spectrum-component-top-to-text-200);
	--system-spectrum-tag-sizel-corner-radius: var(--spectrum-tag-size-large-corner-radius);
	--system-spectrum-tag-sizel-spacing-inline-start: var(--spectrum-tag-size-large-spacing-inline-start);
	--system-spectrum-tag-sizel-label-spacing-inline-end: var(--spectrum-tag-size-large-label-spacing-inline-end);
	--system-spectrum-tag-sizel-clear-button-spacing-inline-end: var(--spectrum-tag-size-large-clear-button-spacing-inline-end);
}
