/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum {
	--system-spectrum-treeview-line-height: var(--spectrum-line-height-200);
	--system-spectrum-treeview-margin-block: 1em;
	--system-spectrum-treeview-font-size: var(--spectrum-font-size-100);
	--system-spectrum-treeview-item-min-block-size: var(--spectrum-component-height-100);
	--system-spectrum-treeview-item-indentation: var(--spectrum-treeview-item-indentation-medium);
	--system-spectrum-treeview-item-padding-inline-start: var(--spectrum-component-height-100);
	--system-spectrum-treeview-item-padding-inline-end: var(--spectrum-component-edge-to-text-100);
	--system-spectrum-treeview-section-spacing: var(--spectrum-treeview-item-indentation-medium);
	--system-spectrum-treeview-heading-font-weight: var(--spectrum-bold-font-weight);
	--system-spectrum-treeview-heading-bottom-to-text: var(--spectrum-component-edge-to-text-100);
	--system-spectrum-treeview-heading-color: var(--spectrum-heading-color);
	--system-spectrum-treeview-item-border-size: var(--spectrum-border-width-200);
	--system-spectrum-treeview-item-border-size-selected: 1px;
	--system-spectrum-treeview-item-border-radius: 0px;
	--system-spectrum-treeview-item-border-color-selected: var(--spectrum-blue-800);
	--system-spectrum-treeview-item-border-color-focus: var(--spectrum-blue-700);
	--system-spectrum-treeview-item-background-color-hover: var(--spectrum-gray-100);
	--system-spectrum-treeview-item-background-color-focus: var(--spectrum-gray-100);
	--system-spectrum-treeview-item-border-color-quiet-selected: transparent;
	--system-spectrum-treeview-item-icon-gap: var(--spectrum-text-to-visual-75);
	--system-spectrum-treeview-item-icon-color: var(--spectrum-gray-700);
	--system-spectrum-treeview-item-icon-color-hover: var(--spectrum-gray-900);
	--system-spectrum-treeview-item-icon-color-focus: var(--spectrum-gray-900);
	--system-spectrum-treeview-item-icon-color-selected: var(--spectrum-gray-900);
	--system-spectrum-treeview-item-icon-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-treeview-item-text-color: var(--spectrum-neutral-content-color-default);
	--system-spectrum-treeview-item-text-color-selected: var(--spectrum-gray-900);
	--system-spectrum-treeview-item-text-color-disabled: var(--spectrum-gray-500);
	--system-spectrum-treeview-item-text-color-focus: var(--spectrum-gray-900);
	--system-spectrum-treeview-item-text-color-hover: var(--spectrum-gray-900);
	--system-spectrum-treeview-indicator-margin-inline-start: calc(var(--spectrum-component-height-100) * -1);
	--system-spectrum-treeview-indicator-padding: var(--spectrum-disclosure-indicator-top-to-disclosure-icon-medium);
	--system-spectrum-treeview-item-min-block-size-thumbnail-offset: var(--spectrum-treeview-item-min-block-size-thumbnail-offset-medium, 0px);
	--system-spectrum-treeview-indicator-animation-duration: var(--spectrum-animation-duration-100);
	--system-spectrum-treeview-dir-rtl-logical-rotation: matrix(-1, 0, 0, 1, 0, 0);
	--system-spectrum-treeview-size-s-font-size: var(--spectrum-font-size-75);
	--system-spectrum-treeview-size-s-item-min-block-size: var(--spectrum-component-height-75);
	--system-spectrum-treeview-size-s-item-indentation: var(--spectrum-treeview-item-indentation-small);
	--system-spectrum-treeview-size-s-heading-bottom-to-text: var(--spectrum-component-edge-to-text-75);
	--system-spectrum-treeview-size-s-item-padding-inline-start: var(--spectrum-component-height-75);
	--system-spectrum-treeview-size-s-indicator-margin-inline-start: calc(var(--spectrum-component-height-75) * -1);
	--system-spectrum-treeview-size-s-item-padding-inline-end: var(--spectrum-component-edge-to-text-75);
	--system-spectrum-treeview-size-s-indicator-padding: var(--spectrum-disclosure-indicator-top-to-disclosure-icon-small);
	--system-spectrum-treeview-size-s-item-min-block-size-thumbnail-offset: 6px;
	--system-spectrum-treeview-size-l-font-size: var(--spectrum-font-size-200);
	--system-spectrum-treeview-size-l-item-indentation: var(--spectrum-treeview-item-indentation-large);
	--system-spectrum-treeview-size-l-item-min-block-size: var(--spectrum-component-height-200);
	--system-spectrum-treeview-size-l-heading-bottom-to-text: var(--spectrum-component-edge-to-text-200);
	--system-spectrum-treeview-size-l-item-padding-inline-start: var(--spectrum-component-height-200);
	--system-spectrum-treeview-size-l-indicator-margin-inline-start: calc(var(--spectrum-component-height-200) * -1);
	--system-spectrum-treeview-size-l-item-padding-inline-end: var(--spectrum-component-edge-to-text-200);
	--system-spectrum-treeview-size-l-indicator-padding: var(--spectrum-disclosure-indicator-top-to-disclosure-icon-large);
	--system-spectrum-treeview-size-l-item-min-block-size-thumbnail-offset: 0px;
	--system-spectrum-treeview-size-xl-font-size: var(--spectrum-font-size-300);
	--system-spectrum-treeview-size-xl-item-indentation: var(--spectrum-treeview-item-indentation-extra-large);
	--system-spectrum-treeview-size-xl-item-min-block-size: var(--spectrum-component-height-300);
	--system-spectrum-treeview-size-xl-heading-bottom-to-text: var(--spectrum-component-edge-to-text-300);
	--system-spectrum-treeview-size-xl-item-padding-inline-start: var(--spectrum-component-height-300);
	--system-spectrum-treeview-size-xl-indicator-margin-inline-start: calc(var(--spectrum-component-height-300) * -1);
	--system-spectrum-treeview-size-xl-item-padding-inline-end: var(--spectrum-component-edge-to-text-300);
	--system-spectrum-treeview-size-xl-indicator-padding: var(--spectrum-disclosure-indicator-top-to-disclosure-icon-extra-large);
	--system-spectrum-treeview-size-xl-item-min-block-size-thumbnail-offset: 0px;
	--system-spectrum-treeview-quiet-treeview-item-background-color-selected: var(--highcontrast-treeview-item-background-color-selected, var(--mod-treeview-item-background-color-quiet-selected, var(--spectrum-treeview-item-background-color-quiet-selected)));
	--system-spectrum-treeview-quiet-treeview-item-border-color-selected: var(--highcontrast-treeview-item-border-color-selected, var(--mod-treeview-item-border-color-selected-quiet, transparent));
	--system-spectrum-treeview-thumbnail-treeview-item-min-block-size: var(--mod-treeview-item-min-block-size-thumbnail, calc(var(--spectrum-treeview-item-min-block-size) + var(--spectrum-treeview-item-min-block-size-thumbnail-offset)));
	--system-spectrum-treeview-detached-treeview-item-border-radius: var(--mod-treeview-item-border-radius-detached, var(--spectrum-corner-radius-100));
}
