/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import "./themes/spectrum-two.css";

/* Windows high contrast mode */
@media (forced-colors: active) {
	.spectrum-Link {
		--highcontrast-link-text-color-primary-default: LinkText;
		--highcontrast-link-text-color-primary-hover: LinkText;
		--highcontrast-link-text-color-primary-active: LinkText;
		--highcontrast-link-text-color-primary-focus: LinkText;

		--highcontrast-link-text-color-secondary-default: LinkText;
		--highcontrast-link-text-color-secondary-hover: LinkText;
		--highcontrast-link-text-color-secondary-active: LinkText;
		--highcontrast-link-text-color-secondary-focus: LinkText;

		--highcontrast-link-text-color-white: LinkText;
		--highcontrast-link-text-color-black: LinkText;
	}
}

.spectrum-Link {
	/* Remove the gray background on active links in IE 10. */
	background-color: transparent;

	/* Remove gaps in links underline in iOS 8+ and Safari 8+. */
	text-decoration-skip: objects;
	text-decoration: underline;
	transition: color var(--mod-link-animation-duration, var(--spectrum-link-animation-duration)) ease-in-out;
	outline: none;
	cursor: pointer;

	color: var(--highcontrast-link-text-color-primary-default, var(--mod-link-text-color-primary-default, var(--spectrum-link-text-color-primary-default)));

	&:hover {
		color: var(--highcontrast-link-text-color-primary-hover, var(--mod-link-text-color-primary-hover, var(--spectrum-link-text-color-primary-hover)));
	}

	&:active {
		color: var(--highcontrast-link-text-color-primary-active, var(--mod-link-text-color-primary-active, var(--spectrum-link-text-color-primary-active)));
	}

	&:focus-visible {
		color: var(--highcontrast-link-text-color-primary-focus, var(--mod-link-text-color-primary-focus, var(--spectrum-link-text-color-primary-focus)));
		text-decoration: underline;
		text-decoration-style: double;
		text-decoration-color: var(--highcontrast-link-focus-color, inherit);
	}
}

.spectrum-Link--secondary {
	color: var(--highcontrast-link-text-color-secondary-default, var(--mod-link-text-color-secondary-default, var(--spectrum-link-text-color-secondary-default)));

	&:hover {
		color: var(--highcontrast-link-text-color-secondary-hover, var(--mod-link-text-color-secondary-hover, var(--spectrum-link-text-color-secondary-hover)));
	}

	&:active {
		color: var(--highcontrast-link-text-color-secondary-active, var(--mod-link-text-color-secondary-active, var(--spectrum-link-text-color-secondary-active)));
	}

	&:focus {
		color: var(--highcontrast-link-text-color-secondary-focus, var(--mod-link-text-color-secondary-focus, var(--spectrum-link-text-color-secondary-focus)));
	}
}

.spectrum-Link--quiet {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.spectrum-Link--staticWhite {
	color: var(--highcontrast-link-text-color-white, var(--mod-link-text-color-white, var(--spectrum-link-text-color-white)));

	&:hover,
	&:active,
	&:focus {
		color: var(--highcontrast-link-text-color-white, var(--mod-link-text-color-white, var(--spectrum-link-text-color-white)));
	}
}

.spectrum-Link--staticBlack {
	color: var(--highcontrast-link-text-color-black, var(--mod-link-text-color-black, var(--spectrum-link-text-color-black)));

	&:hover,
	&:active,
	&:focus {
		color: var(--highcontrast-link-text-color-black, var(--mod-link-text-color-black, var(--spectrum-link-text-color-black)));
	}
}
