/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-Link {
	/* Focus state */
	--spectrum-link-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--spectrum-link-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
	--spectrum-link-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
	--spectrum-link-corner-radius: var(--spectrum-corner-radius-100);

	/* Typography */
	--spectrum-link-default-font-family: var(--spectrum-sans-font-family-stack);

	/* Standalone */
	--spectrum-link-line-height: var(--spectrum-line-height-100);
	--spectrum-link-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--spectrum-link-font-size: var(--spectrum-font-size-100);
	--spectrum-link-font-style: var(--spectrum-default-font-style);
	--spectrum-link-font-weight: var(--spectrum-medium-font-weight);
	--spectrum-link-text-underline-thickness: var(--spectrum-text-underline-thickness);
	--spectrum-link-text-underline-gap: var(--spectrum-text-underline-gap);

	/* Inline */
	--spectrum-link-inline-font-weight: var(--spectrum-regular-font-weight);

	/* Remove the gray background on active links in IE 10. */
	background-color: transparent;

	/* Remove gaps in links underline in iOS 8+ and Safari 8+. */
	text-decoration-skip: objects;
	text-decoration: underline;
	transition: color var(--mod-link-animation-duration, var(--spectrum-animation-duration-100)) ease-in-out;
	outline: none;
	cursor: pointer;

	color: var(--highcontrast-link-text-color, var(--mod-link-text-color, var(--spectrum-accent-content-color-default)));
	font-family: var(--spectrum-link-default-font-family);
	font-weight: var(--spectrum-link-font-weight);
	font-size: var(--spectrum-link-font-size);
	font-style: var(--spectrum-link-font-style);
	line-height: var(--spectrum-link-line-height);
	text-decoration-thickness: var(--spectrum-link-text-underline-thickness);
	text-underline-offset: var(--spectrum-link-text-underline-gap);

	&:hover {
		--mod-link-text-color: var(--mod-link-text-color-hover, var(--spectrum-accent-content-color-hover));
	}

	&:active {
		--mod-link-text-color: var(--mod-link-text-color-active, var(--spectrum-accent-content-color-down));
	}

	&:focus-visible {
		--mod-link-text-color: var(--mod-link-text-color-focus, var(--spectrum-accent-content-color-key-focus));

		outline: var(--spectrum-link-focus-indicator-thickness) solid var(--highcontrast-link-focus-indicator-color, var(--spectrum-link-focus-indicator-color));
		padding: var(--spectrum-link-focus-indicator-gap);
		border-radius: var(--spectrum-link-corner-radius);
	}

	&:lang(ja),
	&:lang(zh),
	&:lang(ko) {
		line-height: var(--mod-link-line-height-cjk, var(--spectrum-link-line-height-cjk));
	}
}

.spectrum-Link--secondary {
	--mod-link-text-color: var(--mod-link-text-color-secondary-default, var(--spectrum-neutral-content-color-default));
	--mod-link-text-color-hover: var(--mod-link-text-color-secondary-hover, var(--spectrum-neutral-content-color-hover));
	--mod-link-text-color-active: var(--mod-link-text-color-secondary-active, var(--spectrum-neutral-content-color-down));
	--mod-link-text-color-focus: var(--mod-link-text-color-secondary-focus, var(--spectrum-neutral-content-color-key-focus));
}

.spectrum-Link--quiet {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.spectrum-Link--inline {
	--spectrum-link-font-weight: var(--mod-link-inline-font-weight, var(--spectrum-link-inline-font-weight));
}

.spectrum-Link--staticWhite {
	--mod-link-text-color: var(--mod-link-text-color-white, var(--spectrum-white));
	--mod-link-text-color-hover: var(--mod-link-text-color-white, var(--spectrum-white));
	--mod-link-text-color-active: var(--mod-link-text-color-white, var(--spectrum-white));
	--mod-link-text-color-focus: var(--mod-link-text-color-white, var(--spectrum-white));

	--spectrum-link-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);
}

.spectrum-Link--staticBlack {
	--mod-link-text-color: var(--mod-link-text-color-black, var(--spectrum-black));
	--mod-link-text-color-hover: var(--mod-link-text-color-black, var(--spectrum-black));
	--mod-link-text-color-active: var(--mod-link-text-color-black, var(--spectrum-black));
	--mod-link-text-color-focus: var(--mod-link-text-color-black, var(--spectrum-black));

	--spectrum-link-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);
}

/* Windows high contrast mode */
@media (forced-colors: active) {
	.spectrum-Link {
		--highcontrast-link-text-color: LinkText;
		--highcontrast-link-focus-indicator-color: LinkText;
	}
}
