/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/**
 * @namespace spectrum
 * @component Link
 * @modifiers secondary, quiet, staticWhite, staticBlack
 */
.spectrum-Link {
  --spectrum-link-animation-duration: var(--spectrum-animation-duration-100);

  --spectrum-link-text-color-white: var(--spectrum-white);
  --spectrum-link-text-color-black: var(--spectrum-black);

  --spectrum-link-text-color: var(
    --highcontrast-link-text-color-primary-default,
    var(
      --mod-link-text-color-primary-default,
      var(--spectrum-accent-content-color-default)
    )
  );

  /* Remove gaps in links underline in iOS 8+ and Safari 8+. */
  text-decoration-skip: objects;
  text-decoration: underline;
  transition: color
    var(--mod-link-animation-duration, var(--spectrum-link-animation-duration))
    ease-in-out;
  outline: none;
  cursor: pointer;

  color: var(
    --highcontrast-link-text-color,
    var(--mod-link-text-color-primary-default, var(--spectrum-link-text-color))
  );

  &:hover {
    --spectrum-link-text-color: var(
      --mod-link-text-color-primary-hover,
      var(--spectrum-accent-content-color-hover)
    );
  }

  &:active {
    --spectrum-link-text-color: var(
      --mod-link-text-color-primary-active,
      var(--spectrum-accent-content-color-down)
    );
  }

  &:focus-visible {
    --spectrum-link-text-color: var(
      --mod-link-text-color-primary-focus,
      var(--spectrum-accent-content-color-key-focus)
    );

    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: var(--highcontrast-link-focus-color, inherit);
  }
}

/* Windows high contrast mode */
@media (forced-colors: active) {
  .spectrum-Link {
    --highcontrast-link-text-color: LinkText;
  }
}

.spectrum-Link--secondary {
  --spectrum-link-text-color: var(
    --mod-link-text-color-secondary-default,
    var(--spectrum-neutral-content-color-default)
  );

  &:hover {
    --spectrum-link-text-color: var(
      --highcontrast-link-text-color-secondary-hover,
      var(
        --mod-link-text-color-secondary-hover,
        var(--spectrum-neutral-content-color-hover)
      )
    );
  }

  &:active {
    --spectrum-link-text-color: var(
      --mod-link-text-color-secondary-active,
      var(--spectrum-neutral-content-color-down)
    );
  }

  &:focus-visible {
    --spectrum-link-text-color: var(
      --mod-link-text-color-secondary-focus,
      var(--spectrum-neutral-content-color-key-focus)
    );
  }
}

.spectrum-Link--quiet {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.spectrum-Link--staticWhite {
  --spectrum-link-text-color: var(
    --mod-link-text-color-white,
    var(--spectrum-link-text-color-white)
  );

  &:hover,
  &:active,
  &:focus-visible {
    --spectrum-link-text-color: var(
      --mod-link-text-color-white,
      var(--spectrum-link-text-color-white)
    );
  }
}

.spectrum-Link--staticBlack {
  --spectrum-link-text-color: var(
    --mod-link-text-color-black,
    var(--spectrum-link-text-color-black)
  );

  &:hover,
  &:active,
  &:focus-visible {
    --spectrum-link-text-color: var(
      --mod-link-text-color-black,
      var(--spectrum-link-text-color-black)
    );
  }
}
