/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Tags-item {
  color: var(--spectrum-tag-text-color);
  background-color: var(--spectrum-tag-background-color);
  border-color: var(--spectrum-tag-border-color);

  .spectrum-ClearButton {
    color: var(--spectrum-tag-removable-icon-color);
  }

  &:hover {
    background-color: var(--spectrum-tag-background-color-hover);
    color: var(--spectrum-tag-text-color-hover);
    border-color: var(--spectrum-tag-border-color-hover);

    .spectrum-ClearButton {
      color: var(--spectrum-tag-removable-icon-color-hover);
    }
  }

  &.focus-ring {
    background-color: var(--spectrum-tag-background-color-key-focus);
    color: var(--spectrum-tag-text-color-key-focus);
    border-color: var(--spectrum-tag-border-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-alias-focus-ring-size) var(--spectrum-tag-border-color-key-focus);

    .spectrum-ClearButton {
      color: var(--spectrum-tag-removable-icon-color-key-focus);
    }
  }

  &.is-selected {
    background-color: var(--spectrum-tag-background-color-selected);
    color: var(--spectrum-tag-text-color-selected);
    border-color: var(--spectrum-tag-border-color-selected);

    .spectrum-Tags-itemIcon {
      color: var(--spectrum-tag-icon-color-selected);
    }

    &:hover {
      background-color: var(--spectrum-tag-background-color-selected-hover);
    }

    &.focus-ring {
      box-shadow: 0 0 0 var(--spectrum-alias-focus-ring-size) var(--spectrum-tag-border-color-selected-key-focus);
      border-color: var(--spectrum-tag-text-color-selected-key-focus);
    }

    &.is-invalid {
      border-color: var(--spectrum-tag-border-color-error-selected);
      background-color: var(--spectrum-tag-background-color-error-selected);
      .spectrum-Tags-itemIcon,
      .spectrum-Tags-itemLabel,
      .spectrum-Tags-itemClearButton {
        color: var(--spectrum-tag-text-color-error-selected);
      }
      &.focus-ring {
        box-shadow: 0 0 0 var(--spectrum-alias-focus-ring-size) var(--spectrum-tag-border-color-error-selected-key-focus);
        border-color: var(--spectrum-tag-text-color-selected-key-focus);
      }
      &:hover {
        border-color: var(--spectrum-tag-border-color-selected);
        background-color: var(--spectrum-tag-background-color-error-selected-hover);
        .spectrum-Tags-itemIcon {
          color: var(--spectrum-tag-icon-color-selected);
        }
      }
    }
  }

  &.is-invalid {
    color: var(--spectrum-tag-icon-color-error);
    border-color: var(--spectrum-tag-border-color-error);

    &:hover {
      color: var(--spectrum-tag-icon-color-error-hover);
      border-color: var(--spectrum-tag-border-color-error-hover);

      .spectrum-Tags-itemIcon,
      .spectrum-Tags-itemClearButton {
        color: var(--spectrum-tag-icon-color-error-hover);
      }
    }

    &.focus-ring {
      color: var(--spectrum-tag-icon-color-error-hover);
      border-color: var(--spectrum-tag-border-color-key-focus);
      box-shadow: 0 0 0 var(--spectrum-alias-focus-ring-size) var(--spectrum-tag-border-color-key-focus);
    }

    .spectrum-Tags-itemIcon,
    .spectrum-Tags-itemClearButton {
      color: var(--spectrum-tag-icon-color-error);
    }

  }

  &.is-disabled {
    color: var(--spectrum-tag-text-color-disabled);
    background-color: var(--spectrum-tag-background-color-disabled);
    border-color: var(--spectrum-tag-border-color-disabled);

    .spectrum-Avatar {
      /* Duplicated so state is on the tag */
      opacity: var(--spectrum-avatar-size-100-opacity-disabled);
    }

    .spectrum-Tags-itemIcon {
      color: var(--spectrum-tag-icon-color-disabled);
    }
  }
}

.spectrum-Tags-item--removable {
  &:hover {
    color: var(--spectrum-tag-removable-text-color-hover);

    .spectrum-ClearButton {
      color: var(--spectrum-tag-removable-icon-color-hover);
    }
  }

  &:active {
    color: var(--spectrum-tag-removable-text-color-down);

    .spectrum-ClearButton {
      color: var(--spectrum-tag-removable-icon-color-down);
    }
  }

  &.is-invalid {
    &:hover {
      border-color: var(--spectrum-tag-removable-border-color-error-hover);
      color: var(--spectrum-tag-removable-text-color-error-hover);

      .spectrum-ClearButton {
        color: var(--spectrum-tag-removable-icon-color-error-hover);
      }
    }

    &:active {
      border-color: var(--spectrum-tag-removable-border-color-error-down);
      color: var(--spectrum-tag-removable-text-color-error-down);

      .spectrum-ClearButton {
        color: var(--spectrum-tag-removable-icon-color-error-down);
      }
    }
  }

  &:focus-ring {
    color: var(--spectrum-tag-removable-text-color-key-focus);

    .spectrum-ClearButton {
      color: var(--spectrum-tag-removable-icon-color-key-focus);
    }
  }

  &.is-selected {
    color: var(--spectrum-tag-removable-text-color-selected);
    &.is-focused {
       color: var(--spectrum-tag-removable-text-color-selected-key-focus);
    }
    .spectrum-Tags-itemClearButton {
      color: var(--spectrum-tag-removable-button-icon-color-selected);
      &:hover {
         color: var(--spectrum-tag-removable-button-icon-color-selected-hover);
      }
    }
    &.is-invalid {
      color: var(--spectrum-tag-removable-text-color-error-key-focus);
    }
  }

  .spectrum-Tags-itemClearButton {
    &.is-focused {
      border-color: var(--spectrum-tag-removable-border-color-key-focus);
      background-color: var(--spectrum-tag-removable-button-background-color-key-focus);
      color: var(--spectrum-tag-removable-button-icon-color-key-focus);
    }
    &:hover {
      color: var(--spectrum-tag-removable-button-icon-color-hover);
    }
    &:active {
      background-color: var(--spectrum-tag-removable-button-background-color-hover);
    }
  }
}
