@import '../commons/index.css';

/* topdoc
{{ tags/tags.yml }}
*/
/* topdoc
{{ tags/tags-deletable.yml }}
*/

.spectrum-Tags {
  display: inline-block;

  margin: 0;
  padding: 0;
  list-style: none;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.spectrum-Tags-item {
  float: left;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;

  margin: calc(var(--spectrum-taggroup-tag-gap-y) / 2) calc(var(--spectrum-taggroup-tag-gap-x) / 2);
  padding: 0 calc(var(--spectrum-tag-padding-x) - var(--spectrum-tag-border-size));
  height: var(--spectrum-tag-height);
  max-width: 100%;

  border-width: var(--spectrum-tag-border-size);
  border-style: solid;
  border-radius: var(--spectrum-border-radius);
  outline: none;
  user-select: none;

  transition: border-color var(--spectrum-global-animation-duration-100) ease-in-out,
    color var(--spectrum-global-animation-duration-100) ease-in-out,
    box-shadow var(--spectrum-global-animation-duration-100) ease-in-out,
    background-color var(--spectrum-global-animation-duration-100) ease-in-out;

  &.is-disabled {
    pointer-events: none;
  }

  > .spectrum-Icon,
  > .spectrum-Avatar {
    margin-right: var(--spectrum-tag-icon-padding-x);

    /* Add padding for "avatar" variant */
    margin-left: calc(var(--spectrum-tag-avatar-padding-x) - var(--spectrum-tag-padding-x));

    ~ .spectrum-Tags-itemLabel {
      margin-right: calc(var(--spectrum-tag-avatar-padding-x) - var(--spectrum-tag-padding-x));
    }
  }

  .spectrum-ClearButton {
    margin-right: calc(-1 * var(--spectrum-tag-padding-x));
  }
}

.spectrum-Tags-itemLabel {
  height: 100%;
  line-height: calc(var(--spectrum-tag-height) - calc(var(--spectrum-tag-border-size) * 2));
  flex: 1 1 auto;
  font-size: var(--spectrum-tag-text-size);
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
