/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/**
 * @namespace spectrum
 * @component Code
 * @category Typography
 * @sizes XS, S, M, L, XL
 * @descendents strong, emphasized
 */
.spectrum-Code {
	/* Code tokens */
	--spectrum-code-font-family: var(--spectrum-code-font-family-stack);
	--spectrum-code-cjk-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--spectrum-code-font-color: var(--spectrum-code-color);
	margin-block-start: 0;
	margin-block-end: 0;

	/* Code styles */
	font-family: var(--mod-code-font-family, var(--spectrum-code-font-family));
	font-size: var(--mod-code-font-size, var(--spectrum-code-font-size));
	font-weight: var(--mod-code-font-weight, var(--spectrum-code-font-weight));
	font-style: var(--mod-code-font-style, var(--spectrum-code-font-style));
	line-height: var(--mod-code-line-height, var(--spectrum-code-line-height));
	color: var(--highcontrast-code-font-color, var(--mod-code-font-color, var(--spectrum-code-font-color)));

	strong,
	.spectrum-Code-strong {
		font-weight: var(--mod-code-strong-font-weight, var(--spectrum-code-strong-font-weight));
		font-style: var(--mod-code-strong-font-style, var(--spectrum-code-strong-font-style));
	}

	em,
	.spectrum-Code-emphasized {
		font-weight: var(--mod-code-emphasized-font-weight, var(--spectrum-code-emphasized-font-weight));
		font-style: var(--mod-code-emphasized-font-style, var(--spectrum-code-emphasized-font-style));
	}

	.spectrum-Code-strong.spectrum-Code-emphasized,
	em strong,
	strong em {
		font-weight: var(--mod-code-strong-emphasized-font-weight, var(--spectrum-code-strong-emphasized-font-weight));
		font-style: var(--mod-code-strong-emphasized-font-style, var(--spectrum-code-strong-emphasized-font-style));
	}

	&:lang(zh),
	&:lang(ja),
	&:lang(ko) {
		font-family: var(--mod-code-cjk-font-family, var(--spectrum-code-cjk-font-family));
		font-weight: var(--mod-code-cjk-font-weight, var(--spectrum-code-cjk-font-weight));
		font-style: var(--mod-code-cjk-font-style, var(--spectrum-code-cjk-font-style));
		line-height: var(--mod-code-cjk-line-height, var(--spectrum-code-cjk-line-height));
		letter-spacing: var(--mod-code-cjk-letter-spacing, var(--spectrum-code-cjk-letter-spacing));

		strong,
		.spectrum-Code-strong {
			font-weight: var(--mod-code-cjk-strong-font-weight, var(--spectrum-code-cjk-strong-font-weight));
			font-style: var(--mod-code-cjk-strong-font-style, var(--spectrum-code-cjk-strong-font-style));
		}

		em,
		.spectrum-Code-emphasized {
			font-weight: var(--mod-code-cjk-emphasized-font-weight, var(--spectrum-code-cjk-emphasized-font-weight));
			font-style: var(--mod-code-cjk-emphasized-font-style, var(--spectrum-code-cjk-emphasized-font-style));
		}

		.spectrum-Code-strong.spectrum-Code-emphasized,
		em strong,
		strong em {
			font-weight: var(
				--mod-code-cjk-strong-emphasized-font-weight,
				var(--spectrum-code-cjk-strong-emphasized-font-weight)
			);
			font-style: var(
				--mod-code-cjk-strong-emphasized-font-style,
				var(--spectrum-code-cjk-strong-emphasized-font-style)
			);
		}
	}
}

/* Code t-shirt sizes */
.spectrum-Code--sizeXS {
	--spectrum-code-font-size: var(--spectrum-code-size-xs);
}

.spectrum-Code--sizeS {
	--spectrum-code-font-size: var(--spectrum-code-size-s);
}

.spectrum-Code--sizeM {
	--spectrum-code-font-size: var(--spectrum-code-size-m);
}

.spectrum-Code--sizeL {
	--spectrum-code-font-size: var(--spectrum-code-size-l);
}

.spectrum-Code--sizeXL {
	--spectrum-code-font-size: var(--spectrum-code-size-xl);
}

/* Windows high contrast mode */
@media (forced-colors: active) {
	.spectrum-Code {
		--highcontrast-code-font-color: text;
	}
}
