/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/**
 * @namespace spectrum
 * @component Detail
 * @category Typography
 * @sizes S, M, L, XL
 * @descendents strong, emphasized
 * @modifiers serif, light
 */
.spectrum-Detail {
	/* Detail tokens */
	--spectrum-detail-sans-serif-font-family: var(--spectrum-sans-font-family-stack);
	--spectrum-detail-serif-font-family: var(--spectrum-serif-font-family-stack);
	--spectrum-detail-cjk-font-family: var(--spectrum-cjk-font-family-stack);

	--spectrum-detail-margin-start: calc(
		var(--mod-detail-font-size, var(--spectrum-detail-font-size)) * var(--spectrum-detail-margin-top-multiplier)
	);
	--spectrum-detail-margin-end: calc(
		var(--mod-detail-font-size, var(--spectrum-detail-font-size)) * var(--spectrum-detail-margin-bottom-multiplier)
	);

	--spectrum-detail-font-color: var(--spectrum-detail-color);
	margin-block-start: 0;
	margin-block-end: 0;

	font-family: var(--mod-detail-sans-serif-font-family, var(--spectrum-detail-sans-serif-font-family));
	font-size: var(--mod-detail-font-size, var(--spectrum-detail-font-size));
	font-weight: var(--mod-detail-sans-serif-font-weight, var(--spectrum-detail-sans-serif-font-weight));
	font-style: var(--mod-detail-sans-serif-font-style, var(--spectrum-detail-sans-serif-font-style));
	line-height: var(--mod-detail-line-height, var(--spectrum-detail-line-height));
	color: var(--highcontrast-detail-font-color, var(--mod-detail-font-color, var(--spectrum-detail-font-color)));
	text-transform: uppercase;
	letter-spacing: var(--mod-detail-letter-spacing, var(--spectrum-detail-letter-spacing));

	/* Detail styles */
	strong,
	.spectrum-Detail-strong {
		font-weight: var(--mod-detail-sans-serif-strong-font-weight, var(--spectrum-detail-sans-serif-strong-font-weight));
		font-style: var(--mod-detail-sans-serif-strong-font-style, var(--spectrum-detail-sans-serif-strong-font-style));
	}

	em,
	.spectrum-Detail-emphasized {
		font-weight: var(
			--mod-detail-sans-serif-emphasized-font-weight,
			var(--spectrum-detail-sans-serif-emphasized-font-weight)
		);
		font-style: var(
			--mod-detail-sans-serif-emphasized-font-style,
			var(--spectrum-detail-sans-serif-emphasized-font-style)
		);
	}

	.spectrum-Detail-strong.spectrum-Detail-emphasized,
	em strong,
	strong em {
		font-weight: var(
			--mod-detail-sans-serif-strong-emphasized-font-weight,
			var(--spectrum-detail-sans-serif-strong-emphasized-font-weight)
		);
		font-style: var(
			--mod-detail-sans-serif-strong-emphasized-font-style,
			var(--spectrum-detail-sans-serif-strong-emphasized-font-style)
		);
	}

	&:lang(zh),
	&:lang(ja),
	&:lang(ko) {
		font-family: var(--mod-detail-cjk-font-family, var(--spectrum-detail-cjk-font-family));
		font-weight: var(--mod-detail-cjk-font-weight, var(--spectrum-detail-cjk-font-weight));
		font-style: var(--mod-detail-cjk-font-style, var(--spectrum-detail-cjk-font-style));
		line-height: var(--mod-detail-cjk-line-height, var(--spectrum-detail-cjk-line-height));

		strong,
		.spectrum-Detail-strong {
			font-weight: var(--mod-detail-cjk-strong-font-weight, var(--spectrum-detail-cjk-strong-font-weight));
			font-style: var(--mod-detail-cjk-strong-font-style, var(--spectrum-detail-cjk-strong-font-style));
		}

		em,
		.spectrum-Detail-emphasized {
			font-weight: var(--mod-detail-cjk-emphasized-font-weight, var(--spectrum-detail-cjk-emphasized-font-weight));
			font-style: var(--mod-detail-cjk-emphasized-font-style, var(--spectrum-detail-cjk-emphasized-font-style));
		}

		.spectrum-Detail-strong.spectrum-Detail-emphasized,
		em strong,
		strong em {
			font-weight: var(
				--mod-detail-cjk-strong-emphasized-font-weight,
				var(--spectrum-detail-cjk-strong-emphasized-font-weight)
			);
			font-style: var(
				--mod-detail-cjk-strong-emphasized-font-style,
				var(--spectrum-detail-cjk-strong-emphasized-font-style)
			);
		}
	}

	/* Add margin when inside a Typography component */
	.spectrum-Typography & {
		margin-block-start: var(--mod-detail-margin-start, var(--spectrum-detail-margin-start));
		margin-block-end: var(--mod-detail-margin-end, var(--spectrum-detail-margin-end));
	}
}

/* Windows high contrast mode */
@media (forced-colors: active) {
	.spectrum-Typography {
		--highcontrast-detail-font-color: text;
	}
}

/* Detail t-shirt sizes */
.spectrum-Detail--sizeS {
	--spectrum-detail-font-size: var(--spectrum-detail-size-s);
}

.spectrum-Detail--sizeM {
	--spectrum-detail-font-size: var(--spectrum-detail-size-m);
}

.spectrum-Detail--sizeL {
	--spectrum-detail-font-size: var(--spectrum-detail-size-l);
}

.spectrum-Detail--sizeXL {
	--spectrum-detail-font-size: var(--spectrum-detail-size-xl);
}

.spectrum-Detail--serif.spectrum-Detail--light {
	font-weight: var(--mod-detail-serif-light-font-weight, var(--spectrum-detail-serif-light-font-weight));
	font-style: var(--mod-detail-serif-light-font-style, var(--spectrum-detail-serif-light-font-style));

	strong,
	.spectrum-Detail-strong {
		font-weight: var(
			--mod-detail-serif-light-strong-font-weight,
			var(--spectrum-detail-serif-light-strong-font-weight)
		);
		font-style: var(--mod-detail-serif-light-strong-font-style, var(--spectrum-detail-serif-light-strong-font-style));
	}

	em,
	.spectrum-Detail-emphasized {
		font-weight: var(
			--mod-detail-serif-light-emphasized-font-weight,
			var(--spectrum-detail-serif-light-emphasized-font-weight)
		);
		font-style: var(
			--mod-detail-serif-light-emphasized-font-style,
			var(--spectrum-detail-serif-light-emphasized-font-style)
		);
	}

	.spectrum-Detail-strong.spectrum-Body-emphasized,
	em strong,
	strong em {
		font-weight: var(
			--mod-detail-serif-light-strong-emphasized-font-weight,
			var(--spectrum-detail-serif-light-strong-emphasized-font-weight)
		);
		font-style: var(
			--mod-detail-serif-light-strong-emphasized-font-style,
			var(--spectrum-detail-serif-light-strong-emphasized-font-style)
		);
	}
}

.spectrum-Detail--serif {
	font-family: var(--mod-detail-serif-font-family, var(--spectrum-detail-serif-font-family));
	font-weight: var(--mod-detail-serif-font-weight, var(--spectrum-detail-serif-font-weight));
	font-style: var(--mod-detail-serif-font-style, var(--spectrum-detail-serif-font-style));

	strong,
	.spectrum-Detail-strong {
		font-weight: var(--mod-detail-serif-strong-font-weight, var(--spectrum-detail-serif-strong-font-weight));
		font-style: var(--mod-detail-serif-strong-font-style, var(--spectrum-detail-serif-strong-font-style));
	}

	em,
	.spectrum-Detail-emphasized {
		font-weight: var(--mod-detail-serif-emphasized-font-weight, var(--spectrum-detail-serif-emphasized-font-weight));
		font-style: var(--mod-detail-serif-emphasized-font-style, var(--spectrum-detail-serif-emphasized-font-style));
	}

	.spectrum-Detail-strong.spectrum-Detail-emphasized,
	em strong,
	strong em {
		font-weight: var(
			--mod-detail-serif-strong-emphasized-font-weight,
			var(--spectrum-detail-serif-strong-emphasized-font-weight)
		);
		font-style: var(
			--mod-detail-serif-strong-emphasized-font-style,
			var(--spectrum-detail-serif-strong-emphasized-font-style)
		);
	}
}

/* Detail - Light  */
.spectrum-Detail--light {
	font-weight: var(--spectrum-detail-sans-serif-light-font-weight, var(--spectrum-detail-sans-serif-light-font-weight));
	font-style: var(--mod-detail-sans-serif-light-font-style, var(--spectrum-detail-sans-serif-light-font-style));

	strong,
	.spectrum-Detail-strong {
		font-weight: var(
			--mod-detail-sans-serif-light-strong-font-weight,
			var(--spectrum-detail-sans-serif-light-strong-font-weight)
		);
		font-style: var(
			--mod-detail-sans-serif-light-strong-font-style,
			var(--spectrum-detail-sans-serif-light-strong-font-style)
		);
	}

	em,
	.spectrum-Detail-emphasized {
		font-weight: var(
			--mod-detail-sans-serif-light-emphasized-font-weight,
			var(--spectrum-detail-sans-serif-light-emphasized-font-weight)
		);
		font-style: var(
			--mod-detail-sans-serif-light-emphasized-font-style,
			var(--spectrum-detail-sans-serif-light-emphasized-font-style)
		);
	}

	.spectrum-Detail-strong.spectrum-Body-emphasized,
	em strong,
	strong em {
		font-weight: var(
			--mod-detail-sans-serif-light-strong-emphasized-font-weight,
			var(--spectrum-detail-sans-serif-light-strong-emphasized-font-weight)
		);
		font-style: var(
			--mod-detail-sans-serif-light-strong-emphasized-font-style,
			var(--spectrum-detail-sans-serif-light-strong-emphasized-font-style)
		);
	}

	&:lang(zh),
	&:lang(ja),
	&:lang(ko) {
		font-weight: var(--mod-detail-cjk-light-font-weight, var(--spectrum-detail-cjk-light-font-weight));
		font-style: var(--mod-detail-cjk-light-font-style, var(--spectrum-detail-cjk-light-font-style));

		strong,
		.spectrum-Detail-strong {
			font-weight: var(--mod-detail-cjk-light-strong-font-weight, var(--spectrum-detail-cjk-light-strong-font-weight));
			font-style: var(--mod-detail-cjk-light-strong-font-style, var(--spectrum-detail-cjk-light-strong-font-style));
		}

		em,
		.spectrum-Detail-emphasized {
			font-weight: var(
				--mod-detail-cjk-light-emphasized-font-weight,
				var(--spectrum-detail-cjk-light-emphasized-font-weight)
			);
			font-style: var(
				--mod-detail-cjk-light-emphasized-font-style,
				var(--spectrum-detail-cjk-light-emphasized-font-style)
			);
		}

		.spectrum-Detail-strong.spectrum-Detail-emphasized {
			font-weight: var(
				--mod-detail-cjk-light-strong-emphasized-font-weight,
				var(--spectrum-detail-cjk-light-strong-emphasized-font-weight)
			);
			font-style: var(
				--mod-detail-cjk-light-strong-emphasized-font-style,
				var(--spectrum-detail-cjk-light-strong-emphasized-font-style)
			);
		}
	}
}
