:root {
  --spectrum-colorslider-disabled-opacity: 0.3;
  --spectrum-colorslider-stroke-color: rgba(44, 44, 44, 0.1);
  --spectrum-colorslider-stroke-width: var(--spectrum-global-dimension-static-size-10);
}

.spectrum-ColorSlider-gradient {
  box-shadow: 0 0 0 var(--spectrum-colorslider-stroke-width) var(--spectrum-colorslider-stroke-color);
}

.spectrum-ColorSlider {
  &.is-disabled {
    opacity: var(--spectrum-colorslider-disabled-opacity);
  }
}
