:root {
  --spectrum-colorslider-disabled-opacity: 0.3;

  /* todo: fix this in DNA */
  --spectrum-colorslider-border-color: var(--spectrum-colorhandle-outer-border-color);
}

.spectrum-ColorSlider-gradient {
  box-shadow: 0 0 0 var(--spectrum-colorslider-border-size) var(--spectrum-colorslider-border-color);
}

.spectrum-ColorSlider {
  &.is-disabled {
    opacity: var(--spectrum-colorslider-disabled-opacity);
  }
}
