@import '../commons/index.css';

/* topdoc
{{ inputgroup/combobox.yml }}
*/
/* topdoc
{{ inputgroup/combobox-quiet.yml }}
*/
/* topdoc
{{ inputgroup/datepicker.yml }}
*/
/* topdoc
{{ inputgroup/datepicker-quiet.yml }}
*/
/* topdoc
{{ inputgroup/datepicker-range.yml }}
*/
/* topdoc
{{ inputgroup/datepicker-range-quiet.yml }}
*/

:root {
  /* Todo: move to DNA */
  --spectrum-combobox-quiet-fieldbutton-border-radius: 0;
  --spectrum-combobox-field-border-width-right: 0;
  --spectrum-combobox-quiet-fieldbutton-padding-right: 0;
}

.spectrum-InputGroup {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: var(--spectrum-component-single-line-width);
  border-radius: var(--spectrum-border-radius);

  .spectrum-FieldButton {
    padding: 0 var(--spectrum-dropdown-padding-x);
    border-top-left-radius: var(--spectrum-combobox-fieldbutton-border-top-left-radius);
    border-bottom-left-radius: var(--spectrum-combobox-fieldbutton-border-bottom-left-radius);
  }
}

.spectrum-InputGroup-field {
  border-top-right-radius: var(--spectrum-combobox-textfield-border-top-right-radius);
  border-bottom-right-radius: var(--spectrum-combobox-textfield-border-bottom-right-radius);
  border-right-width: var(--spectrum-combobox-field-border-width-right);
  flex: 1;
}

.spectrum-InputGroup--quiet {
  border-radius: 0;
  .spectrum-FieldButton {
    border-radius: var(--spectrum-textfield-padding-top);

    position: relative;
    padding-right: var(--spectrum-combobox-quiet-fieldbutton-padding-right);
    border-bottom: var(--spectrum-textfield-quiet-affixed-border-size) solid;

    /* More hitarea */
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 10px;
      right: -10px;
    }
  }

  .spectrum-InputGroup-icon {
    right: 0;
  }
}
