.spectrum-InputGroup {
  &:hover {
    .spectrum-InputGroup-field:not(:disabled):not(.is-invalid):not(:focus) {
      &,
      & ~ .spectrum-FieldButton {
        border-color: var(--spectrum-textfield-border-color-hover);
      }
    }
  }
}

.spectrum-InputGroup-field:focus {
  ~ .spectrum-FieldButton {
    border-color: var(--spectrum-dropdown-border-color-key-focus);
  }

  &.is-invalid,
  &:invalid {
    ~ .spectrum-FieldButton {
      border-color: var(--spectrum-dropdown-border-color-error);
    }
  }
}

/* Only add the 2px ring for keyboard focus */
.spectrum-InputGroup-field:focus-ring {
  ~ .spectrum-FieldButton {
    box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-key-focus);
  }

  &.is-invalid,
  &:invalid {
    ~ .spectrum-FieldButton {
      box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-error);
    }
  }
}

.spectrum-InputGroup--quiet {
  .spectrum-FieldButton {
    &,
    &:hover,
    &:focus,
    &:active,
    &.is-selected,
    &:invalid,
    &.is-invalid,
    &:disabled,
    &:disabled:hover {
      border-color: var(--spectrum-textfield-quiet-border-color);
    }
  }

  &:hover {
    .spectrum-InputGroup-field:not(:disabled):not(.is-invalid):not(:focus) {
      &,
      & ~ .spectrum-FieldButton {
        border-color: var(--spectrum-textfield-quiet-border-color-hover);
      }
    }
  }

  .spectrum-InputGroup-field {
    &.is-invalid,
    &:invalid {
      &,
      ~ .spectrum-FieldButton {
        border-color: var(--spectrum-textfield-border-color-error);
      }
    }

    /* Always add the 2px ring for keyboard focus for quiet inputgroups */
    &:focus {
      ~ .spectrum-FieldButton {
        box-shadow: 0 1px 0 var(--spectrum-textfield-quiet-border-color-key-focus);
        border-color: var(--spectrum-textfield-quiet-border-color-key-focus);
      }

      &.is-invalid,
      &:invalid {
        ~ .spectrum-FieldButton {
          box-shadow: 0 1px 0 var(--spectrum-textfield-border-color-error);
          border-color: var(--spectrum-textfield-border-color-error);
        }
      }
    }
  }
}

/* 
  TODO: discuss with other 
  Way to keep this datapicker related
*/
.spectrum-InputGroup {
  &.spectrum-Datepicker {
    border-color: var(--spectrum-textfield-border-color);
    /* Simulating horizontal line between two inputs */
    hr {
      background-color: var(--spectrum-textfield-placeholder-text-color);
      border: 0;
      margin: 15px 0px;
      height: 1px;
      width: 10px;
      position: absolute;
    }

    /* Horisontal line and placeholder text color on hover */
    &:not(.is-disabled):hover,
    &.is-focused {
      hr {
        background-color: var(--spectrum-textfield-placeholder-text-color-hover);
      }
      .spectrum-InputGroup-field {
        &::placeholder {
          color: var(--spectrum-textfield-placeholder-text-color-hover);
        }
      }
    }

    /* Border color in different cases: hover, focus, invalid */
    &:not(.is-disabled):not(.is-focused):not(.is-invalid):hover {
      border-color: var(--spectrum-textfield-border-color-hover);
    }
    &.is-focused {
      border-color: var(--spectrum-textfield-border-color-down);
    }
    &.is-invalid {
      border-color: var(--spectrum-textfield-border-color-error);
    }

    /* Not quiet datepicker */
    &:not(.spectrum-InputGroup--quiet){
      border-width: 1px;
      border-style: solid;
      /* border-radius: var(--spectrum-border-radius); */
    
      hr {
        left: 95px;
      }

      
      .spectrum-InputGroup-field {
        border: 0;
        &:nth-child(2) {
          border-left: 0;
          border-radius: 0;
        }
        &:focus ~ .spectrum-FieldButton {
          border-color: var(--spectrum-textfield-border-color-hover);
        }
      }

      .spectrum-FieldButton {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
      }
    }
    /* Quiet datepicker */
    &.spectrum-InputGroup--quiet {
      border-bottom-width: 1px;
      border-bottom-style: solid;

      hr {
        left: 85px;
      }
      .spectrum-InputGroup-field, 
      .spectrum-FieldButton{
        border: 0;
      }
      .spectrum-InputGroup-field {
        &:focus ~ .spectrum-FieldButton{
          box-shadow: none;
        }
      }
    }
    /* Field dimenstion  */
    &.spectrum-Datepicker--range {
      &:not(.spectrum-InputGroup--quiet){
        .spectrum-InputGroup-field {
          width: 100px;
          min-width: 100px;
          &.is-invalid {
            width: 120px;
          }
        }
      }
      &.spectrum-InputGroup--quiet {
        .spectrum-InputGroup-field {
          width: 90px;
          min-width: 90px;
          &:nth-of-type(2) {
            padding-left: 12px;
          }
          &.is-invalid {
            width: 120px;
          }
        }
      }
    }
  }
}
