.spectrum-InputGroup {
  &.is-focused {
    &:not(.is-invalid) {
      .spectrum-InputGroup-field:not(:disabled):not(.is-invalid) {
        border-color: var(--spectrum-textfield-border-color-key-focus);
        ~ .spectrum-FieldButton {
          border-color: var(--spectrum-textfield-border-color-key-focus);
        }
      }
    }
  }
  &:hover {
    &:not(.is-invalid):not(.is-focused) {
      .spectrum-InputGroup-field:not(:disabled):not(.is-invalid) {
        border-color: var(--spectrum-textfield-border-color-hover);
        ~ .spectrum-FieldButton {
          border-color: var(--spectrum-textfield-border-color-hover);
        }
        &:focus {
          border-color: var(--spectrum-textfield-border-color-key-focus);
          ~ .spectrum-FieldButton {
            border-color: var(--spectrum-textfield-border-color-key-focus);
          }
        }
      }
    }
  }
}

.spectrum-InputGroup-field:focus {
  ~ .spectrum-FieldButton {
    border-color: var(--spectrum-dropdown-border-color-key-focus);
  }

  &.is-invalid,
  &:invalid {
    ~ .spectrum-FieldButton {
      border-color: var(--spectrum-dropdown-border-color-error);
    }
  }
}

/* Only add the 2px ring for keyboard focus */
.spectrum-InputGroup-field:focus-ring {
  ~ .spectrum-FieldButton {
    box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-key-focus);
  }

  &.is-invalid,
  &:invalid {
    ~ .spectrum-FieldButton {
      box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-error);
    }
  }
}

.spectrum-InputGroup--quiet {
  .spectrum-FieldButton {
    &,
    &:hover,
    &:focus,
    &:active,
    &.is-selected,
    &:invalid,
    &.is-invalid,
    &:disabled,
    &:disabled:hover {
      border-color: var(--spectrum-textfield-quiet-border-color);
    }
  }

  &:hover:not(.is-invalid) {
    .spectrum-InputGroup-field:not(:disabled):not(.is-invalid):not(:focus) {
      ~ .spectrum-FieldButton {
        border-color: var(--spectrum-textfield-quiet-border-color-hover);
      }
    }
  }

  .spectrum-InputGroup-field {
    &.is-invalid,
    &:invalid {
      ~ .spectrum-FieldButton {
        border-color: var(--spectrum-textfield-border-color-error);
      }
    }

    /* Always add the 2px ring for keyboard focus for quiet inputgroups */
    &:focus {
      ~ .spectrum-FieldButton {
        box-shadow: 0 1px 0 var(--spectrum-textfield-quiet-border-color-key-focus);
        border-color: var(--spectrum-textfield-quiet-border-color-key-focus);
      }

      &.is-invalid,
      &:invalid {
        ~ .spectrum-FieldButton {
          box-shadow: 0 1px 0 var(--spectrum-textfield-border-color-error);
          border-color: var(--spectrum-textfield-border-color-error);
        }
      }
    }
  }
}

.spectrum-Datepicker--range {
  .spectrum-InputGroup-field {
    &:focus-ring {
      box-shadow: none !important;
    }
    &[disabled] {
      ~ hr {
        color: var(--spectrum-textfield-text-color-disabled);
      }
    }
  }

  /* Focus ring: When one of the inputs or the button has keyboard focus, render the focus ring border around the entire input group by styling an adjacent descendant element. */
  :focus-ring {
    ~ .spectrum-Datepicker-focusRing {
      box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-key-focus);
    }
    &:invalid,
    &.is-invalid {
      ~ .spectrum-FieldButton {
        box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-error);
      }
      ~ .spectrum-Datepicker-focusRing {
        box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-error);
      }
    }
  }

  &.is-invalid {
    .spectrum-InputGroup-field {
      border-color: var(--spectrum-dropdown-border-color-error) !important;
    }

    /* Focus ring: When one of the inputs or the button has keyboard focus, render the focus ring border around the entire input group by styling an adjacent descendant element. */
    :focus-ring {
      ~ .spectrum-Datepicker-focusRing {
        box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-error);
      }
      ~ .spectrum-FieldButton {
        border-color: var(--spectrum-dropdown-border-color-error);
        box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-error);
      }
    }
    .spectrum-FieldButton {
      border-color: var(--spectrum-dropdown-border-color-error);
      &.is-invalid {
        &:focus-ring {
          border-color: var(--spectrum-dropdown-border-color-error);
          box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-error);
        }
      }
    }
  }
  &.spectrum-InputGroup--quiet {
    &.is-focused {
      .spectrum-Datepicker-focusRing {
        box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-key-focus);
      }
      &.is-invalid {
        .spectrum-FieldButton {
          box-shadow: none;
          border-color: var(--spectrum-dropdown-border-color-error);
          &.is-invalid {
            &:focus-ring {
              box-shadow: 0 2px 0 0 var(--spectrum-dropdown-border-color-error);
            }
          }
        }
        .spectrum-Datepicker-focusRing {
          box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-error);
        }
      }
    }
  }
}
