<div class="spectrum-CSSComponent-resources">
    {% set logo %}{% include "svgs/logo.svg" %}{% endset %}

    {% if component.designLink %}
        {% set card = {
            size: 'S',
            horizontal: true,
            type: 'Adobe',
            title: 'Specifications',
            subtitle: 'Adobe',
            url: component.designLink,
            svg: logo
        } %}
        {% include 'card.njk' %}
    {% endif %}

    {% set card = {
        size: 'S',
        horizontal: true,
        type: 'GitHub',
        title: 'Repository',
        subtitle: 'GitHub',
        url: "https://github.com/adobe/spectrum-css/tree/main" + component.folder,
        svg: '<svg class="spectrum-Icon spectrum-Icon--sizeXXL" style="fill: black !important;" focusable="false" aria-hidden="true" aria-label="GitHub" viewBox="0 0 36 36"><path d="M17.988 2a16.291 16.291 0 0 0-5.147 31.747c.814.149 1.111-.354 1.111-.786 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184a4.32 4.32 0 0 0-1.809-2.383c-1.479-1.01.112-.99.112-.99a3.42 3.42 0 0 1 2.495 1.679 3.468 3.468 0 0 0 4.741 1.353 3.482 3.482 0 0 1 1.034-2.177C11.4 25.078 7.6 23.68 7.6 17.438a6.3 6.3 0 0 1 1.677-4.371 5.863 5.863 0 0 1 .16-4.311s1.368-.438 4.479 1.67a15.451 15.451 0 0 1 8.157 0c3.109-2.108 4.475-1.67 4.475-1.67a5.857 5.857 0 0 1 .162 4.311 6.286 6.286 0 0 1 1.674 4.371c0 6.258-3.808 7.635-7.437 8.038a3.888 3.888 0 0 1 1.106 3.017c0 2.177-.02 3.934-.02 4.468 0 .436.293.943 1.12.784A16.292 16.292 0 0 0 17.988 2z"></path></svg>'
    } %}
    {% include 'card.njk' %}

    {% set card = {
        size: 'S',
        horizontal: true,
        type: 'npm',
        title: 'Package',
        subtitle: 'npm',
        url: "https://www.npmjs.com/package/" + component.package.name,
        svg: '<svg class="spectrum-Icon spectrum-Icon--sizeXXL" viewBox="0 0 18 7" focusable="false" aria-hidden="true" aria-label="npm"><path fill="#CB3837" d="M0,0h18v6H9v1H5V6H0V0z M1,5h2V2h1v3h1V1H1V5z M6,1v5h2V5h2V1H6z M8,2h1v2H8V2z M11,1v4h2V2h1v3h1V2h1v3h1V1H11z"></path><polygon fill="#FFFFFF" points="1,5 3,5 3,2 4,2 4,5 5,5 5,1 1,1 "></polygon><path fill="#FFFFFF" d="M6,1v5h2V5h2V1H6z M9,4H8V2h1V4z"></path><polygon fill="#FFFFFF" points="11,1 11,5 13,5 13,2 14,2 14,5 15,5 15,2 16,2 16,5 17,5 17,1 "></polygon></svg>'
    } %}
    {% include 'card.njk' %}

    {% if component.SWC and component.SWC.url %}
        {% set card = {
            size: 'S',
            horizontal: true,
            type: 'Adobe',
            title: 'Web component',
            subtitle: component.SWC.tag,
            url: component.SWC.url,
            svg: logo
        } %}
        {% include 'card.njk' %}
    {% endif %}
</div>
