<div id="site-search">
    <div class="site-Search" role="search">
        <form class="spectrum-Search site-Search-form" role="combobox" aria-expanded="false" aria-owns="search-results-listbox" aria-haspopup="listbox">
            <div class="spectrum-Textfield spectrum-Search-textfield">
                <svg class="spectrum-Icon spectrum-Icon--sizeM spectrum-Textfield-icon spectrum-Search-icon" focusable="false" aria-hidden="true">
                    <use xlink:href="#spectrum-icon-18-Magnify"></use>
                </svg>
                <input type="search" placeholder="Search" name="search" value="" class="spectrum-Textfield-input spectrum-Search-input site-Search-input" autocomplete="off">
            </div>
            <button type="reset" value="Reset" class="spectrum-ClearButton spectrum-ClearButton--sizeM spectrum-Search-clearButton site-Search-clearButton" tabindex="-1" hidden="">
                <span class="spectrum-ClearButton-fill">
                    <svg class="spectrum-ClearButton-icon spectrum-Icon spectrum-UIIcon-Cross100" focusable="false" aria-hidden="true">
                    <use xlink:href="#spectrum-css-icon-Cross100"></use>
                    </svg>
                </span>
            </button>
        </form>
        <div class="spectrum-Popover site-Search-results site-Search-popover">
            <ul class="spectrum-Menu site-Search-searchResults" id="search-results-listbox" role="listbox" aria-label="Search">
            </ul>
        </div>
    </div>
</div>

<template id="search-message">
    <div class="spectrum-IllustratedMessage site-Search-results--none site-Search-searchError">
        <div class="spectrum-IllustratedMessage site-Search-results--none">
            <h2 class="spectrum-Heading spectrum-Heading--pageTitle spectrum-IllustratedMessage-heading" id="search-message-title"></h2>
            <p class="spectrum-Body--secondary spectrum-IllustratedMessage-description"><em id="search-message-content"></em></p>
        </div>
    </div>
</template>

<template id="search-result-item">
    <li role="group">
        <span class="spectrum-Menu-sectionHeading" aria-hidden="true" id="search-result-category"></span>
        <ul class="spectrum-Menu" role="presentation" id="search-result-category-item">
        </ul>
    </li>
</template>

<template id="search-result-item-link">
    <a class="spectrum-Menu-item" role="option">
        <span class="spectrum-Menu-itemLabel" id="search-result-item-label"></span>
    </a>
</template>
