<header class="site-Section-header" id="{{ section.id | slugify }}">
  <h2 class="spectrum-Heading spectrum-Heading--sizeM">
    <a href="#{{ section.name | slugify }}">
      {{section.name}}
    </a>
  </h2>
  <hr class="spectrum-Divider spectrum-Divider--large"/>
</header>

{% if section.description or section.details -%}
  <div class="spectrum-Body spectrum-Body--sizeM">
    {% if section.description -%}
      {{ section.description | markdownify | safe }}
    {%- endif %}
    {% if section.details -%}
      {{ section.details | markdownify | safe }}
    {%- endif %}
  </div>
{% endif %}

{% if section.markup or section.args -%}
  {% set example = { markup: section.markup, args: section.args } %}
  {% include "example.njk" %}
{% endif %}
