<article class="spectrum-CSSComponent">
    <div class="spectrum-CSSComponent-switcher">
        <div class="spectrum-CSS-switcherContainer">
            <label for="switcher-theme" class="spectrum-FieldLabel spectrum-FieldLabel--left">Theme</label>
            <button aria-haspopup="true" id="switcher-theme" class="spectrum-Picker spectrum-Picker--sizeM spectrum-Picker--quiet">
                <span class="spectrum-Picker-label">Light</span>
                <svg class="spectrum-Icon spectrum-UIIcon-ChevronDown100 spectrum-Picker-menuIcon" focusable="false" aria-hidden="true">
                    <use xlink:href="#spectrum-css-icon-Chevron100"></use>
                </svg>
            </button>
            <div class="spectrum-Popover spectrum-Popover--bottom spectrum-Picker-popover spectrum-Picker-popover--quiet">
                <ul role="listbox" class="spectrum-Menu">
                    <li role="option" tabindex="0" value="light" class="spectrum-Menu-item is-selected">
                        <span class="spectrum-Menu-itemLabel">Light</span>
                        <svg
                            class="spectrum-Icon spectrum-UIIcon-Checkmark100 spectrum-Menu-checkmark spectrum-Menu-itemIcon"
                            focusable="false"
                            aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Checkmark100"></use>
                        </svg>
                    </li>
                    <li role="option" tabindex="0" value="dark" class="spectrum-Menu-item">
                        <span class="spectrum-Menu-itemLabel">Dark</span>
                        <svg
                            class="spectrum-Icon spectrum-UIIcon-Checkmark100 spectrum-Menu-checkmark spectrum-Menu-itemIcon"
                            focusable="false"
                            aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Checkmark100"></use>
                        </svg>
                    </li>
                    <li role="option" tabindex="0" value="darkest" class="spectrum-Menu-item">
                        <span class="spectrum-Menu-itemLabel">Darkest</span>
                        <svg
                            class="spectrum-Icon spectrum-UIIcon-Checkmark100 spectrum-Menu-checkmark spectrum-Menu-itemIcon"
                            focusable="false"
                            aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Checkmark100"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
        <div class="spectrum-CSS-switcherContainer">
            <label for="switcher-scale" class="spectrum-FieldLabel spectrum-FieldLabel--left">Scale</label>
            <button aria-haspopup="true" id="switcher-scale" class="spectrum-Picker spectrum-Picker--sizeM spectrum-Picker--quiet">
                <span class="spectrum-Picker-label">Medium</span>
                <svg class="spectrum-Icon spectrum-UIIcon-ChevronDown100 spectrum-Picker-menuIcon" focusable="false" aria-hidden="true">
                    <use xlink:href="#spectrum-css-icon-Chevron100"></use>
                </svg>
            </button>
            <div class="spectrum-Popover spectrum-Popover--bottom spectrum-Picker-popover spectrum-Picker-popover--quiet">
                <ul role="listbox" class="spectrum-Menu">
                    <li role="option" aria-selected="true" tabindex="0" value="medium" class="spectrum-Menu-item is-selected">
                        <span class="spectrum-Menu-itemLabel">Medium</span>
                        <svg
                            class="spectrum-Icon spectrum-UIIcon-Checkmark100 spectrum-Menu-checkmark spectrum-Menu-itemIcon"
                            focusable="false"
                            aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Checkmark100"></use>
                        </svg>
                    </li>
                    <li role="option" tabindex="0" value="large" class="spectrum-Menu-item">
                        <span class="spectrum-Menu-itemLabel">Large</span>
                        <svg
                            class="spectrum-Icon spectrum-UIIcon-Checkmark100 spectrum-Menu-checkmark spectrum-Menu-itemIcon"
                            focusable="false"
                            aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Checkmark100"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>