{% if not process.env.VRT %}
    <div class="spectrum-Site-footerContainer">
        <hr class="spectrum-Divider spectrum-Divider--small" hidden/>
        <div id="footer_global"></div>
    </div>
{% endif %}
