<div class="spectrum-Site-overlay" id="site-overlay"></div>
<div class="spectrum-Site-header">
    <button class="spectrum-ActionButton spectrum-ActionButton--sizeM spectrum-ActionButton--quiet" is-selected="is-selected" id="site-menu">
        <svg class="spectrum-Icon spectrum-Icon--sizeM" focusable="false" aria-hidden="true" aria-label="Show Menu">
            <use xlink:href="#spectrum-icon-18-ShowMenu"></use>
        </svg>
    </button>
</div>