<header class="spectrum-CSSComponent-sectionHeading" id="{{ util.getSlug(section.name) }}">
  <h2 class="spectrum-Heading spectrum-Heading--sizeM">
    <a href="#{{ util.getSlug(section.name) }}" class="spectrum-BigSubtleLink">
      {{section.name}}
    </a>
  </h2>
  <hr class="spectrum-Divider spectrum-Divider--large"/>
   {% set example = section %}
  {% include './exampleContent.njk' %}
</header>