/*
Copyright 2022 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import "../commons/basebutton-coretokens.css";

.spectrum-Picker {
  /* Placeholder tokens*/
  --spectrum-picker-minimum-width-multiplier: 2px;
  --spectrum-picker-border-size-disabled: 0;

  /* Font */
  --spectrum-picker-font-size: var(--spectrum-font-size-100);

  /* Size */
  --spectrum-picker-min-inline-size: var(--spectrum-picker-minimum-width-multiplier);
  --spectrum-picker-block-size: var(--spectrum-component-height-100);
  --spectrum-picker-border-size: var(--spectrum-border-width-100);
  --spectrum-picker-border-radius: var(--spectrum-corner-radius-100);

  /* Spacing */
  --spectrum-picker-spacing-edge-to-text: var(--spectrum-component-edge-to-text-100);
  --spectrum-picker-spacing-edge-to-text-quiet: var(--spectrum-field-edge-to-text-quiet);

  --spectrum-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-100);
  --spectrum-picker-spacing-text-to-alert-icon-inline-start: var(--spectrum-field-text-to-alert-icon-medium);
  --spectrum-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-medium);
  --spectrum-picker-spacing-label-to-picker: var(--spectrum-field-label-to-component);
  --spectrum-picker-spacing-label-to-picker-quiet: var(--spectrum-field-label-to-component-quiet-medium);
  --spectrum-picker-spacing-picker-to-popover: var(--spectrum-component-to-menu-medium);

  /* Animation */
  --spectrum-picker-animation-duration: var(--spectrum-animation-duration-100);

  /* Color */
  --spectrum-picker-font-color-default: var(--spectrum-neutral-content-color-default);
  --spectrum-picker-font-color-hover: var(--spectrum-neutral-content-color-hover);
  --spectrum-picker-font-color-active: var(--spectrum-neutral-content-color-down);
  --spectrum-picker-font-color-key-focus: var(--spectrum-neutral-content-color-key-focus);

  --spectrum-picker-icon-color-default: var(--spectrum-neutral-content-color-default);
  --spectrum-picker-icon-color-hover: var(--spectrum-neutral-content-color-hover);
  --spectrum-picker-icon-color-active: var(--spectrum-neutral-content-color-down);
  --spectrum-picker-icon-color-key-focus: var(--spectrum-neutral-content-color-key-focus);

  --spectrum-picker-border-color-error-default: var(--spectrum-negative-border-color-default);
  --spectrum-picker-border-color-error-hover: var(--spectrum-negative-border-color-hover);
  --spectrum-picker-border-color-error-active: var(--spectrum-negative-border-color-down);
  --spectrum-picker-border-color-error-key-focus: var(--spectrum-negative-border-color-key-focus);

  --spectrum-picker-icon-color-error: var(--spectrum-negative-visual-color);

  --spectrum-picker-background-color-disabled: var(--spectrum-disabled-background-color);
  --spectrum-picker-font-color-disabled: var(--spectrum-disabled-content-color);
  --spectrum-picker-icon-color-disabled: var(--spectrum-disabled-content-color);

  /* special cases for focus indicator */
  --spectrum-focus-indicator-gap: 2px;
  --spectrum-picker-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
  --spectrum-focus-indicator-thickness: 2px;
  --spectrum-picker-focus-indicator-size: var(--spectrum-focus-indicator-thickness);
  --spectrum-picker-focus-indicator-color: var(--spectrum-focus-indicator-color);

  --spectrum-picker-focus-indicator-border-radius-adjusted: calc(var(--spectrum-picker-border-radius) + var(--spectrum-picker-focus-indicator-gap));
}

.spectrum-Picker--sizeS {
  --spectrum-picker-font-size: var(--spectrum-font-size-75);
  --spectrum-picker-block-size: var(--spectrum-component-height-75);
  --spectrum-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-75);
  --spectrum-picker-spacing-text-to-alert-icon-inline-start: var(--spectrum-field-text-to-alert-icon-small);
  --spectrum-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-small);
  --spectrum-picker-spacing-label-to-picker-quiet: var(--spectrum-field-label-to-component-quiet-small);
  --spectrum-picker-spacing-picker-to-popover: var(--spectrum-component-to-menu-small);
}

.spectrum-Picker--sizeM {
  --spectrum-picker-font-size: var(--spectrum-font-size-100);
  --spectrum-picker-block-size: var(--spectrum-component-height-100);
  --spectrum-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-100);
  --spectrum-picker-spacing-text-to-alert-icon-inline-start: var(--spectrum-field-text-to-alert-icon-medium);
  --spectrum-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-medium);
  --spectrum-picker-spacing-label-to-picker-quiet: var(--spectrum-field-label-to-component-quiet-medium);
  --spectrum-picker-spacing-picker-to-popover: var(--spectrum-component-to-menu-medium);
}

.spectrum-Picker--sizeL {
  --spectrum-picker-font-size: var(--spectrum-font-size-200);
  --spectrum-picker-block-size: var(--spectrum-component-height-200);
  --spectrum-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-200);
  --spectrum-picker-spacing-text-to-alert-icon-inline-start: var(--spectrum-field-text-to-alert-icon-large);
  --spectrum-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-large);
  --spectrum-picker-spacing-label-to-picker-quiet: var(--spectrum-field-label-to-component-quiet-large);
  --spectrum-picker-spacing-picker-to-popover: var(--spectrum-component-to-menu-large);
}

.spectrum-Picker--sizeXL {
  --spectrum-picker-font-size: var(--spectrum-font-size-300);
  --spectrum-picker-block-size: var(--spectrum-component-height-300);
  --spectrum-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-300);
  --spectrum-picker-spacing-text-to-alert-icon-inline-start: var(--spectrum-field-text-to-alert-icon-extra-large);
  --spectrum-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-extra-large);
  --spectrum-picker-spacing-label-to-picker-quiet: var(--spectrum-field-label-to-component-quiet-extra-large);
  --spectrum-picker-spacing-picker-to-popover: var(--spectrum-component-to-menu-extra-large);
}

/* Windows high contrast mode */
@media (forced-colors: active) {
  .spectrum-Picker {
    --highcontrast-picker-focus-indicator-color: Highlight;
    --highcontrast-picker-border-color-active: ButtonText;
    --highcontrast-picker-border-color-key-focus: Highlight;
    --highcontrast-picker-border-color-default: ButtonText;
    --highcontrast-picker-font-color-key-focus: GrayText;
    --highcontrast-picker-border-color-error-default: Highlight;
    --highcontrast-picker-font-color-disabled: GrayText;
    --highcontrast-picker-font-color-key-focus: ButtonText;
    --highcontrast-picker-font-color-default: ButtonText;
    --highcontrast-picker-background-color-default: GrayText;
    --highcontrast-picker-background-color-disabled: Highlight;
    --highcontrast-picker-icon-color-default: GrayText;
    --highcontrast-picker-icon-color-error-default: Highlight;
    &:focus-visible {
      /* outline: 2px solid Highlight; */
    }
    &:disabled,
    .is-disabled {
      border-color: GrayText;
      border-width: var(--spectrum-picker-border-size);
    }
  }
  .spectrum-Picker--quiet {
    &:focus-visible,
    &.is-focused {
      forced-color-adjust: none;
      outline: 0;
      box-shadow: 0 1px 0 0 var(--spectrum-picker-focus-indicator-color);
    }
  }
}

.spectrum-Picker {
  @inherit: %spectrum-BaseButton;

  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Truncate if menu options make us too wide */
  max-inline-size: 100%;
  min-inline-size: var(--mod-picker-min-inline-size, var(--spectrum-picker-min-inline-size));
  block-size: var(--mod-picker-block-size, var(--spectrum-picker-block-size));

  margin: 0;
  margin-block-start: var(--mod-picker-spacing-label-to-picker, var(--spectrum-picker-spacing-label-to-picker));
  padding-block: 0;

  /* Start with text-only padding */
  padding-inline: var(--mod-picker-spacing-edge-to-text, var(--spectrum-picker-spacing-edge-to-text));

  border-width: var(--mod-spectrum-picker-border-size, var(--spectrum-picker-border-size));
  border-style: solid;
  border-radius: var(--mod-picker-border-radius, var(--spectrum-picker-border-radius));

  transition: background-color var(--mod-picker-animation-duration, var(--spectrum-picker-animation-duration)),
    box-shadow var(--mod-picker-animation-duration, var(--spectrum-picker-animation-duration)),
    border-color var(--mod-picker-animation-duration, var(--spectrum-picker-animation-duration)) ease-in-out;

  color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-default, var(--spectrum-picker-font-color-default)));
  background-color: var(--highcontrast-picker-background-color-default, var(--mod-picker-background-color-default, var(--spectrum-picker-background-color-default)));
  border-color: var(--highcontrast-picker-border-color-default, var(--mod-picker-border-color-default, var(--spectrum-picker-border-color-default)));

  &:after {
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: calc((var(--spectrum-picker-focus-indicator-gap) + var(--spectrum-picker-border-size)) * -1);
    border-radius: var(--spectrum-picker-focus-indicator-border-radius-adjusted);
    transition: box-shadow var(--spectrum-picker-animation-duration) ease-in-out;
  }

  &:focus-visible {
    /* Remove native outline */
    outline: none;

    /* Focus ring */
    &:after {
      box-shadow: 0 0 0 var(--mod-picker-focus-indicator-size, var(--spectrum-picker-focus-indicator-size)) var(--highcontrast-picker-focus-indicator-color, var(--mod-picker-focus-indicator-color, var(--spectrum-picker-focus-indicator-color)));
    }
  }

  &:hover {
    color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-hover, (--spectrum-picker-font-color-hover)));
    background-color: var(--highcontrast-picker-background-color-default, var(--mod-picker-background-color-hover, var(--spectrum-picker-background-color-hover)));
    border-color: var(--highcontrast-picker-border-color-default, var(--mod-picker-border-color-hover, var(--spectrum-picker-border-color-hover)));

    .spectrum-Picker-menuIcon {
      color: var(--highcontrast-picker-icon-color-default, var(--mod-picker-icon-color-hover, var(--spectrum-picker-icon-color-hover)));
    }
  }

  &:active,
  &.is-open {
    background-color: var(--highcontrast-picker-background-default, var(--mod-picker-background-color-active, var(--spectrum-picker-background-color-active)));
    border-color: var(--highcontrast-picker-border-color-active, var(--mod-picker-border-color-active, var(--spectrum-picker-border-color-active)));

    &.is-placeholder {
      .spectrum-Picker-label {
        color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-active, var(--spectrum-picker-font-color-active)));
      }
    }
  }

  &:focus-visible,
  &.is-focused {
    background-color: var(--highcontrast-picker-background-color-default, var(--mod-picker-background-color-key-focus, var(--spectrum-picker-background-color-key-focus)));
    background-color: transparent;
    border-color: var(--highcontrast-picker-border-color-key-focus, var(--mod-picker-border-color-key-focus, var(--spectrum-picker-border-color-key-focus)));
    border-color: transparent;

    /* todo: use real DNA var */
    --spectrum-picker-border-size-increased-focus: 1px;
    box-shadow: 0 0 0 var(--mod-picker-border-size-increase-focus, var(--spectrum-picker-border-size-increased-focus)) var(--highcontrast-picker-border-color-key-focus, var(--mod-picker-border-color-key-focus, var(--spectrum-picker-border-color-key-focus)));
    color: var(--highcontrast-picker-font-color-key-focus, var(--mod-picker-font-color-key-focus, var(--spectrum-picker-font-color-key-focus)));

    &.is-placeholder {
      color: var(--highcontrast-picker-font-color-key-focus, var(--mod-picker-font-color-key-focus, var(--spectrum-picker-font-color-key-focus)));
    }
  }

  &.is-invalid {
    border-color: var(--highcontrast-picker-border-color-error-default, var(--mod-picker-border-color-error-default, var(--spectrum-picker-border-color-error-default)));

    .spectrum-Picker-validationIcon {
      color: var(--highcontrast-picker-icon-color-error-default, var(--mod-picker-icon-color-error, var(--spectrum-picker-icon-color-error)));
    }

    &:hover {
      border-color: var(--highcontrast-picker-border-color-error-default, var(--mod-picker-border-color-error-hover, var(--spectrum-picker-border-color-error-hover)));
    }

    &:active,
    &.is-open {
      border-color: var(--highcontrast-picker-border-color-error-default, var(--mod-picker-border-color-error-active, var(--spectrum-picker-border-color-error-active)));
    }

    &:focus-visible,
    &.is-focused {
      border-color: var(--highcontrast-picker-border-color-error-default, var(--mod-picker-border-color-error-key-focus, var(--spectrum-picker-border-color-error-key-focus)));
      box-shadow: 0 0 0 var(--mod-picker-border-size-increased-focus, var(--spectrum-picker-border-size-increased-focus)) var(--highcontrast-picker-border-color-error-default, var(--mod-picker-border-color-error-key-focus, var(--spectrum-picker-border-color-error-key-focus)));
    }
  }

  &.is-loading {
    .spectrum-Picker-menuIcon {
      color: var(--highcontrast-picker-icon-color-disabled, var(--mod-picker-icon-color-disabled, var(--spectrum-picker-icon-color-disabled)));
    }
  }

  &:disabled,
  &.is-disabled {
    border-width: var(--mod-picker-border-size-disabled, var(--spectrum-picker-border-size-disabled));
    cursor: default;

    background-color: var(--highcontrast-picker-background-color-disabled, var(--mod-picker-background-color-disabled, var(--spectrum-picker-background-color-disabled)));
    color: var(--highcontrast-picker-font-color-disabled, var(--mod-picker-font-color-disabled, var(--spectrum-picker-font-color-disabled)));

    .spectrum-Picker-icon,
    .spectrum-Picker-menuIcon,
    .spectrum-Picker-validationIcon {
      color: var(--highcontrast-picker-icon-color-disabled, var(--mod-picker-icon-color-disabled, var(--spectrum-picker-icon-color-disabled)));
    }

    .spectrum-Picker-label {
      &.is-placeholder {
        color: var(--highcontrast-picker-font-color-disabled, var(--mod-picker-font-color-disabled, var(--spectrum-picker-font-color-disabled)));
      }
    }
  }

  .spectrum-Picker-icon {
    flex-shrink: 0;
    margin-inline-end: var(--mod-picker-spacing-text-to-icon, var(--spectrum-picker-spacing-text-to-icon));
  }
}

.spectrum-Picker--quiet {
  inline-size: auto;
  min-inline-size: 0;

  &:disabled,
  &.is-disabled {
    &:focus-visible {
      box-shadow: none;
    }
  }
}

.spectrum-Picker-label {
  /* Be the biggest, but also shrink! */
  flex: 1 1 auto;

  white-space: nowrap;
  overflow: hidden;

  block-size: calc(
    var(--mod-picker-block-size, var(--spectrum-picker-block-size)) - calc(var(--mod-picker-border-size, var(--spectrum-picker-border-size)) * 2)
  );
  line-height: calc(
    var(--mod-picker-block-size, var(--spectrum-picker-block-size)) - calc(var(--mod-picker-border-size, var(--spectrum-picker-border-size)) * 2)
  );

  font-size: var(--mod-picker-font-size, var(--spectrum-picker-font-size));

  text-overflow: ellipsis;
  text-align: start;

  &.is-placeholder {
    /* TODO handle with typography styles */
    font-weight: 400;
    font-style: italic;
    transition: color var(--mod-picker-animation-duration, var(--spectrum-picker-animation-duration)) ease-in-out;

    color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-default, var(--spectrum-picker-font-color-default)));

    &:hover {
      color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-hover, var(--spectrum-picker-font-color-hover)));
    }

    &:active {
      color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-active, var(--spectrum-picker-font-color-active)));
    }
  }
}

/* The picker chevron */
.spectrum-Picker-menuIcon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  transition: color var(--mod-picker-animation-duration, var(--spectrum-picker-animation-duration)) ease-out;
  flex-shrink: 0;
  margin-inline-start: var(--mod-picker-spacing-icon-to-disclosure-icon, var(--spectrum-picker-spacing-icon-to-disclosure-icon));

  color: var(--highcontrast-picker-icon-color-default, var(--mod-picker-icon-color-default, var(--spectrum-picker-icon-color-default)));

  &:focus {
    color: var(--highcontrast-picker-icon-color-default, var(--mod-picker-icon-color-key-focus, var(--spectrum-picker-icon-color-key-focus)));
  }

  &:active {
    color: var(--highcontrast-picker-icon-color-default, var(--mod-picker-icon-color-active, var(--spectrum-picker-icon-color-active)));
  }
}

.spectrum-Picker-validationIcon {
  margin-inline-start: var(--mod-picker-spacing-text-to-alert-icon-inline-start, var(--spectrum-picker-spacing-text-to-alert-icon-inline-start));
}

.spectrum-Picker-label ~ .spectrum-Picker-menuIcon {
  margin-inline-start: var(--mod-picker-spacing-text-to-icon, var(--spectrum-picker-spacing-text-to-icon));
}

.spectrum-Picker-popover {
  /* TODO Where should this value come from? */
  /* max-inline-size: var(--spectrum-picker-texticon-popover-max-width); */
}

.spectrum-Picker + .spectrum-Popover--bottom.is-open {
  /* TODO Fix */
  transform: translateY(var(--mod-picker-spacing-picker-to-popover, var(--spectrum-picker-spacing-picker-to-popover)));
  transform: translateY(var(--mod-component-to-menu-medium, var(--spectrum-component-to-menu-medium)));
}

/* Placeholder tokens */
.spectrum--medium {
  --spectrum-picker-popover-quiet-offset-x: 12px;
}

.spectrum--large {
  --spectrum-picker-popover-quiet-offset-x: 15px;
}

.spectrum-Picker-popover--quiet {
  --spectrum-picker-popover-border-size: 1px;

  margin-inline-start: calc(
    -1 * calc(
      var(--mod-picker-popover-quiet-offset-x, var(--spectrum-picker-popover-quiet-offset-x)) + var(--mod-picker-popover-border-size, var(--spectrum-picker-popover-border-size))
    )
  );
}

.spectrum-Picker--quiet {
  border: none;
  border-radius: 0;
  padding-inline: var(--mod-picker-spacing-edge-to-text-quiet, var(--spectrum-picker-spacing-edge-to-text-quiet));
  margin-block-start: var(--mod-picker-spacing-label-to-picker-quiet, var(--spectrum-picker-spacing-label-to-picker-quiet));

  color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-default, var(--spectrum-picker-font-color-default)));
  background-color: transparent;

  &:hover {
    /* background-color: var(--spectrum-picker-m-quiet-texticon-background-color-hover); */
    /* color: var(--spectrum-picker-m-texticon-text-color-hover); */
  }

  &:focus-visible,
  &.is-focused {
    /* background-color: var(--spectrum-picker-quiet-background-color-key-focus); */
    box-shadow: 0 var(--mod-picker-focus-indicator-size, var(--spectrum-picker-focus-indicator-size)) 0 0 var(--highcontrast-picker-focus-indicator-color, var(--spectrum-picker-focus-indicator-color));


    &.is-placeholder {
      /* color: var(--spectrum-picker-m-quiet-texticon-placeholder-text-color-key-focus); */
    }
    .spectrum-Picker-menuIcon {
      /* color: var(--spectrum-picker-m-texticon-icon-color-key-focus) */
    }
    &::after {
      box-shadow: none;
    }
  }

  &:active,
  &.is-open {
    background-color: transparent;

    &:focus-visible,
    &.is-focused {
      box-shadow: 0 var(--mod-picker-focus-indicator-size, var(--spectrum-picker-focus-indicator-size)) 0 0 var(--highcontrast-picker-focus-indicator-color, var(--mod-picker-focus-indicator-color, var(--spectrum-picker-focus-indicator-color)));
    }
  }

  &.is-invalid {
    &:focus-visible,
    &.is-focused {
      box-shadow: 0 var(--mod-picker-focus-indicator-size, var(--spectrum-picker-focus-indicator-size)) 0 0 var(--highcontrast-picker-focus-indicator-color, var(--mod-picker-focus-indicator-color, var(--spectrum-picker-focus-indicator-color)));
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: transparent;
  }
}
