/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@container style(--system: legacy) {
	.spectrum-InfieldButton {
		--spectrum-infield-button-border-width: var(--spectrum-border-width-100);
		--spectrum-infield-button-border-color: inherit;

		--spectrum-infield-button-border-radius: var(--spectrum-corner-radius-100);
		--spectrum-infield-button-border-radius-reset: 0;

		/* Have to call these out specifically due to Express differences */
		--spectrum-infield-button-stacked-top-border-radius-start-start: var(--spectrum-infield-button-border-radius-reset);
		--spectrum-infield-button-stacked-bottom-border-radius-end-start: var(--spectrum-infield-button-border-radius-reset);

		--spectrum-infield-button-background-color: var(--spectrum-gray-75);
		--spectrum-infield-button-background-color-hover: var(--spectrum-gray-200);
		--spectrum-infield-button-background-color-down: var(--spectrum-gray-300);
		--spectrum-infield-button-background-color-key-focus: var(--spectrum-gray-200);

		/* Medium size is the default */
		--spectrum-infield-button-height: var(--spectrum-component-height-100);
		--spectrum-infield-button-width: var(--spectrum-component-height-100);
		--spectrum-infield-button-stacked-border-radius-reset: var(--spectrum-in-field-button-fill-stacked-inner-border-rounding);

		--spectrum-infield-button-edge-to-fill: var(--spectrum-in-field-button-edge-to-fill);
		--spectrum-infield-button-inner-edge-to-fill: var(--spectrum-in-field-button-stacked-inner-edge-to-fill);
		--spectrum-infield-button-fill-padding: 0px;
		--spectrum-infield-button-stacked-fill-padding-inline: var(--spectrum-in-field-button-edge-to-disclosure-icon-stacked-medium);
		--spectrum-infield-button-stacked-fill-padding-outer: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-medium);
		--spectrum-infield-button-stacked-fill-padding-inner: var(--spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-medium);

		--spectrum-infield-button-animation-duration: var(--spectrum-animation-duration-100);

		--spectrum-infield-button-icon-color: var(--spectrum-neutral-content-color-default);
		--spectrum-infield-button-icon-color-hover: var(--spectrum-neutral-content-color-hover);
		--spectrum-infield-button-icon-color-down: var(--spectrum-neutral-content-color-down);
		--spectrum-infield-button-icon-color-key-focus: var(--spectrum-neutral-content-color-key-focus);

		--spectrum-infield-button-fill-justify-content: center;

		&:disabled {
			--mod-infield-button-background-color: var(--mod-infield-button-background-color-disabled, var(--spectrum-disabled-background-color));
			--mod-infield-button-background-color-hover: var(--mod-infield-button-background-color-hover-disabled, var(--spectrum-disabled-background-color));
			--mod-infield-button-background-color-down: var(--mod-infield-button-background-color-down-disabled, var(--spectrum-disabled-background-color));
			--mod-infield-button-border-color: var(--mod-infield-button-border-color-disabled, var(--spectrum-disabled-background-color));

			--mod-infield-button-icon-color: var(--mod-infield-button-icon-color-disabled, var(--spectrum-disabled-content-color));
			--mod-infield-button-icon-color-hover: var(--mod-infield-button-icon-color-hover-disabled, var(--spectrum-disabled-content-color));
			--mod-infield-button-icon-color-down: var(--mod-infield-button-icon-color-down-disabled, var(--spectrum-disabled-content-color));
			--mod-infield-button-icon-color-key-focus: var(--mod-infield-button-icon-color-key-focus-disabled, var(--spectrum-disabled-content-color));
		}

		&.spectrum-InfieldButton--sizeS {
			--spectrum-infield-button-height: var(--spectrum-component-height-75);
			--spectrum-infield-button-width: var(--spectrum-component-height-75);
			--spectrum-infield-button-stacked-fill-padding-inline: var(--spectrum-in-field-button-edge-to-disclosure-icon-stacked-small);
			--spectrum-infield-button-stacked-fill-padding-outer: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-small);
			--spectrum-infield-button-stacked-fill-padding-inner: var(--spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-small);
		}

		&.spectrum-InfieldButton--sizeL {
			--spectrum-infield-button-height: var(--spectrum-component-height-200);
			--spectrum-infield-button-width: var(--spectrum-component-height-200);
			--spectrum-infield-button-stacked-fill-padding-inline: var(--spectrum-in-field-button-edge-to-disclosure-icon-stacked-large);
			--spectrum-infield-button-stacked-fill-padding-outer: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-large);
			--spectrum-infield-button-stacked-fill-padding-inner: var(--spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-large);
		}

		&.spectrum-InfieldButton--sizeXL {
			--spectrum-infield-button-height: var(--spectrum-component-height-300);
			--spectrum-infield-button-width: var(--spectrum-component-height-300);
			--spectrum-infield-button-stacked-fill-padding-inline: var(--spectrum-in-field-button-edge-to-disclosure-icon-stacked-extra-large);
			--spectrum-infield-button-stacked-fill-padding-outer: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-extra-large);
			--spectrum-infield-button-stacked-fill-padding-inner: var(--spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-extra-large);
		}

		&.spectrum-InfieldButton--top,
		&.spectrum-InfieldButton--bottom {
			--mod-infield-button-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-medium));

			&.spectrum-InfieldButton--sizeS {
				--mod-infield-button-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-small));
			}

			&.spectrum-InfieldButton--sizeL {
				--mod-infield-button-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-large));
			}

			&.spectrum-InfieldButton--sizeXL {
				--mod-infield-button-width: var(--mod-infield-button-width-stacked, var(--spectrum-in-field-button-width-stacked-extra-large));
			}
		}

		&.spectrum-InfieldButton--quiet {
			--mod-infield-button-background-color: var(--mod-infield-button-background-color-quiet, transparent);
			--mod-infield-button-background-color-hover: var(--mod-infield-button-background-color-hover-quiet, transparent);
			--mod-infield-button-background-color-down: var(--mod-infield-button-background-color-down-quiet, transparent);
			--mod-infield-button-background-color-key-focus: var(--mod-infield-button-background-color-key-focus-quiet, transparent);

			--mod-infield-border-color: var(--mod-infield-border-color-quiet, transparent);
			--mod-infield-button-border-width: var(--mod-infield-button-border-width-quiet, 0);

			&:disabled {
				--mod-infield-button-background-color: var(--mod-infield-button-background-color-quiet-disabled, transparent);
				--mod-infield-button-border-color: var(--mod-infield-button-border-color-quiet-disabled, transparent);
			}
		}
	}
}
