/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --spectrum-datepicker-min-width: var(--mod-datepicker-min-width, var(--spectrum-datepicker-min-width));
  --spectrum-datepicker-border-radius: var(--mod-datepicker-border-radius, var(--spectrum-datepicker-border-radius));
  --spectrum-datepicker-dash-color-disabled: var(--mod-datepicker-dash-color-disabled, var(--spectrum-datepicker-dash-color-disabled));
  --spectrum-datepicker-pickerbutton-border-color: var(--mod-datepicker-pickerbutton-border-color, var(--spectrum-datepicker-pickerbutton-border-color));
  --spectrum-datepicker-pickerbutton-border-color-invalid: var(--mod-datepicker-pickerbutton-border-color-invalid, var(--spectrum-datepicker-pickerbutton-border-color-invalid));
  --spectrum-datepicker-padding-inline: var(--mod-datepicker-padding-inline, var(--spectrum-datepicker-padding-inline));
  --spectrum-datepicker-padding-inline-end-invalid: var(--mod-datepicker-padding-inline-end-invalid, var(--spectrum-datepicker-padding-inline-end-invalid));
  --spectrum-datepicker-border-radius-quiet: var(--mod-datepicker-border-radius-quiet, var(--spectrum-datepicker-border-radius-quiet));
  --spectrum-datepicker-padding-inline-end-quiet: var(--mod-datepicker-padding-inline-end-quiet, var(--spectrum-datepicker-padding-inline-end-quiet));
  --spectrum-datepicker-padding-inline-end-invalid-quiet: var(--mod-datepicker-padding-inline-end-invalid-quiet, var(--spectrum-datepicker-padding-inline-end-invalid-quiet));
  --spectrum-datepicker-quiet-button-offset: var(--mod-datepicker-quiet-button-offset, var(--spectrum-datepicker-quiet-button-offset));
  --spectrum-datepicker-border-color-disabled: var(--mod-datepicker-border-color-disabled, var(--spectrum-datepicker-border-color-disabled));
  --spectrum-datepicker-quiet-border-color-hover: var(--mod-datepicker-quiet-border-color-hover, var(--spectrum-datepicker-quiet-border-color-hover));
  --spectrum-datepicker-invalid-quiet-color: var(--mod-datepicker-invalid-quiet-color, var(--spectrum-datepicker-invalid-quiet-color));
  --spectrum-datepicker-focus-ring-gap: var(--mod-datepicker-focus-ring-gap, var(--spectrum-datepicker-focus-ring-gap));
  --spectrum-datepicker-focus-animation: var(--mod-datepicker-focus-animation, var(--spectrum-datepicker-focus-animation));
  --spectrum-datepicker-focus-ring-width: var(--mod-datepicker-focus-ring-width, var(--spectrum-datepicker-focus-ring-width));
  --spectrum-datepicker-focus-ring-color: var(--mod-datepicker-focus-ring-color, var(--spectrum-datepicker-focus-ring-color));
  --spectrum-datepicker-focus-thickness: var(--mod-datepicker-focus-thickness, var(--spectrum-datepicker-focus-thickness));
  --spectrum-datepicker-focus-line-gap: var(--mod-datepicker-focus-line-gap, var(--spectrum-datepicker-focus-line-gap));
  --spectrum-datepicker-input-width-quiet: var(--mod-datepicker-input-width-quiet, var(--spectrum-datepicker-input-width-quiet));
  --spectrum-datepicker-range-input-width-quiet-first: var(--mod-datepicker-range-input-width-quiet-first, var(--spectrum-datepicker-range-input-width-quiet-first));
  --spectrum-datepicker-datetime-input-width: var(--mod-datepicker-datetime-input-width, var(--spectrum-datepicker-datetime-input-width));
  --spectrum-datepicker-datetime-input-width-first: var(--mod-datepicker-datetime-input-width-first, var(--spectrum-datepicker-datetime-input-width-first));
  --spectrum-datepicker-datetime-quiet-input-width: var(--mod-datepicker-datetime-quiet-input-width, var(--spectrum-datepicker-datetime-quiet-input-width));
  --spectrum-datepicker-datetime-quiet-input-width-first: var(--mod-datepicker-datetime-quiet-input-width-first, var(--spectrum-datepicker-datetime-quiet-input-width-first));
  --spectrum-datepicker-input-width: var(--mod-datepicker-input-width, var(--spectrum-datepicker-input-width));
  --spectrum-datepicker-range-input-width-first: var(--mod-datepicker-range-input-width-first, var(--spectrum-datepicker-range-input-width-first));
  --spectrum-datepicker-generic-padding: var(--mod-datepicker-generic-padding, var(--spectrum-datepicker-generic-padding));
  --spectrum-datepicker-dash-color: var(--mod-datepicker-dash-color, var(--spectrum-datepicker-dash-color));
  --spectrum-datepicker-dash-line-height: var(--mod-datepicker-dash-line-height, var(--spectrum-datepicker-dash-line-height));
  --spectrum-datepicker-range-dash-padding-top: var(--mod-datepicker-range-dash-padding-top, var(--spectrum-datepicker-range-dash-padding-top));
  --spectrum-datepicker-range-dash-margin-left: var(--mod-datepicker-range-dash-margin-left, var(--spectrum-datepicker-range-dash-margin-left));
  --spectrum-datepicker-dash-font-size: var(--mod-datepicker-dash-font-size, var(--spectrum-datepicker-dash-font-size));
}
