<a class="spectrum-Card spectrum-Card--sizeS spectrum-Card--horizontal" href="{{ card.href }}">
    <div class="spectrum-Card-preview spectrum-CSSComponent-resource--{{ card.type | slugify }}">
        {{ card.svg | safe }}
    </div>
    <div class="spectrum-Card-body">
        <div class="spectrum-Card-header">
            <div class="spectrum-Card-title spectrum-Heading spectrum-Heading--sizeXS">{{ card.cta }}</div>
        </div>
        <div class="spectrum-Card-content">
            <div class="spectrum-Card-subtitle spectrum-Detail spectrum-Detail--sizeS">{{ card.type }}</div>
        </div>
    </div>
</a>
