{
	"env": {
		"node": true,
		"es2020": true,
		"browser": true
	},
	"parserOptions": {
		"sourceType": "module"
	},
	"extends": "eslint:recommended",
	"rules": {
		"brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
		"func-call-spacing": ["warn", "never"],
		"indent": ["warn", 2],
		"linebreak-style": ["warn", "unix"],
		"no-console": 0,
		"quotes": ["warn", "double"],
		"semi": ["warn", "always"],
		"space-before-blocks": ["warn", "always"]
	},
	"root": true
}
