dist
dist-site
!tokens/dist/index.css
!tokens/dist/css/*.css
!tokens/dist/css/express/*.css
!tokens/dist/css/spectrum/*.css
!ui-icons/dist

# Not committing the map assets, these are dev-only
*.map

# Recommended update re:https://docs.netlify.com/integrations/frameworks/eleventy/
**/node_modules/**

temp
.npmrc*
.nx
.env
.tmp
npm-debug.log*
.DS_Store
.idea
lerna-debug.log
yarn-error.log
package-lock.json
.nx

# Storybook build output
.storybook/storybook-static
storybook-static
build-storybook.log

# Chromatic
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics*.json
chromatic.config.json

# Custom diff tool
.diff-output

.eslintcache
.stylelintcache

# yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
