# Compiled results
dist

# Recommended update re:https://docs.netlify.com/integrations/frameworks/eleventy/
**/node_modules/**

# Reporting and logs
temp
.npmrc*
.nx
.env
.tmp
npm-debug.log*
.DS_Store
.idea
lerna-debug.log
yarn-error.log
package-lock.json
lint-results.txt
.diff-output
.nx

# Storybook build output
.storybook/storybook-static
build-storybook.log

# Chromatic
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics*.json
chromatic.config.json
chromatic.log

# Path to NX cache in CI-only (local cache is in node_modules/.cache/nx)
.nx-cache
# Other assundry caches
.*-cache
.nx

# Test coverage reports
coverage
profile.json

 site/**/*.map
