dist
dist-site
node_modules
temp
.npmrc*
.tmp
npm-debug.log*
.DS_Store
/tests/bitmaps_reference/
/tests/bitmaps_test/
/tests/build_data/
/tests/html_report/
/tests/json_report/
/tests/ci_report/
/tests/backstop_scenarios.json
/tests/packageDependentMap.json
.idea
lerna-debug.log
yarn-error.log
_site

# Storybook build output
tools/preview/storybook-static
