/src
/docs
/node_modules
/tasks
/topdoc
/tests/bitmaps_reference/
/tests/bitmaps_test/
/tests/build_data/
/tests/html_report/
/tests/json_report/
/tests/ci_report/
/temp
/backstop.json
/gulpfile.js
npm-debug.log
/.github
/dist/docs/
/components
/tools
