{
	"tabWidth": 2,
	"useTabs": true,
	"overrides": [
    {
      "files": "*.css",
      "options": {
        "printWidth": 500
      }
    },
    {
      "files": ".github/**/*.yml",
      "options": {
        "tabWidth": 4,
        "useTabs": false
      }
    }
  ]
}
