{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false,
            "dynamicImport": true,
            "decorators": true,
            "topLevelAwait": true
        },
        "transform": {},
        "target": "es5",
        "loose": false
    },
    "minify": false
}
