language: node_js
node_js:
  - "node"
install:
  - yarn
before_script:
  - yarn global add gulp-cli
script:
  # This script should be the first that runs to reduce the risk of
  # executing a script from a compromised NPM package.
  - audit-ci --moderate
  - gulp build
