/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --spectrum-card-content-margin-top-quiet: var(--mod-card-content-margin-top-quiet, var(--spectrum-card-content-margin-top-quiet));
  --spectrum-card-minimum-width-quiet: var(--mod-card-minimum-width-quiet, var(--spectrum-card-minimum-width-quiet));
  --spectrum-card-minimum-width: var(--mod-card-minimum-width, var(--spectrum-card-minimum-width));
  --spectrum-card-border-width: var(--mod-card-border-width, var(--spectrum-card-border-width));
  --spectrum-card-corner-radius: var(--mod-card-corner-radius, var(--spectrum-card-corner-radius));
  --spectrum-card-border-color: var(--mod-card-border-color, var(--spectrum-card-border-color));
  --spectrum-card-background-color: var(--mod-card-background-color, var(--spectrum-card-background-color));
  --spectrum-spectrum-card-background-color: var(--mod-spectrum-card-background-color, var(--spectrum-spectrum-card-background-color));
  --spectrum-card-focus-indicator-width: var(--mod-card-focus-indicator-width, var(--spectrum-card-focus-indicator-width));
  --spectrum-card-focus-indicator-color: var(--mod-card-focus-indicator-color, var(--spectrum-card-focus-indicator-color));
  --spectrum-card-border-color-selected: var(--mod-card-border-color-selected, var(--spectrum-card-border-color-selected));
  --spectrum-card-selected-background-color-rgb: var(--mod-card-selected-background-color-rgb, var(--spectrum-card-selected-background-color-rgb));
  --spectrum-card-selected-background-opacity: var(--mod-card-selected-background-opacity, var(--spectrum-card-selected-background-opacity));
  --spectrum-card-actions-drop-shadow-x: var(--mod-card-actions-drop-shadow-x, var(--spectrum-card-actions-drop-shadow-x));
  --spectrum-card-actions-drop-shadow-y: var(--mod-card-actions-drop-shadow-y, var(--spectrum-card-actions-drop-shadow-y));
  --spectrum-card-actions-drop-shadow-blur: var(--mod-card-actions-drop-shadow-blur, var(--spectrum-card-actions-drop-shadow-blur));
  --spectrum-card-actions-drop-shadow-color: var(--mod-card-actions-drop-shadow-color, var(--spectrum-card-actions-drop-shadow-color));
  --spectrum-card-actions-size: var(--mod-card-actions-size, var(--spectrum-card-actions-size));
  --spectrum-card-actions-border-radius: var(--mod-card-actions-border-radius, var(--spectrum-card-actions-border-radius));
  --spectrum-card-actions-background-color-rgb: var(--mod-card-actions-background-color-rgb, var(--spectrum-card-actions-background-color-rgb));
  --spectrum-card-actions-background-color-opacity: var(--mod-card-actions-background-color-opacity, var(--spectrum-card-actions-background-color-opacity));
  --spectrum-card-actions-spacing: var(--mod-card-actions-spacing, var(--spectrum-card-actions-spacing));
  --spectrum-card-preview-minimum-height: var(--mod-card-preview-minimum-height, var(--spectrum-card-preview-minimum-height));
  --spectrum-card-content-margin-top: var(--mod-card-content-margin-top, var(--spectrum-card-content-margin-top));
  --spectrum-card-body-padding-block-start: var(--mod-card-body-padding-block-start, var(--spectrum-card-body-padding-block-start));
  --spectrum-card-title-padding-top: var(--mod-card-title-padding-top, var(--spectrum-card-title-padding-top));
  --spectrum-card-body-padding-inline-end: var(--mod-card-body-padding-inline-end, var(--spectrum-card-body-padding-inline-end));
  --spectrum-card-body-spacing: var(--mod-card-body-spacing, var(--spectrum-card-body-spacing));
  --spectrum-card-body-padding-inline-start: var(--mod-card-body-padding-inline-start, var(--spectrum-card-body-padding-inline-start));
  --spectrum-card-body-padding-block-end: var(--mod-card-body-padding-block-end, var(--spectrum-card-body-padding-block-end));
  --spectrum-card-body-font-color: var(--mod-card-body-font-color, var(--spectrum-card-body-font-color));
  --spectrum-card-title-padding-right: var(--mod-card-title-padding-right, var(--spectrum-card-title-padding-right));
  --spectrum-card-title-font-family: var(--mod-card-title-font-family, var(--spectrum-card-title-font-family));
  --spectrum-card-title-font-size: var(--mod-card-title-font-size, var(--spectrum-card-title-font-size));
  --spectrum-card-title-font-weight: var(--mod-card-title-font-weight, var(--spectrum-card-title-font-weight));
  --spectrum-card-title-font-style: var(--mod-card-title-font-style, var(--spectrum-card-title-font-style));
  --spectrum-card-title-line-height: var(--mod-card-title-line-height, var(--spectrum-card-title-line-height));
  --spectrum-card-title-font-color: var(--mod-card-title-font-color, var(--spectrum-card-title-font-color));
  --spectrum-card-subtitle-padding-right: var(--mod-card-subtitle-padding-right, var(--spectrum-card-subtitle-padding-right));
  --spectrum-card-body-font-family: var(--mod-card-body-font-family, var(--spectrum-card-body-font-family));
  --spectrum-card-body-font-size: var(--mod-card-body-font-size, var(--spectrum-card-body-font-size));
  --spectrum-card-body-font-weight: var(--mod-card-body-font-weight, var(--spectrum-card-body-font-weight));
  --spectrum-card-body-font-style: var(--mod-card-body-font-style, var(--spectrum-card-body-font-style));
  --spectrum-card-body-line-height: var(--mod-card-body-line-height, var(--spectrum-card-body-line-height));
  --spectrum-card-footer-margin-block-start: var(--mod-card-footer-margin-block-start, var(--spectrum-card-footer-margin-block-start));
  --spectrum-card-content-margin-bottom: var(--mod-card-content-margin-bottom, var(--spectrum-card-content-margin-bottom));
  --spectrum-card-footer-margin-inline-start: var(--mod-card-footer-margin-inline-start, var(--spectrum-card-footer-margin-inline-start));
  --spectrum-card-footer-margin-inline-end: var(--mod-card-footer-margin-inline-end, var(--spectrum-card-footer-margin-inline-end));
  --spectrum-card-footer-padding-block-end: var(--mod-card-footer-padding-block-end, var(--spectrum-card-footer-padding-block-end));
  --spectrum-card-footer-padding-block-start: var(--mod-card-footer-padding-block-start, var(--spectrum-card-footer-padding-block-start));
  --spectrum-card-footer-margin-top: var(--mod-card-footer-margin-top, var(--spectrum-card-footer-margin-top));
  --spectrum-card-divider-color: var(--mod-card-divider-color, var(--spectrum-card-divider-color));
  --spectrum-card-preview-border-width-selected: var(--mod-card-preview-border-width-selected, var(--spectrum-card-preview-border-width-selected));
  --spectrum-card-preview-border-width: var(--mod-card-preview-border-width, var(--spectrum-card-preview-border-width));
  --spectrum-card-preview-background-color: var(--mod-card-preview-background-color, var(--spectrum-card-preview-background-color));
  --spectrum-card-animation-duration: var(--mod-card-animation-duration, var(--spectrum-card-animation-duration));
  --spectrum-animation-duration-100: var(--mod-animation-duration-100, var(--spectrum-animation-duration-100));
  --spectrum-card-border-color-hover: var(--mod-card-border-color-hover, var(--spectrum-card-border-color-hover));
  --spectrum-card-preview-background-color-hover: var(--mod-card-preview-background-color-hover, var(--spectrum-card-preview-background-color-hover));
  --spectrum-card-background-color-hover: var(--mod-card-background-color-hover, var(--spectrum-card-background-color-hover));
  --spectrum-card-horizontal-preview-padding: var(--mod-card-horizontal-preview-padding, var(--spectrum-card-horizontal-preview-padding));
  --spectrum-card-horizontal-body-padding: var(--mod-card-horizontal-body-padding, var(--spectrum-card-horizontal-body-padding));
}
