@import '../commons/index.css';

/* topdoc
{{ taglist/taglist-default.yml }}
*/
/* topdoc
{{ taglist/taglist-removable.yml }}
*/
/* topdoc
{{ taglist/taglist-avatar.yml }}
*/
/* topdoc
{{ taglist/taglist-icon.yml }}
*/

:root {
  --spectrum-tag-remove-button-size: calc(var(--spectrum-tag-height) / 2);
}

.spectrum-TagList {
  display: inline-block;

  margin: 0;
  padding: 0;
  list-style: none;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.spectrum-TagList-item {
  float: left;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;

  margin: calc(var(--spectrum-taggroup-tag-gap-y) / 2) calc(var(--spectrum-taggroup-tag-gap-x) / 2);
  padding: 0 var(--spectrum-tag-padding-x);
  height: var(--spectrum-tag-height);
  max-width: 100%;

  border-radius: var(--spectrum-border-radius);
  outline: none;
  user-select: none;

  transition: border-color var(--spectrum-transition-time) ease-in-out,
    color var(--spectrum-transition-time) ease-in-out,
    box-shadow var(--spectrum-transition-time) ease-in-out,
    background-color var(--spectrum-transition-time) ease-in-out;

  &.is-disabled {
    pointer-events: none;
  }

  > .spectrum-Icon,
  > .spectrum-Avatar {
    margin-right: var(--spectrum-tag-icon-padding-x);
  }

  > .spectrum-Icon,
  > .spectrum-Avatar {
    /* Move it 2px to the left cause Nate says so */
    margin-left: -2px;
  }
}

.spectrum-TagList-item-label {
  flex: 1 1 auto;
  font-size: var(--spectrum-tag-text-size);
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spectrum-TagList-item-removeButton {
  width: var(--spectrum-tag-height);
  height: var(--spectrum-tag-height);
  margin-right: calc(-1 * var(--spectrum-tag-padding-x));
  cursor: pointer;

  /* The actual icon */
  .spectrum-Icon {
    width: var(--spectrum-tag-icon-size);
    height: var(--spectrum-tag-icon-size);
  }
}
