:root {
  --spectrum-global-color-static-black: rgb(0, 0, 0);
  --spectrum-global-color-static-white: rgb(255, 255, 255);
  --spectrum-global-color-static-blue: rgb(20, 115, 230);
  --spectrum-global-color-static-gray-50: rgb(255, 255, 255);
  --spectrum-global-color-static-gray-75: rgb(255, 255, 255);
  --spectrum-global-color-static-gray-100: rgb(255, 255, 255);
  --spectrum-global-color-static-gray-200: rgb(244, 244, 244);
  --spectrum-global-color-static-gray-300: rgb(234, 234, 234);
  --spectrum-global-color-static-gray-400: rgb(211, 211, 211);
  --spectrum-global-color-static-gray-500: rgb(188, 188, 188);
  --spectrum-global-color-static-gray-600: rgb(149, 149, 149);
  --spectrum-global-color-static-gray-700: rgb(116, 116, 116);
  --spectrum-global-color-static-gray-800: rgb(80, 80, 80);
  --spectrum-global-color-static-gray-900: rgb(50, 50, 50);
  --spectrum-global-color-static-blue-200: rgb(90, 169, 250);
  --spectrum-global-color-static-blue-300: rgb(75, 156, 245);
  --spectrum-global-color-static-blue-400: rgb(55, 142, 240);
  --spectrum-global-color-static-blue-500: rgb(38, 128, 235);
  --spectrum-global-color-static-blue-600: rgb(20, 115, 230);
  --spectrum-global-color-static-blue-700: rgb(13, 102, 208);
  --spectrum-global-color-static-red-400: rgb(236, 91, 98);
  --spectrum-global-color-static-red-500: rgb(227, 72, 80);
  --spectrum-global-color-static-red-600: rgb(215, 55, 63);
  --spectrum-global-color-static-red-700: rgb(201, 37, 45);
  --spectrum-global-color-static-orange-400: rgb(242, 148, 35);
  --spectrum-global-color-static-orange-500: rgb(230, 134, 25);
  --spectrum-global-color-static-orange-600: rgb(218, 123, 17);
  --spectrum-global-color-static-orange-700: rgb(203, 111, 16);
  --spectrum-global-color-static-green-400: rgb(51, 171, 132);
  --spectrum-global-color-static-green-500: rgb(45, 157, 120);
  --spectrum-global-color-static-green-600: rgb(38, 142, 108);
  --spectrum-global-color-static-green-700: rgb(18, 128, 92);
  --spectrum-global-color-static-celery-200: rgb(88, 224, 111);
  --spectrum-global-color-static-celery-300: rgb(81, 210, 103);
  --spectrum-global-color-static-celery-400: rgb(75, 195, 95);
  --spectrum-global-color-static-celery-500: rgb(68, 181, 86);
  --spectrum-global-color-static-celery-600: rgb(61, 167, 78);
  --spectrum-global-color-static-celery-700: rgb(55, 153, 71);
  --spectrum-global-color-static-chartreuse-300: rgb(155, 236, 84);
  --spectrum-global-color-static-chartreuse-400: rgb(142, 222, 73);
  --spectrum-global-color-static-chartreuse-500: rgb(133, 208, 68);
  --spectrum-global-color-static-chartreuse-600: rgb(124, 195, 63);
  --spectrum-global-color-static-chartreuse-700: rgb(115, 181, 58);
  --spectrum-global-color-static-yellow-200: rgb(255, 226, 46);
  --spectrum-global-color-static-yellow-300: rgb(250, 217, 0);
  --spectrum-global-color-static-yellow-400: rgb(237, 204, 0);
  --spectrum-global-color-static-yellow-500: rgb(223, 191, 0);
  --spectrum-global-color-static-yellow-600: rgb(210, 178, 0);
  --spectrum-global-color-static-yellow-700: rgb(196, 166, 0);
  --spectrum-global-color-static-magenta-200: rgb(245, 107, 183);
  --spectrum-global-color-static-magenta-300: rgb(236, 90, 170);
  --spectrum-global-color-static-magenta-400: rgb(226, 73, 157);
  --spectrum-global-color-static-magenta-500: rgb(216, 55, 144);
  --spectrum-global-color-static-magenta-600: rgb(202, 41, 130);
  --spectrum-global-color-static-magenta-700: rgb(188, 28, 116);
  --spectrum-global-color-static-fuchsia-400: rgb(207, 62, 220);
  --spectrum-global-color-static-fuchsia-500: rgb(192, 56, 204);
  --spectrum-global-color-static-fuchsia-600: rgb(177, 48, 189);
  --spectrum-global-color-static-fuchsia-700: rgb(162, 40, 173);
  --spectrum-global-color-static-purple-400: rgb(157, 100, 225);
  --spectrum-global-color-static-purple-500: rgb(146, 86, 217);
  --spectrum-global-color-static-purple-600: rgb(134, 76, 204);
  --spectrum-global-color-static-purple-700: rgb(122, 66, 191);
  --spectrum-global-color-static-purple-800: rgb(111, 56, 177);
  --spectrum-global-color-static-indigo-200: rgb(144, 144, 250);
  --spectrum-global-color-static-indigo-300: rgb(130, 130, 246);
  --spectrum-global-color-static-indigo-400: rgb(117, 117, 241);
  --spectrum-global-color-static-indigo-500: rgb(103, 103, 236);
  --spectrum-global-color-static-indigo-600: rgb(92, 92, 224);
  --spectrum-global-color-static-indigo-700: rgb(81, 81, 211);
  --spectrum-global-color-static-seafoam-200: rgb(38, 192, 199);
  --spectrum-global-color-static-seafoam-300: rgb(35, 178, 184);
  --spectrum-global-color-static-seafoam-400: rgb(32, 163, 168);
  --spectrum-global-color-static-seafoam-500: rgb(27, 149, 154);
  --spectrum-global-color-static-seafoam-600: rgb(22, 135, 140);
  --spectrum-global-color-static-seafoam-700: rgb(15, 121, 125);
  --spectrum-global-color-opacity-100: 1;
  --spectrum-global-color-opacity-90: 0.9;
  --spectrum-global-color-opacity-80: 0.8;
  --spectrum-global-color-opacity-60: 0.6;
  --spectrum-global-color-opacity-50: 0.5;
  --spectrum-global-color-opacity-40: 0.4;
  --spectrum-global-color-opacity-30: 0.3;
  --spectrum-global-color-opacity-25: 0.25;
  --spectrum-global-color-opacity-20: 0.2;
  --spectrum-global-color-opacity-15: 0.15;
  --spectrum-global-color-opacity-10: 0.1;
  --spectrum-global-color-opacity-8: 0.08;
  --spectrum-global-color-opacity-7: 0.07;
  --spectrum-global-color-opacity-6: 0.06;
  --spectrum-global-color-opacity-5: 0.05;
  --spectrum-global-color-opacity-4: 0.04;
  --spectrum-global-color-sequential-cerulean: ["#E9FFF1","#C8F1E4","#A5E3D7","#82D5CA","#68C5C1","#54B4BA","#3FA2B2","#2991AC","#2280A2","#1F6D98","#1D5C8D","#1A4B83","#1A3979","#1A266F","#191264","#180057"];
  --spectrum-global-color-sequential-forest: ["#FFFFDF", "#E2F6BA", "#C4EB95", "#A4E16D", "#8DD366", "#77C460", "#5FB65A", "#48A754", "#36984F", "#2C894D", "#237A4A", "#196B47", "#105C45", "#094D41", "#033F3E", "#00313A"];
  --spectrum-global-color-sequential-rose: ["#FFF4DD", "#FFDDD7", "#FFC5D2", "#FEAECB", "#FA96C4", "#F57EBD", "#EF64B5", "#E846AD", "#D238A1", "#BB2E96", "#A3248C", "#8A1B83", "#71167C", "#560F74", "#370B6E", "#000968"];
  --spectrum-global-color-diverging-orange-yellow-seafoam: ["#580000", "#79260B", "#9C4511", "#BD651A", "#DD8629", "#F5AD52", "#FED693", "#FFFFE0", "#BBE4D1", "#76C7BE", "#3EA8A6", "#208288", "#076769", "#00494B", "#002C2D"];
  --spectrum-global-color-diverging-red-yellow-blue: ["#4A001E", "#751232", "#A52747", "#C65154", "#E47961", "#F0A882", "#FAD4AC", "#FFFFE0", "#BCE2CF", "#89C0C4", "#579EB9", "#397AA8", "#1C5796", "#163771", "#10194D"];
  --spectrum-global-color-diverging-red-blue: ["#4A001E", "#731331", "#9F2945", "#CC415A", "#E06E85", "#ED9AB0", "#F8C3D9", "#FAF0FF", "#C6D0F2", "#92B2DE", "#5D94CB", "#2F74B3", "#265191", "#163670", "#0B194C"];
}
