:root {
  --spectrum-global-color-status: Verified;
  --spectrum-global-color-version: 5.1.0;
  --spectrum-global-color-static-black: rgb(0, 0, 0);
  --spectrum-global-color-static-white: rgb(255, 255, 255);
  --spectrum-global-color-static-blue: rgb(0, 87, 191);
  --spectrum-global-color-static-gray-50: rgb(255, 255, 255);
  --spectrum-global-color-static-gray-75: rgb(255, 255, 255);
  --spectrum-global-color-static-gray-100: rgb(255, 255, 255);
  --spectrum-global-color-static-gray-200: rgb(235, 235, 235);
  --spectrum-global-color-static-gray-300: rgb(217, 217, 217);
  --spectrum-global-color-static-gray-400: rgb(179, 179, 179);
  --spectrum-global-color-static-gray-500: rgb(146, 146, 146);
  --spectrum-global-color-static-gray-600: rgb(110, 110, 110);
  --spectrum-global-color-static-gray-700: rgb(71, 71, 71);
  --spectrum-global-color-static-gray-800: rgb(34, 34, 34);
  --spectrum-global-color-static-gray-900: rgb(0, 0, 0);
  --spectrum-global-color-static-red-400: rgb(238, 64, 48);
  --spectrum-global-color-static-red-500: rgb(217, 27, 20);
  --spectrum-global-color-static-red-600: rgb(187, 2, 1);
  --spectrum-global-color-static-red-700: rgb(154, 0, 0);
  --spectrum-global-color-static-red-800: rgb(124, 0, 0);
  --spectrum-global-color-static-orange-400: rgb(251, 139, 26);
  --spectrum-global-color-static-orange-500: rgb(234, 116, 0);
  --spectrum-global-color-static-orange-600: rgb(209, 97, 0);
  --spectrum-global-color-static-orange-700: rgb(182, 80, 0);
  --spectrum-global-color-static-orange-800: rgb(155, 64, 0);
  --spectrum-global-color-static-yellow-200: rgb(251, 238, 132);
  --spectrum-global-color-static-yellow-300: rgb(251, 224, 30);
  --spectrum-global-color-static-yellow-400: rgb(239, 205, 0);
  --spectrum-global-color-static-yellow-500: rgb(221, 185, 0);
  --spectrum-global-color-static-yellow-600: rgb(202, 164, 0);
  --spectrum-global-color-static-yellow-700: rgb(182, 144, 0);
  --spectrum-global-color-static-yellow-800: rgb(160, 125, 0);
  --spectrum-global-color-static-chartreuse-300: rgb(165, 223, 87);
  --spectrum-global-color-static-chartreuse-400: rgb(140, 206, 59);
  --spectrum-global-color-static-chartreuse-500: rgb(117, 186, 37);
  --spectrum-global-color-static-chartreuse-600: rgb(100, 166, 24);
  --spectrum-global-color-static-chartreuse-700: rgb(83, 144, 15);
  --spectrum-global-color-static-chartreuse-800: rgb(71, 123, 11);
  --spectrum-global-color-static-celery-200: rgb(114, 224, 106);
  --spectrum-global-color-static-celery-300: rgb(88, 212, 87);
  --spectrum-global-color-static-celery-400: rgb(49, 193, 61);
  --spectrum-global-color-static-celery-500: rgb(13, 172, 37);
  --spectrum-global-color-static-celery-600: rgb(0, 150, 20);
  --spectrum-global-color-static-celery-700: rgb(0, 128, 16);
  --spectrum-global-color-static-celery-800: rgb(0, 107, 16);
  --spectrum-global-color-static-green-400: rgb(0, 148, 97);
  --spectrum-global-color-static-green-500: rgb(0, 126, 81);
  --spectrum-global-color-static-green-600: rgb(0, 105, 67);
  --spectrum-global-color-static-green-700: rgb(0, 86, 55);
  --spectrum-global-color-static-green-800: rgb(8, 67, 43);
  --spectrum-global-color-static-seafoam-200: rgb(79, 205, 208);
  --spectrum-global-color-static-seafoam-300: rgb(39, 185, 190);
  --spectrum-global-color-static-seafoam-400: rgb(0, 165, 172);
  --spectrum-global-color-static-seafoam-500: rgb(0, 143, 152);
  --spectrum-global-color-static-seafoam-600: rgb(0, 122, 133);
  --spectrum-global-color-static-seafoam-700: rgb(0, 101, 113);
  --spectrum-global-color-static-seafoam-800: rgb(2, 82, 93);
  --spectrum-global-color-static-blue-200: rgb(98, 172, 248);
  --spectrum-global-color-static-blue-300: rgb(66, 151, 245);
  --spectrum-global-color-static-blue-400: rgb(27, 127, 246);
  --spectrum-global-color-static-blue-500: rgb(5, 105, 227);
  --spectrum-global-color-static-blue-600: rgb(0, 87, 191);
  --spectrum-global-color-static-blue-700: rgb(0, 72, 153);
  --spectrum-global-color-static-blue-800: rgb(0, 56, 121);
  --spectrum-global-color-static-indigo-200: rgb(156, 159, 255);
  --spectrum-global-color-static-indigo-300: rgb(133, 137, 254);
  --spectrum-global-color-static-indigo-400: rgb(110, 114, 247);
  --spectrum-global-color-static-indigo-500: rgb(87, 92, 233);
  --spectrum-global-color-static-indigo-600: rgb(69, 73, 209);
  --spectrum-global-color-static-indigo-700: rgb(53, 58, 176);
  --spectrum-global-color-static-indigo-800: rgb(41, 44, 143);
  --spectrum-global-color-static-purple-400: rgb(162, 92, 247);
  --spectrum-global-color-static-purple-500: rgb(142, 66, 235);
  --spectrum-global-color-static-purple-600: rgb(121, 42, 216);
  --spectrum-global-color-static-purple-700: rgb(98, 23, 190);
  --spectrum-global-color-static-purple-800: rgb(77, 13, 157);
  --spectrum-global-color-static-fuchsia-400: rgb(211, 63, 212);
  --spectrum-global-color-static-fuchsia-500: rgb(188, 38, 188);
  --spectrum-global-color-static-fuchsia-600: rgb(163, 9, 164);
  --spectrum-global-color-static-fuchsia-700: rgb(135, 0, 136);
  --spectrum-global-color-static-fuchsia-800: rgb(107, 4, 107);
  --spectrum-global-color-static-magenta-200: rgb(254, 126, 175);
  --spectrum-global-color-static-magenta-300: rgb(243, 97, 157);
  --spectrum-global-color-static-magenta-400: rgb(227, 67, 136);
  --spectrum-global-color-static-magenta-500: rgb(206, 39, 111);
  --spectrum-global-color-static-magenta-600: rgb(179, 14, 89);
  --spectrum-global-color-static-magenta-700: rgb(149, 0, 73);
  --spectrum-global-color-static-magenta-800: rgb(119, 0, 59);
  --spectrum-global-color-static-transparent-white-200: rgba(255,255,255,0.1);
  --spectrum-global-color-static-transparent-white-300: rgba(255,255,255,0.25);
  --spectrum-global-color-static-transparent-white-400: rgba(255,255,255,0.4);
  --spectrum-global-color-static-transparent-white-500: rgba(255,255,255,0.55);
  --spectrum-global-color-static-transparent-white-600: rgba(255,255,255,0.7);
  --spectrum-global-color-static-transparent-white-700: rgba(255,255,255,0.8);
  --spectrum-global-color-static-transparent-white-800: rgba(255,255,255,0.9);
  --spectrum-global-color-static-transparent-white-900: rgb(255,255,255);
  --spectrum-global-color-static-transparent-black-200: rgba(0,0,0,0.1);
  --spectrum-global-color-static-transparent-black-300: rgba(0,0,0,0.25);
  --spectrum-global-color-static-transparent-black-400: rgba(0,0,0,0.4);
  --spectrum-global-color-static-transparent-black-500: rgba(0,0,0,0.55);
  --spectrum-global-color-static-transparent-black-600: rgba(0,0,0,0.7);
  --spectrum-global-color-static-transparent-black-700: rgba(0,0,0,0.8);
  --spectrum-global-color-static-transparent-black-800: rgba(0,0,0,0.9);
  --spectrum-global-color-static-transparent-black-900: rgb(0,0,0);
  --spectrum-global-color-sequential-cerulean: #E9FFF1,#C8F1E4,#A5E3D7,#82D5CA,#68C5C1,#54B4BA,#3FA2B2,#2991AC,#2280A2,#1F6D98,#1D5C8D,#1A4B83,#1A3979,#1A266F,#191264,#180057;
  --spectrum-global-color-sequential-forest: #FFFFDF,#E2F6BA,#C4EB95,#A4E16D,#8DD366,#77C460,#5FB65A,#48A754,#36984F,#2C894D,#237A4A,#196B47,#105C45,#094D41,#033F3E,#00313A;
  --spectrum-global-color-sequential-rose: #FFF4DD,#FFDDD7,#FFC5D2,#FEAECB,#FA96C4,#F57EBD,#EF64B5,#E846AD,#D238A1,#BB2E96,#A3248C,#8A1B83,#71167C,#560F74,#370B6E,#000968;
  --spectrum-global-color-diverging-orange-yellow-seafoam: #580000,#79260B,#9C4511,#BD651A,#DD8629,#F5AD52,#FED693,#FFFFE0,#BBE4D1,#76C7BE,#3EA8A6,#208288,#076769,#00494B,#002C2D;
  --spectrum-global-color-diverging-red-yellow-blue: #4A001E,#751232,#A52747,#C65154,#E47961,#F0A882,#FAD4AC,#FFFFE0,#BCE2CF,#89C0C4,#579EB9,#397AA8,#1C5796,#163771,#10194D;
  --spectrum-global-color-diverging-red-blue: #4A001E,#731331,#9F2945,#CC415A,#E06E85,#ED9AB0,#F8C3D9,#FAF0FF,#C6D0F2,#92B2DE,#5D94CB,#2F74B3,#265191,#163670,#0B194C;
}
