/* topdoc
{{ slider/slider-default.yml }}
*/
/* topdoc
{{ slider/slider-label.yml }}
*/
/* topdoc
{{ slider/slider-filled.yml }}
*/
/* topdoc
{{ slider/slider-video.yml }}
*/
/* topdoc
{{ slider/slider-tick.yml }}
*/
/* topdoc
{{ slider/slider-tick-label.yml }}
*/
/* topdoc
{{ slider/slider-ramp.yml }}
*/

.spectrum-Slider-track {
  &::before {
    background: var(--spectrum-slider-track-color);
  }
}

.spectrum-Slider-labelContainer {
  color: var(--spectrum-label-text-color);
}

.spectrum-Slider--filled {
  .spectrum-Slider-track:first-child {
    &::before {
      background: var(--spectrum-slider-fill-track-color);
    }
  }
}

.spectrum-Slider-buffer {
  &::before,
  &::after {
    background: var(--spectrum-slider-player-track-buffer-color);
  }
}

.spectrum-Slider-ramp {
  path {
    fill: var(--spectrum-slider-track-color);
  }
}

.spectrum-Slider-handle {
  border-color: var(--spectrum-slider-handle-border-color);
  background: var(--spectrum-alias-background-color-default);

  &:hover {
    border-color: var(--spectrum-slider-handle-border-color-hover);
  }

  &.is-focused {
    border-color: var(--spectrum-slider-handle-border-color-key-focus);
  }

  &:active,
  &.is-dragged {
    border-color: var(--spectrum-slider-handle-border-color-down);
  }
}

.spectrum-Slider--ramp {
  .spectrum-Slider-handle {
    /* We can't draw this one correctly without this hack : ( */
    box-shadow: 0 0 0 4px var(--spectrum-alias-background-color-default);
  }
}

.spectrum-Slider-input {
  background: transparent;
}

.spectrum-Slider-tick {
  &:after {
    background-color: var(--spectrum-slider-tick-mark-color);
  }
}

.spectrum-Slider-handle {
  &.is-focused {
    border-color: var(--spectrum-slider-handle-border-color-key-focus);
    background: var(--spectrum-slider-handle-background-color-key-focus);
  }

  &.is-dragged {
    border-color: var(--spectrum-slider-handle-border-color-down);
    background: var(--spectrum-slider-handle-background-color-down);
  }
}

/* topdoc
{{ slider/slider-double.yml }}
*/
.spectrum-Slider--range {
  .spectrum-Slider-track {
    &:not(:first-of-type):not(:last-of-type) {
      &:before {
        background: var(--spectrum-slider-fill-track-color);
      }
    }
  }
}

/* topdoc
{{ slider/slider-colored.yml }}
*/
.spectrum-Slider--color {
  .spectrum-Slider-track {
    &::before {
      background: linear-gradient(to right, var(--spectrum-slider-color-track-background-color-gradient-start), var(--spectrum-slider-color-track-background-color-gradient-end));
      box-shadow: inset 0 0 0 1px var(--spectrum-slider-color-track-border-color);
    }
  }
  .spectrum-Slider-handle {
    box-shadow: inset 0 0 0 1px var(--spectrum-slider-color-handle-inset-border-color), 0 0 0 1px var(--spectrum-slider-color-handle-outset-border-color);
    border-color: var(--spectrum-slider-color-handle-border-color);
    background: var(--spectrum-slider-color-handle-color);

    &.is-focused {
      box-shadow: 0 0 0 1px var(--spectrum-slider-color-handle-outset-border-color-key-focus);
    }
  }
}

/* topdoc
{{ slider/dial.yml }}
*/
/* topdoc
{{ slider/dial-label.yml }}
*/
.spectrum-Dial {
  .spectrum-Dial-handle {
    box-shadow: none;

    &::after {
      background-color: var(--spectrum-dial-handle-marker-color);
    }

    &:hover {
      &::after {
        background-color: var(--spectrum-dial-handle-marker-color-hover);
      }
    }

    &.is-focused {
      background-color: var(--spectrum-slider-handle-background-color-key-focus);

      border-color: var(--spectrum-slider-handle-border-color-key-focus);

      &::after {
        background-color: var(--spectrum-dial-handle-marker-color-key-focus);
      }
    }

    &:active,
    &.is-dragged {
      background-color: var(--spectrum-dial-border-color-hover);

      border-color: var(--spectrum-slider-handle-border-color-down);

      &::after {
        background-color: var(--spectrum-dial-handle-marker-color-key-focus);
      }
    }
  }

  .spectrum-Dial-controls {
    &::before,
    &::after {
      background-color: var(--spectrum-dial-min-max-tick-color);
    }
  }

  &.is-disabled {
    .spectrum-Dial-labelContainer {
      color: var(--spectrum-label-text-color-disabled);
    }
    .spectrum-Dial-controls {
      &::after,
      &::before {
        background-color: var(--spectrum-slider-handle-border-color-disabled);
      }
    }
    .spectrum-Dial-handle {
      border-color: var(--spectrum-slider-handle-border-color-disabled);
      background: var(--spectrum-alias-background-color-default);

      &:hover,
      &:active {
        border-color: var(--spectrum-slider-handle-border-color-disabled);
        background: var(--spectrum-slider-handle-background-color);
      }

      &::after,
      &::before {
        background-color: var(--spectrum-slider-track-color-disabled);
      }
    }
  }
}

.spectrum-Slider {
  &.is-disabled {
    .spectrum-Slider-labelContainer {
      color: var(--spectrum-label-text-color-disabled);
    }

    .spectrum-Slider-handle {
      border-color: var(--spectrum-slider-handle-border-color-disabled);
      background: var(--spectrum-alias-background-color-default);

      &:hover,
      &:active {
        border-color: var(--spectrum-slider-handle-border-color-disabled);
        background: var(--spectrum-slider-handle-background-color);
      }
    }
    .spectrum-Slider-track {
      &::before {
        background: var(--spectrum-slider-track-color-disabled);
      }
    }
    &.spectrum-Slider--filled {
      .spectrum-Slider-track:first-child {
        &::before {
          background: var(--spectrum-slider-fill-track-color-disabled);
        }
      }
    }
    .spectrum-Slider-buffer {
      &::before {
        background: var(--spectrum-slider-player-track-buffer-color-disabled);
      }
    }
    .spectrum-Slider-ramp {
      path {
        fill: var(--spectrum-slider-ramp-track-color-disabled);
      }
    }

    &.spectrum-Slider--color {
      .spectrum-Slider-track {
        background: var(--spectrum-slider-color-track-color-disabled);
        box-shadow: none;
      }
      .spectrum-Slider-handle {
        background: var(--spectrum-slider-color-handle-color-disabled);
        box-shadow: none;
        border-color: var(--spectrum-slider-color-handle-border-color-disabled);

        &:hover,
        &:active {
          background: var(--spectrum-slider-color-handle-color-disabled);
          box-shadow: none;
          border-color: var(--spectrum-slider-color-handle-border-color-disabled);
        }
      }
    }

    &.spectrum-Slider--range {
      .spectrum-Slider-track {
        &:not(:first-of-type):not(:last-of-type) {
          &:before {
            background: var(--spectrum-slider-fill-track-color-disabled);
          }
        }
      }
    }
  }
}
