/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@container (--system: spectrum) {
	.spectrum-Popover {
		/* animation distance is equal to and responsible for popover offset */
		--spectrum-popover-animation-distance: var(--spectrum-spacing-100);

		--spectrum-popover-background-color: var(--spectrum-background-layer-2-color);
		--spectrum-popover-border-color: var(--spectrum-gray-400);

		/* popover inner padding */
		--spectrum-popover-content-area-spacing-vertical: var(--spectrum-popover-top-to-content-area);

		/* popover drop shadow */
		--spectrum-popover-shadow-horizontal: var(--spectrum-drop-shadow-x);
		--spectrum-popover-shadow-vertical: var(--spectrum-drop-shadow-y);
		--spectrum-popover-shadow-blur: var(--spectrum-drop-shadow-blur);
		--spectrum-popover-shadow-color: var(--spectrum-drop-shadow-color);

		/* popover corner radius */
		--spectrum-popover-corner-radius: var(--spectrum-corner-radius-100);

		/* pointer tip dimensions */
		--spectrum-popover-pointer-width: var(--spectrum-popover-tip-width);
		--spectrum-popover-pointer-height: var(--spectrum-popover-tip-height);

		/* pointer tip - default spacing to edge - corner radius plus half of tip width to neutralize override */
		--spectrum-popover-pointer-edge-offset: calc(var(--spectrum-corner-radius-100) + (var(--spectrum-popover-tip-width) / 2));

		/* pointer tip - spacing to edge will center pointer to source - apply in markup by setting '--spectrum-popover-pointer-edge-offset' value == half of source */
		--spectrum-popover-pointer-edge-spacing: calc(var(--spectrum-popover-pointer-edge-offset) - (var(--spectrum-popover-tip-width) / 2));

		--spectrum-popover-border-width: var(--spectrum-border-width-100);
	}
}
