/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --spectrum-focus-indicator-thickness: var(--mod-focus-indicator-thickness, var(--spectrum-focus-indicator-thickness));
  --spectrum-switch-height: var(--mod-switch-height, var(--spectrum-switch-height));
  --spectrum-switch-focus-indicator-thickness: var(--mod-switch-focus-indicator-thickness, var(--spectrum-switch-focus-indicator-thickness));
  --spectrum-switch-focus-indicator-color: var(--mod-switch-focus-indicator-color, var(--spectrum-switch-focus-indicator-color));
  --spectrum-switch-handle-border-color-focus: var(--mod-switch-handle-border-color-focus, var(--spectrum-switch-handle-border-color-focus));
  --spectrum-switch-background-color-selected-focus: var(--mod-switch-background-color-selected-focus, var(--spectrum-switch-background-color-selected-focus));
  --spectrum-switch-handle-border-color-selected-focus: var(--mod-switch-handle-border-color-selected-focus, var(--spectrum-switch-handle-border-color-selected-focus));
  --spectrum-switch-label-color-focus: var(--mod-switch-label-color-focus, var(--spectrum-switch-label-color-focus));
  --spectrum-switch-handle-border-color-hover: var(--mod-switch-handle-border-color-hover, var(--spectrum-switch-handle-border-color-hover));
  --spectrum-switch-label-color-hover: var(--mod-switch-label-color-hover, var(--spectrum-switch-label-color-hover));
  --spectrum-switch-background-color-selected-hover: var(--mod-switch-background-color-selected-hover, var(--spectrum-switch-background-color-selected-hover));
  --spectrum-switch-handle-border-color-selected-hover: var(--mod-switch-handle-border-color-selected-hover, var(--spectrum-switch-handle-border-color-selected-hover));
  --spectrum-switch-background-color-disabled: var(--mod-switch-background-color-disabled, var(--spectrum-switch-background-color-disabled));
  --spectrum-switch-handle-border-color-disabled: var(--mod-switch-handle-border-color-disabled, var(--spectrum-switch-handle-border-color-disabled));
  --spectrum-switch-label-color-disabled: var(--mod-switch-label-color-disabled, var(--spectrum-switch-label-color-disabled));
  --spectrum-switch-background-color-selected-disabled: var(--mod-switch-background-color-selected-disabled, var(--spectrum-switch-background-color-selected-disabled));
  --spectrum-switch-handle-border-color-down: var(--mod-switch-handle-border-color-down, var(--spectrum-switch-handle-border-color-down));
  --spectrum-switch-label-color-down: var(--mod-switch-label-color-down, var(--spectrum-switch-label-color-down));
  --spectrum-switch-background-color-selected-down: var(--mod-switch-background-color-selected-down, var(--spectrum-switch-background-color-selected-down));
  --spectrum-switch-handle-border-color-selected-down: var(--mod-switch-handle-border-color-selected-down, var(--spectrum-switch-handle-border-color-selected-down));
  --spectrum-switch-control-width: var(--mod-switch-control-width, var(--spectrum-switch-control-width));
  --spectrum-focus-indicator-gap: var(--mod-focus-indicator-gap, var(--spectrum-focus-indicator-gap));
  --spectrum-switch-background-color-selected-default: var(--mod-switch-background-color-selected-default, var(--spectrum-switch-background-color-selected-default));
  --spectrum-switch-handle-border-color-selected-default: var(--mod-switch-handle-border-color-selected-default, var(--spectrum-switch-handle-border-color-selected-default));
  --spectrum-switch-label-color-default: var(--mod-switch-label-color-default, var(--spectrum-switch-label-color-default));
  --spectrum-switch-control-label-spacing: var(--mod-switch-control-label-spacing, var(--spectrum-switch-control-label-spacing));
  --spectrum-switch-spacing-top-to-label: var(--mod-switch-spacing-top-to-label, var(--spectrum-switch-spacing-top-to-label));
  --spectrum-switch-font-size: var(--mod-switch-font-size, var(--spectrum-switch-font-size));
  --spectrum-line-height-100: var(--mod-line-height-100, var(--spectrum-line-height-100));
  --spectrum-animation-duration-200: var(--mod-animation-duration-200, var(--spectrum-animation-duration-200));
  --spectrum-switch-control-height: var(--mod-switch-control-height, var(--spectrum-switch-control-height));
  --spectrum-switch-spacing-top-to-control: var(--mod-switch-spacing-top-to-control, var(--spectrum-switch-spacing-top-to-control));
  --spectrum-animation-duration-100: var(--mod-animation-duration-100, var(--spectrum-animation-duration-100));
  --spectrum-switch-background-color: var(--mod-switch-background-color, var(--spectrum-switch-background-color));
  --spectrum-switch-handle-background-color: var(--mod-switch-handle-background-color, var(--spectrum-switch-handle-background-color));
  --spectrum-switch-handle-border-color-default: var(--mod-switch-handle-border-color-default, var(--spectrum-switch-handle-border-color-default));
  --spectrum-border-width-200: var(--mod-border-width-200, var(--spectrum-border-width-200));
}
