.spectrum {
  --spectrum-colorloupe-express-visibility: block;
  --spectrum-colorloupe-spectrum-visibility: none;
  --spectrum-colorloupe-outer-border-color: transparent;
  --spectrum-colorloupe-outer-border-size: 0;

  --spectrum-colorloupe-outer-stroke-color: rgba(0, 0, 0, 0.15);
  --spectrum-colorloupe-outer-stroke-width: 6px;

  --spectrum-colorhandle-size: var(--spectrum-global-dimension-size-250);
  --spectrum-colorhandle-background-offset: 0px;
  --spectrum-colorhandle-inner-shadow-color: rgba(0, 0, 0, 0.15);
  --spectrum-colorhandle-outer-shadow-color: rgba(0, 0, 0, 0.30);
  --spectrum-colorhandle-outer-shadow-blur: var(--spectrum-global-dimension-static-size-50);
  --spectrum-colorhandle-outer-shadow-spread: 0;

  --spectrum-colorslider-height: var(--spectrum-global-dimension-size-200);
  --spectrum-colorslider-vertical-width: var(--spectrum-colorslider-height);
  --spectrum-colorslider-border-radius: var(--spectrum-alias-border-radius-small);

  --spectrum-colorcontrol-checkerboard-light-color: var(--spectrum-global-color-static-white);
  --spectrum-colorcontrol-checkerboard-dark-color: var(--spectrum-global-color-static-gray-200);

  --spectrum-slide-label-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-slider-m-handle-gap: 0px;
  --spectrum-slider-m-handle-border-radius: 100%;
  --spectrum-slider-m-track-border-radius: var(--spectrum-alias-border-radius-xsmall);
  --spectrum-slider-m-track-inside-border-radius: 0px;
  --spectrum-slider-m-track-height: var(--spectrum-global-dimension-size-50);
  --spectrum-slider-m-track-color: var(--spectrum-global-color-gray-200);
  --spectrum-slider-m-track-fill-color: var(--spectrum-global-color-gray-600);
  --spectrum-slider-m-tick-mark-color: var(--spectrum-global-color-gray-200);
  --spectrum-slider-m-track-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-slider-m-handle-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-slider-m-handle-border-color: var(--spectrum-global-color-gray-800);
  --spectrum-slider-m-handle-border-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-slider-m-handle-border-color-disabled: var(--spectrum-global-color-gray-300);
  --spectrum-slider-label-text-size: var(--spectrum-global-dimension-font-size-100);

  --spectrum-fieldlabel-s-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-fieldlabel-m-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-fieldlabel-l-text-size: var(--spectrum-global-dimension-font-size-200);
  --spectrum-fieldlabel-xl-text-size: var(--spectrum-global-dimension-font-size-300);

  /* Asset card */
  /* todo: should this be a new top-level alias? */
  --spectrum-assetcard-order-background-color: var(--spectrum-global-color-indigo-500);
  /* todo: need a new top-level alias for this, don't hardcode */
  /* express: indigo-500, 20% */
  --spectrum-assetcard-overlay-background-color: rgba(92, 92, 224, 0.2);
  /* todo: need a new top-level alias for this, don't hardcode */
  --spectrum-assetcard-border-color-selected: var(--spectrum-global-color-indigo-500);
}
