/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum {
	--system-action-bar-actionbar-height: var(--spectrum-action-bar-height);
	--system-action-bar-actionbar-corner-radius: var(--spectrum-corner-radius-100);
	--system-action-bar-actionbar-item-counter-font-size: var(--spectrum-font-size-100);
	--system-action-bar-actionbar-item-counter-line-height: var(--spectrum-line-height-100);
	--system-action-bar-actionbar-item-counter-color: var(--spectrum-neutral-content-color-default);
	--system-action-bar-actionbar-item-counter-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-action-bar-actionbar-popover-background-color: var(--spectrum-gray-25);
	--system-action-bar-actionbar-popover-border-color: var(--spectrum-gray-400);
	--system-action-bar-actionbar-emphasized-background-color: var(--spectrum-informative-background-color-default);
	--system-action-bar-actionbar-emphasized-item-counter-color: var(--spectrum-white);
	--system-action-bar-actionbar-spacing-outer-edge: var(--spectrum-spacing-300);
	--system-action-bar-actionbar-spacing-close-button-top: var(--spectrum-spacing-100);
	--system-action-bar-actionbar-spacing-close-button-start: var(--spectrum-spacing-100);
	--system-action-bar-actionbar-spacing-close-button-end: var(--spectrum-spacing-75);
	--system-action-bar-actionbar-spacing-item-counter-top: var(--spectrum-action-bar-top-to-item-counter);
	--system-action-bar-actionbar-spacing-item-counter-end: var(--spectrum-spacing-400);
	--system-action-bar-actionbar-spacing-action-group-top: var(--spectrum-spacing-100);
	--system-action-bar-actionbar-spacing-action-group-end: var(--spectrum-spacing-100);
	--system-action-bar-actionbar-shadow-horizontal: var(--spectrum-drop-shadow-x);
	--system-action-bar-actionbar-shadow-vertical: var(--spectrum-drop-shadow-y);
	--system-action-bar-actionbar-shadow-blur: var(--spectrum-drop-shadow-blur);
	--system-action-bar-actionbar-shadow-color: var(--spectrum-drop-shadow-color);
}
