/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum {
	--system-asset-card-assetcard-overlay-background-color: rgba(27, 127, 245, 0.1);
	--system-asset-card-assetcard-asset-size: 224px;
	--system-asset-card-assetcard-background-color: var(--spectrum-gray-100);
	--system-asset-card-assetcard-asset-animation-duration: var(--spectrum-animation-duration-100);
	--system-asset-card-assetcard-asset-container-border-size: 1px;
	--system-asset-card-assetcard-header-margin-block-start: var(--spectrum-spacing-300);
	--system-asset-card-assetcard-border-radius: var(--spectrum-corner-radius-100);
	--system-asset-card-assetcard-border-color: transparent;
	--system-asset-card-assetcard-border-color-hover: var(--spectrum-gray-500);
	--system-asset-card-assetcard-border-color-down: var(--spectrum-gray-600);
	--system-asset-card-assetcard-focus-ring-gap: 5px;
	--system-asset-card-assetcard-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
	--system-asset-card-assetcard-selectionindicator-background-color-default: rgba(var(--spectrum-gray-100-rgb), 0.9);
	--system-asset-card-assetcard-selectionindicator-size: var(--spectrum-card-selection-background-size);
	--system-asset-card-assetcard-selectionindicator-border-radius: var(--spectrum-corner-radius-100);
	--system-asset-card-assetcard-selectionindicator-offset-y: 4px;
	--system-asset-card-assetcard-selectionindicator-blur: 6px;
	--system-asset-card-assetcard-selectionindicator-color: var(--spectrum-white);
	--system-asset-card-assetcard-selectionindicator-font-weight: var(--spectrum-bold-font-weight);
	--system-asset-card-assetcard-selectionindicator-font-size: var(--spectrum-font-size-400);
	--system-asset-card-assetcard-title-text-color: var(--spectrum-gray-900);
	--system-asset-card-assetcard-title-font-family: var(--spectrum-sans-font-family-stack);
	--system-asset-card-assetcard-title-font-weight: var(--spectrum-heading-sans-serif-font-weight);
	--system-asset-card-assetcard-title-font-style: var(--spectrum-default-font-style);
	--system-asset-card-assetcard-title-line-height: var(--spectrum-line-height-100);
	--system-asset-card-assetcard-title-letter-spacing: 0;
	--system-asset-card-assetcard-header-content-text-color: var(--spectrum-gray-900);
	--system-asset-card-assetcard-header-content-font-family: var(--spectrum-sans-font-family-stack);
	--system-asset-card-assetcard-header-content-font-weight: var(--spectrum-body-sans-serif-font-weight);
	--system-asset-card-assetcard-header-content-font-style: var(--spectrum-default-font-style);
	--system-asset-card-assetcard-header-content-line-height: var(--spectrum-line-height-200);
	--system-asset-card-assetcard-header-content-letter-spacing: 0;
	--system-asset-card-assetcard-content-text-color: var(--spectrum-gray-700);
	--system-asset-card-assetcard-content-font-family: var(--spectrum-sans-font-family-stack);
	--system-asset-card-assetcard-content-font-weight: var(--spectrum-body-sans-serif-font-weight);
	--system-asset-card-assetcard-content-font-style: var(--spectrum-default-font-style);
	--system-asset-card-assetcard-content-line-height: var(--spectrum-line-height-200);
	--system-asset-card-assetcard-content-letter-spacing: 0;
	--system-asset-card-assetcard-content-margin-block-start: var(--spectrum-spacing-75);
	--system-asset-card-lang-zh-assetcard-title-font-family: var(--spectrum-cjk-font-family-stack);
	--system-asset-card-lang-ja-assetcard-title-font-family: var(--spectrum-cjk-font-family-stack);
	--system-asset-card-lang-ko-assetcard-title-font-family: var(--spectrum-cjk-font-family-stack);
	--system-asset-card-lang-zh-assetcard-title-font-style: var(--spectrum-heading-cjk-font-style);
	--system-asset-card-lang-ja-assetcard-title-font-style: var(--spectrum-heading-cjk-font-style);
	--system-asset-card-lang-ko-assetcard-title-font-style: var(--spectrum-heading-cjk-font-style);
	--system-asset-card-lang-zh-assetcard-title-font-weight: var(--spectrum-heading-cjk-font-weight);
	--system-asset-card-lang-ja-assetcard-title-font-weight: var(--spectrum-heading-cjk-font-weight);
	--system-asset-card-lang-ko-assetcard-title-font-weight: var(--spectrum-heading-cjk-font-weight);
	--system-asset-card-lang-zh-assetcard-title-font-size: var(--spectrum-heading-cjk-size-xs);
	--system-asset-card-lang-ja-assetcard-title-font-size: var(--spectrum-heading-cjk-size-xs);
	--system-asset-card-lang-ko-assetcard-title-font-size: var(--spectrum-heading-cjk-size-xs);
	--system-asset-card-lang-zh-assetcard-title-line-height: var(--spectrum-heading-cjk-line-height);
	--system-asset-card-lang-ja-assetcard-title-line-height: var(--spectrum-heading-cjk-line-height);
	--system-asset-card-lang-ko-assetcard-title-line-height: var(--spectrum-heading-cjk-line-height);
	--system-asset-card-lang-zh-assetcard-title-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-asset-card-lang-ja-assetcard-title-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-asset-card-lang-ko-assetcard-title-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-asset-card-lang-zh-assetcard-header-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-asset-card-lang-ja-assetcard-header-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-asset-card-lang-ko-assetcard-header-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-asset-card-lang-zh-assetcard-header-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-asset-card-lang-ja-assetcard-header-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-asset-card-lang-ko-assetcard-header-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-asset-card-lang-zh-assetcard-header-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-asset-card-lang-ja-assetcard-header-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-asset-card-lang-ko-assetcard-header-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-asset-card-lang-zh-assetcard-header-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-asset-card-lang-ja-assetcard-header-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-asset-card-lang-ko-assetcard-header-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-asset-card-lang-zh-assetcard-header-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-asset-card-lang-ja-assetcard-header-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-asset-card-lang-ko-assetcard-header-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-asset-card-lang-zh-assetcard-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-asset-card-lang-ja-assetcard-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-asset-card-lang-ko-assetcard-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-asset-card-lang-zh-assetcard-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-asset-card-lang-ja-assetcard-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-asset-card-lang-ko-assetcard-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-asset-card-lang-zh-assetcard-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-asset-card-lang-ja-assetcard-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-asset-card-lang-ko-assetcard-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-asset-card-lang-zh-assetcard-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-asset-card-lang-ja-assetcard-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-asset-card-lang-ko-assetcard-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-asset-card-lang-zh-assetcard-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-asset-card-lang-ja-assetcard-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-asset-card-lang-ko-assetcard-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
}
