/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum {
	--system-coach-mark-coachmark-min-width: var(--spectrum-coach-mark-minimum-width);
	--system-coach-mark-coachmark-width: var(--spectrum-coach-mark-width);
	--system-coach-mark-coachmark-max-width: var(--spectrum-coach-mark-maximum-width);
	--system-coach-mark-coachmark-media-height: var(--spectrum-coach-mark-media-height);
	--system-coach-mark-coachmark-media-min-height: var(--spectrum-coach-mark-media-minimum-height);
	--system-coach-mark-coachmark-border-size: var(--mod-popover-border-width);
	--system-coach-mark-coachmark-border-radius: var(--mod-popover-corner-radius);
	--system-coach-mark-coachmark-padding: var(--spectrum-coach-mark-edge-to-content);
	--system-coach-mark-coachmark-heading-to-action-button: var(--spectrum-spacing-300);
	--system-coach-mark-coachmark-header-to-body: var(--spectrum-spacing-200);
	--system-coach-mark-coachmark-body-to-footer: var(--spectrum-spacing-300);
	--system-coach-mark-coachmark-title-color: var(--spectrum-heading-color);
	--system-coach-mark-coachmark-title-font-family: var(--spectrum-sans-serif-font);
	--system-coach-mark-coachmark-title-font-style: var(--spectrum-heading-serif-font-style);
	--system-coach-mark-coachmark-title-text-font-weight: var(--spectrum-heading-sans-serif-font-weight);
	--system-coach-mark-coachmark-title-font-size: var(--spectrum-coach-mark-title-size);
	--system-coach-mark-coachmark-title-text-line-height: var(--spectrum-heading-line-height);
	--system-coach-mark-coachmark-content-font-color: var(--spectrum-body-color);
	--system-coach-mark-coachmark-content-font-weight: var(--spectrum-body-sans-serif-font-weight);
	--system-coach-mark-coachmark-content-font-family: var(--spectrum-sans-serif-font);
	--system-coach-mark-coachmark-content-font-style: var(--spectrum-body-sans-serif-font-style);
	--system-coach-mark-coachmark-content-line-height: var(--spectrum-body-line-height);
	--system-coach-mark-coachmark-content-font-size: var(--spectrum-coach-mark-body-size);
	--system-coach-mark-coachmark-step-color: var(--spectrum-coach-mark-pagination-color);
	--system-coach-mark-coachmark-step-font-weight: var(--spectrum-body-medium-font-weight);
	--system-coach-mark-coachmark-step-font-family: var(--spectrum-sans-serif-font);
	--system-coach-mark-coachmark-step-font-style: var(--spectrum-body-sans-serif-font-style);
	--system-coach-mark-coachmark-step-line-height: var(--spectrum-body-line-height);
	--system-coach-mark-coachmark-step-font-size: var(--spectrum-coach-mark-pagination-body-size);
	--system-coach-mark-coachmark-step-to-bottom: var(--spectrum-coach-mark-pagination-text-to-bottom-edge);
}
