/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum {
	--system-coachindicator-coach-indicator-ring-border-size: var(--spectrum-border-width-200);
	--system-coachindicator-coach-indicator-min-inline-size: calc(var(--spectrum-coach-indicator-ring-diameter) * 3);
	--system-coachindicator-coach-indicator-min-block-size: calc(var(--spectrum-coach-indicator-ring-diameter) * 3);
	--system-coachindicator-coach-indicator-inline-size: var(--spectrum-coach-indicator-min-inline-size);
	--system-coachindicator-coach-indicator-block-size: var(--spectrum-coach-indicator-min-block-size);
	--system-coachindicator-coach-indicator-ring-inline-size: var(--spectrum-coach-indicator-ring-diameter);
	--system-coachindicator-coach-indicator-ring-block-size: var(--spectrum-coach-indicator-ring-diameter);
	--system-coachindicator-coach-indicator-top: calc(var(--spectrum-coach-indicator-block-size) / 3 - var(--system-coachindicator-coach-indicator-ring-border-size));
	--system-coachindicator-coach-indicator-left: calc(var(--spectrum-coach-indicator-inline-size) / 3 - var(--system-coachindicator-coach-indicator-ring-border-size));
	--system-coachindicator-coach-animation-indicator-ring-duration: var(--spectrum-animation-duration-6000);
	--system-coachindicator-coach-animation-indicator-ring-inner-delay-multiple: -0.5;
	--system-coachindicator-coach-animation-indicator-ring-center-delay-multiple: -0.66;
	--system-coachindicator-coach-animation-indicator-ring-outer-delay-multiple: -1;
	--system-coachindicator-coach-indicator-quiet-animation-ring-inner-delay-multiple: -0.33;
	--system-coachindicator-coach-indicator-animation-name: pulse;
	--system-coachindicator-coach-indicator-inner-animation-delay-multiple: var(--system-coachindicator-coach-animation-indicator-ring-inner-delay-multiple);
	--system-coachindicator-coach-indicator-animation-keyframe-0-scale: 1;
	--system-coachindicator-coach-indicator-animation-keyframe-0-opacity: 0;
	--system-coachindicator-coach-indicator-animation-keyframe-50-scale: 1.5;
	--system-coachindicator-coach-indicator-animation-keyframe-50-opacity: 1;
	--system-coachindicator-coach-indicator-animation-keyframe-100-scale: 2;
	--system-coachindicator-coach-indicator-animation-keyframe-100-opacity: 0;
	--system-coachindicator-coach-indicator-quiet-animation-keyframe-0-scale: 0.8;
	--system-coachindicator-quiet-coach-indicator-min-inline-size: calc(var(--mod-coach-indicator-quiet-ring-diameter, var(--spectrum-coach-indicator-quiet-ring-diameter)) * 2.75);
	--system-coachindicator-quiet-coach-indicator-min-block-size: calc(var(--mod-coach-indicator-quiet-ring-diameter, var(--spectrum-coach-indicator-quiet-ring-diameter)) * 2.75);
	--system-coachindicator-quiet-coach-indicator-inline-size: calc(var(--mod-coach-indicator-quiet-ring-diameter, var(--spectrum-coach-indicator-quiet-ring-diameter)) * 2.75);
	--system-coachindicator-quiet-coach-indicator-block-size: calc(var(--mod-coach-indicator-quiet-ring-diameter, var(--spectrum-coach-indicator-quiet-ring-diameter)) * 2.75);
	--system-coachindicator-quiet-coach-indicator-ring-inline-size: var(--mod-coach-indicator-quiet-ring-diameter, var(--spectrum-coach-indicator-quiet-ring-diameter));
	--system-coachindicator-quiet-coach-indicator-ring-block-size: var(--mod-coach-indicator-quiet-ring-diameter, var(--spectrum-coach-indicator-quiet-ring-diameter));
	--system-coachindicator-quiet-coach-indicator-top: calc(var(--mod-coach-indicator-min-inline-size) / 3 - var(--system-coachindicator-coach-indicator-ring-border-size));
	--system-coachindicator-quiet-coach-indicator-left: calc(var(--mod-coach-indicator-min-inline-size) / 3 - var(--system-coachindicator-coach-indicator-ring-border-size));
	--system-coachindicator-quiet-coach-indicator-animation-name: pulse-quiet;
	--system-coachindicator-quiet-coach-indicator-inner-animation-delay-multiple: var(--mod-coach-indicator-quiet-animation-ring-inner-delay-multiple, var(--system-coachindicator-coach-indicator-quiet-animation-ring-inner-delay-multiple));
}
