/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum {
	--system-divider-divider-thickness: var(--spectrum-divider-thickness-medium);
	--system-divider-divider-background-color: var(--system-divider-divider-background-color-medium);
	--system-divider-divider-background-color-small: var(--spectrum-gray-200);
	--system-divider-divider-background-color-medium: var(--spectrum-gray-200);
	--system-divider-divider-background-color-large: var(--spectrum-gray-800);
	--system-divider-divider-background-color-small-static-white: var(--spectrum-transparent-white-300);
	--system-divider-divider-background-color-medium-static-white: var(--spectrum-transparent-white-300);
	--system-divider-divider-background-color-large-static-white: var(--spectrum-transparent-white-800);
	--system-divider-divider-background-color-small-static-black: var(--spectrum-transparent-black-300);
	--system-divider-divider-background-color-medium-static-black: var(--spectrum-transparent-black-300);
	--system-divider-divider-background-color-large-static-black: var(--spectrum-transparent-black-800);
	--system-divider-size-s-divider-thickness: var(--spectrum-divider-thickness-small);
	--system-divider-size-s-divider-background-color: var(--system-divider-divider-background-color-small);
	--system-divider-size-m-divider-thickness: var(--spectrum-divider-thickness-medium);
	--system-divider-size-m-divider-background-color: var(--system-divider-divider-background-color-medium);
	--system-divider-size-l-divider-thickness: var(--spectrum-divider-thickness-large);
	--system-divider-size-l-divider-background-color: var(--system-divider-divider-background-color-large);
}
