/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum {
	--system-picker-background-color-default: var(--spectrum-gray-50);
	--system-picker-background-color-default-open: var(--spectrum-gray-100);
	--system-picker-background-color-active: var(--spectrum-gray-200);
	--system-picker-background-color-hover: var(--spectrum-gray-100);
	--system-picker-background-color-hover-open: var(--spectrum-gray-100);
	--system-picker-background-color-key-focus: var(--spectrum-gray-100);
	--system-picker-border-color-default: var(--spectrum-gray-500);
	--system-picker-border-color-default-open: var(--spectrum-gray-500);
	--system-picker-border-color-hover: var(--spectrum-gray-600);
	--system-picker-border-color-hover-open: var(--spectrum-gray-600);
	--system-picker-border-color-active: var(--spectrum-gray-700);
	--system-picker-border-color-key-focus: var(--spectrum-gray-600);
	--system-picker-border-width: var(--spectrum-border-width-100);
	--system-picker-font-size: var(--spectrum-font-size-100);
	--system-picker-font-weight: var(--spectrum-regular-font-weight);
	--system-picker-placeholder-font-style: var(--spectrum-default-font-style);
	--system-picker-line-height: var(--spectrum-line-height-100);
	--system-picker-block-size: var(--spectrum-component-height-100);
	--system-picker-inline-size: var(--spectrum-field-width);
	--system-picker-border-radius: var(--spectrum-corner-radius-100);
	--system-picker-spacing-top-to-text: var(--spectrum-component-top-to-text-100);
	--system-picker-spacing-bottom-to-text: var(--spectrum-component-bottom-to-text-100);
	--system-picker-spacing-edge-to-text: var(--spectrum-component-edge-to-text-100);
	--system-picker-spacing-edge-to-text-quiet: var(--spectrum-field-edge-to-text-quiet);
	--system-picker-spacing-label-to: var(--spectrum-field-label-to-component);
	--system-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-100);
	--system-picker-spacing-text-to-icon-inline-end: var(--spectrum-field-text-to-alert-icon-medium);
	--system-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-medium);
	--system-picker-spacing-label-to-quiet: var(--spectrum-field-label-to-component-quiet-medium);
	--system-picker-spacing-top-to-alert-icon: var(--spectrum-field-top-to-alert-icon-medium);
	--system-picker-spacing-top-to-progress-circle: var(--spectrum-field-top-to-progress-circle-medium);
	--system-picker-spacing-top-to-disclosure-icon: var(--spectrum-field-top-to-disclosure-icon-100);
	--system-picker-spacing-edge-to-disclosure-icon: var(--spectrum-field-end-edge-to-disclosure-icon-100);
	--system-picker-spacing-edge-to-disclosure-icon-quiet: var(--spectrum-picker-end-edge-to-disclousure-icon-quiet);
	--system-picker-animation-duration: var(--spectrum-animation-duration-100);
	--system-picker-font-color-default: var(--spectrum-neutral-content-color-default);
	--system-picker-font-color-default-open: var(--spectrum-neutral-content-color-focus);
	--system-picker-font-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-picker-font-color-hover-open: var(--spectrum-neutral-content-color-focus-hover);
	--system-picker-font-color-active: var(--spectrum-neutral-content-color-down);
	--system-picker-font-color-key-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-picker-icon-color-default: var(--spectrum-neutral-content-color-default);
	--system-picker-icon-color-default-open: var(--spectrum-neutral-content-color-focus);
	--system-picker-icon-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-picker-icon-color-hover-open: var(--spectrum-neutral-content-color-focus-hover);
	--system-picker-icon-color-active: var(--spectrum-neutral-content-color-down);
	--system-picker-icon-color-key-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-picker-border-color-error-default: var(--spectrum-negative-border-color-default);
	--system-picker-border-color-error-default-open: var(--spectrum-negative-border-color-focus);
	--system-picker-border-color-error-hover: var(--spectrum-negative-border-color-hover);
	--system-picker-border-color-error-hover-open: var(--spectrum-negative-border-color-focus-hover);
	--system-picker-border-color-error-active: var(--spectrum-negative-border-color-down);
	--system-picker-border-color-error-key-focus: var(--spectrum-negative-border-color-key-focus);
	--system-picker-icon-color-error: var(--spectrum-negative-visual-color);
	--system-picker-background-color-disabled: var(--spectrum-disabled-background-color);
	--system-picker-font-color-disabled: var(--spectrum-disabled-content-color);
	--system-picker-icon-color-disabled: var(--spectrum-disabled-content-color);
	--system-picker-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
	--system-picker-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
	--system-picker-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--system-picker-next-to-popover-bottom-open-spacing-to-popover: var(--spectrum-component-to-menu-medium);
	--system-picker-size-s-font-size: var(--spectrum-font-size-75);
	--system-picker-size-s-block-size: var(--spectrum-component-height-75);
	--system-picker-size-s-spacing-top-to-text: var(--spectrum-component-top-to-text-75);
	--system-picker-size-s-spacing-bottom-to-text: var(--spectrum-component-bottom-to-text-75);
	--system-picker-size-s-spacing-edge-to-text: var(--spectrum-component-edge-to-text-75);
	--system-picker-size-s-spacing-text-to-icon: var(--spectrum-text-to-visual-75);
	--system-picker-size-s-spacing-text-to-icon-inline-end: var(--spectrum-field-text-to-alert-icon-small);
	--system-picker-size-s-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-small);
	--system-picker-size-s-spacing-label-to-quiet: var(--spectrum-field-label-to-component-quiet-small);
	--system-picker-size-s-spacing-top-to-alert-icon: var(--spectrum-field-top-to-alert-icon-small);
	--system-picker-size-s-spacing-top-to-progress-circle: var(--spectrum-field-top-to-progress-circle-small);
	--system-picker-size-s-spacing-top-to-disclosure-icon: var(--spectrum-field-top-to-disclosure-icon-75);
	--system-picker-size-s-spacing-edge-to-disclosure-icon: var(--spectrum-field-end-edge-to-disclosure-icon-75);
	--system-picker-size-s-next-to-popover-bottom-open-spacing-to-popover: var(--spectrum-component-to-menu-small);
	--system-picker-size-l-font-size: var(--spectrum-font-size-200);
	--system-picker-size-l-block-size: var(--spectrum-component-height-200);
	--system-picker-size-l-spacing-top-to-text: var(--spectrum-component-top-to-text-200);
	--system-picker-size-l-spacing-bottom-to-text: var(--spectrum-component-bottom-to-text-200);
	--system-picker-size-l-spacing-edge-to-text: var(--spectrum-component-edge-to-text-200);
	--system-picker-size-l-spacing-text-to-icon: var(--spectrum-text-to-visual-200);
	--system-picker-size-l-spacing-text-to-icon-inline-end: var(--spectrum-field-text-to-alert-icon-large);
	--system-picker-size-l-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-large);
	--system-picker-size-l-spacing-label-to-quiet: var(--spectrum-field-label-to-component-quiet-large);
	--system-picker-size-l-spacing-top-to-alert-icon: var(--spectrum-field-top-to-alert-icon-large);
	--system-picker-size-l-spacing-top-to-progress-circle: var(--spectrum-field-top-to-progress-circle-large);
	--system-picker-size-l-spacing-top-to-disclosure-icon: var(--spectrum-field-top-to-disclosure-icon-200);
	--system-picker-size-l-spacing-edge-to-disclosure-icon: var(--spectrum-field-end-edge-to-disclosure-icon-200);
	--system-picker-size-l-next-to-popover-bottom-open-spacing-to-popover: var(--spectrum-component-to-menu-large);
	--system-picker-size-xl-font-size: var(--spectrum-font-size-300);
	--system-picker-size-xl-block-size: var(--spectrum-component-height-300);
	--system-picker-size-xl-spacing-top-to-text: var(--spectrum-component-top-to-text-300);
	--system-picker-size-xl-spacing-bottom-to-text: var(--spectrum-component-bottom-to-text-300);
	--system-picker-size-xl-spacing-edge-to-text: var(--spectrum-component-edge-to-text-300);
	--system-picker-size-xl-spacing-text-to-icon: var(--spectrum-text-to-visual-300);
	--system-picker-size-xl-spacing-text-to-icon-inline-end: var(--spectrum-field-text-to-alert-icon-extra-large);
	--system-picker-size-xl-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-extra-large);
	--system-picker-size-xl-spacing-label-to-quiet: var(--spectrum-field-label-to-component-quiet-extra-large);
	--system-picker-size-xl-spacing-top-to-alert-icon: var(--spectrum-field-top-to-alert-icon-extra-large);
	--system-picker-size-xl-spacing-top-to-progress-circle: var(--spectrum-field-top-to-progress-circle-extra-large);
	--system-picker-size-xl-spacing-top-to-disclosure-icon: var(--spectrum-field-top-to-disclosure-icon-300);
	--system-picker-size-xl-spacing-edge-to-disclosure-icon: var(--spectrum-field-end-edge-to-disclosure-icon-300);
	--system-picker-size-xl-next-to-popover-bottom-open-spacing-to-popover: var(--spectrum-component-to-menu-extra-large);
}
