/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum {
	--system-status-light-statuslight-corner-radius: 50%;
	--system-status-light-statuslight-font-weight: 400;
	--system-status-light-statuslight-border-width: var(--spectrum-border-width-100);
	--system-status-light-statuslight-height: var(--spectrum-component-height-100);
	--system-status-light-statuslight-dot-size: var(--spectrum-status-light-dot-size-medium);
	--system-status-light-statuslight-line-height: var(--spectrum-line-height-100);
	--system-status-light-statuslight-line-height-cjk: var(--spectrum-cjk-line-height-100);
	--system-status-light-statuslight-font-size: var(--spectrum-font-size-100);
	--system-status-light-statuslight-spacing-dot-to-label: var(--spectrum-text-to-visual-100);
	--system-status-light-statuslight-spacing-top-to-dot: var(--spectrum-status-light-top-to-dot-medium);
	--system-status-light-statuslight-spacing-top-to-label: var(--spectrum-component-top-to-text-100);
	--system-status-light-statuslight-spacing-bottom-to-label: var(--spectrum-component-bottom-to-text-100);
	--system-status-light-statuslight-content-color-default: var(--spectrum-neutral-content-color-default);
	--system-status-light-statuslight-subdued-content-color-default: var(--spectrum-neutral-subdued-content-color-default);
	--system-status-light-statuslight-semantic-neutral-color: var(--spectrum-neutral-visual-color);
	--system-status-light-statuslight-semantic-accent-color: var(--spectrum-accent-visual-color);
	--system-status-light-statuslight-semantic-negative-color: var(--spectrum-negative-visual-color);
	--system-status-light-statuslight-semantic-info-color: var(--spectrum-informative-visual-color);
	--system-status-light-statuslight-semantic-notice-color: var(--spectrum-notice-visual-color);
	--system-status-light-statuslight-semantic-positive-color: var(--spectrum-positive-visual-color);
	--system-status-light-statuslight-nonsemantic-gray-color: var(--spectrum-gray-visual-color);
	--system-status-light-statuslight-nonsemantic-red-color: var(--spectrum-red-visual-color);
	--system-status-light-statuslight-nonsemantic-orange-color: var(--spectrum-orange-visual-color);
	--system-status-light-statuslight-nonsemantic-yellow-color: var(--spectrum-yellow-visual-color);
	--system-status-light-statuslight-nonsemantic-chartreuse-color: var(--spectrum-chartreuse-visual-color);
	--system-status-light-statuslight-nonsemantic-celery-color: var(--spectrum-celery-visual-color);
	--system-status-light-statuslight-nonsemantic-green-color: var(--spectrum-green-visual-color);
	--system-status-light-statuslight-nonsemantic-seafoam-color: var(--spectrum-seafoam-visual-color);
	--system-status-light-statuslight-nonsemantic-cyan-color: var(--spectrum-cyan-visual-color);
	--system-status-light-statuslight-nonsemantic-blue-color: var(--spectrum-blue-visual-color);
	--system-status-light-statuslight-nonsemantic-indigo-color: var(--spectrum-indigo-visual-color);
	--system-status-light-statuslight-nonsemantic-purple-color: var(--spectrum-purple-visual-color);
	--system-status-light-statuslight-nonsemantic-fuchsia-color: var(--spectrum-fuchsia-visual-color);
	--system-status-light-statuslight-nonsemantic-magenta-color: var(--spectrum-magenta-visual-color);
	--system-status-light-size-s-statuslight-height: var(--spectrum-component-height-75);
	--system-status-light-size-s-statuslight-dot-size: var(--spectrum-status-light-dot-size-small);
	--system-status-light-size-s-statuslight-font-size: var(--spectrum-font-size-75);
	--system-status-light-size-s-statuslight-spacing-dot-to-label: var(--spectrum-text-to-visual-75);
	--system-status-light-size-s-statuslight-spacing-top-to-dot: var(--spectrum-status-light-top-to-dot-small);
	--system-status-light-size-s-statuslight-spacing-top-to-label: var(--spectrum-component-top-to-text-75);
	--system-status-light-size-s-statuslight-spacing-bottom-to-label: var(--spectrum-component-bottom-to-text-75);
	--system-status-light-size-m-statuslight-height: var(--spectrum-component-height-100);
	--system-status-light-size-m-statuslight-dot-size: var(--spectrum-status-light-dot-size-medium);
	--system-status-light-size-m-statuslight-font-size: var(--spectrum-font-size-100);
	--system-status-light-size-m-statuslight-spacing-dot-to-label: var(--spectrum-text-to-visual-100);
	--system-status-light-size-m-statuslight-spacing-top-to-dot: var(--spectrum-status-light-top-to-dot-medium);
	--system-status-light-size-m-statuslight-spacing-top-to-label: var(--spectrum-component-top-to-text-100);
	--system-status-light-size-m-statuslight-spacing-bottom-to-label: var(--spectrum-component-bottom-to-text-100);
	--system-status-light-size-l-statuslight-height: var(--spectrum-component-height-200);
	--system-status-light-size-l-statuslight-dot-size: var(--spectrum-status-light-dot-size-large);
	--system-status-light-size-l-statuslight-font-size: var(--spectrum-font-size-200);
	--system-status-light-size-l-statuslight-spacing-dot-to-label: var(--spectrum-text-to-visual-200);
	--system-status-light-size-l-statuslight-spacing-top-to-dot: var(--spectrum-status-light-top-to-dot-large);
	--system-status-light-size-l-statuslight-spacing-top-to-label: var(--spectrum-component-top-to-text-200);
	--system-status-light-size-l-statuslight-spacing-bottom-to-label: var(--spectrum-component-bottom-to-text-200);
	--system-status-light-size-xl-statuslight-height: var(--spectrum-component-height-300);
	--system-status-light-size-xl-statuslight-dot-size: var(--spectrum-status-light-dot-size-extra-large);
	--system-status-light-size-xl-statuslight-font-size: var(--spectrum-font-size-300);
	--system-status-light-size-xl-statuslight-spacing-dot-to-label: var(--spectrum-text-to-visual-300);
	--system-status-light-size-xl-statuslight-spacing-top-to-dot: var(--spectrum-status-light-top-to-dot-extra-large);
	--system-status-light-size-xl-statuslight-spacing-top-to-label: var(--spectrum-component-top-to-text-300);
	--system-status-light-size-xl-statuslight-spacing-bottom-to-label: var(--spectrum-component-bottom-to-text-300);
}
