/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum {
	--system-steplist-step-width: 80px;
	--system-steplist-marker-diameter: 8px;
	--system-steplist-marker-hit-area: 20px;
	--system-steplist-segment-height: 2px;
	--system-steplist-top-padding: 22px;
	--system-steplist-small-top-padding: 11px;
	--system-steplist-side-padding: 60px;
	--system-steplist-label-label-offset: 10px;
	--system-steplist-label-text-size: 12px;
	--system-steplist-current-label-text-color: var(--spectrum-gray-800);
	--system-steplist-current-marker-color: var(--spectrum-gray-800);
	--system-steplist-complete-label-text-color: var(--spectrum-gray-700);
	--system-steplist-incomplete-label-color: var(--spectrum-gray-600);
	--system-steplist-complete-marker-background-color: var(--spectrum-gray-600);
	--system-steplist-incomplete-marker-border-color: var(--spectrum-gray-200);
	--system-steplist-incomplete-segment-border-block-end-color: var(--spectrum-gray-200);
	--system-steplist-complete-segment-border-block-end-color: var(--spectrum-gray-600);
}
