/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "./themes/spectrum-two.css";

@media (forced-colors: active) {
	.spectrum-HelpText {
		--highcontrast-helptext-content-color-default: CanvasText;
		--highcontrast-helptext-icon-color-default: CanvasText;

		forced-color-adjust: none;

		.spectrum-HelpText-validationIcon,
		.spectrum-HelpText-text {
			forced-color-adjust: none;
		}
	}
}

.spectrum-HelpText {
	display: flex;
	min-block-size: var(--mod-helptext-min-height, var(--spectrum-helptext-min-height));
	font-size: var(--mod-helptext-font-size, var(--spectrum-helptext-font-size));
	color: var(--highcontrast-helptext-content-color-default, var(--mod-helptext-content-color-default, var(--spectrum-helptext-content-color-default)));

	.spectrum-HelpText-validationIcon {
		flex-shrink: 0;
		inline-size: var(--mod-helptext-icon-size, var(--spectrum-helptext-icon-size));
		block-size: var(--mod-helptext-icon-size, var(--spectrum-helptext-icon-size));
		margin-inline-end: var(--mod-helptext-text-to-visual, var(--spectrum-helptext-text-to-visual));
		padding-block-start: var(--mod-helptext-top-to-workflow-icon, var(--spectrum-helptext-top-to-workflow-icon));
		padding-block-end: var(--mod-helptext-bottom-to-workflow-icon, var(--spectrum-helptext-bottom-to-workflow-icon));
	}

	.spectrum-HelpText-text {
		padding-block-start: var(--mod-helptext-top-to-text, var(--spectrum-helptext-top-to-text));
		padding-block-end: var(--mod-helptext-bottom-to-text, var(--spectrum-helptext-bottom-to-text));
		line-height: var(--mod-helptext-line-height, var(--spectrum-helptext-line-height));
	}

	&:lang(ja),
	&:lang(zh),
	&:lang(ko) {
		.spectrum-HelpText-text {
			line-height: var(--mod-helptext-line-height-cjk, var(--spectrum-helptext-line-height-cjk));
		}
	}

	&.spectrum-HelpText--neutral {
		.spectrum-HelpText-text {
			color: var(--highcontrast-helptext-content-color-default, var(--mod-helptext-content-color-default, var(--spectrum-helptext-content-color-default)));
		}

		.spectrum-HelpText-validationIcon {
			color: var(--highcontrast-helptext-icon-color-default, var(--mod-helptext-icon-color-default, var(--spectrum-helptext-icon-color-default)));
		}
	}

	&.spectrum-HelpText--negative {
		.spectrum-HelpText-text {
			color: var(--highcontrast-helptext-content-color-default, var(--mod-helptext-content-color-default, var(--spectrum-helptext-content-color-default)));
		}

		.spectrum-HelpText-validationIcon {
			color: var(--highcontrast-helptext-icon-color-default, var(--mod-helptext-icon-color-default, var(--spectrum-helptext-icon-color-default)));
		}
	}

	&.is-disabled {
		.spectrum-HelpText-text {
			color: var(--highcontrast-helptext-content-color-default, var(--mod-helptext-content-color-default, var(--spectrum-helptext-content-color-default)));
		}

		.spectrum-HelpText-validationIcon {
			color: var(--highcontrast-helptext-icon-color-default, var(--mod-helptext-icon-color-default, var(--spectrum-helptext-icon-color-default)));
		}
	}
}
