:root {
  --spectrum-global-color-status: Verified;
  --spectrum-global-color-version: 5.1.0;
  --spectrum-global-color-opacity-100: 1;
  --spectrum-global-color-opacity-90: 0.9;
  --spectrum-global-color-opacity-80: 0.8;
  --spectrum-global-color-opacity-70: 0.7;
  --spectrum-global-color-opacity-60: 0.6;
  --spectrum-global-color-opacity-55: 0.55;
  --spectrum-global-color-opacity-50: 0.5;
  --spectrum-global-color-opacity-42: 0.42;
  --spectrum-global-color-opacity-40: 0.4;
  --spectrum-global-color-opacity-30: 0.3;
  --spectrum-global-color-opacity-25: 0.25;
  --spectrum-global-color-opacity-20: 0.2;
  --spectrum-global-color-opacity-15: 0.15;
  --spectrum-global-color-opacity-10: 0.1;
  --spectrum-global-color-opacity-8: 0.08;
  --spectrum-global-color-opacity-7: 0.07;
  --spectrum-global-color-opacity-6: 0.06;
  --spectrum-global-color-opacity-5: 0.05;
  --spectrum-global-color-opacity-4: 0.04;
  --spectrum-global-color-opacity-0: 0.00;
  --spectrum-global-color-celery-400-rgb: 7, 167, 33;
  --spectrum-global-color-celery-400: rgb(var(--spectrum-global-color-celery-400-rgb));
  --spectrum-global-color-celery-500-rgb: 0, 148, 19;
  --spectrum-global-color-celery-500: rgb(var(--spectrum-global-color-celery-500-rgb));
  --spectrum-global-color-celery-600-rgb: 0, 127, 15;
  --spectrum-global-color-celery-600: rgb(var(--spectrum-global-color-celery-600-rgb));
  --spectrum-global-color-celery-700-rgb: 0, 107, 15;
  --spectrum-global-color-celery-700: rgb(var(--spectrum-global-color-celery-700-rgb));
  --spectrum-global-color-chartreuse-400-rgb: 134, 175, 2;
  --spectrum-global-color-chartreuse-400: rgb(var(--spectrum-global-color-chartreuse-400-rgb));
  --spectrum-global-color-chartreuse-500-rgb: 119, 157, 0;
  --spectrum-global-color-chartreuse-500: rgb(var(--spectrum-global-color-chartreuse-500-rgb));
  --spectrum-global-color-chartreuse-600-rgb: 104, 138, 0;
  --spectrum-global-color-chartreuse-600: rgb(var(--spectrum-global-color-chartreuse-600-rgb));
  --spectrum-global-color-chartreuse-700-rgb: 90, 119, 0;
  --spectrum-global-color-chartreuse-700: rgb(var(--spectrum-global-color-chartreuse-700-rgb));
  --spectrum-global-color-yellow-400-rgb: 211, 175, 0;
  --spectrum-global-color-yellow-400: rgb(var(--spectrum-global-color-yellow-400-rgb));
  --spectrum-global-color-yellow-500-rgb: 194, 157, 0;
  --spectrum-global-color-yellow-500: rgb(var(--spectrum-global-color-yellow-500-rgb));
  --spectrum-global-color-yellow-600-rgb: 176, 140, 0;
  --spectrum-global-color-yellow-600: rgb(var(--spectrum-global-color-yellow-600-rgb));
  --spectrum-global-color-yellow-700-rgb: 157, 122, 0;
  --spectrum-global-color-yellow-700: rgb(var(--spectrum-global-color-yellow-700-rgb));
  --spectrum-global-color-magenta-400-rgb: 204, 39, 110;
  --spectrum-global-color-magenta-400: rgb(var(--spectrum-global-color-magenta-400-rgb));
  --spectrum-global-color-magenta-500-rgb: 179, 15, 88;
  --spectrum-global-color-magenta-500: rgb(var(--spectrum-global-color-magenta-500-rgb));
  --spectrum-global-color-magenta-600-rgb: 149, 0, 72;
  --spectrum-global-color-magenta-600: rgb(var(--spectrum-global-color-magenta-600-rgb));
  --spectrum-global-color-magenta-700-rgb: 116, 0, 57;
  --spectrum-global-color-magenta-700: rgb(var(--spectrum-global-color-magenta-700-rgb));
  --spectrum-global-color-fuchsia-400-rgb: 186, 38, 186;
  --spectrum-global-color-fuchsia-400: rgb(var(--spectrum-global-color-fuchsia-400-rgb));
  --spectrum-global-color-fuchsia-500-rgb: 163, 9, 163;
  --spectrum-global-color-fuchsia-500: rgb(var(--spectrum-global-color-fuchsia-500-rgb));
  --spectrum-global-color-fuchsia-600-rgb: 134, 0, 135;
  --spectrum-global-color-fuchsia-600: rgb(var(--spectrum-global-color-fuchsia-600-rgb));
  --spectrum-global-color-fuchsia-700-rgb: 104, 4, 104;
  --spectrum-global-color-fuchsia-700: rgb(var(--spectrum-global-color-fuchsia-700-rgb));
  --spectrum-global-color-purple-400-rgb: 141, 66, 233;
  --spectrum-global-color-purple-400: rgb(var(--spectrum-global-color-purple-400-rgb));
  --spectrum-global-color-purple-500-rgb: 120, 42, 216;
  --spectrum-global-color-purple-500: rgb(var(--spectrum-global-color-purple-500-rgb));
  --spectrum-global-color-purple-600-rgb: 97, 22, 190;
  --spectrum-global-color-purple-600: rgb(var(--spectrum-global-color-purple-600-rgb));
  --spectrum-global-color-purple-700-rgb: 74, 12, 153;
  --spectrum-global-color-purple-700: rgb(var(--spectrum-global-color-purple-700-rgb));
  --spectrum-global-color-indigo-400-rgb: 86, 92, 231;
  --spectrum-global-color-indigo-400: rgb(var(--spectrum-global-color-indigo-400-rgb));
  --spectrum-global-color-indigo-500-rgb: 68, 73, 208;
  --spectrum-global-color-indigo-500: rgb(var(--spectrum-global-color-indigo-500-rgb));
  --spectrum-global-color-indigo-600-rgb: 52, 57, 176;
  --spectrum-global-color-indigo-600: rgb(var(--spectrum-global-color-indigo-600-rgb));
  --spectrum-global-color-indigo-700-rgb: 39, 43, 139;
  --spectrum-global-color-indigo-700: rgb(var(--spectrum-global-color-indigo-700-rgb));
  --spectrum-global-color-seafoam-400-rgb: 0, 142, 136;
  --spectrum-global-color-seafoam-400: rgb(var(--spectrum-global-color-seafoam-400-rgb));
  --spectrum-global-color-seafoam-500-rgb: 0, 122, 117;
  --spectrum-global-color-seafoam-500: rgb(var(--spectrum-global-color-seafoam-500-rgb));
  --spectrum-global-color-seafoam-600-rgb: 0, 103, 99;
  --spectrum-global-color-seafoam-600: rgb(var(--spectrum-global-color-seafoam-600-rgb));
  --spectrum-global-color-seafoam-700-rgb: 10, 83, 80;
  --spectrum-global-color-seafoam-700: rgb(var(--spectrum-global-color-seafoam-700-rgb));
  --spectrum-global-color-red-400-rgb: 216, 26, 19;
  --spectrum-global-color-red-400: rgb(var(--spectrum-global-color-red-400-rgb));
  --spectrum-global-color-red-500-rgb: 187, 2, 2;
  --spectrum-global-color-red-500: rgb(var(--spectrum-global-color-red-500-rgb));
  --spectrum-global-color-red-600-rgb: 153, 0, 0;
  --spectrum-global-color-red-600: rgb(var(--spectrum-global-color-red-600-rgb));
  --spectrum-global-color-red-700-rgb: 120, 0, 0;
  --spectrum-global-color-red-700: rgb(var(--spectrum-global-color-red-700-rgb));
  --spectrum-global-color-orange-400-rgb: 228, 111, 0;
  --spectrum-global-color-orange-400: rgb(var(--spectrum-global-color-orange-400-rgb));
  --spectrum-global-color-orange-500-rgb: 205, 95, 0;
  --spectrum-global-color-orange-500: rgb(var(--spectrum-global-color-orange-500-rgb));
  --spectrum-global-color-orange-600-rgb: 181, 79, 0;
  --spectrum-global-color-orange-600: rgb(var(--spectrum-global-color-orange-600-rgb));
  --spectrum-global-color-orange-700-rgb: 155, 64, 0;
  --spectrum-global-color-orange-700: rgb(var(--spectrum-global-color-orange-700-rgb));
  --spectrum-global-color-green-400-rgb: 0, 125, 79;
  --spectrum-global-color-green-400: rgb(var(--spectrum-global-color-green-400-rgb));
  --spectrum-global-color-green-500-rgb: 0, 105, 65;
  --spectrum-global-color-green-500: rgb(var(--spectrum-global-color-green-500-rgb));
  --spectrum-global-color-green-600-rgb: 0, 85, 52;
  --spectrum-global-color-green-600: rgb(var(--spectrum-global-color-green-600-rgb));
  --spectrum-global-color-green-700-rgb: 5, 65, 40;
  --spectrum-global-color-green-700: rgb(var(--spectrum-global-color-green-700-rgb));
  --spectrum-global-color-blue-400-rgb: 4, 104, 225;
  --spectrum-global-color-blue-400: rgb(var(--spectrum-global-color-blue-400-rgb));
  --spectrum-global-color-blue-500-rgb: 0, 87, 190;
  --spectrum-global-color-blue-500: rgb(var(--spectrum-global-color-blue-500-rgb));
  --spectrum-global-color-blue-600-rgb: 0, 71, 152;
  --spectrum-global-color-blue-600: rgb(var(--spectrum-global-color-blue-600-rgb));
  --spectrum-global-color-blue-700-rgb: 0, 55, 118;
  --spectrum-global-color-blue-700: rgb(var(--spectrum-global-color-blue-700-rgb));
  --spectrum-global-color-gray-50-rgb: 250, 250, 250;
  --spectrum-global-color-gray-50: rgb(var(--spectrum-global-color-gray-50-rgb));
  --spectrum-global-color-gray-75-rgb: 239, 239, 239;
  --spectrum-global-color-gray-75: rgb(var(--spectrum-global-color-gray-75-rgb));
  --spectrum-global-color-gray-100-rgb: 219, 219, 219;
  --spectrum-global-color-gray-100: rgb(var(--spectrum-global-color-gray-100-rgb));
  --spectrum-global-color-gray-200-rgb: 207, 207, 207;
  --spectrum-global-color-gray-200: rgb(var(--spectrum-global-color-gray-200-rgb));
  --spectrum-global-color-gray-300-rgb: 195, 195, 195;
  --spectrum-global-color-gray-300: rgb(var(--spectrum-global-color-gray-300-rgb));
  --spectrum-global-color-gray-400-rgb: 166, 166, 166;
  --spectrum-global-color-gray-400: rgb(var(--spectrum-global-color-gray-400-rgb));
  --spectrum-global-color-gray-500-rgb: 138, 138, 138;
  --spectrum-global-color-gray-500: rgb(var(--spectrum-global-color-gray-500-rgb));
  --spectrum-global-color-gray-600-rgb: 106, 106, 106;
  --spectrum-global-color-gray-600: rgb(var(--spectrum-global-color-gray-600-rgb));
  --spectrum-global-color-gray-700-rgb: 69, 69, 69;
  --spectrum-global-color-gray-700: rgb(var(--spectrum-global-color-gray-700-rgb));
  --spectrum-global-color-gray-800-rgb: 33, 33, 33;
  --spectrum-global-color-gray-800: rgb(var(--spectrum-global-color-gray-800-rgb));
  --spectrum-global-color-gray-900-rgb: 0, 0, 0;
  --spectrum-global-color-gray-900: rgb(var(--spectrum-global-color-gray-900-rgb));
  --spectrum-alias-background-color-primary: var(--spectrum-global-color-gray-50);
  --spectrum-alias-background-color-secondary: var(--spectrum-global-color-gray-100);
  --spectrum-alias-background-color-tertiary: var(--spectrum-global-color-gray-300);
  --spectrum-alias-background-color-modal-overlay: rgba(0,0,0,0.4);
  --spectrum-alias-dropshadow-color: rgba(0,0,0,0.15);
  --spectrum-alias-background-color-hover-overlay: rgba(0,0,0,0.04);
  --spectrum-alias-highlight-hover: rgba(0,0,0,0.06);
  --spectrum-alias-highlight-down: rgba(0,0,0,0.1);
  --spectrum-alias-highlight-selected: rgba(0,87,190,0.1);
  --spectrum-alias-highlight-selected-hover: rgba(0,87,190,0.2);
  --spectrum-alias-text-highlight-color: rgba(0,87,190,0.2);
  --spectrum-alias-background-color-quickactions: rgba(219,219,219,0.9);
  --spectrum-alias-border-color-selected: var(--spectrum-global-color-blue-500);
  --spectrum-alias-border-color-translucent: rgba(0,0,0,0.1);
  --spectrum-alias-radial-reaction-color-default: rgba(33,33,33,0.6);
  --spectrum-alias-pasteboard-background-color: var(--spectrum-global-color-gray-300);
  --spectrum-alias-appframe-border-color: var(--spectrum-global-color-gray-300);
  --spectrum-alias-appframe-separator-color: var(--spectrum-global-color-gray-300);
  --spectrum-scrollbar-mac-s-track-background-color: transparent;
  --spectrum-scrollbar-mac-m-track-background-color: transparent;
  --spectrum-scrollbar-mac-l-track-background-color: transparent;
  --spectrum-slider-s-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-ramp-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-range-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-ramp-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-range-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-ramp-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-range-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-ramp-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-s-range-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-ramp-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-range-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-ramp-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-range-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-ramp-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-range-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-ramp-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-m-range-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-ramp-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-range-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-ramp-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-range-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-ramp-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-range-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-ramp-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-l-range-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-ramp-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-range-tick-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-ramp-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-range-tick-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-ramp-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-range-editable-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-ramp-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-slider-xl-range-radial-reaction-color: rgba(33,33,33,0.6);
  --spectrum-well-background-color: rgba(33,33,33,0.02);
  --spectrum-well-border-color: rgba(0,0,0,0.05);
}
