@import '../commons/index.css';

:root {
  --spectrum-loader-bar-label-padding: 10px;
  --spectrum-loader-bar-label-vertical-padding: 2px;

  --spectrum-loader-bar-width: 182px;
  --spectrum-loader-bar-height: 6px;
  --spectrum-loader-bar-label-size: 12px;
  --spectrum-loader-bar-radius: 4px;

  --spectrum-loader-bar-small-width: 148px;
  --spectrum-loader-bar-small-height: 4px;
  --spectrum-loader-bar-small-radius: 2px;

  --spectrum-loader-bar-label-margin-side: 12px;
  --spectrum-loader-bar-label-margin-bottom: 8px;

  --spectrum-loader-bar-width-side: auto;
}

/* topdoc
{{ barloader/barloader-default.yml }}
*/
.spectrum-BarLoader {
  position: relative;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: var(--spectrum-loader-bar-width);
  vertical-align: top;
}

.spectrum-BarLoader-track {
  /* Visually apply border radius to child elements */
  overflow: hidden;
  width: var(--spectrum-loader-bar-width);
  height: var(--spectrum-loader-bar-height);
  border-radius: var(--spectrum-loader-bar-radius);
}

.spectrum-BarLoader-fill {
  border: none;
  border-radius: var(--spectrum-loader-bar-radius);

  height: var(--spectrum-loader-bar-height);

  transition: width 1s;
}

.spectrum-BarLoader-label, .spectrum-BarLoader-percentage {
  font-size: var(--spectrum-loader-bar-label-size);
  text-align: left;
  margin-bottom: var(--spectrum-loader-bar-label-margin-bottom);
}

.spectrum-BarLoader--sideLabel {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  width: var(--spectrum-loader-bar-width-side);

  .spectrum-BarLoader-label {
    margin-right: var(--spectrum-loader-bar-label-margin-side);
    margin-bottom: 0;
  }
  .spectrum-BarLoader-percentage {
    order: 3;
    text-align: right;
    margin-left: var(--spectrum-loader-bar-label-margin-side);
    margin-bottom: 0;
  }
}

/* topdoc
{{ barloader/barloader-small.yml }}
*/
.spectrum-BarLoader--small {
  height: var(--spectrum-loader-bar-small-height);
  min-width: var(--spectrum-loader-bar-small-width);

  .spectrum-BarLoader-fill {
    height: var(--spectrum-loader-bar-small-height);
  }

  .spectrum-BarLoader-track {
    height: var(--spectrum-loader-bar-small-height);
    border-radius: var(--spectrum-loader-bar-small-radius);
  }
}

/* topdoc
{{ barloader/barloader-overbackground.yml }}
*/
