.spectrum-BarLoader {
  .spectrum-BarLoader-fill {
    background: var(--spectrum-barloader-large-track-fill-color);
  }

  .spectrum-BarLoader-track {
    background-color: var(--spectrum-barloader-large-track-color);
  }

  &.spectrum-BarLoader--overBackground {
    .spectrum-BarLoader-fill {
      background: var(--spectrum-barloader-large-over-background-track-fill-color);
    }

    .spectrum-BarLoader-label,
    .spectrum-BarLoader-percentage {
      color: var(--spectrum-barloader-large-over-background-track-fill-color);
    }

    .spectrum-BarLoader-track {
      background-color: var(--spectrum-barloader-large-over-background-track-color);
    }
  }
}
.spectrum-BarLoader-label,
.spectrum-BarLoader-percentage {
  color: var(--spectrum-fieldlabel-text-color);
}
