/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "@spectrum-css/commons/basebutton.css";
@import "themes/spectrum.css";

.spectrum-Button {
	@extend %spectrum-BaseButton;
	@extend %spectrum-ButtonWithFocusRing;
	position: relative;
	gap: var(--mod-button-padding-label-to-icon, var(--spectrum-button-padding-label-to-icon));
	min-inline-size: var(--mod-button-min-width, var(--spectrum-button-min-width));
	min-block-size: var(--mod-button-height, var(--spectrum-button-height));

	margin-block: var(--mod-button-margin-block);
	margin-inline-start: var(--mod-button-margin-left);
	margin-inline-end: var(--mod-button-margin-right);

	/* Start with text-only padding */
	padding-block: 0;
	padding-inline: var(--mod-button-edge-to-text, var(--spectrum-button-edge-to-text));
	font-size: var(--mod-button-font-size, var(--spectrum-button-font-size));
	font-weight: var(--mod-bold-font-weight, var(--spectrum-bold-font-weight));

	/* let staticColor variants inherit their color */
	color: inherit;
	border-style: solid;
	border-width: var(--mod-button-border-width, var(--spectrum-button-border-width));

	border-radius: var(--mod-button-border-radius, var(--spectrum-button-border-radius));

	&:hover,
	&:active {
		box-shadow: none;
	}

	.spectrum-Icon {
		/* Any block-size difference between the intended workflow icon size and actual icon used.
       Helps support any existing use of smaller UI icons instead of intended Workflow icons. */
		--_icon-size-difference: max(0px, var(--spectrum-button-intended-icon-size) - var(--spectrum-icon-block-size, var(--spectrum-button-intended-icon-size)));
		flex-shrink: 0;
		align-self: flex-start;

		margin-block-start: var(--mod-button-icon-margin-block-start, max(0px, var(--mod-button-top-to-icon, var(--spectrum-button-top-to-icon)) - var(--mod-button-border-width, var(--spectrum-button-border-width)) + (var(--_icon-size-difference, 0px) / 2)));

		margin-inline-start: calc(var(--mod-button-edge-to-visual, var(--spectrum-button-edge-to-visual)) - var(--mod-button-edge-to-text, var(--spectrum-button-edge-to-text)));
		color: inherit;
	}

	/* correct focus indicator radius for t-shirt sizing */
	&::after {
		border-radius: calc(var(--mod-button-border-radius, var(--spectrum-button-border-radius)) + var(--mod-focus-indicator-gap, var(--spectrum-focus-indicator-gap)));
	}

	&.spectrum-Button--iconOnly {
		min-inline-size: unset;
		padding: calc(var(--mod-button-edge-to-visual-only, var(--spectrum-button-edge-to-visual-only)) - var(--mod-button-border-width, var(--spectrum-button-border-width)));
		border-radius: 50%;

		.spectrum-Icon {
			align-self: center;
			margin-block-start: 0;
			margin-inline-start: 0;
		}

		&::after {
			border-radius: 50%;
		}
	}
}

a.spectrum-Button {
	@extend %spectrum-AnchorButton;
}

.spectrum-Button-label {
	@extend %spectrum-ButtonLabel;
	align-self: start;
	padding-block-start: calc(var(--mod-button-top-to-text, var(--spectrum-button-top-to-text)) - var(--mod-button-border-width, var(--spectrum-button-border-width)));
	padding-block-end: calc(var(--mod-button-bottom-to-text, var(--spectrum-button-bottom-to-text)) - var(--mod-button-border-width, var(--spectrum-button-border-width)));
	line-height: var(--mod-button-line-height, var(--spectrum-button-line-height));
	text-align: var(--mod-button-text-align, center);
}

.spectrum-Button .spectrum-Icon + .spectrum-Button-label {
	text-align: var(--mod-button-text-align-with-icon, start);
}

.spectrum-Button {
	&:focus-visible,
	&.is-focused {
		&::after {
			box-shadow: 0 0 0 var(--mod-button-focus-ring-thickness, var(--spectrum-button-focus-ring-thickness)) var(--mod-button-focus-ring-color, var(--spectrum-button-focus-indicator-color));
		}
	}
}

/* Special cases for focus indicator */
.spectrum-Button {
	transition: border-color var(--mod-button-animation-duration, var(--spectrum-button-animation-duration)) ease-in-out;

	&::after {
		pointer-events: none;
		content: "";
		position: absolute;
		inset: 0;
		margin: calc((var(--mod-button-focus-ring-gap, var(--spectrum-button-focus-ring-gap)) + var(--mod-button-border-width, var(--spectrum-button-border-width))) * -1);
		border-radius: var(--mod-button-focus-ring-border-radius, var(--spectrum-button-focus-ring-border-radius));
		transition: box-shadow var(--mod-button-animation-duration, var(--spectrum-button-animation-duration)) ease-in-out;
	}

	&:focus-visible {
		outline: none;

		/* Remove the default focus outline */
		box-shadow: none;

		&::after {
			box-shadow: 0 0 0 var(--mod-button-focus-ring-thickness, var(--spectrum-button-focus-ring-thickness)) var(--highcontrast-button-focus-ring-color, var(--mod-button-focus-ring-color, var(--mod-button-focus-ring-color, var(--spectrum-button-focus-indicator-color))));
		}
	}
}

/* Core Token Theming */
/* former skin.css, applied / copied from actionbutton/index.css  */
.spectrum-Button {
	@extend %spectrum-BaseButton;
	color: var(--highcontrast-button-content-color-default, var(--mod-button-content-color-default, var(--spectrum-button-content-color-default)));

	background-color: var(--highcontrast-button-background-color-default, var(--mod-button-background-color-default, var(--spectrum-button-background-color-default)));
	border-color: var(--highcontrast-button-border-color-default, var(--mod-button-border-color-default, var(--spectrum-button-border-color-default)));
	transition:
		border var(--mod-button-animation-duration, var(--spectrum-button-animation-duration, 130ms)) linear,
		color var(--mod-button-animation-duration, var(--spectrum-button-animation-duration, 130ms)) linear,
		background-color var(--mod-button-animation-duration, var(--spectrum-button-animation-duration, 130ms)) linear;

	&:hover {
		color: var(--highcontrast-button-content-color-hover, var(--mod-button-content-color-hover, var(--spectrum-button-content-color-hover)));
		background-color: var(--highcontrast-button-background-color-hover, var(--mod-button-background-color-hover, var(--spectrum-button-background-color-hover)));
		border-color: var(--highcontrast-button-border-color-hover, var(--mod-button-border-color-hover, var(--spectrum-button-border-color-hover)));
	}

	&:focus-visible {
		color: var(--highcontrast-button-content-color-focus, var(--mod-button-content-color-focus, var(--spectrum-button-content-color-focus)));
		background-color: var(--highcontrast-button-background-color-focus, var(--mod-button-background-color-focus, var(--spectrum-button-background-color-focus)));
		border-color: var(--highcontrast-button-border-color-focus, var(--mod-button-border-color-focus, var(--spectrum-button-border-color-focus)));
	}

	&:active {
		color: var(--highcontrast-button-content-color-down, var(--mod-button-content-color-down, var(--spectrum-button-content-color-down)));
		background-color: var(--highcontrast-button-background-color-down, var(--mod-button-background-color-down, var(--spectrum-button-background-color-down)));
		border-color: var(--highcontrast-button-border-color-down, var(--mod-button-border-color-down, var(--spectrum-button-border-color-down)));
	}

	&:disabled,
	&.is-disabled,
	&[pending],
	&.is-pending {
		color: var(--highcontrast-button-content-color-disabled, var(--mod-button-content-color-disabled, var(--spectrum-button-content-color-disabled)));
		background-color: var(--highcontrast-button-background-color-disabled, var(--mod-button-background-color-disabled, var(--spectrum-button-background-color-disabled)));
		border-color: var(--highcontrast-button-border-color-disabled, var(--mod-button-border-color-disabled, var(--spectrum-button-border-color-disabled)));
	}

	.spectrum-Icon,
	.spectrum-Button-label {
		visibility: visible;
		opacity: 1;
		transition: opacity var(--mod-button-animation-duration, var(--spectrum-button-animation-duration, 130ms)) ease-in-out;
	}

	.spectrum-ProgressCircle {
		visibility: hidden;
		opacity: 0;
		transition:
			opacity var(--mod-button-animation-duration, var(--spectrum-button-animation-duration, 130ms)) ease-in-out,
			visibility 0ms linear var(--mod-button-animation-duration, var(--spectrum-button-animation-duration, 130ms));
	}

	&[pending],
	&.is-pending {
		cursor: default;

		.spectrum-Icon,
		.spectrum-Button-label {
			visibility: hidden;
			opacity: 0;
			transition:
				opacity var(--mod-button-animation-duration, var(--spectrum-button-animation-duration, 130ms)) ease-in-out,
				visibility 0ms linear var(--mod-button-animation-duration, var(--spectrum-button-animation-duration, 130ms));
		}

		.spectrum-ProgressCircle {
			visibility: visible;
			opacity: 1;
			transition: opacity var(--mod-button-animation-duration, var(--spectrum-button-animation-duration, 130ms)) ease-in-out;
		}
	}
}

/* Static color variants */
.spectrum-Button--staticWhite {
	--spectrum-button-focus-indicator-color: var(--mod-static-black-focus-indicator-color, var(--spectrum-static-black-focus-indicator-color));
}

.spectrum-Button--staticBlack {
	--spectrum-button-focus-indicator-color: var(--mod-static-black-focus-indicator-color, var(--spectrum-static-black-focus-indicator-color));
}

/* Windows High Contrast Mode */
@media (forced-colors: active) {
	.spectrum-Button {
		--highcontrast-button-content-color-disabled: GrayText;
		--highcontrast-button-border-color-disabled: GrayText;
		--mod-progress-circle-track-border-color: ButtonText;
		--mod-progress-circle-track-border-color-over-background: ButtonText;
		--mod-progress-circle-thickness: var(--spectrum-progress-circle-thickness-medium);

		&:focus-visible {
			&::after {
				forced-color-adjust: none;
				box-shadow: 0 0 0 var(--mod-button-focus-ring-thickness, var(--spectrum-button-focus-ring-thickness)) ButtonText;
			}
		}

		&.spectrum-Button--accent.spectrum-Button--fill {
			--highcontrast-button-background-color-default: ButtonText;
			--highcontrast-button-content-color-default: ButtonFace;
			--highcontrast-button-background-color-disabled: ButtonFace;

			--highcontrast-button-background-color-hover: Highlight;
			--highcontrast-button-background-color-down: Highlight;
			--highcontrast-button-background-color-focus: Highlight;
			--highcontrast-button-content-color-hover: ButtonFace;
			--highcontrast-button-content-color-down: ButtonFace;
			--highcontrast-button-content-color-focus: ButtonFace;

			.spectrum-Button-label {
				forced-color-adjust: none;
			}
		}
	}
}
