/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Button--cta {
  background-color: var(--spectrum-button-cta-m-background-color);
  border-color: var(--spectrum-button-cta-m-border-color);
  color: var(--spectrum-button-cta-m-text-color);

  &:hover {
    background-color: var(--spectrum-button-cta-m-background-color-hover);
    border-color: var(--spectrum-button-cta-m-border-color-hover);
    color: var(--spectrum-button-cta-m-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-cta-m-background-color-key-focus);
    border-color: var(--spectrum-button-cta-m-border-color-key-focus);
    color: var(--spectrum-button-cta-m-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-cta-m-background-color-down);
    border-color: var(--spectrum-button-cta-m-border-color-down);
    color: var(--spectrum-button-cta-m-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-cta-m-background-color-disabled);
    border-color: var(--spectrum-button-cta-m-border-color-disabled);
    color: var(--spectrum-button-cta-m-text-color-disabled);
  }
}

.spectrum-Button--primary {
  background-color: var(--spectrum-button-primary-m-background-color);
  border-color: var(--spectrum-button-primary-m-border-color);
  color: var(--spectrum-button-primary-m-text-color);

  &:hover {
    background-color: var(--spectrum-button-primary-m-background-color-hover);
    border-color: var(--spectrum-button-primary-m-border-color-hover);
    color: var(--spectrum-button-primary-m-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-primary-m-background-color-key-focus);
    border-color: var(--spectrum-button-primary-m-border-color-key-focus);
    color: var(--spectrum-button-primary-m-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-primary-m-background-color-down);
    border-color: var(--spectrum-button-primary-m-border-color-down);
    color: var(--spectrum-button-primary-m-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-primary-m-background-color-disabled);
    border-color: var(--spectrum-button-primary-m-border-color-disabled);
    color: var(--spectrum-button-primary-m-text-color-disabled);
  }
}

.spectrum-Button--secondary {
  background-color: var(--spectrum-button-secondary-m-background-color);
  border-color: var(--spectrum-button-secondary-m-border-color);
  color: var(--spectrum-button-secondary-m-text-color);

  &:hover {
    background-color: var(--spectrum-button-secondary-m-background-color-hover);
    border-color: var(--spectrum-button-secondary-m-border-color-hover);
    color: var(--spectrum-button-secondary-m-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-secondary-m-background-color-key-focus);
    border-color: var(--spectrum-button-secondary-m-border-color-key-focus);
    color: var(--spectrum-button-secondary-m-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-secondary-m-background-color-down);
    border-color: var(--spectrum-button-secondary-m-border-color-down);
    color: var(--spectrum-button-secondary-m-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-secondary-m-background-color-disabled);
    border-color: var(--spectrum-button-secondary-m-border-color-disabled);
    color: var(--spectrum-button-secondary-m-text-color-disabled);
  }
}

.spectrum-Button--warning {
  background-color: var(--spectrum-button-warning-m-background-color);
  border-color: var(--spectrum-button-warning-m-border-color);
  color: var(--spectrum-button-warning-m-text-color);

  &:hover {
    background-color: var(--spectrum-button-warning-m-background-color-hover);
    border-color: var(--spectrum-button-warning-m-border-color-hover);
    color: var(--spectrum-button-warning-m-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-warning-m-background-color-key-focus);
    border-color: var(--spectrum-button-warning-m-border-color-key-focus);
    color: var(--spectrum-button-warning-m-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-warning-m-background-color-down);
    border-color: var(--spectrum-button-warning-m-border-color-down);
    color: var(--spectrum-button-warning-m-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-warning-m-background-color-disabled);
    border-color: var(--spectrum-button-warning-m-border-color-disabled);
    color: var(--spectrum-button-warning-m-text-color-disabled);
  }
}

.spectrum-Button--overBackground {
  background-color: var(--spectrum-button-over-background-m-background-color);
  border-color: var(--spectrum-button-over-background-m-border-color);
  color: var(--spectrum-button-over-background-m-text-color);

  &:hover {
    background-color: var(--spectrum-button-over-background-m-background-color-hover);
    border-color: var(--spectrum-button-over-background-m-border-color-hover);
    color: inherit;
  }

  &:focus-ring {
    background-color: var(--spectrum-button-over-background-m-background-color-hover);
    border-color: var(--spectrum-button-over-background-m-border-color-hover);
    color: inherit;

    &:after {
      box-shadow: 0 0 0 var(--spectrum-alias-focus-ring-size) var(--spectrum-button-over-background-m-border-color-key-focus);
    }
  }

  &:active {
    background-color: var(--spectrum-button-over-background-m-background-color-down);
    border-color: var(--spectrum-button-over-background-m-border-color-down);
    color: inherit;
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-over-background-m-background-color-disabled);
    border-color: var(--spectrum-button-over-background-m-border-color-disabled);
    color: var(--spectrum-button-over-background-m-text-color-disabled);
  }
}

.spectrum-Button--overBackground.spectrum-Button--quiet,
.spectrum-ClearButton--overBackground {
  background-color: var(--spectrum-button-quiet-over-background-m-background-color);
  border-color: var(--spectrum-button-quiet-over-background-m-border-color);
  color: var(--spectrum-button-quiet-over-background-m-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-over-background-m-background-color-hover);
    border-color: var(--spectrum-button-quiet-over-background-m-border-color-hover);
    color: var(--spectrum-button-quiet-over-background-m-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-over-background-m-background-color-hover);
    border-color: var(--spectrum-button-quiet-over-background-m-border-color-hover);
    color: var(--spectrum-button-quiet-over-background-m-text-color-hover);
    box-shadow: none;

    &:after {
      box-shadow: 0 0 0 var(--spectrum-alias-focus-ring-size) var(--spectrum-button-over-background-m-border-color-key-focus);
    }
  }

  &:active {
    background-color: var(--spectrum-button-quiet-over-background-m-background-color-down);
    border-color: var(--spectrum-button-quiet-over-background-m-border-color-down);
    color: var(--spectrum-button-quiet-over-background-m-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-over-background-m-background-color-disabled);
    border-color: var(--spectrum-button-quiet-over-background-m-border-color-disabled);
    color: var(--spectrum-button-quiet-over-background-m-text-color-disabled);
  }
}

.spectrum-Button--primary.spectrum-Button--quiet {
  background-color: var(--spectrum-button-quiet-primary-m-background-color);
  border-color: var(--spectrum-button-quiet-primary-m-border-color);
  color: var(--spectrum-button-quiet-primary-m-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-primary-m-background-color-hover);
    border-color: var(--spectrum-button-quiet-primary-m-border-color-hover);
    color: var(--spectrum-button-quiet-primary-m-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-primary-m-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-primary-m-border-color-key-focus);
    color: var(--spectrum-button-quiet-primary-m-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-primary-m-background-color-down);
    border-color: var(--spectrum-button-quiet-primary-m-border-color-down);
    color: var(--spectrum-button-quiet-primary-m-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-primary-m-background-color-disabled);
    border-color: var(--spectrum-button-quiet-primary-m-border-color-disabled);
    color: var(--spectrum-button-quiet-primary-m-text-color-disabled);
  }
}

.spectrum-Button--secondary.spectrum-Button--quiet {
  background-color: var(--spectrum-button-quiet-secondary-m-background-color);
  border-color: var(--spectrum-button-quiet-secondary-m-border-color);
  color: var(--spectrum-button-quiet-secondary-m-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-secondary-m-background-color-hover);
    border-color: var(--spectrum-button-quiet-secondary-m-border-color-hover);
    color: var(--spectrum-button-quiet-secondary-m-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-secondary-m-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-secondary-m-border-color-key-focus);
    color: var(--spectrum-button-quiet-secondary-m-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-secondary-m-background-color-down);
    border-color: var(--spectrum-button-quiet-secondary-m-border-color-down);
    color: var(--spectrum-button-quiet-secondary-m-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-secondary-m-background-color-disabled);
    border-color: var(--spectrum-button-quiet-secondary-m-border-color-disabled);
    color: var(--spectrum-button-quiet-secondary-m-text-color-disabled);
  }
}

.spectrum-Button--warning.spectrum-Button--quiet {
  background-color: var(--spectrum-button-quiet-warning-m-background-color);
  border-color: var(--spectrum-button-quiet-warning-m-border-color);
  color: var(--spectrum-button-quiet-warning-m-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-warning-m-background-color-hover);
    border-color: var(--spectrum-button-quiet-warning-m-border-color-hover);
    color: var(--spectrum-button-quiet-warning-m-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-warning-m-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-warning-m-border-color-key-focus);
    color: var(--spectrum-button-quiet-warning-m-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-warning-m-background-color-down);
    border-color: var(--spectrum-button-quiet-warning-m-border-color-down);
    color: var(--spectrum-button-quiet-warning-m-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-warning-m-background-color-disabled);
    border-color: var(--spectrum-button-quiet-warning-m-border-color-disabled);
    color: var(--spectrum-button-quiet-warning-m-text-color-disabled);
  }
}
