/*
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Button {
  &:not(.spectrum-Button--staticWhite) {
    &:not(.spectrum-Button--staticBlack) {
      &:disabled {
        .spectrum-Icon {
          color: var(--spectrum-button-m-primary-fill-texticon-icon-color-disabled)
        }

        .spectrum-Button-label {
          color: var(--spectrum-button-m-primary-fill-texticon-text-color-disabled)
        }
      }
    }
  }

  &.spectrum-Button--staticWhite {
    &:disabled {
      .spectrum-Icon {
        color: var(--spectrum-button-m-primary-fill-white-texticon-icon-color-disabled)
      }

      .spectrum-Button-label {
        color: var(--spectrum-button-m-primary-fill-white-texticon-text-color-disabled)
      }
    }

    &.spectrum-Button--fill {
      &:not(.spectrum-Button--secondary) {
        &:not(:disabled) {
          background-color: var(--spectrum-button-m-primary-fill-white-texticon-background-color);
          .spectrum-Icon {
            color: inherit
          }

          .spectrum-Button-label {
            color: inherit
          }
        }
      }

      &.spectrum-Button--secondary {
        &:not(:disabled) {
          background-color: var(--spectrum-button-m-secondary-fill-white-texticon-background-color);
          .spectrum-Icon {
            color: var(--spectrum-button-m-secondary-fill-white-texticon-icon-color)
          }

          .spectrum-Button-label {
            color: var(--spectrum-button-m-secondary-fill-white-texticon-text-color)
          }

          &:hover {
            background-color: var(--spectrum-button-m-secondary-fill-white-texticon-background-color-hover);
          }

          &:active {
            background-color: var(--spectrum-button-m-secondary-fill-white-texticon-background-color-down);
          }

          &:focus-visible {
            background-color: var(--spectrum-button-m-secondary-fill-white-texticon-background-color-key-focus)
          }

          &.is-keyboardFocused {
            background-color: var(--spectrum-button-m-secondary-fill-white-texticon-background-color-key-focus)
          }
        }
      }

      &:disabled {
        background-color: var(--spectrum-button-m-secondary-fill-white-texticon-background-color-disabled)
      }
    }

    &.spectrum-Button--outline {
      &:not(:disabled) {
        .spectrum-Icon {
          color: var(--spectrum-button-m-secondary-outline-white-texticon-icon-color)
        }

        .spectrum-Button-label {
          color: var(--spectrum-button-m-secondary-outline-white-texticon-text-color)
        }
      }

      &:disabled {
        border-color: var(--spectrum-button-m-secondary-outline-white-texticon-border-color-disabled);
        background-color: var(--spectrum-button-m-secondary-outline-white-texticon-background-color-disabled);
      }

      &:not(.spectrum-Button--secondary) {
        &:not(:disabled) {
          border-color: var(--spectrum-button-m-primary-outline-white-texticon-border-color);
          background-color: var(--spectrum-button-m-primary-outline-white-texticon-background-color);

          &:hover {
            background-color: var(--spectrum-button-m-primary-outline-white-texticon-background-color-hover);
          }

          &:active {
            background-color: var(--spectrum-button-m-primary-outline-white-texticon-background-color-down);
          }

          &:focus-visible {
            background-color: var(--spectrum-button-m-primary-outline-white-texticon-background-color-key-focus);
          }

          &.is-keyboardFocused {
            background-color: var(--spectrum-button-m-primary-outline-white-texticon-background-color-key-focus);
          }
        }
      }

      &.spectrum-Button--secondary {
        &:not(:disabled) {
          border-color: var(--spectrum-button-m-secondary-outline-white-texticon-border-color);
          background-color: var(--spectrum-button-m-secondary-outline-white-texticon-background-color);

          &:hover {
            background-color: var(--spectrum-button-m-secondary-outline-white-texticon-background-color-hover);
          }

          &:active {
            background-color: var(--spectrum-button-m-secondary-outline-white-texticon-background-color-down);
          }

          &:focus-visible {
            background-color: var(--spectrum-button-m-secondary-outline-white-texticon-background-color-key-focus);
          }

          &.is-keyboardFocused {
            background-color: var(--spectrum-button-m-secondary-outline-white-texticon-background-color-key-focus);
          }
        }
      }
    }
  }

  &.spectrum-Button--staticBlack {
    &:disabled {
      .spectrum-Icon {
        color: var(--spectrum-button-m-primary-fill-black-texticon-icon-color-disabled)
      }

      .spectrum-Button-label {
        color: var(--spectrum-button-m-primary-fill-black-texticon-text-color-disabled)
      }
    }

    &.spectrum-Button--fill {
      &:not(.spectrum-Button--secondary) {
        &:not(:disabled) {
          background-color: var(--spectrum-button-m-primary-fill-black-texticon-background-color);
          .spectrum-Icon {
            color: inherit
          }

          .spectrum-Button-label {
            color: inherit
          }
        }
      }

      &.spectrum-Button--secondary {
        &:not(:disabled) {
          background-color: var(--spectrum-button-m-secondary-fill-black-texticon-background-color);
          .spectrum-Icon {
            color: var(--spectrum-button-m-secondary-fill-black-texticon-icon-color)
          }

          .spectrum-Button-label {
            color: var(--spectrum-button-m-secondary-fill-black-texticon-text-color)
          }

          &:hover {
            background-color: var(--spectrum-button-m-secondary-fill-black-texticon-background-color-hover)
          }

          &:active {
            background-color: var(--spectrum-button-m-secondary-fill-black-texticon-background-color-down)
          }

          &:focus-visible {
            background-color: var(--spectrum-button-m-secondary-fill-black-texticon-background-color-key-focus)
          }

          &.is-keyboardFocused {
            background-color: var(--spectrum-button-m-secondary-fill-black-texticon-background-color-key-focus)
          }
        }
      }

      &:disabled {
        background-color: var(--spectrum-button-m-secondary-fill-black-texticon-background-color-disabled)
      }
    }

    &.spectrum-Button--outline {
      &:not(:disabled) {
        .spectrum-Icon {
          color: var(--spectrum-button-m-secondary-outline-black-texticon-icon-color)
        }

        .spectrum-Button-label {
          color: var(--spectrum-button-m-secondary-outline-black-texticon-text-color)
        }
      }

      &:disabled {
        border-color: var(--spectrum-button-m-secondary-outline-black-texticon-border-color-disabled);
        background-color: var(--spectrum-button-m-secondary-outline-black-texticon-background-color-disabled);
      }

      &:not(.spectrum-Button--secondary) {
        &:not(:disabled) {
          border-color: var(--spectrum-button-m-primary-outline-black-texticon-border-color);
          background-color: var(--spectrum-button-m-primary-outline-black-texticon-background-color);

          &:hover {
            background-color: var(--spectrum-button-m-primary-outline-black-texticon-background-color-hover);
          }

          &:active {
            background-color: var(--spectrum-button-m-primary-outline-black-texticon-background-color-down);
          }

          &:focus-visible {
            background-color: var(--spectrum-button-m-primary-outline-black-texticon-background-color-key-focus);
          }

          &.is-keyboardFocused {
            background-color: var(--spectrum-button-m-primary-outline-black-texticon-background-color-key-focus);
          }
        }
      }

      &.spectrum-Button--secondary {
        &:not(:disabled) {
          border-color: var(--spectrum-button-m-secondary-outline-black-texticon-border-color);
          background-color: var(--spectrum-button-m-secondary-outline-black-texticon-background-color);

          &:hover {
            background-color: var(--spectrum-button-m-secondary-outline-black-texticon-background-color-hover);
          }

          &:active {
            background-color: var(--spectrum-button-m-secondary-outline-black-texticon-background-color-down);
          }

          &:focus-visible {
            background-color: var(--spectrum-button-m-secondary-outline-black-texticon-background-color-key-focus);
          }

          &.is-keyboardFocused {
            background-color: var(--spectrum-button-m-secondary-outline-black-texticon-background-color-key-focus);
          }
        }
      }
    }
  }

  &.spectrum-Button--fill {
    &.spectrum-Button--accent {
      &:not(.spectrum-Button--staticWhite) {
        &:not(.spectrum-Button--staticBlack) {
          &:not(:disabled) {
            background-color: var(--spectrum-button-m-accent-fill-texticon-background-color);
            .spectrum-Icon {
              color: var(--spectrum-button-m-accent-fill-texticon-icon-color);
            }

            .spectrum-Button-label {
              color: var(--spectrum-button-m-accent-fill-texticon-text-color);
            }

            &:hover {
              background-color: var(--spectrum-button-m-accent-fill-texticon-background-color-hover);
            }

            &:active {
              background-color: var(--spectrum-button-m-accent-fill-texticon-background-color-down);
            }

            &:focus-visible {
              background-color: var(--spectrum-button-m-accent-fill-texticon-background-color-key-focus);
            }

            &.is-keyboardFocused {
              background-color: var(--spectrum-button-m-accent-fill-texticon-background-color-key-focus);
            }
          }
        }
      }
    }

    &.spectrum-Button--negative {
      &:not(.spectrum-Button--staticWhite) {
        &:not(.spectrum-Button--staticBlack) {
          &:not(:disabled) {
            background-color: var(--spectrum-button-m-negative-fill-texticon-background-color);
            .spectrum-Icon {
              color: var(--spectrum-button-m-negative-fill-texticon-icon-color);
            }

            .spectrum-Button-label {
              color: var(--spectrum-button-m-negative-fill-texticon-text-color);
            }

            &:hover {
              background-color: var(--spectrum-button-m-negative-fill-texticon-background-color-hover);
            }

            &:active {
              background-color: var(--spectrum-button-m-negative-fill-texticon-background-color-down)
            }

            &:focus-visible {
              background-color: var(--spectrum-button-m-negative-fill-texticon-background-color-key-focus)
            }

            &.is-keyboardFocused {
              background-color: var(--spectrum-button-m-negative-fill-texticon-background-color-key-focus)
            }
          }
        }
      }
    }

    &.spectrum-Button--primary {
      &:not(.spectrum-Button--staticWhite) {
        &:not(.spectrum-Button--staticBlack) {
          &:not(:disabled) {
            background-color: var(--spectrum-button-m-primary-fill-texticon-background-color);
            .spectrum-Icon {
              color: var(--spectrum-button-m-primary-fill-texticon-icon-color);
            }

            .spectrum-Button-label {
              color: var(--spectrum-button-m-primary-fill-texticon-text-color);
            }

            &:hover {
              background-color: var(--spectrum-button-m-primary-fill-texticon-background-color-hover)
            }

            &:active {
              background-color: var(--spectrum-button-m-primary-fill-texticon-background-color-down)
            }

            &:focus-visible {
              background-color: var(--spectrum-button-m-primary-fill-texticon-background-color-key-focus)
            }

            &.is-keyboardFocused {
              background-color: var(--spectrum-button-m-primary-fill-texticon-background-color-key-focus)
            }
          }
        }
      }
    }

    &.spectrum-Button--secondary {
      &:not(.spectrum-Button--staticWhite) {
        &:not(.spectrum-Button--staticBlack) {
          &:not(:disabled) {
            background-color: var(--spectrum-button-m-secondary-fill-texticon-background-color);

            .spectrum-Icon {
              color: var(--spectrum-button-m-secondary-fill-texticon-icon-color);
            }

            &:hover {
              background-color: var(--spectrum-button-m-secondary-fill-texticon-background-color-hover);

              .spectrum-Icon {
                color: var(--spectrum-button-m-secondary-fill-texticon-icon-color-hover);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-secondary-fill-texticon-text-color-hover);
              }
            }

            &:active {
              background-color: var(--spectrum-button-m-secondary-fill-texticon-background-color-down);

              .spectrum-Icon {
                color: var(--spectrum-button-m-secondary-fill-texticon-icon-color-down);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-secondary-fill-texticon-text-color-down);
              }
            }

            &:focus-visible {
              background-color: var(--spectrum-button-m-secondary-fill-texticon-background-color-key-focus);

              .spectrum-Icon {
                color: var(--spectrum-button-m-secondary-fill-texticon-icon-color-key-focus);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-secondary-fill-texticon-text-color-key-focus);
              }
            }

            &.is-keyboardFocused {
              background-color: var(--spectrum-button-m-secondary-fill-texticon-background-color-key-focus);

              .spectrum-Icon {
                color: var(--spectrum-button-m-secondary-fill-texticon-icon-color-key-focus);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-secondary-fill-texticon-text-color-key-focus);
              }
            }

            .spectrum-Button-label {
              color: var(--spectrum-button-m-secondary-fill-texticon-text-color);
            }
          }
        }
      }
    }

    &:not(.spectrum-Button--staticWhite) {
      &:not(.spectrum-Button--staticBlack) {
        &:disabled {
          background-color: var(--spectrum-button-m-primary-fill-texticon-background-color-disabled);
        }
      }
    }

    &:disabled {
      border-color: var(--spectrum-button-m-primary-fill-texticon-border-color-disabled);
    }

    &:not(:disabled) {
      border-color: var(--spectrum-button-m-primary-fill-texticon-border-color);
    }
  }

  &.spectrum-Button--outline {
    &.spectrum-Button--accent {
      &:not(.spectrum-Button--staticWhite) {
        &:not(.spectrum-Button--staticBlack) {
          &:not(:disabled) {
            background-color: var(--spectrum-button-m-accent-outline-texticon-background-color);
            border-color: var(--spectrum-button-m-accent-outline-texticon-border-color);
            .spectrum-Icon {
              color: var(--spectrum-button-m-accent-outline-texticon-icon-color);
            }

            &:hover {
              background-color: var(--spectrum-button-m-accent-outline-texticon-background-color-hover);
              border-color: var(--spectrum-button-m-accent-outline-texticon-border-color-hover);
              .spectrum-Icon {
                color: var(--spectrum-button-m-accent-outline-texticon-icon-color-hover);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-accent-outline-texticon-text-color-hover);
              }
            }

            &:active {
              background-color: var(--spectrum-button-m-accent-outline-texticon-background-color-down);
              border-color: var(--spectrum-button-m-accent-outline-texticon-border-color-down);
              .spectrum-Icon {
                color: var(--spectrum-button-m-accent-outline-texticon-icon-color-down);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-accent-outline-texticon-text-color-down);
              }
            }

            &:focus-visible {
              background-color: var(--spectrum-button-m-accent-outline-texticon-background-color-key-focus);
              border-color: var(--spectrum-button-m-accent-outline-texticon-border-color-key-focus);
              .spectrum-Icon {
                color: var(--spectrum-button-m-accent-outline-texticon-icon-color-key-focus);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-accent-outline-texticon-text-color-key-focus);
              }
            }

            &.is-keyboardFocused {
              background-color: var(--spectrum-button-m-accent-outline-texticon-background-color-key-focus);
              border-color: var(--spectrum-button-m-accent-outline-texticon-border-color-key-focus);
              .spectrum-Icon {
                color: var(--spectrum-button-m-accent-outline-texticon-icon-color-key-focus);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-accent-outline-texticon-text-color-key-focus);
              }
            }

            .spectrum-Button-label {
              color: var(--spectrum-button-m-accent-outline-texticon-text-color);
            }
          }
        }
      }
    }

    &.spectrum-Button--negative {
      &:not(.spectrum-Button--staticWhite) {
        &:not(.spectrum-Button--staticBlack) {
          &:not(:disabled) {
            background-color: var(--spectrum-button-m-negative-outline-texticon-background-color);
            border-color: var(--spectrum-button-m-negative-outline-texticon-border-color);
            .spectrum-Icon {
              color: var(--spectrum-button-m-negative-outline-texticon-icon-color);
            }

            &:hover {
              background-color: var(--spectrum-button-m-negative-outline-texticon-background-color-hover);
              border-color: var(--spectrum-button-m-negative-outline-texticon-border-color-hover);
              .spectrum-Icon {
                color: var(--spectrum-button-m-negative-outline-texticon-icon-color-hover);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-negative-outline-texticon-text-color-hover);
              }
            }

            &:active {
              background-color: var(--spectrum-button-m-negative-outline-texticon-background-color-down);
              border-color: var(--spectrum-button-m-negative-outline-texticon-border-color-down);
              .spectrum-Icon {
                color: var(--spectrum-button-m-negative-outline-texticon-icon-color-down);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-negative-outline-texticon-text-color-down);
              }
            }

            &:focus-visible {
              background-color: var(--spectrum-button-m-negative-outline-texticon-background-color-key-focus);
              border-color: var(--spectrum-button-m-negative-outline-texticon-border-color-key-focus);
              .spectrum-Icon {
                color: var(--spectrum-button-m-negative-outline-texticon-icon-color-key-focus);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-negative-outline-texticon-text-color-key-focus);
              }
            }

            &.is-keyboardFocused {
              background-color: var(--spectrum-button-m-negative-outline-texticon-background-color-key-focus);
              border-color: var(--spectrum-button-m-negative-outline-texticon-border-color-key-focus);
              .spectrum-Icon {
                color: var(--spectrum-button-m-negative-outline-texticon-icon-color-key-focus);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-negative-outline-texticon-text-color-key-focus);
              }
            }

            .spectrum-Button-label {
              color: var(--spectrum-button-m-negative-outline-texticon-text-color);
            }
          }
        }
      }
    }

    &.spectrum-Button--primary {
      &:not(.spectrum-Button--staticWhite) {
        &:not(.spectrum-Button--staticBlack) {
          &:not(:disabled) {
            background-color: var(--spectrum-button-m-primary-outline-texticon-background-color);
            border-color: var(--spectrum-button-m-primary-outline-texticon-border-color);
            .spectrum-Icon {
              color: var(--spectrum-button-m-primary-outline-texticon-icon-color);
            }

            &:hover {
              background-color: var(--spectrum-button-m-primary-outline-texticon-background-color-hover);
              border-color: var(--spectrum-button-m-primary-outline-texticon-border-color-hover);
              .spectrum-Icon {
                color: var(--spectrum-button-m-primary-outline-texticon-icon-color-hover);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-primary-outline-texticon-text-color-hover);
              }
            }

            &:active {
              background-color: var(--spectrum-button-m-primary-outline-texticon-background-color-down);
              border-color: var(--spectrum-button-m-primary-outline-texticon-border-color-down);
              .spectrum-Icon {
                color: var(--spectrum-button-m-primary-outline-texticon-icon-color-down);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-primary-outline-texticon-text-color-down);
              }
            }

            &:focus-visible {
              background-color: var(--spectrum-button-m-primary-outline-texticon-background-color-key-focus);
              border-color: var(--spectrum-button-m-primary-outline-texticon-border-color-key-focus);
              .spectrum-Icon {
                color: var(--spectrum-button-m-primary-outline-texticon-icon-color-key-focus);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-primary-outline-texticon-text-color-key-focus);
              }
            }

            &.is-keyboardFocused {
              background-color: var(--spectrum-button-m-primary-outline-texticon-background-color-key-focus);
              border-color: var(--spectrum-button-m-primary-outline-texticon-border-color-key-focus);
              .spectrum-Icon {
                color: var(--spectrum-button-m-primary-outline-texticon-icon-color-key-focus);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-primary-outline-texticon-text-color-key-focus);
              }
            }

            .spectrum-Button-label {
              color: var(--spectrum-button-m-primary-outline-texticon-text-color);
            }
          }
        }
      }
    }

    &.spectrum-Button--secondary {
      &:not(.spectrum-Button--staticWhite) {
        &:not(.spectrum-Button--staticBlack) {
          &:not(:disabled) {
            background-color: var(--spectrum-button-m-secondary-outline-texticon-background-color);
            border-color: var(--spectrum-button-m-secondary-outline-texticon-border-color);
            .spectrum-Icon {
              color: var(--spectrum-button-m-secondary-outline-texticon-icon-color);
            }

            &:hover {
              background-color: var(--spectrum-button-m-secondary-outline-texticon-background-color-hover);
              border-color: var(--spectrum-button-m-secondary-outline-texticon-border-color-hover);
              .spectrum-Icon {
                color: var(--spectrum-button-m-secondary-outline-texticon-icon-color-hover);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-secondary-outline-texticon-text-color-hover);
              }
            }

            &:active {
              background-color: var(--spectrum-button-m-secondary-outline-texticon-background-color-down);
              border-color: var(--spectrum-button-m-secondary-outline-texticon-border-color-down);
              .spectrum-Icon {
                color: var(--spectrum-button-m-secondary-outline-texticon-icon-color-down);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-secondary-outline-texticon-text-color-down);
              }
            }

            &:focus-visible {
              background-color: var(--spectrum-button-m-secondary-outline-texticon-background-color-key-focus);
              border-color: var(--spectrum-button-m-secondary-outline-texticon-border-color-key-focus);
              .spectrum-Icon {
                color: var(--spectrum-button-m-secondary-outline-texticon-icon-color-key-focus);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-secondary-outline-texticon-text-color-key-focus);
              }
            }

            &.is-keyboardFocused {
              background-color: var(--spectrum-button-m-secondary-outline-texticon-background-color-key-focus);
              border-color: var(--spectrum-button-m-secondary-outline-texticon-border-color-key-focus);
              .spectrum-Icon {
                color: var(--spectrum-button-m-secondary-outline-texticon-icon-color-key-focus);
              }

              .spectrum-Button-label {
                color: var(--spectrum-button-m-secondary-outline-texticon-text-color-key-focus);
              }
            }

            .spectrum-Button-label {
              color: var(--spectrum-button-m-secondary-outline-texticon-text-color);
            }
          }
        }
      }
    }

    &:not(.spectrum-Button--staticWhite) {
      &:not(.spectrum-Button--staticBlack) {
        &:disabled {
          border-color: var(--spectrum-button-m-primary-outline-texticon-border-color-disabled);
          background-color: var(--spectrum-button-m-primary-outline-texticon-background-color-disabled);
        }
      }
    }
  }
}
/* Only override things where the defaults don't work */
@media (forced-colors: active) {
  .spectrum-Button {
    --spectrum-button-m-accent-fill-texticon-background-color-down: Highlight;
    --spectrum-button-m-accent-fill-texticon-background-color-hover: Highlight;
    --spectrum-button-m-accent-fill-texticon-background-color-key-focus: Highlight;
    --spectrum-button-m-accent-fill-texticon-background-color: ButtonText;
    --spectrum-button-m-accent-fill-texticon-icon-color: ButtonFace;
    --spectrum-button-m-accent-fill-texticon-text-color: ButtonFace;
    --spectrum-button-m-accent-outline-texticon-background-color: ButtonFace;
    --spectrum-button-m-accent-outline-texticon-background-color-down: ButtonFace;
    --spectrum-button-m-accent-outline-texticon-background-color-hover: ButtonFace;
    --spectrum-button-m-accent-outline-texticon-background-color-key-focus: ButtonFace;
    --spectrum-button-m-accent-outline-texticon-border-color: ButtonText;
    --spectrum-button-m-accent-outline-texticon-border-color-down: Highlight;
    --spectrum-button-m-accent-outline-texticon-border-color-hover: Highlight;
    --spectrum-button-m-accent-outline-texticon-border-color-key-focus: Highlight;
    --spectrum-button-m-accent-outline-texticon-icon-color: ButtonText;
    --spectrum-button-m-accent-outline-texticon-icon-color-down: ButtonText;
    --spectrum-button-m-accent-outline-texticon-icon-color-hover: ButtonText;
    --spectrum-button-m-accent-outline-texticon-icon-color-key-focus: ButtonText;
    --spectrum-button-m-accent-outline-texticon-text-color: ButtonText;
    --spectrum-button-m-accent-outline-texticon-text-color-down: ButtonText;
    --spectrum-button-m-accent-outline-texticon-text-color-hover: ButtonText;
    --spectrum-button-m-accent-outline-texticon-text-color-key-focus: ButtonText;
    --spectrum-button-m-primary-fill-texticon-icon-color-disabled: GrayText;
    --spectrum-button-m-primary-fill-texticon-text-color-disabled: GrayText;
    --spectrum-button-m-primary-fill-white-texticon-icon-color-disabled: GrayText;
    --spectrum-button-m-primary-fill-white-texticon-text-color-disabled: GrayText;
    --spectrum-button-m-secondary-fill-white-texticon-background-color-disabled: ButtonFace;
    --spectrum-button-m-secondary-outline-white-texticon-background-color-disabled: ButtonFace;
    --spectrum-button-m-primary-fill-black-texticon-icon-color-disabled: GrayText;
    --spectrum-button-m-primary-fill-black-texticon-text-color-disabled: GrayText;
    --spectrum-button-m-secondary-fill-black-texticon-background-color-disabled: ButtonFace;
    --spectrum-button-m-secondary-outline-black-texticon-background-color-disabled: ButtonFace;
    --spectrum-button-m-primary-fill-texticon-background-color-disabled: ButtonFace;
    --spectrum-button-m-primary-outline-texticon-background-color-disabled: ButtonFace;

  }
  .spectrum-Button {
    &:focus-ring,
    &.is-focused {
      &:after {
        forced-color-adjust:none;
        box-shadow: 0 0 0 var(--spectrum-button-primary-fill-texticon-focus-ring-size) ButtonText;
      }
    }
  }
  .spectrum-Button--accent {
    .spectrum-Button-label {
      forced-color-adjust:none;
    }
  }
}