.spectrum-StatusLight {
  color: var(--spectrum-statuslight-text-color);

  &[disabled],
  &.is-disabled {
    color: var(--spectrum-statuslight-text-color-disabled);

    &::before {
      background-color: var(--spectrum-statuslight-dot-color-disabled);
    }
  }
}

.spectrum-StatusLight--negative::before {
  background-color: var(--spectrum-statuslight-negative-dot-color);
}

.spectrum-StatusLight--notice::before {
  background-color: var(--spectrum-statuslight-notice-dot-color);
}

.spectrum-StatusLight--positive::before {
  background-color: var(--spectrum-statuslight-positive-dot-color);
}

.spectrum-StatusLight--active::before {
  background-color: var(--spectrum-statuslight-info-dot-color);
}

.spectrum-StatusLight--neutral {
  color: var(--spectrum-statuslight-neutral-text-color);

  &::before {
    background-color: var(--spectrum-statuslight-neutral-dot-color);
  }
}

.spectrum-StatusLight--celery::before {
  background-color: var(--spectrum-statuslight-dot-color-label-celery);
}

.spectrum-StatusLight--yellow::before {
  background-color: var(--spectrum-statuslight-dot-color-label-yellow);
}

.spectrum-StatusLight--fuchsia::before {
  background-color: var(--spectrum-statuslight-dot-color-label-fuchsia);
}

.spectrum-StatusLight--indigo::before {
  background-color: var(--spectrum-statuslight-dot-color-label-indigo);
}

.spectrum-StatusLight--seafoam::before {
  background-color: var(--spectrum-statuslight-dot-color-label-seafoam);
}

.spectrum-StatusLight--chartreuse::before {
  background-color: var(--spectrum-statuslight-dot-color-label-chartreuse);
}

.spectrum-StatusLight--magenta::before {
  background-color: var(--spectrum-statuslight-dot-color-label-magenta);
}

.spectrum-StatusLight--purple::before {
  background-color: var(--spectrum-statuslight-dot-color-label-purple);
}
