:root {
  --spectrum-font-family-base: adobe-clean, Source Sans Pro, Helvetica, Arial, sans-serif;
  --spectrum-font-family-zh: adobe-clean-han-traditional, var(--spectrum-font-family-base);
  --spectrum-font-family-zhhans: adobe-clean-han-simplified-c, var(--spectrum-font-family-base);
  --spectrum-font-family-ko: adobe-clean-han-korean, var(--spectrum-font-family-base);
  --spectrum-font-family-ja: adobe-clean-han-japanese,  var(--spectrum-font-family-base);
  --spectrum-font-family-condensed: adobe-clean-condensed, var(--spectrum-font-family-base);
  --spectrum-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-text-body-line-height: var(--spectrum-alias-line-height-medium);

  --spectrum-text-size-text-label: var(--spectrum-label-text-size);
  --spectrum-line-height-text-label: var(--spectrum-label-text-line-height);
}
