/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */


/* @combine .spectrum.spectrum--legacy */

@import "./spectrum-two.css";

@container style(--system: legacy) {
	.spectrum-Swatch {
		--spectrum-swatch-border-color-opacity: 0.51;
		--spectrum-swatch-border-color: rgba(var(--spectrum-gray-900-rgb), var(--spectrum-swatch-border-color-opacity));
		--spectrum-swatch-border-color-light-opacity: 0.2;
		--spectrum-swatch-border-color-light: rgba(var(--spectrum-gray-900-rgb), var(--spectrum-swatch-border-color-light-opacity));

		--spectrum-swatch-inner-border-color-selected: var(--spectrum-gray-50);
	}
}
