/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@container style(--system: spectrum) {
	/* Swatch tokens */
	.spectrum-Swatch {
		/* Size */
		--spectrum-swatch-border-radius: var(--spectrum-corner-radius-100);
		--spectrum-swatch-focus-indicator-border-radius: var(--spectrum-corner-radius-200);
		--spectrum-swatch-border-thickness: var(--spectrum-border-width-100);
		--spectrum-swatch-border-thickness-selected: var(--spectrum-border-width-200);
		--spectrum-swatch-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
		--spectrum-swatch-focus-indicator-gap: var(--spectrum-focus-indicator-gap);

		/* Color */
		--spectrum-swatch-border-color-selected: var(--spectrum-gray-900);
		--spectrum-swatch-inner-border-color-selected: var(--spectrum-gray-25);
		--spectrum-swatch-disabled-icon-color: var(--spectrum-gray-25);
		--spectrum-swatch-dash-icon-color: var(--spectrum-gray-800);
		--spectrum-swatch-slash-icon-color: var(--spectrum-red-900);
		--spectrum-swatch-focus-indicator-color: var(--spectrum-focus-indicator-color);
	}

	.spectrum-Swatch,
	.spectrum-Swatch--sizeM {
		--spectrum-swatch-size: var(--spectrum-swatch-size-medium);
		--spectrum-swatch-disabled-icon-size: var(--spectrum-workflow-icon-size-100);
		--spectrum-swatch-slash-thickness: var(--spectrum-swatch-slash-thickness-medium);
	}

	.spectrum-Swatch--sizeXS {
		--spectrum-swatch-size: var(--spectrum-swatch-size-extra-small);
		--spectrum-swatch-disabled-icon-size: var(--spectrum-workflow-icon-size-50);
		--spectrum-swatch-slash-thickness: var(--spectrum-swatch-slash-thickness-extra-small);
	}

	.spectrum-Swatch--sizeS {
		--spectrum-swatch-size: var(--spectrum-swatch-size-small);
		--spectrum-swatch-disabled-icon-size: var(--spectrum-workflow-icon-size-75);
		--spectrum-swatch-slash-thickness: var(--spectrum-swatch-slash-thickness-small);
	}

	.spectrum-Swatch--sizeL {
		--spectrum-swatch-size: var(--spectrum-swatch-size-large);
		--spectrum-swatch-disabled-icon-size: var(--spectrum-workflow-icon-size-200);
		--spectrum-swatch-slash-thickness: var(--spectrum-swatch-slash-thickness-large);
	}
}
