doctype html
html(lang='en-US' dir="ltr").spectrum
  head
    title Getting started - Spectrum CSS

    include includes/dependencies.pug

  body

    .spectrum-Site

      include includes/header.pug

      .spectrum-Site-content

        include includes/sidebar.pug

        .spectrum-Site-mainContent

          .spectrum-Site-mainContainer
            .spectrum-Site-page.spectrum-Typography
              h1.spectrum-Heading.spectrum-Heading--sizeXXL.spectrum-Heading--serif Get started with Spectrum CSS

              p.spectrum-Body.spectrum-Body--sizeL We have a number of resources that outline how to set up Spectrum CSS for your project, as well as an introductory tutorial that’s a hands-on way to understand how our implementation works.

              header(id="resources")
                h2.spectrum-Heading.spectrum-Heading--sizeM
                  a(href="#resources").spectrum-BigSubtleLink Resources
                hr.spectrum-Divider.spectrum-Divider--large

              section
                p.spectrum-Body.spectrum-Body--sizeL If you're ready to jump in, here's how to set up Spectrum CSS on our GitHub:

                ul.spectrum-Body.spectrum-Body--sizeL
                  li
                    a.spectrum-Link.spectrum-Link--quiet(href="https://github.com/adobe/spectrum-css/blob/main/README.md") Full README
                  li
                    a.spectrum-Link.spectrum-Link--quiet(href="https://github.com/adobe/spectrum-css?tab=readme-ov-file#quick-start") Quick start
                  li
                    a.spectrum-Link.spectrum-Link--quiet(href="https://github.com/adobe/spectrum-css/blob/main/README.md#importing-ui-icons") Importing icons

                header(id="contribute")
                  h2.spectrum-Heading.spectrum-Heading--sizeM
                    a(href="#contribute").spectrum-BigSubtleLink Contribute to Spectrum CSS
                  hr.spectrum-Divider.spectrum-Divider--large

                p.spectrum-Body.spectrum-Body--sizeL We'd love for you to contribute to the Spectrum CSS project. Review the <a href="https://github.com/adobe/spectrum-css/blob/main/.github/CONTRIBUTING.md" class="spectrum-Link spectrum-Link--quiet" target="_blank">contribution guidelines on our GitHub</a> to get started.

          include includes/footer.pug

    include includes/pageBottom.pug
