doctype html
html(lang='en-US').spectrum.spectrum--light.spectrum--medium
  head
    title Getting Started - Spectrum CSS

    include includes/dependencies.pug

  body

    .spectrum-Site

      include includes/header.pug

      .spectrum-Site-content

        include includes/sidebar.pug

        .spectrum-Site-mainContainer
          .spectrum-Site-page
            h1.spectrum-Heading1 Getting Started
              p.spectrum-Body1 Content goes here!
              p.spectrum-Body2 And moar content!

    include includes/footer.pug
