doctype html
html(lang='en-US' dir="ltr").spectrum.spectrum--medium
  head
    title Halo Focus - Spectrum CSS

    include includes/dependencies.pug

    -
      var exampleDependencies = [
        'link',
        'toast',
        'tooltip',
        'coachmark',
        'dialog',
        'actionbutton',
        'button',
        'sidenav',
        'menu',
        'barloader',
        'inputgroup',
        'picker',
        'slider',
        'switch',
        'checkbox',
        'radio',
        'tags'
      ];

    each dep in exampleDependencies.filter(dep => dependencyOrder.indexOf(dep) === -1)
      link(rel='stylesheet', type='text/css', href='components/' + dep + '/index-vars.css', data-dependency=dep)

    style(type="text/css").
      .a-container {
        background-image: url(img/art_bk.jpg);
        background-position: center center;
        background-size: cover;
        height: 100%;
      }
      .a-overlay {
        box-sizing: border-box;
        min-height: 80px;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
      .a-overlay > * {
        margin: 0 10px !important;
      }
      .a-overlay.spectrum--dark,
      .a-overlay.spectrum--light {
        color: var(--spectrum-alias-background-color-default);
      }
      .a-overlay--dark {
        background-color: rgba(21, 21, 21, 0.8);
        color: rgba(21, 21, 21, 0.8);
      }
      .a-overlay--light {
        background-color: rgba(225, 225, 225, 0.8);
        color: rgba(225, 225, 225, 0.8);
      }
      .a-overlay--mid {
        background-color: rgba(100, 100, 100, 0.8);
        color: rgba(100, 100, 100, 0.8);
      }

  body

    div.a-container
      div.a-overlay.spectrum.spectrum--dark
        include templates/halo-focus.pug

      div.a-overlay.a-overlay--dark.spectrum--dark
        include templates/halo-focus.pug

      div.a-overlay.a-overlay--mid.spectrum--dark
        include templates/halo-focus.pug

      div.a-overlay.spectrum--dark
        include templates/halo-focus.pug

      div.a-overlay.spectrum--light
        include templates/halo-focus.pug

      div.a-overlay.a-overlay--mid.spectrum--light
        include templates/halo-focus.pug

      div.a-overlay.a-overlay--light.spectrum--light
        include templates/halo-focus.pug

      div.a-overlay.spectrum.spectrum--light
        include templates/halo-focus.pug
