doctype html
html(lang='en-US' dir="ltr").spectrum.spectrum--light.spectrum--medium
  head
    title Spectrum CSS

    include includes/dependencies.pug

  body

    .spectrum-Site

      include includes/header.pug

      .spectrum-Site-content

        include includes/sidebar.pug

        .spectrum-Site-mainContainer
          .spectrum-Site-page
            .spectrum-Site-hero
              .spectrum-Site-heroHeading
                h1.spectrum-Heading.spectrum-Heading--XXXL.spectrum-Heading--serif Meet Spectrum CSS
              p.spectrum-Body.spectrum-Body--XL The CSS implementation of Adobe’s design system.
              img.spectrum-Site-heroImage(src='img/spectrum_illustration_2x.png', alt='Spectrum Illustration')

            include includes/footer.pug

    include includes/pageBottom.pug
