doctype html
html(lang='en-US' dir="ltr").spectrum
  head
    title Spectrum CSS

    include includes/dependencies.pug

  body

    .spectrum-Site

      include includes/header.pug

      .spectrum-Site-content

        include includes/sidebar.pug

        .spectrum-Site-mainContent

          .spectrum-Site-mainContainer
            .spectrum-Site-page.spectrum-Typography
              .spectrum-Site-hero
                .spectrum-Site-heroHeading
                  h1.spectrum-Heading.spectrum-Heading--sizeXXXL.spectrum-Heading--serif Spectrum CSS
                p.spectrum-Body.spectrum-Body--sizeXL Spectrum CSS is an open-source implementation of Spectrum, Adobe’s design system. It includes components and resources to make applications more cohesive.
                img(alt="Spectrum CSS Hero image" src="img/spectrum-css_illustration_desktop@2x.png?w=976&amp;h=446" srcset="img/spectrum-css_illustration_desktop@2x.png 2x").spectrum-Site-heroImage

                .spectrum-HomeCards
                  .spectrum-HomeCard
                    img.spectrum-HomeCard-image(src="img/illustration_documentation.svg" alt="Documentation illustation")
                    .spectrum-HomeCard-content
                      h4.spectrum-Heading.spectrum-Heading--sizeS Robust documentation
                      p.spectrum-Body.spectrum-Body--sizeM Spectrum CSS is designed to be used in partnership with Spectrum’s detailed usage guidelines.
                      p.spectrum-Body.spectrum-Body--sizeM
                        a.spectrum-Link.spectrum-Link--quiet(href="https://spectrum.adobe.com/" target="_blank") View Spectrum guidelines

                  .spectrum-HomeCard
                    img.spectrum-HomeCard-image(src="img/illustration_flexible.svg" alt="Flexible illustation")
                    .spectrum-HomeCard-content
                      h4.spectrum-Heading.spectrum-Heading--sizeS Flexible
                      p.spectrum-Body.spectrum-Body--sizeM Our CSS is customizable, powerful, and designed to work with any JavaScript framework.
                      p.spectrum-Body.spectrum-Body--sizeM
                        a.spectrum-Link.spectrum-Link--quiet(href="get-started.html") Get started

                  .spectrum-HomeCard
                    img.spectrum-HomeCard-image(src="img/illustration_tested.svg" alt="Tested illustation")
                    .spectrum-HomeCard-content
                      h4.spectrum-Heading.spectrum-Heading--sizeS Rigorously tested
                      p.spectrum-Body.spectrum-Body--sizeM These individually-versioned components have been vetted to be accessible and inclusive of global audiences.

                  .spectrum-HomeCard
                    img.spectrum-HomeCard-image(src="img/illustration_responsive.svg" alt="Responsove illustation")
                    .spectrum-HomeCard-content
                      h4.spectrum-Heading.spectrum-Heading--sizeS Multi-platform support
                        p.spectrum-Body.spectrum-Body--sizeM We support evergreen browsers (minus one version) for scalability and flexibility.

          include includes/footer.pug

    include includes/pageBottom.pug
