doctype html
html(lang='en-US').spectrum.spectrum--light.spectrum--medium
  head
    title Spectrum CSS

    include includes/dependencies.pug

  body

    .spectrum-Site

      include includes/header.pug

      .spectrum-Site-content

        include includes/sidebar.pug

        .spectrum-Site-mainContainer
          .spectrum-Site-page
            .spectrum-Site-hero
              .spectrum-Article.spectrum-Site-heroHeading
                h1.spectrum-Heading1--display Meet Spectrum CSS, Adobe's design system in CSS
              p.spectrum-Body1 That's right, there's CSS for all those pretty components.
              img.spectrum-Site-heroImage(src='img/spectrum_illustration_2x.png', alt='Spectrum Illustration')

    include includes/footer.pug
