doctype html
html(lang='en-US' dir="ltr").spectrum.spectrum--light.spectrum--medium
  head
    title Truncation - Spectrum CSS

    include includes/dependencies.pug

    -
      var exampleDependencies = [
        'button',
        'quickaction',
        'tags',
        'tabs',
        'inputgroup',
        'dropdown',
        'textfield'
      ];

    each dep in exampleDependencies.filter(dep => dependencyOrder.indexOf(dep) === -1)
      link(rel='stylesheet', type='text/css', href='../components/' + dep + '/index-vars.css', data-dependency=dep)

  body

    .spectrum-Site

      include includes/header.pug

      .spectrum-Site-content

        include includes/sidebar.pug

        .spectrum-Site-mainContainer
          .spectrum-Site-page.spectrum-Typography

            h1.spectrum-Heading.spectrum-Heading--XL A study of truncation across a number of components

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S Action Button (truncated)
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <button class="spectrum-ActionButton" style="width: 128px">
                    <span class="spectrum-ActionButton-label">Pr채ferenzen Verwalten</span>
                  </button>

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S Action Button with Icon (truncated)
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <button class="spectrum-ActionButton" style="width: 128px">
                    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Settings">
                      <use xlink:href="#spectrum-icon-18-Settings" />
                    </svg>
                    <span class="spectrum-ActionButton-label">Pr채ferenzen Verwalten</span>
                  </button>

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S Action Button (truncated)
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <button class="spectrum-ActionButton spectrum-ActionButton--quiet" style="width: 128px">
                    <span class="spectrum-ActionButton-label">Pr채ferenzen Verwalten</span>
                  </button>

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S Action Button with Icon (truncated)
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <button class="spectrum-ActionButton spectrum-ActionButton--quiet" style="width: 128px">
                    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Settings">
                      <use xlink:href="#spectrum-icon-18-Settings" />
                    </svg>
                    <span class="spectrum-ActionButton-label">Pr채ferenzen Verwalten</span>
                  </button>

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S Quick Actions (truncated)
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <div class="spectrum-QuickActions-overlay" style="padding: 40px;">
                    <div class="spectrum-QuickActions is-open" style="width: 150px;">
                      <button class="spectrum-ActionButton spectrum-ActionButton--quiet">
                        <span class="spectrum-ActionButton-label">Bearbeitenslkdasjhkdfadsfa</span>
                      </button>
                      <button class="spectrum-ActionButton spectrum-ActionButton--quiet">
                        <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="More">
                          <use xlink:href="#spectrum-icon-18-More" />
                        </svg>
                      </button>
                    </div>
                  </div>

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S Tag (truncated)
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <div class="spectrum-Tags-item" role="listitem" tabindex="0" style="width: 168px;">
                    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="GraphPie">
                      <use xlink:href="#spectrum-icon-18-GraphPie"></use>
                    </svg>
                    <span class="spectrum-Tags-itemLabel">Apathorn Rungratsamentagfslkjd</span>
                  </div>

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S Tabs (truncated)
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <div class="spectrum-Tabs spectrum-Tabs--horizontal" style="width: 212px">
                    <div class="spectrum-Dropdown spectrum-Dropdown--quiet">
                      <button class="spectrum-FieldButton spectrum-FieldButton--quiet spectrum-Dropdown-trigger is-selected" aria-haspopup="true">
                        <span class="spectrum-Dropdown-label">A comparative study of artificial intelligence as applied to choosing outfits for small dogs</span>
                        <svg class="spectrum-Icon spectrum-UIIcon-ChevronDownMedium spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
                          <use xlink:href="#spectrum-css-icon-ChevronDownMedium" />
                        </svg>
                      </button>
                    </div>
                    <div class="spectrum-Tabs-selectionIndicator" style="left: 8px; right: 8px;"></div>
                  </div>

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S Combobox (truncated)
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <div class="spectrum-InputGroup">
                    <input type="text" placeholder="Type here" name="field" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit" class="spectrum-Textfield spectrum-InputGroup-field">
                    <button class="spectrum-FieldButton spectrum-InputGroup-button" aria-haspopup="true">
                      <svg class="spectrum-Icon spectrum-UIIcon-ChevronDownMedium spectrum-InputGroup-icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#spectrum-css-icon-ChevronDownMedium" />
                      </svg>
                    </button>
                  </div>

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S Dropdown (truncated)
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <div class="spectrum-Dropdown" style="width: 240px;">
                    <button class="spectrum-FieldButton spectrum-Dropdown-trigger" aria-haspopup="true">
                      <span class="spectrum-Dropdown-label is-placeholder">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                      <svg class="spectrum-Icon spectrum-UIIcon-ChevronDownMedium spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#spectrum-css-icon-ChevronDownMedium" />
                      </svg>
                    </button>
                  </div>

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S Textfield (truncated)
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <input type="text" placeholder="Enter your name" name="field" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit" class="spectrum-Textfield">

            include includes/footer.pug

    include includes/pageBottom.pug
