doctype html
html(lang='en-US' dir="ltr").spectrum.spectrum--light.spectrum--medium
  head
    title New UI Icons - Spectrum CSS

    include includes/dependencies.pug

    -
      var exampleDependencies = [
        'checkbox',
        'table'
      ];

    each dep in exampleDependencies.filter(dep => dependencyOrder.indexOf(dep) === -1)
      link(rel='stylesheet', type='text/css', href='../components/' + dep + '/index-vars.css', data-dependency=dep)

  body

    .spectrum-Site

      include includes/header.pug

      .spectrum-Site-content

        include includes/sidebar.pug

        .spectrum-Site-mainContainer
          .spectrum-Site-page.spectrum-Typography

            h1.spectrum-Heading.spectrum-Heading--XL Protoype New UI Icons

            article.spectrum-CSSExample
              h5.spectrum-CSSExample-heading.spectrum-Heading.spectrum-Heading--S UI Icons
              section.spectrum-CSSExample-container
                .spectrum-CSSExample-example
                  <div class="spectrum-Table" role="grid">
                    <div class="spectrum-Table-head" style="display: flex" role="row">
                      <div class="spectrum-Table-headCell" style="flex: 1" role="columnheader" tabindex="0">
                        Column Existing Icon Name
                      </div>
                      <div class="spectrum-Table-headCell" style="flex: 1" role="columnheader" tabindex="0">
                        Column Existing Icon
                      </div>
                      <div class="spectrum-Table-headCell" style="flex: 1" role="columnheader" tabindex="0">
                        Column New Icon Name
                      </div>
                      <div class="spectrum-Table-headCell" style="flex: 1" role="columnheader" tabindex="0">
                        Column New Icon
                      </div>
                    </div>
                    <div class="spectrum-Table-body" role="rowgroup">
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ArrowDownSmall</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ArrowDownSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ArrowDownSmall" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Arrow100</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow75" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-ArrowDownSmallNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Arrow100" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow300" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-225); height: var(--spectrum-global-dimension-size-225); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ArrowLeftMedium</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ArrowLeftMedium" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ArrowLeftMedium" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Arrow300</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow75" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow100" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow200" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-ArrowLeftMediumNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Arrow300" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-225); height: var(--spectrum-global-dimension-size-225); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ArrowUpSmall</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ArrowDownSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ArrowUpSmall" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Arrow100</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125); transform: rotate(-90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow75" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-ArrowUpSmallNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Arrow100" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150); transform: rotate(-90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175); transform: rotate(-90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow300" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-225); height: var(--spectrum-global-dimension-size-225); transform: rotate(-90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Arrow500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">AlertMedium</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-AlertMedium" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-AlertMedium" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">AlertSmall</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-AlertSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-AlertSmall" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Asterisk</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-Asterisk" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Asterisk" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Asterisk100</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-100); height: var(--spectrum-global-dimension-size-100);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Asterisk75" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-AsteriskNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Asterisk100" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Asterisk200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Asterisk300" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">CheckmarkMedium</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-CheckmarkMedium" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-CheckmarkMedium" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Checkmark100</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Checkmark50" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Checkmark75" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-CheckmarkMediumNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Checkmark100" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Checkmark200" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">CheckmarkSmall</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-CheckmarkSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-CheckmarkSmall" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Checkmark50, 75, 100, 200</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Checkmark50" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-CheckmarkSmallNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Checkmark75" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Checkmark100" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Checkmark200" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ChevronDownMedium</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronDownMedium" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ChevronDownMedium" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Chevron100</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron75" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronDownMediumNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Chevron100" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron300" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-200); height: var(--spectrum-global-dimension-size-200); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ChevronDownSmall</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronDownSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ChevronDownSmall" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Chevron75</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronDownSmallNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Chevron75" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron100" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron300" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-200); height: var(--spectrum-global-dimension-size-200); transform: rotate(90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ChevronLeftMedium</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronLeftMedium" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ChevronLeftMedium" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Chevron100</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron75" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronLeftMediumNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Chevron100" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron300" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-200); height: var(--spectrum-global-dimension-size-200); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ChevronLeftLarge</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronLeftLarge" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ChevronLeftLarge" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Chevron500</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron75" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron100" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175); transform: rotate(180deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron300" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronLeftLargeNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Chevron500" />
                          </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ChevronRightSmall</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronRightSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ChevronRightSmall" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Chevron75</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronRightSmallNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Chevron75" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron100" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron300" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-200); height: var(--spectrum-global-dimension-size-200)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ChevronRightMedium</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronRightMedium" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ChevronRightMedium" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Chevron100</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron75" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronRightMediumNew"  focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Chevron100" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron300" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-200); height: var(--spectrum-global-dimension-size-200)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ChevronRightLarge</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronRightLarge" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ChevronRightLarge" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Chevron500</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron75" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron100" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron300" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronRightLargeNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Chevron500" />
                          </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">ChevronUpSmall</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronUpSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-ChevronUpSmall" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Chevron75</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-ChevronUpSmallNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Chevron75" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125); transform: rotate(-90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron100" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150); transform: rotate(-90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175); transform: rotate(-90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron300" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-200); height: var(--spectrum-global-dimension-size-200); transform: rotate(-90deg)" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Chevron500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">CornerTriangle</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-CornerTriangle" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-CornerTriangle" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">CornerTriangle100</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-65); height: var(--spectrum-global-dimension-size-65);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-CornerTriangle75" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-CornerTriangleNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-CornerTriangle100" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-75); height: var(--spectrum-global-dimension-size-75);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-CornerTriangle200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-85); height: var(--spectrum-global-dimension-size-85);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-CornerTriangle300" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">CrossSmall</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-CrossSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-CrossSmall" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Cross75</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-CrossSmallNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Cross75" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-100); height: var(--spectrum-global-dimension-size-100);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross100" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross300" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">CrossMedium</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-CrossMedium" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-CrossMedium" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Cross75, 100, 200, 300, 500</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-100); height: var(--spectrum-global-dimension-size-100);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross75" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-CrossMediumNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Cross100" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross300" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross500" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">CrossLarge</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-CrossLarge" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-CrossLarge" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Cross75, 100, 200, 300, 500</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-100); height: var(--spectrum-global-dimension-size-100);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross75" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-100); height: var(--spectrum-global-dimension-size-100);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross100" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross200" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Cross300" />
                          //- </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-CrossLargeNew" style="width: var(--spectrum-global-dimension-size-175); height: var(--spectrum-global-dimension-size-175);" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Cross500" />
                          </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">DashSmall</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-DashSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-DashSmall" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Dash50</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-DashSmallNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Dash50" />
                          </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-100); height: var(--spectrum-global-dimension-size-100);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Dash75" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-125); height: var(--spectrum-global-dimension-size-125);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Dash100" />
                          //- </svg>
                          //- <svg class="spectrum-Icon" style="width: var(--spectrum-global-dimension-size-150); height: var(--spectrum-global-dimension-size-150);" focusable="false" aria-hidden="true">
                          //-   <use xlink:href="#spectrum-css-icon-Dash200" />
                          //- </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">DoubleGripper</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-DoubleGripper" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-DoubleGripper" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">DoubleGripperNew</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-DoubleGripperNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-DoubleGripperNew" />
                          </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">FolderBreadcrumb</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-FolderBreadcrumb" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-FolderBreadcrumb" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">HelpSmall/HelpMedium</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-HelpSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-HelpSmall" />
                          </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-HelpMedium" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-HelpMedium" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">InfoSmall/InfoMedium</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-InfoSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-InfoSmall" />
                          </svg>
                          <svg class="spectrum-Icon spectrum-UIIcon-InfoMedium" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-InfoMedium" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Magnifier</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-Magnifier" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-Magnifier" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      //- <div class="spectrum-Table-row" style="display: flex" role="row">
                      //-   <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">More</div>
                      //-   <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                      //-     <svg class="spectrum-Icon spectrum-UIIcon-More" focusable="false" aria-hidden="true">
                      //-       <use xlink:href="#spectrum-css-icon-More" />
                      //-     </svg>
                      //-   </div>
                      //-   <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      //-   <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      //- </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">SingleGripper</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-SingleGripper" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-SingleGripper" />
                          </svg>
                        </div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">SkipRight</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-SkipRight" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-SkipRight" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">SkipLeft</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-SkipLeft" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-SkipLeft" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      //- <div class="spectrum-Table-row" style="display: flex" role="row">
                      //-   <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">Start</div>
                      //-   <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                      //-     <svg class="spectrum-Icon spectrum-UIIcon-Start" focusable="false" aria-hidden="true">
                      //-       <use xlink:href="#spectrum-css-icon-Start" />
                      //-     </svg>
                      //-   </div>
                      //-   <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      //-   <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      //- </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">StarOutline</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-StarOutline" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-StarOutline" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">SuccessSmall</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-SuccessSmall" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-SuccessSmall" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">SuccessMedium</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-SuccessMedium" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-SuccessMedium" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">N/A</div>
                      </div>
                      <div class="spectrum-Table-row" style="display: flex" role="row">
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">TripleGripper</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-TripleGripper" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-TripleGripper" />
                          </svg>
                        </div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">TripleGripperNew</div>
                        <div class="spectrum-Table-cell" style="flex: 1" role="gridcell" tabindex="0">
                          <svg class="spectrum-Icon spectrum-UIIcon-TripleGripperNew" focusable="false" aria-hidden="true">
                            <use xlink:href="#spectrum-css-icon-TripleGripperNew" />
                          </svg>
                        </div>
                      </div>
                    </div>

            include includes/footer.pug

    include includes/pageBottom.pug
