$spectrum-Icon-xxs-size = 9px
$spectrum-Icon-xs-size = 12px
$spectrum-Icon-s-size = 18px
$spectrum-Icon-m-size = 24px
$spectrum-Icon-l-size = 36px
$spectrum-Icon-xl-size = 48px
$spectrum-Icon-xxl-size = 72px
