@import '../commons/index.css';

.spectrum-SideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  width: var(--spectrum-sidenav-width);
}

.spectrum-SideNav-item {
  list-style-type: none;

  margin: var(--spectrum-sidenav-item-gap) 0;
}

.spectrum-SideNav-itemLink {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  width: 100%;
  height: var(--spectrum-sidenav-item-height);

  padding: 0 var(--spectrum-sidenav-item-padding-x);

  border-radius: var(--spectrum-sidenav-item-border-radius);

  font-size: var(--spectrum-sidenav-item-text-size);
  font-weight: var(--spectrum-sidenav-item-font-weight);
  font-style: normal;
  text-decoration: none;
  line-height: var(--spectrum-sidenav-item-height);

  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus-ring::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: var(--spectrum-tabs-focus-ring-size) solid transparent;
    border-radius: var(--spectrum-sidenav-item-border-radius);
  }
}


/* topdoc
{{ sidenav/sidenav-heading.yml }}
*/
.spectrum-SideNav-heading {
  height: var(--spectrum-sidenav-header-height);
  line-height: var(--spectrum-sidenav-header-height);

  margin: var(--spectrum-sidenav-header-gap-top) 0 var(--spectrum-sidenav-header-gap-bottom) 0;
  padding: 0 var(--spectrum-sidenav-header-padding-x);

  border-radius: var(--spectrum-sidenav-header-border-radius);

  font-size: var(--spectrum-sidenav-header-text-size);
  font-weight: var(--spectrum-sidenav-header-font-weight);
  font-style: normal;
  letter-spacing: var(--spectrum-sidenav-header-letter-spacing);

  text-transform: uppercase;
}

.spectrum-SideNav--multiLevel {
  .spectrum-SideNav-itemLink {
    font-weight: var(--spectrum-sidenav-multilevel-main-item-font-weight);
  }

  .spectrum-SideNav {
    margin: 0;
    padding: 0;

    .spectrum-SideNav-itemLink {
      font-weight: var(--spectrum-sidenav-item-font-weight);

      padding-left: calc(var(--spectrum-sidenav-multilevel-item-indentation-level1) + var(--spectrum-sidenav-item-padding-x));
    }

    .spectrum-SideNav {
      .spectrum-SideNav-itemLink {
        padding-left: calc(var(--spectrum-sidenav-multilevel-item-indentation-level2) + var(--spectrum-sidenav-item-padding-x));
      }
    }
  }
}
