@import '../commons/index.css';

:root {
  /* hardcoded cause Nate said so */
  --spectrum-dropdown-label-min-width: 144px;
}

/* topdoc
{{ dropdown/dropdown-default.yml }}
*/
.spectrum-Dropdown {
  position: relative;
  display: inline-block;

  .spectrum-Popover {
    top: 100%;
    min-width: 100%;
    margin-top: var(--spectrum-dropdown-flyout-menu-offset-y);

    overflow-y: auto;
  }
}


.spectrum-Dropdown-trigger {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spectrum-Dropdown-label {
  /* Be the biggest! */
  flex: 1;

  min-width: var(--spectrum-dropdown-label-min-width);

  white-space: nowrap;
  overflow: hidden;

  height: calc(var(--spectrum-dropdown-height) - calc(var(--spectrum-dropdown-border-size) * 2));
  line-height: calc(var(--spectrum-dropdown-height) - calc(var(--spectrum-dropdown-border-size) * 2));

  font-size: var(--spectrum-dropdown-text-size);

  text-overflow: ellipsis;
  text-align: left;

  &.is-placeholder {
    font-weight: var(--spectrum-dropdown-placeholder-text-font-weight);
    font-style: var(--spectrum-dropdown-placeholder-text-font-style);
    transition: color var(--spectrum-transition-time) ease-in-out;
  }
}

.spectrum-Dropdown--quiet {
  .spectrum-Popover {
    min-width: 0;
    margin-top: var(--spectrum-dropdown-quiet-flyout-menu-offset-y);
    left: calc(-1 * var(--spectrum-dropdown-padding-x));
  }

  .spectrum-Dropdown-label {
    /* Don't enforce minimum width for quiet dropdowns */
    min-width: 0;
  }
}

/* Only apply margin to the icon if there's a label */
.spectrum-Dropdown-label + .spectrum-Dropdown-icon {
  margin-left: var(--spectrum-dropdown-icon-margin-left);
}
/* Only apply margin if there's a label */
.spectrum-Dropdown-label ~ .spectrum-Dropdown-icon {
  margin-left: var(--spectrum-dropdown-icon-margin-left);
}

.spectrum-Dropdown-icon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  transition: color var(--spectrum-transition-time) ease-out;

  opacity: 1;
}

/* Error icons */
.spectrum-Dropdown {
  .spectrum-Icon:not(.spectrum-Dropdown-icon) {
    margin-left: var(--spectrum-dropdown-icon-margin-left);
  }
}

.spectrum-Icon + .spectrum-Dropdown-icon {
  margin-left: var(--spectrum-dropdown-icon-gap);
}

/* topdoc
{{ dropdown/dropdown-quiet.yml }}
*/
.spectrum-Dropdown--quiet {
  min-width: 0;

  .spectrum-Dropdown-trigger {
    width: auto;
  }
}
