@import '../commons/index.css';

:root {
  --spectrum-dropdown-popover-max-width: var(--spectrum-global-dimension-size-3000);
  --spectrum-dropdown-width: var(--spectrum-global-dimension-size-2400);
}

/* topdoc
{{ dropdown/dropdown.yml }}
*/
.spectrum-Dropdown {
  position: relative;
  display: inline-block;

  /* Truncate if menu options make us too wide */
  max-width: 100%;
  width: var(--spectrum-dropdown-width);
  min-width: var(--spectrum-dropdown-min-width);

  /* Hack to enable select-powered Dropdowns */
  select {
    appearance: none;

    & + .spectrum-Dropdown-icon {
      position: absolute;
      right: var(--spectrum-dropdown-padding-x);
      top: 50%;
      margin-top: calc(var(--spectrum-icon-chevron-down-medium-height) / -2);
    }
  }
}

.spectrum-Dropdown-trigger {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spectrum-Dropdown-label {
  /* Be the biggest! */
  flex: 1;

  white-space: nowrap;
  overflow: hidden;

  height: calc(var(--spectrum-dropdown-height) - calc(var(--spectrum-dropdown-border-size) * 2));
  line-height: calc(var(--spectrum-dropdown-height) - calc(var(--spectrum-dropdown-border-size) * 2));

  font-size: var(--spectrum-dropdown-text-size);

  text-overflow: ellipsis;
  text-align: left;

  &.is-placeholder {
    font-weight: var(--spectrum-dropdown-placeholder-text-font-weight);
    font-style: var(--spectrum-dropdown-placeholder-text-font-style);
    transition: color var(--spectrum-transition-time) ease-in-out;
  }
}

/* Only apply margin to the icon if there's a label */
.spectrum-Dropdown-label + .spectrum-Dropdown-icon {
  margin-left: var(--spectrum-dropdown-icon-margin-left);
}

.spectrum-Icon + .spectrum-Dropdown-label {
  margin-left: var(--spectrum-selectlist-thumbnail-image-padding-x);
}

/* Only apply margin if there's a label */
.spectrum-Dropdown-label ~ .spectrum-Dropdown-icon {
  margin-left: var(--spectrum-dropdown-icon-margin-left);
}

.spectrum-Dropdown-icon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  transition: color var(--spectrum-transition-time) ease-out;

  opacity: 1;
}

/* Error icons */
.spectrum-Dropdown {
  .spectrum-Dropdown-label + .spectrum-Icon:not(.spectrum-Dropdown-icon) {
    margin-left: var(--spectrum-dropdown-icon-margin-left);
  }
}

.spectrum-Icon + .spectrum-Dropdown-icon {
  margin-left: var(--spectrum-dropdown-icon-gap);
}

/* topdoc
{{ dropdown/dropdown-quiet.yml }}
*/
.spectrum-Dropdown--quiet {
  width: auto;
  min-width: var(--spectrum-dropdown-quiet-min-width);
}

.spectrum-Dropdown-popover {
  max-width: var(--spectrum-dropdown-popover-max-width);
}
