/*!
Copyright 2025 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-AppFrameSideNav {
	--spectrum-app-side-nav-min-inline-size: var(--spectrum-app-side-nav-min-inline-size-expanded);
	--spectrum-app-side-nav-max-inline-size: 240px;
	--spectrum-app-side-nav-padding-inline: var(--spectrum-spacing-200);
	--spectrum-app-side-nav-padding-block-start: var(--spectrum-spacing-300);
	--spectrum-app-side-nav-padding-block-end: var(--spectrum-spacing-200);
	--spectrum-app-side-nav-item-gap: var(--spectrum-spacing-100);
	--spectrum-app-side-nav-top-button-to-items: var(--spectrum-spacing-300);
	--spectrum-app-side-nav-label-padding-block: var(--spectrum-component-top-to-text-100) var(--spectrum-spacing-100);
	--spectrum-app-side-nav-label-padding-inline-start: 6px;
	--spectrum-app-side-nav-label-padding-inline-end: var(--spectrum-spacing-100);
	--spectrum-app-side-nav-expand-button-spacing-block-start: var(--spectrum-spacing-300);

	--spectrum-app-side-nav-line-height: var(--spectrum-line-height-100);
	--spectrum-app-side-nav-font-family: var(--spectrum-sans-font-family-stack);
	--spectrum-app-side-nav-font-weight: var(--spectrum-medium-font-weight);
	--spectrum-app-side-nav-font-style: var(--spectrum-default-font-style);
	--spectrum-app-side-nav-font-size: var(--spectrum-font-size-100);

	--spectrum-app-side-nav-content-color: var(--spectrum-neutral-content-color-default);
	--spectrum-app-side-nav-icon-color: var(--spectrum-neutral-subdued-content-color-default);
	--spectrum-app-side-nav-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--spectrum-app-side-nav-icon-background-default: transparent;

	--spectrum-app-side-nav-icon-indicator-color: var(--spectrum-app-side-nav-icon-color);
	--spectrum-app-side-nav-icon-indicator-color-current: var(--spectrum-app-side-nav-content-color);
	--spectrum-app-side-nav-icon-indicator-color-hover: var(--spectrum-gray-400);
	--spectrum-app-side-nav-icon-indicator-inline-size: 2px;
	--spectrum-app-side-nav-icon-indicator-block-size: 18px;
	--spectrum-app-side-nav-expand-icon-color: var(--spectrum-gray-600);

	--spectrum-app-side-nav-divider-block-size: var(--spectrum-border-width-200);
	--spectrum-app-side-nav-divider-color: var(--spectrum-gray-300);

	&:lang(ja),
	&:lang(zh),
	&:lang(ko) {
		--spectrum-app-side-nav-line-height: var(--spectrum-cjk-line-height-100);
	}

	&.spectrum-AppFrameSideNav--minimized {
		--spectrum-app-side-nav-min-inline-size: var(--spectrum-app-side-nav-min-inline-size-minimized);
	}

	.spectrum-AppFrameSideNav-list-item-link {
		&:hover {
			--spectrum-app-side-nav-icon-indicator-color: var(--spectrum-app-side-nav-icon-indicator-color-hover);
		}
	}

	/* passthroughs for expand button action button */
	--mod-actionbutton-content-color-default: var(--spectrum-app-side-nav-expand-icon-color);
	--mod-actionbutton-background-color-hover: transparent;
	--mod-actionbutton-background-color-down: transparent;
	--mod-actionbutton-background-color-focus: transparent;

	/* passthroughs for tooltip */
	--mod-tooltip-animation-distance: -4px; /* accounts for icon spacing */

	/* end passthroughs */
}

.spectrum-AppFrameSideNav {
	--_spectrum-app-side-nav-icon-background: var(--spectrum-app-side-nav-icon-background-default);
	--_spectrum-app-side-nav-icon-color: var(--spectrum-app-side-nav-icon-color);

	box-sizing: border-box;
	margin: 0;
	padding-block: var(--spectrum-app-side-nav-padding-block-start) var(--spectrum-app-side-nav-padding-block-end);
	padding-inline: var(--spectrum-app-side-nav-padding-inline);
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	min-inline-size: var(--spectrum-app-side-nav-min-inline-size);
	max-inline-size: var(--spectrum-app-side-nav-max-inline-size);
}

.spectrum-AppFrameSideNav-divider {
	block-size: var(--spectrum-app-side-nav-divider-block-size);
	background: var(--spectrum-app-side-nav-divider-color);
	inline-size: 100%;

	& + .spectrum-AppFrameSideNav-list {
		margin-block: calc(var(--spectrum-app-side-nav-top-button-to-items) - var(--spectrum-component-top-to-text-100));
	}
}

/* Optional button at the top of the side nav */
.spectrum-AppFrameSideNav .spectrum-AppFrameSideNav-button {
	margin-block-end: var(--spectrum-app-side-nav-top-button-to-items);
}

/* Expand/collapse button at the bottom of the side nav */
.spectrum-AppFrameSideNav-expand-button {
	margin-block-start: var(--spectrum-app-side-nav-expand-button-spacing-block-start);
	color: var(--spectrum-app-side-nav-expand-icon-color);
}

.spectrum-AppFrameSideNav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: var(--spectrum-app-side-nav-item-gap);
	line-height: var(--spectrum-app-side-nav-line-height);

	color: var(--spectrum-app-side-nav-content-color);
	font-family: var(--spectrum-app-side-nav-font-family);
	font-weight: var(--spectrum-app-side-nav-font-weight);
	font-style: var(--spectrum-app-side-nav-font-style);
	font-size: var(--spectrum-app-side-nav-font-size);

	&.spectrum-AppFrameSideNav-list {
		margin-block-end: var(--spectrum-app-side-nav-item-gap);
	}
}

.spectrum-AppFrameSideNav-list-item {
	display: block;

	&[data-tier="0"] {
		position: relative;

		.spectrum-AppFrameSideNav-list-item-disclosureIcon {
			transform: rotate(90deg);
			padding-block-end: calc(var(--spectrum-app-side-nav-padding-inline) / 2);
			padding-inline-start: var(--spectrum-app-side-nav-label-padding-inline-start);
		}
	}

	&[data-tier="1"] {
		margin-inline-start: var(--spectrum-app-side-nav-item-gap);
	}
}

/* Class to apply to the first nav item that should be aligned at the bottom (end section). Should only be applied to one item. */
.spectrum-AppFrameSideNav-list-item--endSectionStart {
	margin-block-start: auto;
}

.spectrum-AppFrameSideNav-list-item-icon {
	inline-size: var(--spectrum-component-height-100);
	block-size: var(--spectrum-component-height-100);
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	background: var(--_spectrum-app-side-nav-icon-background);
	color: var(--_spectrum-app-side-nav-icon-color);
}

.spectrum-AppFrameSideNav-list-item-link {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;

	text-decoration: none;
	outline: none;
	color: var(--spectrum-app-side-nav-content-color);

	position: relative;

	&:focus-visible {
		outline: 2px solid var(--spectrum-app-side-nav-focus-indicator-color);
		border-radius: var(--spectrum-corner-radius-medium-default);
		outline-offset: 2px;
	}

	/* Indicator line for hover and current item */
		&::before {
			position: absolute;
			content: "";
			inset-inline-start: calc(var(--spectrum-app-side-nav-icon-indicator-inline-size) * -1);
			block-size: var(--spectrum-app-side-nav-icon-indicator-block-size);
			inline-size: var(--spectrum-app-side-nav-icon-indicator-inline-size);
			background: transparent;
			border-radius: var(--spectrum-corner-radius-full);
	}

	&:hover {
		&::before {
			background: var(--spectrum-app-side-nav-icon-indicator-color);
		}
	}

	&:active {
		.spectrum-AppFrameSideNav-list-item-icon {
			transform: perspective(var(--spectrum-component-size-minimum-perspective-down)) translateZ(var(--spectrum-component-size-difference-down));
		}
	}

	.spectrum-AppFrameSideNav-list-item.spectrum-AppFrameSideNav-list-item--current & {
		--_spectrum-app-side-nav-icon-color: var(--spectrum-app-side-nav-icon-indicator-color-current);

		&::before {
			background: var(--spectrum-app-side-nav-icon-indicator-color-current);
		}
	}
}

.spectrum-AppFrameSideNav-list-item-label {
	padding-block: var(--spectrum-app-side-nav-label-padding-block);
	padding-inline: var(--spectrum-app-side-nav-label-padding-inline-start) var(--spectrum-app-side-nav-label-padding-inline-end);
}

.spectrum-AppFrameSideNav--minimized {
	.spectrum-AppFrameSideNav-list-item-label,
	.spectrum-AppFrameSideNav-list-item[data-tier="0"] .spectrum-AppFrameSideNav-list-item-link::after,
	.spectrum-AppFrameSideNav-list-item[data-tier="1"] {
		display: none;
	}
}
