meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='The CSS implementation of Adobe\'s Spectrum design system')
meta(charset = 'utf-8')
link(rel='icon', type='image/png', href='favicon.png')

link(rel='stylesheet', type='text/css', href='css/prisim/prism.css', data-prism)

link(rel='stylesheet', type='text/css', href='../components/vars/globals/spectrum-dimensionGlobals.css')
link(rel='stylesheet', type='text/css', href='../components/vars/globals/spectrum-fontGlobals.css')
link(rel='stylesheet', type='text/css', href='../components/vars/globals/spectrum-colorGlobals.css')
link(rel='stylesheet', type='text/css', href='../components/vars/globals/spectrum-animationGlobals.css')
link(rel='stylesheet', type='text/css', href='../components/vars/globals/spectrum-staticAliases.css')
link(rel='stylesheet', type='text/css', href='../components/vars/globals/spectrum-dimensionAliases.css')
link(rel='stylesheet', type='text/css', href='../components/vars/globals/spectrum-colorAliases.css')
link(rel='stylesheet', type='text/css', href='../components/vars/globals/spectrum-colorSemantics.css')

link(rel='stylesheet', type='text/css', href='../components/vars/spectrum-darkest.css')
link(rel='stylesheet', type='text/css', href='../components/vars/spectrum-lightest.css')
link(rel='stylesheet', type='text/css', href='../components/vars/spectrum-dark.css')
link(rel='stylesheet', type='text/css', href='../components/vars/spectrum-light.css')

link(rel='stylesheet', type='text/css', href='../components/vars/spectrum-medium.css')
link(rel='stylesheet', type='text/css', href='../components/vars/spectrum-large.css')

each dep in dependencyOrder.filter((dep) => dep != 'vars' )
  link(rel='stylesheet', type='text/css', href='../components/' + dep + '/vars.css', data-dependency=dep + '-vars')
  link(rel='stylesheet', type='text/css', href='../components/' + dep + '/index-vars.css', data-dependency=dep )

link(rel='stylesheet', type='text/css', href='css/site.css')
link(rel='stylesheet', type='text/css', href='css/docs.css')

script(src='js/loadicons/index.js')
script(src='js/focus-ring-polyfill/index.js')
script(src='js/lunr/lunr.js')
script(src='js/typekit.js')

script(src='js/SpectrumSwitcher.js')
script(src='js/Search.js')
script(src='js/site.js')
script(src='js/docs.js')
script(src='js/enhancement.js')
script(src='js/polyfills.js')
