meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='The CSS implementation of Adobe\'s Spectrum design system')
meta(charset = 'utf-8')
link(rel='icon', type='image/png', href='favicon.png')

link(rel='stylesheet', type='text/css', href='css/prism/prism.css', data-prism)

link(rel='stylesheet', type='text/css', href='dependencies/@spectrum-css/vars/spectrum-global.css')

link(rel='stylesheet', type='text/css', href='dependencies/@spectrum-css/vars/spectrum-darkest.css')
link(rel='stylesheet', type='text/css', href='dependencies/@spectrum-css/vars/spectrum-dark.css')
link(rel='stylesheet', type='text/css', href='dependencies/@spectrum-css/vars/spectrum-light.css')

link(rel='stylesheet', type='text/css', href='dependencies/@spectrum-css/vars/spectrum-medium.css')
link(rel='stylesheet', type='text/css', href='dependencies/@spectrum-css/vars/spectrum-large.css')

link(rel='stylesheet', type='text/css', href='components/tokens/index.css')

each dep in dependencyOrder.filter((dep) => dep != 'vars' )
  link(rel='stylesheet', type='text/css', href='components/' + dep + '/index-vars.css', data-dependency=dep )

link(rel='stylesheet', type='text/css', href='css/site.css')
link(rel='stylesheet', type='text/css', href='css/docs.css')

unless process.env.VRT
  link(rel="stylesheet", type="text/css", href="//wwwimages2.adobe.com/etc/beagle/public/globalnav/adobe-globalnav/latest/adobe-globalnav.min.css")

script(src='js/loadicons/index.js')
script(src='js/lunr/lunr.js')
script(src='js/typekit.js')

script(src='js/SpectrumSwitcher.js')
script(src='js/Search.js')
script(src='js/site.js')
script(src='js/docs.js')
script(src='js/enhancement.js')
script(src='js/polyfills.js')
