if example.description
  .spectrum-Typography
    section.spectrum-CSSExample-description.spectrum-Body.spectrum-Body--sizeM!= util.markdown.render(example.description)

if example.details
  .spectrum-Typography
    .section.spectrum-CSSExample-description.spectrum-Body.spectrum-Body--sizeM!= util.markdown.render(example.details)

if example.markup
  section.spectrum-CSSExample-container
    .spectrum-CSSExample-example(class=example.demoClassName ? `${example.demoClassName}` : '')!= example.markup
    .spectrum-CSSExample-markup
      if example.markup.split('\n').length > 2
        a.js-markup-toggle.spectrum-CSSExample-markupToggle.spectrum-Link(href="#") Show markup
      bdo(dir="ltr")
        pre.spectrum-Code.spectrum-Code--sizeXS
          code.language-markup!= util.Prism.highlight(example.markup, util.Prism.languages.markup, 'markup')
