article.spectrum-CSSExample
  h3.spectrum-CSSExample-heading.spectrum-Heading&[sizeS](id=example.slug)
    a(href=`#${example.slug}`).spectrum-CSSComponent-link
      =example.name
    div(class=`spectrum-StatusLight spectrum-StatusLight--sizeM spectrum-CSSExample-status spectrum-StatusLight--${util.getStatusLightVariant(example.status)}`)= example.status

  include exampleContent.pug
