hr.spectrum-Rule.spectrum-Rule--medium
.spectrum-Site-footer
  .spectrum-Site-footerContent.
  //-   For any questions or feedback, please contact us.
  .spectrum-Site-footerCopyright
    bdi.
      © Adobe. All rights reserved.
