unless process.env.VRT

  .spectrum-Site-footerContainer

    hr.spectrum-Divider&[small]

    div(id="footer_global")

    script(src="js/adobe-globalnav.js")
    script(src="//wwwimages2.adobe.com/etc/beagle/public/globalnav/adobe-globalnav/latest/adobe-globalnav.min.js")
