div.spectrum-Site-overlay#site-overlay

.spectrum-Site-header
  button.spectrum-ActionButton.spectrum-ActionButton--quiet(is-selected)#site-menu
    svg.spectrum-Icon.spectrum-Icon--sizeS(focusable='false',aria-hidden='true',aria-label='Show Menu')
      use(xlink:href='#spectrum-icon-18-ShowMenu')