header.spectrum-CSSComponent-sectionHeading(id=`${util.getSlug(section.name)}`)
  h2.spectrum-Heading&[sizeM]
    a(href=`#${util.getSlug(section.name)}`).spectrum-BigSubtleLink=`${section.name}`
  hr.spectrum-Divider&[large]

  -
    let example = section;
  include exampleContent.pug
