header.spectrum-CSSComponent-sectionHeading(id=`${getSlug(section.name)}`)
  h2.spectrum-Heading.spectrum-Heading--sizeM
    a(href=`#${getSlug(section.name)}`).spectrum-BigSubtleLink=`${section.name}`
  hr.spectrum-Divider.spectrum-Divider--large

  -
    let example = section;
  include exampleContent.pug
