unless process.env.VRT
  .spectrum-Site-sideBar#site-sidebar
    a.spectrum-Site-sideBarHeader(href='index.html')
      svg.spectrum-Site-logo.spectrum-Icon.spectrum-Icon--sizeXXL(viewBox="0 0 30 26" focusable="false" aria-hidden="true" aria-label="Adobe logo")
        polygon(points="19,0 30,0 30,26")
        polygon(points="11.1,0 0,0 0,26")
        polygon(points="15,9.6 22.1,26 17.5,26 15.4,20.8 10.2,20.8")
      h2.spectrum-Site-title.spectrum-Heading.spectrum-Heading--sizeM Spectrum CSS

    div#site-search

    include nav.pug
