.spectrum-Site-sideBar#site-sidebar
  a.spectrum-Site-sideBarHeader.js-fastLoad(href='index.html')
    svg.spectrum-Site-logo.spectrum-Icon.spectrum-Icon--sizeL(viewBox="0 0 30 30" focusable="false" aria-hidden="true" aria-label="Adobe logo")
      polygon(points="19,2 30,2 30,28.4")
      polygon(points="11.1,2 0,2 0,28.4")
      polygon(points="15,11.7 22.1,28.4 17.5,28.4 15.4,23.1 10.2,23.1")
    h2.spectrum-Site-title.spectrum-Heading3 Spectrum CSS

  div#site-search

  include nav.pug
