.spectrum-Site-sideBar#site-sidebar
  a.spectrum-Site-sideBarHeader.js-fastLoad(href='index.html')
    img.spectrum-Site-logo(src='img/spectrum_logo_light.svg', alt='Spectrum Logo')
    h2.spectrum-Site-title.spectrum-Heading3 Spectrum CSS

  div#site-search

  include nav.pug
