:root {
  --spectrum-combobox-quiet-textfield-placeholder-text-color: var(--spectrum-global-color-gray-600);
  --spectrum-combobox-quiet-textfield-text-color: var(--spectrum-alias-component-text-color-default);
  --spectrum-combobox-quiet-textfield-border-color: var(--spectrum-alias-input-border-color-default);
  --spectrum-combobox-quiet-textfield-border-bottom-size: var(--spectrum-alias-input-border-size);
  --spectrum-combobox-quiet-fieldbutton-border-color: var(--spectrum-alias-component-border-color-quiet-default);
  --spectrum-combobox-quiet-fieldbutton-background-color: var(--spectrum-alias-component-background-color-quiet-default);
  --spectrum-combobox-quiet-border-size: 0;
  --spectrum-combobox-quiet-textfield-placeholder-text-color-down: var(--spectrum-alias-placeholder-text-color-down);
  --spectrum-combobox-quiet-textfield-text-color-down: var(--spectrum-alias-component-text-color-down);
  --spectrum-combobox-quiet-textfield-border-color-down: var(--spectrum-alias-input-border-color-down);
  --spectrum-combobox-quiet-textfield-border-bottom-size-down: var(--spectrum-alias-input-border-size);
  --spectrum-combobox-quiet-fieldbutton-border-color-down: var(--spectrum-alias-component-border-color-quiet-down);
  --spectrum-combobox-quiet-fieldbutton-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-combobox-quiet-border-size-down: 0;
  --spectrum-combobox-quiet-textfield-placeholder-text-color-hover: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-combobox-quiet-textfield-text-color-hover: var(--spectrum-alias-component-text-color-hover);
  --spectrum-combobox-quiet-textfield-border-color-hover: var(--spectrum-alias-input-border-color-hover);
  --spectrum-combobox-quiet-textfield-border-bottom-size-hover: var(--spectrum-alias-input-border-size);
  --spectrum-combobox-quiet-fieldbutton-border-color-hover: var(--spectrum-alias-component-border-color-quiet-hover);
  --spectrum-combobox-quiet-fieldbutton-background-color-hover: var(--spectrum-alias-component-background-color-quiet-hover);
  --spectrum-combobox-quiet-border-size-hover: 0;
  --spectrum-combobox-quiet-textfield-placeholder-text-color-key-focus: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-combobox-quiet-textfield-text-color-key-focus: var(--spectrum-alias-component-text-color-key-focus);
  --spectrum-combobox-quiet-textfield-border-color-key-focus: var(--spectrum-alias-input-border-color-key-focus);
  --spectrum-combobox-quiet-textfield-border-bottom-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-combobox-quiet-fieldbutton-border-color-key-focus: var(--spectrum-alias-component-border-color-quiet-key-focus);
  --spectrum-combobox-quiet-fieldbutton-background-color-key-focus: var(--spectrum-alias-component-background-color-quiet-key-focus);
  --spectrum-combobox-quiet-border-size-key-focus: 0;
  --spectrum-combobox-quiet-textfield-placeholder-text-color-mouse-focus: var(--spectrum-alias-placeholder-text-color-down);
  --spectrum-combobox-quiet-textfield-text-color-mouse-focus: var(--spectrum-alias-component-text-color-mouse-focus);
  --spectrum-combobox-quiet-textfield-border-color-mouse-focus: var(--spectrum-alias-input-border-color-mouse-focus);
  --spectrum-combobox-quiet-textfield-border-bottom-size-mouse-focus: var(--spectrum-alias-input-border-size);
  --spectrum-combobox-quiet-fieldbutton-border-color-mouse-focus: var(--spectrum-alias-component-border-color-quiet-default);
  --spectrum-combobox-quiet-fieldbutton-background-color-mouse-focus: var(--spectrum-alias-component-background-color-quiet-default);
  --spectrum-combobox-quiet-border-size-mouse-focus: 0;
  --spectrum-combobox-quiet-textfield-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-combobox-quiet-fieldbutton-validation-icon-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-combobox-quiet-textfield-placeholder-text-font-style: var(--spectrum-global-font-style-italic);
  --spectrum-combobox-quiet-textfield-placeholder-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-combobox-quiet-textfield-placeholder-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-combobox-quiet-textfield-text-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-combobox-quiet-textfield-text-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-combobox-quiet-textfield-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-combobox-quiet-textfield-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-combobox-quiet-textfield-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-combobox-quiet-textfield-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-combobox-quiet-textfield-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-combobox-quiet-textfield-text-text-transform: none;
  --spectrum-combobox-quiet-textfield-text-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-combobox-quiet-textfield-border-top-right-radius: 0;
  --spectrum-combobox-quiet-textfield-border-bottom-right-radius: 0;
  --spectrum-combobox-quiet-textfield-min-width: var(--spectrum-global-dimension-size-600);
  --spectrum-combobox-quiet-textfield-border-radius: var(--spectrum-global-dimension-size-0);
  --spectrum-combobox-quiet-textfield-border-size: 0;
  --spectrum-combobox-quiet-textfield-padding-left: var(--spectrum-global-dimension-size-0);
  --spectrum-combobox-quiet-textfield-padding-right: var(--spectrum-global-dimension-size-0);
  --spectrum-combobox-quiet-textfield-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-combobox-quiet-textfield-height: var(--spectrum-global-dimension-size-400);
  --spectrum-combobox-quiet-textfield-_padding-text: var(--spectrum-global-dimension-size-150);
  --spectrum-combobox-quiet-textfield-_padding-icon: var(--spectrum-global-dimension-size-85);
  --spectrum-combobox-quiet-textfield-_control-gap: var(--spectrum-global-dimension-size-125);
  --spectrum-combobox-quiet-fieldbutton-uiicon-height: var(--spectrum-alias-ui-icon-chevron-size-100);
  --spectrum-combobox-quiet-fieldbutton-uiicon-width: var(--spectrum-alias-ui-icon-chevron-size-100);
  --spectrum-combobox-quiet-fieldbutton-uiicon-rotate: 90deg;
  --spectrum-combobox-quiet-fieldbutton-uiicon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-combobox-quiet-fieldbutton-min-width: 0;
  --spectrum-combobox-quiet-fieldbutton-width: auto;
  --spectrum-combobox-quiet-fieldbutton-border-top-left-radius: 0;
  --spectrum-combobox-quiet-fieldbutton-border-bottom-left-radius: 0;
  --spectrum-combobox-quiet-fieldbutton-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-combobox-quiet-fieldbutton-padding-left: var(--spectrum-global-dimension-static-size-0);
  --spectrum-combobox-quiet-fieldbutton-padding-right: var(--spectrum-global-dimension-static-size-0);
  --spectrum-combobox-quiet-fieldbutton-height: var(--spectrum-global-dimension-size-400);
  --spectrum-combobox-quiet-fieldbutton-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-combobox-quiet-fieldbutton-border-radius: var(--spectrum-alias-component-border-radius-quiet);
  --spectrum-combobox-quiet-fieldbutton-affixed-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-combobox-quiet-fieldbutton-affixed-border-radius: 0;
  --spectrum-combobox-quiet-fieldbutton-cursor-hit-x: var(--spectrum-global-dimension-size-50);
  --spectrum-combobox-quiet-layout: row;
  --spectrum-combobox-quiet-min-width: var(--spectrum-global-dimension-size-800);
  --spectrum-combobox-textfield-placeholder-text-color: var(--spectrum-global-color-gray-600);
  --spectrum-combobox-textfield-text-color: var(--spectrum-alias-component-text-color-default);
  --spectrum-combobox-textfield-border-color: var(--spectrum-alias-input-border-color-default);
  --spectrum-combobox-textfield-border-bottom-size: var(--spectrum-alias-input-border-size);
  --spectrum-combobox-fieldbutton-border-color: var(--spectrum-alias-component-border-color-default);
  --spectrum-combobox-fieldbutton-background-color: var(--spectrum-alias-component-background-color-default);
  --spectrum-combobox-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-combobox-textfield-placeholder-text-color-down: var(--spectrum-alias-placeholder-text-color-down);
  --spectrum-combobox-textfield-text-color-down: var(--spectrum-alias-component-text-color-down);
  --spectrum-combobox-textfield-border-color-down: var(--spectrum-alias-input-border-color-down);
  --spectrum-combobox-textfield-border-bottom-size-down: var(--spectrum-alias-input-border-size);
  --spectrum-combobox-fieldbutton-border-color-down: var(--spectrum-alias-border-color-mouse-focus);
  --spectrum-combobox-fieldbutton-background-color-down: var(--spectrum-alias-component-background-color-down);
  --spectrum-combobox-border-size-down: var(--spectrum-alias-border-size-thin);
  --spectrum-combobox-textfield-placeholder-text-color-hover: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-combobox-textfield-text-color-hover: var(--spectrum-alias-component-text-color-hover);
  --spectrum-combobox-textfield-border-color-hover: var(--spectrum-alias-input-border-color-hover);
  --spectrum-combobox-textfield-border-bottom-size-hover: var(--spectrum-alias-input-border-size);
  --spectrum-combobox-fieldbutton-border-color-hover: var(--spectrum-alias-component-border-color-hover);
  --spectrum-combobox-fieldbutton-background-color-hover: var(--spectrum-alias-component-background-color-hover);
  --spectrum-combobox-border-size-hover: var(--spectrum-alias-border-size-thin);
  --spectrum-combobox-textfield-placeholder-text-color-key-focus: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-combobox-textfield-text-color-key-focus: var(--spectrum-alias-component-text-color-key-focus);
  --spectrum-combobox-textfield-border-color-key-focus: var(--spectrum-alias-input-border-color-key-focus);
  --spectrum-combobox-textfield-border-bottom-size-key-focus: var(--spectrum-alias-input-border-size);
  --spectrum-combobox-fieldbutton-border-color-key-focus: var(--spectrum-alias-component-border-color-key-focus);
  --spectrum-combobox-fieldbutton-background-color-key-focus: var(--spectrum-alias-component-background-color-key-focus);
  --spectrum-combobox-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-combobox-textfield-placeholder-text-color-mouse-focus: var(--spectrum-alias-placeholder-text-color-down);
  --spectrum-combobox-textfield-text-color-mouse-focus: var(--spectrum-alias-component-text-color-mouse-focus);
  --spectrum-combobox-textfield-border-color-mouse-focus: var(--spectrum-alias-input-border-color-mouse-focus);
  --spectrum-combobox-textfield-border-bottom-size-mouse-focus: var(--spectrum-alias-input-border-size);
  --spectrum-combobox-fieldbutton-border-color-mouse-focus: var(--spectrum-alias-border-color-mouse-focus);
  --spectrum-combobox-fieldbutton-background-color-mouse-focus: var(--spectrum-alias-component-background-color-default);
  --spectrum-combobox-border-size-mouse-focus: var(--spectrum-alias-border-size-thin);
  --spectrum-combobox-textfield-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-combobox-fieldbutton-validation-icon-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-combobox-textfield-placeholder-text-font-style: var(--spectrum-global-font-style-italic);
  --spectrum-combobox-textfield-placeholder-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-combobox-textfield-placeholder-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-combobox-textfield-text-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-combobox-textfield-text-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-combobox-textfield-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-combobox-textfield-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-combobox-textfield-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-combobox-textfield-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-combobox-textfield-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-combobox-textfield-text-text-transform: none;
  --spectrum-combobox-textfield-text-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-combobox-textfield-border-top-right-radius: 0;
  --spectrum-combobox-textfield-border-bottom-right-radius: 0;
  --spectrum-combobox-textfield-min-width: var(--spectrum-global-dimension-size-600);
  --spectrum-combobox-textfield-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-combobox-textfield-border-size: var(--spectrum-alias-input-border-size);
  --spectrum-combobox-textfield-padding-left: var(--spectrum-global-dimension-size-150);
  --spectrum-combobox-textfield-padding-right: var(--spectrum-global-dimension-size-150);
  --spectrum-combobox-textfield-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-combobox-textfield-height: var(--spectrum-global-dimension-size-400);
  --spectrum-combobox-textfield-_padding-text: var(--spectrum-global-dimension-size-150);
  --spectrum-combobox-textfield-_padding-icon: var(--spectrum-global-dimension-size-85);
  --spectrum-combobox-textfield-_control-gap: var(--spectrum-global-dimension-size-125);
  --spectrum-combobox-fieldbutton-uiicon-height: var(--spectrum-alias-ui-icon-chevron-size-100);
  --spectrum-combobox-fieldbutton-uiicon-width: var(--spectrum-alias-ui-icon-chevron-size-100);
  --spectrum-combobox-fieldbutton-uiicon-rotate: 90deg;
  --spectrum-combobox-fieldbutton-uiicon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-combobox-fieldbutton-min-width: 0;
  --spectrum-combobox-fieldbutton-width: auto;
  --spectrum-combobox-fieldbutton-border-top-left-radius: 0;
  --spectrum-combobox-fieldbutton-border-bottom-left-radius: 0;
  --spectrum-combobox-fieldbutton-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-combobox-fieldbutton-padding-right: var(--spectrum-global-dimension-size-150);
  --spectrum-combobox-fieldbutton-height: var(--spectrum-global-dimension-size-400);
  --spectrum-combobox-fieldbutton-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-combobox-fieldbutton-border-radius: var(--spectrum-alias-component-border-radius);
  --spectrum-combobox-fieldbutton-affixed-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-combobox-fieldbutton-affixed-border-radius: 0;
  --spectrum-combobox-fieldbutton-cursor-hit-x: var(--spectrum-global-dimension-size-50);
  --spectrum-combobox-layout: row;
  --spectrum-combobox-min-width: var(--spectrum-global-dimension-size-1000);
}
