:root {
  --spectrum-dropzone-illustration-color-selected: var(--spectrum-global-color-blue-500);
  --spectrum-dropzone-border-color-selected: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-background-color-selected: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-illustration-color-selected-down: var(--spectrum-global-color-blue-500);
  --spectrum-dropzone-border-color-selected-down: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-background-color-selected-down: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-illustration-color-selected-hover: var(--spectrum-global-color-blue-500);
  --spectrum-dropzone-border-color-selected-hover: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-background-color-selected-hover: var(--spectrum-alias-highlight-selected);
  --spectrum-dropzone-illustration-color-selected-key-focus: var(--spectrum-global-color-blue-500);
  --spectrum-dropzone-border-color-selected-key-focus: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-background-color-selected-key-focus: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-illustration-color-selected-mouse-focus: var(--spectrum-global-color-blue-500);
  --spectrum-dropzone-border-color-selected-mouse-focus: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-background-color-selected-mouse-focus: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-illustration-color: var(--spectrum-global-color-gray-500);
  --spectrum-dropzone-border-color: var(--spectrum-global-color-gray-300);
  --spectrum-dropzone-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-dropzone-illustration-color-down: var(--spectrum-global-color-gray-500);
  --spectrum-dropzone-border-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-dropzone-background-color-down: var(--spectrum-global-color-gray-100);
  --spectrum-dropzone-illustration-color-hover: var(--spectrum-global-color-gray-500);
  --spectrum-dropzone-border-color-hover: var(--spectrum-global-color-gray-300);
  --spectrum-dropzone-background-color-hover: var(--spectrum-global-color-gray-100);
  --spectrum-dropzone-illustration-color-key-focus: var(--spectrum-global-color-gray-500);
  --spectrum-dropzone-border-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-dropzone-background-color-key-focus: var(--spectrum-global-color-gray-100);
  --spectrum-dropzone-illustration-color-mouse-focus: var(--spectrum-global-color-gray-500);
  --spectrum-dropzone-border-color-mouse-focus: var(--spectrum-global-color-gray-300);
  --spectrum-dropzone-background-color-mouse-focus: var(--spectrum-global-color-gray-100);
  --spectrum-dropzone-content-color: var(--spectrum-global-color-gray-700);
  --spectrum-dropzone-content-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-dropzone-content-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-dropzone-content-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-dropzone-content-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-dropzone-content-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-dropzone-content-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-dropzone-content-margin-top: 0px;
  --spectrum-dropzone-content-margin-bottom: var(--spectrum-global-dimension-size-125);
  --spectrum-dropzone-content-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-dropzone-content-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-dropzone-content-text-transform: none;
  --spectrum-dropzone-padding: var(--spectrum-global-dimension-size-900);
  --spectrum-dropzone-border-width: var(--spectrum-alias-border-size-thick);
  --spectrum-dropzone-border-radius: var(--spectrum-alias-border-radius-regular);
}
