:root {
  --spectrum-pagination-page-button-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-page-button-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-page-button-text-color-disabled: var(--spectrum-alias-text-color);
  --spectrum-pagination-page-button-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-page-button-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-page-button-text-color: var(--spectrum-alias-text-color);
  --spectrum-pagination-page-button-background-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-pagination-page-button-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-page-button-text-color-down: var(--spectrum-global-color-static-white);
  --spectrum-pagination-page-button-background-color-hover: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-pagination-page-button-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-page-button-text-color-hover: var(--spectrum-alias-text-color);
  --spectrum-pagination-page-button-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-page-button-border-color-key-focus: var(--spectrum-alias-focus-color);
  --spectrum-pagination-page-button-text-color-key-focus: var(--spectrum-alias-text-color);
  --spectrum-pagination-page-button-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-page-button-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-page-button-text-color-mouse-focus: var(--spectrum-alias-text-color);
  --spectrum-pagination-textfield-width: var(--spectrum-global-dimension-size-600);
  --spectrum-pagination-counter-height: var(--spectrum-global-dimension-size-400);
  --spectrum-pagination-counter-margin-left: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-page-button-margin-horizontal: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-page-button-border-size: var(--spectrum-global-dimension-size-25);
  --spectrum-pagination-page-button-width: var(--spectrum-global-dimension-size-400);
  --spectrum-pagination-page-button-margin-left: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-page-button-margin-right: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-direction-button-text-size: var(--spectrum-alias-pill-button-text-size);
  --spectrum-pagination-direction-button-font-size: var(--spectrum-alias-pill-button-text-size);
  --spectrum-pagination-icon-width: var(--spectrum-global-dimension-size-75);
  --spectrum-pagination-icon-height: var(--spectrum-global-dimension-size-125);
  --spectrum-pagination-button-page-button-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-button-page-button-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-button-page-button-text-color-disabled: var(--spectrum-alias-text-color);
  --spectrum-pagination-button-page-button-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-button-page-button-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-button-page-button-text-color: var(--spectrum-alias-text-color);
  --spectrum-pagination-button-page-button-background-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-pagination-button-page-button-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-button-page-button-text-color-down: var(--spectrum-global-color-static-white);
  --spectrum-pagination-button-page-button-background-color-hover: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-pagination-button-page-button-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-button-page-button-text-color-hover: var(--spectrum-alias-text-color);
  --spectrum-pagination-button-page-button-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-button-page-button-border-color-key-focus: var(--spectrum-alias-focus-color);
  --spectrum-pagination-button-page-button-text-color-key-focus: var(--spectrum-alias-text-color);
  --spectrum-pagination-button-page-button-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-button-page-button-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-button-page-button-text-color-mouse-focus: var(--spectrum-alias-text-color);
  --spectrum-pagination-button-textfield-width: var(--spectrum-global-dimension-size-600);
  --spectrum-pagination-button-counter-height: var(--spectrum-global-dimension-size-400);
  --spectrum-pagination-button-counter-margin-left: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-button-page-button-margin-horizontal: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-button-page-button-border-size: var(--spectrum-global-dimension-size-25);
  --spectrum-pagination-button-page-button-width: var(--spectrum-global-dimension-size-400);
  --spectrum-pagination-button-page-button-margin-left: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-button-page-button-margin-right: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-button-direction-button-text-size: var(--spectrum-alias-pill-button-text-size);
  --spectrum-pagination-button-direction-button-font-size: var(--spectrum-alias-pill-button-text-size);
  --spectrum-pagination-button-icon-width: var(--spectrum-global-dimension-size-75);
  --spectrum-pagination-button-icon-height: var(--spectrum-global-dimension-size-125);
  --spectrum-pagination-explicit-page-button-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-explicit-page-button-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-explicit-page-button-text-color-disabled: var(--spectrum-alias-text-color);
  --spectrum-pagination-explicit-page-button-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-explicit-page-button-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-explicit-page-button-text-color: var(--spectrum-alias-text-color);
  --spectrum-pagination-explicit-page-button-background-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-pagination-explicit-page-button-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-explicit-page-button-text-color-down: var(--spectrum-global-color-static-white);
  --spectrum-pagination-explicit-page-button-background-color-hover: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-pagination-explicit-page-button-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-explicit-page-button-text-color-hover: var(--spectrum-alias-text-color);
  --spectrum-pagination-explicit-page-button-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-explicit-page-button-border-color-key-focus: var(--spectrum-alias-focus-color);
  --spectrum-pagination-explicit-page-button-text-color-key-focus: var(--spectrum-alias-text-color);
  --spectrum-pagination-explicit-page-button-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-explicit-page-button-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-explicit-page-button-text-color-mouse-focus: var(--spectrum-alias-text-color);
  --spectrum-pagination-explicit-textfield-width: var(--spectrum-global-dimension-size-600);
  --spectrum-pagination-explicit-counter-height: var(--spectrum-global-dimension-size-400);
  --spectrum-pagination-explicit-counter-margin-left: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-explicit-page-button-margin-horizontal: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-explicit-page-button-border-size: var(--spectrum-global-dimension-size-25);
  --spectrum-pagination-explicit-page-button-width: var(--spectrum-global-dimension-size-400);
  --spectrum-pagination-explicit-page-button-margin-left: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-explicit-page-button-margin-right: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-explicit-direction-button-text-size: var(--spectrum-alias-pill-button-text-size);
  --spectrum-pagination-explicit-direction-button-font-size: var(--spectrum-alias-pill-button-text-size);
  --spectrum-pagination-explicit-icon-width: var(--spectrum-global-dimension-size-75);
  --spectrum-pagination-explicit-icon-height: var(--spectrum-global-dimension-size-125);
  --spectrum-pagination-listing-page-button-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-listing-page-button-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-listing-page-button-text-color-disabled: var(--spectrum-alias-text-color);
  --spectrum-pagination-listing-page-button-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-listing-page-button-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-listing-page-button-text-color: var(--spectrum-alias-text-color);
  --spectrum-pagination-listing-page-button-background-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-pagination-listing-page-button-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-listing-page-button-text-color-down: var(--spectrum-global-color-static-white);
  --spectrum-pagination-listing-page-button-background-color-hover: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-pagination-listing-page-button-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-listing-page-button-text-color-hover: var(--spectrum-alias-text-color);
  --spectrum-pagination-listing-page-button-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-listing-page-button-border-color-key-focus: var(--spectrum-alias-focus-color);
  --spectrum-pagination-listing-page-button-text-color-key-focus: var(--spectrum-alias-text-color);
  --spectrum-pagination-listing-page-button-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-listing-page-button-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-pagination-listing-page-button-text-color-mouse-focus: var(--spectrum-alias-text-color);
  --spectrum-pagination-listing-textfield-width: var(--spectrum-global-dimension-size-600);
  --spectrum-pagination-listing-counter-height: var(--spectrum-global-dimension-size-400);
  --spectrum-pagination-listing-counter-margin-left: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-listing-page-button-margin-horizontal: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-listing-page-button-border-size: var(--spectrum-global-dimension-size-25);
  --spectrum-pagination-listing-page-button-width: var(--spectrum-global-dimension-size-400);
  --spectrum-pagination-listing-page-button-margin-left: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-listing-page-button-margin-right: var(--spectrum-global-dimension-size-65);
  --spectrum-pagination-listing-direction-button-text-size: var(--spectrum-alias-pill-button-text-size);
  --spectrum-pagination-listing-direction-button-font-size: var(--spectrum-alias-pill-button-text-size);
  --spectrum-pagination-listing-icon-width: var(--spectrum-global-dimension-size-75);
  --spectrum-pagination-listing-icon-height: var(--spectrum-global-dimension-size-125);
}
