:root {
  --spectrum-scrollbar-s-bar-background-color: rgba(255,255,255,0.2);
  --spectrum-scrollbar-s-bar-background-color-down: rgba(255,255,255,0.2);
  --spectrum-scrollbar-s-bar-background-color-hover: rgba(149,149,149,0.6);
  --spectrum-scrollbar-s-bar-background-color-key-focus: rgba(255,255,255,0.2);
  --spectrum-scrollbar-s-bar-background-color-mouse-focus: rgba(255,255,255,0.2);
  --spectrum-scrollbar-s-track-background-color: transparent;
  --spectrum-scrollbar-s-track-border-color: transparent;
  --spectrum-scrollbar-s-track-layout: column;
  --spectrum-scrollbar-s-track-align-items: start;
  --spectrum-scrollbar-s-track-_oriented-size: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-s-track-width: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-s-track-height: 100%;
  --spectrum-scrollbar-s-track-padding: 0;
  --spectrum-scrollbar-s-track-border-left-width: var(--spectrum-global-dimension-size-0);
  --spectrum-scrollbar-s-track-border-right-width: var(--spectrum-global-dimension-size-0);
  --spectrum-scrollbar-s-bar-_oriented-size: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-s-bar-border-radius: var(--spectrum-global-dimension-size-0);
  --spectrum-scrollbar-s-bar-min-height: var(--spectrum-global-dimension-static-size-700);
  --spectrum-scrollbar-s-bar-min-width: 0;
  --spectrum-scrollbar-s-bar-height: auto;
  --spectrum-scrollbar-s-bar-width: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-s-bar-touch-hit-start: var(--spectrum-global-dimension-size-40);
  --spectrum-scrollbar-s-bar-touch-hit-end: var(--spectrum-global-dimension-size-40);
  --spectrum-scrollbar-m-bar-background-color: rgba(255,255,255,0.2);
  --spectrum-scrollbar-m-bar-background-color-down: rgba(255,255,255,0.2);
  --spectrum-scrollbar-m-bar-background-color-hover: rgba(149,149,149,0.6);
  --spectrum-scrollbar-m-bar-background-color-key-focus: rgba(255,255,255,0.2);
  --spectrum-scrollbar-m-bar-background-color-mouse-focus: rgba(255,255,255,0.2);
  --spectrum-scrollbar-m-track-background-color: transparent;
  --spectrum-scrollbar-m-track-border-color: transparent;
  --spectrum-scrollbar-m-track-layout: column;
  --spectrum-scrollbar-m-track-align-items: start;
  --spectrum-scrollbar-m-track-_oriented-size: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-m-track-width: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-m-track-height: 100%;
  --spectrum-scrollbar-m-track-padding: 0;
  --spectrum-scrollbar-m-track-border-left-width: var(--spectrum-global-dimension-size-0);
  --spectrum-scrollbar-m-track-border-right-width: var(--spectrum-global-dimension-size-0);
  --spectrum-scrollbar-m-bar-_oriented-size: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-m-bar-border-radius: var(--spectrum-global-dimension-size-0);
  --spectrum-scrollbar-m-bar-min-height: var(--spectrum-global-dimension-static-size-700);
  --spectrum-scrollbar-m-bar-min-width: 0;
  --spectrum-scrollbar-m-bar-height: auto;
  --spectrum-scrollbar-m-bar-width: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-m-bar-touch-hit-start: var(--spectrum-global-dimension-size-40);
  --spectrum-scrollbar-m-bar-touch-hit-end: var(--spectrum-global-dimension-size-40);
  --spectrum-scrollbar-l-bar-background-color: rgba(255,255,255,0.2);
  --spectrum-scrollbar-l-bar-background-color-down: rgba(255,255,255,0.2);
  --spectrum-scrollbar-l-bar-background-color-hover: rgba(149,149,149,0.6);
  --spectrum-scrollbar-l-bar-background-color-key-focus: rgba(255,255,255,0.2);
  --spectrum-scrollbar-l-bar-background-color-mouse-focus: rgba(255,255,255,0.2);
  --spectrum-scrollbar-l-track-background-color: transparent;
  --spectrum-scrollbar-l-track-border-color: transparent;
  --spectrum-scrollbar-l-track-layout: column;
  --spectrum-scrollbar-l-track-align-items: start;
  --spectrum-scrollbar-l-track-_oriented-size: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-l-track-width: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-l-track-height: 100%;
  --spectrum-scrollbar-l-track-padding: 0;
  --spectrum-scrollbar-l-track-border-left-width: var(--spectrum-global-dimension-size-0);
  --spectrum-scrollbar-l-track-border-right-width: var(--spectrum-global-dimension-size-0);
  --spectrum-scrollbar-l-bar-_oriented-size: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-l-bar-border-radius: var(--spectrum-global-dimension-size-0);
  --spectrum-scrollbar-l-bar-min-height: var(--spectrum-global-dimension-static-size-700);
  --spectrum-scrollbar-l-bar-min-width: 0;
  --spectrum-scrollbar-l-bar-height: auto;
  --spectrum-scrollbar-l-bar-width: var(--spectrum-global-dimension-size-50);
  --spectrum-scrollbar-l-bar-touch-hit-start: var(--spectrum-global-dimension-size-40);
  --spectrum-scrollbar-l-bar-touch-hit-end: var(--spectrum-global-dimension-size-40);
}
