:root {
  --spectrum-actiongroup-quiet-button-gap-x: var(--spectrum-alias-actiongroup-button-gap-quiet);
  --spectrum-actiongroup-quiet-button-gap-y: var(--spectrum-alias-actiongroup-button-gap-quiet);
  --spectrum-actiongroup-button-gap-x: var(--spectrum-alias-actiongroup-button-gap);
  --spectrum-actiongroup-button-gap-y: var(--spectrum-alias-actiongroup-button-gap);
}
