:root {
  --spectrum-actiongroup-quiet-compact-button-gap-x: var(--spectrum-alias-actiongroup-button-gap-quiet-compact);
  --spectrum-actiongroup-quiet-compact-button-gap-y: var(--spectrum-alias-actiongroup-button-gap-quiet-compact);
  --spectrum-actiongroup-quiet-compact-button-gap: var(--spectrum-alias-actiongroup-button-gap-quiet-compact);
  --spectrum-actiongroup-quiet-button-gap-x: var(--spectrum-alias-actiongroup-button-gap-quiet);
  --spectrum-actiongroup-quiet-button-gap-y: var(--spectrum-alias-actiongroup-button-gap-quiet);
  --spectrum-actiongroup-quiet-button-gap: var(--spectrum-alias-actiongroup-button-gap-quiet);
  --spectrum-actiongroup-compact-button-gap-x: var(--spectrum-alias-actiongroup-button-gap-compact);
  --spectrum-actiongroup-compact-button-gap-y: var(--spectrum-alias-actiongroup-button-gap-compact);
  --spectrum-actiongroup-compact-button-gap: var(--spectrum-alias-actiongroup-button-gap-compact);
  --spectrum-actiongroup-button-gap-x: var(--spectrum-alias-actiongroup-button-gap);
  --spectrum-actiongroup-button-gap-y: var(--spectrum-alias-actiongroup-button-gap);
  --spectrum-actiongroup-button-gap: var(--spectrum-alias-actiongroup-button-gap);
}
