:root {
  --spectrum-alertbanner-neutral-rule-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-alertbanner-neutral-rule-background-color: var(--spectrum-global-color-gray-300);
  --spectrum-alertbanner-neutral-icon-color: var(--spectrum-global-color-static-white);
  --spectrum-alertbanner-neutral-content-color: var(--spectrum-global-color-static-white);
  --spectrum-alertbanner-neutral-text-color: var(--spectrum-global-color-static-white);
  --spectrum-alertbanner-neutral-background-color: var(--spectrum-semantic-neutral-background-color-default);
  --spectrum-alertbanner-neutral-rule-border-size: var(--spectrum-global-dimension-size-10);
  --spectrum-alertbanner-neutral-rule-border-radius: var(--spectrum-global-dimension-size-10);
  --spectrum-alertbanner-neutral-rule-height: var(--spectrum-global-dimension-static-percent-100);
  --spectrum-alertbanner-neutral-rule-width: var(--spectrum-global-dimension-size-10);
  --spectrum-alertbanner-neutral-icon-type: icon;
  --spectrum-alertbanner-neutral-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-alertbanner-neutral-icon-padding-right: var(--spectrum-global-dimension-size-150);
  --spectrum-alertbanner-neutral-icon-size: var(--spectrum-alias-workflow-icon-size-m);
  --spectrum-alertbanner-neutral-button-gap-x: var(--spectrum-global-dimension-size-100);
  --spectrum-alertbanner-neutral-button-gap-y: var(--spectrum-global-dimension-size-50);
  --spectrum-alertbanner-neutral-content-padding-right: var(--spectrum-global-dimension-size-200);
  --spectrum-alertbanner-neutral-content-padding-top: var(--spectrum-global-dimension-size-65);
  --spectrum-alertbanner-neutral-content-padding-bottom: var(--spectrum-global-dimension-size-65);
  --spectrum-alertbanner-neutral-content-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-alertbanner-neutral-content-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-alertbanner-neutral-content-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-alertbanner-neutral-content-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-alertbanner-neutral-content-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-alertbanner-neutral-content-text-transform: none;
  --spectrum-alertbanner-neutral-content-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-alertbanner-neutral-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-alertbanner-neutral-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-alertbanner-neutral-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-alertbanner-neutral-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-alertbanner-neutral-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-alertbanner-neutral-text-transform: none;
  --spectrum-alertbanner-neutral-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-alertbanner-neutral-min-height: var(--spectrum-global-dimension-size-600);
  --spectrum-alertbanner-neutral-max-width: var(--spectrum-global-dimension-size-6000);
  --spectrum-alertbanner-neutral-padding-left: var(--spectrum-global-dimension-size-200);
  --spectrum-alertbanner-neutral-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-alertbanner-neutral-padding-y: var(--spectrum-global-dimension-size-100);
  --spectrum-alertbanner-neutral-margin-x: var(--spectrum-global-dimension-static-size-0);
  --spectrum-alertbanner-neutral-offset-y: var(--spectrum-global-dimension-static-size-0);
  --spectrum-alertbanner-neutral-layout: inline-row;
  --spectrum-alertbanner-neutral-dismiss-duration: 5000ms;
  --spectrum-alertbanner-info-rule-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-alertbanner-info-rule-background-color: var(--spectrum-global-color-gray-300);
  --spectrum-alertbanner-info-icon-color: var(--spectrum-global-color-static-white);
  --spectrum-alertbanner-info-content-color: var(--spectrum-global-color-static-white);
  --spectrum-alertbanner-info-text-color: var(--spectrum-global-color-static-white);
  --spectrum-alertbanner-info-background-color: var(--spectrum-semantic-informative-background-color);
  --spectrum-alertbanner-info-rule-border-size: var(--spectrum-global-dimension-size-10);
  --spectrum-alertbanner-info-rule-border-radius: var(--spectrum-global-dimension-size-10);
  --spectrum-alertbanner-info-rule-height: var(--spectrum-global-dimension-static-percent-100);
  --spectrum-alertbanner-info-rule-width: var(--spectrum-global-dimension-size-10);
  --spectrum-alertbanner-info-icon-type: icon;
  --spectrum-alertbanner-info-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-alertbanner-info-icon-padding-right: var(--spectrum-global-dimension-size-150);
  --spectrum-alertbanner-info-icon-size: var(--spectrum-alias-workflow-icon-size-m);
  --spectrum-alertbanner-info-button-gap-x: var(--spectrum-global-dimension-size-100);
  --spectrum-alertbanner-info-button-gap-y: var(--spectrum-global-dimension-size-50);
  --spectrum-alertbanner-info-content-padding-right: var(--spectrum-global-dimension-size-200);
  --spectrum-alertbanner-info-content-padding-top: var(--spectrum-global-dimension-size-65);
  --spectrum-alertbanner-info-content-padding-bottom: var(--spectrum-global-dimension-size-65);
  --spectrum-alertbanner-info-content-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-alertbanner-info-content-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-alertbanner-info-content-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-alertbanner-info-content-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-alertbanner-info-content-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-alertbanner-info-content-text-transform: none;
  --spectrum-alertbanner-info-content-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-alertbanner-info-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-alertbanner-info-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-alertbanner-info-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-alertbanner-info-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-alertbanner-info-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-alertbanner-info-text-transform: none;
  --spectrum-alertbanner-info-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-alertbanner-info-min-height: var(--spectrum-global-dimension-size-600);
  --spectrum-alertbanner-info-max-width: var(--spectrum-global-dimension-size-6000);
  --spectrum-alertbanner-info-padding-left: var(--spectrum-global-dimension-size-200);
  --spectrum-alertbanner-info-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-alertbanner-info-padding-y: var(--spectrum-global-dimension-size-100);
  --spectrum-alertbanner-info-margin-x: var(--spectrum-global-dimension-static-size-0);
  --spectrum-alertbanner-info-offset-y: var(--spectrum-global-dimension-static-size-0);
  --spectrum-alertbanner-info-layout: inline-row;
  --spectrum-alertbanner-info-dismiss-duration: 5000ms;
  --spectrum-alertbanner-negative-rule-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-alertbanner-negative-rule-background-color: var(--spectrum-global-color-gray-300);
  --spectrum-alertbanner-negative-icon-color: var(--spectrum-global-color-static-white);
  --spectrum-alertbanner-negative-content-color: var(--spectrum-global-color-static-white);
  --spectrum-alertbanner-negative-text-color: var(--spectrum-global-color-static-white);
  --spectrum-alertbanner-negative-background-color: var(--spectrum-semantic-negative-background-color);
  --spectrum-alertbanner-negative-rule-border-size: var(--spectrum-global-dimension-size-10);
  --spectrum-alertbanner-negative-rule-border-radius: var(--spectrum-global-dimension-size-10);
  --spectrum-alertbanner-negative-rule-height: var(--spectrum-global-dimension-static-percent-100);
  --spectrum-alertbanner-negative-rule-width: var(--spectrum-global-dimension-size-10);
  --spectrum-alertbanner-negative-icon-type: icon;
  --spectrum-alertbanner-negative-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-alertbanner-negative-icon-padding-right: var(--spectrum-global-dimension-size-150);
  --spectrum-alertbanner-negative-icon-size: var(--spectrum-alias-workflow-icon-size-m);
  --spectrum-alertbanner-negative-button-gap-x: var(--spectrum-global-dimension-size-100);
  --spectrum-alertbanner-negative-button-gap-y: var(--spectrum-global-dimension-size-50);
  --spectrum-alertbanner-negative-content-padding-right: var(--spectrum-global-dimension-size-200);
  --spectrum-alertbanner-negative-content-padding-top: var(--spectrum-global-dimension-size-65);
  --spectrum-alertbanner-negative-content-padding-bottom: var(--spectrum-global-dimension-size-65);
  --spectrum-alertbanner-negative-content-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-alertbanner-negative-content-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-alertbanner-negative-content-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-alertbanner-negative-content-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-alertbanner-negative-content-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-alertbanner-negative-content-text-transform: none;
  --spectrum-alertbanner-negative-content-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-alertbanner-negative-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-alertbanner-negative-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-alertbanner-negative-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-alertbanner-negative-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-alertbanner-negative-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-alertbanner-negative-text-transform: none;
  --spectrum-alertbanner-negative-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-alertbanner-negative-min-height: var(--spectrum-global-dimension-size-600);
  --spectrum-alertbanner-negative-max-width: var(--spectrum-global-dimension-size-6000);
  --spectrum-alertbanner-negative-padding-left: var(--spectrum-global-dimension-size-200);
  --spectrum-alertbanner-negative-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-alertbanner-negative-padding-y: var(--spectrum-global-dimension-size-100);
  --spectrum-alertbanner-negative-margin-x: var(--spectrum-global-dimension-static-size-0);
  --spectrum-alertbanner-negative-offset-y: var(--spectrum-global-dimension-static-size-0);
  --spectrum-alertbanner-negative-layout: inline-row;
  --spectrum-alertbanner-negative-dismiss-duration: 5000ms;
}
