:root {
  --spectrum-label-colored-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-label-colored-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-colored-gray-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-colored-green-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-colored-blue-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-colored-red-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-colored-seafoam-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-colored-fuchsia-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-colored-orange-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-colored-yellow-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-colored-text-color: var(--spectrum-global-color-static-white);
  --spectrum-label-colored-background-color: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-colored-gray-background-color: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-colored-green-background-color: var(--spectrum-global-color-static-green-600);
  --spectrum-label-colored-blue-background-color: var(--spectrum-global-color-static-blue);
  --spectrum-label-colored-red-background-color: var(--spectrum-global-color-static-red-600);
  --spectrum-label-colored-seafoam-background-color: var(--spectrum-global-color-seafoam-400);
  --spectrum-label-colored-fuchsia-background-color: var(--spectrum-global-color-fuchsia-400);
  --spectrum-label-colored-orange-background-color: var(--spectrum-global-color-static-orange-600);
  --spectrum-label-colored-yellow-background-color: var(--spectrum-global-color-yellow-400);
  --spectrum-label-colored-text-color-down: var(--spectrum-global-color-static-white);
  --spectrum-label-colored-background-color-down: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-colored-gray-background-color-down: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-colored-green-background-color-down: var(--spectrum-global-color-static-green-600);
  --spectrum-label-colored-blue-background-color-down: var(--spectrum-global-color-static-blue);
  --spectrum-label-colored-red-background-color-down: var(--spectrum-global-color-static-red-600);
  --spectrum-label-colored-seafoam-background-color-down: var(--spectrum-global-color-seafoam-400);
  --spectrum-label-colored-fuchsia-background-color-down: var(--spectrum-global-color-fuchsia-400);
  --spectrum-label-colored-orange-background-color-down: var(--spectrum-global-color-static-orange-600);
  --spectrum-label-colored-yellow-background-color-down: var(--spectrum-global-color-yellow-400);
  --spectrum-label-colored-text-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-label-colored-background-color-hover: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-colored-gray-background-color-hover: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-colored-green-background-color-hover: var(--spectrum-global-color-static-green-600);
  --spectrum-label-colored-blue-background-color-hover: var(--spectrum-global-color-static-blue);
  --spectrum-label-colored-red-background-color-hover: var(--spectrum-global-color-static-red-600);
  --spectrum-label-colored-seafoam-background-color-hover: var(--spectrum-global-color-seafoam-400);
  --spectrum-label-colored-fuchsia-background-color-hover: var(--spectrum-global-color-fuchsia-400);
  --spectrum-label-colored-orange-background-color-hover: var(--spectrum-global-color-static-orange-600);
  --spectrum-label-colored-yellow-background-color-hover: var(--spectrum-global-color-yellow-400);
  --spectrum-label-colored-text-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-label-colored-background-color-key-focus: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-colored-gray-background-color-key-focus: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-colored-green-background-color-key-focus: var(--spectrum-global-color-static-green-600);
  --spectrum-label-colored-blue-background-color-key-focus: var(--spectrum-global-color-static-blue);
  --spectrum-label-colored-red-background-color-key-focus: var(--spectrum-global-color-static-red-600);
  --spectrum-label-colored-seafoam-background-color-key-focus: var(--spectrum-global-color-seafoam-400);
  --spectrum-label-colored-fuchsia-background-color-key-focus: var(--spectrum-global-color-fuchsia-400);
  --spectrum-label-colored-orange-background-color-key-focus: var(--spectrum-global-color-static-orange-600);
  --spectrum-label-colored-yellow-background-color-key-focus: var(--spectrum-global-color-yellow-400);
  --spectrum-label-colored-text-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-label-colored-background-color-mouse-focus: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-colored-gray-background-color-mouse-focus: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-colored-green-background-color-mouse-focus: var(--spectrum-global-color-static-green-600);
  --spectrum-label-colored-blue-background-color-mouse-focus: var(--spectrum-global-color-static-blue);
  --spectrum-label-colored-red-background-color-mouse-focus: var(--spectrum-global-color-static-red-600);
  --spectrum-label-colored-seafoam-background-color-mouse-focus: var(--spectrum-global-color-seafoam-400);
  --spectrum-label-colored-fuchsia-background-color-mouse-focus: var(--spectrum-global-color-fuchsia-400);
  --spectrum-label-colored-orange-background-color-mouse-focus: var(--spectrum-global-color-static-orange-600);
  --spectrum-label-colored-yellow-background-color-mouse-focus: var(--spectrum-global-color-yellow-400);
  --spectrum-label-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-label-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-gray-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-green-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-blue-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-red-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-seafoam-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-fuchsia-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-orange-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-yellow-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-label-text-color: var(--spectrum-global-color-static-white);
  --spectrum-label-background-color: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-gray-background-color: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-green-background-color: var(--spectrum-global-color-static-green-600);
  --spectrum-label-blue-background-color: var(--spectrum-global-color-static-blue);
  --spectrum-label-red-background-color: var(--spectrum-global-color-static-red-600);
  --spectrum-label-seafoam-background-color: var(--spectrum-global-color-seafoam-400);
  --spectrum-label-fuchsia-background-color: var(--spectrum-global-color-fuchsia-400);
  --spectrum-label-orange-background-color: var(--spectrum-global-color-static-orange-600);
  --spectrum-label-yellow-background-color: var(--spectrum-global-color-yellow-400);
  --spectrum-label-text-color-down: var(--spectrum-global-color-static-white);
  --spectrum-label-background-color-down: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-gray-background-color-down: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-green-background-color-down: var(--spectrum-global-color-static-green-600);
  --spectrum-label-blue-background-color-down: var(--spectrum-global-color-static-blue);
  --spectrum-label-red-background-color-down: var(--spectrum-global-color-static-red-600);
  --spectrum-label-seafoam-background-color-down: var(--spectrum-global-color-seafoam-400);
  --spectrum-label-fuchsia-background-color-down: var(--spectrum-global-color-fuchsia-400);
  --spectrum-label-orange-background-color-down: var(--spectrum-global-color-static-orange-600);
  --spectrum-label-yellow-background-color-down: var(--spectrum-global-color-yellow-400);
  --spectrum-label-text-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-label-background-color-hover: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-gray-background-color-hover: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-green-background-color-hover: var(--spectrum-global-color-static-green-600);
  --spectrum-label-blue-background-color-hover: var(--spectrum-global-color-static-blue);
  --spectrum-label-red-background-color-hover: var(--spectrum-global-color-static-red-600);
  --spectrum-label-seafoam-background-color-hover: var(--spectrum-global-color-seafoam-400);
  --spectrum-label-fuchsia-background-color-hover: var(--spectrum-global-color-fuchsia-400);
  --spectrum-label-orange-background-color-hover: var(--spectrum-global-color-static-orange-600);
  --spectrum-label-yellow-background-color-hover: var(--spectrum-global-color-yellow-400);
  --spectrum-label-text-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-label-background-color-key-focus: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-gray-background-color-key-focus: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-green-background-color-key-focus: var(--spectrum-global-color-static-green-600);
  --spectrum-label-blue-background-color-key-focus: var(--spectrum-global-color-static-blue);
  --spectrum-label-red-background-color-key-focus: var(--spectrum-global-color-static-red-600);
  --spectrum-label-seafoam-background-color-key-focus: var(--spectrum-global-color-seafoam-400);
  --spectrum-label-fuchsia-background-color-key-focus: var(--spectrum-global-color-fuchsia-400);
  --spectrum-label-orange-background-color-key-focus: var(--spectrum-global-color-static-orange-600);
  --spectrum-label-yellow-background-color-key-focus: var(--spectrum-global-color-yellow-400);
  --spectrum-label-text-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-label-background-color-mouse-focus: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-gray-background-color-mouse-focus: var(--spectrum-global-color-static-gray-700);
  --spectrum-label-green-background-color-mouse-focus: var(--spectrum-global-color-static-green-600);
  --spectrum-label-blue-background-color-mouse-focus: var(--spectrum-global-color-static-blue);
  --spectrum-label-red-background-color-mouse-focus: var(--spectrum-global-color-static-red-600);
  --spectrum-label-seafoam-background-color-mouse-focus: var(--spectrum-global-color-seafoam-400);
  --spectrum-label-fuchsia-background-color-mouse-focus: var(--spectrum-global-color-fuchsia-400);
  --spectrum-label-orange-background-color-mouse-focus: var(--spectrum-global-color-static-orange-600);
  --spectrum-label-yellow-background-color-mouse-focus: var(--spectrum-global-color-yellow-400);
}
