:root {
  --spectrum-millercolumn-text-color-selected: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-ui-icon-color-selected: var(--spectrum-alias-icon-color);
  --spectrum-millercolumn-item-label-text-color-selected: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-item-text-color-selected: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-item-background-color-selected: var(--spectrum-alias-highlight-selected);
  --spectrum-millercolumn-thumbnail-background-color-selected: var(--spectrum-global-color-gray-50);
  --spectrum-millercolumn-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-millercolumn-ui-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-millercolumn-item-label-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-millercolumn-item-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-millercolumn-item-background-color-selected-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-millercolumn-thumbnail-background-color-selected-disabled: var(--spectrum-global-color-gray-50);
  --spectrum-millercolumn-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-millercolumn-ui-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-millercolumn-item-label-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-millercolumn-item-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-millercolumn-item-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-millercolumn-thumbnail-background-color-disabled: var(--spectrum-global-color-gray-300);
  --spectrum-millercolumn-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-millercolumn-ui-icon-color-selected-down: var(--spectrum-alias-icon-color-down);
  --spectrum-millercolumn-item-label-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-millercolumn-item-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-millercolumn-item-background-color-selected-down: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-millercolumn-thumbnail-background-color-selected-down: var(--spectrum-global-color-gray-50);
  --spectrum-millercolumn-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-ui-icon-color-selected-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-millercolumn-item-label-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-item-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-item-background-color-selected-hover: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-millercolumn-thumbnail-background-color-selected-hover: var(--spectrum-global-color-gray-50);
  --spectrum-millercolumn-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-ui-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-hover);
  --spectrum-millercolumn-item-label-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-item-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-item-background-color-selected-key-focus: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-millercolumn-thumbnail-background-color-selected-key-focus: var(--spectrum-global-color-gray-50);
  --spectrum-millercolumn-text-color-selected-mouse-focus: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-ui-icon-color-selected-mouse-focus: var(--spectrum-alias-icon-color);
  --spectrum-millercolumn-item-label-text-color-selected-mouse-focus: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-item-text-color-selected-mouse-focus: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-item-background-color-selected-mouse-focus: var(--spectrum-alias-highlight-selected);
  --spectrum-millercolumn-thumbnail-background-color-selected-mouse-focus: var(--spectrum-global-color-gray-50);
  --spectrum-millercolumn-text-color: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-ui-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-millercolumn-item-label-text-color: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-item-text-color: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-item-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-millercolumn-thumbnail-background-color: var(--spectrum-global-color-gray-300);
  --spectrum-millercolumn-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-millercolumn-ui-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-millercolumn-item-label-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-millercolumn-item-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-millercolumn-item-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-millercolumn-thumbnail-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-millercolumn-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-ui-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-millercolumn-item-label-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-item-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-item-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-millercolumn-thumbnail-background-color-hover: var(--spectrum-global-color-gray-300);
  --spectrum-millercolumn-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-ui-icon-color-key-focus: var(--spectrum-alias-icon-color-hover);
  --spectrum-millercolumn-item-label-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-item-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-millercolumn-item-background-color-key-focus: var(--spectrum-global-color-gray-200);
  --spectrum-millercolumn-thumbnail-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-millercolumn-text-color-mouse-focus: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-ui-icon-color-mouse-focus: var(--spectrum-alias-icon-color);
  --spectrum-millercolumn-item-label-text-color-mouse-focus: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-item-text-color-mouse-focus: var(--spectrum-alias-text-color);
  --spectrum-millercolumn-item-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-millercolumn-thumbnail-background-color-mouse-focus: var(--spectrum-global-color-gray-300);
  --spectrum-millercolumn-ui-icon-width: var(--spectrum-global-dimension-size-75);
  --spectrum-millercolumn-ui-icon-height: var(--spectrum-global-dimension-size-125);
  --spectrum-millercolumn-item-label-padding-left: var(--spectrum-global-dimension-static-size-100);
  --spectrum-millercolumn-item-height: var(--spectrum-global-dimension-static-size-500);
  --spectrum-millercolumn-item-margin-bottom: var(--spectrum-global-dimension-static-size-50);
  --spectrum-millercolumn-item-border-radius: var(--spectrum-global-dimension-static-size-50);
  --spectrum-millercolumn-item-padding-left: var(--spectrum-global-dimension-static-size-200);
  --spectrum-millercolumn-item-padding-right: var(--spectrum-global-dimension-static-size-200);
  --spectrum-millercolumn-thumbnail-width: var(--spectrum-global-dimension-static-size-300);
  --spectrum-millercolumn-thumbnail-height: var(--spectrum-global-dimension-static-size-300);
  --spectrum-millercolumn-thumbnail-margin-left: var(--spectrum-global-dimension-static-size-100);
  --spectrum-millercolumn-width: var(--spectrum-global-dimension-static-size-3400);
}
