:root {
  --spectrum-treeview-s-item-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-treeview-s-item-text-color-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-treeview-s-item-background-color-disabled: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-s-item-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-s-row-border-color-disabled: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-s-item-group-background-color-disabled: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-s-item-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-treeview-s-item-text-color: var(--spectrum-alias-component-text-color-default);
  --spectrum-treeview-s-item-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-s-item-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-s-row-border-color: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-s-item-group-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-s-item-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-treeview-s-item-text-color-down: var(--spectrum-alias-component-text-color-down);
  --spectrum-treeview-s-item-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-s-item-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-s-row-border-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-s-item-group-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-s-item-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-treeview-s-item-text-color-hover: var(--spectrum-alias-component-text-color-hover);
  --spectrum-treeview-s-item-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-s-item-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-s-row-border-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-s-item-group-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-s-item-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-treeview-s-item-text-color-key-focus: var(--spectrum-alias-component-text-color-key-focus);
  --spectrum-treeview-s-item-background-color-key-focus: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-s-item-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-treeview-s-row-border-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-s-item-group-background-color-key-focus: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-s-item-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-treeview-s-item-text-color-mouse-focus: var(--spectrum-alias-component-text-color-mouse-focus);
  --spectrum-treeview-s-item-background-color-mouse-focus: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-s-item-border-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-s-row-border-color-mouse-focus: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-s-item-group-background-color-mouse-focus: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-s-item-group-border-color: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-s-item-uiicon-size: var(--spectrum-alias-ui-icon-chevron-size-75);
  --spectrum-treeview-s-item-uiicon-margin-right: var(--spectrum-global-dimension-size-25);
  --spectrum-treeview-s-item-icon-size: var(--spectrum-global-dimension-size-200);
  --spectrum-treeview-s-item-icon-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-treeview-s-item-icon-padding-top: var(--spectrum-global-dimension-size-50);
  --spectrum-treeview-s-item-icon-padding-bottom: var(--spectrum-global-dimension-size-50);
  --spectrum-treeview-s-item-text-render: yes;
  --spectrum-treeview-s-item-text-padding-top: var(--spectrum-global-dimension-static-size-50);
  --spectrum-treeview-s-item-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-treeview-s-item-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-treeview-s-item-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-treeview-s-item-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-treeview-s-item-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-treeview-s-item-text-text-transform: none;
  --spectrum-treeview-s-item-text-font-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-treeview-s-item-indentation: var(--spectrum-global-dimension-size-150);
  --spectrum-treeview-s-item-margin-left: var(--spectrum-global-dimension-size-150);
  --spectrum-treeview-s-item-min-height: var(--spectrum-global-dimension-size-300);
  --spectrum-treeview-s-item-border-radius: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-s-item-padding-left: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-s-item-padding-right: var(--spectrum-global-dimension-size-115);
  --spectrum-treeview-s-item-padding-top: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-s-item-padding-bottom: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-s-item-margin-top: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-s-item-margin-bottom: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-s-item-border-size: var(--spectrum-global-dimension-static-size-25);
  --spectrum-treeview-s-item-affordance-size: var(--spectrum-global-dimension-size-300);
  --spectrum-treeview-s-width: var(--spectrum-global-dimension-static-size-3800);
  --spectrum-treeview-m-item-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-treeview-m-item-text-color-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-treeview-m-item-background-color-disabled: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-m-item-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-m-row-border-color-disabled: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-m-item-group-background-color-disabled: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-m-item-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-treeview-m-item-text-color: var(--spectrum-alias-component-text-color-default);
  --spectrum-treeview-m-item-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-m-item-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-m-row-border-color: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-m-item-group-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-m-item-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-treeview-m-item-text-color-down: var(--spectrum-alias-component-text-color-down);
  --spectrum-treeview-m-item-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-m-item-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-m-row-border-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-m-item-group-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-m-item-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-treeview-m-item-text-color-hover: var(--spectrum-alias-component-text-color-hover);
  --spectrum-treeview-m-item-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-m-item-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-m-row-border-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-m-item-group-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-m-item-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-treeview-m-item-text-color-key-focus: var(--spectrum-alias-component-text-color-key-focus);
  --spectrum-treeview-m-item-background-color-key-focus: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-m-item-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-treeview-m-row-border-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-m-item-group-background-color-key-focus: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-m-item-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-treeview-m-item-text-color-mouse-focus: var(--spectrum-alias-component-text-color-mouse-focus);
  --spectrum-treeview-m-item-background-color-mouse-focus: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-m-item-border-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-m-row-border-color-mouse-focus: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-m-item-group-background-color-mouse-focus: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-m-item-group-border-color: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-m-item-uiicon-size: var(--spectrum-alias-ui-icon-chevron-size-75);
  --spectrum-treeview-m-item-uiicon-margin-right: var(--spectrum-global-dimension-size-25);
  --spectrum-treeview-m-item-icon-size: var(--spectrum-global-dimension-size-225);
  --spectrum-treeview-m-item-icon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-treeview-m-item-icon-padding-top: var(--spectrum-global-dimension-size-85);
  --spectrum-treeview-m-item-icon-padding-bottom: var(--spectrum-global-dimension-size-85);
  --spectrum-treeview-m-item-text-render: yes;
  --spectrum-treeview-m-item-text-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-treeview-m-item-text-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-treeview-m-item-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-treeview-m-item-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-treeview-m-item-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-treeview-m-item-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-treeview-m-item-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-treeview-m-item-text-text-transform: none;
  --spectrum-treeview-m-item-text-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-treeview-m-item-indentation: var(--spectrum-global-dimension-size-200);
  --spectrum-treeview-m-item-margin-left: var(--spectrum-global-dimension-size-200);
  --spectrum-treeview-m-item-min-height: var(--spectrum-global-dimension-size-300);
  --spectrum-treeview-m-item-border-radius: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-m-item-padding-left: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-m-item-padding-right: var(--spectrum-global-dimension-size-150);
  --spectrum-treeview-m-item-padding-top: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-m-item-padding-bottom: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-m-item-margin-top: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-m-item-margin-bottom: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-m-item-border-size: var(--spectrum-global-dimension-static-size-25);
  --spectrum-treeview-m-item-affordance-size: var(--spectrum-global-dimension-size-400);
  --spectrum-treeview-m-width: var(--spectrum-global-dimension-static-size-3800);
  --spectrum-treeview-l-item-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-treeview-l-item-text-color-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-treeview-l-item-background-color-disabled: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-l-item-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-l-row-border-color-disabled: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-l-item-group-background-color-disabled: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-l-item-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-treeview-l-item-text-color: var(--spectrum-alias-component-text-color-default);
  --spectrum-treeview-l-item-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-l-item-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-l-row-border-color: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-l-item-group-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-l-item-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-treeview-l-item-text-color-down: var(--spectrum-alias-component-text-color-down);
  --spectrum-treeview-l-item-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-l-item-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-l-row-border-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-l-item-group-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-l-item-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-treeview-l-item-text-color-hover: var(--spectrum-alias-component-text-color-hover);
  --spectrum-treeview-l-item-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-l-item-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-l-row-border-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-l-item-group-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-l-item-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-treeview-l-item-text-color-key-focus: var(--spectrum-alias-component-text-color-key-focus);
  --spectrum-treeview-l-item-background-color-key-focus: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-l-item-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-treeview-l-row-border-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-l-item-group-background-color-key-focus: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-l-item-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-treeview-l-item-text-color-mouse-focus: var(--spectrum-alias-component-text-color-mouse-focus);
  --spectrum-treeview-l-item-background-color-mouse-focus: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-l-item-border-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-l-row-border-color-mouse-focus: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-l-item-group-background-color-mouse-focus: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-l-item-group-border-color: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-l-item-uiicon-size: var(--spectrum-alias-ui-icon-chevron-size-100);
  --spectrum-treeview-l-item-uiicon-margin-right: var(--spectrum-global-dimension-size-25);
  --spectrum-treeview-l-item-icon-gap: var(--spectrum-global-dimension-size-115);
  --spectrum-treeview-l-item-icon-padding-top: var(--spectrum-global-dimension-size-125);
  --spectrum-treeview-l-item-icon-padding-bottom: var(--spectrum-global-dimension-size-125);
  --spectrum-treeview-l-item-text-render: yes;
  --spectrum-treeview-l-item-text-padding-bottom: var(--spectrum-global-dimension-size-130);
  --spectrum-treeview-l-item-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-treeview-l-item-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-treeview-l-item-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-treeview-l-item-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-treeview-l-item-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-treeview-l-item-text-text-transform: none;
  --spectrum-treeview-l-item-text-font-size: var(--spectrum-global-dimension-font-size-200);
  --spectrum-treeview-l-item-indentation: var(--spectrum-global-dimension-size-250);
  --spectrum-treeview-l-item-margin-left: var(--spectrum-global-dimension-size-250);
  --spectrum-treeview-l-item-min-height: var(--spectrum-global-dimension-size-400);
  --spectrum-treeview-l-item-border-radius: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-l-item-padding-left: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-l-item-padding-right: var(--spectrum-global-dimension-size-185);
  --spectrum-treeview-l-item-padding-top: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-l-item-padding-bottom: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-l-item-margin-top: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-l-item-margin-bottom: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-l-item-border-size: var(--spectrum-global-dimension-static-size-25);
  --spectrum-treeview-l-item-affordance-size: var(--spectrum-global-dimension-size-500);
  --spectrum-treeview-l-width: var(--spectrum-global-dimension-static-size-3800);
  --spectrum-treeview-xl-item-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-treeview-xl-item-text-color-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-treeview-xl-item-background-color-disabled: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-xl-item-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-xl-row-border-color-disabled: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-xl-item-group-background-color-disabled: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-xl-item-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-treeview-xl-item-text-color: var(--spectrum-alias-component-text-color-default);
  --spectrum-treeview-xl-item-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-xl-item-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-xl-row-border-color: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-xl-item-group-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-xl-item-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-treeview-xl-item-text-color-down: var(--spectrum-alias-component-text-color-down);
  --spectrum-treeview-xl-item-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-xl-item-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-xl-row-border-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-xl-item-group-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-xl-item-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-treeview-xl-item-text-color-hover: var(--spectrum-alias-component-text-color-hover);
  --spectrum-treeview-xl-item-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-xl-item-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-xl-row-border-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-xl-item-group-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-xl-item-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-treeview-xl-item-text-color-key-focus: var(--spectrum-alias-component-text-color-key-focus);
  --spectrum-treeview-xl-item-background-color-key-focus: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-xl-item-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-treeview-xl-row-border-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-xl-item-group-background-color-key-focus: var(--spectrum-global-color-gray-200);
  --spectrum-treeview-xl-item-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-treeview-xl-item-text-color-mouse-focus: var(--spectrum-alias-component-text-color-mouse-focus);
  --spectrum-treeview-xl-item-background-color-mouse-focus: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-xl-item-border-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-xl-row-border-color-mouse-focus: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-xl-item-group-background-color-mouse-focus: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-xl-item-group-border-color: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-xl-item-uiicon-size: var(--spectrum-alias-ui-icon-chevron-size-200);
  --spectrum-treeview-xl-item-uiicon-margin-right: var(--spectrum-global-dimension-size-25);
  --spectrum-treeview-xl-item-icon-size: var(--spectrum-global-dimension-size-275);
  --spectrum-treeview-xl-item-icon-gap: var(--spectrum-global-dimension-size-125);
  --spectrum-treeview-xl-item-icon-padding-top: var(--spectrum-global-dimension-size-160);
  --spectrum-treeview-xl-item-icon-padding-bottom: var(--spectrum-global-dimension-size-160);
  --spectrum-treeview-xl-item-text-render: yes;
  --spectrum-treeview-xl-item-text-padding-top: var(--spectrum-global-dimension-size-150);
  --spectrum-treeview-xl-item-text-padding-bottom: var(--spectrum-global-dimension-size-175);
  --spectrum-treeview-xl-item-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-treeview-xl-item-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-treeview-xl-item-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-treeview-xl-item-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-treeview-xl-item-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-treeview-xl-item-text-text-transform: none;
  --spectrum-treeview-xl-item-text-font-size: var(--spectrum-global-dimension-font-size-300);
  --spectrum-treeview-xl-item-indentation: var(--spectrum-global-dimension-size-300);
  --spectrum-treeview-xl-item-margin-left: var(--spectrum-global-dimension-size-300);
  --spectrum-treeview-xl-item-min-height: var(--spectrum-global-dimension-size-500);
  --spectrum-treeview-xl-item-border-radius: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-xl-item-padding-left: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-xl-item-padding-right: var(--spectrum-global-dimension-size-225);
  --spectrum-treeview-xl-item-padding-top: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-xl-item-padding-bottom: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-xl-item-margin-top: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-xl-item-margin-bottom: var(--spectrum-global-dimension-static-size-0);
  --spectrum-treeview-xl-item-border-size: var(--spectrum-global-dimension-static-size-25);
  --spectrum-treeview-xl-item-affordance-size: var(--spectrum-global-dimension-size-600);
  --spectrum-treeview-xl-width: var(--spectrum-global-dimension-static-size-3800);
}
