/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@container style(--system: legacy) {
	.spectrum-Radio {
		/* selection indicator */
		--spectrum-radio-button-border-color-default: var(--spectrum-gray-600);
		--spectrum-radio-button-border-color-hover: var(--spectrum-gray-700);
		--spectrum-radio-button-border-color-down: var(--spectrum-gray-800);
		--spectrum-radio-button-border-color-focus: var(--spectrum-gray-700);

		/* state colors for all themes */
		--spectrum-radio-neutral-content-color: var(--spectrum-neutral-content-color-default);
		--spectrum-radio-neutral-content-color-hover: var(--spectrum-neutral-content-color-hover);
		--spectrum-radio-neutral-content-color-down: var(--spectrum-neutral-content-color-down);
		--spectrum-radio-neutral-content-color-focus: var(--spectrum-neutral-content-color-key-focus);

		/* focus ring all themes */
		--spectrum-radio-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
		--spectrum-radio-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
		--spectrum-radio-focus-indicator-color: var(--spectrum-focus-indicator-color);

		/* disabled all themes */
		--spectrum-radio-disabled-content-color: var(--spectrum-disabled-content-color);
		--spectrum-radio-disabled-border-color: var(--spectrum-disabled-content-color);

		/* emphasized state colors selection indicator all themes */
		--spectrum-radio-emphasized-accent-color: var(--spectrum-accent-color-900);
		--spectrum-radio-emphasized-accent-color-hover: var(--spectrum-accent-color-1000);
		--spectrum-radio-emphasized-accent-color-down: var(--spectrum-accent-color-1100);
		--spectrum-radio-emphasized-accent-color-focus: var(--spectrum-accent-color-1000);

		/* selection indicator all themes */
		--spectrum-radio-border-width: var(--spectrum-border-width-200);
		--spectrum-radio-button-background-color: var(--spectrum-gray-50);

		/* checked selection indicator */
		--spectrum-radio-button-checked-border-color-default: var(--spectrum-neutral-background-color-selected-default);
		--spectrum-radio-button-checked-border-color-hover: var(--spectrum-neutral-background-color-selected-hover);
		--spectrum-radio-button-checked-border-color-down: var(--spectrum-neutral-background-color-selected-down);
		--spectrum-radio-button-checked-border-color-focus: var(--spectrum-neutral-background-color-selected-focus);

		/* spacing all themes */
		--spectrum-radio-text-to-control: var(--spectrum-text-to-control-100);
		--spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-100);
		--spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-100);

		/* text styles all themes */
		--spectrum-radio-font-size: var(--spectrum-font-size-100);
		--spectrum-radio-line-height: var(--spectrum-line-height-100);

		/* animation all themes */
		--spectrum-radio-animation-duration: var(--spectrum-animation-duration-100);

		/* CJK language support all themes */
		&:lang(ja),
		&:lang(zh),
		&:lang(ko) {
			--spectrum-radio-line-height-cjk: var(--spectrum-cjk-line-height-100);
		}

		/* default radio size for no t-shirt size */
		--spectrum-radio-height: var(--spectrum-component-height-100);
		--spectrum-radio-button-control-size: var(--spectrum-radio-button-control-size-medium);

		/* default radio spacing for no t-shirt size */
		--spectrum-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-medium);
	}

	.spectrum-Radio--sizeS {
		--spectrum-radio-height: var(--spectrum-component-height-75);
		--spectrum-radio-button-control-size: var(--spectrum-radio-button-control-size-small);

		--spectrum-radio-text-to-control: var(--spectrum-text-to-control-75);
		--spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-75);
		--spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-75);
		--spectrum-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-small);

		--spectrum-radio-font-size: var(--spectrum-font-size-75);
	}

	.spectrum-Radio--sizeM {
		--spectrum-radio-height: var(--spectrum-component-height-100);
		--spectrum-radio-button-control-size: var(--spectrum-radio-button-control-size-medium);

		--spectrum-radio-text-to-control: var(--spectrum-text-to-control-100);
		--spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-100);
		--spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-100);
		--spectrum-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-medium);

		--spectrum-radio-font-size: var(--spectrum-font-size-100);
	}

	.spectrum-Radio--sizeL {
		--spectrum-radio-height: var(--spectrum-component-height-200);
		--spectrum-radio-button-control-size: var(--spectrum-radio-button-control-size-large);

		--spectrum-radio-text-to-control: var(--spectrum-text-to-control-200);
		--spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-200);
		--spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-200);
		--spectrum-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-large);

		--spectrum-radio-font-size: var(--spectrum-font-size-200);
	}

	.spectrum-Radio--sizeXL {
		--spectrum-radio-height: var(--spectrum-component-height-300);
		--spectrum-radio-button-control-size: var(--spectrum-radio-button-control-size-extra-large);

		--spectrum-radio-text-to-control: var(--spectrum-text-to-control-300);
		--spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-300);
		--spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-300);
		--spectrum-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-extra-large);

		--spectrum-radio-font-size: var(--spectrum-font-size-300);
	}

	.spectrum-Radio--emphasized {
		--spectrum-radio-button-checked-border-color-default: var(--spectrum-accent-color-900);
		--spectrum-radio-button-checked-border-color-hover: var(--spectrum-accent-color-1000);
		--spectrum-radio-button-checked-border-color-down: var(--spectrum-accent-color-1100);
		--spectrum-radio-button-checked-border-color-focus: var(--spectrum-accent-color-1000);
	}
}
