@import '../commons/index.css';

/* topdoc
{{ searchwithin/searchwithin.yml }}
*/

:root {
  --spectrum-searchwithin-width: 250px;

  /* Force override */
  --spectrum-searchwithin-border-radius: 0;
}

.spectrum-SearchWithin {
  width: var(--spectrum-searchwithin-width);
  display: inline-flex;
  position: relative;

  .spectrum-Dropdown-trigger {
    border-top-right-radius: var(--spectrum-searchwithin-border-radius);
    border-bottom-right-radius: var(--spectrum-searchwithin-border-radius);
  }

  .spectrum-Dropdown-label {
    /* Override dropdown's min-width and be tiny */
    min-width: 0;
  }

  .spectrum-Textfield {
    flex: 1;
    margin-left: calc(-1 * var(--spectrum-textfield-border-size)); /* hides left border */
    border-top-left-radius: var(--spectrum-searchwithin-border-radius);
    border-bottom-left-radius: var(--spectrum-searchwithin-border-radius);

    &:hover, &:focus {
      position: relative; /* shows left border */
    }
  }

  .spectrum-ClearButton {
    position: absolute;
    top: 0;
    right: 0;
  }
}
