@import '../commons/index.css';
@import 'font.css';

:root {
  --heading-line-length: 50ch;
  --section-line-length: 75ch;
  --han-heading-line-length: 45ch;
  --han-section-line-length: 60ch;
  --spectrum-dimension-static-font-size-1100: 45px;
  --spectrum-font-line-height-large: 1.7;

  --spectrum-air-300: 2rem;
  --spectrum-air-200: 1.5rem;
  --spectrum-air-100: 1rem;
  --spectrum-air-75: 0.5rem;
  --spectrum-air-50: 0.25rem;
}

/* topdoc
{{ typography/typography-default.yml }}
*/
.spectrum,
.spectrum-Body {
  font-size: var(--spectrum-body-text-size);
  font-weight: var(--spectrum-body-text-font-weight);
  line-height: var(--spectrum-body-text-line-height);
}

.spectrum-Body--italic {
  font-style: italic;
}

.spectrum-Body--large {
  font-size: var(--spectrum-body-large-text-size);
  font-weight: var(--spectrum-body-large-text-font-weight);
  line-height: var(--spectrum-body-large-text-line-height);
}

.spectrum-Body--small {
  font-size: var(--spectrum-body-small-text-size);
  font-weight: var(--spectrum-body-small-text-font-weight);
  line-height: var(--spectrum-body-small-text-line-height);
}

.spectrum-Body--secondary {
  font-size: var(--spectrum-body-secondary-text-size);
  font-weight: var(--spectrum-body-secondary-text-font-weight);
  line-height: var(--spectrum-body-secondary-text-line-height);
}

.spectrum-Heading--display {
  font-weight: var(--spectrum-heading-display-text-font-weight);
  font-size: var(--spectrum-heading-display-text-size);
  line-height: var(--spectrum-heading-display-text-line-height);
}

.spectrum-Heading--pageTitle {
  /**
  * Normalize the margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */
  margin: 0.67em 0;

  font-weight: var(--spectrum-heading-page-title-text-font-weight);
  font-size: var(--spectrum-heading-page-title-text-size);
  line-height: var(--spectrum-heading-page-title-text-line-height);
}

.spectrum-Heading--subtitle1 {
  font-weight: var(--spectrum-heading-subtitle1-text-font-weight);
  font-size: var(--spectrum-heading-subtitle1-text-size);
  line-height: var(--spectrum-heading-subtitle1-text-line-height);
}

.spectrum-Heading--subtitle2 {
  font-weight: var(--spectrum-heading-subtitle2-text-font-weight);
  font-size: var(--spectrum-heading-subtitle2-text-size);
  line-height: var(--spectrum-heading-subtitle2-text-line-height);
}

.spectrum-Heading--subtitle3 {
  font-weight: var(--spectrum-heading-subtitle3-text-font-weight);
  font-size: var(--spectrum-heading-subtitle3-text-size);
  line-height: var(--spectrum-heading-subtitle3-text-line-height);
  text-transform: var(--spectrum-heading-subtitle3-text-transform);
  letter-spacing: var(--spectrum-heading-subtitle3-text-letter-spacing);
}

/* LINE-LENGTH */

.spectrum {
  &-Heading {
    max-width: var(--heading-line-length);

    .spectrum-Body--han & {
      max-width: var(--han-heading-line-length);
    }
  }

  &-Section {
    max-width: var(--section-line-length);

    &:lang(ja),
    &:lang(ko),
    &:lang(zh) {
      max-width: var(--han-section-line-length);
    }
  }
}

/* AIR */

.spectrum-Heading {
  margin-top: var(--spectrum-air-100);
  margin-bottom: var(--spectrum-air-100);
}

.spectrum-Section {
  margin-top: var(--spectrum-air-200);
  margin-bottom: var(--spectrum-air-200);

  > * {
    margin-top: var(--spectrum-air-100);
    margin-bottom: var(--spectrum-air-100);
  }

  .spectrum-Heading + & {
    margin-top: calc(var(--spectrum-air-50) * -1);
    margin-bottom: var(--spectrum-air-200);
  }
}

/* FONT FAMILIES */

/* topdoc
{{ typography/typography-code.yml }}
*/
.spectrum-Code {
  font-family: var(--spectrum-font-family-code);
}

/* topdoc
{{ typography/typography-body.yml }}
*/
.spectrum-Body {
  font-family: var(--spectrum-font-family-base);

  &:lang(ar) {
    font-family: var(--spectrum-font-family-ar);
  }

  &:lang(he) {
    font-family: var(--spectrum-font-family-he);
  }

  &:lang(ja),
  &:lang(ko),
  &:lang(zh) {
    font-family: var(--spectrum-font-family-han);
  }
}

/* topdoc
{{ typography/typography-article.yml }}
*/
.spectrum-Article {
  font-family: var(--spectrum-font-family-article);

  &:lang(ar) {
    font-family: var(--spectrum-font-family-article-ar);
  }

  &:lang(he) {
    font-family: var(--spectrum-font-family-article-he);
  }

  &:lang(ja) {
    font-family: var(--spectrum-font-family-article-ja);
  }

  &:lang(ko) {
    font-family: var(--spectrum-font-family-article-ko);
  }

  &:lang(zh-hans) {
    font-family: var(--spectrum-font-family-article-zh-hans);
  }

  &:lang(zh-hant) {
    font-family: var(--spectrum-font-family-article-zh-hant);
  }
}

/* FONT LAYOUT (Direction, Feature settings, Letter-spacing, Line-height) */

:lang(ar),
:lang(he) {
  direction: rtl;
}

.spectrum-Heading,
.spectrum-Section {

  &:lang(ja),
  &:lang(ko),
  &:lang(zh) {
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
  }
}

.spectrum-Heading {
  line-height: var(--spectrum-global-font-line-height-small);

  &:lang(ja),
  &:lang(ko),
  &:lang(zh) {
    line-height: var(--spectrum-global-font-line-height-medium);
  }
}

.spectrum-Section {
  line-height: var(--spectrum-global-font-line-height-medium);

  &:lang(ja),
  &:lang(ko),
  &:lang(zh) {
    line-height: var(--spectrum-font-line-height-large);
  }
}

.spectrum-Article {
  letter-spacing: 0.0125em;
}

/* EMPHASIS */

.spectrum-Heading {
  font-weight: var(--spectrum-global-font-weight-bold);

  small,
  .spectrum-Emphasis--75,
  &-Emphasis--75 {
    font-weight: var(--spectrum-global-font-weight-light);

    &:lang(ja),
    &:lang(ko),
    &:lang(zh) {
      font-weight: var(--spectrum-global-font-weight-regular);
    }
  }

  em,
  .spectrum-Emphasis--200,
  &-Emphasis--200 {
    font-weight: var(--spectrum-global-font-weight-regular);
    font-style: italic;

    &:lang(ja),
    &:lang(ko),
    &:lang(zh) {
      font-style: normal;
      font-weight: var(--spectrum-global-font-weight-medium);
    }
  }

  strong,
  .spectrum-Emphasis--300,
  &-Emphasis--300 {
    font-weight: var(--spectrum-global-font-weight-black);
  }

}

.spectrum-Section {
  font-weight: var(--spectrum-global-font-weight-regular);

  &:lang(ja),
  &:lang(ko),
  &:lang(zh) {
    font-weight: var(--spectrum-global-font-weight-light);
  }

  small,
  .spectrum-Emphasis--75,
  &-Emphasis--75 {
    font-weight: var(--spectrum-global-font-weight-light);
  }

  em,
  .spectrum-Emphasis--200,
  &-Emphasis--200 {
    font-style: italic;

    &:lang(ja),
    &:lang(ko),
    &:lang(zh) {
      font-style: normal;
      font-weight: var(--spectrum-global-font-weight-medium);
    }
  }

  strong,
  .spectrum-Emphasis--300,
  &-Emphasis--300 {
    font-weight: var(--spectrum-global-font-weight-bold);
  }
}

.spectrum-Article {

  .spectrum-Heading {
    font-weight: var(--spectrum-global-font-weight-medium);

    em,
    .spectrum-Emphasis--200,
    &-Emphasis--200 {
      font-style: italic;
      font-weight: var(--spectrum-global-font-weight-regular);

      &:lang(ja),
      &:lang(ko),
      &:lang(zh) {
        font-style: normal;
        font-weight: var(--spectrum-global-font-weight-bold);
      }
    }

    strong,
    .spectrum-Emphasis--300,
    &-Emphasis--300 {
      font-weight: var(--spectrum-global-font-weight-bold);

      &:lang(ja),
      &:lang(ko),
      &:lang(zh) {
        font-weight: var(--spectrum-global-font-weight-semi-bold);
      }
    }

  }

  .spectrum-Section {
    font-weight: var(--spectrum-global-font-weight-regular);

    &:lang(ja),
    &:lang(ko),
    &:lang(zh) {
      font-weight: var(--spectrum-global-font-weight-ultra-light);
    }

    em,
    .spectrum-Emphasis--200,
    &-Emphasis--200 {
      font-style: italic;

      &:lang(ja),
      &:lang(ko),
      &:lang(zh) {
        font-style: normal;
        font-weight: var(--spectrum-global-font-weight-medium);
      }

    }

    strong,
    .spectrum-Emphasis--300,
    &-Emphasis--300 {
      font-weight: var(--spectrum-global-font-weight-bold);
    }
  }
}

.spectrum-Code {

  .spectrum-Section {

    small,
    .spectrum-Emphasis--75,
    &-Emphasis--75 {
      font-style: italic;
      font-weight: var(--spectrum-global-font-weight-light);
    }
  }
}

/* SIZES */

.spectrum-Heading,
.spectrum-Section {
  small {
    font-size: inherit;
  }
}

.spectrum-Heading-- {
  &1 {
    font-size: calc(var(--spectrum-global-dimension-static-font-size-900) * var(--spectrum-global-dimension-scale-factor));

    &:lang(ar) {
      font-size: calc(var(--spectrum-dimension-static-font-size-1100) * var(--spectrum-global-dimension-scale-factor));
    }

    &:lang(ja),
    &:lang(ko),
    &:lang(zh) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-800) * var(--spectrum-global-dimension-scale-factor));
    }
  }
  &2 {
    font-size: calc(var(--spectrum-global-dimension-static-font-size-700) * var(--spectrum-global-dimension-scale-factor));

    &:lang(ar) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-900) * var(--spectrum-global-dimension-scale-factor));
    }

    &:lang(ja),
    &:lang(ko),
    &:lang(zh) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-600) * var(--spectrum-global-dimension-scale-factor));
    }
  }
  &3 {
    font-size: calc(var(--spectrum-global-dimension-static-font-size-500) * var(--spectrum-global-dimension-scale-factor));

    &:lang(ar) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-700) * var(--spectrum-global-dimension-scale-factor));
    }

    &:lang(ja),
    &:lang(ko),
    &:lang(zh) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-400) * var(--spectrum-global-dimension-scale-factor));
    }
  }
  &4 {
    font-size: calc(var(--spectrum-global-dimension-static-font-size-300) * var(--spectrum-global-dimension-scale-factor));

    &:lang(ar) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-600) * var(--spectrum-global-dimension-scale-factor));
    }
  }
  &5 {
    font-size: calc(var(--spectrum-global-dimension-static-font-size-200) * var(--spectrum-global-dimension-scale-factor));

    &:lang(ar) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-500) * var(--spectrum-global-dimension-scale-factor));
    }
  }
}

.spectrum-Section-- {
  &1 {
    font-size: calc(var(--spectrum-global-dimension-static-font-size-400) * var(--spectrum-global-dimension-scale-factor));

    &:lang(ar) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-700) * var(--spectrum-global-dimension-scale-factor));
    }
  }
  &2 {
    font-size: calc(var(--spectrum-global-dimension-static-font-size-300) * var(--spectrum-global-dimension-scale-factor));

    &:lang(ar) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-600) * var(--spectrum-global-dimension-scale-factor));
    }
  }
  &3 {
    font-size: calc(var(--spectrum-global-dimension-static-font-size-200) * var(--spectrum-global-dimension-scale-factor));

    &:lang(ar) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-500) * var(--spectrum-global-dimension-scale-factor));
    }
  }
  &4 {
    font-size: calc(var(--spectrum-global-dimension-static-font-size-100) * var(--spectrum-global-dimension-scale-factor));

    &:lang(ar) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-400) * var(--spectrum-global-dimension-scale-factor));
    }
  }
  &5 {
    font-size: calc(var(--spectrum-global-dimension-static-font-size-75) * var(--spectrum-global-dimension-scale-factor));

    &:lang(ar) {
      font-size: calc(var(--spectrum-global-dimension-static-font-size-300) * var(--spectrum-global-dimension-scale-factor));
    }
  }
}
