@import '../commons/index.css';
@import 'font.css';

:root {
  --heading-line-length: 50ch;
  --section-line-length: 75ch;
  --han-heading-line-length: 45ch;
  --han-section-line-length: 60ch;

  --typ-medium-size-900: 2.25rem;
  --typ-medium-size-800: 2rem;
  --typ-medium-size-700: 1.75rem;
  --typ-medium-size-600: 1.5625rem;
  --typ-medium-size-500: 1.375rem;
  --typ-medium-size-400: 1.25rem;
  --typ-medium-size-300: 1.125rem;
  --typ-medium-size-200: 1rem;
  --typ-medium-size-100: 0.875rem;
  --typ-medium-size-75: 0.75rem;

  --typ-medium-heading-height-900: 2.925rem;
  --typ-medium-heading-height-800: 2.6rem;
  --typ-medium-heading-height-700: 2.275rem;
  --typ-medium-heading-height-600: 2.03125rem;
  --typ-medium-heading-height-500: 1.7875rem;
  --typ-medium-heading-height-400: 1.625rem;
  --typ-medium-heading-height-300: 1.4625rem;
  --typ-medium-heading-height-200: 1.3rem;
  --typ-medium-heading-height-100: 1.1375rem;

  --typ-medium-section-height-900: 3.375rem;
  --typ-medium-section-height-800: 3rem;
  --typ-medium-section-height-700: 2.625rem;
  --typ-medium-section-height-600: 2.34375rem;
  --typ-medium-section-height-500: 2.0625rem;
  --typ-medium-section-height-400: 1.875rem;
  --typ-medium-section-height-300: 1.6875rem;
  --typ-medium-section-height-200: 1.5rem;
  --typ-medium-section-height-100: 1.3125rem;
  --typ-medium-section-height-75: 1.125rem;

  --typ-large-size-900: 2.75rem;
  --typ-large-size-800: 2.4375rem;
  --typ-large-size-700: 2.125rem;
  --typ-large-size-600: 1.9375rem;
  --typ-large-size-500: 1.6875rem;
  --typ-large-size-400: 1.5rem;
  --typ-large-size-300: 1.375rem;
  --typ-large-size-200: 1.1875rem;
  --typ-large-size-100: 1.0625rem;
  --typ-large-size-75: 0.9375rem;

  --typ-large-heading-height-900: 2.925rem;
  --typ-large-heading-height-800: 2.6rem;
  --typ-large-heading-height-700: 2.275rem;
  --typ-large-heading-height-600: 2.03125rem;
  --typ-large-heading-height-500: 1.7875rem;
  --typ-large-heading-height-400: 1.625rem;
  --typ-large-heading-height-300: 1.4625rem;
  --typ-large-heading-height-200: 1.3rem;
  --typ-large-heading-height-100: 1.1375rem;

  --typ-large-section-height-900: 3.375rem;
  --typ-large-section-height-800: 3rem;
  --typ-large-section-height-700: 2.625rem;
  --typ-large-section-height-600: 2.34375rem;
  --typ-large-section-height-500: 2.0625rem;
  --typ-large-section-height-400: 1.875rem;
  --typ-large-section-height-300: 1.6875rem;
  --typ-large-section-height-200: 1.5rem;
  --typ-large-section-height-100: 1.3125rem;
  --typ-large-section-height-75: 1.125rem;

  --air-300: 2rem;
  --air-200: 1.5rem;
  --air-100: 1rem;
  --air-75: 0.5rem;
  --air-50: 0.25rem;
}

/* topdoc
{{ typography/typography-default.yml }}
*/
.spectrum,
.spectrum-Body {
  font-size: var(--spectrum-body-text-size);
  font-weight: var(--spectrum-body-text-font-weight);
  line-height: var(--spectrum-body-text-line-height);
}

.spectrum-Body--italic {
  font-style: italic;
}

.spectrum-Body--large {
  font-size: var(--spectrum-body-large-text-size);
  font-weight: var(--spectrum-body-large-text-font-weight);
  line-height: var(--spectrum-body-large-text-line-height);
}

.spectrum-Body--small {
  font-size: var(--spectrum-body-small-text-size);
  font-weight: var(--spectrum-body-small-text-font-weight);
  line-height: var(--spectrum-body-small-text-line-height);
}

.spectrum-Body--secondary {
  font-size: var(--spectrum-body-secondary-text-size);
  font-weight: var(--spectrum-body-secondary-text-font-weight);
  line-height: var(--spectrum-body-secondary-text-line-height);
}

.spectrum-Heading--display {
  font-weight: var(--spectrum-heading-display-text-font-weight);
  font-size: var(--spectrum-heading-display-text-size);
  line-height: var(--spectrum-heading-display-text-line-height);
}

.spectrum-Heading--pageTitle {
  /**
  * Normalize the margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */
  margin: 0.67em 0;

  font-weight: var(--spectrum-heading-page-title-text-font-weight);
  font-size: var(--spectrum-heading-page-title-text-size);
  line-height: var(--spectrum-heading-page-title-text-line-height);
}

.spectrum-Heading--subtitle1 {
  font-weight: var(--spectrum-heading-subtitle1-text-font-weight);
  font-size: var(--spectrum-heading-subtitle1-text-size);
  line-height: var(--spectrum-heading-subtitle1-text-line-height);
}

.spectrum-Heading--subtitle2 {
  font-weight: var(--spectrum-heading-subtitle2-text-font-weight);
  font-size: var(--spectrum-heading-subtitle2-text-size);
  line-height: var(--spectrum-heading-subtitle2-text-line-height);
}

.spectrum-Heading--subtitle3 {
  font-weight: var(--spectrum-heading-subtitle3-text-font-weight);
  font-size: var(--spectrum-heading-subtitle3-text-size);
  line-height: var(--spectrum-heading-subtitle3-text-line-height);
  text-transform: var(--spectrum-heading-subtitle3-text-transform);
  letter-spacing: var(--spectrum-heading-subtitle3-text-letter-spacing);
}

/* topdoc
{{ typography/typography-specimen-main.yml }}
*/



/* Line-length */
.spectrum {
  &-Heading {
    max-width: var(--heading-line-length);

    .spectrum-Type--han & {
      max-width: var(--han-heading-line-length);
    }
  }

  &-Section {
    max-width: var(--section-line-length);

    .spectrum-Type--han & {
      max-width: var(--han-section-line-length);
    }
  }
}

/* Air */

.spectrum-Heading {
  margin-top: var(--air-100);
  margin-bottom: var(--air-100);
}

.spectrum-Section {
  margin-top: var(--air-200);
  margin-bottom: var(--air-200);

  > * {
    margin-top: var(--air-100);
    margin-bottom: var(--air-100);
  }

  /* Parent Modifiers */
  .spectrum-Heading + & {
    margin-top: calc(var(--air-50) * -1);
    margin-bottom: var(--air-200);
  }
}

.spectrum-Type {
  font-family: "adobe-clean", sans-serif;

  .spectrum-Heading {
    font-weight: bold;
  }

  section {
    font-weight: normal;

    code {
      font-family: "source-code-pro", monospace;
    }

    li {
      margin: 0.25rem 0;
      display: flex;

    &:before {
       content: "•";
       width: 2ch;
     }
    }

    em,
    &--em {
       font-style: italic;
    }

    strong,
    &--strong {
      font-weight: bold;
    }
  }

  article {
    font-family: "adobe-clean-serif", serif;
    letter-spacing: 0.0125em;

    .spectrum-Heading {
      font-weight: normal;
    }

    section {
      font-weight: normal;

      em,
      &--em {
         font-style: italic;
      }

      strong,
      &--strong {
         font-weight: bold;
      }
    }
  }

  .spectrum-Hero {
    .spectrum-Heading {
      font-weight: 900;

      em,
      &--em {
         font-weight: 300;
      }
    }

    section {
      font-weight: 300;

      em,
      &--em {
         font-weight: bold;
      }
    }
  }

  &,
  &--hebrew {
    .spectrum-Heading-- {
      &1 {
        font-size: var(--typ-medium-size-900);
        line-height: var(--typ-medium-heading-height-900);
      }
      &2 {
        font-size: var(--typ-medium-size-700);
        line-height: var(--typ-medium-heading-height-700);
      }
      &3 {
        font-size: var(--typ-medium-size-500);
        line-height: var(--typ-medium-heading-height-500);
      }
      &4 {
        font-size: var(--typ-medium-size-300);
        line-height: var(--typ-medium-heading-height-300);
      }
      &5 {
        font-size: var(--typ-medium-size-200);
        line-height: var(--typ-medium-heading-height-200);
      }
    }

    .spectrum-Section-- {
      &1 {
        font-size: var(--typ-medium-size-400);
        line-height: var(--typ-medium-section-height-400);
      }
      &2 {
        font-size: var(--typ-medium-size-300);
        line-height: var(--typ-medium-section-height-300);
      }
      &3 {
        font-size: var(--typ-medium-size-200);
        line-height: var(--typ-medium-section-height-200);
      }
      &4 {
        font-size: var(--typ-medium-size-100);
        line-height: var(--typ-medium-section-height-100);
      }
      &5 {
        font-size: var(--typ-medium-size-75);
        line-height: var(--typ-medium-section-height-75);
      }
    }
  }

  &--arabic {
    font-family: "adobe-arabic", serif;
    direction: rtl;

    .spectrum-Heading-- {
      &1 {
        font-size: 2.8125rem;
        line-height: 3.6875rem;
      }
      &2 {
        font-size: 2.25rem;
        line-height: 2.9375rem;
      }
      &3 {
        font-size: 1.75rem;
        line-height: 2.25rem;
      }
      &4 {
        font-size: 1.5625rem;
        line-height: 2.0625rem;
      }
      &5 {
        font-size: 1.375rem;
        line-height: 1.8125rem;
      }
    }

    .spectrum-Section-- {
      &1 {
        font-size: 1.75rem;
        line-height: 2.625rem;
      }
      &2 {
        font-size: 1.5625rem;
        line-height: 2.375rem;
      }
      &3 {
        font-size: 1.375rem;
        line-height: 2.0625rem;
      }
      &4 {
        font-size: 1.25rem;
        line-height: 1.875rem;
      }
      &5 {
        font-size: 1.125rem;
        line-height: 1.6875rem;
      }
    }
  }

  &--hebrew {
    font-family: "adobe-hebrew", "adobe-clean-serif", serif;
    direction: rtl;
  }

/* topdoc
{{ typography/typography-specimen-han.yml }}
*/

  &--han {
    font-feature-settings: "palt";
    font-family: "adobe-clean-han-japanese", sans-serif;
    letter-spacing: 0.05em;

    .spectrum-Heading {
      font-weight: bold;
    }

    section {
      font-weight: 300;

      em,
      &--em {
        font-weight: 500;
      }

      strong,
      &--strong {
        font-weight: bold;
      }
    }

    article {
      .spectrum-Heading {
        font-weight: 500;
      }

      section {
        font-weight: 200;

        em,
        &--em {
           font-weight: 500;
         }

        strong,
        &--strong {
          font-weight: bold;
        }
      }
    }

    .spectrum-Hero {
      .spectrum-Heading {
        font-weight: 900;

        em,
        &--em {
          font-weight: 300;
        }
      }

      &-section {
        font-weight: normal;

        em,
        &--em {
          font-weight: bold;
        }
      }
    }

    .spectrum-Heading-- {
      &1 {
        font-size: var(--typ-medium-size-800);
        line-height: var(--typ-medium-heading-height-800);
      }
      &2 {
        font-size: var(--typ-medium-size-600);
        line-height: var(--typ-medium-heading-height-600);
      }
      &3 {
        font-size: var(--typ-medium-size-400);
        line-height: var(--typ-medium-heading-height-400);
      }
      &4 {
        font-size: var(--typ-medium-size-300);
        line-height: var(--typ-medium-heading-height-300);
      }
      &5 {
        font-size: var(--typ-medium-size-200);
        line-height: var(--typ-medium-heading-height-200);
      }
    }

    .spectrum-Section-- {
      &1 {
        font-size: var(--typ-medium-size-400);
        line-height: var(--typ-medium-section-height-500);
      }
      &2 {
        font-size: var(--typ-medium-size-300);
        line-height: var(--typ-medium-section-height-400);
      }
      &3 {
        font-size: var(--typ-medium-size-200);
        line-height: var(--typ-medium-section-height-300);
      }
      &4 {
        font-size: var(--typ-medium-size-100);
        line-height: var(--typ-medium-section-height-200);
      }
      &5 {
        font-size: var(--typ-medium-size-75);
        line-height: var(--typ-medium-section-height-100);
      }
    }
  }
}
