@import '../commons/index.css';
@import 'font.css';

/* topdoc
{{ typography/typography-default.yml }}
*/
.spectrum,
.spectrum-Body {
  font-size: var(--spectrum-body-text-size);
  font-weight: var(--spectrum-body-text-font-weight);
  line-height: var(--spectrum-body-text-line-height);
}

.spectrum-Body--italic {
  font-style: italic;
}

.spectrum-Body--large {
  font-size: var(--spectrum-body-large-text-size);
  font-weight: var(--spectrum-body-large-text-font-weight);
  line-height: var(--spectrum-body-large-text-line-height);
}

.spectrum-Body--small {
  font-size: var(--spectrum-body-small-text-size);
  font-weight: var(--spectrum-body-small-text-font-weight);
  line-height: var(--spectrum-body-small-text-line-height);
}

.spectrum-Body--secondary {
  font-size: var(--spectrum-body-secondary-text-size);
  font-weight: var(--spectrum-body-secondary-text-font-weight);
  line-height: var(--spectrum-body-secondary-text-line-height);
}

.spectrum-Heading--display {
  font-weight: var(--spectrum-heading-display-text-font-weight);
  font-size: var(--spectrum-heading-display-text-size);
  line-height: var(--spectrum-heading-display-text-line-height);
}

.spectrum-Heading--pageTitle {

  /**
  * Normalize the margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */
  margin: 0.67em 0;

  font-weight: var(--spectrum-heading-page-title-text-font-weight);
  font-size: var(--spectrum-heading-page-title-text-size);
  line-height: var(--spectrum-heading-page-title-text-line-height);
}

.spectrum-Heading--subtitle1 {
  font-weight: var(--spectrum-heading-subtitle1-text-font-weight);
  font-size: var(--spectrum-heading-subtitle1-text-size);
  line-height: var(--spectrum-heading-subtitle1-text-line-height);
}

.spectrum-Heading--subtitle2 {
  font-weight: var(--spectrum-heading-subtitle2-text-font-weight);
  font-size: var(--spectrum-heading-subtitle2-text-size);
  line-height: var(--spectrum-heading-subtitle2-text-line-height);
}

.spectrum-Heading--subtitle3 {
  font-weight: var(--spectrum-heading-subtitle3-text-font-weight);
  font-size: var(--spectrum-heading-subtitle3-text-size);
  line-height: var(--spectrum-heading-subtitle3-text-line-height);
  text-transform: var(--spectrum-heading-subtitle3-text-transform);
  letter-spacing: var(--spectrum-heading-subtitle3-text-letter-spacing);
}
