/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "themes/spectrum-two.css";

.spectrum-ProgressBar {
	position: relative;
	display: inline-flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	inline-size: var(--mod-progressbar-size-default, var(--spectrum-progressbar-size-default));
	min-inline-size: var(--mod-progressbar-min-size, var(--spectrum-progressbar-min-size));
	max-inline-size: var(--mod-progressbar-max-size, var(--spectrum-progressbar-max-size));
	font-size: var(--mod-progressbar-font-size, var(--spectrum-progressbar-font-size));
	vertical-align: top;

	/* Label and Percentage */
	.spectrum-ProgressBar-label,
	.spectrum-ProgressBar-percentage {
		margin-block-start: var(--mod-progressbar-spacing-top-to-text, var(--spectrum-progressbar-spacing-top-to-text));
		margin-block-end: var(--mod-progressbar-spacing-label-to-progressbar, var(--spectrum-progressbar-spacing-label-to-progressbar));

		line-height: var(--mod-progressbar-line-height, var(--spectrum-progressbar-line-height));

		color: var(--mod-progressbar-text-color, var(--spectrum-progressbar-text-color));
		text-align: start;

		&:lang(ja),
		&:lang(zh),
		&:lang(ko) {
			line-height: var(--mod-progressbar-line-height-cjk, var(--spectrum-progressbar-line-height-cjk));
		}
	}

	/* Label */
	.spectrum-ProgressBar-label {
		flex: 1 1 0%;
	}

	/* Percentage */
	.spectrum-ProgressBar-percentage {
		align-self: flex-start;
		margin-inline-start: var(--mod-progressbar-spacing-label-to-text, var(--spectrum-progressbar-spacing-label-to-text));
	}

	/* Track */
	.spectrum-ProgressBar-track {
		/* Visually apply border radius to child elements */
		overflow: hidden;
		inline-size: 100%;
		block-size: var(--mod-progressbar-thickness, var(--spectrum-progressbar-thickness));

		background-color: var(--highcontrast-progressbar-track-color, var(--mod-progressbar-track-color, var(--spectrum-progressbar-track-color)));
		border-radius: var(--spectrum-progressbar-corner-radius);
	}

	.spectrum-ProgressBar-fill {
		block-size: var(--mod-progressbar-thickness, var(--spectrum-progressbar-thickness));
		background-color: var(--highcontrast-progressbar-fill-color, var(--mod-progressbar-fill-color, var(--spectrum-progressbar-fill-color)));
		border: none;
		transition: width 1s;
	}
}

.spectrum-ProgressBar--indeterminate .spectrum-ProgressBar-fill {
	will-change: transform;
	position: relative;
	inline-size: var(--mod-progressbar-fill-size-indeterminate, var(--spectrum-progressbar-fill-size-indeterminate));
	animation-timing-function: var(--mod-progressbar-animation-ease-in-out-indeterminate, var(--spectrum-progressbar-animation-ease-in-out-indeterminate));
}

/* Variants  */
/* Side Label */
.spectrum-ProgressBar--sideLabel {
	display: inline-flex;
	flex-flow: row;
	justify-content: space-between;

	.spectrum-ProgressBar-track {
		flex: 1 1 var(--mod-progressbar-size-default, var(--spectrum-progressbar-size-default));
	}

	.spectrum-ProgressBar-label {
		flex-grow: 0;
		margin-block-end: 0;
		margin-inline-end: var(--mod-progressbar-spacing-label-to-text, var(--spectrum-progressbar-spacing-label-to-text));
	}

	.spectrum-ProgressBar-percentage {
		order: 3;
		margin-block-end: 0;
		margin-inline-start: var(--mod-spacing-progressbar-label-to-text, var(--spectrum-progressbar-spacing-label-to-text));
		text-align: end;
	}
}

/* Static White */
.spectrum-ProgressBar.spectrum-ProgressBar--staticWhite {
	.spectrum-ProgressBar-fill {
		color: var(--mod-progressbar-label-and-value-white, var(--spectrum-progressbar-label-and-value-white));
		background-color: var(--mod-progressbar-fill-color-white, var(--spectrum-progressbar-fill-color-white));
	}

	.spectrum-ProgressBar-label,
	.spectrum-ProgressBar-percentage {
		color: var(--mod-progressbar-label-and-value-white, var(--spectrum-progressbar-label-and-value-white));
	}

	.spectrum-ProgressBar-track {
		background-color: var(--spectrum-progressbar-track-color-white);
	}
}

/* Animations  */
.spectrum-ProgressBar--indeterminate .spectrum-ProgressBar-fill {
	animation: indeterminate-loop-ltr var(--mod-progressbar-animation-duration-indeterminate, var(--spectrum-progressbar-animation-duration-indeterminate)) infinite;
}

.spectrum-ProgressBar--indeterminate .spectrum-ProgressBar-fill:dir(rtl) {
	animation: indeterminate-loop-rtl var(--mod-progressbar-animation-duration-indeterminate, var(--spectrum-progressbar-animation-duration-indeterminate)) infinite;
}

@keyframes indeterminate-loop-ltr {
	from {
		transform: translate(calc(-1 * var(--mod-progressbar-fill-size-indeterminate, var(--spectrum-progressbar-fill-size-indeterminate))));
	}

	to {
		transform: translate(var(--mod-progressbar-size-default, var(--spectrum-progressbar-size-default)));
	}
}

.spectrum-Meter {
	&.is-positive .spectrum-ProgressBar-fill {
		background-color: var(--highcontrast-progressbar-fill-color, var(--mod-progressbar-fill-color-positive, var(--spectrum-progressbar-fill-color-positive)));
	}

	&.is-notice .spectrum-ProgressBar-fill {
		background-color: var(--highcontrast-progressbar-fill-color, var(--mod-progressbar-fill-color-notice, var(--spectrum-progressbar-fill-color-notice)));
	}

	&.is-negative .spectrum-ProgressBar-fill {
		background-color: var(--highcontrast-progressbar-fill-color, var(--mod-progressbar-fill-color-negative, var(--spectrum-progressbar-fill-color-negative)));
	}
}

@keyframes indeterminate-loop-rtl {
	from {
		transform: translate(var(--mod-progressbar-size-default, var(--spectrum-progressbar-fill-size-indeterminate)));
	}

	to {
		transform: translate(calc(-1 * var(--mod-progressbar-size-default, var(--spectrum-progressbar-size-default))));
	}
}

@media (forced-colors: active) {
	.spectrum-ProgressBar-track {
		--highcontrast-progressbar-fill-color: ButtonText;
		--highcontrast-progressbar-track-color: ButtonFace;
		forced-color-adjust: none;
		border: 1px solid ButtonText;
	}
}
