/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@container style(--system: legacy) {
    .spectrum-Menu {
        --spectrum-menu-item-min-height: var(--spectrum-component-height-100);
        --spectrum-menu-item-icon-height: var(--spectrum-workflow-icon-size-100);
        --spectrum-menu-item-icon-width: var(--spectrum-workflow-icon-size-100);
        --spectrum-menu-item-label-font-size: var(--spectrum-font-size-100);
        --spectrum-menu-item-label-text-to-visual: var(--spectrum-text-to-visual-100);

        --spectrum-menu-item-label-inline-edge-to-content: var(--spectrum-component-edge-to-text-100);
        --spectrum-menu-item-top-edge-to-text: var(--spectrum-component-top-to-text-100);
        --spectrum-menu-item-bottom-edge-to-text: var(--spectrum-component-bottom-to-text-100);

        --spectrum-menu-item-text-to-control: var(--spectrum-text-to-control-100);

        --spectrum-menu-item-description-font-size: var(--spectrum-font-size-75);

        --spectrum-menu-section-header-font-size: var(--spectrum-font-size-100);
        --spectrum-menu-section-header-min-width: var(--spectrum-component-height-100);

        --spectrum-menu-item-selectable-edge-to-text-not-selected: var(--spectrum-menu-item-selectable-edge-to-text-not-selected-medium);

        --spectrum-menu-item-checkmark-height: var(--spectrum-menu-item-checkmark-height-medium);
        --spectrum-menu-item-checkmark-width: var(--spectrum-menu-item-checkmark-width-medium);
        --spectrum-menu-item-top-to-checkmark: var(--spectrum-menu-item-top-to-selected-icon-medium);

        --spectrum-menu-item-top-to-action: var(--spectrum-spacing-50);
        --spectrum-menu-item-top-to-checkbox: var(--spectrum-spacing-50);

        --spectrum-menu-item-label-line-height: var(--spectrum-line-height-100);
        --spectrum-menu-item-label-line-height-cjk: var(--spectrum-cjk-line-height-100);
        --spectrum-menu-item-label-to-description-spacing: var(--spectrum-menu-item-label-to-description);
        --spectrum-menu-item-focus-indicator-width: var(--spectrum-border-width-200);
        --spectrum-menu-item-focus-indicator-color: var(--spectrum-blue-800);
        --spectrum-menu-item-label-to-value-area-min-spacing: var(--spectrum-spacing-100);

        --spectrum-menu-item-label-content-color-default: var(--spectrum-neutral-content-color-default);
        --spectrum-menu-item-label-content-color-hover: var(--spectrum-neutral-content-color-hover);
        --spectrum-menu-item-label-content-color-down: var(--spectrum-neutral-content-color-down);
        --spectrum-menu-item-label-content-color-focus: var(--spectrum-neutral-content-color-key-focus);

        --spectrum-menu-item-label-icon-color-default: var(--spectrum-neutral-content-color-default);
        --spectrum-menu-item-label-icon-color-hover: var(--spectrum-neutral-content-color-hover);
        --spectrum-menu-item-label-icon-color-down: var(--spectrum-neutral-content-color-down);
        --spectrum-menu-item-label-icon-color-focus: var(--spectrum-neutral-content-color-key-focus);

        --spectrum-menu-item-label-content-color-disabled: var(--spectrum-disabled-content-color);
        --spectrum-menu-item-label-icon-color-disabled: var(--spectrum-disabled-content-color);

        --spectrum-menu-item-description-line-height: var(--spectrum-line-height-100);
        --spectrum-menu-item-description-line-height-cjk: var(--spectrum-cjk-line-height-100);

        --spectrum-menu-item-description-color-default: var(--spectrum-neutral-subdued-content-color-default);
        --spectrum-menu-item-description-color-hover: var(--spectrum-neutral-subdued-content-color-hover);
        --spectrum-menu-item-description-color-down: var(--spectrum-neutral-subdued-content-color-down);
        --spectrum-menu-item-description-color-focus: var(--spectrum-neutral-subdued-content-color-key-focus);
        --spectrum-menu-item-description-color-disabled: var(--spectrum-disabled-content-color);

        --spectrum-menu-section-header-line-height: var(--spectrum-line-height-100);
        --spectrum-menu-section-header-line-height-cjk: var(--spectrum-cjk-line-height-100);
        --spectrum-menu-section-header-font-weight: var(--spectrum-bold-font-weight);
        --spectrum-menu-section-header-color: var(--spectrum-gray-900);
        --spectrum-menu-collapsible-icon-color: var(--spectrum-gray-900);

        --spectrum-menu-checkmark-icon-color-default: var(--spectrum-accent-color-900);
        --spectrum-menu-checkmark-icon-color-hover: var(--spectrum-accent-color-1000);
        --spectrum-menu-checkmark-icon-color-down: var(--spectrum-accent-color-1100);
        --spectrum-menu-checkmark-icon-color-focus: var(--spectrum-accent-color-1000);

        --spectrum-menu-drillin-icon-color-default: var(--spectrum-neutral-subdued-content-color-default);
        --spectrum-menu-drillin-icon-color-hover: var(--spectrum-neutral-subdued-content-color-hover);
        --spectrum-menu-drillin-icon-color-down: var(--spectrum-neutral-subdued-content-color-down);
        --spectrum-menu-drillin-icon-color-focus: var(--spectrum-neutral-subdued-content-color-key-focus);

        --spectrum-menu-item-value-color-default: var(--spectrum-neutral-subdued-content-color-default);
        --spectrum-menu-item-value-color-hover: var(--spectrum-neutral-subdued-content-color-hover);
        --spectrum-menu-item-value-color-down: var(--spectrum-neutral-subdued-content-color-down);
        --spectrum-menu-item-value-color-focus: var(--spectrum-neutral-subdued-content-color-key-focus);

        --spectrum-menu-checkmark-display-hidden: none;
        --spectrum-menu-checkmark-display-shown: block;
        --spectrum-menu-checkmark-display: var(--spectrum-menu-checkmark-display-shown);

        --spectrum-menu-back-icon-margin: var(--spectrum-navigational-indicator-top-to-back-icon-medium);

        /* "one" icon: chevron + additional icon (we don't count the chevron as an icon because it HAS to be there for a collapsible) */
        --spectrum-menu-item-collapsible-has-icon-submenu-item-padding-x-start: calc((var(--spectrum-menu-item-label-inline-edge-to-content) + var(--spectrum-menu-item-checkmark-width) + var(--spectrum-menu-item-text-to-control) + var(--spectrum-menu-item-icon-width) + var(--spectrum-menu-item-label-text-to-visual) + var(--spectrum-menu-item-focus-indicator-width)));

        /* "no" icon: just the chevron (we're not counting it because it HAS to be there for a collapsible) */
        --spectrum-menu-item-collapsible-no-icon-submenu-item-padding-x-start: calc((var(--spectrum-menu-item-label-inline-edge-to-content) + var(--spectrum-menu-item-checkmark-width) + var(--spectrum-menu-item-label-text-to-visual) + var(--spectrum-menu-item-focus-indicator-width)));
    }

    .spectrum-Menu--sizeS {
        --spectrum-menu-item-min-height: var(--spectrum-component-height-75);
        --spectrum-menu-item-icon-height: var(--spectrum-workflow-icon-size-75);
        --spectrum-menu-item-icon-width: var(--spectrum-workflow-icon-size-75);
        --spectrum-menu-item-label-font-size: var(--spectrum-font-size-75);
        --spectrum-menu-item-label-text-to-visual: var(--spectrum-text-to-visual-75);

        --spectrum-menu-item-label-inline-edge-to-content: var(--spectrum-component-edge-to-text-75);
        --spectrum-menu-item-top-edge-to-text: var(--spectrum-component-top-to-text-75);
        --spectrum-menu-item-bottom-edge-to-text: var(--spectrum-component-bottom-to-text-75);

        --spectrum-menu-item-text-to-control: var(--spectrum-text-to-control-75);

        --spectrum-menu-item-description-font-size: var(--spectrum-font-size-50);

        --spectrum-menu-section-header-font-size: var(--spectrum-font-size-75);
        --spectrum-menu-section-header-min-width: var(--spectrum-component-height-75);

        --spectrum-menu-item-selectable-edge-to-text-not-selected: var(--spectrum-menu-item-selectable-edge-to-text-not-selected-small);

        --spectrum-menu-item-checkmark-height: var(--spectrum-menu-item-checkmark-height-small);
        --spectrum-menu-item-checkmark-width: var(--spectrum-menu-item-checkmark-width-small);
        --spectrum-menu-item-top-to-checkmark: var(--spectrum-menu-item-top-to-selected-icon-small);

        --spectrum-menu-back-icon-margin: var(--spectrum-navigational-indicator-top-to-back-icon-small);
    }

    .spectrum-Menu--sizeL {
        --spectrum-menu-item-min-height: var(--spectrum-component-height-200);
        --spectrum-menu-item-icon-height: var(--spectrum-workflow-icon-size-200);
        --spectrum-menu-item-icon-width: var(--spectrum-workflow-icon-size-200);
        --spectrum-menu-item-label-font-size: var(--spectrum-font-size-200);
        --spectrum-menu-item-label-text-to-visual: var(--spectrum-text-to-visual-200);

        --spectrum-menu-item-label-inline-edge-to-content: var(--spectrum-component-edge-to-text-200);
        --spectrum-menu-item-top-edge-to-text: var(--spectrum-component-top-to-text-200);
        --spectrum-menu-item-bottom-edge-to-text: var(--spectrum-component-bottom-to-text-200);

        --spectrum-menu-item-text-to-control: var(--spectrum-text-to-control-200);

        --spectrum-menu-item-description-font-size: var(--spectrum-font-size-100);

        --spectrum-menu-section-header-font-size: var(--spectrum-font-size-200);
        --spectrum-menu-section-header-min-width: var(--spectrum-component-height-200);

        --spectrum-menu-item-selectable-edge-to-text-not-selected: var(--spectrum-menu-item-selectable-edge-to-text-not-selected-large);

        --spectrum-menu-item-checkmark-height: var(--spectrum-menu-item-checkmark-height-large);
        --spectrum-menu-item-checkmark-width: var(--spectrum-menu-item-checkmark-width-large);
        --spectrum-menu-item-top-to-checkmark: var(--spectrum-menu-item-top-to-selected-icon-large);

        --spectrum-menu-back-icon-margin: var(--spectrum-navigational-indicator-top-to-back-icon-large);
    }

    .spectrum-Menu--sizeXL {
        --spectrum-menu-item-min-height: var(--spectrum-component-height-300);
        --spectrum-menu-item-icon-height: var(--spectrum-workflow-icon-size-300);
        --spectrum-menu-item-icon-width: var(--spectrum-workflow-icon-size-300);
        --spectrum-menu-item-label-font-size: var(--spectrum-font-size-300);
        --spectrum-menu-item-label-text-to-visual: var(--spectrum-text-to-visual-300);

        --spectrum-menu-item-label-inline-edge-to-content: var(--spectrum-component-edge-to-text-300);
        --spectrum-menu-item-top-edge-to-text: var(--spectrum-component-top-to-text-300);
        --spectrum-menu-item-bottom-edge-to-text: var(--spectrum-component-bottom-to-text-300);

        --spectrum-menu-item-text-to-control: var(--spectrum-text-to-control-300);

        --spectrum-menu-item-description-font-size: var(--spectrum-font-size-200);

        --spectrum-menu-section-header-font-size: var(--spectrum-font-size-300);
        --spectrum-menu-section-header-min-width: var(--spectrum-component-height-300);

        --spectrum-menu-item-selectable-edge-to-text-not-selected: var(--spectrum-menu-item-selectable-edge-to-text-not-selected-extra-large);

        --spectrum-menu-item-checkmark-height: var(--spectrum-menu-item-checkmark-height-extra-large);
        --spectrum-menu-item-checkmark-width: var(--spectrum-menu-item-checkmark-width-extra-large);
        --spectrum-menu-item-top-to-checkmark: var(--spectrum-menu-item-top-to-selected-icon-extra-large);

        --spectrum-menu-back-icon-margin: var(--spectrum-navigational-indicator-top-to-back-icon-extra-large);
    }
}
