/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@container style(--system: spectrum) {
	.spectrum-ProgressBar {
		/* Static tokens */
		--spectrum-progressbar-animation-ease-in-out-indeterminate: var(--spectrum-animation-ease-in-out);
		--spectrum-progressbar-animation-duration-indeterminate: var(--spectrum-animation-duration-2000);
		--spectrum-progressbar-corner-radius: var(--spectrum-corner-radius-100);

		--spectrum-progressbar-fill-size-indeterminate: 70%;

		/* --spectrum-global-dimension-static-size-2400 */
		--spectrum-progressbar-size-2400: 192px;

		/* --spectrum-global-dimension-static-size-2500 */
		--spectrum-progressbar-size-2500: 200px;

		/* --spectrum-global-dimension-static-size-2800 */
		--spectrum-progressbar-size-2800: 224px;

		/* Size */
		--spectrum-progressbar-font-size: var(--spectrum-font-size-75);
		--spectrum-progressbar-line-height-cjk: var(--spectrum-cjk-line-height-100);

		--spectrum-progressbar-min-size: var(--spectrum-progress-bar-minimum-width);
		--spectrum-progressbar-max-size: var(--spectrum-progress-bar-maximum-width);

		--spectrum-progressbar-thickness: var(--spectrum-progress-bar-thickness-medium);
		--spectrum-progressbar-line-height: var(--spectrum-line-height-100);

		/* Spacing */
		--spectrum-progressbar-spacing-label-to-progressbar: var(--spectrum-spacing-75);
		--spectrum-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-100);
		--spectrum-progressbar-spacing-label-to-text: var(--spectrum-spacing-200);

		/* Color */
		--spectrum-progressbar-text-color: var(--spectrum-neutral-content-color-default);
		--spectrum-progressbar-track-color: var(--spectrum-gray-200);
		--spectrum-progressbar-fill-color: var(--spectrum-accent-color-900);
		--spectrum-progressbar-fill-color-positive: var(--spectrum-positive-visual-color);
		--spectrum-progressbar-fill-color-notice: var(--spectrum-notice-visual-color);
		--spectrum-progressbar-fill-color-negative: var(--spectrum-negative-visual-color);
		--spectrum-progressbar-label-and-value-white: var(--spectrum-white);
		--spectrum-progressbar-track-color-white: var(--spectrum-transparent-white-400);
		--spectrum-progressbar-fill-color-white: var(--spectrum-white);
	}

	.spectrum-ProgressBar--sizeS {
		--spectrum-progressbar-size-default: var(--spectrum-progressbar-size-2400);

		--spectrum-progressbar-font-size: var(--spectrum-font-size-75);
		--spectrum-progressbar-thickness: var(--spectrum-progress-bar-thickness-small);

		--spectrum-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-75);
	}

	.spectrum-ProgressBar--sizeM {
		--spectrum-progressbar-size-default: var(--spectrum-progressbar-size-2400);

		--spectrum-progressbar-font-size: var(--spectrum-font-size-75);
		--spectrum-progressbar-thickness: var(--spectrum-progress-bar-thickness-large);

		--spectrum-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-75);
	}

	.spectrum-ProgressBar--sizeL {
		--spectrum-progressbar-size-default: var(--spectrum-progressbar-size-2500);

		--spectrum-progressbar-font-size: var(--spectrum-font-size-100);
		--spectrum-progressbar-thickness: var(--spectrum-progress-bar-thickness-large);

		--spectrum-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-200);
	}

	.spectrum-ProgressBar--sizeXL {
		--spectrum-progressbar-size-default: var(--spectrum-progressbar-size-2800);

		--spectrum-progressbar-font-size: var(--spectrum-font-size-200);
		--spectrum-progressbar-thickness: var(--spectrum-progress-bar-thickness-extra-large);

		--spectrum-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-300);
	}

	.spectrum-Meter {
		--spectrum-meter-min-width: var(--spectrum-meter-minimum-width);
		--spectrum-meter-max-width: var(--spectrum-meter-maximum-width);
		--spectrum-meter-inline-size: var(--spectrum-meter-width);
		--spectrum-meter-top-to-text: var(--spectrum-component-top-to-text);
	}

	/* Meter only supports size S and L (default) */
	.spectrum-Meter--sizeS {
		--spectrum-progressbar-thickness: var(--spectrum-meter-thickness-small);
		--spectrum-progressbar-size-default: var(--spectrum-progressbar-size-2400);
		--spectrum-progressbar-font-size: var(--spectrum-font-size-75);
		--spectrum-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-75);
	}

	.spectrum-Meter,
	.spectrum-Meter--sizeL {
		--spectrum-progressbar-thickness: var(--spectrum-meter-thickness-large);
		--spectrum-progressbar-size-default: var(--spectrum-progressbar-size-2500);
		--spectrum-progressbar-font-size: var(--spectrum-font-size-100);
		--spectrum-progressbar-spacing-top-to-text: var(--spectrum-component-top-to-text-200);
	}
}
