/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@container style(--system: express) {
	.spectrum-Tooltip {
		--spectrum-tooltip-backgound-color-default-neutral: var(--spectrum-neutral-subdued-background-color-default);

		--spectrum-tooltip-animation-duration: var(--spectrum-animation-duration-100);

		/* override if additional spacing to source is required */
		--spectrum-tooltip-margin: 0px;

		--spectrum-tooltip-height: var(--spectrum-component-height-75);
		--spectrum-tooltip-max-inline-size: var(--spectrum-tooltip-maximum-width);
		--spectrum-tooltip-border-radius: var(--spectrum-corner-radius-100);

		--spectrum-tooltip-icon-width: var(--spectrum-workflow-icon-size-50);
		--spectrum-tooltip-icon-height: var(--spectrum-workflow-icon-size-50);

		--spectrum-tooltip-font-size: var(--spectrum-font-size-75);
		--spectrum-tooltip-line-height: var(--spectrum-line-height-100);
		--spectrum-tooltip-cjk-line-height: var(--spectrum-cjk-line-height-100);
		--spectrum-tooltip-font-weight: var(--spectrum-regular-font-weight);

		/* horizontal spacing */
		--spectrum-tooltip-spacing-inline: var(--spectrum-component-edge-to-text-75);

		/* vertical spacing */
		--spectrum-tooltip-spacing-block-start: var(--spectrum-component-top-to-text-75);
		--spectrum-tooltip-spacing-block-end: var(--spectrum-component-bottom-to-text-75);

		/* icon spacing */
		--spectrum-tooltip-icon-spacing-inline-start: var(--spectrum-text-to-visual-75);
		--spectrum-tooltip-icon-spacing-inline-end: var(--spectrum-text-to-visual-75);
		--spectrum-tooltip-icon-spacing-block-start: var(--spectrum-component-top-to-workflow-icon-75);

		/* colors */
		--spectrum-tooltip-background-color-informative: var(--spectrum-informative-background-color-default);
		--spectrum-tooltip-background-color-positive: var(--spectrum-positive-background-color-default);
		--spectrum-tooltip-background-color-negative: var(--spectrum-negative-background-color-default);

		--spectrum-tooltip-content-color: var(--spectrum-white);

		/* tip */
		--spectrum-tooltip-tip-inline-size: var(--spectrum-tooltip-tip-width);
		--spectrum-tooltip-tip-block-size: var(--spectrum-tooltip-tip-height);

		/* Width and height of square element used to render the tip triangle. */
		--spectrum-tooltip-tip-square-size: var(--spectrum-tooltip-tip-inline-size);

		/* Percentage value of height divided by width, for calculating clip-path within a square tip. */
		--spectrum-tooltip-tip-height-percentage: 50%;

		/* Tip inset from container edges for clip-paths calculation, to fix hairline gap in Chrome cause by antialiasing. */
		--spectrum-tooltip-tip-antialiasing-inset: 0.5px;

		/* pointer tip - default spacing to edge - corner radius plus half of tip width to neutralize override */
		--spectrum-tooltip-pointer-corner-spacing: var(--spectrum-corner-radius-100);

		/* neutral background changes per theme */
		--spectrum-tooltip-background-color-default: var(--spectrum-tooltip-backgound-color-default-neutral);
	}
}
