/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-TreeView {
	--spectrum-treeview-line-height: var(--spectrum-line-height-200);
	--spectrum-treeview-margin-block: 1em;
	--spectrum-treeview-font-size: var(--spectrum-font-size-100);

	--spectrum-treeview-item-min-block-size: var(--spectrum-component-height-100);
	--spectrum-treeview-item-indentation: var(--spectrum-treeview-item-indentation-medium);

	--spectrum-treeview-item-padding-inline-start: var(--spectrum-component-height-100);
	--spectrum-treeview-item-padding-inline-end: var(--spectrum-component-edge-to-text-100);

	--spectrum-treeview-section-spacing: var(--spectrum-treeview-item-indentation-medium);
	--spectrum-treeview-heading-font-weight: var(--spectrum-bold-font-weight);
	--spectrum-treeview-heading-bottom-to-text: var(--spectrum-component-edge-to-text-100);
	--spectrum-treeview-heading-color: var(--spectrum-heading-color);

	--spectrum-treeview-item-border-size: var(--spectrum-border-width-200);
	--spectrum-treeview-item-border-size-selected: 1px;
	--spectrum-treeview-item-border-radius: 0px;

	--spectrum-treeview-item-border-color-selected: var(--spectrum-blue-800);
	--spectrum-treeview-item-border-color-focus: var(--spectrum-blue-700);

	--spectrum-treeview-item-background-color-hover: var(--spectrum-gray-200);
	--spectrum-treeview-item-background-color-focus: var(--spectrum-gray-200);

	--spectrum-treeview-item-border-color-quiet-selected: transparent;

	--spectrum-treeview-item-icon-gap: var(--spectrum-text-to-visual-75);
	--spectrum-treeview-item-icon-color: var(--spectrum-gray-700);
	--spectrum-treeview-item-icon-color-hover: var(--spectrum-gray-900);
	--spectrum-treeview-item-icon-color-focus: var(--spectrum-gray-900);
	--spectrum-treeview-item-icon-color-selected: var(--spectrum-gray-900);
	--spectrum-treeview-item-icon-color-disabled: var(--spectrum-disabled-content-color);

	--spectrum-treeview-item-text-color: var(--spectrum-neutral-content-color-default);
	--spectrum-treeview-item-text-color-selected: var(--spectrum-gray-900);
	--spectrum-treeview-item-text-color-disabled: var(--spectrum-gray-500);
	--spectrum-treeview-item-text-color-focus: var(--spectrum-gray-900);
	--spectrum-treeview-item-text-color-hover: var(--spectrum-gray-900);

	--spectrum-treeview-indicator-margin-inline-start: calc(-1 * var(--spectrum-component-height-100));
	--spectrum-treeview-indicator-padding: var(--spectrum-disclosure-indicator-top-to-disclosure-icon-medium);

	--spectrum-treeview-item-min-block-size-thumbnail-offset: var(--spectrum-treeview-item-min-block-size-thumbnail-offset-medium, 0px);

	--spectrum-treeview-indicator-animation-duration: var(--spectrum-animation-duration-100);

	&:dir(rtl) {
		--spectrum-logical-rotation: matrix(-1, 0, 0, 1, 0, 0);
	}
}

.spectrum-TreeView--sizeS {
	--spectrum-treeview-font-size: var(--spectrum-font-size-75);

	--spectrum-treeview-item-min-block-size: var(--spectrum-component-height-75);
	--spectrum-treeview-item-indentation: var(--spectrum-treeview-item-indentation-small);
	--spectrum-treeview-heading-bottom-to-text: var(--spectrum-component-edge-to-text-75);

	--spectrum-treeview-item-padding-inline-start: var(--spectrum-component-height-75);
	--spectrum-treeview-indicator-margin-inline-start: calc(-1 * var(--spectrum-component-height-75));
	--spectrum-treeview-item-padding-inline-end: var(--spectrum-component-edge-to-text-75);
	--spectrum-treeview-indicator-padding: var(--spectrum-disclosure-indicator-top-to-disclosure-icon-small);

	--spectrum-treeview-item-min-block-size-thumbnail-offset: 6px;
}

.spectrum-TreeView--sizeL {
	--spectrum-treeview-font-size: var(--spectrum-font-size-200);

	--spectrum-treeview-item-indentation: var(--spectrum-treeview-item-indentation-large);
	--spectrum-treeview-item-min-block-size: var(--spectrum-component-height-200);
	--spectrum-treeview-heading-bottom-to-text: var(--spectrum-component-edge-to-text-200);

	--spectrum-treeview-item-padding-inline-start: var(--spectrum-component-height-200);
	--spectrum-treeview-indicator-margin-inline-start: calc(-1 * var(--spectrum-component-height-200));
	--spectrum-treeview-item-padding-inline-end: var(--spectrum-component-edge-to-text-200);
	--spectrum-treeview-indicator-padding: var(--spectrum-disclosure-indicator-top-to-disclosure-icon-large);

	--spectrum-treeview-item-min-block-size-thumbnail-offset: 0px;
}

.spectrum-TreeView--sizeXL {
	--spectrum-treeview-font-size: var(--spectrum-font-size-300);

	--spectrum-treeview-item-indentation: var(--spectrum-treeview-item-indentation-extra-large);
	--spectrum-treeview-item-min-block-size: var(--spectrum-component-height-300);
	--spectrum-treeview-heading-bottom-to-text: var(--spectrum-component-edge-to-text-300);

	--spectrum-treeview-item-padding-inline-start: var(--spectrum-component-height-300);
	--spectrum-treeview-indicator-margin-inline-start: calc(-1 * var(--spectrum-component-height-300));
	--spectrum-treeview-item-padding-inline-end: var(--spectrum-component-edge-to-text-300);
	--spectrum-treeview-indicator-padding: var(--spectrum-disclosure-indicator-top-to-disclosure-icon-extra-large);

	--spectrum-treeview-item-min-block-size-thumbnail-offset: 0px;
}

.spectrum-TreeView--quiet {
	--mod-treeview-item-background-color-selected: var(--highcontrast-treeview-item-background-color-selected, var(--mod-treeview-item-background-color-quiet-selected, var(--spectrum-treeview-item-background-color-quiet-selected)));
	--mod-treeview-item-border-color-selected: var(--highcontrast-treeview-item-border-color-selected, var(--mod-treeview-item-border-color-selected-quiet, transparent));
}

.spectrum-TreeView--thumbnail {
	--mod-treeview-item-min-block-size: var(--mod-treeview-item-min-block-size-thumbnail, calc(var(--spectrum-treeview-item-min-block-size) + var(--spectrum-treeview-item-min-block-size-thumbnail-offset)));
}

.spectrum-TreeView--detached {
	--mod-treeview-item-border-radius: var(--mod-treeview-item-border-radius-detached, var(--spectrum-corner-radius-100));
}

@media (forced-colors: active) {
	.spectrum-TreeView {
		--highcontrast-treeview-item-background-color-selected: Highlight;
		--highcontrast-treeview-item-border-color-selected: Highlight;
		--highcontrast-treeview-item-text-color-selected: HighlightText;
		--highcontrast-treeview-item-icon-color-selected: HighlightText;

		--highcontrast-treeview-item-icon-color: LinkText;
		--highcontrast-treeview-item-text-color: LinkText;

		--highcontrast-treeview-item-background-color-focus: Highlight;
		--highcontrast-treeview-item-text-color-focus: HighlightText;
		--highcontrast-treeview-item-border-color-focus: CanvasText;
		--highcontrast-treeview-item-icon-color-focus: HighlightText;

		--highcontrast-treeview-item-background-color-disabled: Canvas;
		--highcontrast-treeview-item-text-color-disabled: GrayText;
		--highcontrast-treeview-item-icon-color-disabled: GrayText;

		--highcontrast-treeview-heading-color: CanvasText;
	}

	@supports (color: SelectedItem) {
		.spectrum-TreeView {
			--highcontrast-treeview-item-background-color-selected: SelectedItem;
			--highcontrast-treeview-item-border-color-selected: SelectedItem;
			--highcontrast-treeview-item-text-color-selected: SelectedItemText;
			--highcontrast-treeview-item-icon-color-selected: SelectedItemText;
		}
	}

	.spectrum-TreeView-itemLabel {
		forced-color-adjust: none;
		background: transparent;
	}

	.spectrum-TreeView-itemLink::before {
		forced-color-adjust: none;
	}
}

.spectrum-TreeView {
	user-select: none;
	position: relative;
	display: block;
	margin-block: var(--mod-treeview-margin-block, var(--spectrum-treeview-margin-block));
	padding: 0;
	font-size: var(--mod-treeview-font-size, var(--spectrum-treeview-font-size));
	line-height: var(--mod-treeview-line-height, var(--spectrum-treeview-line-height));
	list-style: none;
	outline: none;

	/* Close (hide) nested treeviews by default. */
	.spectrum-TreeView {
		position: static;
		display: none;
		block-size: 0;
		margin-block: 0;
		padding-inline-start: var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation));
	}
}

.spectrum-TreeView-item {
	/* Don't let child treeviews that are open spill out */
	overflow: hidden;

	&.is-open {
		> .spectrum-TreeView-itemLink > .spectrum-TreeView-itemIndicator {
			/* Rotate the chevron */
			transform: var(--spectrum-logical-rotation,) rotate(90deg);
		}

		> .spectrum-TreeView {
			display: block;

			/* Open the treeview */
			block-size: auto;
		}
	}

	&.is-selected,
	&.is-drop-target {
		> .spectrum-TreeView-itemLink {
			color: var(--highcontrast-treeview-item-text-color-selected, var(--mod-treeview-item-text-color-selected, var(--spectrum-treeview-item-text-color-selected)));

			&::before {
				background-color: var(--highcontrast-treeview-item-background-color-selected, var(--mod-treeview-item-background-color-selected, var(--spectrum-treeview-item-background-color-selected)));
			}

			.spectrum-TreeView-itemIcon {
				color: var(--highcontrast-treeview-item-icon-color-selected, var(--mod-treeview-item-icon-color-selected, var(--spectrum-treeview-item-icon-color-selected)));
			}
		}

		> .spectrum-TreeView-itemLink:not(:focus-visible) {
			&::before {
				border-color: var(--highcontrast-treeview-item-border-color-selected, var(--mod-treeview-item-border-color-selected, var(--spectrum-treeview-item-border-color-selected)));
			}
		}
	}

	&.is-selected {
		> .spectrum-TreeView-itemLink:not(:focus-visible) {
			&::before {
				border-width: var(--mod-treeview-item-border-size-selected, var(--spectrum-treeview-item-border-size-selected));
			}
		}
	}

	&.is-drop-target {
		> .spectrum-TreeView-itemLink {
			&::before {
				border-width: var(--mod-treeview-item-border-size, var(--spectrum-treeview-item-border-size));
			}
		}
	}

	&.is-disabled {
		> .spectrum-TreeView-itemLink {
			color: var(--highcontrast-treeview-item-text-color-disabled, var(--mod-treeview-item-text-color-disabled, var(--spectrum-treeview-item-text-color-disabled)));

			&::before {
				background-color: var(--highcontrast-treeview-item-background-color-disabled, transparent);
			}

			.spectrum-Icon {
				color: var(--highcontrast-treeview-item-icon-color-disabled, var(--mod-treeview-item-icon-color-disabled, var(--spectrum-treeview-item-icon-color-disabled)));
			}
		}
	}
}

.spectrum-TreeView-itemLabel {
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
}

.spectrum-TreeView-itemLink {
	cursor: pointer;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	box-sizing: border-box;

	min-block-size: var(--mod-treeview-item-min-block-size, var(--spectrum-treeview-item-min-block-size));
	padding-inline: var(--mod-treeview-item-padding-inline-start, var(--spectrum-treeview-item-padding-inline-start)) var(--mod-treeview-item-padding-inline-end, var(--spectrum-treeview-item-padding-inline-end));

	color: var(--highcontrast-treeview-item-text-color, var(--mod-treeview-item-text-color, var(--spectrum-treeview-item-text-color)));

	text-decoration: none;

	/* Prevent weirdness that can cause the vertical bar to fall down. */
	white-space: nowrap;
	outline: none;

	/* Background for hover, focus, and selection, that extends the full width of the list. */
	&::before {
		content: "\00a0";
		position: absolute;
		inset-inline: 0;
		box-sizing: border-box;
		min-block-size: var(--mod-treeview-item-min-block-size, var(--spectrum-treeview-item-min-block-size));
		color: transparent;
		background-color: transparent;
		border-color: transparent;

		border-style: solid;
		border-width: var(--mod-treeview-item-border-size, var(--spectrum-treeview-item-border-size)) 0;
	}

	&:focus-visible {
		color: var(--highcontrast-treeview-item-text-color-focus, var(--mod-treeview-item-text-color-focus, var(--spectrum-treeview-item-text-color-focus)));

		&::before {
			background-color: var(--highcontrast-treeview-item-background-color-focus, var(--mod-treeview-item-background-color-focus, var(--spectrum-treeview-item-background-color-focus)));
			border-color: var(--highcontrast-treeview-item-border-color-focus, var(--mod-treeview-item-border-color-focus, var(--spectrum-treeview-item-border-color-focus)));
			border-width: var(--mod-treeview-item-border-size, var(--spectrum-treeview-item-border-size));
		}

		.spectrum-TreeView-itemIcon {
			color: var(--highcontrast-treeview-item-icon-color-focus, var(--mod-treeview-item-icon-color-focus, var(--spectrum-treeview-item-icon-color-focus)));
		}
	}

	&:hover {
		color: var(--highcontrast-treeview-item-text-color-focus, var(--mod-treeview-item-text-color-hover, var(--spectrum-treeview-item-text-color-hover)));

		&::before {
			background-color: var(--highcontrast-treeview-item-background-color-focus, var(--mod-treeview-item-background-color-hover, var(--spectrum-treeview-item-background-color-hover)));
		}

		.spectrum-TreeView-itemIcon {
			color: var(--highcontrast-treeview-item-text-color-focus, var(--mod-treeview-item-icon-color-hover, var(--spectrum-treeview-item-icon-color-hover)));
		}
	}
}

.spectrum-TreeView-itemIcon {
	position: relative;
	flex-shrink: 0;
	margin-inline-end: var(--mod-treeview-item-icon-gap, var(--spectrum-treeview-item-icon-gap));
	color: var(--highcontrast-treeview-item-icon-color, var(--mod-treeview-item-icon-color, var(--spectrum-treeview-item-icon-color)));
	vertical-align: top;
}

.spectrum-TreeView-itemIndicator {
	pointer-events: all;
	position: relative;

	/* Make sure the hover background pseudo element doesn't block clicks on the chevron. */
	z-index: 1;
	transform: var(--spectrum-logical-rotation);
	display: block;
	flex-shrink: 0;
	box-sizing: content-box;
	margin-inline-start: var(--mod-treeview-indicator-margin-inline-start, var(--spectrum-treeview-indicator-margin-inline-start));
	padding-block: var(--mod-treeview-indicator-padding-block, var(--spectrum-treeview-indicator-padding));

	padding-inline: var(--mod-treeview-indicator-padding-inline, var(--spectrum-treeview-indicator-padding));

	transition: transform ease var(--mod-treeview-indicator-animation-duration, var(--spectrum-treeview-indicator-animation-duration));
}

/* Section headings */
.spectrum-TreeView-section > .spectrum-TreeView {
	display: block;
	block-size: auto;
	padding-inline-start: 0;
}

.spectrum-TreeView-section:not(:first-child) {
	margin-block-start: var(--mod-treeview-section-spacing, var(--spectrum-treeview-section-spacing));
}

.spectrum-TreeView-heading {
	padding-block-end: var(--mod-treeview-heading-bottom-to-text, var(--spectrum-treeview-heading-bottom-to-text));
	font-weight: var(--mod-treeview-heading-font-weight, var(--spectrum-treeview-heading-font-weight));
	color: var(--highcontrast-treeview-heading-color, var(--mod-treeview-heading-color, var(--spectrum-treeview-heading-color)));
}

/* Indentation levels used with Flat structure variant. */
.spectrum-TreeView-item--indent1 {
	padding-inline-start: var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation));
}

.spectrum-TreeView-item--indent2 {
	padding-inline-start: calc(2 * var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation)));
}

.spectrum-TreeView-item--indent3 {
	padding-inline-start: calc(3 * var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation)));
}

.spectrum-TreeView-item--indent4 {
	padding-inline-start: calc(4 * var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation)));
}

.spectrum-TreeView-item--indent5 {
	padding-inline-start: calc(5 * var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation)));
}

.spectrum-TreeView-item--indent6 {
	padding-inline-start: calc(6 * var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation)));
}

.spectrum-TreeView-item--indent7 {
	padding-inline-start: calc(7 * var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation)));
}

.spectrum-TreeView-item--indent8 {
	padding-inline-start: calc(8 * var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation)));
}

.spectrum-TreeView-item--indent9 {
	padding-inline-start: calc(9 * var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation)));
}

.spectrum-TreeView-item--indent10 {
	padding-inline-start: calc(10 * var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation)));
}

/* ***** VARIANTS ***** */
.spectrum-TreeView--thumbnail {
	.spectrum-TreeView-itemThumbnail {
		flex-shrink: 0;
		margin-inline-end: var(--mod-treeview-item-icon-gap, var(--spectrum-treeview-item-icon-gap));
	}
}
