/* topdoc
{{ menu/menu-default.yml }}
*/
/* topdoc
{{ menu/menu-nested.yml }}
*/

.spectrum-Menu {
  background-color: var(--spectrum-selectlist-background-color);
}

.spectrum-Menu-item {
  background-color: var(--spectrum-selectlist-option-background-color);
  color: var(--spectrum-selectlist-option-text-color);

  &:focus-ring,
  &.is-focused {
    background-color: var(--spectrum-selectlist-option-background-color-key-focus);
    color: var(--spectrum-selectlist-option-text-color-key-focus);
    border-left-color: var(--spectrum-selectlist-option-focus-indicator-color);
  }

  &:hover,
  &:focus,
  &.is-open {
    background-color: var(--spectrum-selectlist-option-background-color-hover);
    color: var(--spectrum-selectlist-option-text-color-hover);
  }

  &.is-selected {
    color: var(--spectrum-selectlist-option-text-color-selected);

    .spectrum-Menu-checkmark {
      color: var(--spectrum-selectlist-option-icon-color-selected);
    }
  }

  .is-active,
  &:active {
    background-color: var(--spectrum-selectlist-option-background-color-down);
  }

  &.is-disabled {
    background-color: var(--spectrum-selectlist-option-background-color-disabled);
    background-image: none;
    color: var(--spectrum-selectlist-option-text-color-disabled);
    cursor: default;
  }
}

.spectrum-Menu-sectionHeading {
  color: var(--spectrum-heading-subtitle3-text-color);
}

.spectrum-Menu-divider {
  background-color: var(--spectrum-selectlist-divider-color);
}
