/*!
 * Copyright 2025 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-Toast {
	/* Font */
	--spectrum-toast-font-family: var(--spectrum-sans-font-family-stack);
	--spectrum-toast-font-style: var(--spectrum-default-font-style);
	--spectrum-toast-font-size: var(--spectrum-font-size-100);
	--spectrum-toast-font-weight: var(--spectrum-regular-font-weight);

	/* Size */
	--spectrum-toast-corner-radius: var(--spectrum-corner-radius-800);
	--spectrum-toast-icon-block-size: var(--spectrum-workflow-icon-size-100);
	--spectrum-toast-min-block-size: var(--spectrum-toast-height);
	--spectrum-toast-max-inline-size: var(--spectrum-toast-maximum-width);

	--spectrum-toast-line-height: var(--spectrum-line-height-100);
	--spectrum-toast-line-height-cjk: var(--spectrum-cjk-line-height-100);

	/* Space */
	--spectrum-toast-spacing-toast-to-edge: var(--spectrum-spacing-300);
	--spectrum-toast-spacing-block-close-button: var(--spectrum-spacing-200);
	--spectrum-toast-spacing-close-button-to-end-edge: var(--spectrum-spacing-100);
	--spectrum-toast-spacing-text-to-close-button: var(--spectrum-spacing-300);
	--spectrum-toast-spacing-edge-to-button-vertical: var(--spectrum-spacing-200);
	--spectrum-toast-spacing-text-to-button-horizontal: var(--spectrum-spacing-400);
	--spectrum-toast-spacing-button-to-close-button-horizontal: var(--spectrum-spacing-200);
	--spectrum-toast-spacing-icon-to-text: var(--spectrum-text-to-visual-300);
	--spectrum-toast-spacing-start-edge-to-text-and-icon: var(--spectrum-spacing-300);
	--spectrum-toast-spacing-top-edge-to-icon: var(--spectrum-toast-top-to-workflow-icon);
	--spectrum-toast-spacing-top-edge-to-text: var(--spectrum-toast-top-to-text);
	--spectrum-toast-spacing-bottom-edge-to-text: var(--spectrum-toast-bottom-to-text);

	/* Color */
	--spectrum-toast-background-color-default: var(--spectrum-neutral-subdued-background-color-default);
	--spectrum-toast-negative-background-color-default: var(--spectrum-negative-background-color-default);
	--spectrum-toast-positive-background-color-default: var(--spectrum-positive-background-color-default);
	--spectrum-toast-informative-background-color-default: var(--spectrum-informative-background-color-default);
	--spectrum-toast-text-and-icon-color: var(--spectrum-white);

	--mod-closebutton-icon-color-default: var(--mod-toast-text-and-icon-color, var(--spectrum-toast-text-and-icon-color));
}

.spectrum-Toast {
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: row;
	align-items: stretch;
	margin: var(--mod-toast-spacing-toast-to-edge, var(--spectrum-toast-spacing-toast-to-edge));
	min-block-size: var(--mod-toast-min-block-size, var(--spectrum-toast-min-block-size));
	max-inline-size: var(--mod-toast-max-inline-size, var(--spectrum-toast-max-inline-size));

	border-radius: var(--mod-toast-corner-radius, var(--spectrum-toast-corner-radius));

	padding-inline-start: var(--mod-toast-spacing-start-edge-to-text-and-icon, var(--spectrum-toast-spacing-start-edge-to-text-and-icon));

	font-family: var(--mod-toast-font-family, var(--spectrum-toast-font-family));
	font-size: var(--mod-toast-font-size, var(--spectrum-toast-font-size));
	font-style: var(--mod-toast-font-style, var(--spectrum-toast-font-style));
	font-weight: var(--mod-toast-font-weight, var(--spectrum-toast-font-weight));

	-webkit-font-smoothing: antialiased;

	background-color: var(--mod-toast-background-color-default, var(--spectrum-toast-background-color-default));
	color: var(--mod-toast-text-and-icon-color, var(--spectrum-toast-text-and-icon-color));
	overflow-wrap: anywhere;

	&.spectrum-Toast--noButton,
	&:not(:has(.spectrum-Button)) {
		column-gap: var(--mod-toast-spacing-text-to-close-button, var(--spectrum-toast-spacing-text-to-close-button));
	}

	.spectrum-CloseButton {
		margin-block: var(--mod--spectrum-toast-spacing-block-close-button, var(--spectrum-toast-spacing-block-close-button));
		margin-inline-end: var(--mod-toast-spacing-close-button-to-end-edge, var(--spectrum-toast-spacing-close-button-to-end-edge));
		flex-shrink: 0;
	}
}

.spectrum-Toast--negative {
	background-color: var(--mod-toast-negative-background-color-default, var(--spectrum-toast-negative-background-color-default));
}

.spectrum-Toast--info {
	background-color: var(--mod-toast-informative-background-color-default, var(--spectrum-toast-informative-background-color-default));
}

.spectrum-Toast--positive {
	background-color: var(--mod-toast-positive-background-color-default, var(--spectrum-toast-positive-background-color-default));
}

.spectrum-Toast-typeIcon {
	flex-shrink: 0;
	flex-grow: 0;

	block-size: var(--mod-toast-icon-block-size, var(--spectrum-toast-icon-block-size));

	/* Similar to the spectrum-Toast-text calc, now the icon only has an extra margin to add the difference between spacing-200 (which is now around the entire toast) and the requested toast-top-to-workflow-icon token. */
	margin-block-start: calc(var(--spectrum-toast-spacing-top-edge-to-icon) - var(--spectrum-toast-spacing-edge-to-button-vertical));
	margin-inline-end: var(--mod-toast-spacing-icon-to-text, var(--spectrum-toast-spacing-icon-to-text));
	margin-inline-start: 0;
}

.spectrum-Toast .spectrum-Button {
	margin-inline-end: var(--mod-toast-spacing-button-to-close-button-horizontal, var(--spectrum-toast-spacing-button-to-close-button-horizontal));
}

.spectrum-Toast-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	flex: 1 1 auto;
	padding-block: var(--mod-toast-spacing-text-to-button-vertical, var(--spectrum-toast-spacing-edge-to-button-vertical));
	column-gap: var(--spectrum-toast-spacing-text-to-button-horizontal);
}

.spectrum-Toast-content {
	flex: 1 1 auto;
	display: inline-flex;
	align-items: start;
	box-sizing: border-box;
	line-height: var(--mod-toast-line-height, var(--spectrum-toast-line-height));
	text-align: start;
	color: var(--mod-toast-text-and-icon-color, var(--spectrum-toast-text-and-icon-color));

	&:lang(ja),
	&:lang(zh),
	&:lang(ko) {
		line-height: var(--mod-toast-line-height-cjk, var(--spectrum-toast-line-height-cjk));
	}
}

.spectrum-Toast-text {
	/* the toast itself has spacing-200 spacing on the top and bottom. That ensures that the spectrum-Button has the requested spacing-200 token, but poses a problem for the text, which is smaller in height than the button. So this padding for this text is difference between the requested toast-top-to-text/toast-bottom-to-text tokens and the spacing-200.

	This padding + the spacing-200 should equal the requested toast-top-to-text/toast-bottom-to-text tokens. */
	padding-block-start: calc(var(--spectrum-toast-spacing-top-edge-to-text) - var(--spectrum-toast-spacing-edge-to-button-vertical));
	padding-block-end: calc(var(--spectrum-toast-spacing-bottom-edge-to-text) - var(--spectrum-toast-spacing-edge-to-button-vertical));
	margin: 0;
}
