.spectrum-Breadcrumbs-item {
  color: var(--spectrum-breadcrumb-text-color);

  &.is-dragged {
    .spectrum-Breadcrumbs-itemLink {
      color: var(--spectrum-breadcrumb-item-text-color-drop);
      background-color: var(--spectrum-breadcrumb-item-background-color-drop);

      &:before {
        border-color: var(--spectrum-breadcrumb-item-border-color-drop);
      }
    }
  }

  .spectrum-Breadcrumbs-itemSeparator {
    color: var(--spectrum-breadcrumb-ui-icon-color);
  }

  .spectrum-Breadcrumbs-itemLink {
    color: inherit;

    &:hover {
      color: var(--spectrum-breadcrumb-text-color-hover);
    }

    &:focus-ring {
      color: var(--spectrum-breadcrumb-text-color-key-focus);

      &:before {
        border-color: var(--spectrum-breadcrumb-item-border-color-key-focus);
      }
    }

    &:active {
      color: var(--spectrum-breadcrumb-text-color-down);
      border-bottom: 0;
    }
  }

  &.is-selected,
  &:last-of-type {
    color: var(--spectrum-breadcrumb-text-color-down);
  }

  &.is-selected {
    ~ .spectrum-Breadcrumb {
      &:last-of-type {
        color: var(--spectrum-breadcrumb-text-color);
      }
    }
    .spectrum-Breadcrumbs-itemLink {
      &:focus-ring {
        color: var(--spectrum-breadcrumb-text-color-down);
        border-bottom: 0;
      }
    }
  }
}

.spectrum-Breadcrumbs--multiline,
.spectrum-Breadcrumbs--compact {
  .spectrum-Breadcrumbs-item {
    &.is-dragged {
      .spectrum-Breadcrumbs-itemLink:before {
        border-color: transparent;
      }
    }
  }
}

/* topdoc
{{ breadcrumb/breadcrumb.yml }}
*/

/* topdoc
{{ breadcrumb/breadcrumb-title.yml }}
*/

/* topdoc
{{ breadcrumb/breadcrumb-nested.yml }}
*/
