/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "themes/spectrum.css";

/* Windows High Contrast Mode */
@media (forced-colors: active) {
	.spectrum-ColorWheel {
		--highcontrast-colorwheel-border-color-disabled: GrayText;
		--highcontrast-colorwheel-fill-color-disabled: Canvas;
	}

	.spectrum-ColorWheel {
		forced-color-adjust: none;
	}
}

.spectrum-ColorWheel {
	/* --track-width and --border-width to be used with JS in calculating the clip-path paths and colorarea-container-size */
	--track-width: var(--mod-colorwheel-track-width, var(--spectrum-colorwheel-track-width));
	--border-width: var(--mod-colorwheel-border-width, var(--spectrum-colorwheel-border-width));
	cursor: default;
	user-select: none;
	position: relative;
	display: block;
	inline-size: var(--mod-colorwheel-width, var(--spectrum-colorwheel-width));
	min-inline-size: var(--mod-colorwheel-min-width, var(--spectrum-colorwheel-min-width));
	block-size: var(--mod-colorwheel-height, var(--spectrum-colorwheel-height));

	&.is-focused {
		z-index: 2;
	}

	&.is-disabled {
		pointer-events: none;
	}

	&.is-dragged {
		/* Be on top when dragging so loupe can overlap */
		z-index: 2;
	}
}

.spectrum-ColorWheel-inner {
	position: absolute;
	inset-block-start: 0;
	inset-block-end: 0;
	inset-inline-start: 0;
	inset-inline-end: 0;
	display: flex;
	inline-size: var(--mod-colorwheel-colorarea-container-size, var(--spectrum-colorwheel-colorarea-container-size));
	block-size: var(--mod-colorwheel-colorarea-container-size, var(--spectrum-colorwheel-colorarea-container-size));
	margin: auto;
}

.spectrum-ColorWheel-colorarea-container {
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: 100%;
	block-size: auto;
	margin: var(--mod-colorwheel-colorarea-margin, var(--spectrum-colorwheel-colorarea-margin));
}

.spectrum-ColorWheel-slider {
	pointer-events: none;
	position: absolute;
	z-index: 0;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	margin: 0;
	opacity: 0;
}

.spectrum-ColorWheel-handle {
	inset-block-start: 50%;
	inset-inline: 50%;
	transform: translate(var(--spectrum-colorwheel-colorhandle-position), 0);
}

.spectrum-ColorWheel-ColorArea-handle {
	inset-block-start: 0;
	inset-inline-end: 0;

	&:dir(rtl) {
		inset-inline-start: 0;
	}
}

/* a clip-path set border-width wider than than spectrum-colorwheel-wheel to create the appreance of a border */
.spectrum-ColorWheel-border {
	position: relative;
	inline-size: var(--mod-colorwheel-width, var(--spectrum-colorwheel-width));
	block-size: var(--mod-colorwheel-height, var(--spectrum-colorwheel-height));
	background-color: var(--mod-colorwheel-border-color, var(--spectrum-colorwheel-border-color));
	clip-path: path(evenodd, var(--mod-colorwheel-path-borders, var(--spectrum-colorwheel-path-borders)));

	&.is-disabled {
		background-color: var(--highcontrast-colorwheel-border-color-disabled, var(--mod-colorwheel-fill-color-disabled, var(--spectrum-colorwheel-fill-color-disabled)));
	}
}

.spectrum-ColorWheel-wheel {
	position: absolute;
	inset-block: var(--spectrum-colorwheel-border-width);
	inset-inline: var(--spectrum-colorwheel-border-width);
	background: conic-gradient(from 90deg, red, rgb(255, 128, 0), rgb(255, 255, 0), rgb(128, 255, 0), rgb(0, 255, 0), rgb(0, 255, 128), rgb(0, 255, 255), rgb(0, 128, 255), rgb(0, 0, 255), rgb(128, 0, 255), rgb(255, 0, 255), rgb(255, 0, 128), red);
	clip-path: path(evenodd, var(--mod-colorwheel-path, var(--spectrum-colorwheel-path)));

	&.is-disabled {
		pointer-events: none;
		background: var(--highcontrast-colorwheel-fill-color-disabled, var(--mod-colorwheel-fill-color-disabled, var(--spectrum-colorwheel-fill-color-disabled)));
	}
}
