@import '../commons/index.css';

:root {
  --spectrum-miller-column-margin: 8px;
}

/* topdoc
{{ miller/miller-default.yml }}
*/
.spectrum-MillerColumns {
  overflow-x: auto;
  white-space: nowrap;
  user-select: none;
  padding: var(--spectrum-miller-column-margin) 0;
}

.spectrum-MillerColumns-item {
  display: inline-block;
  width: var(--spectrum-miller-column-width);
  vertical-align: top;
  outline: none;
  margin: 0;
  padding: 0;
  margin-right: var(--spectrum-miller-column-margin);
  overflow: auto;
  height: 100%;

  &:first-child {
    margin-left: var(--spectrum-miller-column-margin);
  }
}
