:root {
  --spectrum-global-color-status: Verified;
  --spectrum-global-color-version: 5.1.0;
  --spectrum-global-color-gray-50: rgb(0, 0, 0);
  --spectrum-global-color-gray-75: rgb(15, 15, 15);
  --spectrum-global-color-gray-100: rgb(29, 29, 29);
  --spectrum-global-color-gray-200: rgb(46, 46, 46);
  --spectrum-global-color-gray-300: rgb(68, 68, 68);
  --spectrum-global-color-gray-400: rgb(97, 97, 97);
  --spectrum-global-color-gray-500: rgb(135, 135, 135);
  --spectrum-global-color-gray-600: rgb(175, 175, 175);
  --spectrum-global-color-gray-700: rgb(210, 210, 210);
  --spectrum-global-color-gray-800: rgb(235, 235, 235);
  --spectrum-global-color-gray-900: rgb(255, 255, 255);
  --spectrum-global-color-green-400: rgb(0, 141, 93);
  --spectrum-global-color-green-500: rgb(10, 157, 106);
  --spectrum-global-color-green-600: rgb(39, 174, 121);
  --spectrum-global-color-blue-400: rgb(18, 119, 243);
  --spectrum-global-color-blue-500: rgb(45, 138, 245);
  --spectrum-global-color-blue-600: rgb(74, 156, 245);
  --spectrum-global-color-red-400: rgb(232, 51, 38);
  --spectrum-global-color-red-500: rgb(244, 79, 60);
  --spectrum-global-color-red-600: rgb(253, 106, 84);
  --spectrum-global-color-seafoam-400: rgb(0, 153, 161);
  --spectrum-global-color-seafoam-500: rgb(0, 170, 176);
  --spectrum-global-color-seafoam-600: rgb(42, 187, 191);
  --spectrum-global-color-seafoam-700: rgb(75, 204, 206);
  --spectrum-global-color-indigo-400: rgb(119, 124, 250);
  --spectrum-global-color-indigo-500: rgb(138, 142, 255);
  --spectrum-global-color-indigo-600: rgb(157, 160, 255);
  --spectrum-global-color-indigo-700: rgb(177, 180, 255);
  --spectrum-global-color-purple-400: rgb(169, 104, 249);
  --spectrum-global-color-purple-500: rgb(182, 126, 252);
  --spectrum-global-color-purple-600: rgb(195, 147, 253);
  --spectrum-global-color-purple-700: rgb(208, 169, 254);
  --spectrum-global-color-fuchsia-400: rgb(219, 74, 221);
  --spectrum-global-color-fuchsia-500: rgb(232, 98, 233);
  --spectrum-global-color-fuchsia-600: rgb(241, 125, 240);
  --spectrum-global-color-fuchsia-700: rgb(248, 152, 245);
  --spectrum-global-color-magenta-400: rgb(234, 79, 145);
  --spectrum-global-color-magenta-500: rgb(245, 103, 161);
  --spectrum-global-color-magenta-600: rgb(254, 128, 177);
  --spectrum-global-color-magenta-700: rgb(255, 156, 193);
  --spectrum-global-color-orange-400: rgb(238, 121, 3);
  --spectrum-global-color-orange-500: rgb(252, 140, 28);
  --spectrum-global-color-orange-600: rgb(255, 166, 64);
  --spectrum-global-color-orange-700: rgb(255, 192, 108);
  --spectrum-global-color-yellow-400: rgb(202, 165, 0);
  --spectrum-global-color-yellow-500: rgb(219, 183, 0);
  --spectrum-global-color-yellow-600: rgb(236, 202, 0);
  --spectrum-global-color-yellow-700: rgb(251, 223, 23);
  --spectrum-global-color-chartreuse-400: rgb(118, 187, 38);
  --spectrum-global-color-chartreuse-500: rgb(138, 204, 57);
  --spectrum-global-color-chartreuse-600: rgb(161, 221, 83);
  --spectrum-global-color-chartreuse-700: rgb(190, 237, 120);
  --spectrum-global-color-celery-400: rgb(21, 177, 43);
  --spectrum-global-color-celery-500: rgb(50, 194, 62);
  --spectrum-global-color-celery-600: rgb(85, 211, 86);
  --spectrum-global-color-celery-700: rgb(121, 227, 111);
  --spectrum-global-color-opacity-100: 1;
  --spectrum-global-color-opacity-90: 0.9;
  --spectrum-global-color-opacity-80: 0.8;
  --spectrum-global-color-opacity-70: 0.7;
  --spectrum-global-color-opacity-60: 0.6;
  --spectrum-global-color-opacity-55: 0.55;
  --spectrum-global-color-opacity-50: 0.5;
  --spectrum-global-color-opacity-42: 0.42;
  --spectrum-global-color-opacity-40: 0.4;
  --spectrum-global-color-opacity-30: 0.3;
  --spectrum-global-color-opacity-25: 0.25;
  --spectrum-global-color-opacity-20: 0.2;
  --spectrum-global-color-opacity-15: 0.15;
  --spectrum-global-color-opacity-10: 0.1;
  --spectrum-global-color-opacity-8: 0.08;
  --spectrum-global-color-opacity-7: 0.07;
  --spectrum-global-color-opacity-6: 0.06;
  --spectrum-global-color-opacity-5: 0.05;
  --spectrum-global-color-opacity-4: 0.04;
  --spectrum-global-color-opacity-0: 0.00;
  --spectrum-global-color-red-700: rgb(255, 123, 130);
  --spectrum-global-color-green-700: rgb(63, 200, 156);
  --spectrum-global-color-blue-700: rgb(90, 169, 250);
  --spectrum-alias-avatar-border-color-default: rgba(255,255,255,0.1);
  --spectrum-alias-avatar-border-color-hover: rgba(255,255,255,0.25);
  --spectrum-alias-avatar-border-color-down: rgba(255,255,255,0.4);
  --spectrum-alias-avatar-border-color-key-focus: rgba(255,255,255,0.25);
  --spectrum-alias-avatar-border-color-selected-disabled: rgba(255,255,255,0.1);
  --spectrum-alias-border-color-selected: rgba(255,255,255,0.9);
  --spectrum-alias-background-color-primary: var(--spectrum-global-color-gray-100);
  --spectrum-alias-background-color-secondary: var(--spectrum-global-color-gray-75);
  --spectrum-alias-background-color-tertiary: var(--spectrum-global-color-gray-50);
  --spectrum-alias-background-color-modal-overlay: rgba(0,0,0,0.5);
  --spectrum-alias-dropshadow-color: rgba(0,0,0,0.5);
  --spectrum-alias-background-color-hover-overlay: rgba(255,255,255,0.06);
  --spectrum-alias-highlight-hover: rgba(255,255,255,0.07);
  --spectrum-alias-highlight-down: rgba(255,255,255,0.1);
  --spectrum-alias-highlight-selected: rgba(45,138,245,0.15);
  --spectrum-alias-highlight-selected-hover: rgba(45,138,245,0.25);
  --spectrum-alias-text-highlight-color: rgba(45,138,245,0.25);
  --spectrum-alias-background-color-quickactions: rgba(29,29,29,0.9);
  --spectrum-alias-border-color-translucent: rgba(255,255,255,0.1);
  --spectrum-alias-radial-reaction-color-default: rgba(235,235,235,0.6);
  --spectrum-alias-pasteboard-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-alias-appframe-border-color: var(--spectrum-global-color-gray-50);
  --spectrum-alias-appframe-separator-color: var(--spectrum-global-color-gray-50);
  --spectrum-slider-s-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-ramp-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-range-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-ramp-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-range-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-ramp-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-range-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-ramp-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-s-range-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-ramp-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-range-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-ramp-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-range-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-ramp-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-range-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-ramp-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-m-range-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-ramp-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-range-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-ramp-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-range-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-ramp-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-range-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-ramp-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-l-range-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-ramp-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-range-tick-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-ramp-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-range-tick-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-ramp-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-range-editable-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-ramp-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-slider-xl-range-radial-reaction-color: rgba(235,235,235,0.6);
  --spectrum-well-background-color: rgba(235,235,235,0.02);
  --spectrum-well-border-color: rgba(255,255,255,0.05);
}
