.spectrum-Loader--bar-fill {
  background: var(--spectrum-loader-blue-color-default);
}

.spectrum-Loader--bar-track {
  background-color: var(--spectrum-loader-background-color-default);
}

.spectrum-Loader--bar--fullpage {
  .spectrum-Loader--bar-fill {
    background: var(--spectrum-loader-fill-color-fullpage);
  }

  .spectrum-Loader--bar-label, & .spectrum-Loader--bar-percentage {
    color: var(--spectrum-loader-fill-color-fullpage);
  }

  .spectrum-Loader--bar-track {
    background-color: var(--spectrum-loader-background-color-fullpage);
  }
}

.spectrum-Loader-track {
  border-color: var(--spectrum-loader-background-color-default);
}

.spectrum-Loader-Indeterminate {
  background-color: inherit;
}

.spectrum-Loader-fill {
  border-color: var(--spectrum-loader-blue-color-default);
}

.spectrum-Loader--fullpage {
  .spectrum-Loader-track {
    border-color: var(--spectrum-loader-background-color-fullpage);
  }
  .spectrum-Loader-fill {
    border-color: var(--spectrum-loader-fill-color-fullpage);
  }
}

.spectrum-Loader--indeterminateFullpage {
  .spectrum-Loader-track {
    border-color: var(--spectrum-loader-background-color-fullpage);
  }
  .spectrum-Loader-fill {
    border-color: var(--spectrum-loader-fill-color-fullpage);
  }
}
