@import '../commons/index.css';

/* topdoc
{{ rule/rule-default.yml }}
*/
.spectrum-Rule {
  /* Show the overflow for hr in Edge and IE. */
  overflow: visible;

  border: none;
  border-width: var(--spectrum-rule-medium-height);
  border-radius: var(--spectrum-rule-medium-height);
}

.spectrum-Rule--large {
  height: var(--spectrum-rule-large-height);

  border-radius: var(--spectrum-rule-large-border-radius);
}

.spectrum-Rule--medium {
  height: var(--spectrum-rule-medium-height);

  border-radius: var(--spectrum-rule-medium-border-radius);
}

.spectrum-Rule--small {
  height: var(--spectrum-rule-small-height);

  border-radius: var(--spectrum-rule-small-border-radius);
}
