.spectrum-Rule {
  border-color: var(--spectrum-rule-medium-background-color);
}

.spectrum-Rule--subsection {
  border-color: var(--spectrum-rule-subsection-border-color);
}

.spectrum-Rule--subsection2 {
  border-color: var(--spectrum-rule-subsection2-border-color);
}

.spectrum-Rule--panel {
  border-color: var(--spectrum-rule-panel-border-color);
}
