/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "themes/spectrum-two.css";

@media (forced-colors: active) {
	.spectrum-InfieldButton {
		&:hover:not(:disabled),
		&:active:not(:disabled),
		&:focus-visible:not(:disabled) {
			--highcontrast-infield-button-border-color: Highlight;
		}
	}
}

.spectrum-InfieldButton {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: var(--mod-infield-button-width, var(--spectrum-infield-button-width));

	block-size: var(--mod-infield-button-height, var(--spectrum-infield-button-height));

	padding: var(--mod-infield-button-edge-to-fill, var(--spectrum-infield-button-edge-to-fill));
	background-color: transparent;
	border-style: none;

	.spectrum-InfieldButton-fill {
		inline-size: 100%;
		block-size: 100%;

		padding: var(--mod-infield-button-fill-padding, var(--spectrum-infield-button-fill-padding));

		background-color: var(--mod-infield-button-background-color, var(--spectrum-infield-button-background-color));
		border-color: var(--highcontrast-infield-button-border-color, var(--mod-infield-button-border-color, var(--spectrum-infield-button-border-color)));
		border-style: solid;

		border-width: var(--mod-infield-button-border-width, var(--spectrum-infield-button-border-width));
		border-start-start-radius: var(--mod-infield-button-border-radius, var(--spectrum-infield-button-border-radius));
		border-start-end-radius: var(--mod-infield-button-border-radius, var(--spectrum-infield-button-border-radius));
		border-end-start-radius: var(--mod-infield-button-border-radius, var(--spectrum-infield-button-border-radius));
		border-end-end-radius: var(--mod-infield-button-border-radius, var(--spectrum-infield-button-border-radius));
	}

	.spectrum-InfieldButton-icon {
		color: var(--mod-infield-button-icon-color, var(--spectrum-infield-button-icon-color));
	}

	&.spectrum-InfieldButton--right {
		.spectrum-InfieldButton-fill {
			border-start-start-radius: var(--mod-infield-button-border-radius-reset, var(--spectrum-infield-button-border-radius-reset));
			border-end-start-radius: var(--mod-infield-button-border-radius-reset, var(--spectrum-infield-button-border-radius-reset));
		}
	}

	&.spectrum-InfieldButton--left {
		.spectrum-InfieldButton-fill {
			border-start-end-radius: var(--mod-infield-button-border-radius-reset, var(--spectrum-infield-button-border-radius-reset));
			border-end-end-radius: var(--mod-infield-button-border-radius-reset, var(--spectrum-infield-button-border-radius-reset));
		}
	}

	&:disabled {
		--spectrum-infield-button-background-color: var(--mod-infield-button-background-color-disabled, var(--spectrum-disabled-background-color));
		--spectrum-infield-button-background-color-hover: var(--mod-infield-button-background-color-hover-disabled, var(--spectrum-disabled-background-color));
		--spectrum-infield-button-background-color-down: var(--mod-infield-button-background-color-down-disabled, var(--spectrum-disabled-background-color));
		--spectrum-infield-button-border-color: var(--mod-infield-button-border-color-disabled, var(--spectrum-disabled-background-color));
		--spectrum-infield-button-icon-color: var(--mod-infield-button-icon-color-disabled, var(--spectrum-disabled-content-color));
		--spectrum-infield-button-icon-color-hover: var(--mod-infield-button-icon-color-hover-disabled, var(--spectrum-disabled-content-color));
		--spectrum-infield-button-icon-color-down: var(--mod-infield-button-icon-color-down-disabled, var(--spectrum-disabled-content-color));
		--spectrum-infield-button-icon-color-key-focus: var(--mod-infield-button-icon-color-key-focus-disabled, var(--spectrum-disabled-content-color));
		cursor: auto;

	}

	&:hover {
		.spectrum-InfieldButton-fill {
			background-color: var(--mod-infield-button-background-color-hover, var(--spectrum-infield-button-background-color-hover));
		}

		.spectrum-InfieldButton-icon {
			color: var(--mod-infield-button-icon-color-hover, var(--spectrum-infield-button-icon-color-hover));
		}
	}

	&:active {
		.spectrum-InfieldButton-fill {
			background-color: var(--mod-infield-button-background-color-down, var(--spectrum-infield-button-background-color-down));
		}

		.spectrum-InfieldButton-icon {
			color: var(--mod-infield-button-icon-color-down, var(--spectrum-infield-button-icon-color-down));
		}
	}

	&:focus-visible {
		outline: none;

		.spectrum-InfieldButton-fill {
			background-color: var(--mod-infield-button-background-color-key-focus, var(--spectrum-infield-button-background-color-key-focus));
		}

		.spectrum-InfieldButton-icon {
			color: var(--mod-infield-button-icon-color-key-focus, var(--spectrum-infield-button-icon-color-key-focus));
		}
	}

	&.spectrum-InfieldButton--quiet {
		--spectrum-infield-button-background-color: var(--mod-infield-button-background-color-quiet, transparent);
		--spectrum-infield-button-background-color-hover: var(--mod-infield-button-background-color-hover-quiet, transparent);
		--spectrum-infield-button-background-color-down: var(--mod-infield-button-background-color-down-quiet, transparent);
		--spectrum-infield-button-background-color-key-focus: var(--mod-infield-button-background-color-key-focus-quiet, transparent);

		--spectrum-infield-border-color: var(--mod-infield-border-color-quiet, transparent);
		--spectrum-infield-button-border-width: var(--mod-infield-button-border-width-quiet, 0);

		&:disabled {
			--spectrum-infield-button-background-color: var(--mod-infield-button-background-color-quiet-disabled, transparent);
			--spectrum-infield-button-border-color: var(--mod-infield-button-border-color-quiet-disabled, transparent);
		}
	}

}

.spectrum-InfieldButton-fill {
	/* center icon */
	display: flex;
	align-items: center;
	justify-content: var(--mod-infield-button-fill-justify-content, var(--spectrum-infield-button-fill-justify-content));

	transition: border-color var(--spectrum-global-animation-duration-100) ease-in-out;
}

/* Stacked in-field buttons */
/* Not currently in use (stepper uses Action Buttons) but adding the CSS so the option is there */
.spectrum-InfieldButton--top,
.spectrum-InfieldButton--bottom {
	block-size: calc(var(--mod-infield-button-height, var(--spectrum-infield-button-height)) / 2);

	.spectrum-InfieldButton-fill {
		box-sizing: border-box;
		padding-inline-start: calc(var(--mod-infield-button-stacked-fill-padding-inline, var(--spectrum-infield-button-stacked-fill-padding-inline)) - var(--mod-infield-button-edge-to-fill, var(--spectrum-infield-button-edge-to-fill)) - var(--mod-infield-button-border-width, var(--spectrum-infield-button-border-width)));
		padding-inline-end: calc(var(--mod-infield-button-stacked-fill-padding-inline, var(--spectrum-infield-button-stacked-fill-padding-inline)) - var(--mod-infield-button-edge-to-fill, var(--spectrum-infield-button-edge-to-fill)) - var(--mod-infield-button-border-width, var(--spectrum-infield-button-border-width)));
	}
}

.spectrum-InfieldButton--top {
	padding-block-end: var(--mod-infield-button-inner-edge-to-fill, var(--spectrum-infield-button-inner-edge-to-fill));

	.spectrum-InfieldButton-fill {
		padding-block-start: calc(var(--mod-infield-button-stacked-fill-padding-outer, var(--spectrum-infield-button-stacked-fill-padding-outer)) - var(--mod-infield-button-edge-to-fill, var(--spectrum-infield-button-edge-to-fill)) - var(--mod-infield-button-border-width, var(--spectrum-infield-button-border-width)));
		padding-block-end: calc(var(--mod-infield-button-stacked-fill-padding-inner, var(--spectrum-infield-button-stacked-fill-padding-inner)) - var(--mod-infield-button-inner-edge-to-fill, var(--spectrum-infield-button-inner-edge-to-fill)));
		border-block-end: none;
		border-start-start-radius: var(--mod-infield-button-stacked-top-border-radius-start-start, var(--spectrum-infield-button-stacked-top-border-radius-start-start));
		border-end-start-radius: var(--mod-infield-button-stacked-border-radius-reset, var(--spectrum-infield-button-stacked-border-radius-reset));
		border-end-end-radius: var(--mod-infield-button-stacked-border-radius-reset, var(--spectrum-infield-button-stacked-border-radius-reset));
	}
}

.spectrum-InfieldButton--bottom {
	padding-block-start: var(--mod-infield-button-inner-edge-to-fill, var(--spectrum-infield-button-inner-edge-to-fill));

	.spectrum-InfieldButton-fill {
		padding-block-start: calc(var(--mod-infield-button-stacked-fill-padding-inner, var(--spectrum-infield-button-stacked-fill-padding-inner)) - var(--mod-infield-button-edge-to-fill, var(--spectrum-infield-button-edge-to-fill)) - var(--mod-infield-button-border-width, var(--spectrum-infield-button-border-width)));
		padding-block-end: calc(var(--mod-infield-button-stacked-fill-padding-outer, var(--spectrum-infield-button-stacked-fill-padding-outer)) - var(--mod-infield-button-inner-edge-to-fill, var(--spectrum-infield-button-inner-edge-to-fill)) - var(--mod-infield-button-border-width, var(--spectrum-infield-button-border-width)));
		border-block-end-width: var(--mod-infield-button-stacked-bottom-border-block-end-width, var(--mod-infield-button-border-width, var(--spectrum-infield-button-border-width)));
		border-start-start-radius: var(--mod-infield-button-stacked-border-radius-reset, var(--spectrum-infield-button-stacked-border-radius-reset));
		border-start-end-radius: var(--mod-infield-button-stacked-border-radius-reset, var(--spectrum-infield-button-stacked-border-radius-reset));
		border-end-start-radius: var(--mod-infield-button-stacked-bottom-border-radius-end-start, var(--spectrum-infield-button-stacked-bottom-border-radius-end-start));
		border-end-end-radius: var(--mod-infield-button-stacked-bottom-border-radius-end-end, var(--mod-infield-button-border-radius, var(--spectrum-infield-button-border-radius)));
	}
}

.spectrum-InfieldButton-icon {
	display: initial;

	/* don't be small, ever */
	flex-shrink: 0;

	/* remove margin used for centering */
	margin: 0 !important;
}
