/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

:root {
  --spectrum-actionbar-height: var(--spectrum-global-dimension-size-600);
  --spectrum-actionbar-padding-x: var(--spectrum-global-dimension-size-200);
  --spectrum-actionbar-margin-x: var(--spectrum-global-dimension-size-200);
  --spectrum-actionbar-offset-y: var(--spectrum-global-dimension-size-200);

  --spectrum-actionbar-min-width: 280px;
  --spectrum-actionbar-max-width: 960px;
}

.spectrum-ActionBar {
  display: flex;
  justify-content: center;

  bottom: 0;
  z-index: 1;

  /* Account for fixed width */
  box-sizing: border-box;

  /* Restrict the width of the child popover */
  padding: 0 var(--spectrum-actionbar-margin-x);

  /* Take up no space when not open */
  height: 0;
  opacity: 0;

  /* Clip anything outside of us, whether we're open or not. This makes the animation smooth */
  overflow: hidden;

  /* Let clicks in blank space fall through */
  pointer-events: none;

  transition: height var(--spectrum-global-animation-duration-100) ease-in-out,
              opacity var(--spectrum-global-animation-duration-100) ease-in-out;

  /*
    Toggle .is-open to show/hide the ActionBar.
    Make sure the Popover has .is-open before you do this, and only remove .is-open from the popover once the animation is complete (if at all)
  */
  &.is-open {
    /* Take up space in the table only when open */
    height: calc(var(--spectrum-actionbar-height) + var(--spectrum-actionbar-margin-x) * 2);
    opacity: 1;
  }
}

.spectrum-ActionBar--sticky {
  left: 0;
  right: 0;
  position: sticky;
}

.spectrum-ActionBar--fixed {
   position: fixed;
}

.spectrum-ActionBar-popover {
  /* Be relative so our width can be restricted */
  position: relative;

  box-sizing: border-box;
  width: var(--spectrum-actionbar-width);
  margin: auto;
  height: var(--spectrum-actionbar-height);
  min-width: var(--spectrum-actionbar-min-width);
  max-width: var(--spectrum-actionbar-max-width);
  padding: 0 var(--spectrum-actionbar-padding-x);

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* Let clicks do their thing */
  pointer-events: auto;
}