@import '../commons/index.css';

/* https://git.corp.adobe.com/Spectrum/spectrum-origins/pull/60 */
:root {
  --spectrum-accordion-icon-width: 6px;
  --spectrum-accordion-icon-height: 10px;

  /* Subtract the size of the border since it's on the item itself */
  --spectrum-accordion-item-height-actual: calc(var(--spectrum-accordion-item-height) - var(--spectrum-accordion-item-border-size));
  --spectrum-accordion-item-title-tracking-actual: calc(var(--spectrum-accordion-item-title-tracking) / 100);
}

/* topdoc
{{ accordion/accordion.yml }}
*/
.spectrum-Accordion {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.spectrum-Accordion-itemIndicator {
  display: block;

  position: absolute;
  left: var(--spectrum-accordion-icon-spacing);
  top: calc(var(--spectrum-accordion-item-height-actual) / 2 - var(--spectrum-accordion-icon-height) / 2);

  transition: transform ease var(--spectrum-transition-time);
}

.spectrum-Accordion-item {
  z-index: inherit;
  position: relative;

  display: list-item;
  margin: 0;

  border-bottom: var(--spectrum-accordion-item-border-size) solid transparent;

  &:first-of-type {
    border-top: var(--spectrum-accordion-item-border-size) solid transparent;
  }
}

.spectrum-Accordion-itemHeader {
  position: relative;

  box-sizing: border-box;
  /* left padding takes into account the icon's size as well as the focus state's left border */
  padding: 0 var(--spectrum-accordion-item-padding) 0 calc(calc(var(--spectrum-accordion-item-padding) * 2) + 2px);
  margin: 0;

  height: var(--spectrum-accordion-item-height-actual);

  font-size: var(--spectrum-accordion-item-title-text-size);
  text-transform: uppercase;
  line-height: var(--spectrum-accordion-item-height-actual);
  letter-spacing: var(--spectrum-accordion-item-title-tracking-actual);

  text-overflow: ellipsis;
  cursor: pointer;
  font-weight: 500;

  &:focus {
    outline: none;

    &::after {
      content: '';

      position: absolute;
      left: 0;
      top: calc(-1 * var(--spectrum-accordion-item-border-size));
      bottom: calc(-1 * var(--spectrum-accordion-item-border-size));

      width: var(--spectrum-accordion-item-border-size-key-focus);
    }
  }
}

.spectrum-Accordion-itemContent {
  padding: 0 var(--spectrum-accordion-item-content-padding) var(--spectrum-accordion-item-content-padding) var(--spectrum-accordion-item-content-padding);
  display: none;
}

.spectrum-Accordion-item {
  &.is-open {
    > .spectrum-Accordion-itemIndicator {
      transform: rotate(90deg);
    }

    > .spectrum-Accordion-itemHeader::after {
      /* No bottom border when open, so be less tall */
      height: var(--spectrum-accordion-item-height-actual);
    }

    > .spectrum-Accordion-itemContent {
      display: block;
    }
  }

  &.is-disabled {
    .spectrum-Accordion-itemHeader {
      cursor: default;
    }
  }
}
