.spectrum {
  --system-component-background-color: blue;
  --system-component-selected-background-color: darkblue;
  --system-component-icon-color: gray
}

.spectrum--express {
  --system-component-background-color: purple;
  --system-component-selected-background-color: darkpurple;
  --system-component-icon-color: white
}

.component {
  --background-color: var(--system-component-background-color)
}

.component.is-selected {
  --background-color: var(--system-component-selected-background-color)
}

.component .icon {
  --color: var(--system-component-icon-color)
}
