@import '../commons/index.css';
@import '../commons/overlay.css';

.spectrum-QuickActions {
  box-sizing: border-box;

  @inherit: %spectrum-overlay;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--spectrum-quickactions-padding-y) var(--spectrum-quickactions-padding-x);

  height: var(--spectrum-quickactions-height);

  border-radius: var(--spectrum-quickactions-border-radius);

  &.is-open {
    @inherit: %spectrum-overlay--open;
  }

  .spectrum-ActionButton + .spectrum-ActionButton {
    margin-left: var(--spectrum-quickactions-icon-button-gap-x);
  }
}

.spectrum-QuickActions--textOnly {
  .spectrum-ActionButton + .spectrum-ActionButton {
    margin-left: var(--spectrum-quickactions-text-button-gap-x);
  }
}

.spectrum-QuickActions--right {
  &.is-open {
    @inherit: %spectrum-overlay--left--open; /* should animate to the left when aligned right */
  }
}

.spectrum-QuickActions--left {
  &.is-open {
    @inherit: %spectrum-overlay--right--open; /* should animate to the right when aligned left */
  }
}

