/* topdoc
{{ quickaction/quickaction-default.yml }}
*/
.spectrum-QuickActions-overlay {
  background-color: var(--spectrum-quickactions-overlay-color);
}

.spectrum-QuickActions {
  background-color: var(--spectrum-quickactions-background-color);
}
