import { html } from 'lit';
import { classMap } from 'lit/directives/class-map.js';
import { styleMap } from 'lit/directives/class-map.js';
import { ifDefined } from 'lit/directives/if-defined.js';
import { when } from 'lit/directives/when.js';

import "@spectrum-css/{{ name }}";

export const Template = ({
  rootClass = "spectrum-{{ pascalCase name }}",
  size = "m",
  id = "spectrum-{{ kebabCase name }}",
  testId,
  content = [],
  customClasses = [],
  customStyles = {},
}) => {
  return html`
    <div
      class=${ifDefined(classMap({
        [rootClass]: true,
        [`${rootClass}--size${size.toUpperCase()}`]: true,
        ...customClasses.reduce((a, c) => ({ ...a, [c]: true }), {}),
      }))}
      style=${ifDefined(styleMap(customStyles))}
      id=${ifDefined(id)}
      data-testid=${ifDefined(testId)}
    >${when(content, (c) => c)}</div>
  `;
}
