:local(.searchContainer) {
    margin-top:24px;
}
:local(.results) {
    border: 1px solid var(--spectrum-global-color-gray-400);
    position: absolute;
    background-color: var(--spectrum-global-color-gray-50);
    padding-top:16px;
    padding-bottom:16px;
    z-index: 2000;
    width:368px;
    border-radius: 4px;
    margin-top:5px;
    display: none;
    max-height: calc(100vh - 200px);
    min-height: 220px;
    overflow-y:scroll; 
    box-shadow: 0 1px 4px var(--spectrum-alias-dropshadow-color);
}
:local(.overlay) {
    position: fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom: 0px;
    opacity: 0.4;
    z-index:1999;
    display:none;
    &:local(.overlayOpen) {
        display: block;
    }
}
:local(.resultSet) {
    list-style: none;
    padding-left:0px;
    color: var(--spectrum-global-color-gray-800) !important;
    padding-bottom:6px;
    margin:0px;
    

}
:local(.resultContainer) {
    &:not(:last-of-type) {
        border-bottom:1px solid var(--spectrum-global-color-gray-200);
        margin-bottom:12px;
    }
}

:local(.listItem) {

    padding:6px 16px;
    margin-top:0px !important;
    margin-bottom:0px !important;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
      
        transition: all 125ms ease-in-out;
        background-color: var(--spectrum-alias-highlight-hover);
    }
}

:local(.open) {
    display: block;
}
:local(.subHeader) {
    color: var(--spectrum-global-color-gray-700) !important;
    margin:0px;
}
:local(.header) {
    padding-bottom:6px;
    padding-left:16px;
    padding-right:16px;
}
:local(.file) {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
}
:local(.icon) {
    height: 16px;
    margin-right:8px;
    img{
        width:16px;
        height: 16px;
    }
    
}
:local(.noResultsContainer) {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-bottom:64px;
    margin-top:64px;
}

:local(.noResults) {
    color: var(--spectrum-global-color-gray-700) !important;
}
:local(.noResultsSub) {
    color: var(--spectrum-global-color-gray-700) !important;
}

:local(.selected) {
    background-color: var(--spectrum-alias-highlight-hover);
}