/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@container style(--system: spectrum) {
	.spectrum-Button {
		--spectrum-button-background-color-default: var(--spectrum-gray-50);
		--spectrum-button-background-color-hover: var(--spectrum-gray-100);
		--spectrum-button-background-color-down: var(--spectrum-gray-200);
		--spectrum-button-background-color-focus: var(--spectrum-gray-100);

		--spectrum-button-border-color-default: var(--spectrum-gray-400);
		--spectrum-button-border-color-hover: var(--spectrum-gray-500);
		--spectrum-button-border-color-down: var(--spectrum-gray-600);
		--spectrum-button-border-color-focus: var(--spectrum-gray-500);

		--spectrum-button-background-color-disabled: transparent;
		--spectrum-button-border-color-disabled: var(--spectrum-disabled-border-color);

		&.is-selected {
			--mod-button-background-color-default: var(--spectrum-neutral-subdued-background-color-default);
			--mod-button-background-color-hover: var(--spectrum-neutral-subdued-background-color-hover);
			--mod-button-background-color-down: var(--spectrum-neutral-subdued-background-color-down);
			--mod-button-background-color-focus: var(--spectrum-neutral-subdued-background-color-key-focus);
		}

		&.spectrum-Button--primary {
			--mod-button-content-color-default: var(--spectrum-gray-25);
			--mod-button-content-color-hover: var(--spectrum-gray-25);
			--mod-button-content-color-down: var(--spectrum-gray-25);
			--mod-button-content-color-focus: var(--spectrum-gray-25);

			&.spectrum-Button--outline {
				--mod-button-background-color-hover: var(--spectrum-gray-200);
				--mod-button-background-color-down: var(--spectrum-gray-400);
				--mod-button-background-color-focus: var(--spectrum-gray-200);
			}
		}

		&.spectrum-Button--secondary {
			--mod-button-background-color-default: var(--spectrum-gray-100);

			&:not(.spectrum-Button--outline) {
				--mod-button-background-color-hover: var(--spectrum-gray-200);
				--mod-button-background-color-down: var(--spectrum-gray-400);
				--mod-button-background-color-focus: var(--spectrum-gray-200);
			}

			&.spectrum-Button--outline {
				--mod-button-background-color-hover: var(--spectrum-gray-200);
				--mod-button-background-color-down: var(--spectrum-gray-400);
				--mod-button-background-color-focus: var(--spectrum-gray-200);

				--mod-button-border-color-default: var(--spectrum-gray-200);
			}
		}

		/* static white: double the selector, double the fun (specificity...) */
		&.spectrum-Button--staticWhite {
			--mod-button-background-color-default: var(--spectrum-transparent-white-900);
			--mod-button-background-color-hover: var(--spectrum-transparent-white-1000);
			--mod-button-background-color-down: var(--spectrum-transparent-white-1000);
			--mod-button-background-color-focus: var(--spectrum-transparent-white-1000);

			--mod-button-content-color-default: var(--spectrum-black);
			--mod-button-content-color-hover: var(--spectrum-black);
			--mod-button-content-color-down: var(--spectrum-black);
			--mod-button-content-color-focus: var(--spectrum-black);

			&.spectrum-Button--secondary {
				--mod-button-background-color-default: var(--spectrum-transparent-white-300);
				--mod-button-background-color-hover: var(--spectrum-transparent-white-400);
				--mod-button-background-color-down: var(--spectrum-transparent-white-500);
				--mod-button-background-color-focus: var(--spectrum-transparent-white-400);

				--mod-button-content-color-default: var(--spectrum-white);
				--mod-button-content-color-hover: var(--spectrum-white);
				--mod-button-content-color-down: var(--spectrum-white);
				--mod-button-content-color-focus: var(--spectrum-white);

				&.spectrum-Button--outline {
					--mod-button-border-color-default: var(--spectrum-transparent-white-400);
					--mod-button-border-color-hover: var(--spectrum-transparent-white-500);
					--mod-button-border-color-down: var(--spectrum-transparent-white-600);
					--mod-button-border-color-focus: var(--spectrum-transparent-white-500);
				}
			}

			&.spectrum-Button--outline {
				&:not(.spectrum-Button--secondary) {
					--mod-button-background-color-hover: var(--spectrum-transparent-white-400);
					--mod-button-background-color-down: var(--spectrum-transparent-white-500);
					--mod-button-background-color-focus: var(--spectrum-transparent-white-400);

					--mod-button-content-color-default: var(--spectrum-white);
					--mod-button-content-color-hover: var(--spectrum-white);
					--mod-button-content-color-down: var(--spectrum-white);
					--mod-button-content-color-focus: var(--spectrum-white);

					--mod-button-border-color-default: var(--spectrum-transparent-white-900);
					--mod-button-border-color-hover: var(--spectrum-transparent-white-1000);
					--mod-button-border-color-down: var(--spectrum-transparent-white-1000);
					--mod-button-border-color-focus: var(--spectrum-transparent-white-1000);
				}

				&.spectrum-Button--secondary {
					--mod-button-background-color-hover: var(--spectrum-transparent-white-400);
					--mod-button-background-color-down: var(--spectrum-transparent-white-500);
					--mod-button-background-color-focus: var(--spectrum-transparent-white-400);
				}
			}
		}

		/* static black */
		&.spectrum-Button--staticBlack {
			--mod-button-background-color-default: var(--spectrum-transparent-black-900);
			--mod-button-background-color-hover: var(--spectrum-transparent-black-1000);
			--mod-button-background-color-down: var(--spectrum-transparent-black-1000);
			--mod-button-background-color-focus: var(--spectrum-transparent-black-1000);

			--mod-button-content-color-default: var(--spectrum-white);
			--mod-button-content-color-hover: var(--spectrum-white);
			--mod-button-content-color-down: var(--spectrum-white);
			--mod-button-content-color-focus: var(--spectrum-white);

			&.spectrum-Button--secondary {
				--mod-button-background-color-default: var(--spectrum-transparent-black-300);
				--mod-button-background-color-hover: var(--spectrum-transparent-black-400);
				--mod-button-background-color-down: var(--spectrum-transparent-black-500);
				--mod-button-background-color-focus: var(--spectrum-transparent-black-400);

				--mod-button-content-color-default: var(--spectrum-black);
				--mod-button-content-color-hover: var(--spectrum-black);
				--mod-button-content-color-down: var(--spectrum-black);
				--mod-button-content-color-focus: var(--spectrum-black);

				&.spectrum-Button--outline {
					--mod-button-background-color-hover: var(--spectrum-transparent-black-400);
					--mod-button-background-color-down: var(--spectrum-transparent-black-500);
					--mod-button-background-color-focus: var(--spectrum-transparent-black-400);

					--mod-button-border-color-default: var(--spectrum-transparent-black-400);
					--mod-button-border-color-hover: var(--spectrum-transparent-black-500);
					--mod-button-border-color-down: var(--spectrum-transparent-black-600);
					--mod-button-border-color-focus: var(--spectrum-transparent-black-500);
				}
			}

			&.spectrum-Button--outline {
				&:not(.spectrum-Button--secondary) {
					--mod-button-background-color-hover: var(--spectrum-transparent-black-400);
					--mod-button-background-color-down: var(--spectrum-transparent-black-500);
					--mod-button-background-color-focus: var(--spectrum-transparent-black-400);

					--mod-button-content-color-default: var(--spectrum-black);
					--mod-button-content-color-hover: var(--spectrum-black);
					--mod-button-content-color-down: var(--spectrum-black);
					--mod-button-content-color-focus: var(--spectrum-black);

					--mod-button-border-color-default: var(--spectrum-transparent-black-500);
					--mod-button-border-color-hover: var(--spectrum-transparent-black-600);
					--mod-button-border-color-down: var(--spectrum-transparent-black-700);
					--mod-button-border-color-focus: var(--spectrum-transparent-black-600);
				}
			}
		}
	}
}
