/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@container (--system: spectrum) {
    .spectrum-Button {
        --spectrum-button-background-color-default: var(--spectrum-gray-75);
        --spectrum-button-background-color-hover: var(--spectrum-gray-200);
        --spectrum-button-background-color-down: var(--spectrum-gray-300);
        --spectrum-button-background-color-focus: var(--spectrum-gray-200);

        --spectrum-button-border-color-default: var(--spectrum-gray-400);
        --spectrum-button-border-color-hover: var(--spectrum-gray-500);
        --spectrum-button-border-color-down: var(--spectrum-gray-600);
        --spectrum-button-border-color-focus: var(--spectrum-gray-500);

        --spectrum-button-content-color-default: var(--spectrum-neutral-content-color-default);
        --spectrum-button-content-color-hover: var(--spectrum-neutral-content-color-hover);
        --spectrum-button-content-color-down: var(--spectrum-neutral-content-color-down);
        --spectrum-button-content-color-focus: var(--spectrum-neutral-content-color-key-focus);

        --spectrum-button-background-color-disabled: transparent;
        --spectrum-button-border-color-disabled: var(--spectrum-disabled-border-color);
        --spectrum-button-content-color-disabled: var(--spectrum-disabled-content-color);


        &.spectrum-Button--accent {
            --spectrum-button-background-color-default: var(--spectrum-accent-background-color-default);
            --spectrum-button-background-color-hover: var(--spectrum-accent-background-color-hover);
            --spectrum-button-background-color-down: var(--spectrum-accent-background-color-down);
            --spectrum-button-background-color-focus: var(--spectrum-accent-background-color-key-focus);

            --spectrum-button-border-color-default: transparent;
            --spectrum-button-border-color-hover: transparent;
            --spectrum-button-border-color-down: transparent;
            --spectrum-button-border-color-focus: transparent;

            --spectrum-button-content-color-default: var(--spectrum-white);
            --spectrum-button-content-color-hover: var(--spectrum-white);
            --spectrum-button-content-color-down: var(--spectrum-white);
            --spectrum-button-content-color-focus: var(--spectrum-white);

            --spectrum-button-background-color-disabled: var(--spectrum-disabled-background-color);
            --spectrum-button-border-color-disabled: transparent;
            --spectrum-button-content-color-disabled: var(--spectrum-disabled-content-color);

            &.spectrum-Button--outline {
                --spectrum-button-background-color-default: transparent;
                --spectrum-button-background-color-hover: var(--spectrum-accent-color-200);
                --spectrum-button-background-color-down: var(--spectrum-accent-color-300);
                --spectrum-button-background-color-focus: var(--spectrum-accent-color-200);

                --spectrum-button-border-color-default: var(--spectrum-accent-color-900);
                --spectrum-button-border-color-hover: var(--spectrum-accent-color-1000);
                --spectrum-button-border-color-down: var(--spectrum-accent-color-1100);
                --spectrum-button-border-color-focus: var(--spectrum-accent-color-1000);

                --spectrum-button-content-color-default: var(--spectrum-accent-content-color-default);
                --spectrum-button-content-color-hover: var(--spectrum-accent-content-color-hover);
                --spectrum-button-content-color-down: var(--spectrum-accent-content-color-down);
                --spectrum-button-content-color-focus: var(--spectrum-accent-content-color-key-focus);

                --spectrum-button-background-color-disabled: transparent;
                --spectrum-button-border-color-disabled: var(--spectrum-disabled-border-color);
                --spectrum-button-content-color-disabled: var(--spectrum-disabled-content-color);
            }
        }


        &.spectrum-Button--negative {
            --spectrum-button-background-color-default: var(--spectrum-negative-background-color-default);
            --spectrum-button-background-color-hover: var(--spectrum-negative-background-color-hover);
            --spectrum-button-background-color-down: var(--spectrum-negative-background-color-down);
            --spectrum-button-background-color-focus: var(--spectrum-negative-background-color-key-focus);

            --spectrum-button-border-color-default: transparent;
            --spectrum-button-border-color-hover: transparent;
            --spectrum-button-border-color-down: transparent;
            --spectrum-button-border-color-focus: transparent;

            --spectrum-button-content-color-default: var(--spectrum-white);
            --spectrum-button-content-color-hover: var(--spectrum-white);
            --spectrum-button-content-color-down: var(--spectrum-white);
            --spectrum-button-content-color-focus: var(--spectrum-white);

            --spectrum-button-background-color-disabled: var(--spectrum-disabled-background-color);
            --spectrum-button-border-color-disabled: transparent;
            --spectrum-button-content-color-disabled: var(--spectrum-disabled-content-color);

            &.spectrum-Button--outline {
                --spectrum-button-background-color-default: transparent;
                --spectrum-button-background-color-hover: var(--spectrum-negative-color-200);
                --spectrum-button-background-color-down: var(--spectrum-negative-color-300);
                --spectrum-button-background-color-focus: var(--spectrum-negative-color-200);

                --spectrum-button-border-color-default: var(--spectrum-negative-color-900);
                --spectrum-button-border-color-hover: var(--spectrum-negative-color-1000);
                --spectrum-button-border-color-down: var(--spectrum-negative-color-1100);
                --spectrum-button-border-color-focus: var(--spectrum-negative-color-1000);

                --spectrum-button-content-color-default: var(--spectrum-negative-content-color-default);
                --spectrum-button-content-color-hover: var(--spectrum-negative-content-color-hover);
                --spectrum-button-content-color-down: var(--spectrum-negative-content-color-down);
                --spectrum-button-content-color-focus: var(--spectrum-negative-content-color-key-focus);

                --spectrum-button-background-color-disabled: transparent;
                --spectrum-button-border-color-disabled: var(--spectrum-disabled-border-color);
                --spectrum-button-content-color-disabled: var(--spectrum-disabled-content-color);
            }
        }

        &.spectrum-Button--primary {
            --spectrum-button-background-color-default: var(--spectrum-neutral-background-color-default);
            --spectrum-button-background-color-hover: var(--spectrum-neutral-background-color-hover);
            --spectrum-button-background-color-down: var(--spectrum-neutral-background-color-down);
            --spectrum-button-background-color-focus: var(--spectrum-neutral-background-color-key-focus);

            --spectrum-button-border-color-default: transparent;
            --spectrum-button-border-color-hover: transparent;
            --spectrum-button-border-color-down: transparent;
            --spectrum-button-border-color-focus: transparent;

            --spectrum-button-content-color-default: var(--spectrum-white);
            --spectrum-button-content-color-hover: var(--spectrum-white);
            --spectrum-button-content-color-down: var(--spectrum-white);
            --spectrum-button-content-color-focus: var(--spectrum-white);

            --spectrum-button-background-color-disabled: var(--spectrum-disabled-background-color);
            --spectrum-button-border-color-disabled: transparent;
            --spectrum-button-content-color-disabled: var(--spectrum-disabled-content-color);

            &.spectrum-Button--outline {
                --spectrum-button-background-color-default: transparent;
                --spectrum-button-background-color-hover: var(--spectrum-gray-300);
                --spectrum-button-background-color-down: var(--spectrum-gray-400);
                --spectrum-button-background-color-focus: var(--spectrum-gray-300);

                --spectrum-button-border-color-default: var(--spectrum-gray-800);
                --spectrum-button-border-color-hover: var(--spectrum-gray-900);
                --spectrum-button-border-color-down: var(--spectrum-gray-900);
                --spectrum-button-border-color-focus: var(--spectrum-gray-900);

                --spectrum-button-content-color-default: var(--spectrum-neutral-content-color-default);
                --spectrum-button-content-color-hover: var(--spectrum-neutral-content-color-hover);
                --spectrum-button-content-color-down: var(--spectrum-neutral-content-color-down);
                --spectrum-button-content-color-focus: var(--spectrum-neutral-content-color-key-focus);

                --spectrum-button-background-color-disabled: transparent;
                --spectrum-button-border-color-disabled: var(--spectrum-disabled-border-color);
                --spectrum-button-content-color-disabled: var(--spectrum-disabled-content-color);
            }
        }

        &.spectrum-Button--secondary {
            --spectrum-button-background-color-default: var(--spectrum-gray-200);
            --spectrum-button-background-color-hover: var(--spectrum-gray-300);
            --spectrum-button-background-color-down: var(--spectrum-gray-400);
            --spectrum-button-background-color-focus: var(--spectrum-gray-300);

            --spectrum-button-border-color-default: transparent;
            --spectrum-button-border-color-hover: transparent;
            --spectrum-button-border-color-down: transparent;
            --spectrum-button-border-color-focus: transparent;

            --spectrum-button-content-color-default: var(--spectrum-neutral-content-color-default);
            --spectrum-button-content-color-hover: var(--spectrum-neutral-content-color-hover);
            --spectrum-button-content-color-down: var(--spectrum-neutral-content-color-down);
            --spectrum-button-content-color-focus: var(--spectrum-neutral-content-color-key-focus);

            --spectrum-button-background-color-disabled: var(--spectrum-disabled-background-color);
            --spectrum-button-border-color-disabled: transparent;
            --spectrum-button-content-color-disabled: var(--spectrum-disabled-content-color);

            &.spectrum-Button--outline {
                --spectrum-button-background-color-default: transparent;
                --spectrum-button-background-color-hover: var(--spectrum-gray-300);
                --spectrum-button-background-color-down: var(--spectrum-gray-400);
                --spectrum-button-background-color-focus: var(--spectrum-gray-300);

                --spectrum-button-border-color-default: var(--spectrum-gray-300);
                --spectrum-button-border-color-hover: var(--spectrum-gray-400);
                --spectrum-button-border-color-down: var(--spectrum-gray-500);
                --spectrum-button-border-color-focus: var(--spectrum-gray-400);

                --spectrum-button-content-color-default: var(--spectrum-neutral-content-color-default);
                --spectrum-button-content-color-hover: var(--spectrum-neutral-content-color-hover);
                --spectrum-button-content-color-down: var(--spectrum-neutral-content-color-down);
                --spectrum-button-content-color-focus: var(--spectrum-neutral-content-color-key-focus);

                --spectrum-button-background-color-disabled: transparent;
                --spectrum-button-border-color-disabled: var(--spectrum-disabled-border-color);
                --spectrum-button-content-color-disabled: var(--spectrum-disabled-content-color);
            }
        }

        &.spectrum-Button--quiet {
            --spectrum-button-background-color-default: transparent;
            --spectrum-button-background-color-hover: var(--spectrum-gray-200);
            --spectrum-button-background-color-down: var(--spectrum-gray-300);
            --spectrum-button-background-color-focus: var(--spectrum-gray-200);

            --spectrum-button-border-color-default: transparent;
            --spectrum-button-border-color-hover: transparent;
            --spectrum-button-border-color-down: transparent;
            --spectrum-button-border-color-focus: transparent;

            --spectrum-button-background-color-disabled: transparent;
            --spectrum-button-border-color-disabled: transparent;
        }

        &.is-selected {
            --spectrum-button-background-color-default: var(--spectrum-neutral-subdued-background-color-default);
            --spectrum-button-background-color-hover: var(--spectrum-neutral-subdued-background-color-hover);
            --spectrum-button-background-color-down: var(--spectrum-neutral-subdued-background-color-down);
            --spectrum-button-background-color-focus: var(--spectrum-neutral-subdued-background-color-key-focus);

            --spectrum-button-border-color-default: transparent;
            --spectrum-button-border-color-hover: transparent;
            --spectrum-button-border-color-down: transparent;
            --spectrum-button-border-color-focus: transparent;

            --spectrum-button-content-color-default: var(--spectrum-white);
            --spectrum-button-content-color-hover: var(--spectrum-white);
            --spectrum-button-content-color-down: var(--spectrum-white);
            --spectrum-button-content-color-focus: var(--spectrum-white);

            --spectrum-button-background-color-disabled: var(--spectrum-disabled-background-color);
            --spectrum-button-border-color-disabled: transparent;

            &.spectrum-Button--emphasized {
                --spectrum-button-background-color-default: var(--spectrum-accent-background-color-default);
                --spectrum-button-background-color-hover: var(--spectrum-accent-background-color-hover);
                --spectrum-button-background-color-down: var(--spectrum-accent-background-color-down);
                --spectrum-button-background-color-focus: var(--spectrum-accent-background-color-key-focus);
            }
        }

        &.spectrum-Button--staticBlack,
        &.spectrum-Button--staticWhite {
            &.spectrum-Button--quiet {
                --spectrum-button-border-color-default: transparent;
                --spectrum-button-border-color-hover: transparent;
                --spectrum-button-border-color-down: transparent;
                --spectrum-button-border-color-focus: transparent;

                --spectrum-button-border-color-disabled: transparent;
            }
        }

        /* static white */

        &.spectrum-Button--staticWhite {
            --spectrum-button-background-color-default: var(--spectrum-transparent-white-800);
            --spectrum-button-background-color-hover: var(--spectrum-transparent-white-900);
            --spectrum-button-background-color-down: var(--spectrum-transparent-white-900);
            --spectrum-button-background-color-focus: var(--spectrum-transparent-white-900);

            --spectrum-button-border-color-default: transparent;
            --spectrum-button-border-color-hover: transparent;
            --spectrum-button-border-color-down: transparent;
            --spectrum-button-border-color-focus: transparent;

            --spectrum-button-content-color-default: var(--spectrum-black);
            --spectrum-button-content-color-hover: var(--spectrum-black);
            --spectrum-button-content-color-down: var(--spectrum-black);
            --spectrum-button-content-color-focus: var(--spectrum-black);

            --spectrum-button-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);

            --spectrum-button-background-color-disabled: var(--spectrum-disabled-static-white-background-color);
            --spectrum-button-border-color-disabled: transparent;
            --spectrum-button-content-color-disabled: var(--spectrum-disabled-static-white-content-color);

            &.spectrum-Button--outline {
                --spectrum-button-background-color-default: transparent;
                --spectrum-button-background-color-hover: var(--spectrum-transparent-white-300);
                --spectrum-button-background-color-down: var(--spectrum-transparent-white-400);
                --spectrum-button-background-color-focus: var(--spectrum-transparent-white-300);

                --spectrum-button-border-color-default: var(--spectrum-transparent-white-800);
                --spectrum-button-border-color-hover: var(--spectrum-transparent-white-900);
                --spectrum-button-border-color-down: var(--spectrum-transparent-white-900);
                --spectrum-button-border-color-focus: var(--spectrum-transparent-white-900);

                --spectrum-button-content-color-default: var(--spectrum-white);
                --spectrum-button-content-color-hover: var(--spectrum-white);
                --spectrum-button-content-color-down: var(--spectrum-white);
                --spectrum-button-content-color-focus: var(--spectrum-white);

                --spectrum-button-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);

                --spectrum-button-background-color-disabled: transparent;
                --spectrum-button-border-color-disabled: var(--spectrum-disabled-static-white-border-color);
                --spectrum-button-content-color-disabled: var(--spectrum-disabled-static-white-content-color);
            }

            &.is-selected {
                --spectrum-button-background-color-default: var(--spectrum-transparent-white-800);
                --spectrum-button-background-color-hover: var(--spectrum-transparent-white-900);
                --spectrum-button-background-color-down: var(--spectrum-transparent-white-900);
                --spectrum-button-background-color-focus: var(--spectrum-transparent-white-900);

                --spectrum-button-content-color-default: var(--mod-button-static-content-color, var(--spectrum-black));
                --spectrum-button-content-color-hover: var(--mod-button-static-content-color, var(--spectrum-black));
                --spectrum-button-content-color-down: var(--mod-button-static-content-color, var(--spectrum-black));
                --spectrum-button-content-color-focus: var(--mod-button-static-content-color, var(--spectrum-black));

                --spectrum-button-background-color-disabled: var(--spectrum-disabled-static-white-background-color);
                --spectrum-button-border-color-disabled: transparent;
            }
        }

        &.spectrum-Button--staticWhite.spectrum-Button--secondary {
            --spectrum-button-background-color-default: var(--spectrum-transparent-white-200);
            --spectrum-button-background-color-hover: var(--spectrum-transparent-white-300);
            --spectrum-button-background-color-down: var(--spectrum-transparent-white-400);
            --spectrum-button-background-color-focus: var(--spectrum-transparent-white-300);

            --spectrum-button-border-color-default: transparent;
            --spectrum-button-border-color-hover: transparent;
            --spectrum-button-border-color-down: transparent;
            --spectrum-button-border-color-focus: transparent;

            --spectrum-button-content-color-default: var(--spectrum-white);
            --spectrum-button-content-color-hover: var(--spectrum-white);
            --spectrum-button-content-color-down: var(--spectrum-white);
            --spectrum-button-content-color-focus: var(--spectrum-white);

            --spectrum-button-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);

            --spectrum-button-background-color-disabled: var(--spectrum-disabled-static-white-background-color);
            --spectrum-button-border-color-disabled: transparent;
            --spectrum-button-content-color-disabled: var(--spectrum-disabled-static-white-content-color);

            &.spectrum-Button--outline {
                --spectrum-button-background-color-default: transparent;
                --spectrum-button-background-color-hover: var(--spectrum-transparent-white-300);
                --spectrum-button-background-color-down: var(--spectrum-transparent-white-400);
                --spectrum-button-background-color-focus: var(--spectrum-transparent-white-300);

                --spectrum-button-border-color-default: var(--spectrum-transparent-white-300);
                --spectrum-button-border-color-hover: var(--spectrum-transparent-white-400);
                --spectrum-button-border-color-down: var(--spectrum-transparent-white-500);
                --spectrum-button-border-color-focus: var(--spectrum-transparent-white-400);

                --spectrum-button-content-color-default: var(--spectrum-white);
                --spectrum-button-content-color-hover: var(--spectrum-white);
                --spectrum-button-content-color-down: var(--spectrum-white);
                --spectrum-button-content-color-focus: var(--spectrum-white);

                --spectrum-button-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);

                --spectrum-button-background-color-disabled: transparent;
                --spectrum-button-border-color-disabled: var(--spectrum-disabled-static-white-border-color);
                --spectrum-button-content-color-disabled: var(--spectrum-disabled-static-white-content-color);
            }
        }

        /* static black */
        &.spectrum-Button--staticBlack {
            --spectrum-button-background-color-default: var(--spectrum-transparent-black-800);
            --spectrum-button-background-color-hover: var(--spectrum-transparent-black-900);
            --spectrum-button-background-color-down: var(--spectrum-transparent-black-900);
            --spectrum-button-background-color-focus: var(--spectrum-transparent-black-900);

            --spectrum-button-border-color-default: transparent;
            --spectrum-button-border-color-hover: transparent;
            --spectrum-button-border-color-down: transparent;
            --spectrum-button-border-color-focus: transparent;

            --spectrum-button-content-color-default: var(--spectrum-white);
            --spectrum-button-content-color-hover: var(--spectrum-white);
            --spectrum-button-content-color-down: var(--spectrum-white);
            --spectrum-button-content-color-focus: var(--spectrum-white);

            --spectrum-button-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);

            --spectrum-button-background-color-disabled: var(--spectrum-disabled-static-black-background-color);
            --spectrum-button-border-color-disabled: transparent;
            --spectrum-button-content-color-disabled: var(--spectrum-disabled-static-black-content-color);

            &.spectrum-Button--outline {
                --spectrum-button-background-color-default: transparent;
                --spectrum-button-background-color-hover: var(--spectrum-transparent-black-300);
                --spectrum-button-background-color-down: var(--spectrum-transparent-black-400);
                --spectrum-button-background-color-focus: var(--spectrum-transparent-black-300);

                --spectrum-button-border-color-default: var(--spectrum-transparent-black-400);
                --spectrum-button-border-color-hover: var(--spectrum-transparent-black-500);
                --spectrum-button-border-color-down: var(--spectrum-transparent-black-600);
                --spectrum-button-border-color-focus: var(--spectrum-transparent-black-500);

                --spectrum-button-content-color-default: var(--spectrum-black);
                --spectrum-button-content-color-hover: var(--spectrum-black);
                --spectrum-button-content-color-down: var(--spectrum-black);
                --spectrum-button-content-color-focus: var(--spectrum-black);

                --spectrum-button-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);

                --spectrum-button-background-color-disabled: transparent;
                --spectrum-button-border-color-disabled: var(--spectrum-disabled-static-black-border-color);
                --spectrum-button-content-color-disabled: var(--spectrum-disabled-static-black-content-color);
            }
        }


        &.spectrum-Button--staticBlack.spectrum-Button--secondary {
            --spectrum-button-background-color-default: var(--spectrum-transparent-black-200);
            --spectrum-button-background-color-hover: var(--spectrum-transparent-black-300);
            --spectrum-button-background-color-down: var(--spectrum-transparent-black-400);
            --spectrum-button-background-color-focus: var(--spectrum-transparent-black-300);


            --spectrum-button-border-color-default: transparent;
            --spectrum-button-border-color-hover: transparent;
            --spectrum-button-border-color-down: transparent;
            --spectrum-button-border-color-focus: transparent;

            --spectrum-button-content-color-default: var(--spectrum-black);
            --spectrum-button-content-color-hover: var(--spectrum-black);
            --spectrum-button-content-color-down: var(--spectrum-black);
            --spectrum-button-content-color-focus: var(--spectrum-black);

            --spectrum-button-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);

            --spectrum-button-background-color-disabled: var(--spectrum-disabled-static-black-background-color);
            --spectrum-button-border-color-disabled: transparent;
            --spectrum-button-content-color-disabled: var(--spectrum-disabled-static-black-content-color);

            &.spectrum-Button--outline {
                --spectrum-button-background-color-default: transparent;
                --spectrum-button-background-color-hover: var(--spectrum-transparent-black-300);
                --spectrum-button-background-color-down: var(--spectrum-transparent-black-400);
                --spectrum-button-background-color-focus: var(--spectrum-transparent-black-300);

                --spectrum-button-border-color-default: var(--spectrum-transparent-black-300);
                --spectrum-button-border-color-hover: var(--spectrum-transparent-black-400);
                --spectrum-button-border-color-down: var(--spectrum-transparent-black-500);
                --spectrum-button-border-color-focus: var(--spectrum-transparent-black-400);

                --spectrum-button-content-color-default: var(--spectrum-black);
                --spectrum-button-content-color-hover: var(--spectrum-black);
                --spectrum-button-content-color-down: var(--spectrum-black);
                --spectrum-button-content-color-focus: var(--spectrum-black);

                --spectrum-button-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);

                --spectrum-button-background-color-disabled: transparent;
                --spectrum-button-border-color-disabled: var(--spectrum-disabled-static-black-border-color);
                --spectrum-button-content-color-disabled: var(--spectrum-disabled-static-black-content-color);
            }
        }
    }
}
