/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "./spectrum-two.css";

@container style(--system: legacy) {
	.spectrum-Button {
		--spectrum-button-background-color-default: var(--spectrum-gray-75);
		--spectrum-button-background-color-hover: var(--spectrum-gray-200);
		--spectrum-button-background-color-down: var(--spectrum-gray-300);
		--spectrum-button-background-color-focus: var(--spectrum-gray-200);

		--spectrum-button-border-color-default: var(--spectrum-gray-400);
		--spectrum-button-border-color-hover: var(--spectrum-gray-500);
		--spectrum-button-border-color-down: var(--spectrum-gray-600);
		--spectrum-button-border-color-focus: var(--spectrum-gray-500);

		&.spectrum-Button--primary {
			&.spectrum-Button--outline {
				--spectrum-button-background-color-hover: var(--spectrum-gray-300);
				--spectrum-button-background-color-down: var(--spectrum-gray-400);
				--spectrum-button-background-color-focus: var(--spectrum-gray-300);

				--spectrum-button-border-color-default: var(--spectrum-gray-800);
				--spectrum-button-border-color-hover: var(--spectrum-gray-900);
				--spectrum-button-border-color-down: var(--spectrum-gray-900);
				--spectrum-button-border-color-focus: var(--spectrum-gray-900);
			}
		}

		&.spectrum-Button--secondary {
			--spectrum-button-background-color-default: var(--spectrum-gray-200);
			--spectrum-button-background-color-hover: var(--spectrum-gray-300);
			--spectrum-button-background-color-down: var(--spectrum-gray-400);
			--spectrum-button-background-color-focus: var(--spectrum-gray-300);

			&.spectrum-Button--outline {
				--spectrum-button-background-color-hover: var(--spectrum-gray-300);
				--spectrum-button-background-color-down: var(--spectrum-gray-400);
				--spectrum-button-background-color-focus: var(--spectrum-gray-300);

				--spectrum-button-border-color-default: var(--spectrum-gray-300);
				--spectrum-button-border-color-hover: var(--spectrum-gray-400);
				--spectrum-button-border-color-down: var(--spectrum-gray-500);
				--spectrum-button-border-color-focus: var(--spectrum-gray-400);
			}
		}
	}
}
