<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="The CSS implementation of Adobe's Spectrum design system"/>
<meta charset="utf-8"/>
<link rel="icon" type="image/png" href="favicon.png"/>
<link rel="stylesheet" type="text/css" href="/components/vars/spectrum-global.css"/>
<link rel="stylesheet" type="text/css" href="/components/vars/spectrum-darkest.css"/>
<link rel="stylesheet" type="text/css" href="/components/vars/spectrum-dark.css"/>
<link rel="stylesheet" type="text/css" href="/components/vars/spectrum-light.css"/>
<link rel="stylesheet" type="text/css" href="/components/vars/spectrum-medium.css"/>
<link rel="stylesheet" type="text/css" href="/components/vars/spectrum-large.css"/>
<link rel="stylesheet" type="text/css" href="/components/tokens/index.css"/>
{% set minimumDeps = [
  'icon',
  'statuslight',
  'link',
  'page',
  'site',
  'typography',
  'tooltip',
  'sidenav',
  'actionbutton',
  'button',
  'textfield',
  'clearbutton',
  'search',
  'menu',
  'fieldlabel',
  'picker',
  'popover',
  'underlay',
  'card',
  'divider',
  'illustratedmessage',
  'accordion',
  'table'
] %}
{% if dependencyOrder %}
  {% set cssDependency = dependencyOrder %}
{% else %}
  {% set cssDependency = minimumDeps %}
{% endif %}
{% asyncEach dep in cssDependency %}
  <link rel="stylesheet" type="text/css" href='/components/{{ dep }}/index-vars.css' data-dependency={{ dep }} />
{% endeach %}
<link rel="stylesheet" type="text/css" href="css/site.css"/>
<link rel="stylesheet" type="text/css" href="css/docs.css"/>

<link href="css/prism/prism.min.css" rel="stylesheet">

{% if not process.env.VRT %}
    {% include "./adobe-globalnav.njk" %}
{% endif %}
<script src="js/loadicons/index.js"></script>
<script src="js/focus-ring-polyfill/index.js"></script>
<script src="js/lunr/lunr.js"></script>
<script src="js/typekit.js"></script>
<script src="js/SpectrumSwitcher.js"></script>
<script src="js/Search.js"></script>
<script src="js/site.js"></script>
<script src="js/docs.js"></script>
<script src="js/enhancement.js"></script>
<script src="js/polyfills.js"></script>
