{% if not process.env.VRT %}
    <div class="spectrum-Site-sideBar" id="site-sidebar">
        {% include "./logo.njk" %}
        <div id="site-search"></div>
        <div class="u-scrollable spectrum-Site-nav">
            <nav>
                <ul class="spectrum-SideNav spectrum-SideNav--multiLevel">
                    <li class="spectrum-SideNav-item">
                        <a class="spectrum-SideNav-itemLink js-fastLoad" href="get-started.html">Get started</a>
                    </li>
                    <li class="spectrum-SideNav-item">
                        <a class="spectrum-SideNav-itemLink" href="https://github.com/adobe/spectrum-css" target="_blank" rel="noopener">GitHub</a>
                    </li>
                    <li class="spectrum-SideNav-item">
                        <a class="spectrum-SideNav-itemLink" href="#">Components</a>
                        <ul class="spectrum-SideNav spectrum-SideNav--multiLevel">
                            {% for component in template() | await if not hide %}
                                <li class="spectrum-SideNav-item {{ 'is-selected' if (pageURL === component.href) }}">
                                    <a href="/docs/{{ component.href }}" class="spectrum-SideNav-itemLink {{ 'js-fastLoad' if component.fastLoad === true }}">
                                        {{ component.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav class="spectrum-Site-bottomNav">
                <ul class="spectrum-SideNav">
                    <li class="spectrum-SideNav-item">
                        <a class="spectrum-SideNav-itemLink" href="https://spectrum.adobe.com">Spectrum</a>
                    </li>
                    <li class="spectrum-SideNav-item">
                        <a class="spectrum-SideNav-itemLink" href="/preview">Component preview</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
