/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@container style(--system: spectrum) {
	.spectrum-Search {
		--spectrum-search-border-color-default: var(--spectrum-gray-500);
		--spectrum-search-border-color-hover: var(--spectrum-gray-600);
		--spectrum-search-border-color-focus: var(--spectrum-gray-800);
		--spectrum-search-border-color-focus-hover: var(--spectrum-gray-900);
		--spectrum-search-border-color-key-focus: var(--spectrum-gray-900);

		--spectrum-search-background-color: var(--spectrum-gray-25);

		&,
		&.spectrum-Search--sizeM {
			--spectrum-search-border-radius: var(--spectrum-corner-radius-100);
			--spectrum-search-edge-to-visual: var(--spectrum-component-edge-to-visual-100);
		}

		&.spectrum-Search--sizeS {
			--spectrum-search-border-radius: var(--spectrum-corner-radius-100);
			--spectrum-search-edge-to-visual: var(--spectrum-component-edge-to-visual-75);
		}

		&.spectrum-Search--sizeL {
			--spectrum-search-border-radius: var(--spectrum-corner-radius-100);
			--spectrum-search-edge-to-visual: var(--spectrum-component-edge-to-visual-200);
		}

		&.spectrum-Search--sizeXL {
			--spectrum-search-border-radius: var(--spectrum-corner-radius-100);
			--spectrum-search-edge-to-visual: var(--spectrum-component-edge-to-visual-300);
		}
	}
}
