/*
Copyright 2022 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import "../commons/overlay-coretokens.css";

.spectrum-Popover {
  --spectrum-popover-background-color: var(--spectrum-background-layer-2-color);

  --spectrum-popover-border-width: var(--spectrum-border-width-100);
  --spectrum-popover-border-color: var(--spectrum-gray-400);

  /* popover inner padding */
  --spectrum-popover-content-area-spacing-vertical: var(--spectrum-popover-top-to-content-area);

  /* popover spacing between popover and source */
  --spectrum-popover-spacing-to-source: var(--spectrum-spacing-100);

  /* popover drop shadow */
  --spectrum-popover-shadow-horizontal: var(--spectrum-drop-shadow-x);
  --spectrum-popover-shadow-vertical: var(--spectrum-drop-shadow-y);
  --spectrum-popover-shadow-blur: var(--spectrum-drop-shadow-blur);
  --spectrum-popover-shadow-color: var(--spectrum-drop-shadow-color);

  /* popover corner radius */
  --spectrum-popover-corner-radius: var(--spectrum-corner-radius-100);

  /* pointer tip dimensions */
  --spectrum-popover-pointer-width: var(--spectrum-popover-tip-width);
  --spectrum-popover-pointer-height: var(--spectrum-popover-tip-height);

  /* pointer tip - default spacing to edge - corner radius plus half of tip width to neutralize override */
  --spectrum-popover-pointer-edge-offset: calc(var(--spectrum-corner-radius-100) + (var(--spectrum-popover-tip-width) / 2));

  /* pointer tip - spacing to edge will center pointer to source - apply in markup by setting '--spectrum-popover-pointer-edge-offset' value == half of source */
  --spectrum-popover-pointer-edge-spacing: calc(var(--spectrum-popover-pointer-edge-offset) - (var(--spectrum-popover-tip-width) / 2));

  /* override animation distance for correct spacing to source */
  /* --spectrum-popover-overlay-animation-distance: calc(var(--spectrum-popover-tip-height) + var(--spectrum-popover-spacing-to-source)); */
}

/* windows high contrast mode */
@media (forced-colors: active) {
  .spectrum-Popover {
    --spectrum-popover-border-color: CanvasText;
  }
}

.spectrum-Popover {
   @inherit: %spectrum-overlay;

  box-sizing: border-box;
  position: absolute;

  outline: none; /* Hide focus outline */

  padding: var(--mod-popover-content-area-spacing-vertical, var(--spectrum-popover-content-area-spacing-vertical)) 0;

  display: inline-flex;
  flex-direction: column;

  border-style: solid;
  border-radius: var(--mod-popover-corner-radius, var(--spectrum-popover-corner-radius));
  border-color: var(--mod-popover-border-color, var(--spectrum-popover-border-color));
  border-width: var(--mod-popover-border-width, var(--spectrum-popover-border-width));

  background-color: var(--mod-popover-background-color, var(--spectrum-popover-background-color));
  filter: drop-shadow(var(--mod-popover-shadow-horizontal, var(--spectrum-popover-shadow-horizontal)) var(--mod-popover-shadow-vertical, var(--spectrum-popover-shadow-vertical)) var(--mod-popover-shadow-blur, var(--spectrum-popover-shadow-blur)) var(--mod-popover-shadow-color, var(--spectrum-popover-shadow-color)));

  margin-bottom: var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source));

  /* default opens and animates upward */
  &.is-open {
    @inherit: %spectrum-overlay--open;
    @inherit: %spectrum-overlay--top--open;
  }

  /* has tip triangle */
  &.spectrum-Popover--withTip {
    margin-bottom: calc(var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height)) + var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source)));

    .spectrum-Popover-tip,
    .spectrum-Popover-tip::after {
      position: absolute;
      display: inline-block;
      height: var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height));
      width: var(--mod-popover-pointer-width, var(--spectrum-popover-pointer-width));
      margin: auto;
      left: 0;
      right: 0;
      top: 100%;
      clip-path: polygon(0 0, 50% 100%, 100% 0);
    }

    /* tip border */
    .spectrum-Popover-tip {
      background: var(--mod-popover-border-color, var(--spectrum-popover-border-color));
    }

    /* tip fill */
    .spectrum-Popover-tip::after {
      background: var(--mod-popover-background-color, var(--spectrum-popover-background-color));
      /* move fill up by 150% of border width - percentage matches 2:1 triangle ratio */
      top: calc(var(--mod-popover-border-width, var(--spectrum-popover-border-width)) * -1.5);
      content: "";
    }
  }
}

/* position naming - first position term is popover position, second term is source position */
/* example: --top-left = popover is to top and source is to left */

/* popover position is at top of source - default placement */
.spectrum-Popover--top,
.spectrum-Popover--top-left,
.spectrum-Popover--top-right,
.spectrum-Popover--top-start,
.spectrum-Popover--top-end {
  margin-bottom: var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source));

  /* popover animates upward ⬆ */
  &.is-open {
    @inherit: %spectrum-overlay--top--open;
    /* transform: translateY(calc(var(--mod-popover-overlay-animation-distance, var(--spectrum-popover-overlay-animation-distance)) * -1)); */
  }
}

/* popover position is at bottom of source */
.spectrum-Popover--bottom,
.spectrum-Popover--bottom-left,
.spectrum-Popover--bottom-right,
.spectrum-Popover--bottom-start,
.spectrum-Popover--bottom-end {
  margin-bottom: var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source));
  margin-bottom: unset;


  /* popover animates downward ⬇ */
  &.is-open {
    @inherit: %spectrum-overlay--bottom--open;
    /* transform: translateY(var(--mod-popover-overlay-animation-distance, var(--spectrum-popover-overlay-animation-distance))); */
  }
}

/* popover position is right of source */
.spectrum-Popover--right,
.spectrum-Popover--right-bottom,
.spectrum-Popover--right-top {
  margin-left: var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source));
  margin-bottom: unset;

  /* popover animates towards right ⮕ */
  &.is-open {
    @inherit: %spectrum-overlay--right--open;
  }
}

/* popover position is left of source */
.spectrum-Popover--left,
.spectrum-Popover--left-bottom,
.spectrum-Popover--left-top {
  margin-right: var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source));
  margin-bottom: unset;

  /* popover animates towards left ⬅ */
  &.is-open {
    @inherit: %spectrum-overlay--left--open;
  }
}

/* logical property - popover is horizontally at start */
.spectrum-Popover--start,
.spectrum-Popover--start-top,
.spectrum-Popover--start-bottom {
  margin-inline-end: var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source));
  margin-bottom: unset;

  /* LTR read, popover animates towards left ⬅ */
  &.is-open {
    @inherit: %spectrum-overlay--left--open;
  }

  /* RTL read, popover animates towards right ⮕ */
  [dir="rtl"] & {
    &.is-open {
      @inherit: %spectrum-overlay--right--open;
    }
  }
}

/* logical property - popover is horizontally at end */
.spectrum-Popover--end,
.spectrum-Popover--end-top,
.spectrum-Popover--end-bottom {
  margin-inline-start: var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source));
  margin-bottom: unset;

  /* LTR read, popover animates towards right ⮕ */
  &.is-open {
    @inherit: %spectrum-overlay--right--open;
  }

  /* RTL read, popover animates towards left ⬅ */
  [dir="rtl"] & {
  &.is-open {
      @inherit: %spectrum-overlay--left--open;
    }
  }
}


/* HAS TIP - popover with triangle pointer */
.spectrum-Popover--withTip {
  /* popover position is at top of source with tip pointing down */
  &.spectrum-Popover--top,
  &.spectrum-Popover--top-left,
  &.spectrum-Popover--top-right,
  &.spectrum-Popover--top-start,
  &.spectrum-Popover--top-end {
    margin-bottom: calc(var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height)) + var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source)));
  }

  &.spectrum-Popover--top-left {
    /* tip triangle  */
    .spectrum-Popover-tip {
      left: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
      right: auto;
    }
  }

  &.spectrum-Popover--top-right{
    /* tip triangle  */
    .spectrum-Popover-tip {
      left: auto;
      right: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
    }
  }

  /* logical property - popover is above, source is at start */
  &.spectrum-Popover--top-start {
    /* tip triangle  */
    .spectrum-Popover-tip {
      margin-inline-start: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
    }
  }

  /* logical property - popover is above, source is at end */
  &.spectrum-Popover--top-end {
    /* tip triangle  */
    .spectrum-Popover-tip {
      margin-inline-end: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
    }
  }

  /* popover position is bottom of source with tip pointing up */
  &.spectrum-Popover--bottom,
  &.spectrum-Popover--bottom-left,
  &.spectrum-Popover--bottom-right,
  &.spectrum-Popover--bottom-start,
  &.spectrum-Popover--bottom-end {
    /* add tip height to spacing to source */
    margin-top: calc(var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height)) + var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source)));
    margin-bottom: unset;

   /* tip triangle points up */
    .spectrum-Popover-tip,
    .spectrum-Popover-tip::after {
      top: auto;
      bottom: 100%;
      clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }

    /* after element is the triangle fill with offset to show the border */
    .spectrum-Popover-tip::after {
      /* move fill up by 150% of border width - percentage matches 2:1 triangle ratio */
      bottom: calc(var(--mod-popover-border-width, var(--spectrum-popover-border-width)) * -1.5);
    }
  }

  /* popover position is bottom, source is at left */
  &.spectrum-Popover--bottom-left {
    /* tip triangle  */
    .spectrum-Popover-tip {
      left: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
      right: auto;
    }
  }

  /* popover position is bottom, source is at right */
  &.spectrum-Popover--bottom-right {
    /* tip triangle  */
    .spectrum-Popover-tip {
      left: auto;
      right: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
    }
  }

  /* logical property - popover is below, source is at start */
  &.spectrum-Popover--bottom-start {
    /* tip triangle  */
    .spectrum-Popover-tip {
      margin-inline-start: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
    }
  }

  /* logical property - popover is below, source is at end */
  &.spectrum-Popover--bottom-end {
    /* tip triangle  */
    .spectrum-Popover-tip {
      margin-inline-end: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
    }
  }

  /* right popover position with tip pointing left */
  &.spectrum-Popover--right,
  &.spectrum-Popover--right-bottom,
  &.spectrum-Popover--right-top {
    /* add tip height to spacing to source */
    margin-left: calc(var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height)) + var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source)));
    margin-bottom: unset;

   /* tip triangle pointing left */
    .spectrum-Popover-tip,
    .spectrum-Popover-tip::after {
      /* swap height and width for vertical triangle */
      width: var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height));
      height: var(--mod-popover-pointer-width, var(--spectrum-popover-pointer-width));
      top: 0;
      bottom: 0;
      left: auto;
      right: 100%;
      clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }

    /* after element is the triangle fill with offset to show the border */
    .spectrum-Popover-tip::after {
      /* move fill up by 150% of border width - percentage matches 2:1 triangle ratio */
      right: calc(var(--mod-popover-border-width, var(--spectrum-popover-border-width)) * -1.5);
    }
  }

  /* right popover position with tip at top pointing left */
  &.spectrum-Popover--right-top {
    /* tip triangle  */
    .spectrum-Popover-tip {
      top: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
      bottom: auto;
    }
  }

  /* right popover position with tip at bottom pointing left */
  &.spectrum-Popover--right-bottom {
    /* tip triangle  */
    .spectrum-Popover-tip {
      top: auto;
      bottom: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
    }
  }

  /* left popover position with tip pointing right */
  &.spectrum-Popover--left,
  &.spectrum-Popover--left-bottom,
  &.spectrum-Popover--left-top {
    /* add tip height to spacing to source */
    margin-right: calc(var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height)) + var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source)));
    margin-bottom: unset;

   /* tip triangle points right */
    .spectrum-Popover-tip,
    .spectrum-Popover-tip::after {
      /* swap height and width for vertical triangle */
      width: var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height));
      height: var(--mod-popover-pointer-width, var(--spectrum-popover-pointer-width));
      top: 0;
      bottom: 0;
      right: auto;
      left: 100%;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }

    /* after element is the triangle fill with offset to show the border */
    .spectrum-Popover-tip::after {
      /* offset fill up by 150% of border width - percentage matches 2:1 triangle ratio */
      left: calc(var(--mod-popover-border-width, var(--spectrum-popover-border-width)) * -1.5);
    }
  }

  /* left popover position with tip at top pointing right */
  &.spectrum-Popover--left-top {
    /* tip triangle  */
    .spectrum-Popover-tip {
      top: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
      bottom: auto;
    }
  }

  /* left popover position with tip at bottom pointing right */
  &.spectrum-Popover--left-bottom {
    /* tip triangle  */
    .spectrum-Popover-tip {
      top: auto;
      bottom: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
    }
  }

  /* logical property - start popover position with tip pointing toward end */
  &.spectrum-Popover--start,
  &.spectrum-Popover--start-top,
  &.spectrum-Popover--start-bottom {
    margin-inline-end: calc(var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height)) + var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source)));
    margin-bottom: unset;

    /* tip triangle  */
    .spectrum-Popover-tip,
    .spectrum-Popover-tip::after {
      /* swap height and width for vertical triangle */
      width: var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height));
      height: var(--mod-popover-pointer-width, var(--spectrum-popover-pointer-width));
      top: 0;
      bottom: 0;
      margin-inline-start: 100%;
      clip-path: polygon(0 0, 100% 50%, 0 100%);

      /* right to left read direction */
      [dir="rtl"] & {
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
      }
    }

    /* after element is the triangle fill with offset to show the border */
    .spectrum-Popover-tip::after {
      /* offset fill up by 150% of border width - percentage matches 2:1 triangle ratio */
      margin-inline-start: calc(var(--mod-popover-border-width, var(--spectrum-popover-border-width)) * -1.5);
    }
  }

  /* logical property - start popover position with top tip pointing toward end  */
  &.spectrum-Popover--start-top {
    /* tip triangle  */
    .spectrum-Popover-tip {
      top: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
      bottom: auto;
    }
  }

  /* logical property - start popover position with bottom tip pointing toward end  */
  &.spectrum-Popover--start-bottom {
    /* tip triangle  */
    .spectrum-Popover-tip {
      top: auto;
      bottom: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
    }
  }

  /* logical property - end popover position with tip pointing toward start */
  &.spectrum-Popover--end,
  &.spectrum-Popover--end-top,
  &.spectrum-Popover--end-bottom {
    margin-inline-start: calc(var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height)) + var(--mod-popover-spacing-to-source, var(--spectrum-popover-spacing-to-source)));
    margin-bottom: unset;

    /* tip triangle  */
    .spectrum-Popover-tip,
    .spectrum-Popover-tip::after {
      /* swap height and width for vertical triangle */
      width: var(--mod-popover-pointer-height, var(--spectrum-popover-pointer-height));
      height: var(--mod-popover-pointer-width, var(--spectrum-popover-pointer-width));
      top: 0;
      bottom: 0;
      margin-inline-end: 100%;
      clip-path: polygon(100% 0, 0 50%, 100% 100%);

      /* right to left read direction */
      [dir="rtl"] & {
        clip-path: polygon(0 0, 100% 50%, 0 100%);
      }
    }

    /* after element is the triangle fill with offset to show the border */
    .spectrum-Popover-tip::after {
      /* offset fill up by 150% of border width - percentage matches 2:1 triangle ratio */
      margin-inline-end: calc(var(--mod-popover-border-width, var(--spectrum-popover-border-width)) * -1.5);
    }
  }

  /* logical property - end popover position with top tip pointing toward start */
  &.spectrum-Popover--end-top {
    /* tip triangle  */
    .spectrum-Popover-tip {
      top: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
      bottom: auto;
    }
  }

  /* logical property - end popover position with bottom tip pointing toward start */
  &.spectrum-Popover--end-bottom {
    /* tip triangle  */
    .spectrum-Popover-tip {
      top: auto;
      bottom: var(--mod-popover-pointer-edge-spacing, var(--spectrum-popover-pointer-edge-spacing));
    }
  }
}
