@import '../commons/index.css';

:root {
  --spectrum-radio-radius: calc(var(--spectrum-radio-circle-diameter) / 2);
  --spectrum-radio-border-width-checked: calc(calc(var(--spectrum-radio-circle-diameter) / 2) - calc(var(--spectrum-radio-circle-dot-size) / 2));

  --spectrum-radio-labelbelow-label-margin: var(--spectrum-global-dimension-size-40) 0 0 0;
  --spectrum-radio-labelbelow-height: auto;
}

.spectrum-Radio {
  display: inline-flex;
  align-items: center;

  position: relative;

  height: var(--spectrum-radio-height);
  max-width: 100%;

  margin-right: calc(var(--spectrum-radio-cursor-hit-x) * 2);

  vertical-align: top;
}

.spectrum-Radio-input {
  /* Change the font styles in all browsers for input. */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  /* Remove the margin for input in Firefox and Safari. */
  margin: 0;

  /* Show the overflow for input in Edge. */
  overflow: visible;

  /* Add the correct box sizing for [type="radio"] in IE 10-. */
  box-sizing: border-box;

  /* Remove the padding for [type="radio"] in IE 10-. */
  padding: 0;

  /* Hit area */
  position: absolute;
  top: 0;
  left: calc(var(--spectrum-radio-cursor-hit-x) * -1);
  width: calc(100% + var(--spectrum-radio-cursor-hit-x) * 2);
  height: 100%;

  opacity: .0001;
  z-index: 1;

  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:checked + .spectrum-Radio-button {
    border-width: var(--spectrum-radio-border-width-checked);
  }
}

.spectrum-Radio-label {
  margin-left: var(--spectrum-radio-text-gap);
  font-size: var(--spectrum-radio-text-size);

  transition: color var(--spectrum-global-animation-duration-100) ease-in-out;

  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}

.spectrum-Radio-button {
  position: relative;
  box-sizing: border-box;
  width: var(--spectrum-radio-circle-diameter);
  height: var(--spectrum-radio-circle-diameter);

  flex-grow: 0;
  flex-shrink: 0;

  border-radius: var(--spectrum-radio-radius);
  border-width: var(--spectrum-radio-circle-border-size);
  border-style: solid;

  transition: border var(--spectrum-global-animation-duration-100) ease-in-out, box-shadow var(--spectrum-global-animation-duration-100) ease-in-out;
}

.spectrum-Radio--labelBelow {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: var(--spectrum-radio-labelbelow-height);

  .spectrum-Radio-button {
    flex-shrink: 0;
  }

  .spectrum-Radio-label {
    margin: var(--spectrum-radio-labelbelow-label-margin);
  }
}
