/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "themes/spectrum.css";

.spectrum-MillerColumns {
	user-select: none;
	overflow-x: auto;
	padding: var(--mod-millercolumns-padding, var(--spectrum-millercolumns-padding)) 0;
	white-space: nowrap;
}

.spectrum-MillerColumns-item {
	overflow: auto;
	display: inline-block;
	inline-size: var(--mod-millercolumns-inline-size, var(--spectrum-millercolumns-inline-size));
	block-size: 100%;
	margin: 0;
	margin-inline-end: var(--mod-millercolumns-margin-inline-end, var(--spectrum-millercolumns-margin-inline-end));
	padding: 0;
	vertical-align: top;
	outline: none;

	&:first-child {
		margin-inline-start: var(--mod-millercolumns-margin-inline-start, var(--spectrum-millercolumns-margin-inline-start));
	}
}
