@import '../commons/index.css';

:root {
  --spectrum-stepper-button-height: calc(var(--spectrum-component-single-line-height) / 2);
  --spectrum-stepper-button-width: 24px;
  --spectrum-stepper-padding: calc(var(--spectrum-padding) / 2);
  --spectrum-stepper-border-radius-reset: 0;
  --spectrum-stepper-border-size-reset: 0;
  --spectrum-stepper-border-size-default: 1px;
}

.spectrum-Stepper {
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;

  width: var(--spectrum-component-single-line-width);
  line-height: 0;
  border-radius: var(--spectrum-border-radius);
  transition: border-color var(--spectrum-transition-time) ease-in-out, box-shadow var(--spectrum-transition-time) ease-in-out;
}
.spectrum-Stepper::before {
  content: '';
}

.spectrum-Stepper-buttons {
  display: block;
  border-radius: var(--spectrum-border-radius) 0 0 var(--spectrum-border-radius);
  transition: box-shadow var(--spectrum-transition-time) ease-in-out;
}

.spectrum-Stepper-stepUp,
.spectrum-Stepper-stepDown {
  position: relative;
  display: block;

  height: var(--spectrum-stepper-button-height);
  width: var(--spectrum-stepper-button-width);

  padding-left: var(--spectrum-stepper-padding);
  padding-right: var(--spectrum-stepper-padding);

  /* Avoid margin added by adjacent buttons */
  margin: 0 !important;

  border-width: var(--spectrum-stepper-border-size-default);
  border-right-width: var(--spectrum-stepper-border-size-reset);
  border-radius: var(--spectrum-border-radius) 0 0 var(--spectrum-border-radius);

  .spectrum-Icon {
    margin: 0 !important;
    opacity: 1;
  }
}

.spectrum-Stepper-stepUp {
  border-bottom: none;
  border-bottom-left-radius: var(--spectrum-stepper-border-radius-reset);

  .spectrum-Icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3px;
  }
}

.spectrum-Stepper-stepDown {
  border-top: none;
  border-top-left-radius: var(--spectrum-stepper-border-radius-reset);
  border-bottom-width: var(--spectrum-stepper-border-size-default);

  &:focus {
    border-top: none;
  }

  .spectrum-Icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
  }
}

.spectrum-Stepper-input {
  position: relative;

  flex: 1;

  border-top-left-radius: var(--spectrum-stepper-border-radius-reset);
  border-bottom-left-radius: var(--spectrum-stepper-border-radius-reset);

  z-index: 1;
}

.spectrum-Stepper--quiet {
  border-radius: var(--spectrum-stepper-border-radius-reset);

  .spectrum-Stepper-buttons {
    .spectrum-ActionButton {
      border-top: none;
      border-left: none;
    }

    .spectrum-Stepper-stepDown {
      border-radius: var(--spectrum-stepper-border-radius-reset);
    }
  }
}
