/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum.spectrum--legacy {
	--spectrum-actionbutton-background-color-default: var(--system-action-button-static-white-selected-background-color-default);
	--spectrum-actionbutton-background-color-hover: var(--system-action-button-static-white-selected-background-color-hover);
	--spectrum-actionbutton-background-color-down: var(--system-action-button-static-white-selected-background-color-down);
	--spectrum-actionbutton-background-color-focus: var(--system-action-button-static-white-selected-background-color-focus);
	--spectrum-actionbutton-border-color-default: var(--system-action-button-static-white-quiet-border-color-default);
	--spectrum-actionbutton-border-color-hover: var(--system-action-button-static-white-quiet-border-color-hover);
	--spectrum-actionbutton-border-color-down: var(--system-action-button-static-white-quiet-border-color-down);
	--spectrum-actionbutton-border-color-focus: var(--system-action-button-static-white-quiet-border-color-focus);
	--spectrum-actionbutton-background-color-disabled: var(--system-action-button-static-white-selected-background-color-disabled);
	--spectrum-actionbutton-border-color-disabled: var(--system-action-button-static-white-quiet-border-color-disabled);
	--spectrum-actionbutton-content-color-disabled: var(--system-action-button-static-white-content-color-disabled);
	--spectrum-actionbutton-animation-duration: var(--system-action-button-animation-duration);
	--spectrum-actionbutton-border-radius: var(--system-action-button-border-radius);
	--spectrum-actionbutton-border-width: var(--system-action-button-border-width);
	--spectrum-actionbutton-min-width: var(--system-action-button-size-xl-min-width);
	--spectrum-actionbutton-height: var(--system-action-button-size-xl-height);
	--spectrum-actionbutton-icon-size: var(--system-action-button-size-xl-icon-size);
	--spectrum-actionbutton-font-size: var(--system-action-button-size-xl-font-size);
	--spectrum-actionbutton-text-to-visual: var(--system-action-button-size-xl-text-to-visual);
	--spectrum-actionbutton-edge-to-hold-icon: var(--system-action-button-size-xl-edge-to-hold-icon);
	--spectrum-actionbutton-content-color-default: var(--system-action-button-static-white-content-color-default);
	--spectrum-actionbutton-content-color-hover: var(--system-action-button-static-white-content-color-hover);
	--spectrum-actionbutton-content-color-down: var(--system-action-button-static-white-content-color-down);
	--spectrum-actionbutton-content-color-focus: var(--system-action-button-static-white-content-color-focus);
	--spectrum-actionbutton-focus-indicator-gap: var(--system-action-button-focus-indicator-gap);
	--spectrum-actionbutton-focus-indicator-thickness: var(--system-action-button-focus-indicator-thickness);
	--spectrum-actionbutton-focus-indicator-color: var(--system-action-button-static-white-focus-indicator-color);
	--spectrum-actionbutton-background-color-default-selected: var(--system-action-button-background-color-default-selected);
	--spectrum-actionbutton-background-color-hover-selected: var(--system-action-button-background-color-hover-selected);
	--spectrum-actionbutton-background-color-down-selected: var(--system-action-button-background-color-down-selected);
	--spectrum-actionbutton-background-color-focus-selected: var(--system-action-button-background-color-focus-selected);
	--spectrum-actionbutton-content-color-default-selected: var(--system-action-button-content-color-default-selected);
	--spectrum-actionbutton-content-color-hover-selected: var(--system-action-button-content-color-hover-selected);
	--spectrum-actionbutton-content-color-down-selected: var(--system-action-button-content-color-down-selected);
	--spectrum-actionbutton-content-color-focus-selected: var(--system-action-button-content-color-focus-selected);
	--spectrum-actionbutton-background-color-default-selected-emphasized: var(--system-action-button-background-color-default-selected-emphasized);
	--spectrum-actionbutton-background-color-hover-selected-emphasized: var(--system-action-button-background-color-hover-selected-emphasized);
	--spectrum-actionbutton-background-color-down-selected-emphasized: var(--system-action-button-background-color-down-selected-emphasized);
	--spectrum-actionbutton-background-color-focus-selected-emphasized: var(--system-action-button-background-color-focus-selected-emphasized);
	--spectrum-actionbutton-content-color-default-selected-emphasized: var(--system-action-button-content-color-default-selected-emphasized);
	--spectrum-actionbutton-content-color-hover-selected-emphasized: var(--system-action-button-content-color-hover-selected-emphasized);
	--spectrum-actionbutton-content-color-down-selected-emphasized: var(--system-action-button-content-color-down-selected-emphasized);
	--spectrum-actionbutton-content-color-focus-selected-emphasized: var(--system-action-button-content-color-focus-selected-emphasized);
	--spectrum-actionbutton-edge-to-visual-size: var(--system-action-button-size-xl-edge-to-visual-size);
	--spectrum-actionbutton-static-black-content-color: var(--system-action-button-static-black-selected-static-black-content-color);
	--spectrum-actionbutton-static-white-content-color: var(--system-action-button-static-white-selected-static-white-content-color);
}
