/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-ActionGroup {
	--spectrum-actiongroup-gap-size-compact: var(--system-actiongroup-gap-size-compact);
	--spectrum-actiongroup-horizontal-spacing-compact: var(--system-actiongroup-horizontal-spacing-compact);
	--spectrum-actiongroup-vertical-spacing-compact: var(--system-actiongroup-vertical-spacing-compact);
	--spectrum-actiongroup-button-spacing-reset: var(--system-actiongroup-button-spacing-reset);
	--spectrum-actiongroup-border-radius-reset: var(--system-actiongroup-border-radius-reset);
	--spectrum-actiongroup-border-radius: var(--system-actiongroup-border-radius);
	--spectrum-actiongroup-horizontal-spacing-regular: var(--system-actiongroup-horizontal-spacing-regular);
	--spectrum-actiongroup-vertical-spacing-regular: var(--system-actiongroup-vertical-spacing-regular);
}

.spectrum-ActionGroup.spectrum-ActionGroup--sizeXS {
	--spectrum-actiongroup-horizontal-spacing-regular: var(--system-actiongroup-size-xs-horizontal-spacing-regular);
	--spectrum-actiongroup-vertical-spacing-regular: var(--system-actiongroup-size-xs-vertical-spacing-regular);
}

.spectrum-ActionGroup.spectrum-ActionGroup--sizeS {
	--spectrum-actiongroup-horizontal-spacing-regular: var(--system-actiongroup-size-s-horizontal-spacing-regular);
	--spectrum-actiongroup-vertical-spacing-regular: var(--system-actiongroup-size-s-vertical-spacing-regular);
}

.spectrum-ActionGroup.spectrum-ActionGroup--sizeM {
	--spectrum-actiongroup-horizontal-spacing-regular: var(--system-actiongroup-size-m-horizontal-spacing-regular);
	--spectrum-actiongroup-vertical-spacing-regular: var(--system-actiongroup-size-m-vertical-spacing-regular);
}

.spectrum-ActionGroup.spectrum-ActionGroup--sizeL {
	--spectrum-actiongroup-horizontal-spacing-regular: var(--system-actiongroup-size-l-horizontal-spacing-regular);
	--spectrum-actiongroup-vertical-spacing-regular: var(--system-actiongroup-size-l-vertical-spacing-regular);
}

.spectrum-ActionGroup.spectrum-ActionGroup--sizeXL {
	--spectrum-actiongroup-horizontal-spacing-regular: var(--system-actiongroup-size-xl-horizontal-spacing-regular);
	--spectrum-actiongroup-vertical-spacing-regular: var(--system-actiongroup-size-xl-vertical-spacing-regular);
}
