/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-AssetCard {
	--spectrum-assetcard-overlay-background-color: var(--system-assetcard-overlay-background-color);
	--spectrum-assetcard-asset-size: var(--system-assetcard-asset-size);
	--spectrum-assetcard-background-color: var(--system-assetcard-background-color);
	--spectrum-assetcard-asset-animation-duration: var(--system-assetcard-asset-animation-duration);
	--spectrum-assetcard-asset-container-border-size: var(--system-assetcard-asset-container-border-size);
	--spectrum-assetcard-header-margin-block-start: var(--system-assetcard-header-margin-block-start);
	--spectrum-assetcard-border-radius: var(--system-assetcard-border-radius);
	--spectrum-assetcard-border-color: var(--system-assetcard-border-color);
	--spectrum-assetcard-border-color-hover: var(--system-assetcard-border-color-hover);
	--spectrum-assetcard-border-color-down: var(--system-assetcard-border-color-down);
	--spectrum-assetcard-focus-ring-gap: var(--system-assetcard-focus-ring-gap);
	--spectrum-assetcard-focus-indicator-thickness: var(--system-assetcard-focus-indicator-thickness);
	--spectrum-assetcard-selectionindicator-background-color-default: var(--system-assetcard-selectionindicator-background-color-default);
	--spectrum-assetcard-selectionindicator-size: var(--system-assetcard-selectionindicator-size);
	--spectrum-assetcard-selectionindicator-border-radius: var(--system-assetcard-selectionindicator-border-radius);
	--spectrum-assetcard-selectionindicator-offset-y: var(--system-assetcard-selectionindicator-offset-y);
	--spectrum-assetcard-selectionindicator-blur: var(--system-assetcard-selectionindicator-blur);
	--spectrum-assetcard-selectionindicator-color: var(--system-assetcard-selectionindicator-color);
	--spectrum-assetcard-selectionindicator-font-weight: var(--system-assetcard-selectionindicator-font-weight);
	--spectrum-assetcard-selectionindicator-font-size: var(--system-assetcard-selectionindicator-font-size);
	--spectrum-assetcard-title-text-color: var(--system-assetcard-title-text-color);
	--spectrum-assetcard-title-font-family: var(--system-assetcard-title-font-family);
	--spectrum-assetcard-title-font-weight: var(--system-assetcard-title-font-weight);
	--spectrum-assetcard-title-font-style: var(--system-assetcard-title-font-style);
	--spectrum-assetcard-title-line-height: var(--system-assetcard-title-line-height);
	--spectrum-assetcard-title-letter-spacing: var(--system-assetcard-title-letter-spacing);
	--spectrum-assetcard-header-content-text-color: var(--system-assetcard-header-content-text-color);
	--spectrum-assetcard-header-content-font-family: var(--system-assetcard-header-content-font-family);
	--spectrum-assetcard-header-content-font-weight: var(--system-assetcard-header-content-font-weight);
	--spectrum-assetcard-header-content-font-style: var(--system-assetcard-header-content-font-style);
	--spectrum-assetcard-header-content-line-height: var(--system-assetcard-header-content-line-height);
	--spectrum-assetcard-header-content-letter-spacing: var(--system-assetcard-header-content-letter-spacing);
	--spectrum-assetcard-content-text-color: var(--system-assetcard-content-text-color);
	--spectrum-assetcard-content-font-family: var(--system-assetcard-content-font-family);
	--spectrum-assetcard-content-font-weight: var(--system-assetcard-content-font-weight);
	--spectrum-assetcard-content-font-style: var(--system-assetcard-content-font-style);
	--spectrum-assetcard-content-line-height: var(--system-assetcard-content-line-height);
	--spectrum-assetcard-content-letter-spacing: var(--system-assetcard-content-letter-spacing);
	--spectrum-assetcard-content-margin-block-start: var(--system-assetcard-content-margin-block-start);
}

.spectrum-AssetCard:lang(zh) {
	--spectrum-assetcard-title-font-family: var(--system-assetcard-lang-zh-title-font-family);
	--spectrum-assetcard-title-font-style: var(--system-assetcard-lang-zh-title-font-style);
	--spectrum-assetcard-title-font-weight: var(--system-assetcard-lang-zh-title-font-weight);
	--spectrum-assetcard-title-font-size: var(--system-assetcard-lang-zh-title-font-size);
	--spectrum-assetcard-title-line-height: var(--system-assetcard-lang-zh-title-line-height);
	--spectrum-assetcard-title-letter-spacing: var(--system-assetcard-lang-zh-title-letter-spacing);
	--spectrum-assetcard-header-content-font-family: var(--system-assetcard-lang-zh-header-content-font-family);
	--spectrum-assetcard-header-content-font-weight: var(--system-assetcard-lang-zh-header-content-font-weight);
	--spectrum-assetcard-header-content-line-height: var(--system-assetcard-lang-zh-header-content-line-height);
	--spectrum-assetcard-header-content-font-style: var(--system-assetcard-lang-zh-header-content-font-style);
	--spectrum-assetcard-header-content-letter-spacing: var(--system-assetcard-lang-zh-header-content-letter-spacing);
	--spectrum-assetcard-content-font-family: var(--system-assetcard-lang-zh-content-font-family);
	--spectrum-assetcard-content-font-weight: var(--system-assetcard-lang-zh-content-font-weight);
	--spectrum-assetcard-content-line-height: var(--system-assetcard-lang-zh-content-line-height);
	--spectrum-assetcard-content-font-style: var(--system-assetcard-lang-zh-content-font-style);
	--spectrum-assetcard-content-letter-spacing: var(--system-assetcard-lang-zh-content-letter-spacing);
}

.spectrum-AssetCard:lang(ja) {
	--spectrum-assetcard-title-font-family: var(--system-assetcard-lang-ja-title-font-family);
	--spectrum-assetcard-title-font-style: var(--system-assetcard-lang-ja-title-font-style);
	--spectrum-assetcard-title-font-weight: var(--system-assetcard-lang-ja-title-font-weight);
	--spectrum-assetcard-title-font-size: var(--system-assetcard-lang-ja-title-font-size);
	--spectrum-assetcard-title-line-height: var(--system-assetcard-lang-ja-title-line-height);
	--spectrum-assetcard-title-letter-spacing: var(--system-assetcard-lang-ja-title-letter-spacing);
	--spectrum-assetcard-header-content-font-family: var(--system-assetcard-lang-ja-header-content-font-family);
	--spectrum-assetcard-header-content-font-weight: var(--system-assetcard-lang-ja-header-content-font-weight);
	--spectrum-assetcard-header-content-line-height: var(--system-assetcard-lang-ja-header-content-line-height);
	--spectrum-assetcard-header-content-font-style: var(--system-assetcard-lang-ja-header-content-font-style);
	--spectrum-assetcard-header-content-letter-spacing: var(--system-assetcard-lang-ja-header-content-letter-spacing);
	--spectrum-assetcard-content-font-family: var(--system-assetcard-lang-ja-content-font-family);
	--spectrum-assetcard-content-font-weight: var(--system-assetcard-lang-ja-content-font-weight);
	--spectrum-assetcard-content-line-height: var(--system-assetcard-lang-ja-content-line-height);
	--spectrum-assetcard-content-font-style: var(--system-assetcard-lang-ja-content-font-style);
	--spectrum-assetcard-content-letter-spacing: var(--system-assetcard-lang-ja-content-letter-spacing);
}

.spectrum-AssetCard:lang(ko) {
	--spectrum-assetcard-title-font-family: var(--system-assetcard-lang-ko-title-font-family);
	--spectrum-assetcard-title-font-style: var(--system-assetcard-lang-ko-title-font-style);
	--spectrum-assetcard-title-font-weight: var(--system-assetcard-lang-ko-title-font-weight);
	--spectrum-assetcard-title-font-size: var(--system-assetcard-lang-ko-title-font-size);
	--spectrum-assetcard-title-line-height: var(--system-assetcard-lang-ko-title-line-height);
	--spectrum-assetcard-title-letter-spacing: var(--system-assetcard-lang-ko-title-letter-spacing);
	--spectrum-assetcard-header-content-font-family: var(--system-assetcard-lang-ko-header-content-font-family);
	--spectrum-assetcard-header-content-font-weight: var(--system-assetcard-lang-ko-header-content-font-weight);
	--spectrum-assetcard-header-content-line-height: var(--system-assetcard-lang-ko-header-content-line-height);
	--spectrum-assetcard-header-content-font-style: var(--system-assetcard-lang-ko-header-content-font-style);
	--spectrum-assetcard-header-content-letter-spacing: var(--system-assetcard-lang-ko-header-content-letter-spacing);
	--spectrum-assetcard-content-font-family: var(--system-assetcard-lang-ko-content-font-family);
	--spectrum-assetcard-content-font-weight: var(--system-assetcard-lang-ko-content-font-weight);
	--spectrum-assetcard-content-line-height: var(--system-assetcard-lang-ko-content-line-height);
	--spectrum-assetcard-content-font-style: var(--system-assetcard-lang-ko-content-font-style);
	--spectrum-assetcard-content-letter-spacing: var(--system-assetcard-lang-ko-content-letter-spacing);
}
