/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-AssetList {
	--spectrum-assetlist-width: var(--system-assetlist-width);
	--spectrum-assetlist-child-indicator-animation: var(--system-assetlist-child-indicator-animation);
	--spectrum-assetlist-item-height: var(--system-assetlist-item-height);
	--spectrum-assetlist-item-padding-inline-start: var(--system-assetlist-item-padding-inline-start);
	--spectrum-assetlist-item-padding-inline-end: var(--system-assetlist-item-padding-inline-end);
	--spectrum-assetlist-item-margin-block-end: var(--system-assetlist-item-margin-block-end);
	--spectrum-assetlist-item-border-radius: var(--system-assetlist-item-border-radius);
	--spectrum-assetlist-item-animation: var(--system-assetlist-item-animation);
	--spectrum-assetlist-item-font-size: var(--system-assetlist-item-font-size);
	--spectrum-assetlist-item-font-weight: var(--system-assetlist-item-font-weight);
	--spectrum-assetlist-item-background-color-down: var(--system-assetlist-item-background-color-down);
	--spectrum-assetlist-item-background-color-hover: var(--system-assetlist-item-background-color-hover);
	--spectrum-assetlist-thumbnail-width: var(--system-assetlist-thumbnail-width);
	--spectrum-assetlist-thumbnail-height: var(--system-assetlist-thumbnail-height);
	--spectrum-assetlist-thumbnail-margin-inline-start: var(--system-assetlist-thumbnail-margin-inline-start);
	--spectrum-assetlist-item-label-padding-inline-start: var(--system-assetlist-item-label-padding-inline-start);
	--spectrum-assetlist-label-color: var(--system-assetlist-label-color);
}

.spectrum-AssetList:dir(rtl) {
	--spectrum-logical-rotation: var(--system-assetlist-dir-rtl-logical-rotation);
}
