/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Badge {
	--spectrum-badge-corner-radius: var(--system-spectrum-badge-corner-radius);
	--spectrum-badge-line-height: var(--system-spectrum-badge-line-height);
	--spectrum-badge-line-height-cjk: var(--system-spectrum-badge-line-height-cjk);
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-label-icon-color);
	--spectrum-badge-background-color-default: var(--system-spectrum-badge-background-color-default);
	--spectrum-badge-background-color-accent: var(--system-spectrum-badge-background-color-accent);
	--spectrum-badge-background-color-informative: var(--system-spectrum-badge-background-color-informative);
	--spectrum-badge-background-color-negative: var(--system-spectrum-badge-background-color-negative);
	--spectrum-badge-background-color-positive: var(--system-spectrum-badge-background-color-positive);
	--spectrum-badge-background-color-notice: var(--system-spectrum-badge-background-color-notice);
	--spectrum-badge-background-color-gray: var(--system-spectrum-badge-background-color-gray);
	--spectrum-badge-background-color-red: var(--system-spectrum-badge-background-color-red);
	--spectrum-badge-background-color-orange: var(--system-spectrum-badge-background-color-orange);
	--spectrum-badge-background-color-yellow: var(--system-spectrum-badge-background-color-yellow);
	--spectrum-badge-background-color-chartreuse: var(--system-spectrum-badge-background-color-chartreuse);
	--spectrum-badge-background-color-celery: var(--system-spectrum-badge-background-color-celery);
	--spectrum-badge-background-color-green: var(--system-spectrum-badge-background-color-green);
	--spectrum-badge-background-color-seafoam: var(--system-spectrum-badge-background-color-seafoam);
	--spectrum-badge-background-color-cyan: var(--system-spectrum-badge-background-color-cyan);
	--spectrum-badge-background-color-blue: var(--system-spectrum-badge-background-color-blue);
	--spectrum-badge-background-color-indigo: var(--system-spectrum-badge-background-color-indigo);
	--spectrum-badge-background-color-purple: var(--system-spectrum-badge-background-color-purple);
	--spectrum-badge-background-color-fuchsia: var(--system-spectrum-badge-background-color-fuchsia);
	--spectrum-badge-background-color-magenta: var(--system-spectrum-badge-background-color-magenta);
	--spectrum-badge-height: var(--system-spectrum-badge-height);
	--spectrum-badge-font-size: var(--system-spectrum-badge-font-size);
	--spectrum-badge-label-spacing-vertical-top: var(--system-spectrum-badge-label-spacing-vertical-top);
	--spectrum-badge-label-spacing-vertical-bottom: var(--system-spectrum-badge-label-spacing-vertical-bottom);
	--spectrum-badge-label-spacing-horizontal: var(--system-spectrum-badge-label-spacing-horizontal);
	--spectrum-badge-workflow-icon-size: var(--system-spectrum-badge-workflow-icon-size);
	--spectrum-badge-icon-text-spacing: var(--system-spectrum-badge-icon-text-spacing);
	--spectrum-badge-icon-spacing-horizontal: var(--system-spectrum-badge-icon-spacing-horizontal);
	--spectrum-badge-icon-spacing-vertical-top: var(--system-spectrum-badge-icon-spacing-vertical-top);
	--spectrum-badge-icon-only-spacing-horizontal: var(--system-spectrum-badge-icon-only-spacing-horizontal);
}

.spectrum-Badge--orange {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-orange-label-icon-color);
}

.spectrum-Badge--yellow {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-yellow-label-icon-color);
}

.spectrum-Badge--chartreuse {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-chartreuse-label-icon-color);
}

.spectrum-Badge--celery {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-celery-label-icon-color);
}

.spectrum-Badge--gray {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-gray-label-icon-color);
}

.spectrum-Badge--red {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-red-label-icon-color);
}

.spectrum-Badge--green {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-green-label-icon-color);
}

.spectrum-Badge--seafoam {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-seafoam-label-icon-color);
}

.spectrum-Badge--cyan {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-cyan-label-icon-color);
}

.spectrum-Badge--blue {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-blue-label-icon-color);
}

.spectrum-Badge--indigo {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-indigo-label-icon-color);
}

.spectrum-Badge--purple {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-purple-label-icon-color);
}

.spectrum-Badge--fuchsia {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-fuchsia-label-icon-color);
}

.spectrum-Badge--magenta {
	--spectrum-badge-label-icon-color: var(--system-spectrum-badge-magenta-label-icon-color);
}

.spectrum-Badge--sizeS {
	--spectrum-badge-height: var(--system-spectrum-badge-size-s-height);
	--spectrum-badge-font-size: var(--system-spectrum-badge-size-s-font-size);
	--spectrum-badge-label-spacing-vertical-top: var(--system-spectrum-badge-size-s-label-spacing-vertical-top);
	--spectrum-badge-label-spacing-vertical-bottom: var(--system-spectrum-badge-size-s-label-spacing-vertical-bottom);
	--spectrum-badge-label-spacing-horizontal: var(--system-spectrum-badge-size-s-label-spacing-horizontal);
	--spectrum-badge-workflow-icon-size: var(--system-spectrum-badge-size-s-workflow-icon-size);
	--spectrum-badge-icon-text-spacing: var(--system-spectrum-badge-size-s-icon-text-spacing);
	--spectrum-badge-icon-spacing-horizontal: var(--system-spectrum-badge-size-s-icon-spacing-horizontal);
	--spectrum-badge-icon-spacing-vertical-top: var(--system-spectrum-badge-size-s-icon-spacing-vertical-top);
	--spectrum-badge-icon-only-spacing-horizontal: var(--system-spectrum-badge-size-s-icon-only-spacing-horizontal);
}

.spectrum-Badge--sizeL {
	--spectrum-badge-height: var(--system-spectrum-badge-size-l-height);
	--spectrum-badge-font-size: var(--system-spectrum-badge-size-l-font-size);
	--spectrum-badge-label-spacing-vertical-top: var(--system-spectrum-badge-size-l-label-spacing-vertical-top);
	--spectrum-badge-label-spacing-vertical-bottom: var(--system-spectrum-badge-size-l-label-spacing-vertical-bottom);
	--spectrum-badge-label-spacing-horizontal: var(--system-spectrum-badge-size-l-label-spacing-horizontal);
	--spectrum-badge-workflow-icon-size: var(--system-spectrum-badge-size-l-workflow-icon-size);
	--spectrum-badge-icon-text-spacing: var(--system-spectrum-badge-size-l-icon-text-spacing);
	--spectrum-badge-icon-spacing-horizontal: var(--system-spectrum-badge-size-l-icon-spacing-horizontal);
	--spectrum-badge-icon-spacing-vertical-top: var(--system-spectrum-badge-size-l-icon-spacing-vertical-top);
	--spectrum-badge-icon-only-spacing-horizontal: var(--system-spectrum-badge-size-l-icon-only-spacing-horizontal);
}

.spectrum-Badge--sizeXL {
	--spectrum-badge-height: var(--system-spectrum-badge-size-xl-height);
	--spectrum-badge-font-size: var(--system-spectrum-badge-size-xl-font-size);
	--spectrum-badge-label-spacing-vertical-top: var(--system-spectrum-badge-size-xl-label-spacing-vertical-top);
	--spectrum-badge-label-spacing-vertical-bottom: var(--system-spectrum-badge-size-xl-label-spacing-vertical-bottom);
	--spectrum-badge-label-spacing-horizontal: var(--system-spectrum-badge-size-xl-label-spacing-horizontal);
	--spectrum-badge-workflow-icon-size: var(--system-spectrum-badge-size-xl-workflow-icon-size);
	--spectrum-badge-icon-text-spacing: var(--system-spectrum-badge-size-xl-icon-text-spacing);
	--spectrum-badge-icon-spacing-horizontal: var(--system-spectrum-badge-size-xl-icon-spacing-horizontal);
	--spectrum-badge-icon-spacing-vertical-top: var(--system-spectrum-badge-size-xl-icon-spacing-vertical-top);
	--spectrum-badge-icon-only-spacing-horizontal: var(--system-spectrum-badge-size-xl-icon-only-spacing-horizontal);
}
