/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-Badge {
	--spectrum-badge-corner-radius: var(--system-badge-badge-corner-radius);
	--spectrum-badge-line-height: var(--system-badge-badge-line-height);
	--spectrum-badge-line-height-cjk: var(--system-badge-badge-line-height-cjk);
	--spectrum-badge-label-icon-color: var(--system-badge-badge-label-icon-color);
	--spectrum-badge-background-color-default: var(--system-badge-badge-background-color-default);
	--spectrum-badge-background-color-accent: var(--system-badge-badge-background-color-accent);
	--spectrum-badge-background-color-informative: var(--system-badge-badge-background-color-informative);
	--spectrum-badge-background-color-negative: var(--system-badge-badge-background-color-negative);
	--spectrum-badge-background-color-positive: var(--system-badge-badge-background-color-positive);
	--spectrum-badge-background-color-notice: var(--system-badge-badge-background-color-notice);
	--spectrum-badge-background-color-gray: var(--system-badge-badge-background-color-gray);
	--spectrum-badge-background-color-red: var(--system-badge-badge-background-color-red);
	--spectrum-badge-background-color-orange: var(--system-badge-badge-background-color-orange);
	--spectrum-badge-background-color-yellow: var(--system-badge-badge-background-color-yellow);
	--spectrum-badge-background-color-chartreuse: var(--system-badge-badge-background-color-chartreuse);
	--spectrum-badge-background-color-celery: var(--system-badge-badge-background-color-celery);
	--spectrum-badge-background-color-green: var(--system-badge-badge-background-color-green);
	--spectrum-badge-background-color-seafoam: var(--system-badge-badge-background-color-seafoam);
	--spectrum-badge-background-color-cyan: var(--system-badge-badge-background-color-cyan);
	--spectrum-badge-background-color-blue: var(--system-badge-badge-background-color-blue);
	--spectrum-badge-background-color-indigo: var(--system-badge-badge-background-color-indigo);
	--spectrum-badge-background-color-purple: var(--system-badge-badge-background-color-purple);
	--spectrum-badge-background-color-fuchsia: var(--system-badge-badge-background-color-fuchsia);
	--spectrum-badge-background-color-magenta: var(--system-badge-badge-background-color-magenta);
	--spectrum-badge-height: var(--system-badge-badge-height);
	--spectrum-badge-font-size: var(--system-badge-badge-font-size);
	--spectrum-badge-label-spacing-vertical-top: var(--system-badge-badge-label-spacing-vertical-top);
	--spectrum-badge-label-spacing-vertical-bottom: var(--system-badge-badge-label-spacing-vertical-bottom);
	--spectrum-badge-label-spacing-horizontal: var(--system-badge-badge-label-spacing-horizontal);
	--spectrum-badge-workflow-icon-size: var(--system-badge-badge-workflow-icon-size);
	--spectrum-badge-icon-text-spacing: var(--system-badge-badge-icon-text-spacing);
	--spectrum-badge-icon-spacing-horizontal: var(--system-badge-badge-icon-spacing-horizontal);
	--spectrum-badge-icon-spacing-vertical-top: var(--system-badge-badge-icon-spacing-vertical-top);
	--spectrum-badge-icon-only-spacing-horizontal: var(--system-badge-badge-icon-only-spacing-horizontal);
}

.spectrum-Badge--orange {
	--spectrum-badge-label-icon-color: var(--system-badge-orange-badge-label-icon-color);
}

.spectrum-Badge--yellow {
	--spectrum-badge-label-icon-color: var(--system-badge-yellow-badge-label-icon-color);
}

.spectrum-Badge--chartreuse {
	--spectrum-badge-label-icon-color: var(--system-badge-chartreuse-badge-label-icon-color);
}

.spectrum-Badge--celery {
	--spectrum-badge-label-icon-color: var(--system-badge-celery-badge-label-icon-color);
}

.spectrum-Badge--gray {
	--spectrum-badge-label-icon-color: var(--system-badge-gray-badge-label-icon-color);
}

.spectrum-Badge--red {
	--spectrum-badge-label-icon-color: var(--system-badge-red-badge-label-icon-color);
}

.spectrum-Badge--green {
	--spectrum-badge-label-icon-color: var(--system-badge-green-badge-label-icon-color);
}

.spectrum-Badge--seafoam {
	--spectrum-badge-label-icon-color: var(--system-badge-seafoam-badge-label-icon-color);
}

.spectrum-Badge--cyan {
	--spectrum-badge-label-icon-color: var(--system-badge-cyan-badge-label-icon-color);
}

.spectrum-Badge--blue {
	--spectrum-badge-label-icon-color: var(--system-badge-blue-badge-label-icon-color);
}

.spectrum-Badge--indigo {
	--spectrum-badge-label-icon-color: var(--system-badge-indigo-badge-label-icon-color);
}

.spectrum-Badge--purple {
	--spectrum-badge-label-icon-color: var(--system-badge-purple-badge-label-icon-color);
}

.spectrum-Badge--fuchsia {
	--spectrum-badge-label-icon-color: var(--system-badge-fuchsia-badge-label-icon-color);
}

.spectrum-Badge--magenta {
	--spectrum-badge-label-icon-color: var(--system-badge-magenta-badge-label-icon-color);
}

.spectrum-Badge--sizeS {
	--spectrum-badge-height: var(--system-badge-size-s-badge-height);
	--spectrum-badge-font-size: var(--system-badge-size-s-badge-font-size);
	--spectrum-badge-label-spacing-vertical-top: var(--system-badge-size-s-badge-label-spacing-vertical-top);
	--spectrum-badge-label-spacing-vertical-bottom: var(--system-badge-size-s-badge-label-spacing-vertical-bottom);
	--spectrum-badge-label-spacing-horizontal: var(--system-badge-size-s-badge-label-spacing-horizontal);
	--spectrum-badge-workflow-icon-size: var(--system-badge-size-s-badge-workflow-icon-size);
	--spectrum-badge-icon-text-spacing: var(--system-badge-size-s-badge-icon-text-spacing);
	--spectrum-badge-icon-spacing-horizontal: var(--system-badge-size-s-badge-icon-spacing-horizontal);
	--spectrum-badge-icon-spacing-vertical-top: var(--system-badge-size-s-badge-icon-spacing-vertical-top);
	--spectrum-badge-icon-only-spacing-horizontal: var(--system-badge-size-s-badge-icon-only-spacing-horizontal);
}

.spectrum-Badge--sizeL {
	--spectrum-badge-height: var(--system-badge-size-l-badge-height);
	--spectrum-badge-font-size: var(--system-badge-size-l-badge-font-size);
	--spectrum-badge-label-spacing-vertical-top: var(--system-badge-size-l-badge-label-spacing-vertical-top);
	--spectrum-badge-label-spacing-vertical-bottom: var(--system-badge-size-l-badge-label-spacing-vertical-bottom);
	--spectrum-badge-label-spacing-horizontal: var(--system-badge-size-l-badge-label-spacing-horizontal);
	--spectrum-badge-workflow-icon-size: var(--system-badge-size-l-badge-workflow-icon-size);
	--spectrum-badge-icon-text-spacing: var(--system-badge-size-l-badge-icon-text-spacing);
	--spectrum-badge-icon-spacing-horizontal: var(--system-badge-size-l-badge-icon-spacing-horizontal);
	--spectrum-badge-icon-spacing-vertical-top: var(--system-badge-size-l-badge-icon-spacing-vertical-top);
	--spectrum-badge-icon-only-spacing-horizontal: var(--system-badge-size-l-badge-icon-only-spacing-horizontal);
}

.spectrum-Badge--sizeXL {
	--spectrum-badge-height: var(--system-badge-size-xl-badge-height);
	--spectrum-badge-font-size: var(--system-badge-size-xl-badge-font-size);
	--spectrum-badge-label-spacing-vertical-top: var(--system-badge-size-xl-badge-label-spacing-vertical-top);
	--spectrum-badge-label-spacing-vertical-bottom: var(--system-badge-size-xl-badge-label-spacing-vertical-bottom);
	--spectrum-badge-label-spacing-horizontal: var(--system-badge-size-xl-badge-label-spacing-horizontal);
	--spectrum-badge-workflow-icon-size: var(--system-badge-size-xl-badge-workflow-icon-size);
	--spectrum-badge-icon-text-spacing: var(--system-badge-size-xl-badge-icon-text-spacing);
	--spectrum-badge-icon-spacing-horizontal: var(--system-badge-size-xl-badge-icon-spacing-horizontal);
	--spectrum-badge-icon-spacing-vertical-top: var(--system-badge-size-xl-badge-icon-spacing-vertical-top);
	--spectrum-badge-icon-only-spacing-horizontal: var(--system-badge-size-xl-badge-icon-only-spacing-horizontal);
}
