/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-Calendar {
	--spectrum-calendar-day-width: var(--system-calendar-day-width);
	--spectrum-calendar-day-height: var(--system-calendar-day-height);
	--spectrum-calendar-border-radius-reset: var(--system-calendar-border-radius-reset);
	--spectrum-calendar-border-width-reset: var(--system-calendar-border-width-reset);
	--spectrum-calendar-day-border-size: var(--system-calendar-day-border-size);
	--spectrum-calendar-margin-y: var(--system-calendar-margin-y);
	--spectrum-calendar-margin-x: var(--system-calendar-margin-x);
	--spectrum-calendar-day-padding: var(--system-calendar-day-padding);
	--spectrum-calendar-width: var(--system-calendar-width);
	--spectrum-calendar-title-text-letter-spacing: var(--system-calendar-title-text-letter-spacing);
	--spectrum-calendar-title-height: var(--system-calendar-title-height);
	--spectrum-calendar-title-text-size: var(--system-calendar-title-text-size);
	--spectrum-calendar-day-title-text-font-weight: var(--system-calendar-day-title-text-font-weight);
	--spectrum-calendar-day-title-text-color: var(--system-calendar-day-title-text-color);
	--spectrum-calendar-day-title-text-size: var(--system-calendar-day-title-text-size);
	--spectrum-calendar-day-text-size-han: var(--system-calendar-day-text-size-han);
	--spectrum-calendar-day-text-size: var(--system-calendar-day-text-size);
	--spectrum-calendar-day-text-color-selected: var(--system-calendar-day-text-color-selected);
	--spectrum-calendar-day-text-color-hover: var(--system-calendar-day-text-color-hover);
	--spectrum-calendar-day-text-color-cap-selected: var(--system-calendar-day-text-color-cap-selected);
	--spectrum-calendar-day-text-font-weight-selected: var(--system-calendar-day-text-font-weight-selected);
	--spectrum-calendar-day-text-font-weight-cap-selected: var(--system-calendar-day-text-font-weight-cap-selected);
	--spectrum-calendar-day-today-text-color: var(--system-calendar-day-today-text-color);
	--spectrum-calendar-day-today-text-font-weight: var(--system-calendar-day-today-text-font-weight);
	--spectrum-calendar-day-today-border-color: var(--system-calendar-day-today-border-color);
	--spectrum-calendar-day-today-text-color-disabled: var(--system-calendar-day-today-text-color-disabled);
	--spectrum-calendar-day-today-border-color-disabled: var(--system-calendar-day-today-border-color-disabled);
	--spectrum-calendar-day-text-color-disabled: var(--system-calendar-day-text-color-disabled);
	--spectrum-calendar-day-text-color-key-focus: var(--system-calendar-day-text-color-key-focus);
	--spectrum-calendar-button-icon-color: var(--system-calendar-button-icon-color);
}
