/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Checkbox {
	--spectrum-checkbox-control-color-default: var(--system-spectrum-checkbox-control-color-default);
	--spectrum-checkbox-control-color-hover: var(--system-spectrum-checkbox-control-color-hover);
	--spectrum-checkbox-control-color-down: var(--system-spectrum-checkbox-control-color-down);
	--spectrum-checkbox-control-color-focus: var(--system-spectrum-checkbox-control-color-focus);
	--spectrum-checkbox-content-color-default: var(--system-spectrum-checkbox-content-color-default);
	--spectrum-checkbox-content-color-hover: var(--system-spectrum-checkbox-content-color-hover);
	--spectrum-checkbox-content-color-down: var(--system-spectrum-checkbox-content-color-down);
	--spectrum-checkbox-content-color-focus: var(--system-spectrum-checkbox-content-color-focus);
	--spectrum-checkbox-focus-indicator-color: var(--system-spectrum-checkbox-focus-indicator-color);
	--spectrum-checkbox-content-color-disabled: var(--system-spectrum-checkbox-content-color-disabled);
	--spectrum-checkbox-control-color-disabled: var(--system-spectrum-checkbox-control-color-disabled);
	--spectrum-checkbox-checkmark-color: var(--system-spectrum-checkbox-checkmark-color);
	--spectrum-checkbox-invalid-color-default: var(--system-spectrum-checkbox-invalid-color-default);
	--spectrum-checkbox-invalid-color-hover: var(--system-spectrum-checkbox-invalid-color-hover);
	--spectrum-checkbox-invalid-color-down: var(--system-spectrum-checkbox-invalid-color-down);
	--spectrum-checkbox-invalid-color-focus: var(--system-spectrum-checkbox-invalid-color-focus);
	--spectrum-checkbox-emphasized-color-default: var(--system-spectrum-checkbox-emphasized-color-default);
	--spectrum-checkbox-emphasized-color-hover: var(--system-spectrum-checkbox-emphasized-color-hover);
	--spectrum-checkbox-emphasized-color-down: var(--system-spectrum-checkbox-emphasized-color-down);
	--spectrum-checkbox-emphasized-color-focus: var(--system-spectrum-checkbox-emphasized-color-focus);
	--spectrum-checkbox-control-selected-color-default: var(--system-spectrum-checkbox-control-selected-color-default);
	--spectrum-checkbox-control-selected-color-hover: var(--system-spectrum-checkbox-control-selected-color-hover);
	--spectrum-checkbox-control-selected-color-down: var(--system-spectrum-checkbox-control-selected-color-down);
	--spectrum-checkbox-control-selected-color-focus: var(--system-spectrum-checkbox-control-selected-color-focus);
	--spectrum-checkbox-font-size: var(--system-spectrum-checkbox-font-size);
	--spectrum-checkbox-line-height: var(--system-spectrum-checkbox-line-height);
	--spectrum-checkbox-line-height-cjk: var(--system-spectrum-checkbox-line-height-cjk);
	--spectrum-checkbox-height: var(--system-spectrum-checkbox-height);
	--spectrum-checkbox-control-size: var(--system-spectrum-checkbox-control-size);
	--spectrum-checkbox-control-corner-radius: var(--system-spectrum-checkbox-control-corner-radius);
	--spectrum-checkbox-focus-indicator-gap: var(--system-spectrum-checkbox-focus-indicator-gap);
	--spectrum-checkbox-focus-indicator-thickness: var(--system-spectrum-checkbox-focus-indicator-thickness);
	--spectrum-checkbox-border-width: var(--system-spectrum-checkbox-border-width);
	--spectrum-checkbox-selected-border-width: var(--system-spectrum-checkbox-selected-border-width);
	--spectrum-checkbox-top-to-text: var(--system-spectrum-checkbox-top-to-text);
	--spectrum-checkbox-text-to-control: var(--system-spectrum-checkbox-text-to-control);
	--spectrum-checkbox-animation-duration: var(--system-spectrum-checkbox-animation-duration);
}

.spectrum-Checkbox--sizeS {
	--spectrum-checkbox-font-size: var(--system-spectrum-checkbox-size-s-font-size);
	--spectrum-checkbox-height: var(--system-spectrum-checkbox-size-s-height);
	--spectrum-checkbox-control-size: var(--system-spectrum-checkbox-size-s-control-size);
	--spectrum-checkbox-top-to-text: var(--system-spectrum-checkbox-size-s-top-to-text);
	--spectrum-checkbox-text-to-control: var(--system-spectrum-checkbox-size-s-text-to-control);
}

.spectrum-Checkbox--sizeL {
	--spectrum-checkbox-font-size: var(--system-spectrum-checkbox-size-l-font-size);
	--spectrum-checkbox-height: var(--system-spectrum-checkbox-size-l-height);
	--spectrum-checkbox-control-size: var(--system-spectrum-checkbox-size-l-control-size);
	--spectrum-checkbox-top-to-text: var(--system-spectrum-checkbox-size-l-top-to-text);
	--spectrum-checkbox-text-to-control: var(--system-spectrum-checkbox-size-l-text-to-control);
}

.spectrum-Checkbox--sizeXL {
	--spectrum-checkbox-font-size: var(--system-spectrum-checkbox-size-xl-font-size);
	--spectrum-checkbox-height: var(--system-spectrum-checkbox-size-xl-height);
	--spectrum-checkbox-control-size: var(--system-spectrum-checkbox-size-xl-control-size);
	--spectrum-checkbox-top-to-text: var(--system-spectrum-checkbox-size-xl-top-to-text);
	--spectrum-checkbox-text-to-control: var(--system-spectrum-checkbox-size-xl-text-to-control);
}
