/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Combobox {
	--spectrum-combobox-border-color-default: var(--system-spectrum-combobox-border-color-default);
	--spectrum-combobox-border-color-hover: var(--system-spectrum-combobox-border-color-hover);
	--spectrum-combobox-border-color-focus: var(--system-spectrum-combobox-border-color-focus);
	--spectrum-combobox-border-color-focus-hover: var(--system-spectrum-combobox-border-color-focus-hover);
	--spectrum-combobox-border-color-key-focus: var(--system-spectrum-combobox-border-color-key-focus);
	--spectrum-combobox-inline-size: var(--system-spectrum-combobox-inline-size);
	--spectrum-combobox-block-size: var(--system-spectrum-combobox-block-size);
	--spectrum-combobox-min-inline-size: var(--system-spectrum-combobox-min-inline-size);
	--spectrum-combobox-button-width: var(--system-spectrum-combobox-button-width);
	--spectrum-combobox-icon-size: var(--system-spectrum-combobox-icon-size);
	--spectrum-combobox-font-size: var(--system-spectrum-combobox-font-size);
	--spectrum-combobox-spacing-inline-icon-to-button: var(--system-spectrum-combobox-spacing-inline-icon-to-button);
	--spectrum-combobox-block-spacing-edge-to-progress-circle: var(--system-spectrum-combobox-block-spacing-edge-to-progress-circle);
	--spectrum-combobox-block-spacing-edge-to-alert: var(--system-spectrum-combobox-block-spacing-edge-to-alert);
	--spectrum-combobox-spacing-edge-to-menu: var(--system-spectrum-combobox-spacing-edge-to-menu);
	--spectrum-combobox-spacing-block-start-edge-to-text: var(--system-spectrum-combobox-spacing-block-start-edge-to-text);
	--spectrum-combobox-spacing-block-end-edge-to-text: var(--system-spectrum-combobox-spacing-block-end-edge-to-text);
	--spectrum-combobox-spacing-inline-start-edge-to-text: var(--system-spectrum-combobox-spacing-inline-start-edge-to-text);
	--spectrum-combobox-spacing-inline-end-edge-to-text: var(--system-spectrum-combobox-spacing-inline-end-edge-to-text);
	--spectrum-combobox-focus-indicator-thickness: var(--system-spectrum-combobox-focus-indicator-thickness);
	--spectrum-combobox-focus-indicator-gap: var(--system-spectrum-combobox-focus-indicator-gap);
	--spectrum-combobox-focus-indicator-color: var(--system-spectrum-combobox-focus-indicator-color);
	--spectrum-combobox-border-radius: var(--system-spectrum-combobox-border-radius);
	--spectrum-combobox-border-width: var(--system-spectrum-combobox-border-width);
	--spectrum-combobox-spacing-label-to-combobox: var(--system-spectrum-combobox-spacing-label-to-combobox);
	--spectrum-combobox-font-style: var(--system-spectrum-combobox-font-style);
	--spectrum-combobox-line-height: var(--system-spectrum-combobox-line-height);
	--spectrum-combobox-border-color-invalid-default: var(--system-spectrum-combobox-border-color-invalid-default);
	--spectrum-combobox-border-color-invalid-hover: var(--system-spectrum-combobox-border-color-invalid-hover);
	--spectrum-combobox-border-color-invalid-focus: var(--system-spectrum-combobox-border-color-invalid-focus);
	--spectrum-combobox-border-color-invalid-focus-hover: var(--system-spectrum-combobox-border-color-invalid-focus-hover);
	--spectrum-combobox-border-color-invalid-key-focus: var(--system-spectrum-combobox-border-color-invalid-key-focus);
	--mod-textfield-focus-indicator-gap: var(--system-spectrum-combobox-mod-textfield-focus-indicator-gap);
	--mod-textfield-focus-indicator-width: var(--system-spectrum-combobox-mod-textfield-focus-indicator-width);
	--mod-textfield-focus-indicator-color: var(--system-spectrum-combobox-mod-textfield-focus-indicator-color);
	--mod-textfield-background-color: var(--system-spectrum-combobox-mod-textfield-background-color);
	--mod-textfield-background-color-disabled: var(--system-spectrum-combobox-mod-textfield-background-color-disabled);
	--mod-textfield-font-family: var(--system-spectrum-combobox-mod-textfield-font-family);
	--mod-textfield-font-weight: var(--system-spectrum-combobox-mod-textfield-font-weight);
	--mod-textfield-text-color-default: var(--system-spectrum-combobox-mod-textfield-text-color-default);
	--mod-textfield-text-color-hover: var(--system-spectrum-combobox-mod-textfield-text-color-hover);
	--mod-textfield-text-color-focus: var(--system-spectrum-combobox-mod-textfield-text-color-focus);
	--mod-textfield-text-color-focus-hover: var(--system-spectrum-combobox-mod-textfield-text-color-focus-hover);
	--mod-textfield-text-color-keyboard-focus: var(--system-spectrum-combobox-mod-textfield-text-color-keyboard-focus);
	--mod-textfield-text-color-disabled: var(--system-spectrum-combobox-mod-textfield-text-color-disabled);
	--mod-textfield-border-width: var(--system-spectrum-combobox-mod-textfield-border-width);
	--mod-textfield-border-color: var(--system-spectrum-combobox-mod-textfield-border-color);
	--mod-textfield-border-color-disabled: var(--system-spectrum-combobox-mod-textfield-border-color-disabled);
	--mod-textfield-border-color-focus: var(--system-spectrum-combobox-mod-textfield-border-color-focus);
	--mod-textfield-border-color-focus-hover: var(--system-spectrum-combobox-mod-textfield-border-color-focus-hover);
	--mod-textfield-border-color-hover: var(--system-spectrum-combobox-mod-textfield-border-color-hover);
	--mod-textfield-border-color-keyboard-focus: var(--system-spectrum-combobox-mod-textfield-border-color-keyboard-focus);
	--mod-textfield-border-color-invalid-default: var(--system-spectrum-combobox-mod-textfield-border-color-invalid-default);
	--mod-textfield-border-color-invalid-hover: var(--system-spectrum-combobox-mod-textfield-border-color-invalid-hover);
	--mod-textfield-border-color-invalid-focus: var(--system-spectrum-combobox-mod-textfield-border-color-invalid-focus);
	--mod-textfield-border-color-invalid-focus-hover: var(--system-spectrum-combobox-mod-textfield-border-color-invalid-focus-hover);
	--mod-textfield-border-color-invalid-keyboard-focus: var(--system-spectrum-combobox-mod-textfield-border-color-invalid-keyboard-focus);
	--mod-textfield-icon-color-invalid: var(--system-spectrum-combobox-mod-textfield-icon-color-invalid);
	--mod-picker-button-border-width: var(--system-spectrum-combobox-mod-picker-button-border-width);
	--mod-picker-button-border-color: var(--system-spectrum-combobox-mod-picker-button-border-color);
	--mod-picker-button-background-color: var(--system-spectrum-combobox-mod-picker-button-background-color);
	--mod-picker-button-background-color-disabled: var(--system-spectrum-combobox-mod-picker-button-background-color-disabled);
	--mod-picker-button-font-color-disabled: var(--system-spectrum-combobox-mod-picker-button-font-color-disabled);
}

.spectrum-Combobox--sizeS {
	--spectrum-combobox-block-size: var(--system-spectrum-combobox-sizes-block-size);
	--spectrum-combobox-icon-size: var(--system-spectrum-combobox-sizes-icon-size);
	--spectrum-combobox-font-size: var(--system-spectrum-combobox-sizes-font-size);
	--spectrum-combobox-spacing-inline-icon-to-button: var(--system-spectrum-combobox-sizes-spacing-inline-icon-to-button);
	--spectrum-combobox-block-spacing-edge-to-progress-circle: var(--system-spectrum-combobox-sizes-block-spacing-edge-to-progress-circle);
	--spectrum-combobox-block-spacing-edge-to-alert: var(--system-spectrum-combobox-sizes-block-spacing-edge-to-alert);
	--spectrum-combobox-spacing-edge-to-menu: var(--system-spectrum-combobox-sizes-spacing-edge-to-menu);
	--spectrum-combobox-spacing-block-start-edge-to-text: var(--system-spectrum-combobox-sizes-spacing-block-start-edge-to-text);
	--spectrum-combobox-spacing-block-end-edge-to-text: var(--system-spectrum-combobox-sizes-spacing-block-end-edge-to-text);
	--spectrum-combobox-spacing-inline-start-edge-to-text: var(--system-spectrum-combobox-sizes-spacing-inline-start-edge-to-text);
	--spectrum-combobox-spacing-inline-end-edge-to-text: var(--system-spectrum-combobox-sizes-spacing-inline-end-edge-to-text);
}

.spectrum-Combobox--sizeM {
	--spectrum-combobox-block-size: var(--system-spectrum-combobox-sizem-block-size);
	--spectrum-combobox-icon-size: var(--system-spectrum-combobox-sizem-icon-size);
	--spectrum-combobox-font-size: var(--system-spectrum-combobox-sizem-font-size);
	--spectrum-combobox-spacing-inline-icon-to-button: var(--system-spectrum-combobox-sizem-spacing-inline-icon-to-button);
	--spectrum-combobox-block-spacing-edge-to-progress-circle: var(--system-spectrum-combobox-sizem-block-spacing-edge-to-progress-circle);
	--spectrum-combobox-block-spacing-edge-to-alert: var(--system-spectrum-combobox-sizem-block-spacing-edge-to-alert);
	--spectrum-combobox-spacing-edge-to-menu: var(--system-spectrum-combobox-sizem-spacing-edge-to-menu);
	--spectrum-combobox-spacing-block-start-edge-to-text: var(--system-spectrum-combobox-sizem-spacing-block-start-edge-to-text);
	--spectrum-combobox-spacing-block-end-edge-to-text: var(--system-spectrum-combobox-sizem-spacing-block-end-edge-to-text);
	--spectrum-combobox-spacing-inline-start-edge-to-text: var(--system-spectrum-combobox-sizem-spacing-inline-start-edge-to-text);
	--spectrum-combobox-spacing-inline-end-edge-to-text: var(--system-spectrum-combobox-sizem-spacing-inline-end-edge-to-text);
}

.spectrum-Combobox--sizeL {
	--spectrum-combobox-block-size: var(--system-spectrum-combobox-sizel-block-size);
	--spectrum-combobox-icon-size: var(--system-spectrum-combobox-sizel-icon-size);
	--spectrum-combobox-font-size: var(--system-spectrum-combobox-sizel-font-size);
	--spectrum-combobox-spacing-inline-icon-to-button: var(--system-spectrum-combobox-sizel-spacing-inline-icon-to-button);
	--spectrum-combobox-block-spacing-edge-to-progress-circle: var(--system-spectrum-combobox-sizel-block-spacing-edge-to-progress-circle);
	--spectrum-combobox-block-spacing-edge-to-alert: var(--system-spectrum-combobox-sizel-block-spacing-edge-to-alert);
	--spectrum-combobox-spacing-edge-to-menu: var(--system-spectrum-combobox-sizel-spacing-edge-to-menu);
	--spectrum-combobox-spacing-block-start-edge-to-text: var(--system-spectrum-combobox-sizel-spacing-block-start-edge-to-text);
	--spectrum-combobox-spacing-block-end-edge-to-text: var(--system-spectrum-combobox-sizel-spacing-block-end-edge-to-text);
	--spectrum-combobox-spacing-inline-start-edge-to-text: var(--system-spectrum-combobox-sizel-spacing-inline-start-edge-to-text);
	--spectrum-combobox-spacing-inline-end-edge-to-text: var(--system-spectrum-combobox-sizel-spacing-inline-end-edge-to-text);
}

.spectrum-Combobox--sizeXL {
	--spectrum-combobox-block-size: var(--system-spectrum-combobox-sizexl-block-size);
	--spectrum-combobox-icon-size: var(--system-spectrum-combobox-sizexl-icon-size);
	--spectrum-combobox-font-size: var(--system-spectrum-combobox-sizexl-font-size);
	--spectrum-combobox-spacing-inline-icon-to-button: var(--system-spectrum-combobox-sizexl-spacing-inline-icon-to-button);
	--spectrum-combobox-block-spacing-edge-to-progress-circle: var(--system-spectrum-combobox-sizexl-block-spacing-edge-to-progress-circle);
	--spectrum-combobox-block-spacing-edge-to-alert: var(--system-spectrum-combobox-sizexl-block-spacing-edge-to-alert);
	--spectrum-combobox-spacing-edge-to-menu: var(--system-spectrum-combobox-sizexl-spacing-edge-to-menu);
	--spectrum-combobox-spacing-block-start-edge-to-text: var(--system-spectrum-combobox-sizexl-spacing-block-start-edge-to-text);
	--spectrum-combobox-spacing-block-end-edge-to-text: var(--system-spectrum-combobox-sizexl-spacing-block-end-edge-to-text);
	--spectrum-combobox-spacing-inline-start-edge-to-text: var(--system-spectrum-combobox-sizexl-spacing-inline-start-edge-to-text);
	--spectrum-combobox-spacing-inline-end-edge-to-text: var(--system-spectrum-combobox-sizexl-spacing-inline-end-edge-to-text);
}

.spectrum-Combobox--quiet {
	--spectrum-combobox-min-inline-size: var(--system-spectrum-combobox-quiet-min-inline-size);
	--spectrum-combobox-spacing-inline-icon-to-button: var(--system-spectrum-combobox-quiet-spacing-inline-icon-to-button);
	--spectrum-combobox-spacing-inline-start-edge-to-text: var(--system-spectrum-combobox-quiet-spacing-inline-start-edge-to-text);
	--spectrum-combobox-spacing-label-to-combobox: var(--system-spectrum-combobox-quiet-spacing-label-to-combobox);
	--spectrum-combobox-button-inline-offset: var(--system-spectrum-combobox-quiet-button-inline-offset);
	--mod-picker-button-background-color-quiet: var(--system-spectrum-combobox-quiet-mod-picker-button-background-color-quiet);
	--mod-picker-button-border-color-quiet: var(--system-spectrum-combobox-quiet-mod-picker-button-border-color-quiet);
}

.spectrum-Combobox--quiet.spectrum-Combobox--sizeS {
	--spectrum-combobox-spacing-label-to-combobox: var(--system-spectrum-combobox-quiet-sizes-spacing-label-to-combobox);
}

.spectrum-Combobox--quiet.spectrum-Combobox--sizeM {
	--spectrum-combobox-spacing-label-to-combobox: var(--system-spectrum-combobox-quiet-sizem-spacing-label-to-combobox);
}

.spectrum-Combobox--quiet.spectrum-Combobox--sizeL {
	--spectrum-combobox-spacing-label-to-combobox: var(--system-spectrum-combobox-quiet-sizel-spacing-label-to-combobox);
}

.spectrum-Combobox--quiet.spectrum-Combobox--sizeXL {
	--spectrum-combobox-spacing-label-to-combobox: var(--system-spectrum-combobox-quiet-sizexl-spacing-label-to-combobox);
}
