/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-ContextualHelp {
	--spectrum-contextual-help-padding: var(--system-contextual-help-contextual-help-padding);
	--spectrum-contextual-help-content-spacing: var(--system-contextual-help-contextual-help-content-spacing);
	--spectrum-contextual-help-link-spacing: var(--system-contextual-help-contextual-help-link-spacing);
	--spectrum-contextual-help-heading-size: var(--system-contextual-help-contextual-help-heading-size);
	--spectrum-contextual-help-heading-color: var(--system-contextual-help-contextual-help-heading-color);
	--spectrum-contextual-help-body-color: var(--system-contextual-help-contextual-help-body-color);
}

.spectrum--large .spectrum-ContextualHelp {
	--spectrum-contextual-help-content-spacing: var(--system-large-contextual-help-contextual-help-content-spacing);
}
