/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-DatePicker {
	--spectrum-datepicker-initial-height: var(--system-date-picker-datepicker-initial-height);
	--spectrum-datepicker-border-radius: var(--system-date-picker-datepicker-border-radius);
	--spectrum-datepicker-border-radius-quiet: var(--system-date-picker-datepicker-border-radius-quiet);
	--spectrum-datepicker-border-width: var(--system-date-picker-datepicker-border-width);
	--spectrum-datepicker-min-width: var(--system-date-picker-datepicker-min-width);
	--spectrum-datepicker-icon-size: var(--system-date-picker-datepicker-icon-size);
	--spectrum-datepicker-pickerbutton-border-color: var(--system-date-picker-datepicker-pickerbutton-border-color);
	--spectrum-datepicker-pickerbutton-border-color-invalid: var(--system-date-picker-datepicker-pickerbutton-border-color-invalid);
	--spectrum-datepicker-pickerbutton-width: var(--system-date-picker-datepicker-pickerbutton-width);
	--spectrum-datepicker-pickerbutton-width-quiet: var(--system-date-picker-datepicker-pickerbutton-width-quiet);
	--spectrum-datepicker-quiet-button-offset: var(--system-date-picker-datepicker-quiet-button-offset);
	--spectrum-datepicker-icon-to-button: var(--system-date-picker-datepicker-icon-to-button);
	--spectrum-datepicker-icon-to-text: var(--system-date-picker-datepicker-icon-to-text);
	--spectrum-datepicker-focus-ring-gap: var(--system-date-picker-datepicker-focus-ring-gap);
	--spectrum-datepicker-focus-thickness: var(--system-date-picker-datepicker-focus-thickness);
	--spectrum-datepicker-focus-animation: var(--system-date-picker-datepicker-focus-animation);
	--spectrum-datepicker-focus-ring-width: var(--system-date-picker-datepicker-focus-ring-width);
	--spectrum-datepicker-focus-ring-color: var(--system-date-picker-datepicker-focus-ring-color);
	--spectrum-datepicker-focus-line-gap: var(--system-date-picker-datepicker-focus-line-gap);
	--spectrum-datepicker-invalid-quiet-color: var(--system-date-picker-datepicker-invalid-quiet-color);
	--spectrum-datepicker-quiet-border-color-hover: var(--system-date-picker-datepicker-quiet-border-color-hover);
	--spectrum-datepicker-border-color-disabled: var(--system-date-picker-datepicker-border-color-disabled);
	--spectrum-datepicker-dash-font-size: var(--system-date-picker-datepicker-dash-font-size);
	--spectrum-datepicker-dash-color: var(--system-date-picker-datepicker-dash-color);
	--spectrum-datepicker-dash-color-disabled: var(--system-date-picker-datepicker-dash-color-disabled);
	--spectrum-datepicker-range-dash-marin-inline-start: var(--system-date-picker-datepicker-range-dash-marin-inline-start);
	--spectrum-datepicker-range-dash-padding-top: var(--system-date-picker-datepicker-range-dash-padding-top);
	--spectrum-datepicker-input-width-base: var(--system-date-picker-datepicker-input-width-base);
	--spectrum-datepicker-input-width: var(--system-date-picker-datepicker-input-width);
	--spectrum-datepicker-input-width-quiet: var(--system-date-picker-datepicker-input-width-quiet);
	--spectrum-datepicker-range-input-width-first: var(--system-date-picker-datepicker-range-input-width-first);
	--spectrum-datepicker-range-input-width-quiet-first: var(--system-date-picker-datepicker-range-input-width-quiet-first);
	--spectrum-datepicker-datetime-input-width-first: var(--system-date-picker-datepicker-datetime-input-width-first);
	--spectrum-datepicker-datetime-input-width: var(--system-date-picker-datepicker-datetime-input-width);
	--spectrum-datepicker-datetime-quiet-input-width-first: var(--system-date-picker-datepicker-datetime-quiet-input-width-first);
	--spectrum-datepicker-datetime-quiet-input-width: var(--system-date-picker-datepicker-datetime-quiet-input-width);
	--spectrum-datepicker-padding-inline-end: var(--system-date-picker-datepicker-padding-inline-end);
	--spectrum-datepicker-padding-inline-end-quiet: var(--system-date-picker-datepicker-padding-inline-end-quiet);
	--spectrum-datepicker-padding-inline-end-invalid: var(--system-date-picker-datepicker-padding-inline-end-invalid);
	--spectrum-datepicker-padding-inline-end-invalid-quiet: var(--system-date-picker-datepicker-padding-inline-end-invalid-quiet);
}
