/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-HelpText {
	--spectrum-helptext-line-height: var(--system-helptext-line-height);
	--spectrum-helptext-content-color-default: var(--system-helptext-content-color-default);
	--spectrum-helptext-icon-color-default: var(--system-helptext-icon-color-default);
	--spectrum-helptext-disabled-content-color: var(--system-helptext-disabled-content-color);
}

.spectrum-HelpText.spectrum-HelpText--neutral {
	--spectrum-helptext-content-color-default: var(--system-helptext-neutral-content-color-default);
	--spectrum-helptext-icon-color-default: var(--system-helptext-neutral-icon-color-default);
}

.spectrum-HelpText.spectrum-HelpText--negative {
	--spectrum-helptext-content-color-default: var(--system-helptext-negative-content-color-default);
	--spectrum-helptext-icon-color-default: var(--system-helptext-negative-icon-color-default);
}

.spectrum-HelpText.is-disabled {
	--spectrum-helptext-content-color-default: var(--system-helptext-disabled-content-color-default);
	--spectrum-helptext-icon-color-default: var(--system-helptext-disabled-icon-color-default);
}

.spectrum-HelpText:lang(ja) {
	--spectrum-helptext-line-height-cjk: var(--system-helptext-lang-ja-line-height-cjk);
}

.spectrum-HelpText:lang(zh) {
	--spectrum-helptext-line-height-cjk: var(--system-helptext-lang-zh-line-height-cjk);
}

.spectrum-HelpText:lang(ko) {
	--spectrum-helptext-line-height-cjk: var(--system-helptext-lang-ko-line-height-cjk);
}

.spectrum-HelpText--sizeS {
	--spectrum-helptext-min-height: var(--system-helptext-size-s-min-height);
	--spectrum-helptext-icon-size: var(--system-helptext-size-s-icon-size);
	--spectrum-helptext-font-size: var(--system-helptext-size-s-font-size);
	--spectrum-helptext-text-to-visual: var(--system-helptext-size-s-text-to-visual);
	--spectrum-helptext-top-to-workflow-icon: var(--system-helptext-size-s-top-to-workflow-icon);
	--spectrum-helptext-bottom-to-workflow-icon: var(--system-helptext-size-s-bottom-to-workflow-icon);
	--spectrum-helptext-top-to-text: var(--system-helptext-size-s-top-to-text);
	--spectrum-helptext-bottom-to-text: var(--system-helptext-size-s-bottom-to-text);
}

.spectrum-HelpText--sizeM {
	--spectrum-helptext-min-height: var(--system-helptext-size-m-min-height);
	--spectrum-helptext-icon-size: var(--system-helptext-size-m-icon-size);
	--spectrum-helptext-font-size: var(--system-helptext-size-m-font-size);
	--spectrum-helptext-text-to-visual: var(--system-helptext-size-m-text-to-visual);
	--spectrum-helptext-top-to-workflow-icon: var(--system-helptext-size-m-top-to-workflow-icon);
	--spectrum-helptext-bottom-to-workflow-icon: var(--system-helptext-size-m-bottom-to-workflow-icon);
	--spectrum-helptext-top-to-text: var(--system-helptext-size-m-top-to-text);
	--spectrum-helptext-bottom-to-text: var(--system-helptext-size-m-bottom-to-text);
}

.spectrum-HelpText--sizeL {
	--spectrum-helptext-min-height: var(--system-helptext-size-l-min-height);
	--spectrum-helptext-icon-size: var(--system-helptext-size-l-icon-size);
	--spectrum-helptext-font-size: var(--system-helptext-size-l-font-size);
	--spectrum-helptext-text-to-visual: var(--system-helptext-size-l-text-to-visual);
	--spectrum-helptext-top-to-workflow-icon: var(--system-helptext-size-l-top-to-workflow-icon);
	--spectrum-helptext-bottom-to-workflow-icon: var(--system-helptext-size-l-bottom-to-workflow-icon);
	--spectrum-helptext-top-to-text: var(--system-helptext-size-l-top-to-text);
	--spectrum-helptext-bottom-to-text: var(--system-helptext-size-l-bottom-to-text);
}

.spectrum-HelpText--sizeXL {
	--spectrum-helptext-min-height: var(--system-helptext-size-xl-min-height);
	--spectrum-helptext-icon-size: var(--system-helptext-size-xl-icon-size);
	--spectrum-helptext-font-size: var(--system-helptext-size-xl-font-size);
	--spectrum-helptext-text-to-visual: var(--system-helptext-size-xl-text-to-visual);
	--spectrum-helptext-top-to-workflow-icon: var(--system-helptext-size-xl-top-to-workflow-icon);
	--spectrum-helptext-bottom-to-workflow-icon: var(--system-helptext-size-xl-bottom-to-workflow-icon);
	--spectrum-helptext-top-to-text: var(--system-helptext-size-xl-top-to-text);
	--spectrum-helptext-bottom-to-text: var(--system-helptext-size-xl-bottom-to-text);
}
