/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-Icon {
	--spectrum-icon-size: var(--system-icon-icon-size);
}

.spectrum-Icon--sizeXXS {
	--spectrum-icon-size: var(--system-icon-size-xxs-icon-size);
}

.spectrum-Icon--sizeXS {
	--spectrum-icon-size: var(--system-icon-size-xs-icon-size);
}

.spectrum-Icon--sizeS {
	--spectrum-icon-size: var(--system-icon-size-s-icon-size);
}

.spectrum-Icon--sizeL {
	--spectrum-icon-size: var(--system-icon-size-l-icon-size);
}

.spectrum-Icon--sizeXL {
	--spectrum-icon-size: var(--system-icon-size-xl-icon-size);
}

.spectrum-Icon--sizeXXL {
	--spectrum-icon-size: var(--system-icon-size-xxl-icon-size);
}

.spectrum-UIIcon-ChevronRight50 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-right-50-icon-size);
}

.spectrum-UIIcon-ChevronRight75 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-right-75-icon-size);
}

.spectrum-UIIcon-ChevronRight100 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-right-100-icon-size);
}

.spectrum-UIIcon-ChevronRight200 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-right-200-icon-size);
}

.spectrum-UIIcon-ChevronRight300 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-right-300-icon-size);
}

.spectrum-UIIcon-ChevronRight400 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-right-400-icon-size);
}

.spectrum-UIIcon-ChevronRight500 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-right-500-icon-size);
}

.spectrum-UIIcon-ChevronDown50 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-down-50-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-down-50-icon-transform);
}

.spectrum-UIIcon-ChevronDown75 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-down-75-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-down-75-icon-transform);
}

.spectrum-UIIcon-ChevronDown100 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-down-100-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-down-100-icon-transform);
}

.spectrum-UIIcon-ChevronDown200 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-down-200-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-down-200-icon-transform);
}

.spectrum-UIIcon-ChevronDown300 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-down-300-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-down-300-icon-transform);
}

.spectrum-UIIcon-ChevronDown400 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-down-400-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-down-400-icon-transform);
}

.spectrum-UIIcon-ChevronDown500 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-down-500-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-down-500-icon-transform);
}

.spectrum-UIIcon-ChevronLeft50 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-left-50-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-left-50-icon-transform);
}

.spectrum-UIIcon-ChevronLeft75 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-left-75-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-left-75-icon-transform);
}

.spectrum-UIIcon-ChevronLeft100 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-left-100-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-left-100-icon-transform);
}

.spectrum-UIIcon-ChevronLeft200 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-left-200-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-left-200-icon-transform);
}

.spectrum-UIIcon-ChevronLeft300 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-left-300-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-left-300-icon-transform);
}

.spectrum-UIIcon-ChevronLeft400 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-left-400-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-left-400-icon-transform);
}

.spectrum-UIIcon-ChevronLeft500 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-left-500-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-left-500-icon-transform);
}

.spectrum-UIIcon-ChevronUp50 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-up-50-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-up-50-icon-transform);
}

.spectrum-UIIcon-ChevronUp75 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-up-75-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-up-75-icon-transform);
}

.spectrum-UIIcon-ChevronUp100 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-up-100-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-up-100-icon-transform);
}

.spectrum-UIIcon-ChevronUp200 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-up-200-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-up-200-icon-transform);
}

.spectrum-UIIcon-ChevronUp300 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-up-300-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-up-300-icon-transform);
}

.spectrum-UIIcon-ChevronUp400 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-up-400-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-up-400-icon-transform);
}

.spectrum-UIIcon-ChevronUp500 {
	--spectrum-icon-size: var(--system-ui-icon-chevron-up-500-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-chevron-up-500-icon-transform);
}

.spectrum-UIIcon-ArrowRight75 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-right-75-icon-size);
}

.spectrum-UIIcon-ArrowRight100 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-right-100-icon-size);
}

.spectrum-UIIcon-ArrowRight200 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-right-200-icon-size);
}

.spectrum-UIIcon-ArrowRight300 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-right-300-icon-size);
}

.spectrum-UIIcon-ArrowRight400 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-right-400-icon-size);
}

.spectrum-UIIcon-ArrowRight500 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-right-500-icon-size);
}

.spectrum-UIIcon-ArrowRight600 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-right-600-icon-size);
}

.spectrum-UIIcon-ArrowDown75 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-down-75-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-down-75-icon-transform);
}

.spectrum-UIIcon-ArrowDown100 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-down-100-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-down-100-icon-transform);
}

.spectrum-UIIcon-ArrowDown200 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-down-200-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-down-200-icon-transform);
}

.spectrum-UIIcon-ArrowDown300 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-down-300-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-down-300-icon-transform);
}

.spectrum-UIIcon-ArrowDown400 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-down-400-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-down-400-icon-transform);
}

.spectrum-UIIcon-ArrowDown500 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-down-500-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-down-500-icon-transform);
}

.spectrum-UIIcon-ArrowDown600 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-down-600-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-down-600-icon-transform);
}

.spectrum-UIIcon-ArrowLeft75 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-left-75-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-left-75-icon-transform);
}

.spectrum-UIIcon-ArrowLeft100 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-left-100-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-left-100-icon-transform);
}

.spectrum-UIIcon-ArrowLeft200 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-left-200-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-left-200-icon-transform);
}

.spectrum-UIIcon-ArrowLeft300 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-left-300-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-left-300-icon-transform);
}

.spectrum-UIIcon-ArrowLeft400 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-left-400-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-left-400-icon-transform);
}

.spectrum-UIIcon-ArrowLeft500 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-left-500-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-left-500-icon-transform);
}

.spectrum-UIIcon-ArrowLeft600 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-left-600-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-left-600-icon-transform);
}

.spectrum-UIIcon-ArrowUp75 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-up-75-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-up-75-icon-transform);
}

.spectrum-UIIcon-ArrowUp100 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-up-100-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-up-100-icon-transform);
}

.spectrum-UIIcon-ArrowUp200 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-up-200-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-up-200-icon-transform);
}

.spectrum-UIIcon-ArrowUp300 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-up-300-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-up-300-icon-transform);
}

.spectrum-UIIcon-ArrowUp400 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-up-400-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-up-400-icon-transform);
}

.spectrum-UIIcon-ArrowUp500 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-up-500-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-up-500-icon-transform);
}

.spectrum-UIIcon-ArrowUp600 {
	--spectrum-icon-size: var(--system-ui-icon-arrow-up-600-icon-size);
	--spectrum-icon-transform: var(--system-ui-icon-arrow-up-600-icon-transform);
}

.spectrum-UIIcon-Checkmark50 {
	--spectrum-icon-size: var(--system-ui-icon-checkmark-50-icon-size);
}

.spectrum-UIIcon-Checkmark75 {
	--spectrum-icon-size: var(--system-ui-icon-checkmark-75-icon-size);
}

.spectrum-UIIcon-Checkmark100 {
	--spectrum-icon-size: var(--system-ui-icon-checkmark-100-icon-size);
}

.spectrum-UIIcon-Checkmark200 {
	--spectrum-icon-size: var(--system-ui-icon-checkmark-200-icon-size);
}

.spectrum-UIIcon-Checkmark300 {
	--spectrum-icon-size: var(--system-ui-icon-checkmark-300-icon-size);
}

.spectrum-UIIcon-Checkmark400 {
	--spectrum-icon-size: var(--system-ui-icon-checkmark-400-icon-size);
}

.spectrum-UIIcon-Checkmark500 {
	--spectrum-icon-size: var(--system-ui-icon-checkmark-500-icon-size);
}

.spectrum-UIIcon-Checkmark600 {
	--spectrum-icon-size: var(--system-ui-icon-checkmark-600-icon-size);
}

.spectrum-UIIcon-Dash50 {
	--spectrum-icon-size: var(--system-ui-icon-dash-50-icon-size);
}

.spectrum-UIIcon-Dash75 {
	--spectrum-icon-size: var(--system-ui-icon-dash-75-icon-size);
}

.spectrum-UIIcon-Dash100 {
	--spectrum-icon-size: var(--system-ui-icon-dash-100-icon-size);
}

.spectrum-UIIcon-Dash200 {
	--spectrum-icon-size: var(--system-ui-icon-dash-200-icon-size);
}

.spectrum-UIIcon-Dash300 {
	--spectrum-icon-size: var(--system-ui-icon-dash-300-icon-size);
}

.spectrum-UIIcon-Dash400 {
	--spectrum-icon-size: var(--system-ui-icon-dash-400-icon-size);
}

.spectrum-UIIcon-Dash500 {
	--spectrum-icon-size: var(--system-ui-icon-dash-500-icon-size);
}

.spectrum-UIIcon-Dash600 {
	--spectrum-icon-size: var(--system-ui-icon-dash-600-icon-size);
}

.spectrum-UIIcon-Cross75 {
	--spectrum-icon-size: var(--system-ui-icon-cross-75-icon-size);
}

.spectrum-UIIcon-Cross100 {
	--spectrum-icon-size: var(--system-ui-icon-cross-100-icon-size);
}

.spectrum-UIIcon-Cross200 {
	--spectrum-icon-size: var(--system-ui-icon-cross-200-icon-size);
}

.spectrum-UIIcon-Cross300 {
	--spectrum-icon-size: var(--system-ui-icon-cross-300-icon-size);
}

.spectrum-UIIcon-Cross400 {
	--spectrum-icon-size: var(--system-ui-icon-cross-400-icon-size);
}

.spectrum-UIIcon-Cross500 {
	--spectrum-icon-size: var(--system-ui-icon-cross-500-icon-size);
}

.spectrum-UIIcon-Cross600 {
	--spectrum-icon-size: var(--system-ui-icon-cross-600-icon-size);
}

.spectrum-UIIcon-CornerTriangle75 {
	--spectrum-icon-size: var(--system-ui-icon-corner-triangle-75-icon-size);
}

.spectrum-UIIcon-CornerTriangle100 {
	--spectrum-icon-size: var(--system-ui-icon-corner-triangle-100-icon-size);
}

.spectrum-UIIcon-CornerTriangle200 {
	--spectrum-icon-size: var(--system-ui-icon-corner-triangle-200-icon-size);
}

.spectrum-UIIcon-CornerTriangle300 {
	--spectrum-icon-size: var(--system-ui-icon-corner-triangle-300-icon-size);
}

.spectrum-UIIcon-Asterisk75 {
	--spectrum-icon-size: var(--system-ui-icon-asterisk-75-icon-size);
}

.spectrum-UIIcon-Asterisk100 {
	--spectrum-icon-size: var(--system-ui-icon-asterisk-100-icon-size);
}

.spectrum-UIIcon-Asterisk200 {
	--spectrum-icon-size: var(--system-ui-icon-asterisk-200-icon-size);
}

.spectrum-UIIcon-Asterisk300 {
	--spectrum-icon-size: var(--system-ui-icon-asterisk-300-icon-size);
}
