/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-InfieldButton {
	--spectrum-infield-button-border-width: var(--system-infield-button-infield-button-border-width);
	--spectrum-infield-button-border-color: var(--system-infield-button-infield-button-border-color);
	--spectrum-infield-button-border-radius: var(--system-infield-button-infield-button-border-radius);
	--spectrum-infield-button-border-radius-reset: var(--system-infield-button-infield-button-border-radius-reset);
	--spectrum-infield-button-stacked-top-border-radius-start-start: var(--system-infield-button-infield-button-stacked-top-border-radius-start-start);
	--spectrum-infield-button-stacked-bottom-border-radius-end-start: var(--system-infield-button-infield-button-stacked-bottom-border-radius-end-start);
	--spectrum-infield-button-background-color: var(--system-infield-button-infield-button-background-color);
	--spectrum-infield-button-background-color-hover: var(--system-infield-button-infield-button-background-color-hover);
	--spectrum-infield-button-background-color-down: var(--system-infield-button-infield-button-background-color-down);
	--spectrum-infield-button-background-color-key-focus: var(--system-infield-button-infield-button-background-color-key-focus);
	--spectrum-infield-button-height: var(--system-infield-button-infield-button-height);
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-width);
	--spectrum-infield-button-stacked-border-radius-reset: var(--system-infield-button-infield-button-stacked-border-radius-reset);
	--spectrum-infield-button-edge-to-fill: var(--system-infield-button-infield-button-edge-to-fill);
	--spectrum-infield-button-inner-edge-to-fill: var(--system-infield-button-infield-button-inner-edge-to-fill);
	--spectrum-infield-button-fill-padding: var(--system-infield-button-infield-button-fill-padding);
	--spectrum-infield-button-stacked-fill-padding-inline: var(--system-infield-button-infield-button-stacked-fill-padding-inline);
	--spectrum-infield-button-stacked-fill-padding-outer: var(--system-infield-button-infield-button-stacked-fill-padding-outer);
	--spectrum-infield-button-stacked-fill-padding-inner: var(--system-infield-button-infield-button-stacked-fill-padding-inner);
	--spectrum-infield-button-animation-duration: var(--system-infield-button-infield-button-animation-duration);
	--spectrum-infield-button-icon-color: var(--system-infield-button-infield-button-icon-color);
	--spectrum-infield-button-icon-color-hover: var(--system-infield-button-infield-button-icon-color-hover);
	--spectrum-infield-button-icon-color-down: var(--system-infield-button-infield-button-icon-color-down);
	--spectrum-infield-button-icon-color-key-focus: var(--system-infield-button-infield-button-icon-color-key-focus);
	--spectrum-infield-button-fill-justify-content: var(--system-infield-button-infield-button-fill-justify-content);
}

.spectrum-InfieldButton:disabled {
	--spectrum-infield-button-background-color: var(--system-infield-button-disabled-infield-button-background-color);
	--spectrum-infield-button-background-color-hover: var(--system-infield-button-disabled-infield-button-background-color-hover);
	--spectrum-infield-button-background-color-down: var(--system-infield-button-disabled-infield-button-background-color-down);
	--spectrum-infield-button-border-color: var(--system-infield-button-disabled-infield-button-border-color);
	--spectrum-infield-button-icon-color: var(--system-infield-button-disabled-infield-button-icon-color);
	--spectrum-infield-button-icon-color-hover: var(--system-infield-button-disabled-infield-button-icon-color-hover);
	--spectrum-infield-button-icon-color-down: var(--system-infield-button-disabled-infield-button-icon-color-down);
	--spectrum-infield-button-icon-color-key-focus: var(--system-infield-button-disabled-infield-button-icon-color-key-focus);
}

.spectrum-InfieldButton.spectrum-InfieldButton--sizeS {
	--spectrum-infield-button-height: var(--system-infield-button-infield-button-size-s-infield-button-height);
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-size-s-infield-button-width);
	--spectrum-infield-button-stacked-fill-padding-inline: var(--system-infield-button-infield-button-size-s-infield-button-stacked-fill-padding-inline);
	--spectrum-infield-button-stacked-fill-padding-outer: var(--system-infield-button-infield-button-size-s-infield-button-stacked-fill-padding-outer);
	--spectrum-infield-button-stacked-fill-padding-inner: var(--system-infield-button-infield-button-size-s-infield-button-stacked-fill-padding-inner);
}

.spectrum-InfieldButton.spectrum-InfieldButton--sizeL {
	--spectrum-infield-button-height: var(--system-infield-button-infield-button-size-l-infield-button-height);
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-size-l-infield-button-width);
	--spectrum-infield-button-stacked-fill-padding-inline: var(--system-infield-button-infield-button-size-l-infield-button-stacked-fill-padding-inline);
	--spectrum-infield-button-stacked-fill-padding-outer: var(--system-infield-button-infield-button-size-l-infield-button-stacked-fill-padding-outer);
	--spectrum-infield-button-stacked-fill-padding-inner: var(--system-infield-button-infield-button-size-l-infield-button-stacked-fill-padding-inner);
}

.spectrum-InfieldButton.spectrum-InfieldButton--sizeXL {
	--spectrum-infield-button-height: var(--system-infield-button-infield-button-size-xl-infield-button-height);
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-size-xl-infield-button-width);
	--spectrum-infield-button-stacked-fill-padding-inline: var(--system-infield-button-infield-button-size-xl-infield-button-stacked-fill-padding-inline);
	--spectrum-infield-button-stacked-fill-padding-outer: var(--system-infield-button-infield-button-size-xl-infield-button-stacked-fill-padding-outer);
	--spectrum-infield-button-stacked-fill-padding-inner: var(--system-infield-button-infield-button-size-xl-infield-button-stacked-fill-padding-inner);
}

.spectrum-InfieldButton.spectrum-InfieldButton--top {
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-top-infield-button-width);
}

.spectrum-InfieldButton.spectrum-InfieldButton--bottom {
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-bottom-infield-button-width);
}

.spectrum-InfieldButton.spectrum-InfieldButton--top.spectrum-InfieldButton--sizeS {
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-top-infield-button-size-s-infield-button-width);
}

.spectrum-InfieldButton.spectrum-InfieldButton--bottom.spectrum-InfieldButton--sizeS {
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-bottom-infield-button-size-s-infield-button-width);
}

.spectrum-InfieldButton.spectrum-InfieldButton--top.spectrum-InfieldButton--sizeL {
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-top-infield-button-size-l-infield-button-width);
}

.spectrum-InfieldButton.spectrum-InfieldButton--bottom.spectrum-InfieldButton--sizeL {
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-bottom-infield-button-size-l-infield-button-width);
}

.spectrum-InfieldButton.spectrum-InfieldButton--top.spectrum-InfieldButton--sizeXL {
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-top-infield-button-size-xl-infield-button-width);
}

.spectrum-InfieldButton.spectrum-InfieldButton--bottom.spectrum-InfieldButton--sizeXL {
	--spectrum-infield-button-width: var(--system-infield-button-infield-button-bottom-infield-button-size-xl-infield-button-width);
}

.spectrum-InfieldButton.spectrum-InfieldButton--quiet {
	--spectrum-infield-button-background-color: var(--system-infield-button-infield-button-quiet-infield-button-background-color);
	--spectrum-infield-button-background-color-hover: var(--system-infield-button-infield-button-quiet-infield-button-background-color-hover);
	--spectrum-infield-button-background-color-down: var(--system-infield-button-infield-button-quiet-infield-button-background-color-down);
	--spectrum-infield-button-background-color-key-focus: var(--system-infield-button-infield-button-quiet-infield-button-background-color-key-focus);
	--spectrum-infield-border-color: var(--system-infield-button-infield-button-quiet-infield-border-color);
	--spectrum-infield-button-border-width: var(--system-infield-button-infield-button-quiet-infield-button-border-width);
}

.spectrum-InfieldButton.spectrum-InfieldButton--quiet:disabled {
	--spectrum-infield-button-background-color: var(--system-infield-button-infield-button-quiet-disabled-infield-button-background-color);
	--spectrum-infield-button-border-color: var(--system-infield-button-infield-button-quiet-disabled-infield-button-border-color);
}
