/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Menu {
	--spectrum-menu-item-min-height: var(--system-spectrum-menu-item-min-height);
	--spectrum-menu-item-icon-height: var(--system-spectrum-menu-item-icon-height);
	--spectrum-menu-item-icon-width: var(--system-spectrum-menu-item-icon-width);
	--spectrum-menu-item-label-font-size: var(--system-spectrum-menu-item-label-font-size);
	--spectrum-menu-item-label-text-to-visual: var(--system-spectrum-menu-item-label-text-to-visual);
	--spectrum-menu-item-label-inline-edge-to-content: var(--system-spectrum-menu-item-label-inline-edge-to-content);
	--spectrum-menu-item-top-edge-to-text: var(--system-spectrum-menu-item-top-edge-to-text);
	--spectrum-menu-item-bottom-edge-to-text: var(--system-spectrum-menu-item-bottom-edge-to-text);
	--spectrum-menu-item-text-to-control: var(--system-spectrum-menu-item-text-to-control);
	--spectrum-menu-item-description-font-size: var(--system-spectrum-menu-item-description-font-size);
	--spectrum-menu-section-header-font-size: var(--system-spectrum-menu-section-header-font-size);
	--spectrum-menu-section-header-min-width: var(--system-spectrum-menu-section-header-min-width);
	--spectrum-menu-item-selectable-edge-to-text-not-selected: var(--system-spectrum-menu-item-selectable-edge-to-text-not-selected);
	--spectrum-menu-item-checkmark-height: var(--system-spectrum-menu-item-checkmark-height);
	--spectrum-menu-item-checkmark-width: var(--system-spectrum-menu-item-checkmark-width);
	--spectrum-menu-item-top-to-checkmark: var(--system-spectrum-menu-item-top-to-checkmark);
	--spectrum-menu-item-top-to-action: var(--system-spectrum-menu-item-top-to-action);
	--spectrum-menu-item-top-to-checkbox: var(--system-spectrum-menu-item-top-to-checkbox);
	--spectrum-menu-item-label-line-height: var(--system-spectrum-menu-item-label-line-height);
	--spectrum-menu-item-label-line-height-cjk: var(--system-spectrum-menu-item-label-line-height-cjk);
	--spectrum-menu-item-label-to-description-spacing: var(--system-spectrum-menu-item-label-to-description-spacing);
	--spectrum-menu-item-focus-indicator-width: var(--system-spectrum-menu-item-focus-indicator-width);
	--spectrum-menu-item-focus-indicator-color: var(--system-spectrum-menu-item-focus-indicator-color);
	--spectrum-menu-item-label-to-value-area-min-spacing: var(--system-spectrum-menu-item-label-to-value-area-min-spacing);
	--spectrum-menu-item-label-content-color-default: var(--system-spectrum-menu-item-label-content-color-default);
	--spectrum-menu-item-label-content-color-hover: var(--system-spectrum-menu-item-label-content-color-hover);
	--spectrum-menu-item-label-content-color-down: var(--system-spectrum-menu-item-label-content-color-down);
	--spectrum-menu-item-label-content-color-focus: var(--system-spectrum-menu-item-label-content-color-focus);
	--spectrum-menu-item-label-icon-color-default: var(--system-spectrum-menu-item-label-icon-color-default);
	--spectrum-menu-item-label-icon-color-hover: var(--system-spectrum-menu-item-label-icon-color-hover);
	--spectrum-menu-item-label-icon-color-down: var(--system-spectrum-menu-item-label-icon-color-down);
	--spectrum-menu-item-label-icon-color-focus: var(--system-spectrum-menu-item-label-icon-color-focus);
	--spectrum-menu-item-label-content-color-disabled: var(--system-spectrum-menu-item-label-content-color-disabled);
	--spectrum-menu-item-label-icon-color-disabled: var(--system-spectrum-menu-item-label-icon-color-disabled);
	--spectrum-menu-item-description-line-height: var(--system-spectrum-menu-item-description-line-height);
	--spectrum-menu-item-description-line-height-cjk: var(--system-spectrum-menu-item-description-line-height-cjk);
	--spectrum-menu-item-description-color-default: var(--system-spectrum-menu-item-description-color-default);
	--spectrum-menu-item-description-color-hover: var(--system-spectrum-menu-item-description-color-hover);
	--spectrum-menu-item-description-color-down: var(--system-spectrum-menu-item-description-color-down);
	--spectrum-menu-item-description-color-focus: var(--system-spectrum-menu-item-description-color-focus);
	--spectrum-menu-item-description-color-disabled: var(--system-spectrum-menu-item-description-color-disabled);
	--spectrum-menu-section-header-line-height: var(--system-spectrum-menu-section-header-line-height);
	--spectrum-menu-section-header-line-height-cjk: var(--system-spectrum-menu-section-header-line-height-cjk);
	--spectrum-menu-section-header-font-weight: var(--system-spectrum-menu-section-header-font-weight);
	--spectrum-menu-section-header-color: var(--system-spectrum-menu-section-header-color);
	--spectrum-menu-collapsible-icon-color: var(--system-spectrum-menu-collapsible-icon-color);
	--spectrum-menu-checkmark-icon-color-default: var(--system-spectrum-menu-checkmark-icon-color-default);
	--spectrum-menu-checkmark-icon-color-hover: var(--system-spectrum-menu-checkmark-icon-color-hover);
	--spectrum-menu-checkmark-icon-color-down: var(--system-spectrum-menu-checkmark-icon-color-down);
	--spectrum-menu-checkmark-icon-color-focus: var(--system-spectrum-menu-checkmark-icon-color-focus);
	--spectrum-menu-drillin-icon-color-default: var(--system-spectrum-menu-drillin-icon-color-default);
	--spectrum-menu-drillin-icon-color-hover: var(--system-spectrum-menu-drillin-icon-color-hover);
	--spectrum-menu-drillin-icon-color-down: var(--system-spectrum-menu-drillin-icon-color-down);
	--spectrum-menu-drillin-icon-color-focus: var(--system-spectrum-menu-drillin-icon-color-focus);
	--spectrum-menu-item-value-color-default: var(--system-spectrum-menu-item-value-color-default);
	--spectrum-menu-item-value-color-hover: var(--system-spectrum-menu-item-value-color-hover);
	--spectrum-menu-item-value-color-down: var(--system-spectrum-menu-item-value-color-down);
	--spectrum-menu-item-value-color-focus: var(--system-spectrum-menu-item-value-color-focus);
	--spectrum-menu-checkmark-display-hidden: var(--system-spectrum-menu-checkmark-display-hidden);
	--spectrum-menu-checkmark-display-shown: var(--system-spectrum-menu-checkmark-display-shown);
	--spectrum-menu-checkmark-display: var(--system-spectrum-menu-checkmark-display);
	--spectrum-menu-back-icon-margin: var(--system-spectrum-menu-back-icon-margin);
	--spectrum-menu-item-collapsible-has-icon-submenu-item-padding-x-start: var(--system-spectrum-menu-item-collapsible-has-icon-submenu-item-padding-x-start);
	--spectrum-menu-item-collapsible-no-icon-submenu-item-padding-x-start: var(--system-spectrum-menu-item-collapsible-no-icon-submenu-item-padding-x-start);
}

.spectrum-Menu--sizeS {
	--spectrum-menu-item-min-height: var(--system-spectrum-menu-size-s-item-min-height);
	--spectrum-menu-item-icon-height: var(--system-spectrum-menu-size-s-item-icon-height);
	--spectrum-menu-item-icon-width: var(--system-spectrum-menu-size-s-item-icon-width);
	--spectrum-menu-item-label-font-size: var(--system-spectrum-menu-size-s-item-label-font-size);
	--spectrum-menu-item-label-text-to-visual: var(--system-spectrum-menu-size-s-item-label-text-to-visual);
	--spectrum-menu-item-label-inline-edge-to-content: var(--system-spectrum-menu-size-s-item-label-inline-edge-to-content);
	--spectrum-menu-item-top-edge-to-text: var(--system-spectrum-menu-size-s-item-top-edge-to-text);
	--spectrum-menu-item-bottom-edge-to-text: var(--system-spectrum-menu-size-s-item-bottom-edge-to-text);
	--spectrum-menu-item-text-to-control: var(--system-spectrum-menu-size-s-item-text-to-control);
	--spectrum-menu-item-description-font-size: var(--system-spectrum-menu-size-s-item-description-font-size);
	--spectrum-menu-section-header-font-size: var(--system-spectrum-menu-size-s-section-header-font-size);
	--spectrum-menu-section-header-min-width: var(--system-spectrum-menu-size-s-section-header-min-width);
	--spectrum-menu-item-selectable-edge-to-text-not-selected: var(--system-spectrum-menu-size-s-item-selectable-edge-to-text-not-selected);
	--spectrum-menu-item-checkmark-height: var(--system-spectrum-menu-size-s-item-checkmark-height);
	--spectrum-menu-item-checkmark-width: var(--system-spectrum-menu-size-s-item-checkmark-width);
	--spectrum-menu-item-top-to-checkmark: var(--system-spectrum-menu-size-s-item-top-to-checkmark);
	--spectrum-menu-back-icon-margin: var(--system-spectrum-menu-size-s-back-icon-margin);
}

.spectrum-Menu--sizeL {
	--spectrum-menu-item-min-height: var(--system-spectrum-menu-size-l-item-min-height);
	--spectrum-menu-item-icon-height: var(--system-spectrum-menu-size-l-item-icon-height);
	--spectrum-menu-item-icon-width: var(--system-spectrum-menu-size-l-item-icon-width);
	--spectrum-menu-item-label-font-size: var(--system-spectrum-menu-size-l-item-label-font-size);
	--spectrum-menu-item-label-text-to-visual: var(--system-spectrum-menu-size-l-item-label-text-to-visual);
	--spectrum-menu-item-label-inline-edge-to-content: var(--system-spectrum-menu-size-l-item-label-inline-edge-to-content);
	--spectrum-menu-item-top-edge-to-text: var(--system-spectrum-menu-size-l-item-top-edge-to-text);
	--spectrum-menu-item-bottom-edge-to-text: var(--system-spectrum-menu-size-l-item-bottom-edge-to-text);
	--spectrum-menu-item-text-to-control: var(--system-spectrum-menu-size-l-item-text-to-control);
	--spectrum-menu-item-description-font-size: var(--system-spectrum-menu-size-l-item-description-font-size);
	--spectrum-menu-section-header-font-size: var(--system-spectrum-menu-size-l-section-header-font-size);
	--spectrum-menu-section-header-min-width: var(--system-spectrum-menu-size-l-section-header-min-width);
	--spectrum-menu-item-selectable-edge-to-text-not-selected: var(--system-spectrum-menu-size-l-item-selectable-edge-to-text-not-selected);
	--spectrum-menu-item-checkmark-height: var(--system-spectrum-menu-size-l-item-checkmark-height);
	--spectrum-menu-item-checkmark-width: var(--system-spectrum-menu-size-l-item-checkmark-width);
	--spectrum-menu-item-top-to-checkmark: var(--system-spectrum-menu-size-l-item-top-to-checkmark);
	--spectrum-menu-back-icon-margin: var(--system-spectrum-menu-size-l-back-icon-margin);
}

.spectrum-Menu--sizeXL {
	--spectrum-menu-item-min-height: var(--system-spectrum-menu-size-xl-item-min-height);
	--spectrum-menu-item-icon-height: var(--system-spectrum-menu-size-xl-item-icon-height);
	--spectrum-menu-item-icon-width: var(--system-spectrum-menu-size-xl-item-icon-width);
	--spectrum-menu-item-label-font-size: var(--system-spectrum-menu-size-xl-item-label-font-size);
	--spectrum-menu-item-label-text-to-visual: var(--system-spectrum-menu-size-xl-item-label-text-to-visual);
	--spectrum-menu-item-label-inline-edge-to-content: var(--system-spectrum-menu-size-xl-item-label-inline-edge-to-content);
	--spectrum-menu-item-top-edge-to-text: var(--system-spectrum-menu-size-xl-item-top-edge-to-text);
	--spectrum-menu-item-bottom-edge-to-text: var(--system-spectrum-menu-size-xl-item-bottom-edge-to-text);
	--spectrum-menu-item-text-to-control: var(--system-spectrum-menu-size-xl-item-text-to-control);
	--spectrum-menu-item-description-font-size: var(--system-spectrum-menu-size-xl-item-description-font-size);
	--spectrum-menu-section-header-font-size: var(--system-spectrum-menu-size-xl-section-header-font-size);
	--spectrum-menu-section-header-min-width: var(--system-spectrum-menu-size-xl-section-header-min-width);
	--spectrum-menu-item-selectable-edge-to-text-not-selected: var(--system-spectrum-menu-size-xl-item-selectable-edge-to-text-not-selected);
	--spectrum-menu-item-checkmark-height: var(--system-spectrum-menu-size-xl-item-checkmark-height);
	--spectrum-menu-item-checkmark-width: var(--system-spectrum-menu-size-xl-item-checkmark-width);
	--spectrum-menu-item-top-to-checkmark: var(--system-spectrum-menu-size-xl-item-top-to-checkmark);
	--spectrum-menu-back-icon-margin: var(--system-spectrum-menu-size-xl-back-icon-margin);
}
