/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Picker {
	--spectrum-picker-background-color-default: var(--system-spectrum-picker-background-color-default);
	--spectrum-picker-background-color-default-open: var(--system-spectrum-picker-background-color-default-open);
	--spectrum-picker-background-color-hover: var(--system-spectrum-picker-background-color-hover);
	--spectrum-picker-background-color-hover-open: var(--system-spectrum-picker-background-color-hover-open);
	--spectrum-picker-background-color-active: var(--system-spectrum-picker-background-color-active);
	--spectrum-picker-background-color-key-focus: var(--system-spectrum-picker-background-color-key-focus);
	--spectrum-picker-border-color-default: var(--system-spectrum-picker-border-color-default);
	--spectrum-picker-border-color-default-open: var(--system-spectrum-picker-border-color-default-open);
	--spectrum-picker-border-color-hover: var(--system-spectrum-picker-border-color-hover);
	--spectrum-picker-border-color-hover-open: var(--system-spectrum-picker-border-color-hover-open);
	--spectrum-picker-border-color-active: var(--system-spectrum-picker-border-color-active);
	--spectrum-picker-border-color-key-focus: var(--system-spectrum-picker-border-color-key-focus);
	--spectrum-picker-border-width: var(--system-spectrum-picker-border-width);
	--spectrum-picker-font-size: var(--system-spectrum-picker-font-size);
	--spectrum-picker-font-weight: var(--system-spectrum-picker-font-weight);
	--spectrum-picker-placeholder-font-style: var(--system-spectrum-picker-placeholder-font-style);
	--spectrum-picker-line-height: var(--system-spectrum-picker-line-height);
	--spectrum-picker-block-size: var(--system-spectrum-picker-block-size);
	--spectrum-picker-inline-size: var(--system-spectrum-picker-inline-size);
	--spectrum-picker-border-radius: var(--system-spectrum-picker-border-radius);
	--spectrum-picker-spacing-top-to-text: var(--system-spectrum-picker-spacing-top-to-text);
	--spectrum-picker-spacing-bottom-to-text: var(--system-spectrum-picker-spacing-bottom-to-text);
	--spectrum-picker-spacing-edge-to-text: var(--system-spectrum-picker-spacing-edge-to-text);
	--spectrum-picker-spacing-edge-to-text-quiet: var(--system-spectrum-picker-spacing-edge-to-text-quiet);
	--spectrum-picker-spacing-label-to-picker: var(--system-spectrum-picker-spacing-label-to-picker);
	--spectrum-picker-spacing-text-to-icon: var(--system-spectrum-picker-spacing-text-to-icon);
	--spectrum-picker-spacing-text-to-icon-inline-end: var(--system-spectrum-picker-spacing-text-to-icon-inline-end);
	--spectrum-picker-spacing-icon-to-disclosure-icon: var(--system-spectrum-picker-spacing-icon-to-disclosure-icon);
	--spectrum-picker-spacing-label-to-picker-quiet: var(--system-spectrum-picker-spacing-label-to-picker-quiet);
	--spectrum-picker-spacing-top-to-alert-icon: var(--system-spectrum-picker-spacing-top-to-alert-icon);
	--spectrum-picker-spacing-top-to-progress-circle: var(--system-spectrum-picker-spacing-top-to-progress-circle);
	--spectrum-picker-spacing-top-to-disclosure-icon: var(--system-spectrum-picker-spacing-top-to-disclosure-icon);
	--spectrum-picker-spacing-edge-to-disclosure-icon: var(--system-spectrum-picker-spacing-edge-to-disclosure-icon);
	--spectrum-picker-spacing-edge-to-disclosure-icon-quiet: var(--system-spectrum-picker-spacing-edge-to-disclosure-icon-quiet);
	--spectrum-picker-animation-duration: var(--system-spectrum-picker-animation-duration);
	--spectrum-picker-font-color-default: var(--system-spectrum-picker-font-color-default);
	--spectrum-picker-font-color-default-open: var(--system-spectrum-picker-font-color-default-open);
	--spectrum-picker-font-color-hover: var(--system-spectrum-picker-font-color-hover);
	--spectrum-picker-font-color-hover-open: var(--system-spectrum-picker-font-color-hover-open);
	--spectrum-picker-font-color-active: var(--system-spectrum-picker-font-color-active);
	--spectrum-picker-font-color-key-focus: var(--system-spectrum-picker-font-color-key-focus);
	--spectrum-picker-icon-color-default: var(--system-spectrum-picker-icon-color-default);
	--spectrum-picker-icon-color-default-open: var(--system-spectrum-picker-icon-color-default-open);
	--spectrum-picker-icon-color-hover: var(--system-spectrum-picker-icon-color-hover);
	--spectrum-picker-icon-color-hover-open: var(--system-spectrum-picker-icon-color-hover-open);
	--spectrum-picker-icon-color-active: var(--system-spectrum-picker-icon-color-active);
	--spectrum-picker-icon-color-key-focus: var(--system-spectrum-picker-icon-color-key-focus);
	--spectrum-picker-border-color-error-default: var(--system-spectrum-picker-border-color-error-default);
	--spectrum-picker-border-color-error-default-open: var(--system-spectrum-picker-border-color-error-default-open);
	--spectrum-picker-border-color-error-hover: var(--system-spectrum-picker-border-color-error-hover);
	--spectrum-picker-border-color-error-hover-open: var(--system-spectrum-picker-border-color-error-hover-open);
	--spectrum-picker-border-color-error-active: var(--system-spectrum-picker-border-color-error-active);
	--spectrum-picker-border-color-error-key-focus: var(--system-spectrum-picker-border-color-error-key-focus);
	--spectrum-picker-icon-color-error: var(--system-spectrum-picker-icon-color-error);
	--spectrum-picker-background-color-disabled: var(--system-spectrum-picker-background-color-disabled);
	--spectrum-picker-font-color-disabled: var(--system-spectrum-picker-font-color-disabled);
	--spectrum-picker-icon-color-disabled: var(--system-spectrum-picker-icon-color-disabled);
	--spectrum-picker-focus-indicator-gap: var(--system-spectrum-picker-focus-indicator-gap);
	--spectrum-picker-focus-indicator-thickness: var(--system-spectrum-picker-focus-indicator-thickness);
	--spectrum-picker-focus-indicator-color: var(--system-spectrum-picker-focus-indicator-color);
}

.spectrum-Picker + .spectrum-Popover--bottom.is-open {
	--spectrum-picker-spacing-picker-to-popover: var(--system-spectrum-picker- + -spectrum-popover-bottom-open-spacing-picker-to-popover);
}

.spectrum-Picker--sizeS {
	--spectrum-picker-font-size: var(--system-spectrum-picker-sizes-font-size);
	--spectrum-picker-block-size: var(--system-spectrum-picker-sizes-block-size);
	--spectrum-picker-spacing-top-to-text: var(--system-spectrum-picker-sizes-spacing-top-to-text);
	--spectrum-picker-spacing-bottom-to-text: var(--system-spectrum-picker-sizes-spacing-bottom-to-text);
	--spectrum-picker-spacing-edge-to-text: var(--system-spectrum-picker-sizes-spacing-edge-to-text);
	--spectrum-picker-spacing-text-to-icon: var(--system-spectrum-picker-sizes-spacing-text-to-icon);
	--spectrum-picker-spacing-text-to-icon-inline-end: var(--system-spectrum-picker-sizes-spacing-text-to-icon-inline-end);
	--spectrum-picker-spacing-icon-to-disclosure-icon: var(--system-spectrum-picker-sizes-spacing-icon-to-disclosure-icon);
	--spectrum-picker-spacing-label-to-picker-quiet: var(--system-spectrum-picker-sizes-spacing-label-to-picker-quiet);
	--spectrum-picker-spacing-top-to-alert-icon: var(--system-spectrum-picker-sizes-spacing-top-to-alert-icon);
	--spectrum-picker-spacing-top-to-progress-circle: var(--system-spectrum-picker-sizes-spacing-top-to-progress-circle);
	--spectrum-picker-spacing-top-to-disclosure-icon: var(--system-spectrum-picker-sizes-spacing-top-to-disclosure-icon);
	--spectrum-picker-spacing-edge-to-disclosure-icon: var(--system-spectrum-picker-sizes-spacing-edge-to-disclosure-icon);
}

.spectrum-Picker--sizeS + .spectrum-Popover--bottom.is-open {
	--spectrum-picker-spacing-picker-to-popover: var(--system-spectrum-picker-sizes + -spectrum-popover-bottom-open-spacing-picker-to-popover);
}

.spectrum-Picker--sizeL {
	--spectrum-picker-font-size: var(--system-spectrum-picker-sizel-font-size);
	--spectrum-picker-block-size: var(--system-spectrum-picker-sizel-block-size);
	--spectrum-picker-spacing-top-to-text: var(--system-spectrum-picker-sizel-spacing-top-to-text);
	--spectrum-picker-spacing-bottom-to-text: var(--system-spectrum-picker-sizel-spacing-bottom-to-text);
	--spectrum-picker-spacing-edge-to-text: var(--system-spectrum-picker-sizel-spacing-edge-to-text);
	--spectrum-picker-spacing-text-to-icon: var(--system-spectrum-picker-sizel-spacing-text-to-icon);
	--spectrum-picker-spacing-text-to-icon-inline-end: var(--system-spectrum-picker-sizel-spacing-text-to-icon-inline-end);
	--spectrum-picker-spacing-icon-to-disclosure-icon: var(--system-spectrum-picker-sizel-spacing-icon-to-disclosure-icon);
	--spectrum-picker-spacing-label-to-picker-quiet: var(--system-spectrum-picker-sizel-spacing-label-to-picker-quiet);
	--spectrum-picker-spacing-top-to-alert-icon: var(--system-spectrum-picker-sizel-spacing-top-to-alert-icon);
	--spectrum-picker-spacing-top-to-progress-circle: var(--system-spectrum-picker-sizel-spacing-top-to-progress-circle);
	--spectrum-picker-spacing-top-to-disclosure-icon: var(--system-spectrum-picker-sizel-spacing-top-to-disclosure-icon);
	--spectrum-picker-spacing-edge-to-disclosure-icon: var(--system-spectrum-picker-sizel-spacing-edge-to-disclosure-icon);
}

.spectrum-Picker--sizeL + .spectrum-Popover--bottom.is-open {
	--spectrum-picker-spacing-picker-to-popover: var(--system-spectrum-picker-sizel + -spectrum-popover-bottom-open-spacing-picker-to-popover);
}

.spectrum-Picker--sizeXL {
	--spectrum-picker-font-size: var(--system-spectrum-picker-sizexl-font-size);
	--spectrum-picker-block-size: var(--system-spectrum-picker-sizexl-block-size);
	--spectrum-picker-spacing-top-to-text: var(--system-spectrum-picker-sizexl-spacing-top-to-text);
	--spectrum-picker-spacing-bottom-to-text: var(--system-spectrum-picker-sizexl-spacing-bottom-to-text);
	--spectrum-picker-spacing-edge-to-text: var(--system-spectrum-picker-sizexl-spacing-edge-to-text);
	--spectrum-picker-spacing-text-to-icon: var(--system-spectrum-picker-sizexl-spacing-text-to-icon);
	--spectrum-picker-spacing-text-to-icon-inline-end: var(--system-spectrum-picker-sizexl-spacing-text-to-icon-inline-end);
	--spectrum-picker-spacing-icon-to-disclosure-icon: var(--system-spectrum-picker-sizexl-spacing-icon-to-disclosure-icon);
	--spectrum-picker-spacing-label-to-picker-quiet: var(--system-spectrum-picker-sizexl-spacing-label-to-picker-quiet);
	--spectrum-picker-spacing-top-to-alert-icon: var(--system-spectrum-picker-sizexl-spacing-top-to-alert-icon);
	--spectrum-picker-spacing-top-to-progress-circle: var(--system-spectrum-picker-sizexl-spacing-top-to-progress-circle);
	--spectrum-picker-spacing-top-to-disclosure-icon: var(--system-spectrum-picker-sizexl-spacing-top-to-disclosure-icon);
	--spectrum-picker-spacing-edge-to-disclosure-icon: var(--system-spectrum-picker-sizexl-spacing-edge-to-disclosure-icon);
}

.spectrum-Picker--sizeXL + .spectrum-Popover--bottom.is-open {
	--spectrum-picker-spacing-picker-to-popover: var(--system-spectrum-picker-sizexl + -spectrum-popover-bottom-open-spacing-picker-to-popover);
}
