/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-Radio {
	--spectrum-radio-button-border-color-default: var(--system-radio-radio-button-border-color-default);
	--spectrum-radio-button-border-color-hover: var(--system-radio-radio-button-border-color-hover);
	--spectrum-radio-button-border-color-down: var(--system-radio-radio-button-border-color-down);
	--spectrum-radio-button-border-color-focus: var(--system-radio-radio-button-border-color-focus);
	--spectrum-radio-neutral-content-color: var(--system-radio-radio-neutral-content-color);
	--spectrum-radio-neutral-content-color-hover: var(--system-radio-radio-neutral-content-color-hover);
	--spectrum-radio-neutral-content-color-down: var(--system-radio-radio-neutral-content-color-down);
	--spectrum-radio-neutral-content-color-focus: var(--system-radio-radio-neutral-content-color-focus);
	--spectrum-radio-focus-indicator-thickness: var(--system-radio-radio-focus-indicator-thickness);
	--spectrum-radio-focus-indicator-gap: var(--system-radio-radio-focus-indicator-gap);
	--spectrum-radio-focus-indicator-color: var(--system-radio-radio-focus-indicator-color);
	--spectrum-radio-disabled-content-color: var(--system-radio-radio-disabled-content-color);
	--spectrum-radio-disabled-border-color: var(--system-radio-radio-disabled-border-color);
	--spectrum-radio-emphasized-accent-color: var(--system-radio-radio-emphasized-accent-color);
	--spectrum-radio-emphasized-accent-color-hover: var(--system-radio-radio-emphasized-accent-color-hover);
	--spectrum-radio-emphasized-accent-color-down: var(--system-radio-radio-emphasized-accent-color-down);
	--spectrum-radio-emphasized-accent-color-focus: var(--system-radio-radio-emphasized-accent-color-focus);
	--spectrum-radio-border-width: var(--system-radio-radio-border-width);
	--spectrum-radio-button-background-color: var(--system-radio-radio-button-background-color);
	--spectrum-radio-button-checked-border-color-default: var(--system-radio-radio-button-checked-border-color-default);
	--spectrum-radio-button-checked-border-color-hover: var(--system-radio-radio-button-checked-border-color-hover);
	--spectrum-radio-button-checked-border-color-down: var(--system-radio-radio-button-checked-border-color-down);
	--spectrum-radio-button-checked-border-color-focus: var(--system-radio-radio-button-checked-border-color-focus);
	--spectrum-radio-text-to-control: var(--system-radio-radio-text-to-control);
	--spectrum-radio-label-top-to-text: var(--system-radio-radio-label-top-to-text);
	--spectrum-radio-label-bottom-to-text: var(--system-radio-radio-label-bottom-to-text);
	--spectrum-radio-font-size: var(--system-radio-radio-font-size);
	--spectrum-radio-line-height: var(--system-radio-radio-line-height);
	--spectrum-radio-animation-duration: var(--system-radio-radio-animation-duration);
	--spectrum-radio-height: var(--system-radio-radio-height);
	--spectrum-radio-button-control-size: var(--system-radio-radio-button-control-size);
	--spectrum-radio-button-top-to-control: var(--system-radio-radio-button-top-to-control);
}

.spectrum-Radio:lang(ja) {
	--spectrum-radio-line-height-cjk: var(--system-radio-lang-ja-radio-line-height-cjk);
}

.spectrum-Radio:lang(zh) {
	--spectrum-radio-line-height-cjk: var(--system-radio-lang-zh-radio-line-height-cjk);
}

.spectrum-Radio:lang(ko) {
	--spectrum-radio-line-height-cjk: var(--system-radio-lang-ko-radio-line-height-cjk);
}

.spectrum-Radio--sizeS {
	--spectrum-radio-height: var(--system-radio-size-s-radio-height);
	--spectrum-radio-button-control-size: var(--system-radio-size-s-radio-button-control-size);
	--spectrum-radio-text-to-control: var(--system-radio-size-s-radio-text-to-control);
	--spectrum-radio-label-top-to-text: var(--system-radio-size-s-radio-label-top-to-text);
	--spectrum-radio-label-bottom-to-text: var(--system-radio-size-s-radio-label-bottom-to-text);
	--spectrum-radio-button-top-to-control: var(--system-radio-size-s-radio-button-top-to-control);
	--spectrum-radio-font-size: var(--system-radio-size-s-radio-font-size);
}

.spectrum-Radio--sizeM {
	--spectrum-radio-height: var(--system-radio-size-m-radio-height);
	--spectrum-radio-button-control-size: var(--system-radio-size-m-radio-button-control-size);
	--spectrum-radio-text-to-control: var(--system-radio-size-m-radio-text-to-control);
	--spectrum-radio-label-top-to-text: var(--system-radio-size-m-radio-label-top-to-text);
	--spectrum-radio-label-bottom-to-text: var(--system-radio-size-m-radio-label-bottom-to-text);
	--spectrum-radio-button-top-to-control: var(--system-radio-size-m-radio-button-top-to-control);
	--spectrum-radio-font-size: var(--system-radio-size-m-radio-font-size);
}

.spectrum-Radio--sizeL {
	--spectrum-radio-height: var(--system-radio-size-l-radio-height);
	--spectrum-radio-button-control-size: var(--system-radio-size-l-radio-button-control-size);
	--spectrum-radio-text-to-control: var(--system-radio-size-l-radio-text-to-control);
	--spectrum-radio-label-top-to-text: var(--system-radio-size-l-radio-label-top-to-text);
	--spectrum-radio-label-bottom-to-text: var(--system-radio-size-l-radio-label-bottom-to-text);
	--spectrum-radio-button-top-to-control: var(--system-radio-size-l-radio-button-top-to-control);
	--spectrum-radio-font-size: var(--system-radio-size-l-radio-font-size);
}

.spectrum-Radio--sizeXL {
	--spectrum-radio-height: var(--system-radio-size-xl-radio-height);
	--spectrum-radio-button-control-size: var(--system-radio-size-xl-radio-button-control-size);
	--spectrum-radio-text-to-control: var(--system-radio-size-xl-radio-text-to-control);
	--spectrum-radio-label-top-to-text: var(--system-radio-size-xl-radio-label-top-to-text);
	--spectrum-radio-label-bottom-to-text: var(--system-radio-size-xl-radio-label-bottom-to-text);
	--spectrum-radio-button-top-to-control: var(--system-radio-size-xl-radio-button-top-to-control);
	--spectrum-radio-font-size: var(--system-radio-size-xl-radio-font-size);
}

.spectrum-Radio--emphasized {
	--spectrum-radio-button-checked-border-color-default: var(--system-radio-emphasized-radio-button-checked-border-color-default);
	--spectrum-radio-button-checked-border-color-hover: var(--system-radio-emphasized-radio-button-checked-border-color-hover);
	--spectrum-radio-button-checked-border-color-down: var(--system-radio-emphasized-radio-button-checked-border-color-down);
	--spectrum-radio-button-checked-border-color-focus: var(--system-radio-emphasized-radio-button-checked-border-color-focus);
}
