/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Radio {
	--spectrum-radio-button-border-color-default: var(--system-spectrum-radio--button-border-color-default);
	--spectrum-radio-button-border-color-hover: var(--system-spectrum-radio--button-border-color-hover);
	--spectrum-radio-button-border-color-down: var(--system-spectrum-radio--button-border-color-down);
	--spectrum-radio-button-border-color-focus: var(--system-spectrum-radio--button-border-color-focus);
	--spectrum-radio-neutral-content-color: var(--system-spectrum-radio--neutral-content-color);
	--spectrum-radio-neutral-content-color-hover: var(--system-spectrum-radio--neutral-content-color-hover);
	--spectrum-radio-neutral-content-color-down: var(--system-spectrum-radio--neutral-content-color-down);
	--spectrum-radio-neutral-content-color-focus: var(--system-spectrum-radio--neutral-content-color-focus);
	--spectrum-radio-focus-indicator-thickness: var(--system-spectrum-radio--focus-indicator-thickness);
	--spectrum-radio-focus-indicator-gap: var(--system-spectrum-radio--focus-indicator-gap);
	--spectrum-radio-focus-indicator-color: var(--system-spectrum-radio--focus-indicator-color);
	--spectrum-radio-disabled-content-color: var(--system-spectrum-radio--disabled-content-color);
	--spectrum-radio-disabled-border-color: var(--system-spectrum-radio--disabled-border-color);
	--spectrum-radio-emphasized-accent-color: var(--system-spectrum-radio--emphasized-accent-color);
	--spectrum-radio-emphasized-accent-color-hover: var(--system-spectrum-radio--emphasized-accent-color-hover);
	--spectrum-radio-emphasized-accent-color-down: var(--system-spectrum-radio--emphasized-accent-color-down);
	--spectrum-radio-emphasized-accent-color-focus: var(--system-spectrum-radio--emphasized-accent-color-focus);
	--spectrum-radio-border-width: var(--system-spectrum-radio--border-width);
	--spectrum-radio-button-background-color: var(--system-spectrum-radio--button-background-color);
	--spectrum-radio-button-checked-border-color-default: var(--system-spectrum-radio--button-checked-border-color-default);
	--spectrum-radio-button-checked-border-color-hover: var(--system-spectrum-radio--button-checked-border-color-hover);
	--spectrum-radio-button-checked-border-color-down: var(--system-spectrum-radio--button-checked-border-color-down);
	--spectrum-radio-button-checked-border-color-focus: var(--system-spectrum-radio--button-checked-border-color-focus);
	--spectrum-radio-text-to-control: var(--system-spectrum-radio--text-to-control);
	--spectrum-radio-label-top-to-text: var(--system-spectrum-radio--label-top-to-text);
	--spectrum-radio-label-bottom-to-text: var(--system-spectrum-radio--label-bottom-to-text);
	--spectrum-radio-font-size: var(--system-spectrum-radio--font-size);
	--spectrum-radio-line-height: var(--system-spectrum-radio--line-height);
	--spectrum-radio-animation-duration: var(--system-spectrum-radio--animation-duration);
	--spectrum-radio-height: var(--system-spectrum-radio--height);
	--spectrum-radio-button-control-size: var(--system-spectrum-radio--button-control-size);
	--spectrum-radio-button-top-to-control: var(--system-spectrum-radio--button-top-to-control);
}

.spectrum-Radio:lang(ja) {
	--spectrum-radio-line-height-cjk: var(--system-spectrum-radio: lang(ja) --radio-lang-ja--radio-line-height-cjk);
}

.spectrum-Radio:lang(zh) {
	--spectrum-radio-line-height-cjk: var(--system-spectrum-radio: lang(zh) --radio-lang-zh--radio-line-height-cjk);
}

.spectrum-Radio:lang(ko) {
	--spectrum-radio-line-height-cjk: var(--system-spectrum-radio: lang(ko) --radio-lang-ko--radio-line-height-cjk);
}

.spectrum-Radio--sizeS {
	--spectrum-radio-height: var(--system-spectrum-radio--size-s--height);
	--spectrum-radio-button-control-size: var(--system-spectrum-radio--size-s--button-control-size);
	--spectrum-radio-text-to-control: var(--system-spectrum-radio--size-s--text-to-control);
	--spectrum-radio-label-top-to-text: var(--system-spectrum-radio--size-s--label-top-to-text);
	--spectrum-radio-label-bottom-to-text: var(--system-spectrum-radio--size-s--label-bottom-to-text);
	--spectrum-radio-button-top-to-control: var(--system-spectrum-radio--size-s--button-top-to-control);
	--spectrum-radio-font-size: var(--system-spectrum-radio--size-s--font-size);
}

.spectrum-Radio--sizeM {
	--spectrum-radio-height: var(--system-spectrum-radio--size-m--height);
	--spectrum-radio-button-control-size: var(--system-spectrum-radio--size-m--button-control-size);
	--spectrum-radio-text-to-control: var(--system-spectrum-radio--size-m--text-to-control);
	--spectrum-radio-label-top-to-text: var(--system-spectrum-radio--size-m--label-top-to-text);
	--spectrum-radio-label-bottom-to-text: var(--system-spectrum-radio--size-m--label-bottom-to-text);
	--spectrum-radio-button-top-to-control: var(--system-spectrum-radio--size-m--button-top-to-control);
	--spectrum-radio-font-size: var(--system-spectrum-radio--size-m--font-size);
}

.spectrum-Radio--sizeL {
	--spectrum-radio-height: var(--system-spectrum-radio--size-l--height);
	--spectrum-radio-button-control-size: var(--system-spectrum-radio--size-l--button-control-size);
	--spectrum-radio-text-to-control: var(--system-spectrum-radio--size-l--text-to-control);
	--spectrum-radio-label-top-to-text: var(--system-spectrum-radio--size-l--label-top-to-text);
	--spectrum-radio-label-bottom-to-text: var(--system-spectrum-radio--size-l--label-bottom-to-text);
	--spectrum-radio-button-top-to-control: var(--system-spectrum-radio--size-l--button-top-to-control);
	--spectrum-radio-font-size: var(--system-spectrum-radio--size-l--font-size);
}

.spectrum-Radio--sizeXL {
	--spectrum-radio-height: var(--system-spectrum-radio--size-xl--height);
	--spectrum-radio-button-control-size: var(--system-spectrum-radio--size-xl--button-control-size);
	--spectrum-radio-text-to-control: var(--system-spectrum-radio--size-xl--text-to-control);
	--spectrum-radio-label-top-to-text: var(--system-spectrum-radio--size-xl--label-top-to-text);
	--spectrum-radio-label-bottom-to-text: var(--system-spectrum-radio--size-xl--label-bottom-to-text);
	--spectrum-radio-button-top-to-control: var(--system-spectrum-radio--size-xl--button-top-to-control);
	--spectrum-radio-font-size: var(--system-spectrum-radio--size-xl--font-size);
}

.spectrum-Radio--emphasized {
	--spectrum-radio-button-checked-border-color-default: var(--system-spectrum-radio--emphasized--button-checked-border-color-default);
	--spectrum-radio-button-checked-border-color-hover: var(--system-spectrum-radio--emphasized--button-checked-border-color-hover);
	--spectrum-radio-button-checked-border-color-down: var(--system-spectrum-radio--emphasized--button-checked-border-color-down);
	--spectrum-radio-button-checked-border-color-focus: var(--system-spectrum-radio--emphasized--button-checked-border-color-focus);
}
