/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-Search {
	--spectrum-search-border-radius: var(--system-search-search-border-radius);
	--spectrum-search-edge-to-visual: var(--system-search-search-edge-to-visual);
	--spectrum-search-border-color-default: var(--system-search-search-border-color-default);
	--spectrum-search-border-color-hover: var(--system-search-search-border-color-hover);
	--spectrum-search-border-color-focus: var(--system-search-search-border-color-focus);
	--spectrum-search-border-color-focus-hover: var(--system-search-search-border-color-focus-hover);
	--spectrum-search-border-color-key-focus: var(--system-search-search-border-color-key-focus);
	--spectrum-search-inline-size: var(--system-search-search-inline-size);
	--spectrum-search-block-size: var(--system-search-search-block-size);
	--spectrum-search-button-inline-size: var(--system-search-search-button-inline-size);
	--spectrum-search-min-inline-size: var(--system-search-search-min-inline-size);
	--spectrum-search-icon-size: var(--system-search-search-icon-size);
	--spectrum-search-text-to-icon: var(--system-search-search-text-to-icon);
	--spectrum-search-to-help-text: var(--system-search-search-to-help-text);
	--spectrum-search-top-to-text: var(--system-search-search-top-to-text);
	--spectrum-search-bottom-to-text: var(--system-search-search-bottom-to-text);
	--spectrum-search-focus-indicator-thickness: var(--system-search-search-focus-indicator-thickness);
	--spectrum-search-focus-indicator-gap: var(--system-search-search-focus-indicator-gap);
	--spectrum-search-focus-indicator-color: var(--system-search-search-focus-indicator-color);
	--spectrum-search-font-family: var(--system-search-search-font-family);
	--spectrum-search-font-weight: var(--system-search-search-font-weight);
	--spectrum-search-font-style: var(--system-search-search-font-style);
	--spectrum-search-line-height: var(--system-search-search-line-height);
	--spectrum-search-color-default: var(--system-search-search-color-default);
	--spectrum-search-color-hover: var(--system-search-search-color-hover);
	--spectrum-search-color-focus: var(--system-search-search-color-focus);
	--spectrum-search-color-focus-hover: var(--system-search-search-color-focus-hover);
	--spectrum-search-color-key-focus: var(--system-search-search-color-key-focus);
	--spectrum-search-border-width: var(--system-search-search-border-width);
	--spectrum-search-background-color: var(--system-search-search-background-color);
	--spectrum-search-color-disabled: var(--system-search-search-color-disabled);
	--spectrum-search-background-color-disabled: var(--system-search-search-background-color-disabled);
	--spectrum-search-border-color-disabled: var(--system-search-search-border-color-disabled);
	--mod-textfield-font-family: var(--system-search-textfield-font-family);
	--mod-textfield-font-weight: var(--system-search-textfield-font-weight);
	--mod-textfield-corner-radius: var(--system-search-textfield-corner-radius);
	--mod-textfield-border-width: var(--system-search-textfield-border-width);
	--mod-textfield-focus-indicator-gap: var(--system-search-textfield-focus-indicator-gap);
	--mod-textfield-focus-indicator-width: var(--system-search-textfield-focus-indicator-width);
	--mod-textfield-focus-indicator-color: var(--system-search-textfield-focus-indicator-color);
	--mod-textfield-text-color-default: var(--system-search-textfield-text-color-default);
	--mod-textfield-text-color-hover: var(--system-search-textfield-text-color-hover);
	--mod-textfield-text-color-focus: var(--system-search-textfield-text-color-focus);
	--mod-textfield-text-color-focus-hover: var(--system-search-textfield-text-color-focus-hover);
	--mod-textfield-text-color-keyboard-focus: var(--system-search-textfield-text-color-keyboard-focus);
	--mod-textfield-text-color-disabled: var(--system-search-textfield-text-color-disabled);
	--mod-textfield-border-color: var(--system-search-textfield-border-color);
	--mod-textfield-border-color-hover: var(--system-search-textfield-border-color-hover);
	--mod-textfield-border-color-focus: var(--system-search-textfield-border-color-focus);
	--mod-textfield-border-color-focus-hover: var(--system-search-textfield-border-color-focus-hover);
	--mod-textfield-border-color-keyboard-focus: var(--system-search-textfield-border-color-keyboard-focus);
	--mod-textfield-border-color-disabled: var(--system-search-textfield-border-color-disabled);
	--mod-textfield-background-color: var(--system-search-textfield-background-color);
	--mod-textfield-background-color-disabled: var(--system-search-textfield-background-color-disabled);
}

.spectrum-Search--sizeS {
	--spectrum-search-border-radius: var(--system-search-size-s-search-border-radius);
	--spectrum-search-edge-to-visual: var(--system-search-size-s-search-edge-to-visual);
	--spectrum-search-block-size: var(--system-search-size-s-search-block-size);
	--spectrum-search-icon-size: var(--system-search-size-s-search-icon-size);
	--spectrum-search-text-to-icon: var(--system-search-size-s-search-text-to-icon);
}

.spectrum-Search--sizeL {
	--spectrum-search-border-radius: var(--system-search-size-l-search-border-radius);
	--spectrum-search-edge-to-visual: var(--system-search-size-l-search-edge-to-visual);
	--spectrum-search-block-size: var(--system-search-size-l-search-block-size);
	--spectrum-search-icon-size: var(--system-search-size-l-search-icon-size);
	--spectrum-search-text-to-icon: var(--system-search-size-l-search-text-to-icon);
}

.spectrum-Search--sizeXL {
	--spectrum-search-border-radius: var(--system-search-size-xl-search-border-radius);
	--spectrum-search-edge-to-visual: var(--system-search-size-xl-search-edge-to-visual);
	--spectrum-search-block-size: var(--system-search-size-xl-search-block-size);
	--spectrum-search-icon-size: var(--system-search-size-xl-search-icon-size);
	--spectrum-search-text-to-icon: var(--system-search-size-xl-search-text-to-icon);
}

.spectrum-Search--quiet {
	--spectrum-search-quiet-button-offset: var(--system-search-quiet-search-quiet-button-offset);
	--spectrum-search-background-color: var(--system-search-quiet-search-background-color);
	--spectrum-search-background-color-disabled: var(--system-search-quiet-search-background-color-disabled);
	--spectrum-search-border-color-disabled: var(--system-search-quiet-search-border-color-disabled);
}

.spectrum-Search--quiet.spectrum-Search {
	--spectrum-search-border-radius: var(--system-search-quiet-search-search-border-radius);
	--spectrum-search-edge-to-visual: var(--system-search-quiet-search-search-edge-to-visual);
}

.spectrum-Search--sizeM {
	--spectrum-search-border-radius: var(--system-search-size-m-search-border-radius);
	--spectrum-search-edge-to-visual: var(--system-search-size-m-search-edge-to-visual);
}
