/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-Switch {
	--spectrum-switch-handle-border-color-default: var(--system-switch-switch-handle-border-color-default);
	--spectrum-switch-handle-border-color-hover: var(--system-switch-switch-handle-border-color-hover);
	--spectrum-switch-handle-border-color-down: var(--system-switch-switch-handle-border-color-down);
	--spectrum-switch-handle-border-color-focus: var(--system-switch-switch-handle-border-color-focus);
	--spectrum-switch-handle-border-color-selected-default: var(--system-switch-switch-handle-border-color-selected-default);
	--spectrum-switch-handle-border-color-selected-hover: var(--system-switch-switch-handle-border-color-selected-hover);
	--spectrum-switch-handle-border-color-selected-down: var(--system-switch-switch-handle-border-color-selected-down);
	--spectrum-switch-handle-border-color-selected-focus: var(--system-switch-switch-handle-border-color-selected-focus);
	--spectrum-switch-label-color-default: var(--system-switch-switch-label-color-default);
	--spectrum-switch-label-color-hover: var(--system-switch-switch-label-color-hover);
	--spectrum-switch-label-color-down: var(--system-switch-switch-label-color-down);
	--spectrum-switch-label-color-focus: var(--system-switch-switch-label-color-focus);
	--spectrum-switch-label-color-disabled: var(--system-switch-switch-label-color-disabled);
	--spectrum-switch-background-color: var(--system-switch-switch-background-color);
	--spectrum-switch-background-color-disabled: var(--system-switch-switch-background-color-disabled);
	--spectrum-switch-background-color-selected-disabled: var(--system-switch-switch-background-color-selected-disabled);
	--spectrum-switch-background-color-selected-default: var(--system-switch-switch-background-color-selected-default);
	--spectrum-switch-background-color-selected-hover: var(--system-switch-switch-background-color-selected-hover);
	--spectrum-switch-background-color-selected-down: var(--system-switch-switch-background-color-selected-down);
	--spectrum-switch-background-color-selected-focus: var(--system-switch-switch-background-color-selected-focus);
	--spectrum-switch-focus-indicator-thickness: var(--system-switch-switch-focus-indicator-thickness);
	--spectrum-switch-focus-indicator-color: var(--system-switch-switch-focus-indicator-color);
	--spectrum-switch-handle-background-color: var(--system-switch-switch-handle-background-color);
	--spectrum-switch-handle-border-color-disabled: var(--system-switch-switch-handle-border-color-disabled);
}

.spectrum-Switch--disabled {
	--spectrum-switch-label-color-default: var(--system-switch-disabled-switch-label-color-default);
}

.spectrum-Switch.spectrum-Switch--emphasized {
	--spectrum-switch-background-color-selected-default: var(--system-switch-switch-emphasized-switch-background-color-selected-default);
	--spectrum-switch-background-color-selected-hover: var(--system-switch-switch-emphasized-switch-background-color-selected-hover);
	--spectrum-switch-background-color-selected-down: var(--system-switch-switch-emphasized-switch-background-color-selected-down);
	--spectrum-switch-background-color-selected-focus: var(--system-switch-switch-emphasized-switch-background-color-selected-focus);
	--spectrum-switch-handle-border-color-selected-default: var(--system-switch-switch-emphasized-switch-handle-border-color-selected-default);
	--spectrum-switch-handle-border-color-selected-hover: var(--system-switch-switch-emphasized-switch-handle-border-color-selected-hover);
	--spectrum-switch-handle-border-color-selected-down: var(--system-switch-switch-emphasized-switch-handle-border-color-selected-down);
	--spectrum-switch-handle-border-color-selected-focus: var(--system-switch-switch-emphasized-switch-handle-border-color-selected-focus);
}

.spectrum-Switch--sizeS {
	--spectrum-switch-min-height: var(--system-switch-size-s-switch-min-height);
	--spectrum-switch-control-width: var(--system-switch-size-s-switch-control-width);
	--spectrum-switch-control-height: var(--system-switch-size-s-switch-control-height);
	--spectrum-switch-control-label-spacing: var(--system-switch-size-s-switch-control-label-spacing);
	--spectrum-switch-spacing-top-to-control: var(--system-switch-size-s-switch-spacing-top-to-control);
	--spectrum-switch-spacing-top-to-label: var(--system-switch-size-s-switch-spacing-top-to-label);
	--spectrum-switch-font-size: var(--system-switch-size-s-switch-font-size);
}

.spectrum-Switch--sizeM {
	--spectrum-switch-min-height: var(--system-switch-size-m-switch-min-height);
	--spectrum-switch-control-width: var(--system-switch-size-m-switch-control-width);
	--spectrum-switch-control-height: var(--system-switch-size-m-switch-control-height);
	--spectrum-switch-control-label-spacing: var(--system-switch-size-m-switch-control-label-spacing);
	--spectrum-switch-spacing-top-to-control: var(--system-switch-size-m-switch-spacing-top-to-control);
	--spectrum-switch-spacing-top-to-label: var(--system-switch-size-m-switch-spacing-top-to-label);
	--spectrum-switch-font-size: var(--system-switch-size-m-switch-font-size);
}

.spectrum-Switch--sizeL {
	--spectrum-switch-min-height: var(--system-switch-size-l-switch-min-height);
	--spectrum-switch-control-width: var(--system-switch-size-l-switch-control-width);
	--spectrum-switch-control-height: var(--system-switch-size-l-switch-control-height);
	--spectrum-switch-control-label-spacing: var(--system-switch-size-l-switch-control-label-spacing);
	--spectrum-switch-spacing-top-to-control: var(--system-switch-size-l-switch-spacing-top-to-control);
	--spectrum-switch-spacing-top-to-label: var(--system-switch-size-l-switch-spacing-top-to-label);
	--spectrum-switch-font-size: var(--system-switch-size-l-switch-font-size);
}

.spectrum-Switch--sizeXL {
	--spectrum-switch-min-height: var(--system-switch-size-xl-switch-min-height);
	--spectrum-switch-control-width: var(--system-switch-size-xl-switch-control-width);
	--spectrum-switch-control-height: var(--system-switch-size-xl-switch-control-height);
	--spectrum-switch-control-label-spacing: var(--system-switch-size-xl-switch-control-label-spacing);
	--spectrum-switch-spacing-top-to-control: var(--system-switch-size-xl-switch-spacing-top-to-control);
	--spectrum-switch-spacing-top-to-label: var(--system-switch-size-xl-switch-spacing-top-to-label);
	--spectrum-switch-font-size: var(--system-switch-size-xl-switch-font-size);
}
