/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum{
		--spectrum-font-family-ar:myriad-arabic, adobe-clean, "Source Sans Pro", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
		--spectrum-font-family-he:myriad-hebrew, adobe-clean, "Source Sans Pro", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;

		--spectrum-font-family:var(--spectrum-sans-font-family-stack);
		--spectrum-font-style:var(--spectrum-default-font-style);
		--spectrum-font-size:var(--spectrum-font-size-100);
	}

.spectrum-Heading{
		--spectrum-heading-sans-serif-font-family:var(--spectrum-sans-font-family-stack);
		--spectrum-heading-serif-font-family:var(--spectrum-serif-font-family-stack);
		--spectrum-heading-cjk-font-family:var(--spectrum-cjk-font-family-stack);

		--spectrum-heading-cjk-letter-spacing:var(--spectrum-cjk-letter-spacing);

		--spectrum-heading-font-color:var(--spectrum-heading-color);

		--spectrum-heading-margin-start:calc(var(--mod-heading-font-size, var(--spectrum-heading-font-size))*var(--spectrum-heading-margin-top-multiplier));
		--spectrum-heading-margin-end:calc(var(--mod-heading-font-size, var(--spectrum-heading-font-size))*var(--spectrum-heading-margin-bottom-multiplier));
	}

.spectrum-Heading--sizeXXS{
		--spectrum-heading-font-size:var(--spectrum-heading-size-xxs);
		--spectrum-heading-cjk-font-size:var(--spectrum-heading-cjk-size-xxs);
	}

.spectrum-Heading--sizeXS{
		--spectrum-heading-font-size:var(--spectrum-heading-size-xs);
		--spectrum-heading-cjk-font-size:var(--spectrum-heading-cjk-size-xs);
	}

.spectrum-Heading--sizeS{
		--spectrum-heading-font-size:var(--spectrum-heading-size-s);
		--spectrum-heading-cjk-font-size:var(--spectrum-heading-cjk-size-s);
	}

.spectrum-Heading--sizeM{
		--spectrum-heading-font-size:var(--spectrum-heading-size-m);
		--spectrum-heading-cjk-font-size:var(--spectrum-heading-cjk-size-m);
	}

.spectrum-Heading--sizeL{
		--spectrum-heading-font-size:var(--spectrum-heading-size-l);
		--spectrum-heading-cjk-font-size:var(--spectrum-heading-cjk-size-l);
	}

.spectrum-Heading--sizeXL{
		--spectrum-heading-font-size:var(--spectrum-heading-size-xl);
		--spectrum-heading-cjk-font-size:var(--spectrum-heading-cjk-size-xl);
	}

.spectrum-Heading--sizeXXL{
		--spectrum-heading-font-size:var(--spectrum-heading-size-xxl);
		--spectrum-heading-cjk-font-size:var(--spectrum-heading-cjk-size-xxl);
	}

.spectrum-Heading--sizeXXXL{
		--spectrum-heading-font-size:var(--spectrum-heading-size-xxxl);
		--spectrum-heading-cjk-font-size:var(--spectrum-heading-cjk-size-xxxl);
	}

.spectrum-Body{
		--spectrum-body-sans-serif-font-family:var(--spectrum-sans-font-family-stack);
		--spectrum-body-serif-font-family:var(--spectrum-serif-font-family-stack);
		--spectrum-body-cjk-font-family:var(--spectrum-cjk-font-family-stack);

		--spectrum-body-cjk-letter-spacing:var(--spectrum-cjk-letter-spacing);

		--spectrum-body-margin:calc(var(--mod-body-font-size, var(--spectrum-body-font-size))*var(--spectrum-body-margin-multiplier));

		--spectrum-body-font-color:var(--spectrum-body-color);
	}

.spectrum-Body--sizeXS{
		--spectrum-body-font-size:var(--spectrum-body-size-xs);
	}

.spectrum-Body--sizeS{
		--spectrum-body-font-size:var(--spectrum-body-size-s);
	}

.spectrum-Body--sizeM{
		--spectrum-body-font-size:var(--spectrum-body-size-m);
	}

.spectrum-Body--sizeL{
		--spectrum-body-font-size:var(--spectrum-body-size-l);
	}

.spectrum-Body--sizeXL{
		--spectrum-body-font-size:var(--spectrum-body-size-xl);
	}

.spectrum-Body--sizeXXL{
		--spectrum-body-font-size:var(--spectrum-body-size-xxl);
	}

.spectrum-Body--sizeXXXL{
		--spectrum-body-font-size:var(--spectrum-body-size-xxxl);
	}

.spectrum-Detail{
		--spectrum-detail-sans-serif-font-family:var(--spectrum-sans-font-family-stack);
		--spectrum-detail-serif-font-family:var(--spectrum-serif-font-family-stack);
		--spectrum-detail-cjk-font-family:var(--spectrum-cjk-font-family-stack);

		--spectrum-detail-margin-start:calc(var(--mod-detail-font-size, var(--spectrum-detail-font-size))*var(--spectrum-detail-margin-top-multiplier));
		--spectrum-detail-margin-end:calc(var(--mod-detail-font-size, var(--spectrum-detail-font-size))*var(--spectrum-detail-margin-bottom-multiplier));

		--spectrum-detail-font-color:var(--spectrum-detail-color);
	}

.spectrum-Detail--sizeS{
		--spectrum-detail-font-size:var(--spectrum-detail-size-s);
	}

.spectrum-Detail--sizeM{
		--spectrum-detail-font-size:var(--spectrum-detail-size-m);
	}

.spectrum-Detail--sizeL{
		--spectrum-detail-font-size:var(--spectrum-detail-size-l);
	}

.spectrum-Detail--sizeXL{
		--spectrum-detail-font-size:var(--spectrum-detail-size-xl);
	}

.spectrum-Code{
		--spectrum-code-font-family:var(--spectrum-code-font-family-stack);
		--spectrum-code-cjk-letter-spacing:var(--spectrum-cjk-letter-spacing);
		--spectrum-code-font-color:var(--spectrum-code-color);
	}

.spectrum-Code--sizeXS{
		--spectrum-code-font-size:var(--spectrum-code-size-xs);
	}

.spectrum-Code--sizeS{
		--spectrum-code-font-size:var(--spectrum-code-size-s);
	}

.spectrum-Code--sizeM{
		--spectrum-code-font-size:var(--spectrum-code-size-m);
	}

.spectrum-Code--sizeL{
		--spectrum-code-font-size:var(--spectrum-code-size-l);
	}

.spectrum-Code--sizeXL{
		--spectrum-code-font-size:var(--spectrum-code-size-xl);
	}
/*# sourceMappingURL=index-theme.css.map */