/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-DropZone {
	/* Sizing */
	--spectrum-drop-zone-padding: var(--spectrum-spacing-400);
	--spectrum-drop-zone-border-width: var(--spectrum-border-width-200);
	--spectrum-drop-zone-corner-radius: var(--spectrum-corner-radius-700);
	--spectrum-drop-zone-border-color: var(--spectrum-gray-300);
	--spectrum-drop-zone-inline-size: var(--spectrum-drop-zone-width);

	/* Color */
	--spectrum-drop-zone-background-color: var(--spectrum-drop-zone-background-color-rgb);
	--spectrum-drop-zone-border-color-hover: var(--spectrum-accent-visual-color);
	--spectrum-drop-zone-illustration-color-hover: var(--spectrum-accent-content-color-default);
	--spectrum-drop-zone-body-to-action: var(--spectrum-spacing-300);
	--spectrum-drop-zone-stroke-dash-gap: var(--spectrum-drop-zone-border-dash-gap);
	--spectrum-drop-zone-stroke-dash-length: var(--spectrum-drop-zone-border-dash-length);
	--spectrum-drop-zone-dragged-background-color: var(--spectrum-drop-zone-background-color-opacity);

	/* Filled styles */
	--spectrum-drop-zone-content-max-width: var(--spectrum-drop-zone-content-maximum-width);
	--spectrum-drop-zone-content-top-to-text: var(--spectrum-component-top-to-text-300);
	--spectrum-drop-zone-content-bottom-to-text: var(--spectrum-component-bottom-to-text-300);
	--spectrum-drop-zone-component-height: var(--spectrum-component-height-300);
	--spectrum-drop-zone-edge-to-text: var(--spectrum-component-edge-to-text-300);

	--spectrum-drop-zone-content-font-family: var(--spectrum-sans-font-family-stack);
	--spectrum-drop-zone-content-font-weight: var(--spectrum-bold-font-weight);
	--spectrum-drop-zone-content-font-size: var(--spectrum-font-size-300);
	--spectrum-drop-zone-title-line-height: var(--spectrum-line-height-100);

	--spectrum-drop-zone-content-background-color: var(--spectrum-accent-visual-color);

	/* Adjusts height of filled & dragged dropzone state */
	--spectrum-drop-zone-content-height: 280px;
}

.spectrum-DropZone {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	inline-size: var(--spectrum-drop-zone-inline-size);
	padding: calc(var(--spectrum-drop-zone-padding) - var(--spectrum-drop-zone-border-width));
	border-radius: var(--spectrum-drop-zone-corner-radius);
	background-size: cover;
	background-color: var(--spectrum-drop-zone-background-color);
	position: relative;
	border: var(--spectrum-drop-zone-border-width) dashed var(--highcontrast-drop-zone-border-color, var(--spectrum-drop-zone-border-color));

	&.is-dragged {
		--spectrum-drop-zone-background-color: rgb(var(--spectrum-drop-zone-background-color), var(--spectrum-drop-zone-dragged-background-color));
		--spectrum-drop-zone-border-color: var(--highcontrast-drop-zone-border-color-hover, var(--spectrum-drop-zone-border-color-hover));

		color: var(--spectrum-drop-zone-illustration-color-hover);
		border-style: solid;

		.spectrum-DropZone-strokePath {
			stroke-dasharray: none;
		}

		.spectrum-IllustratedMessage {
			/* @passthrough start - overrides for nested IllustratedMessage component */
			--spectrum-illustrated-message-illustration-color: var(--spectrum-drop-zone-illustration-color-hover);
			/* @passthrough end */
		}
	}

	&.is-filled {
		/* note: the below applies to .is-filled.is-dragged but works here b/c dragged is the only state applying background color */
		--spectrum-drop-zone-background-color: rgb(var(--spectrum-drop-zone-background-color), var(--spectrum-drop-zone-background-color-opacity-filled));

		.spectrum-IllustratedMessage {
			/* @passthrough start - overrides for nested IllustratedMessage component */
			--spectrum-illustrated-message-display: none;
			/* @passthrough end */
		}
	}

	&.is-filled.is-dragged {
		background-position: center;
		block-size: var(--spectrum-drop-zone-content-height);
		background-blend-mode: multiply;

		.spectrum-DropZone-content {
			block-size: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.spectrum-DropZone-actions {
			margin-block-start: 0;
		}
	}

	&:focus-visible {
		--spectrum-drop-zone-border-color: var(--highcontrast-drop-zone-border-color-hover, var(--spectrum-drop-zone-border-color-hover));

		outline: 0;
	}
}

.spectrum-DropZone:has(.spectrum-DropZone-stroke) {
	border: none;
}

.spectrum-DropZone-stroke {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	pointer-events: none;
}

.spectrum-DropZone-strokePath {
	stroke: var(--highcontrast-drop-zone-border-color, var(--spectrum-drop-zone-border-color));
	stroke-dasharray: var(--spectrum-drop-zone-stroke-dash-length) var(--spectrum-drop-zone-stroke-dash-gap);
	rx: var(--spectrum-drop-zone-corner-radius);
	ry: var(--spectrum-drop-zone-corner-radius);
	stroke-width: var(--spectrum-drop-zone-border-width);
	inline-size: calc(100% - var(--spectrum-drop-zone-border-width));
	block-size: calc(100% - var(--spectrum-drop-zone-border-width));
}

.spectrum-DropZone-content {
	max-inline-size: var(--spectrum-illustrated-message-vertical-maximum-width);
}

.spectrum-DropZone-actions {
	margin-block-start: var(--spectrum-drop-zone-body-to-action);
	text-align: center;
}

.spectrum-DropZone-button {
	/* @passthrough - Adjust corner radius of button component is dragged & filled state */
	--spectrum-button-border-radius: var(--spectrum-corner-radius-500);
	/* @passthrough end */

	box-sizing: border-box;
	border: none;
	block-size: auto;

	max-inline-size: var(--spectrum-drop-zone-content-max-width);
	padding-block-start: var(--spectrum-drop-zone-content-top-to-text);
	padding-block-end: var(--spectrum-drop-zone-content-bottom-to-text);
	padding-inline: var(--spectrum-drop-zone-edge-to-text);
	background-color: var(--highcontrast-drop-zone-button-color, var(--spectrum-drop-zone-content-background-color));
	max-block-size: var(--spectrum-drop-zone-component-height);

	font-family: var(--spectrum-drop-zone-content-font-family);
	font-weight: var(--spectrum-drop-zone-content-font-weight);
	line-height: var(--spectrum-drop-zone-title-line-height);

	.spectrum-Button-label {
		font-size: var(--spectrum-drop-zone-content-font-size);
		padding: unset;
	}

	&:hover,
	&:focus {
		background-color: var(--highcontrast-drop-zone-button-color, var(--spectrum-drop-zone-content-background-color));
	}
}

/********* Illustrated Message *********/
.spectrum-DropZone .spectrum-IllustratedMessage {
	/* @passthrough start - overrides for nested IllustratedMessage component */
	--spectrum-illustrated-message-vertical-maximum-width: var(--spectrum-drop-zone-content-maximum-width);
	--spectrum-illustrated-message-description-to-action: var(--spectrum-drop-zone-body-to-action);
	--spectrum-illustrated-message-description-position: relative;
	--spectrum-illustrated-message-description-z-index: 10;
	--spectrum-illustrated-message-description-font-size: var(--spectrum-drop-zone-body-font-size);
	/* @passthrough end */

	justify-content: center;
}

/********* WHCM *********/
@media (forced-colors: active) {
	.spectrum-DropZone {
		--highcontrast-drop-zone-border-color-hover: Highlight;
		--highcontrast-drop-zone-button-color: ButtonText;
		--highcontrast-drop-zone-border-color: ButtonText;

		&.is-dragged {
			border-color: Highlight;

			.spectrum-DropZone-strokePath {
				stroke: Highlight;
			}
		}
	}
}
