/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/* outer container, unstyled */
.spectrum-AssetCard {
	--spectrum-assetcard-minimum-size: var(--spectrum-card-minimum-width);
	--spectrum-assetcard-size: var(--spectrum-assetcard-asset-size, 224px);

	--spectrum-assetcard-overlay-background-color: var(
		--spectrum-alias-assetcard-overlay-background-color
	);
	--spectrum-assetcard-border-color-selected: var(
		--spectrum-alias-assetcard-border-color-selected
	);
	--spectrum-assetcard-border-color-selected-hover: var(
		--spectrum-alias-assetcard-border-color-selected-hover
	);
	--spectrum-assetcard-border-color-selected-down: var(
		--spectrum-alias-assetcard-border-color-selected-down
	);
	--spectrum-assetcard-selectionindicator-background-color-ordered: var(
		--spectrum-alias-assetcard-selectionindicator-background-color-ordered
	);

	--spectrum-assetcard-border-radius: var(
		--spectrum-alias-border-radius-regular
	);
	--spectrum-assetcard-border-color: transparent;
	--spectrum-assetcard-border-color-hover: var(
		--spectrum-alias-border-color-hover
	);
	/* todo: this was hardcoded, it should reference --spectrum-alias-border-color-down once that becomes +200 */
	--spectrum-assetcard-border-color-down: var(--spectrum-gray-600);

	--spectrum-assetcard-background-color: var(--spectrum-gray-200);

	--spectrum-assetcard-focus-ring-opacity: 0;
	--spectrum-assetcard-focus-ring-gap: var(--spectrum-focus-indicator-gap);
	--spectrum-assetcard-focus-ring-border-radius: var(
		--spectrum-alias-focus-ring-border-radius-regular
	);

	--spectrum-assetcard-selectionindicator-background-color-default: var(
		--spectrum-alias-background-color-quickactions
	);
	--spectrum-assetcard-selectionindicator-margin: var(--spectrum-spacing-200);
	--spectrum-assetcard-selectionindicator-size: var(
		--spectrum-card-selection-background-size
	);
	--spectrum-assetcard-selectionindicator-border-radius: var(
		--spectrum-corner-radius-75
	);

	--spectrum-assetcard-title-text-color: var(--spectrum-gray-900);
	--spectrum-assetcard-header-content-text-color: var(--spectrum-gray-900);
	--spectrum-assetcard-content-text-color: var(--spectrum-gray-700);

	/* Maps to .spectrum-Heading--sizeXS */
	--spectrum-assetcard-title-font-size: var(--spectrum-heading-size-xs);

	--spectrum-assetcard-title-font-family: var(
		--spectrum-sans-font-family-stack
	);
	--spectrum-assetcard-title-font-weight: var(
		--spectrum-heading-sans-serif-font-weight
	);
	--spectrum-assetcard-title-font-style: var(
		--spectrum-heading-sans-serif-font-style
	);
	--spectrum-assetcard-title-line-height: var(--spectrum-heading-line-height);
	--spectrum-assetcard-title-letter-spacing: normal;

	/* Maps to .spectrum-Body--sizeM */
	--spectrum-assetcard-header-content-size: var(--spectrum-body-size-m);

	--spectrum-assetcard-header-content-font-family: var(
		--spectrum-sans-font-family-stack
	);
	--spectrum-assetcard-header-content-font-weight: var(
		--spectrum-body-sans-serif-font-weight
	);
	--spectrum-assetcard-header-content-font-style: var(
		--spectrum-body-sans-serif-font-style
	);
	--spectrum-assetcard-heading-content-line-height: var(
		--spectrum-body-line-height
	);
	--spectrum-assetcard-header-content-letter-spacing: normal;

	/* Maps to .spectrum-Body--sizeS */
	--spectrum-assetcard-content-size: var(--spectrum-body-size-s);

	--spectrum-assetcard-content-font-family: var(
		--spectrum-sans-font-family-stack
	);
	--spectrum-assetcard-content-font-weight: var(
		--spectrum-body-sans-serif-font-weight
	);
	--spectrum-assetcard-content-line-height: var(--spectrum-body-line-height);
	--spectrum-assetcard-content-font-style: var(
		--spectrum-body-sans-serif-font-style
	);
	--spectrum-assetcard-content-line-height: var(--spectrum-body-line-height);
	--spectrum-assetcard-content-letter-spacing: normal;

	/* contain selection indicator */
	position: relative;

	display: flex;
	flex-direction: column;

	cursor: pointer;

	outline: none;

	font-family: var(
		--mod-assetcard-content-font-family,
		var(--spectrum-assetcard-content-font-family)
	);
	font-weight: var(
		--mod-assetcard-content-font-weight,
		var(--spectrum-assetcard-content-font-weight)
	);
	font-size: var(
		--mod-assetcard-content-font-size,
		var(--spectrum-assetcard-content-font-size)
	);
	line-height: var(
		--mod-assetcard-content-line-height,
		var(--spectrum-assetcard-content-line-height)
	);
	font-style: var(
		--mod-assetcard-content-font-style,
		var(--spectrum-assetcard-header-content-font-style)
	);
	letter-spacing: var(
		--mod-assetcard-content-letter-spacing,
		var(--spectrum-assetcard-content-letter-spacing)
	);

	&:hover {
		--spectrum-assetcard-border-color: var(
			--spectrum-assetcard-border-color-hover
		);
	}

	&:active {
		--spectrum-assetcard-border-color: var(
			--spectrum-assetcard-border-color-down
		);
	}

	&:focus-visible {
		--spectrum-assetcard-focus-ring-opacity: 1;
	}

	&:lang(zh),
	&:lang(ja),
	&:lang(ko) {
		--spectrum-assetcard-title-font-family: var(
			--spectrum-cjk-font-family-stack
		);
		--spectrum-assetcard-title-font-style: var(
			--spectrum-heading-cjk-font-style
		);
		--spectrum-assetcard-title-font-weight: var(
			--spectrum-heading-cjk-font-weight
		);
		--spectrum-assetcard-title-font-size: var(
			--spectrum-heading-cjk-font-size-xs
		);

		--spectrum-assetcard-title-line-height: var(
			--spectrum-heading-cjk-line-height
		);
		--spectrum-assetcard-title-letter-spacing: var(
			--spectrum-heading-cjk-letter-spacing
		);

		--spectrum-assetcard-header-content-font-family: var(
			--spectrum-cjk-font-family-stack
		);
		--spectrum-assetcard-header-content-size: var(
			--spectrum-body-cjk-font-size-m
		);
		--spectrum-assetcard-header-content-font-weight: var(
			--spectrum-body-cjk-font-weight
		);
		--spectrum-assetcard-header-content-line-height: var(
			--spectrum-body-cjk-line-height
		);
		--spectrum-assetcard-header-content-font-style: var(
			--spectrum-body-cjk-font-style
		);
		--spectrum-assetcard-header-content-letter-spacing: var(
			--spectrum-body-cjk-letter-spacing
		);

		--spectrum-assetcard-content-font-family: var(
			--spectrum-cjk-font-family-stack
		);
		--spectrum-assetcard-content-font-size: var(
			--spectrum-body-cjk-font-size-s
		);
		--spectrum-assetcard-content-font-weight: var(
			--spectrum-body-cjk-font-weight
		);
		--spectrum-assetcard-content-line-height: var(
			--spectrum-body-cjk-line-height
		);
		--spectrum-assetcard-content-font-style: var(
			--spectrum-body-cjk-font-style
		);
		--spectrum-assetcard-content-letter-spacing: var(
			--spectrum-body-cjk-letter-spacing
		);
	}

	/* Sizing on large/mobile */
	.spectrum--large & {
		--spectrum-assetcard-title-font-size: var(--spectrum-heading-size-xxs);
		--spectrum-assetcard-header-content-font-size: var(--spectrum-body-size-s);
		--spectrum-assetcard-content-font-size: var(--spectrum-body-size-xs);
	}
}

/* the container for the asset (background, border, etc) */
.spectrum-AssetCard-assetContainer {
	/* contain overlay */
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	min-inline-size: var(--spectrum-assetcard-minimum-size);
	inline-size: var(--spectrum-assetcard-size);

	min-block-size: var(--spectrum-assetcard-minimum-size);
	block-size: var(--spectrum-assetcard-size);

	border-radius: var(--spectrum-assetcard-border-radius);

	background-color: var(--spectrum-assetcard-background-color);

	transition: border var(--spectrum-animation-duration-100) ease-in-out;

	/* focus indicator */
	&::before {
		content: "";

		position: absolute;
		inset: calc(-1 * var(--spectrum-assetcard-focus-ring-gap));

		border: var(--spectrum-focus-indicator-thickness) solid
			var(--spectrum-alias-focus-color);
		border-radius: var(--spectrum-assetcard-focus-ring-border-radius);

		opacity: var(--spectrum-assetcard-focus-ring-opacity);
		pointer-events: none;
		transition: opacity var(--spectrum-animation-duration-100) ease-in-out;
	}

	/* border */
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		z-index: 3;

		border: var(--spectrum-alias-border-size-thin) solid
			var(--spectrum-assetcard-border-color);
		border-radius: calc(var(--spectrum-assetcard-border-radius) - 1px);
	}
}

/* the actual asset */
.spectrum-AssetCard-asset {
	object-fit: contain;

	inline-size: 100%;
	block-size: 100%;

	transition: inline-size var(--spectrum-animation-duration-100) ease-in-out,
		block-size var(--spectrum-animation-duration-100) ease-in-out;

	border-radius: calc(var(--spectrum-assetcard-border-radius) - 1px);
}

/* header area, contains the header and optional content */
.spectrum-AssetCard-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* bold title */
.spectrum-AssetCard-title {
	flex-grow: 1;

	/* space between the asset and the header */
	margin-block-start: var(--spectrum-text-to-visual-300);

	color: var(
		--mod-assetcard-header-text-color,
		var(--spectrum-assetcard-title-text-color)
	);

	font-family: var(
		--mod-assetcard-title-font-family,
		var(--spectrum-assetcard-title-font-family)
	);
	font-weight: var(
		--mod-assetcard-title-font-weight,
		var(--spectrum-assetcard-title-font-weight)
	);
	font-size: var(
		--mod-assetcard-title-font-size,
		var(--spectrum-assetcard-title-font-size)
	);
	line-height: var(
		--mod-assetcard-title-line-height,
		var(--spectrum-assetcard-title-line-height)
	);
	font-style: var(
		--mod-assetcard-title-font-style,
		var(--spectrum-assetcard-title-font-style)
	);
	letter-spacing: var(
		--mod-assetcard-title-letter-spacing,
		var(--spectrum-assetcard-title-letter-spacing)
	);
}

/* optional content placed to the right of the title */
.spectrum-AssetCard-headerContent {
	color: var(
		--mod-assetcard-header-content-text-color,
		var(--spectrum-assetcard-header-content-text-color)
	);

	font-family: var(
		--mod-assetcard-header-content-font-family,
		var(--spectrum-assetcard-header-content-font-family)
	);
	font-weight: var(
		--mod-assetcard-header-content-font-weight,
		var(--spectrum-assetcard-header-content-font-weight)
	);
	font-size: var(
		--mod-assetcard-header-content-font-size,
		var(--spectrum-assetcard-header-content-font-size)
	);
	line-height: var(
		--mod-assetcard-header-content-line-height,
		var(--spectrum-assetcard-header-content-line-height)
	);
	font-style: var(
		--mod-assetcard-header-content-font-style,
		var(--spectrum-assetcard-header-content-font-style)
	);
	letter-spacing: var(
		--mod-assetcard-header-content-letter-spacing,
		var(--spectrum-assetcard-header-content-letter-spacing)
	);
}

/* content area, the last thing in the card */
.spectrum-AssetCard-content {
	flex-grow: 1;

	/* space between the content and the header */
	margin-block-start: calc(
		var(--spectrum-assetcard-title-font-size) *
			var(--spectrum-heading-margin-bottom-multiplier)
	);

	color: var(--spectrum-assetcard-content-text-color);
}

/*
  Selection styles
*/
.spectrum-AssetCard-selectionOverlay {
	position: absolute;
	z-index: 1;
	inset: 0;

	background-color: transparent;

	pointer-events: none;
	transition: background-color var(--spectrum-animation-duration-100)
		ease-in-out;

	border-radius: calc(var(--spectrum-assetcard-border-radius) - 1px);
}

/* the checkbox or selection order indicator */
.spectrum-AssetCard-selectionIndicator {
	position: absolute;
	z-index: 2;
	inset-inline-start: var(--spectrum-assetcard-selectionindicator-margin);
	inset-block-start: var(--spectrum-assetcard-selectionindicator-margin);

	display: flex;
	align-items: center;
	justify-content: center;

	inline-size: var(--spectrum-assetcard-selectionindicator-size);
	block-size: var(--spectrum-assetcard-selectionindicator-size);

	border-radius: var(--spectrum-assetcard-selectionindicator-border-radius);

	box-shadow: var(--spectrum-drop-shadow-x) var(--spectrum-drop-shadow-y)
		var(--spectrum-drop-shadow-blur) var(--spectrum-drop-shadow-color);

	color: var(--spectrum-gray-50);
	font-weight: var(--spectrum-body-sans-serif-strong-font-style);
	font-size: var(--spectrum-font-size-400);

	visibility: hidden;

	opacity: 0;
	transition: opacity var(--spectrum-animation-duration-100) ease-in-out;
}

.spectrum-AssetCard-selectionOrder {
	line-height: 0;
}

/* base selection styles shared by every selection mode */
/* drop target looks identical to selected */
.spectrum-AssetCard.is-drop-target,
.spectrum-AssetCard.is-selected {
	.spectrum-AssetCard-assetContainer::after {
		border-color: var(--spectrum-assetcard-border-color-selected);
	}

	.spectrum-AssetCard-selectionOverlay {
		background-color: var(--spectrum-assetcard-overlay-background-color);
	}

	&:hover {
		.spectrum-AssetCard-assetContainer::after {
			border-color: var(--spectrum-assetcard-border-color-selected-hover);
		}
	}

	&:active {
		.spectrum-AssetCard-assetContainer::after {
			border-color: var(--spectrum-assetcard-border-color-selected-down);
		}
	}
}

/* highlight */
.spectrum-AssetCard--highlightSelection {
	&.is-selected {
		.spectrum-AssetCard-asset {
			inline-size: 90%;
			block-size: 90%;

			/* no radius, otherwise square assets get rounded */
			border-radius: 0;
		}
	}
}

/* with a checkbox */
.spectrum-AssetCard--checkboxSelection {
	.spectrum-AssetCard-selectionIndicator {
		background-color: var(
			--spectrum-assetcard-selectionindicator-background-color-default
		);

		.spectrum-AssetCard-selectionOrder {
			display: none;
		}
	}

	&.is-selected,
	&:focus,
	&:hover {
		.spectrum-AssetCard-selectionIndicator {
			visibility: visible;
			opacity: 1;
			pointer-events: all;
		}
	}
}

/* with the little order flag that shows the selection order */
.spectrum-AssetCard--orderedSelection {
	.spectrum-AssetCard-selectionIndicator {
		background-color: var(
			--spectrum-assetcard-selectionindicator-background-color-ordered
		);

		.spectrum-AssetCard-checkbox {
			display: none;
		}
	}

	&.is-selected {
		.spectrum-AssetCard-selectionIndicator {
			visibility: visible;
			opacity: 1;
			pointer-events: all;
		}
	}
}
