.spectrum-CSSComponent {
  --spectrum-csscomponent-margin: var(--spectrum-global-dimension-size-500);
  --spectrum-csscomponent-padding: var(--spectrum-global-dimension-size-700);
  --spectrum-csscomponent-max-width: 1080px;
  --spectrum-csscomponent-heading-margin-bottom: var(--spectrum-global-dimension-size-200);

  --spectrum-csscomponent-description-margin-bottom: var(--spectrum-global-dimension-size-800);

  --spectrum-csscomponent-statuscontainer-margin-x: var(--spectrum-global-dimension-size-200);
  --spectrum-csscomponent-status-margin-x: var(--spectrum-global-dimension-size-100);
}

.spectrum-CSSExample {
  --spectrum-cssexample-border-radius: var(--spectrum-global-dimension-size-75);
  --spectrum-cssexample-border-color: var(--spectrum-global-color-gray-200);
  --spectrum-cssexample-margin-bottom: var(--spectrum-global-dimension-size-500);

  --spectrum-cssexample-header-margin-bottom: var(--spectrum-global-dimension-size-500);

  --spectrum-cssexample-markup-height: var(--spectrum-global-dimension-size-900);
  --spectrum-cssexample-markup-padding-x: var(--spectrum-global-dimension-size-225);
  --spectrum-cssexample-markup-padding-y: var(--spectrum-global-dimension-size-125);
  --spectrum-cssexample-markup-toggle-height: var(--spectrum-global-dimension-size-400);
  --spectrum-cssexample-markup-background-color: var(--spectrum-global-color-gray-75);
}

.spectrum-CSSComponent {
  max-width: var(--spectrum-csscomponent-max-width);
  margin: var(--spectrum-csscomponent-margin) auto;
  padding: 0 var(--spectrum-csscomponent-padding);
}

.spectrum-CSSComponent-heading {
  margin-bottom: var(--spectrum-csscomponent-heading-margin-bottom);

  display: flex;
  flex-direction: row;
  align-items: start;
}

.spectrum-CSSComponent-statusContainer {
  align-self: center;
  flex-grow: 1;
  vertical-align: bottom;
  margin: 0 var(--spectrum-csscomponent-statuscontainer-margin-x);
}

.spectrum-CSSComponent-status {
  margin: 0 var(--spectrum-csscomponent-status-margin-x);
}

.spectrum-CSSComponent-version {
  flex-grow: 1;
  text-align: right;
}

.spectrum-CSSComponent-description {
  margin-bottom: var(--spectrum-csscomponent-description-margin-bottom);
}

.spectrum-CSSExample {
  margin-bottom: var(--spectrum-cssexample-margin-bottom);
}

.spectrum-CSSExample-container {
  position: relative;

  display: flex;
  flex-direction: column;

  border-radius: var(--spectrum-cssexample-border-radius);
}

.spectrum-CSSExample-header {
  margin-bottom: var(--spectrum-cssexample-header-margin-bottom);
}

.spectrum-CSSExample-link {
  color: inherit;
  text-decoration: none;
}

.spectrum-CSSExample-link:hover {
  text-decoration: underline;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .spectrum-CSSExample-example {
    /* Fix example layout in IE11 */
    display: block;
  }
}

.spectrum-CSSExample-example,
.spectrum-CSSExample-markup {
  box-sizing: border-box;
}

.spectrum-CSSExample-example {
  flex: 1;

  padding: 3rem 4rem;

  border-radius: var(--spectrum-cssexample-border-radius) var(--spectrum-cssexample-border-radius) 0 0;

  background-color: var(--spectrum-alias-background-color-default, var(--spectrum-global-color-gray-100));
}

.spectrum-CSSExample-markup {
  position: relative;
  max-width: 100%;
  max-height: var(--spectrum-cssexample-markup-height);

  padding: var(--spectrum-cssexample-markup-padding-y) var(--spectrum-cssexample-markup-padding-x);

  border-radius: 0 0 var(--spectrum-cssexample-border-radius) var(--spectrum-cssexample-border-radius);
  border-top: 1px solid var(--spectrum-cssexample-border-color);

  background: var(--spectrum-cssexample-markup-background-color);

  overflow: hidden;
}

.spectrum-CSSExample-markup.is-open {
  max-height: 100%;
}

.spectrum-CSSExample-markup.is-open .spectrum-CSSExample-markupToggle {
  background-color: transparent;
}
.spectrum-CSSExample-markup.is-open .spectrum-CSSExample-markupToggle::before {
  display: none;
}

.spectrum-CSSExample-markupToggle + pre {
  padding-bottom: 1rem;
}

.spectrum-CSSExample-example--overlay {
  position: relative;
  background: rgba(0,0,0,0.4);
  color: rgba(0,0,0,0.4);
}

.spectrum-CSSExample-dialog {
  position: relative !important;
  transform: none !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 0;
  z-index: 1;
  transition: none;
}

.spectrum-CSSExample-overlayShowButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

pre {
  margin: 0;
  padding: 0;

  border: none;

  background: transparent;
}

.spectrum-CSSExample-markup pre code {
  background: transparent;
  white-space: pre-wrap;
}

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
  font-size: 12px;
}

.spectrum-CSSExample-markupToggle {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;

  box-sizing: border-box;
  padding: 0.5rem 0;

  background: white;

  text-align: center;
}

.spectrum-CSSExample-markupToggle::before {
  content: '';

  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;

  width: 100%;
  height: var(--spectrum-cssexample-markup-toggle-height);

  background: linear-gradient(to bottom, rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%);
}


.spectrum--dark .spectrum-CSSExample-markupToggle,
.spectrum--darkest .spectrum-CSSExample-markupToggle {
  background: rgb(40, 40, 40);
}

.spectrum--dark .spectrum-CSSExample-markupToggle::before,
.spectrum--darkest .spectrum-CSSExample-markupToggle::before {
  background: linear-gradient(to bottom, rgba(40,40,40,0) 10%, rgba(40,40,40,1) 100%);
}

.spectrum-BigSubtleLink {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  outline: none;
  vertical-align: middle;
}

.spectrum-BigSubtleLink:hover {
  text-decoration: underline;
}

pre.html {
  margin: 0;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* For documentation beautification only - DO NOT COPY */
.dummy-spacing {
  height: var(--spectrum-global-dimension-size-2400);
}

/* Limit slider widths */
.spectrum-Slider {
  max-width: var(--spectrum-global-dimension-size-3000);
}
