@import '../commons/index.css';

/* topdoc
{{ table/table-standard.yml }}
*/
/* topdoc
{{ table/table-divs.yml }}
*/
/* topdoc
{{ table/table-divs-quiet.yml }}
*/
/* topdoc
{{ table/table-dropzone.yml }}
*/

.spectrum-Table {
  border-collapse: separate;
  border-spacing: 0;
}

.spectrum-Table-sortedIcon {
  display: none;
  margin-left: var(--spectrum-table-header-sort-icon-gap);

  vertical-align: middle;

  transition: transform var(--spectrum-transition-time) ease-in-out;
}

.spectrum-Table-headCell {
  box-sizing: border-box;
  text-align: left;
  font-size: var(--spectrum-table-header-text-size);
  font-weight: var(--spectrum-table-header-text-font-weight);
  line-height: var(--spectrum-table-header-text-line-height);
  min-height: var(--spectrum-table-header-min-height);
  letter-spacing: var(--spectrum-table-header-text-letter-spacing);
  text-transform: uppercase;
  padding: var(--spectrum-table-header-padding-y) var(--spectrum-table-header-padding-x);
  transition: color var(--spectrum-transition-time) ease-in-out;
  cursor: default;
  outline: 0;
  border-radius: var(--spectrum-table-header-border-radius);

  &.is-sortable {
    cursor: pointer;

    &:focus-ring {
      text-decoration: none;
      border-style: solid;
      border-width: var(--spectrum-table-header-border-size-key-focus);
      padding: calc(var(--spectrum-table-header-padding-y) - var(--spectrum-table-header-border-size-key-focus)) calc(var(--spectrum-table-header-padding-x) - var(--spectrum-table-header-border-size-key-focus));
      border-radius: var(--spectrum-table-header-border-radius-key-focus);
    }
  }

  &.is-sorted-asc,
  &.is-sorted-desc {
    .spectrum-Table-sortedIcon {
      display: inline-block;
      /* offset icon because it's not properly aligned */
      margin-top: calc(var(--spectrum-global-dimension-size-25) * -1);
    }
  }

  &.is-sorted-asc {
    .spectrum-Table-sortedIcon {
      transform: rotateZ(180deg);
    }
  }
}

.spectrum-Table-cell--alignCenter {
  text-align: center;
}

.spectrum-Table-cell--alignRight {
  text-align: right;
}

/* Helper for shared drop target overlay */
%drop-target {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

.spectrum-Table-body {
  position: relative;

  border-width: var(--spectrum-table-border-size);
  border-radius: var(--spectrum-table-border-radius);
  overflow: auto;
  vertical-align: var(--spectrum-table-cell-vertical-alignment);

  &.is-drop-target {
    @inherit: %drop-target;
  }
}

/* The tbody tag doesn't allow setting a border-radius, so these hacks are to make that work
   by putting it on the individual cells instead. */
.spectrum-Table:not(.spectrum-Table--quiet) {
  tbody.spectrum-Table-body {
    border-width: var(--spectrum-table-border-size);
    border-radius: var(--spectrum-table-border-radius);

    .spectrum-Table-row:first-child .spectrum-Table-cell:first-child {
      border-top-left-radius: var(--spectrum-table-border-radius);
    }

    .spectrum-Table-row:first-child .spectrum-Table-cell:last-child {
      border-top-right-radius: var(--spectrum-table-border-radius);
    }

    .spectrum-Table-row:last-child .spectrum-Table-cell:first-child {
      border-bottom-left-radius: var(--spectrum-table-border-radius);
    }

    .spectrum-Table-row:last-child .spectrum-Table-cell:last-child {
      border-bottom-right-radius: var(--spectrum-table-border-radius);
    }
  }
}

.spectrum-Table-cell {
  box-sizing: border-box;
  font-size: var(--spectrum-table-cell-text-size);
  font-weight: var(--spectrum-table-cell-text-font-weight);
  line-height: var(--spectrum-table-cell-text-line-height);
  padding: var(--spectrum-table-cell-padding-y) var(--spectrum-table-cell-padding-x);
  /* Subtract top/bottom padding for this value to be correct in this implementation */
  min-height: calc(var(--spectrum-table-cell-min-height) - calc(var(--spectrum-table-cell-padding-y) * 2));
}

.spectrum-Table-cell--divider {
  border-right-width: var(--spectrum-table-divider-border-size);
}

.spectrum-Table-row {
  cursor: pointer;
  transition: background-color var(--spectrum-transition-time) ease-in-out;

  &:focus {
    outline: 0;
  }

  &.is-drop-target {
    @inherit: %drop-target;
  }
}

.spectrum-Table > .spectrum-Table-body > .spectrum-Table-row:last-of-type {
  border-bottom-style: none;
}

/* topdoc
{{ table/table-quiet.yml }}
*/
.spectrum-Table--quiet {
  .spectrum-Table-body {
    border-radius: var(--spectrum-table-quiet-border-radius);
  }

  .spectrum-Table-body,
  .spectrum-Table-row {
    &.is-drop-target {
      &::before {
        border-radius: var(--spectrum-border-radius);
      }
    }
  }
}

/* topdoc
{{ table/table-standard-multiselect.yml }}
*/

.spectrum-Table-checkboxCell {
  padding-right: var(--spectrum-table-cell-checkbox-padding-right);
  /* have to eliminate vertical padding to allow proper vertical alignment */
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: var(--spectrum-table-cell-checkbox-vertical-alignment);
}

.spectrum-Table-checkbox {
  vertical-align: super;
}

/* topdoc
{{ table/table-quiet-multiselect.yml }}
*/

/* topdoc
{{ table/table-dividers.yml }}
*/
