@import '../commons/index.css';

/* topdoc
{{ table/table-standard.yml }}
*/
/* topdoc
{{ table/table-divs.yml }}
*/
/* topdoc
{{ table/table-divs-quiet.yml }}
*/

.spectrum-Table {
  border-collapse: separate;
  border-spacing: 0;
}

.spectrum-Table-sortedIcon {
  display: none;
  margin-left: var(--spectrum-table-header-sort-icon-margin-left);

  width: var(--spectrum-table-header-sort-icon-width);
  height: var(--spectrum-table-header-sort-icon-height);

  vertical-align: bottom;

  transition: transform var(--spectrum-transition-time) ease-in-out;
}

.spectrum-Table-headCell {
  text-align: left;
  font-size: var(--spectrum-table-header-text-size);
  font-weight: var(--spectrum-table-header-text-font-weight);
  line-height: var(--spectrum-table-header-height);
  letter-spacing: var(--spectrum-table-header-text-letter-spacing);
  text-transform: uppercase;
  padding: var(--spectrum-table-header-padding-y) var(--spectrum-table-item-padding);
  transition: color var(--spectrum-transition-time) ease-in-out;
  cursor: default;
  outline: 0;

  &.is-sortable {
    cursor: pointer;

    &:focus-ring {
      text-decoration: underline;
    }
  }

  &.is-sorted-asc,
  &.is-sorted-desc {
    .spectrum-Table-sortedIcon {
      display: inline-block;
    }
  }

  &.is-sorted-asc {
    .spectrum-Table-sortedIcon {
      transform: rotateZ(180deg);
    }
  }
}

.spectrum-Table-cell--alignCenter {
  text-align: center;
}

.spectrum-Table-cell--alignRight {
  text-align: right;
}

.spectrum-Table-body {
  border-radius: var(--spectrum-border-radius);
  overflow: auto;
}

/* The tbody tag doesn't allow setting a border-radius, so these hacks are to make that work
   by putting it on the individual cells instead. */
.spectrum-Table:not(.spectrum-Table--quiet) {
  tbody.spectrum-Table-body {
    border: none;
    border-radius: 0;

    .spectrum-Table-row:first-child .spectrum-Table-cell:first-child {
      border-top-left-radius: var(--spectrum-border-radius);
    }

    .spectrum-Table-row:first-child .spectrum-Table-cell:last-child {
      border-top-right-radius: var(--spectrum-border-radius);
    }

    .spectrum-Table-row:last-child .spectrum-Table-cell:first-child {
      border-bottom-left-radius: var(--spectrum-border-radius);
    }

    .spectrum-Table-row:last-child .spectrum-Table-cell:last-child {
      border-bottom-right-radius: var(--spectrum-border-radius);
    }
  }
}

.spectrum-Table-cell {
  font-size: var(--spectrum-table-item-text-size);
  line-height: var(--spectrum-table-item-line-height);
  padding: var(--spectrum-table-item-padding-vertical) var(--spectrum-table-item-padding);
}

.spectrum-Table-row {
  cursor: pointer;
  transition: background-color var(--spectrum-transition-time) ease-in-out;

  &:focus {
    outline: 0;
  }
}

/* topdoc
{{ table/table-quiet.yml }}
*/
.spectrum-Table--quiet {
  .spectrum-Table-body {
    border-radius: 0;
  }
}

/* topdoc
{{ table/table-standard-multiselect.yml }}
*/

.spectrum-Table-checkboxCell {
  padding-right: 0;
}

.spectrum-Table-checkbox {
  vertical-align: super;
}

/* topdoc
{{ table/table-quiet-multiselect.yml }}
*/

/* topdoc
{{ table/table-dividers.yml }}
*/
