.spectrum-Table-headCell {
  color: var(--spectrum-table-header-text-color);
  background-color: var(--spectrum-table-header-background-color);

  &.is-sortable {
    .spectrum-Table-sortedIcon {
      color: var(--spectrum-table-header-sort-icon-color);
    }

    &:hover {
      color: var(--spectrum-table-header-text-color-hover);

      .spectrum-Table-sortedIcon {
        color: var(--spectrum-table-header-sort-icon-color-hover);
      }
    }

    &:focus-ring,
    &.is-focused {
      color: var(--spectrum-table-header-text-color-key-focus);
      border-color: var(--spectrum-table-header-border-color-key-focus);

      .spectrum-Table-sortedIcon {
        color: var(--spectrum-table-header-sort-icon-color-key-focus);
      }
    }

    &:active {
      color: var(--spectrum-table-header-text-color-down);

      .spectrum-Table-sortedIcon {
        color: var(--spectrum-table-header-sort-icon-color-down);
      }
    }
  }
}

.spectrum-Table-body {
  border-style: solid;
  border-color: var(--spectrum-table-border-color);
  background-color: var(--spectrum-table-background-color);
}

/* The tbody tag doesn't allow setting a border-radius, so these hacks are to make that work
   by putting the border on the individual cells instead. */
tbody.spectrum-Table-body {
  border: none;

  .spectrum-Table-row {
    border-top: none;
  }

  .spectrum-Table-cell {
    border-top: 1px solid var(--spectrum-table-cell-border-color);
  }

  .spectrum-Table-row .spectrum-Table-cell:first-child {
    border-left: 1px solid var(--spectrum-table-cell-border-color);
  }

  .spectrum-Table-row .spectrum-Table-cell:last-child {
    border-right: 1px solid var(--spectrum-table-cell-border-color);
  }

  .spectrum-Table-row:last-child .spectrum-Table-cell {
    border-bottom: 1px solid var(--spectrum-table-cell-border-color);
  }
}

.spectrum-Table-row {
  border-bottom: 1px solid var(--spectrum-table-cell-border-color);
  background-color: var(--spectrum-table-row-background-color);

  &:hover {
    background-color: var(--spectrum-table-row-background-color-hover);
  }

  &:focus-ring,
  &.is-focused {
    background-color: var(--spectrum-table-row-background-color-hover);
  }

  &:active {
    background-color: var(--spectrum-table-row-background-color-down);
  }

  &.is-selected {
    background-color: var(--spectrum-table-row-background-color-selected);

    &:hover {
      background-color: var(--spectrum-table-row-background-color-selected-hover);
    }

    &:focus-ring,
    &.is-focused {
      background-color: var(--spectrum-table-row-background-color-selected-key-focus);
    }
  }
}

.spectrum-Table-cell {
  color: var(--spectrum-table-cell-text-color);
  background-color: var(--spectrum-table-cell-background-color);
}

.spectrum-Table-cell--divider {
  border-right-style: solid;
  border-right-color: var(--spectrum-table-divider-border-color);
}

.spectrum-Table--quiet {
  .spectrum-Table-body {
    border-width: 1px 0;
    background-color: var(--spectrum-table-quiet-cell-background-color);
  }

  .spectrum-Table-row {
    background-color: var(--spectrum-table-quiet-row-background-color);

    &:hover {
      background-color: var(--spectrum-table-quiet-row-background-color-hover);
    }

    &:focus-ring,
    &.is-focused {
      background-color: var(--spectrum-table-quiet-row-background-color-hover);
    }

    &:active {
      background-color: var(--spectrum-table-quiet-row-background-color-down);
    }

    &.is-selected {
      background-color: var(--spectrum-table-quiet-row-background-color-selected);

      &:hover {
        background-color: var(--spectrum-table-quiet-row-background-color-selected-hover);
      }

      &:focus-ring,
      &.is-focused {
        background-color: var(--spectrum-table-quiet-row-background-color-selected-key-focus);
      }
    }
  }

  tbody.spectrum-Table-body {
    .spectrum-Table-row .spectrum-Table-cell:first-child,
    .spectrum-Table-row .spectrum-Table-cell:last-child {
      border-left: none;
      border-right: none;
    }
  }
}
