# @spectrum-css/<%= foldername %>

> The Spectrum CSS <%= title(name) %> component

This package is part of the [Spectrum CSS project](https://github.com/adobe/spectrum-css).

See the [Spectrum CSS documentation](https://opensource.adobe.com/spectrum-css/?path=/docs/components-<%= kebab(name) %>--docs).
