/*
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import "../vars/css/scales/spectrum-large.css";
@import "../vars/css/scales/spectrum-medium.css";
@import "../commons/basebutton.css";
@import "../vars/css/components/spectrum-clearbutton.css";

.spectrum-ClearButton {
  @inherit: %spectrum-BaseButton;

  border-radius: 100%;

  background-color: transparent;
  padding: var(--spectrum-clearbutton-padding);
  margin: 0;

  border: none;

  > .spectrum-Icon {
    /* @safari10 Workaround for https://bugs.webkit.org/show_bug.cgi?id=169700 */
    margin-block: 0;
    margin-inline: auto;
  }
}

.spectrum-ClearButton--sizeS {
  @remapvars {
    find: --spectrum-clearbutton-s-;
    replace: --spectrum-clearbutton-;
  }
}

.spectrum-ClearButton--sizeM {
  @remapvars {
    find: --spectrum-clearbutton-m-;
    replace: --spectrum-clearbutton-;
  }
}

.spectrum-ClearButton--sizeL {
  @remapvars {
    find: --spectrum-clearbutton-l-;
    replace: --spectrum-clearbutton-;
  }
}

.spectrum-ClearButton--sizeXL {
  @remapvars {
    find: --spectrum-clearbutton-xl-;
    replace: --spectrum-clearbutton-;
  }
}

.spectrum-ClearButton-fill {
  background-color: var(--spectrum-clearbutton-fill-background-color);

  inline-size: var(--spectrum-clearbutton-fill-width);
  block-size: var(--spectrum-clearbutton-fill-height);
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.spectrum-ClearButton {
  color: var(--spectrum-clearbutton-m-fill-uiicon-color);

  &:hover {
    color: var(--spectrum-clearbutton-fill-uiicon-color);
  }

  &:active {
    color: var(--spectrum-clearbutton-fill-uiicon-color-down);
  }

  &:focus-ring {
    color: var(--spectrum-clearbutton-fill-uiicon-color-key-focus);
  }

  &:disabled,
  &.is-disabled {
    color: var(--spectrum-clearbutton-fill-uiicon-color-disabled);
  }

  &:hover .spectrum-ClearButton-fill {
    background-color: var(--spectrum-clearbutton-fill-background-color-hover);
  }

  &:active .spectrum-ClearButton-fill {
    background-color: var(--spectrum-clearbutton-fill-background-color-down);
  }

  &:focus-ring .spectrum-ClearButton-fill {
    background-color: var(--spectrum-clearbutton-fill-background-color-key-focus);
  }

  &:disabled,
  &.is-disabled {
    .spectrum-ClearButton-fill {
      background-color: var(--spectrum-clearbutton-fill-background-color-disabled);
    }
  }
}

.spectrum-ClearButton--overBackground {
  color: var(--spectrum-alias-icon-color-overbackground);

  &:hover {
    color: var(--spectrum-alias-icon-color-overbackground);
  }

  &:active {
    color: var(--spectrum-alias-icon-color-overbackground);
  }

  &:focus-ring {
    color: var(--spectrum-alias-icon-color-overbackground);
  }

  &:disabled,
  &.is-disabled .spectrum-ClearButton-fill {
    background-color: var(--spectrum-alias-icon-color-overbackground-disabled);
  }
}

.spectrum-ClearButton--overBackground {
  background-color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-background-color);
  border-color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-border-color);
  color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-text-color);

  &:hover {
    background-color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-background-color-hover);
    border-color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-border-color-hover);
    color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-background-color-hover);
    border-color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-border-color-hover);
    color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-text-color-hover);
    box-shadow: none;

    &:after {
      box-shadow: 0 0 0 var(--spectrum-alias-focus-ring-size) var(--spectrum-button-m-primary-overbackground-texticon-border-color-key-focus);
    }
  }

  &:active {
    background-color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-background-color-down);
    border-color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-border-color-down);
    color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-background-color-disabled);
    border-color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-border-color-disabled);
    color: var(--spectrum-button-m-primary-quiet-overbackground-texticon-text-color-disabled);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .spectrum-ClearButton {
    > .spectrum-Icon {
      /* @ie11 Workaround for regression caused by fix for https://bugs.webkit.org/show_bug.cgi?id=169700 */
      margin: 0;
    }
  }
}

@media (forced-colors: active) {
  .spectrum-ClearButton {
    forced-color-adjust: none;
    --spectrum-clearbutton-m-background-color: ButtonFace;
    --spectrum-clearbutton-m-background-color-disabled: ButtonFace;
    --spectrum-clearbutton-m-background-color-down: ButtonFace;
    --spectrum-clearbutton-m-background-color-hover: ButtonFace;
    --spectrum-clearbutton-m-background-color-key-focus: ButtonFace;
    --spectrum-clearbutton-m-icon-color: ButtonText;
    --spectrum-clearbutton-m-icon-color-disabled: GrayText;
    --spectrum-clearbutton-m-icon-color-down: Highlight;
    --spectrum-clearbutton-m-icon-color-hover: Highlight;
    --spectrum-clearbutton-m-icon-color-key-focus: Highlight;
  }
}
