/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2019 Adobe
* All Rights Reserved.
*
* NOTICE: All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
**************************************************************************/

@import '../commons/index.css';

:root {
  --spectrum-footer-height : var(--spectrum-global-dimension-size-500);
  --spectrum-footer-text-size : var(--spectrum-global-dimension-font-size-75);

  --spectrum-footer-item-gap : var(--spectrum-global-dimension-size-400);
  --spectrum-footer-row-gap-mobile : var(--spectrum-global-dimension-size-600);

  --spectrum-footer-languagelabel-gap : var(--spectrum-footer-item-gap);
}

.spectrum-Footer {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: var(--spectrum-footer-height);

  font-size: var(--spectrum-footer-text-size);

  .spectrum-Footer-divider {
    width: 100%;
  }

  .spectrum-Footer-links {
    display: flex;
    flex-wrap: wrap;
  }

  .spectrum-Footer-link {
    flex-shrink: 0;
    line-height: var(--spectrum-footer-height);
    text-decoration: none;
  }

  .spectrum-Footer-languageSelector {
    flex-shrink: 0;
    line-height: var(--spectrum-footer-height);
    display: flex;
    align-items: center;
    font-size: var(--spectrum-footer-text-size);
  }

  .spectrum-Footer-link,
  .spectrum-Footer-languageSelector {
    margin-right: var(--spectrum-footer-item-gap);
    margin-left: 0;
  }

  .spectrum-Footer-languageSelectorLabel {
    display: flex;
    margin-right: var(--spectrum-footer-languagelabel-gap);
    font-size: var(--spectrum-footer-text-size);
  }

  .spectrum-Footer-copyright {
    line-height: var(--spectrum-footer-height);
  }
}

@media only screen and (max-width: 480px) {
  .spectrum-Footer {
    .spectrum-footer-copyright {
      margin-top: 'calc(%s - %s)' % (var(--spectrum-footer-row-gap-mobile) var(--spectrum-footer-height));
    }
  }
}

