/*!
 * Copyright 2023 Adobe. All rights reserved.
 * 
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 * 
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --spectrum-statuslight-border-width: var(--mod-statuslight-border-width, var(--spectrum-statuslight-border-width));
  --spectrum-statuslight-height: var(--mod-statuslight-height, var(--spectrum-statuslight-height));
  --spectrum-statuslight-spacing-top-to-label: var(--mod-statuslight-spacing-top-to-label, var(--spectrum-statuslight-spacing-top-to-label));
  --spectrum-statuslight-spacing-bottom-to-label: var(--mod-statuslight-spacing-bottom-to-label, var(--spectrum-statuslight-spacing-bottom-to-label));
  --spectrum-statuslight-font-size: var(--mod-statuslight-font-size, var(--spectrum-statuslight-font-size));
  --spectrum-statuslight-font-weight: var(--mod-statuslight-font-weight, var(--spectrum-statuslight-font-weight));
  --spectrum-statuslight-line-height: var(--mod-statuslight-line-height, var(--spectrum-statuslight-line-height));
  --spectrum-statuslight-content-color-default: var(--mod-statuslight-content-color-default, var(--spectrum-statuslight-content-color-default));
  --spectrum-statuslight-line-height-cjk: var(--mod-statuslight-line-height-cjk, var(--spectrum-statuslight-line-height-cjk));
  --spectrum-statuslight-spacing-top-to-dot: var(--mod-statuslight-spacing-top-to-dot, var(--spectrum-statuslight-spacing-top-to-dot));
  --spectrum-statuslight-dot-size: var(--mod-statuslight-dot-size, var(--spectrum-statuslight-dot-size));
  --spectrum-statuslight-corner-radius: var(--mod-statuslight-corner-radius, var(--spectrum-statuslight-corner-radius));
  --spectrum-statuslight-spacing-dot-to-label: var(--mod-statuslight-spacing-dot-to-label, var(--spectrum-statuslight-spacing-dot-to-label));
  --spectrum-statuslight-subdued-content-color-default: var(--mod-statuslight-subdued-content-color-default, var(--spectrum-statuslight-subdued-content-color-default));
  --spectrum-statuslight-semantic-neutral-color: var(--mod-statuslight-semantic-neutral-color, var(--spectrum-statuslight-semantic-neutral-color));
  --spectrum-statuslight-semantic-accent-color: var(--mod-statuslight-semantic-accent-color, var(--spectrum-statuslight-semantic-accent-color));
  --spectrum-statuslight-semantic-info-color: var(--mod-statuslight-semantic-info-color, var(--spectrum-statuslight-semantic-info-color));
  --spectrum-statuslight-semantic-negative-color: var(--mod-statuslight-semantic-negative-color, var(--spectrum-statuslight-semantic-negative-color));
  --spectrum-statuslight-semantic-notice-color: var(--mod-statuslight-semantic-notice-color, var(--spectrum-statuslight-semantic-notice-color));
  --spectrum-statuslight-semantic-positive-color: var(--mod-statuslight-semantic-positive-color, var(--spectrum-statuslight-semantic-positive-color));
  --spectrum-statuslight-nonsemantic-gray-color: var(--mod-statuslight-nonsemantic-gray-color, var(--spectrum-statuslight-nonsemantic-gray-color));
  --spectrum-statuslight-nonsemantic-red-color: var(--mod-statuslight-nonsemantic-red-color, var(--spectrum-statuslight-nonsemantic-red-color));
  --spectrum-statuslight-nonsemantic-orange-color: var(--mod-statuslight-nonsemantic-orange-color, var(--spectrum-statuslight-nonsemantic-orange-color));
  --spectrum-statuslight-nonsemantic-yellow-color: var(--mod-statuslight-nonsemantic-yellow-color, var(--spectrum-statuslight-nonsemantic-yellow-color));
  --spectrum-statuslight-nonsemantic-chartreuse-color: var(--mod-statuslight-nonsemantic-chartreuse-color, var(--spectrum-statuslight-nonsemantic-chartreuse-color));
  --spectrum-statuslight-nonsemantic-celery-color: var(--mod-statuslight-nonsemantic-celery-color, var(--spectrum-statuslight-nonsemantic-celery-color));
  --spectrum-statuslight-nonsemantic-green-color: var(--mod-statuslight-nonsemantic-green-color, var(--spectrum-statuslight-nonsemantic-green-color));
  --spectrum-statuslight-nonsemantic-seafoam-color: var(--mod-statuslight-nonsemantic-seafoam-color, var(--spectrum-statuslight-nonsemantic-seafoam-color));
  --spectrum-statuslight-nonsemantic-cyan-color: var(--mod-statuslight-nonsemantic-cyan-color, var(--spectrum-statuslight-nonsemantic-cyan-color));
  --spectrum-statuslight-nonsemantic-blue-color: var(--mod-statuslight-nonsemantic-blue-color, var(--spectrum-statuslight-nonsemantic-blue-color));
  --spectrum-statuslight-nonsemantic-indigo-color: var(--mod-statuslight-nonsemantic-indigo-color, var(--spectrum-statuslight-nonsemantic-indigo-color));
  --spectrum-statuslight-nonsemantic-purple-color: var(--mod-statuslight-nonsemantic-purple-color, var(--spectrum-statuslight-nonsemantic-purple-color));
  --spectrum-statuslight-nonsemantic-fuchsia-color: var(--mod-statuslight-nonsemantic-fuchsia-color, var(--spectrum-statuslight-nonsemantic-fuchsia-color));
  --spectrum-statuslight-nonsemantic-magenta-color: var(--mod-statuslight-nonsemantic-magenta-color, var(--spectrum-statuslight-nonsemantic-magenta-color));
}
