/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/* begin generated CSS for pickerbutton */
.spectrum-PickerButton {




	

	

	&.spectrum-PickerButton--textuiicon {
		.spectrum-PickerButton-fill {
			inline-size: auto;
		}

		&.spectrum-PickerButton--sizeS {
			.spectrum-PickerButton-fill {
				padding-inline-end: var(--spectrum-global-dimension-size-100);
				padding-inline-start: var(--spectrum-global-dimension-size-115);
			}
		}

		&.spectrum-PickerButton--sizeM {
			.spectrum-PickerButton-fill {
				padding-inline-end: var(--spectrum-global-dimension-size-125);
				padding-inline-start: var(--spectrum-global-dimension-size-160);
			}
		}

		&.spectrum-PickerButton--sizeL {
			.spectrum-PickerButton-fill {
				padding-inline-end: var(--spectrum-global-dimension-size-150);
				padding-inline-start: var(--spectrum-global-dimension-size-185);
			}
		}

		&.spectrum-PickerButton--sizeXL {
			.spectrum-PickerButton-fill {
				padding-inline-end: var(--spectrum-global-dimension-size-200);
				padding-inline-start: var(--spectrum-global-dimension-size-225);
			}
		}

		.spectrum-PickerButton-label {
			display: initial;
		}

		.spectrum-PickerButton-icon {
			display: none;
		}

		.spectrum-PickerButton-UIIcon {
			display: initial;
		}
	}

	&.spectrum-PickerButton--quiet {
		&:disabled {
			&:not(.is-open) {
				.spectrum-PickerButton-fill {
					background-color: var(
						--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-disabled
					);
				}
			}

			.spectrum-PickerButton-fill {
				border-color: var(
					--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled
				);
			}
		}

		&:not(:disabled) {
			&:not(.is-open) {
				.spectrum-PickerButton-fill {
					background-color: var(
						--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-default
					);
				}

				&:hover {
					.spectrum-PickerButton-fill {
						background-color: var(
							--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-hover
						);
					}
				}

				&:active {
					.spectrum-PickerButton-fill {
						background-color: var(
							--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-down
						);
					}
				}
			}
		}

		&.is-invalid {
			&:not(:disabled) {
				.spectrum-PickerButton-fill {
					border-color: transparent;
				}
			}
		}

		&:not(.is-invalid) {
			&:not(:disabled) {
				.spectrum-PickerButton-fill {
					border-color: transparent;
				}

				&:hover {
					.spectrum-PickerButton-fill {
						border-color: transparent;
					}
				}

				&:active {
					.spectrum-PickerButton-fill {
						border-color: transparent;
					}
				}

				&:focus {
					.spectrum-PickerButton-fill {
						border-color: transparent;
					}
				}

				&.is-focused {
					.spectrum-PickerButton-fill {
						border-color: transparent;
					}
				}

				&:focus-visible {
					.spectrum-PickerButton-fill {
						border-color: transparent;
					}
				}

				&.is-keyboardFocused {
					.spectrum-PickerButton-fill {
						border-color: transparent;
					}
				}
			}
		}
	}

	&.is-open {
		.spectrum-PickerButton-fill {
			background-color: var(--spectrum-alias-component-background-color-down);
		}

		.spectrum-PickerButton-label {
			color: var(--spectrum-alias-component-text-color-down);
		}

		.spectrum-PickerButton-icon {
			color: var(--spectrum-alias-component-icon-color-down);
		}

		.spectrum-PickerButton-UIIcon {
			color: var(--spectrum-alias-component-icon-color-down);
		}
	}

	&:not(.is-open) {
		.spectrum-PickerButton-label {
			color: var(--spectrum-alias-component-text-color);
		}

		.spectrum-PickerButton-icon {
			color: var(--spectrum-alias-component-icon-color);
		}

		.spectrum-PickerButton-UIIcon {
			color: var(--spectrum-alias-component-icon-color);
		}
	}

	&:disabled {
		&:not(.is-open) {
			.spectrum-PickerButton-label {
				color: var(--spectrum-alias-component-text-color-disabled);
			}

			.spectrum-PickerButton-icon {
				color: var(--spectrum-alias-component-icon-color-disabled);
			}

			.spectrum-PickerButton-UIIcon {
				color: var(--spectrum-alias-component-icon-color-disabled);
			}
		}
	}

	&:not(:disabled) {
		&:not(.is-open) {
			.spectrum-PickerButton-label {
				color: var(--spectrum-alias-component-text-color-default);
			}

			&:hover {
				.spectrum-PickerButton-label {
					color: var(--spectrum-alias-component-text-color-hover);
				}

				.spectrum-PickerButton-icon {
					color: var(--spectrum-alias-component-icon-color-hover);
				}

				.spectrum-PickerButton-UIIcon {
					color: var(--spectrum-alias-component-icon-color-hover);
				}
			}

			&:active {
				.spectrum-PickerButton-label {
					color: var(--spectrum-alias-component-text-color-down);
				}

				.spectrum-PickerButton-icon {
					color: var(--spectrum-alias-component-icon-color-down);
				}

				.spectrum-PickerButton-UIIcon {
					color: var(--spectrum-alias-component-icon-color-down);
				}
			}

			.spectrum-PickerButton-icon {
				color: var(--spectrum-alias-component-icon-color-default);
			}

			.spectrum-PickerButton-UIIcon {
				color: var(--spectrum-alias-component-icon-color-default);
			}
		}
	}

	&.spectrum-PickerButton--error {
		&:not(:disabled) {
			&:not(.is-open) {
				.spectrum-PickerButton-label {
					color: var(--spectrum-alias-component-text-color-error-default);
				}

				&:hover {
					.spectrum-PickerButton-label {
						color: var(--spectrum-alias-component-text-color-error-hover);
					}
				}

				&:active {
					.spectrum-PickerButton-label {
						color: var(--spectrum-alias-component-text-color-error-down);
					}
				}
			}
		}
	}
}

.spectrum-PickerButton-fill {
  border-width: var(--spectrum-alias-infieldbutton-border-size);
  border-style: solid;
  flex-direction: row;
  display: flex
}

.spectrum-PickerButton-label {
  text-transform: none;
  letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  line-height: var(--spectrum-global-font-component-text-line-height);
  font-weight: var(--spectrum-global-font-body-text-font-weight);
  font-style: var(--spectrum-global-font-style-regular);
  font-family: var(--spectrum-global-font-body-text-font-family);
  padding-block-end: var(--spectrum-PickerButton-label-padding-y);
  padding-block-start: var(--spectrum-PickerButton-label-padding-y)
}

.spectrum--medium {
  .spectrum-PickerButton {
    &.spectrum-PickerButton--sizeL {
      .spectrum-PickerButton-icon {
        --spectrum-PickerButton-Fill-Icon-size: var(--spectrum-global-dimension-static-size-250);
        block-size: var(--spectrum-global-dimension-static-size-250);
        inline-size: var(--spectrum-global-dimension-static-size-250)
      }
    }
  }
}

.spectrum--large {
  .spectrum-PickerButton {
    &.spectrum-PickerButton--sizeL {
      .spectrum-PickerButton-icon {
        --spectrum-PickerButton-Fill-Icon-size: var(--spectrum-global-dimension-static-size-300);
        block-size: var(--spectrum-global-dimension-static-size-300);
        inline-size: var(--spectrum-global-dimension-static-size-300)
      }
    }
  }
}

.spectrum-PickerButton-UIIcon {
  margin-block-end: var(--spectrum-PickerButton-icon-margin-y);
  margin-block-start: var(--spectrum-PickerButton-icon-margin-y);
  --spectrum-PickerButton-Fill-UIIcon-rotate: 90deg;
  transform: rotate(90deg)
}

/* end generated CSS for pickerbutton */
