/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:root {
  /* .spectrum-Site */
  --spectrum-site-header-height: var(--spectrum-global-dimension-size-600);
  --spectrum-site-header-padding: var(--spectrum-global-dimension-size-100);

  /* .spectrum-Site-overlay */
  --spectrum-site-overlay-background-entry-animation-delay: 0ms;
  --spectrum-site-overlay-background-exit-animation-delay: 0ms;
  --spectrum-site-overlay-background-entry-animation-duration: var(--spectrum-global-animation-duration-200);
  --spectrum-site-overlay-background-exit-animation-duration: var(--spectrum-global-animation-duration-200);
  --spectrum-site-overlay-background-exit-animation-easing: ease-out;
  --spectrum-site-overlay-background-entry-animation-easing: ease-in;

  /* .spectrum-CSSComponent */
  --spectrum-csscomponent-margin: var(--spectrum-global-dimension-size-500);
  --spectrum-csscomponent-padding: var(--spectrum-global-dimension-size-700);
  --spectrum-csscomponent-max-width: 1080px;
  --spectrum-csscomponent-sectionheading-margin-top: var(--spectrum-global-dimension-size-600);
  --spectrum-csscomponent-sectionheading-margin-bottom: var(--spectrum-global-dimension-size-400);
  --spectrum-csscomponent-heading-margin-bottom: var(--spectrum-global-dimension-size-500);

  --spectrum-csscomponent-description-margin-bottom: var(--spectrum-global-dimension-size-600);
  --spectrum-csscomponent-description-margin-top: var(--spectrum-global-dimension-size-300);

  --spectrum-csscomponent-statuscontainer-margin-x: var(--spectrum-global-dimension-size-200);
  --spectrum-csscomponent-status-margin-x: var(--spectrum-global-dimension-size-100);
  --spectrum-csscomponent-detailstable-padding-x: var(--spectrum-global-dimension-size-300);
  --spectrum-csscomponent-detailstable-margin-top: var(--spectrum-global-dimension-size-500);
  --spectrum-csscomponent-detailstable-margin-bottom: var(--spectrum-global-dimension-size-450);

  /* .spectrum-CSSExample */
  --spectrum-cssexample-border-radius: var(--spectrum-global-dimension-size-50);
  --spectrum-cssexample-margin-bottom: var(--spectrum-global-dimension-size-800);
  --spectrum-cssexample-min-height: 0;

  --spectrum-cssexample-heading-margin-bottom: var(--spectrum-global-dimension-size-100);

  --spectrum-cssexample-markup-height: var(--spectrum-global-dimension-size-2400);
  --spectrum-cssexample-markup-padding-x: var(--spectrum-global-dimension-size-225);
  --spectrum-cssexample-markup-padding-y: var(--spectrum-global-dimension-size-125);
  --spectrum-cssexample-markup-toggle-padding-x: var(--spectrum-global-dimension-size-300);
  --spectrum-cssexample-markup-toggle-padding-y: var(--spectrum-global-dimension-size-300);

  --spectrum-cssexample-padding-x: var(--spectrum-global-dimension-size-500);
  --spectrum-cssexample-padding-y: var(--spectrum-global-dimension-size-400);
}

.spectrum-Site {
  block-size: 100%;
  display: flex;
  flex-direction: column;
}

.spectrum-Site-content {
  display: flex;
  flex-direction: row;
  max-block-size: 100%;
  block-size: 100%;
}

.spectrum-Site-header {
  display: none;

  box-sizing: border-box;
  block-size: var(--spectrum-site-header-height);
  padding: var(--spectrum-site-header-padding);

  border-block-end-width: 1px;
  border-block-end-style: solid;
}

.spectrum-Site-sideBar {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  max-inline-size: 100%;

  transition: none;
}

.spectrum-Site-sideBarHeader {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: var(--spectrum-global-dimension-size-350) var(--spectrum-global-dimension-size-300);

  text-decoration: none;
}

.spectrum-Site-sideBarHeader:focus {
  outline: none;
}

.spectrum-Site-sideBarHeader:focus h2 {
  text-decoration: underline;
}

.spectrum-Site-search {
  padding: 0 var(--spectrum-global-dimension-size-300) var(--spectrum-global-dimension-size-300) var(--spectrum-global-dimension-size-300);
}

.spectrum-Site-searchResults {
  inset-block-start: -100%;
  inset-inline-start: -100%;
  max-block-size: calc(90vh - 120px);
  z-index: 101;
  position: absolute;

  overflow-y: auto;
}

.spectrum-Site-noSearchResults {
  padding: var(--spectrum-global-dimension-size-400) var(--spectrum-global-dimension-size-400) var(--spectrum-global-dimension-size-400);
}

.spectrum-Site-logo {
  margin-inline-end: var(--spectrum-global-dimension-size-200);
  color: #FA0F00;
}

.spectrum--medium {
  .spectrum-Site-logo {
    block-size: 32px;
  }
}

.spectrum--large {
  .spectrum-Site-logo {
    block-size: 40px;
  }
}

.spectrum-Site-nav {
  flex-grow: 1;

  padding: 0px var(--spectrum-global-dimension-static-size-300) var(--spectrum-global-dimension-static-size-500);
}

.spectrum-Site-bottomNav {
  margin-block-start: var(--spectrum-global-dimension-static-size-1000);
}

.spectrum-Site-page {
  padding: 40px 52px 24px 52px;
  max-inline-size: 1080px;
  margin: auto;
  box-sizing: border-box;
}

.spectrum-Site-hero {
  max-inline-size: 1080px;
  margin: auto;
}

.spectrum-Site-heroHeading {
  margin-block-end: 16px;
}
.spectrum-Site-heroHeading .spectrum-Heading {
  margin-top: 0 !important;
}

.spectrum-Site-heroImage {
  display: block;
  max-inline-size: 100%;
  margin-block-start: var(--spectrum-global-dimension-size-700);
  margin-block-end: var(--spectrum-global-dimension-size-700);
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-radius: var(--spectrum-alias-border-radius-regular);
}

.spectrum-Site-mainContent {
  flex-grow: 1;
  border-block: none;
  overflow-y: auto;
}

.spectrum-Site-footerContainer {
  max-inline-size: var(--spectrum-csscomponent-max-width);
  margin: var(--spectrum-csscomponent-margin) auto;
  padding: 0 var(--spectrum-csscomponent-padding);
}

/* Kill the overlay without animating when the page is resized */
.spectrum-Site-overlay {
  display: none;
  visibility: hidden;

  opacity: 0;

  pointer-events: none;
  position: fixed;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  inset-inline-start: 0;

  /* Float above things by default */
  z-index: 99;

  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .spectrum-Site-overlay {
    display: block;

    /* Exit animations */
    transition: opacity var(--spectrum-site-overlay-background-exit-animation-duration) var(--spectrum-site-overlay-background-exit-animation-easing) var(--spectrum-site-overlay-background-exit-animation-delay),
                visibility 0ms linear calc(var(--spectrum-site-overlay-background-exit-animation-delay) + var(--spectrum-site-overlay-background-exit-animation-duration));
  }

  .spectrum-Site-overlay.is-open {
    visibility: visible;

    opacity: 1;

    pointer-events: auto;

    /* Entry animations */
    transition: opacity var(--spectrum-site-overlay-background-entry-animation-duration) var(--spectrum-site-overlay-background-entry-animation-easing) var(--spectrum-site-overlay-background-entry-animation-delay);
  }

  .spectrum-Site-overlay {
    visibility: visible;
  }

  .spectrum-Site-sideBar {
    position: fixed;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-end: 100%;
    z-index: 100;

    transform: translateX(0);
    transition: transform var(--spectrum-global-animation-duration-200) ease-in-out;
  }

  .spectrum-Site-sideBar.is-open {
    transform: translateX(100%);
  }

  .spectrum-Site-header {
    display: block;
  }

  .spectrum-Site-page {
    padding-inline-start: var(--spectrum-global-dimension-size-300);
    padding-inline-end: var(--spectrum-global-dimension-size-300);
  }

  .spectrum-Site-hero {
    max-inline-size: 100%;
  }

  .spectrum-Site-heroHeading h1.spectrum-Heading1--display {
    font-size: var(--spectrum-global-dimension-font-size-900);
  }
}

/* CSS Component */
.spectrum-CSSComponent {
  max-inline-size: var(--spectrum-csscomponent-max-width);
  margin: var(--spectrum-csscomponent-margin) auto;
  padding: 0 var(--spectrum-csscomponent-padding);
}

.spectrum-CSSComponent-heading {
  margin-block-end: var(--spectrum-csscomponent-heading-margin-bottom);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.spectrum-CSSComponent-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  outline: none;
}

.spectrum-CSSComponent-link:focus-ring,
.spectrum-CSSComponent-link:hover {
  text-decoration: underline;
}

.spectrum-CSSComponent-statusContainer {
  align-self: center;
  flex-grow: 1;
  vertical-align: bottom;
  margin: 0 var(--spectrum-csscomponent-statuscontainer-margin-x);
}

.spectrum-CSSComponent-detailsTable th {
  text-align: left;
  block-size: var(--spectrum-global-dimension-size-350);
  font-weight: var(--spectrum-global-font-weight-regular);
  padding-inline-end: var(--spectrum-csscomponent-detailstable-padding-x);
}

.spectrum-CSSComponent-detailsTable {
  border-spacing: 0;
  margin-block-start: var(--spectrum-csscomponent-detailstable-margin-top);
  margin-block-end: var(--spectrum-csscomponent-detailstable-margin-bottom);
}

.spectrum-CSSComponent-sectionHeading {
  margin-block-start: var(--spectrum-csscomponent-sectionheading-margin-top);
  margin-block-end: var(--spectrum-csscomponent-sectionheading-margin-bottom);
}

.spectrum-CSSExample-status,
.spectrum-CSSComponent-status {
  padding: 0 !important;
  min-block-size: 0 !important;
}

.spectrum-CSSComponent-status::before {
  margin-inline-start: 0 !important;
}

.spectrum-CSSExample-status {
  margin-inline-start: var(--spectrum-global-dimension-size-200);
}

.spectrum-CSSComponent-version {
  flex-grow: 1;
  text-align: right;
}

.spectrum-CSSComponent-description {
  margin-block-start: var(--spectrum-csscomponent-description-margin-top);
  margin-block-end: var(--spectrum-csscomponent-description-margin-bottom);
}

/* cards */
.spectrum-CSSComponent-resources {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-block-end: var(--spectrum-global-dimension-size-700);
}

.spectrum-CSSComponent-resources .spectrum-Card {
  margin-inline-end: var(--spectrum-global-dimension-size-300);
  margin-block-end: var(--spectrum-global-dimension-size-300);
}

.spectrum--dark,
.spectrum--darkest {
  .spectrum-CSSComponent-resource--github {
    background-color: rgba(245, 245, 245, 0.1) !important;
    color: rgb(245, 245, 245);
  }
}

.spectrum-CSSComponent-resource--npm {
  background-color: rgba(203, 56, 55, 0.1) !important;
}

.spectrum-CSSComponent-cardImage {
  text-decoration: none;
}

.spectrum-CSSComponent-switcher {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.spectrum-CSS-switcherContainer {
  margin-inline-start: var(--spectrum-global-dimension-size-400);
  white-space: nowrap;
}

/* CSS Example */
.spectrum-CSSExample {
  margin-block-end: var(--spectrum-cssexample-margin-bottom);
}

.spectrum-CSSExample-container {
  position: relative;

  display: flex;
  flex-direction: column;

  border-radius: var(--spectrum-cssexample-border-radius);
}

.spectrum-CSSExample-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block-end: var(--spectrum-cssexample-heading-margin-bottom) !important;
}

.spectrum-CSSExample-example,
.spectrum-CSSExample-markup {
  box-sizing: border-box;
}

.spectrum-CSSExample-example {
  flex: 1 0 auto;

  /*
  // this breaks layout for some examples, we'll need to fix later
  display: flex;
  align-items: center;
  justify-content: center;
  */

  min-block-size: var(--spectrum-cssexample-min-height);

  padding: var(--spectrum-cssexample-padding-y) var(--spectrum-cssexample-padding-x);

  border-radius: var(--spectrum-cssexample-border-radius) var(--spectrum-cssexample-border-radius) 0 0;
}

.spectrum-CSSExample-markup {
  position: relative;
  max-inline-size: 100%;
  max-block-size: var(--spectrum-cssexample-markup-height);

  padding: var(--spectrum-cssexample-markup-padding-y) var(--spectrum-cssexample-markup-padding-x);

  border-radius: 0 0 var(--spectrum-cssexample-border-radius) var(--spectrum-cssexample-border-radius);

  overflow: hidden;
}

.spectrum-CSSExample-markup.is-open {
  max-block-size: 100%;

  padding-block-end: var(--spectrum-global-dimension-size-700);
}

.spectrum-CSSExample-markup.is-open .spectrum-CSSExample-markupToggle::before {
  display: none;
}

.spectrum-CSSExample-markupToggle + pre {
  padding-block-end: var(--spectrum-global-dimension-size-100);
}

.spectrum-CSSExample-example--spacious {
  position: relative;
  height: 150px;
}

.spectrum-CSSExample-example--overlay {
  position: relative;
  min-height: var(--spectrum-global-dimension-size-800);
}

.spectrum-Dialog.spectrum-CSSExample-dialog {
  position: relative !important;
  transform: none !important;
  margin-inline-start: auto;
  margin-inline-end: auto;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 1;
  transition: none;
}

.spectrum-Button.spectrum-CSSExample-overlayShowButton {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
}

.spectrum-CSSExample-markup pre code {
  white-space: pre-wrap;
}

.spectrum-CSSExample-markupToggle {
  position: absolute;
  z-index: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;

  box-sizing: border-box;
  padding: var(--spectrum-cssexample-markup-toggle-padding-y) var(--spectrum-cssexample-markup-toggle-padding-x);

  font-size: var(--spectrum-global-dimension-font-size-150);
  text-align: left
}

@media screen and (max-width: 960px) {
  .spectrum-CSSComponent {
    padding: 0 var(--spectrum-global-dimension-size-250);
    margin: var(--spectrum-global-dimension-size-100) auto;
  }

  .spectrum-CSSComponent-description {
    margin-block-end: var(--spectrum-global-dimension-size-150);
    /*--spectrum-body-2-text-size: var(--spectrum-global-dimension-font-size-100);*/
  }

  .spectrum-CSSExample {
    margin-block-end: var(--spectrum-global-dimension-size-200);
  }

  .spectrum-CSSExample-example {
    padding: var(--spectrum-global-dimension-size-200) var(--spectrum-global-dimension-size-200);
  }

  .spectrum-CSSComponent-header {
    margin-block-end: var(--spectrum-global-dimension-size-150);
  }

  .spectrum-CSSComponent-statusContainer,
  .spectrum-CSSComponent-version {
    display: none;
  }
  .spectrum-CSSComponent-title {
    font-size: var(--spectrum-global-dimension-font-size-700);
  }
}

.spectrum-CenteredImage {
  width: 100%;
  max-width: 720px;
  margin: auto;
  display: block;
}

.spectrum-CodeBlock {
  border-width: var(--spectrum-alias-border-size-thin);
  border-style: solid;
  border-radius: var(--spectrum-global-dimension-size-50);
  padding: var(--spectrum-global-dimension-size-175) var(--spectrum-global-dimension-size-200);

  margin: var(--spectrum-global-dimension-size-250) 0;
}

.spectrum-HomeCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 1rem;
  margin: var(--spectrum-global-dimension-size-700) 0;
}

.spectrum-HomeCard {
  display: flex;

  align-items: flex-start;

  margin-bottom: var(--spectrum-global-dimension-size-350);
  padding: 0 var(--spectrum-global-dimension-size-250);
}

.spectrum-HomeCard-image {
  width: var(--spectrum-global-dimension-size-1250);
  margin-right: var(--spectrum-global-dimension-size-250);
  flex: 0 0 auto;
}

.spectrum-HomeCard-content {
  flex: 1 1 auto;
}

/* Scrollable */
.u-scrollable {
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-overflow-scrolling: touch;
}

.u-scrollable::-webkit-scrollbar {
  inline-size: 10px;
  block-size: 10px;
}

.u-scrollable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  inline-size: 8px;
  block-size: 8px;
  border-block: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
