/*
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Search {
  /* Size / Spacing */
  --spectrum-search-inline-size: var(--spectrum-field-width);
  --spectrum-search-block-size: var(--spectrum-component-height-100);
  --spectrum-search-min-inline-size: calc(var(--spectrum-search-field-minimum-width-multiplier) * var(--spectrum-search-block-size));
  --spectrum-search-icon-size: var(--spectrum-workflow-icon-size-100);

  --spectrum-search-edge-to-visual: var(--spectrum-component-edge-to-visual-100);
  --spectrum-search-edge-to-text: var(--spectrum-component-edge-to-text-100);
  --spectrum-search-text-to-icon: var(--spectrum-text-to-visual-100);

  /* Border */
  --spectrum-search-border-radius: var(--spectrum-corner-radius-100);
  --spectrum-search-border-width: var(--spectrum-border-width-100);

  /* Focus Indicator */
  --spectrum-search-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
  --spectrum-search-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
  --spectrum-search-focus-indicator-color: var(--spectrum-focus-indicator-color);
}

.spectrum-Search--sizeS {
  --spectrum-search-block-size: var(--spectrum-component-height-75);
  --spectrum-search-icon-size: var(--spectrum-workflow-icon-size-75);

  --spectrum-search-edge-to-visual: var(--spectrum-component-edge-to-visual-75);
  --spectrum-search-edge-to-text: var(--spectrum-component-edge-to-text-75);
  --spectrum-search-text-to-icon: var(--spectrum-text-to-visual-75);
}

.spectrum-Search--sizeM {
  --spectrum-search-block-size: var(--spectrum-component-height-100);
  --spectrum-search-icon-size: var(--spectrum-workflow-icon-size-100);

  --spectrum-search-edge-to-visual: var(--spectrum-component-edge-to-visual-100);
  --spectrum-search-edge-to-text: var(--spectrum-component-edge-to-text-100);
  --spectrum-search-text-to-icon: var(--spectrum-text-to-visual-100);
}

.spectrum-Search--sizeL {
  --spectrum-search-block-size: var(--spectrum-component-height-200);
  --spectrum-search-icon-size: var(--spectrum-workflow-icon-size-200);

  --spectrum-search-edge-to-visual: var(--spectrum-component-edge-to-visual-200);
  --spectrum-search-edge-to-text: var(--spectrum-component-edge-to-text-200);
  --spectrum-search-text-to-icon: var(--spectrum-text-to-visual-200);
}

.spectrum-Search--sizeXL {
  --spectrum-search-block-size: var(--spectrum-component-height-300);
  --spectrum-search-icon-size: var(--spectrum-workflow-icon-size-300);

  --spectrum-search-edge-to-visual: var(--spectrum-component-edge-to-visual-300);
  --spectrum-search-edge-to-text: var(--spectrum-component-edge-to-text-300);
  --spectrum-search-text-to-icon: var(--spectrum-text-to-visual-300);
}

.spectrum-Search--quiet {
  --spectrum-search-quiet-button-offset: calc(
    (var(--mod-search-block-size, var(--spectrum-search-block-size)) / 2) - 
    (var(--mod-workflow-icon-size-100, var(--spectrum-workflow-icon-size-100)) / 2)
  );
  --spectrum-search-border-radius: 0;
}

.spectrum-Search {
  display: inline-block;
  position: relative;
  inline-size: var(--mod-search-inline-size, var(--spectrum-search-inline-size));
  min-inline-size: var(--mod-search-min-inline-size, var(--spectrum-search-min-inline-size));
}

.spectrum-Search-clearButton {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.spectrum-Search-textfield {
  inline-size: 100%;
}

.spectrum-Search-input {
  /* Correct the odd appearance of input[type="search"] in Chrome and Safari.*/
  /* Without this, it gets overridden by .spectrum-Textfield */
  -webkit-appearance: none;

  /* Correct the outline for input[type="search"] style in Safari. */
  outline-offset: -2px;

  /* Remove the inner padding and cancel buttons for input[type="search"] in Chrome and Safari on macOS. */
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  border-radius: var(--mod-search-border-radius, var(--spectrum-search-border-radius));
  border-width: var(--mod-search-border-width, var(--spectrum-search-border-width));
}

/* Focus Indicator (Ring) */
.spectrum-Search:not(.spectrum-Search--quiet) .spectrum-Search-textfield {
  &::after {
    border-radius: var(--mod-search-border-radius, var(--spectrum-search-border-radius));
    block-size: calc(100% + (var(--mod-search-focus-indicator-gap, var(--spectrum-search-focus-indicator-gap)) * 2));
    inline-size: calc(100% + (var(--mod-search-focus-indicator-gap, var(--spectrum-search-focus-indicator-gap)) * 2));
    margin-block-start: calc(
      (var(--mod-search-focus-indicator-gap, var(--spectrum-search-focus-indicator-gap)) + 
      var(--mod-search-focus-indicator-thickness, var(--spectrum-search-focus-indicator-thickness)))
      * -1
    );
    margin-inline-start: calc(
      (var(--mod-search-focus-indicator-gap, var(--spectrum-search-focus-indicator-gap)) + 
      var(--mod-search-focus-indicator-thickness, var(--spectrum-search-focus-indicator-thickness)))
      * -1
    );
  }

  &.is-keyboardFocused,
  &:focus-within {
    &::after {
      border-width: var(--mod-search-focus-indicator-thickness, var(--spectrum-search-focus-indicator-thickness));
      border-color: var(--highcontrast-textfield-focus-indicator-color, var(--mod-search-focus-indicator-color, var(--spectrum-search-focus-indicator-color)));
    }
  }
}

/* Standard / Default */
.spectrum-Search:not(.spectrum-Search--quiet) {
  .spectrum-Search-icon {
    inset-inline-start: var(--mod-search-edge-to-visual, var(--spectrum-search-edge-to-visual));
  }

  .spectrum-Search-input {
    padding-inline-start: calc(
      var(--mod-search-edge-to-visual, var(--spectrum-search-edge-to-visual)) +
      var(--mod-search-icon-size, var(--spectrum-search-icon-size)) +
      var(--mod-search-text-to-icon, var(--spectrum-search-text-to-icon))
    );
    padding-inline-end: var(--mod-search-edge-to-text, var(--spectrum-search-edge-to-text));
  }
}

/* Quiet Variant (no visible background) */
.spectrum-Search--quiet {
  .spectrum-Search-clearButton {
    transform: translateX(var(--mod-search-quiet-button-offset, var(--spectrum-search-quiet-button-offset)));
  }

  /* Focus Indicator (Underline) */
  .spectrum-Search-textfield {
    &::after {
      block-size: calc(100% + var(--mod-search-focus-indicator-gap, var(--spectrum-search-focus-indicator-gap)));
    }
  
    &.is-keyboardFocused,
    &:focus-within {
      &::after {
        border-bottom-width: var(--mod-search-focus-indicator-thickness, var(--spectrum-search-focus-indicator-thickness));
        border-color: var(--highcontrast-textfield-focus-indicator-color, var(--mod-search-focus-indicator-color, var(--spectrum-search-focus-indicator-color)));
      }
    }
  }
}
