/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "themes/spectrum.css";

@media (forced-colors: active) {
	.spectrum-Search .spectrum-Search-textfield,
	.spectrum-Search .spectrum-Search-textfield .spectrum-Search-input {
		--highcontrast-search-color-default: CanvasText;
		--highcontrast-search-color-hover: CanvasText;
		--highcontrast-search-color-focus: CanvasText;
		--highcontrast-search-color-disabled: GrayText;
	}

	.spectrum-Search .spectrum-Search-clearButton {
		.spectrum-ClearButton-fill {
			/* Avoid button background color overlapping on border. */
			forced-color-adjust: none;
			background-color: transparent;
		}
	}
}

/* Standard / Default */
.spectrum-Search {
	position: relative;
	display: inline-block;
	inline-size: var(--mod-search-inline-size, var(--spectrum-search-inline-size));
	min-inline-size: var(--mod-search-min-inline-size, var(--spectrum-search-min-inline-size));

	.spectrum-HelpText {
		margin-block-start: var(--mod-search-to-help-text, var(--spectrum-search-to-help-text));
	}
}

.spectrum-Search-clearButton {
	position: absolute;
	inset-block-start: 0;
	inset-inline-end: 0;
	border-radius: var(--mod-search-border-radius, var(--spectrum-search-border-radius));

	.spectrum-ClearButton-fill {
		border-radius: var(--mod-search-border-radius, var(--spectrum-search-border-radius));
	}

	.spectrum-Search.is-disabled & {
		display: none;
	}
}

.spectrum-Search-textfield {
	inline-size: 100%;
}

.spectrum-Search-icon {
	--spectrum-search-color: var(--highcontrast-search-color-default, var(--mod-search-color-default, var(--spectrum-search-color-default)));
	position: absolute;
	inset-block: 0;
	display: block;
	margin-block: auto;
	color: var(--spectrum-search-color);

	.spectrum-Search-textfield:hover & {
		--spectrum-search-color: var(--highcontrast-search-color-hover, var(--mod-search-color-hover, var(--spectrum-search-color-hover)));
	}

	.spectrum-Search-textfield.is-focused & {
		--spectrum-search-color: var(--highcontrast-search-color-focus, var(--mod-search-color-focus, var(--spectrum-search-color-focus)));
	}

	.spectrum-Search-textfield.is-focused:hover & {
		--spectrum-search-color: var(--highcontrast-search-color-focus, var(--mod-search-color-focus-hover, var(--spectrum-search-color-focus-hover)));
	}

	.spectrum-Search-textfield.is-keyboardFocused & {
		--spectrum-search-color: var(--highcontrast-search-color-focus, var(--mod-search-color-key-focus, var(--spectrum-search-color-key-focus)));
	}

	.spectrum-Search-textfield.is-disabled &,
	.spectrum-Search-textfield.is-disabled:hover & {
		--spectrum-search-color: var(--highcontrast-search-color-disabled, var(--mod-search-color-disabled, var(--spectrum-search-color-disabled)));
	}
}

.spectrum-Search-input {
	block-size: var(--mod-search-block-size, var(--spectrum-search-block-size));
	padding-block-start: calc(var(--mod-search-top-to-text, var(--spectrum-search-top-to-text)) - var(--mod-search-border-width, var(--spectrum-search-border-width)));
	padding-block-end: calc(var(--mod-search-bottom-to-text, var(--spectrum-search-bottom-to-text)) - var(--mod-search-border-width, var(--spectrum-search-border-width)));

	font-style: var(--mod-search-font-style, var(--spectrum-search-font-style));
	line-height: var(--mod-search-line-height, var(--spectrum-search-line-height));

	/* Correct the odd appearance of input[type="search"] in Chrome and Safari. */
	/* Without this, it gets overridden by .spectrum-Textfield */
	appearance: none;

	/* Remove the inner padding and cancel buttons for input[type="search"] in Chrome and Safari on macOS. */
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		appearance: none;
	}
}

/* Standard / Default Only */
.spectrum-Search:not(.spectrum-Search--quiet) {
	.spectrum-Search-icon {
		inset-inline-start: var(--mod-search-edge-to-visual, var(--spectrum-search-edge-to-visual));
	}

	.spectrum-Search-input {
		padding-inline-start: calc(var(--mod-search-edge-to-visual, var(--spectrum-search-edge-to-visual)) - var(--mod-search-border-width, var(--spectrum-search-border-width)) + var(--mod-search-icon-size, var(--spectrum-search-icon-size)) + var(--mod-search-text-to-icon, var(--spectrum-search-text-to-icon)));
		padding-inline-end: calc(var(--mod-search-button-inline-size, var(--spectrum-search-button-inline-size)) - var(--mod-search-border-width, var(--spectrum-search-border-width)));
	}
}

/* Quiet Variant */
.spectrum-Search--quiet {
	.spectrum-Search-clearButton {
		transform: translateX(var(--mod-search-quiet-button-offset, var(--spectrum-search-quiet-button-offset)));
	}

	&.spectrum-Search .spectrum-Search-input {
		padding-block-start: var(--mod-search-top-to-text, var(--spectrum-search-top-to-text));
		padding-inline-start: calc(var(--mod-search-edge-to-visual, var(--spectrum-search-edge-to-visual)) + var(--mod-search-icon-size, var(--spectrum-search-icon-size)) + var(--mod-search-text-to-icon, var(--spectrum-search-text-to-icon)));
		padding-inline-end: calc(var(--mod-search-button-inline-size, var(--spectrum-search-button-inline-size)) - var(--mod-search-quiet-button-offset, var(--spectrum-search-quiet-button-offset)));
		border-radius: var(--mod-search-border-radius, var(--spectrum-search-border-radius));
	}
}
