/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import "themes/spectrum.css";

.spectrum-Accordion {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.spectrum-Accordion-item {
	position: relative;
	z-index: inherit;
	min-inline-size: var(--mod-accordion-item-width, var(--spectrum-accordion-item-width));

	min-block-size: var(--mod-accordion-item-height, var(--spectrum-accordion-item-height));

	margin: 0;
	border-color: var(--mod-accordion-divider-color, var(--spectrum-accordion-divider-color));
	border-width: var(--mod-accordion-divider-thickness, var(--spectrum-divider-thickness-small));

	border-block-end: 1px solid transparent;

	&:first-child {
		border-color: var(--mod-accordion-divider-color, var(--spectrum-accordion-divider-color));
		border-width: var(--mod-accordion-divider-thickness, var(--spectrum-divider-thickness-small));
		border-block-start: 1px solid transparent;
	}
}

.spectrum-Accordion-itemHeading {
	position: relative;
	box-sizing: border-box;
	margin: 0;
}

.spectrum-Accordion-itemIconContainer {
	position: absolute;
	inset-block-start: max(0px, calc((var(--mod-accordion-min-block-size, var(--spectrum-accordion-min-block-size)) - var(--mod-accordion-disclosure-indicator-height, var(--spectrum-accordion-disclosure-indicator-height))) / 2));
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: var(--mod-accordion-disclosure-indicator-height, var(--spectrum-accordion-disclosure-indicator-height));
	block-size: var(--mod-accordion-disclosure-indicator-height, var(--spectrum-accordion-disclosure-indicator-height));
	padding-inline-start: var(--mod-accordion-edge-to-disclosure-indicator-space, var(--spectrum-accordion-edge-to-disclosure-indicator-space));
	color: var(--mod-accordion-item-header-color-default, var(--spectrum-accordion-item-header-color-default));

	&:dir(rtl) {
		transform: scaleX(-1);
	}
}

.spectrum-Accordion-itemContent {
	display: none;
	padding-block: var(--mod-accordion-item-content-area-top-to-content, var(--spectrum-accordion-item-content-area-top-to-content)) var(--mod-accordion-item-content-area-bottom-to-content, var(--spectrum-accordion-item-content-area-bottom-to-content));
	padding-inline: var(--mod-accordion-component-edge-to-text, var(--spectrum-accordion-component-edge-to-text)) var(--mod-accordion-component-edge-to-text, var(--spectrum-accordion-component-edge-to-text));
	font-family: var(--mod-accordion-item-content-font, var(--spectrum-accordion-item-content-font));
	font-size: var(--mod-accordion-item-content-font-size, var(--spectrum-accordion-item-content-font-size));
	font-weight: var(--mod-accordion-item-content-font-weight, var(--spectrum-accordion-item-content-font-weight));
	font-style: var(--mod-accordion-item-content-font-style, var(--spectrum-accordion-item-content-font-style));
	line-height: var(--mod-accordion-item-content-line-height, var(--spectrum-accordion-item-content-line-height));
	color: var(--mod-accordion-item-content-color, var(--spectrum-accordion-item-content-color));
}

.spectrum-Accordion-itemHeader {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	box-sizing: border-box;
	inline-size: 100%;

	min-block-size: var(--mod-accordion-min-block-size, var(--spectrum-accordion-min-block-size));
	padding-block: var(--mod-accordion-item-header-top-to-text-space, var(--spectrum-accordion-item-header-top-to-text-space)) var(--mod-accordion-item-header-bottom-to-text-space, var(--spectrum-accordion-item-header-bottom-to-text-space));

	padding-inline-start: calc(var(--mod-accordion-disclosure-indicator-to-text-space, var(--spectrum-accordion-disclosure-indicator-to-text-space)) + var(--mod-accordion-disclosure-indicator-height, var(--spectrum-accordion-disclosure-indicator-height)));
	padding-inline-end: var(--mod-accordion-edge-to-text-space, var(--spectrum-accordion-edge-to-text-space));
	font-family: var(--mod-accordion-item-header-font, var(--spectrum-accordion-item-header-font));
	font-size: var(--mod-accordion-item-header-font-size, var(--spectrum-accordion-item-header-font-size));
	font-weight: var(--mod-accordion-item-header-font-weight, var(--spectrum-accordion-item-header-font-weight));
	font-style: var(--mod-accordion-item-header-font-style, var(--spectrum-accordion-item-header-font-style));
	line-height: var(--mod-accordion-item-header-line-height, var(--spectrum-accordion-item-header-line-height));
	color: var(--mod-accordion-item-header-color-default, var(--spectrum-accordion-item-header-color-default));
	text-align: start;

	text-overflow: ellipsis;

	/* reset styling if button element is used */
	/* stylelint-disable-next-line property-no-vendor-prefix -- todo may no longer be needed */
	-webkit-appearance: none;
	/* stylelint-disable-next-line property-no-vendor-prefix -- todo may no longer be needed */
	-moz-appearance: none;
	appearance: none;
	background-color: var(--mod-accordion-background-color-default, var(--spectrum-accordion-background-color-default));
	border: 0;

	&:focus {
		outline: none;

		&::after {
			content: "";
			position: absolute;
			inset-inline-start: 0;
		}
	}

	&:hover {
		color: var(--mod-accordion-item-header-color-hover, var(--spectrum-accordion-item-header-color-hover));
		background-color: var(--mod-accordion-background-color-hover, var(--spectrum-accordion-background-color-hover));

		+ .spectrum-Accordion-itemIconContainer {
			color: var(--mod-accordion-item-header-color-hover, var(--spectrum-accordion-item-header-color-hover));
		}
	}

	&:focus-visible {
		color: var(--mod-accordion-item-header-color-key-focus, var(--spectrum-accordion-item-header-color-key-focus));
		background-color: var(--mod-accordion-background-color-key-focus, var(--spectrum-accordion-background-color-key-focus));
		border-radius: var(--mod-accordion-corner-radius, var(--spectrum-accordion-corner-radius));

		outline: var(--mod-accordion-focus-indicator-thickness, var(--spectrum-accordion-focus-indicator-thickness)) solid var(--mod-accordion-focus-indicator-color, var(--spectrum-accordion-focus-indicator-color));
		outline-offset: calc(var(--mod-accordion-focus-indicator-gap, var(--spectrum-accordion-focus-indicator-gap)) * -1);
	}

	&:active {
		color: var(--mod-accordion-item-header-color-down, var(--spectrum-accordion-item-header-color-down));
		background-color: var(--mod-accordion-background-color-down, var(--spectrum-accordion-background-color-down));
	}
}

.spectrum-Accordion-item {
	&.is-open {
		.spectrum-Accordion-itemHeader:hover {
			background-color: var(--mod-accordion-background-color-hover, var(--spectrum-accordion-background-color-hover));
		}
	}
}

.spectrum-Accordion-item.is-disabled {
	.spectrum-Accordion-itemHeader {
		&,
		&:hover,
		&:focus-visible {
			color: var(--mod-accordion-item-header-disabled-color, var(--spectrum-accordion-item-header-disabled-color));
			background-color: transparent;
		}

		+ .spectrum-Accordion-itemIconContainer {
			color: var(--mod-accordion-item-header-disabled-color, var(--spectrum-accordion-item-header-disabled-color));
		}
	}

	.spectrum-Accordion-itemContent {
		color: var(--mod-accordion-item-content-disabled-color, var(--spectrum-accordion-item-content-disabled-color));
	}
}

@media (forced-colors: active) {
	.spectrum-Accordion-itemHeader {
		&::after {
			content: "";
			position: absolute;
			inset-inline-start: 0;

			/* make sure focus ring renders */
			forced-color-adjust: none;
		}
	}
}

.spectrum-Accordion-item {
	&.is-open {
		> .spectrum-Accordion-itemHeading > .spectrum-Accordion-itemIconContainer > .spectrum-Accordion-itemIndicator,
		> .spectrum-Accordion-itemIconContainer > .spectrum-Accordion-itemIndicator {
			transform: var(--spectrum-logical-rotation,) rotate(90deg);
		}

		> .spectrum-Accordion-itemContent {
			display: block;
		}
	}

	&.is-disabled {
		.spectrum-Accordion-itemHeader {
			cursor: default;
		}
	}
}
