/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@design-tokens url("../../tokens/dist/json/tokens.json") format("style-dictionary3");
@design-tokens url("./tokens.json") format("style-dictionary3");

@scope (.spectrum-Accordion) {
	:scope {
		/* Right-to-left adjustments for transforms */
		&:dir(rtl) {
			--spectrum-logical-rotation: matrix(-1, 0, 0, 1, 0, 0);
		}

		/* CJK (Chinese, Japanese, and Korean) language support */
		&:lang(ja),
		&:lang(zh),
		&:lang(ko) {
			--spectrum-accordion-item-header-line-height: design-token("cjk-line-height-100");
			--spectrum-accordion-item-content-line-height: design-token("cjk-line-height-100");
		}
	}
}

.spectrum-Accordion--sizeS {
	--spectrum-accordion-item-minimum-height: design-token("component-height-75");
	--spectrum-accordion-item-width: design-token("accordion-minimum-width"); /* small size default width uses this min-width token */
	--spectrum-accordion-disclosure-indicator-height: design-token("chevron-icon-size-75");
	--spectrum-accordion-disclosure-indicator-to-text-space: design-token("accordion-disclosure-indicator-to-text-small");
	--spectrum-accordion-edge-to-disclosure-indicator-space: design-token("field-edge-to-disclosure-icon-75");
	--spectrum-accordion-content-padding-inline: design-token("accordion-content-area-edge-to-content-small");
	--spectrum-accordion-edge-to-content-area: design-token("accordion-edge-to-content-area-small");
	--spectrum-accordion-corner-radius: design-token("corner-radius-medium-size-small");
	--spectrum-accordion-item-header-font-size: design-token("font-size-100");
	--spectrum-accordion-item-content-font-size: design-token("body-size-xs");
	--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-small");
	--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-small");
	--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-small");
}

.spectrum-Accordion--sizeL {
	--spectrum-accordion-item-minimum-height: design-token("component-height-200");
	--spectrum-accordion-item-width: design-token("field-default-width-large");
	--spectrum-accordion-disclosure-indicator-height: design-token("chevron-icon-size-200");
	--spectrum-accordion-disclosure-indicator-to-text-space: design-token("accordion-disclosure-indicator-to-text-large");
	--spectrum-accordion-edge-to-disclosure-indicator-space: design-token("field-edge-to-disclosure-icon-200");
	--spectrum-accordion-content-padding-inline: design-token("accordion-content-area-edge-to-content-large");
	--spectrum-accordion-edge-to-content-area: design-token("accordion-edge-to-content-area-large");
	--spectrum-accordion-corner-radius: design-token("corner-radius-medium-size-large");
	--spectrum-accordion-item-header-font-size: design-token("font-size-300");
	--spectrum-accordion-item-content-font-size: design-token("body-size-m");
	--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-large");
	--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-large");
	--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-large");
}

.spectrum-Accordion--sizeXL {
	--spectrum-accordion-item-minimum-height: design-token("component-height-300");
	--spectrum-accordion-item-width: design-token("field-default-width-extra-large");
	--spectrum-accordion-disclosure-indicator-height: design-token("chevron-icon-size-300");
	--spectrum-accordion-disclosure-indicator-to-text-space: design-token("accordion-disclosure-indicator-to-text-extra-large");
	--spectrum-accordion-edge-to-disclosure-indicator-space: design-token("field-edge-to-disclosure-icon-300");
	--spectrum-accordion-content-padding-inline: design-token("accordion-content-area-edge-to-content-extra-large");
	--spectrum-accordion-edge-to-content-area: design-token("accordion-edge-to-content-area-extra-large");
	--spectrum-accordion-corner-radius: design-token("corner-radius-medium-size-extra-large");
	--spectrum-accordion-item-header-font-size: design-token("font-size-400");
	--spectrum-accordion-item-content-font-size: design-token("body-size-l");
	--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-extra-large");
	--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-extra-large");
	--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-extra-large");
}

.spectrum-Accordion--compact {
	--spectrum-accordion-item-minimum-height: design-token("component-height-75");
	--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-compact-medium");
	--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-compact-medium");
	--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-compact-medium");

	&.spectrum-Accordion--sizeS {
		--spectrum-accordion-item-minimum-height: design-token("component-height-50");
		--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-compact-small");
		--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-compact-small");
		--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-compact-small");
	}

	&.spectrum-Accordion--sizeL {
		--spectrum-accordion-item-minimum-height: design-token("component-height-100");
		--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-compact-large");
		--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-compact-large");
		--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-compact-large");
	}

	&.spectrum-Accordion--sizeXL {
		--spectrum-accordion-item-minimum-height: design-token("component-height-200");
		--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-compact-extra-large");
		--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-compact-extra-large");
		--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-compact-extra-large");
	}
}

.spectrum-Accordion--spacious {
	--spectrum-accordion-item-minimum-height: design-token("component-height-200");
	--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-spacious-medium");
	--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-spacious-medium");
	--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-spacious-medium");

	&.spectrum-Accordion--sizeS {
		--spectrum-accordion-item-minimum-height: design-token("component-height-100");
		--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-spacious-small");
		--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-spacious-small");
		--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-spacious-small");
	}

	&.spectrum-Accordion--sizeL {
		--spectrum-accordion-item-minimum-height: design-token("component-height-300");
		--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-spacious-large");
		--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-spacious-large");
		--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-spacious-large");
	}

	&.spectrum-Accordion--sizeXL {
		--spectrum-accordion-item-minimum-height: design-token("component-height-400");
		--spectrum-accordion-item-header-top-to-text-space: design-token("accordion-top-to-text-spacious-extra-large");
		--spectrum-accordion-item-header-bottom-to-text-space: design-token("accordion-bottom-to-text-spacious-extra-large");
		--spectrum-accordion-top-to-disclosure-indicator: design-token("field-top-to-disclosure-icon-spacious-extra-large");
	}
}

.spectrum-Accordion--quiet {
	--spectrum-accordion-divider-thickness: 0px;
}

.spectrum-Accordion-item.is-disabled {
	--spectrum-accordion-item-header-cursor: default;
	--spectrum-accordion-background-color-default: transparent;
	--spectrum-accordion-background-color-hover: transparent;
	--spectrum-accordion-background-color-down: transparent;
	--spectrum-accordion-background-color-key-focus: transparent;
	--spectrum-accordion-item-content-color: design-token("disabled-content-color");
	--spectrum-accordion-item-header-color-default: design-token("disabled-content-color");
	--spectrum-accordion-item-header-color-hover: design-token("disabled-content-color");
	--spectrum-accordion-item-header-color-down: design-token("disabled-content-color");
	--spectrum-accordion-item-header-color-key-focus: design-token("disabled-content-color");
}

.spectrum-Accordion.spectrum-Accordion--noInlinePadding {
	--spectrum-accordion-edge-to-disclosure-indicator-space: 0px;
	--spectrum-accordion-edge-to-content-area: 0px;
}

.spectrum-Accordion {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.spectrum-Accordion-item {
	z-index: inherit;
	position: relative;
	margin: 0;
	min-block-size: design-token("accordion-item-min-block-size");
	min-inline-size: design-token("accordion-item-minimum-width");
	inline-size: design-token("accordion-item-width");
	border-block-end: design-token("accordion-divider-thickness") solid design-token("accordion-divider-color");

	&:first-child {
		border-block-start: design-token("accordion-divider-thickness") solid design-token("accordion-divider-color");
	}
}

.spectrum-Accordion-itemHeading {
	margin: 0;
	position: relative;
	box-sizing: border-box;
}

.spectrum-Accordion-itemIndicator {
	inline-size: design-token("accordion-disclosure-indicator-height");
	block-size: design-token("accordion-disclosure-indicator-height");
	transform: design-token("logical-rotation");
	transition: transform ease design-token("accordion-animation-duration");
	flex-shrink: 0;
	margin-block-start: design-token("accordion-top-to-disclosure-indicator");
	margin-inline: design-token("accordion-edge-to-disclosure-indicator-space") design-token("accordion-disclosure-indicator-to-text-space");
}

.spectrum-Accordion-itemContent {
	display: none;
	padding-block: design-token("accordion-item-content-area-top-to-content") design-token("accordion-item-content-area-bottom-to-content");
	padding-inline: design-token("accordion-content-padding-inline");
	color: design-token("accordion-item-content-color");
	font-weight: design-token("accordion-item-content-font-weight");
	font-style: design-token("accordion-item-content-font-style");
	font-size: design-token("accordion-item-content-font-size");
	font-family: design-token("accordion-item-content-font");
	line-height: design-token("accordion-item-content-line-height");
}

.spectrum-Accordion-itemTitle {
	padding-block: design-token("accordion-item-header-top-to-text-space") design-token("accordion-item-header-bottom-to-text-space");
	padding-inline-end: design-token("accordion-edge-to-text-space");
}

/* Focusable button that expands/collapses the accordion item. */
.spectrum-Accordion-itemHeader {
	box-sizing: border-box;
	position: relative;

	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	/* start spacing controlled by edge to disclosure icon spacing */
	padding-inline: 0 design-token("accordion-edge-to-content-area");
	line-height: design-token("accordion-item-header-line-height");

	text-overflow: ellipsis;
	cursor: design-token("accordion-item-header-cursor");
	font-size: design-token("accordion-item-header-font-size");
	font-weight: design-token("accordion-item-header-font-weight");
	font-style: design-token("accordion-item-header-font-style");
	font-family: design-token("accordion-item-header-font");

	/* Reset styling of button element */
	appearance: none;
	border: 0;
	text-align: start;
	inline-size: 100%;

	color: design-token("accordion-item-header-color-default");
	background-color: design-token("accordion-background-color-default");

	&:hover {
		color: design-token("accordion-item-header-color-hover");
		background-color: design-token("accordion-background-color-hover");
	}

	&:focus-visible {
		border-radius: design-token("accordion-corner-radius");
		background-color: design-token("accordion-background-color-key-focus");
		color: design-token("accordion-item-header-color-key-focus");
		outline: design-token("accordion-item-focus-indicator-thickness") solid design-token("accordion-item-focus-indicator-color");
		outline-offset: design-token("accordion-item-focus-indicator-gap");
	}

	/* higher specificity to maintain active styles over @media hover styles */
	&.spectrum-Accordion-itemHeader:active {
		background-color: design-token("accordion-background-color-down");
		color: design-token("accordion-item-header-color-down");
	}
}

.spectrum-Accordion-item.is-open {
	> .spectrum-Accordion-itemHeading .spectrum-Accordion-itemIndicator {
		transform: var(--spectrum-logical-rotation,) rotate(90deg);
	}

	> .spectrum-Accordion-itemContent {
		display: block;
	}
}

.spectrum-Accordion--quiet .spectrum-Accordion-itemHeader {
	&:hover,
	&:active {
		border-radius: design-token("accordion-corner-radius");
	}
}

@media (forced-colors: active) {
	.spectrum-Accordion {
		--spectrum-accordion-item-focus-indicator-color: design-token("accordion-item-focus-indicator-color.sets.whcm");
	}
}
