/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "./themes/spectrum-two.css";

.spectrum-Calendar {
	display: inline-block;
	inline-size: var(--mod-calendar-width, var(--spectrum-calendar-width));

	&:dir(rtl) {
		--spectrum-logical-rotation: matrix(-1, 0, 0, 1, 0, 0);
	}
}

.spectrum-Calendar--padded {
	margin: var(--mod-calendar-margin-x, var(--spectrum-calendar-margin-x)) var(--mod-calendar-margin-y, var(--spectrum-calendar-margin-y));
}

.spectrum-Calendar-header {
	display: flex;
	align-items: center;
	inline-size: 100%;
}

.spectrum-Calendar-title {
	overflow: hidden;
	flex-grow: 1;
	order: 1;
	margin: 0;
	font-size: var(--mod-calendar-title-text-size, var(--spectrum-calendar-title-text-size));
	font-weight: bold;

	line-height: var(--mod-calendar-title-height, var(--spectrum-calendar-title-height));
	color: var(--highcontrast-calendar-day-title-text-color, var(--mod-calendar-day-title-text-color, var(--spectrum-calendar-day-title-text-color)));

	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.spectrum-Calendar-prevMonth,
.spectrum-Calendar-nextMonth {
	transform: var(--spectrum-logical-rotation);

	&:not([disabled]) {
		color: var(--highcontrast-calendar-button-icon-color, var(--mod-calendar-button-icon-color, var(--spectrum-calendar-button-icon-color)));
	}
}

.spectrum-Calendar-prevMonth {
	order: 0;
}

.spectrum-Calendar-nextMonth {
	order: 2;
}

.spectrum-Calendar-dayOfWeek {
	cursor: default;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	inline-size: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));
	block-size: 100%;
	font-size: var(--mod-calendar-day-title-text-size, var(--spectrum-calendar-day-title-text-size));
	font-weight: var(--mod-calendar-day-title-text-font-weight, var(--spectrum-calendar-day-title-text-font-weight));

	color: var(--highcontrast-calendar-day-title-text-color, var(--mod-calendar-day-title-text-color, var(--spectrum-calendar-day-title-text-color)));
	text-decoration: none !important; /* override abbr styling from normalize.css */
	text-transform: uppercase;

	border-block-end: none !important; /* override abbr styling from normalize.css */

	&[title] {
		/* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
		text-decoration: underline;
		text-decoration: underline dotted;

		/* Add letter spacing of 0.66px from Typography > Detail  issue #407 */
		letter-spacing: var(--mod-calendar-title-text-letter-spacing, var(--spectrum-calendar-title-text-letter-spacing));

		/* Normalize abbr[title] */
		/* Remove the bottom border in Chrome 57- and Firefox 39-. */
		border-block-end: none;
	}
}

.spectrum-Calendar-body {
	outline: none;
}

.spectrum-Calendar-table {
	user-select: none;
	table-layout: fixed;
	border-spacing: 0;

	/* width: 100%; */

	border-collapse: collapse;
}

.spectrum-Calendar-tableCell {
	position: relative;
	box-sizing: content-box;
	inline-size: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));
	block-size: var(--mod-calendar-day-height, var(--spectrum-calendar-day-height));
	padding: var(--mod-calendar-day-padding, var(--spectrum-calendar-day-padding));
	text-align: center;

	&:focus {
		outline: 0;
	}
}

.spectrum-Calendar-date {
	cursor: pointer;

	/* This is fun, but we need to trick the table so it doesn't size itself in a weird way */
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	display: block;

	box-sizing: border-box;
	inline-size: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));

	block-size: var(--mod-calendar-day-height, var(--spectrum-calendar-day-height));
	margin: var(--mod-calendar-day-padding, var(--spectrum-calendar-day-padding));

	font-size: var(--mod-calendar-day-text-size, var(--spectrum-calendar-day-text-size));
	line-height: calc(var(--mod-calendar-day-width, var(--spectrum-calendar-day-width)) - var(--mod-calendar-day-border-size, var(--spectrum-calendar-day-border-size)) * 2);
	white-space: nowrap;
	border: var(--mod-calendar-day-border-size, var(--spectrum-calendar-day-border-size)) solid transparent;

	border-radius: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));

	&:lang(ja),
	&:lang(zh),
	&:lang(ko) {
		font-size: var(--mod-calendar-day-text-size-han, var(--spectrum-calendar-day-text-size-han));
	}

	&.is-disabled {
		pointer-events: none;
		cursor: default;
	}

	&.is-outsideMonth {
		display: none;
	}

	&::before {
		content: "";
		position: absolute;
		inset-block-start: calc(50% - calc(var(--mod-calendar-day-width, var(--spectrum-calendar-day-width)) / 2));
		inset-inline-start: calc(50% - calc(var(--mod-calendar-day-width, var(--spectrum-calendar-day-width)) / 2));
		box-sizing: border-box;
		inline-size: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));
		block-size: var(--mod-calendar-day-height, var(--spectrum-calendar-day-height));
		border: var(--mod-calendar-day-border-size, var(--spectrum-calendar-day-border-size)) solid transparent;
		border-radius: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));
	}

	&.is-selected:not(.is-range-selection) {
		font-weight: var(--mod-calendar-day-text-font-weight-selected, var(--spectrum-calendar-day-text-font-weight-selected));

		&::before {
			/* No highlight for lone selections */
			display: none;
		}
	}

	&.is-today {
		font-weight: var(--mod-calendar-day-today-text-font-weight, var(--spectrum-calendar-day-today-text-font-weight));
	}

	&.is-range-selection {
		inline-size: calc(var(--mod-calendar-day-width, var(--spectrum-calendar-day-width)) + calc(var(--mod-calendar-day-padding, var(--spectrum-calendar-day-padding)) * 2));

		/* overrides to make the cells appear connected */
		margin: var(--mod-calendar-day-padding, var(--spectrum-calendar-day-padding)) 0;
		line-height: var(--mod-calendar-day-height, var(--spectrum-calendar-day-height));
		border-width: var(--mod-calendar-border-width-reset, var(--spectrum-calendar-border-width-reset));
		border-radius: var(--mod-calendar-border-radius-reset, var(--spectrum-calendar-border-radius-reset));

		&.is-range-start,
		&.is-range-end,
		&.is-selection-start,
		&.is-selection-end {
			inline-size: calc(var(--mod-calendar-day-width, var(--spectrum-calendar-day-width)) + var(--mod-calendar-day-padding, var(--spectrum-calendar-day-padding)));
		}

		&.is-selection-start,
		&.is-selection-end {
			font-weight: var(--mod-calendar-day-text-font-weight-cap-selected, var(--spectrum-calendar-day-text-font-weight-cap-selected));

			&::after {
				content: "";
				position: absolute;
				inset-block-start: 0;

				display: block;
				inline-size: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));

				block-size: var(--mod-calendar-day-height, var(--spectrum-calendar-day-height));

				border-radius: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));
			}
		}

		&.is-range-start,
		&.is-selection-start {
			margin-inline-start: var(--mod-calendar-day-padding, var(--spectrum-calendar-day-padding));
			padding-inline-end: var(--mod-calendar-day-padding, var(--spectrum-calendar-day-padding));
			border-start-start-radius: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));
			border-end-start-radius: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));

			&::before,
			&::after {
				inset-inline-start: 0;
			}
		}

		&.is-range-end,
		&.is-selection-end {
			margin-inline-end: var(--mod-calendar-day-padding, var(--spectrum-calendar-day-padding));
			padding-inline-start: var(--mod-calendar-day-padding, var(--spectrum-calendar-day-padding));
			border-start-end-radius: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));
			border-end-end-radius: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));

			&::before,
			&::after {
				inset-inline-start: auto;
				inset-inline-end: 0;
			}
		}

		&.is-selection-start.is-selection-end,
		&.is-selection-start.is-range-end,
		&.is-selection-end.is-range-start,
		&.is-range-start.is-range-end {
			inline-size: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));
			border-radius: var(--mod-calendar-day-width, var(--spectrum-calendar-day-width));
		}
	}
}

.spectrum-Calendar-date {
	color: var(--highcontrast-calendar-day-title-text-color, var(--mod-calendar-day-title-text-color, var(--spectrum-calendar-day-title-text-color)));

	&:hover {
		color: var(--highcontrast-calendar-day-text-color-hover, var(--mod-calendar-day-text-color-hover, var(--spectrum-calendar-day-text-color-hover)));

		&:not(.is-selection-end, .is-selection-start) {
			&::before {
				background: var(--highcontrast-calendar-day-background-color-hover, var(--mod-calendar-day-background-color-hover, var(--spectrum-calendar-day-background-color-hover)));
			}
		}

		&.is-selected:not(.is-selection-end, .is-selection-start)::before {
			background: var(--highcontrast-calendar-day-background-color-selected-hover, var(--mod-calendar-day-background-color-selected-hover, var(--spectrum-calendar-day-background-color-selected-hover)));
		}

		&.is-range-selection {
			&::before {
				background: var(--highcontrast-calendar-day-background-color-selected-hover, var(--mod-calendar-day-background-color-selected-hover, var(--spectrum-calendar-day-background-color-selected-hover)));
			}
		}
	}

	&:active {
		background-color: var(--highcontrast-calendar-day-background-color-down, var(--mod-calendar-day-background-color-down, var(--spectrum-calendar-day-background-color-down)));
	}

	&.is-selected {
		color: var(--highcontrast-calendar-day-text-color-selected, var(--mod-calendar-day-text-color-selected, var(--spectrum-calendar-day-text-color-selected)));
		background: var(--highcontrast-calendar-day-background-color-selected, var(--mod-calendar-day-background-color-selected, var(--spectrum-calendar-day-background-color-selected)));
	}

	&.is-selected:not(.is-range-selection) {
		background: var(--highcontrast-calendar-day-background-color-cap-selected, var(--mod-calendar-day-background-color-cap-selected, var(--spectrum-calendar-day-background-color-cap-selected)));
	}

	&.is-today {
		color: var(--highcontrast-calendar-day-today-text-color, var(--mod-calendar-day-today-text-color, var(--spectrum-calendar-day-today-text-color)));
		border-color: var(--highcontrast-calendar-day-today-border-color, var(--mod-calendar-day-today-border-color, var(--spectrum-calendar-day-today-border-color)));

		&::before {
			border-color: var(--highcontrast-calendar-day-today-border-color, var(--mod-calendar-day-today-border-color, var(--spectrum-calendar-day-today-border-color)));
		}

		&.is-selected:not(.is-range-selection):hover::before {
			background: var(--highcontrast-calendar-day-today-background-color-selected-hover, var(--mod-calendar-day-today-background-color-selected-hover, var(--spectrum-calendar-day-today-background-color-selected-hover)));
		}

		&.is-disabled {
			color: var(--highcontrast-calendar-day-today-text-color-disabled, var(--mod-calendar-day-today-text-color-disabled, var(--spectrum-calendar-day-today-text-color-disabled)));
			border-color: var(--highcontrast-calendar-day-today-border-color-disabled, var(--mod-calendar-day-today-border-color-disabled, var(--spectrum-calendar-day-today-border-color-disabled)));

			&::before {
				border-color: var(--highcontrast-calendar-day-today-border-color-disabled, var(--mod-calendar-day-today-border-color-disabled, var(--spectrum-calendar-day-today-border-color-disabled)));
			}
		}
	}

	&.is-focused:not(.is-range-selection) {
		color: var(--highcontrast-calendar-day-text-color-key-focus, var(--mod-calendar-day-text-color-key-focus, var(--spectrum-calendar-day-text-color-key-focus)));
		background: var(--highcontrast-calendar-day-background-color-key-focus, var(--mod-calendar-day-background-color-key-focus, var(--spectrum-calendar-day-background-color-key-focus)));
		border-color: var(--highcontrast-calendar-day-border-color-key-focus, var(--mod-calendar-day-border-color-key-focus, var(--spectrum-calendar-day-border-color-key-focus)));

		&.is-today {
			border-color: var(--highcontrast-calendar-day-border-color-key-focus, var(--mod-calendar-day-border-color-key-focus, var(--spectrum-calendar-day-border-color-key-focus)));
		}

		&:active,
		&.is-selected {
			color: var(--highcontrast-calendar-day-text-color-selected, var(--mod-calendar-day-text-color-selected, var(--spectrum-calendar-day-text-color-selected)));
			background: var(--highcontrast-calendar-day-background-color-cap-selected, var(--mod-calendar-day-background-color-cap-selected, var(--spectrum-calendar-day-background-color-cap-selected)));
			border-color: var(--highcontrast-calendar-day-border-color-key-focus, var(--mod-calendar-day-border-color-key-focus, var(--spectrum-calendar-day-border-color-key-focus)));
		}
	}

	&.is-focused {
		&.is-selected {
			&::before {
				background: var(--highcontrast-calendar-day-background-color-selected-hover, var(--mod-calendar-day-background-color-selected-hover, var(--spectrum-calendar-day-background-color-selected-hover)));
			}
		}

		&.is-range-selection {
			&::before {
				background: var(--highcontrast-calendar-day-background-color-selected-hover, var(--mod-calendar-day-background-color-selected-hover, var(--spectrum-calendar-day-background-color-selected-hover)));
			}
		}

		&::before {
			border-color: var(--highcontrast-calendar-day-border-color-key-focus, var(--mod-calendar-day-border-color-key-focus, var(--spectrum-calendar-day-border-color-key-focus)));
		}
	}

	&.is-disabled {
		color: var(--highcontrast-calendar-day-text-color-disabled, var(--mod-calendar-day-text-color-disabled, var(--spectrum-calendar-day-text-color-disabled)));
	}

	&.is-selection-start,
	&.is-selection-end {
		color: var(--highcontrast-calendar-day-text-color-cap-selected, var(--mod-calendar-day-text-color-cap-selected, var(--spectrum-calendar-day-text-color-cap-selected)));

		&::after {
			background-color: var(--highcontrast-calendar-day-background-color-selected, var(--mod-calendar-day-background-color-selected, var(--spectrum-calendar-day-background-color-selected)));
		}

		&.is-disabled {
			color: var(--highcontrast-calendar-day-text-color-disabled, var(--mod-calendar-day-text-color-disabled, var(--spectrum-calendar-day-text-color-disabled)));
		}
	}
}

@media (forced-colors: active) {
	.spectrum-Calendar-prevMonth,
	.spectrum-Calendar-nextMonth {
		--highcontrast-calendar-button-icon-color-disabled: GrayText;
		--highcontrast-calendar-button-icon-color: ButtonText;
	}

	.spectrum-Calendar-date {
		--highcontrast-calendar-day-background-color-cap-selected: Highlight;
		--highcontrast-calendar-day-background-color-down: ButtonFace;
		--highcontrast-calendar-day-background-color-hover: Transparent;
		--highcontrast-calendar-day-background-color-key-focus: ButtonFace;
		--highcontrast-calendar-day-background-color-selected-hover: Transparent;
		--highcontrast-calendar-day-background-color-selected: Highlight;
		--highcontrast-calendar-day-border-color-key-focus: ButtonText;
		--highcontrast-calendar-day-text-color-cap-selected: HighlightText;
		--highcontrast-calendar-day-text-color-disabled: GrayText;
		--highcontrast-calendar-day-text-color-hover: ButtonText;
		--highcontrast-calendar-day-text-color-key-focus: ButtonText;
		--highcontrast-calendar-day-text-color-selected-hover: HighlightText;
		--highcontrast-calendar-day-text-color-selected: HighlightText;
		--highcontrast-calendar-day-title-text-color: CanvasText;
		--highcontrast-calendar-day-today-background-color-selected-hover: Highlight;
		--highcontrast-calendar-day-today-border-color-disabled: GrayText;
		--highcontrast-calendar-day-today-border-color: ButtonText;
		--highcontrast-calendar-day-today-text-color-disabled: GrayText;
		--highcontrast-calendar-day-today-text-color: ButtonText;
		color: CanvasText;
		forced-color-adjust: none;

		&.is-range-selection {
			&.is-today {
				color: HighlightText;
			}

			&.is-selection-start::after,
			&.is-selection-end::after {
				content: none;
			}
		}

		&.is-disabled {
			&.is-range-selection {
				color: HighlightText;
				background: Highlight;
			}

			&.is-selected {
				color: HighlightText;
				background: Highlight;
			}
		}
	}
}
