/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-InLineAlert {
	position: relative;

	display: inline-block;
	box-sizing: border-box;
	min-inline-size: var(--mod-inlinealert-min-inline-size, var(--spectrum-inlinealert-min-inline-size));

	padding-block: var(--mod-inlinealert-spacing-edge-to-text, var(--spectrum-inlinealert-spacing-edge-to-text));
	padding-inline: var(--mod-inlinealert-spacing-edge-to-text, var(--spectrum-inlinealert-spacing-edge-to-text));

	background-color: var(--highcontrast-inlinealert-background-color, var(--mod-inlinealert-background-color, var(--spectrum-inlinealert-background-color)));
	border-color: var(--highcontrast-inlinealert-border-and-icon-color, var(--mod-inlinealert-border-and-icon-color, var(--spectrum-inlinealert-border-and-icon-color)));
	border-style: solid;

	border-block-width: var(--mod-inlinealert-border-width, var(--spectrum-inlinealert-border-width));
	border-inline-width: var(--mod-inlinealert-border-width, var(--spectrum-inlinealert-border-width));
	border-radius: var(--mod-inlinealert-border-radius, var(--spectrum-inlinealert-border-radius));
}

@media (forced-colors: active) {
	.spectrum-InLineAlert {
		--highcontrast-inlinealert-background-color: Background;
		--highcontrast-inlinealert-header-color: CanvasText;
		--highcontrast-inlinealert-content-color: CanvasText;
		--highcontrast-inlinealert-border-and-icon-color: ButtonBorder;
	}
}

.spectrum-InLineAlert-icon {
	inline-size: var(--mod-inlinealert-icon-size, var(--spectrum-inlinealert-icon-size));
	block-size: var(--mod-inlinealert-icon-size, var(--spectrum-inlinealert-icon-size));
}

.spectrum-InLineAlert-header {
	display: flex;

	/* Minimum space between header and icon */
	gap: var(--mod-inlinealert-spacing-header-to-icon, var(--spectrum-inlinealert-spacing-header-to-icon));
	align-items: center;
	justify-content: space-between;

	min-block-size: var(--mod-inlinealert-header-min-block-size, var(--spectrum-inlinealert-header-min-block-size));
	font-family: var(--mod-inlinealert-heading-font-family, var(--spectrum-inlinealert-heading-font-family));
	font-size: var(--mod-inlinealert-heading-font-size, var(--spectrum-inlinealert-heading-font-size));

	font-weight: var(--mod-inlinealert-heading-font-weight, var(--spectrum-inlinealert-heading-font-weight));
	font-style: var(--mod-inlinealert-heading-font-style, var(--spectrum-inlinealert-heading-font-style));
	line-height: var(--mod-inlinealert-heading-line-height, var(--spectrum-inlinealert-heading-line-height));

	color: var(--highcontrast-inlinealert-header-color, var(--mod-inlinealert-header-color, var(--spectrum-inlinealert-header-color)));
	text-transform: none;
}

.spectrum-InLineAlert-content {
	display: block;
	margin-block-start: var(--mod-inlinealert-spacing-header-content-button, var(--spectrum-inlinealert-spacing-header-content-button));
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding: 0;
	font-family: var(--mod-inlinealert-content-font-family, var(--spectrum-inlinealert-content-font-family));
	font-size: var(--mod-inlinealert-content-font-size, var(--spectrum-inlinealert-content-font-size));

	font-weight: var(--mod-inlinealert-content-font-weight, var(--spectrum-inlinealert-content-font-weight));
	font-style: var(--mod-inlinealert-content-font-style, var(--spectrum-inlinealert-content-font-style));
	line-height: var(--mod-inlinealert-content-line-height, var(--spectrum-inlinealert-content-line-height));

	color: var(--highcontrast-inlinealert-content-color, var(--mod-inlinealert-content-color, var(--spectrum-inlinealert-content-color)));

	word-wrap: break-word;
}

.spectrum-InLineAlert-footer {
	display: flex;
	justify-content: flex-end;
	margin-block-start: var(--mod-inlinealert-spacing-header-content-button, var(--spectrum-inlinealert-spacing-header-content-button));

	&:empty {
		display: none;
	}
}

.spectrum-InLineAlert--info {
	border-color: var(--highcontrast-inlinealert-border-and-icon-color, var(--mod-inlinealert-border-and-icon-color-info, var(--spectrum-inlinealert-border-and-icon-color-info)));

	.spectrum-InLineAlert-icon {
		color: var(--highcontrast-inlinealert-border-and-icon-color, var(--mod-inlinealert-border-and-icon-color-info, var(--spectrum-inlinealert-border-and-icon-color-info)));
	}
}

.spectrum-InLineAlert--notice {
	border-color: var(--highcontrast-inlinealert-border-and-icon-color, var(--mod-inlinealert-border-and-icon-color-notice, var(--spectrum-inlinealert-border-and-icon-color-notice)));

	.spectrum-InLineAlert-icon {
		color: var(--highcontrast-inlinealert-border-and-icon-color, var(--mod-inlinealert-border-and-icon-color-notice, var(--spectrum-inlinealert-border-and-icon-color-notice)));
	}
}

.spectrum-InLineAlert--positive {
	border-color: var(--highcontrast-inlinealert-border-and-icon-color, var(--mod-inlinealert-border-and-icon-color-positive, var(--spectrum-inlinealert-border-and-icon-color-positive)));

	.spectrum-InLineAlert-icon {
		color: var(--highcontrast-inlinealert-border-and-icon-color, var(--mod-inlinealert-border-and-icon-color-positive, var(--spectrum-inlinealert-border-and-icon-color-positive)));
	}
}

.spectrum-InLineAlert--negative {
	border-color: var(--highcontrast-inlinealert-border-and-icon-color, var(--mod-inlinealert-border-and-icon-color-negative, var(--spectrum-inlinealert-border-and-icon-color-negative)));

	.spectrum-InLineAlert-icon {
		color: var(--highcontrast-inlinealert-border-and-icon-color, var(--mod-inlinealert-border-and-icon-color-negative, var(--spectrum-inlinealert-border-and-icon-color-negative)));
	}
}
