/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-InLineAlert {
  /* Static properties */
  --spectrum-inlinealert-font-size: 14px;
  --spectrum-inlinealert-font-weight: 700;
  --spectrum-inlinealert-font-style: normal;
  --spectrum-inlinealert-line-height: 14px;

  /* Size*/
  --spectrum-inlinealert-border-width: var(--spectrum-border-width-100);
  --spectrum-inlinealert-border-radius: var(--spectrum-corner-radius-100);
  --spectrum-inlinealert-icon-size: var(--spectrum-workflow-icon-size-100);
  --spectrum-inlinealert-min-inline-size: var(--spectrum-in-line-alert-minimum-width);
  --spectrum-inlinealert-header-min-block-size: var(--spectrum-component-height-50);

  /* Spacing*/
  --spectrum-inlinealert-spacing-edge-to-text: var(--spectrum-spacing-400);
  --spectrum-inlinealert-spacing-header-to-icon: var(--spectrum-spacing-400);
  --spectrum-inlinealert-spacing-header-content-button: var(--spectrum-spacing-300);

  /* Color */
  --spectrum-inlinealert-background-color: var(--spectrum-gray-50);
  --spectrum-inlinealert-border-and-icon-color: var(--spectrum-gray-600);
  --spectrum-inlinealert-header-and-content-color: var(--spectrum-gray-900);
}

.spectrum-InLineAlert {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  min-inline-size: var(--mod-inlinealert-min-inline-size, var(--spectrum-inlinealert-min-inline-size));

  padding-block: var(--mod-inlinealert-spacing-edge-to-text, var(--spectrum-inlinealert-spacing-edge-to-text));
  padding-inline: var(--mod-inlinealert-spacing-edge-to-text, var(--spectrum-inlinealert-spacing-edge-to-text));

  border-block-width: var(--mod-inlinealert-border-width, var(--spectrum-inlinealert-border-width));
  border-style: solid;
  border-radius: var(--mod-inlinealert-border-radius, var(--spectrum-inlinealert-border-radius));

  background-color: var(--mod-inlinealert-background-color, var(--spectrum-inlinealert-background-color));
  color: var(--mod-inlinealert-header-and-content-color, var(--spectrum-inlinealert-header-and-content-color));
  border-color: var(--mod-inlinealert-border-and-icon-color, var(--spectrum-inlinealert-border-and-icon-color));
}

.spectrum-InLineAlert-icon {
  inline-size: var(--spectrum-inlinealert-icon-size);
  block-size: var(--spectrum-inlinealert-icon-size);
}

.spectrum-InLineAlert-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Minimum space between header and icon */
  gap: var(--mod-inlinealert-spacing-header-to-icon, var(--spectrum-inlinealert-spacing-header-to-icon));

  font-size: var(--mod-inlinealert-font-size, var(--spectrum-inlinealert-font-size));
  font-weight: var(--mod-inlinealert-font-weight, var(--spectrum-inline-font-weight));
  font-style: var(--mod-inlinealert-font-style, var(--spectrum-inline-font-style));
  line-height: var(--mod-inlinealert-line-height, var(--spectrum-inlinealert-line-height));
  text-transform: none;

  min-block-size: var(--mod-inlinealert-header-min-block-size, var(--spectrum-inlinealert-header-min-block-size));

  color: var(--mod-inlinealert-header-and-content-color, var(--spectrum-inlinealert-header-and-content-color));
}

.spectrum-InLineAlert-content {
  display: block;
  margin: var(--mod-inlinealert-spacing-header-content-button, var(--spectrum-inlinealert-spacing-header-content-button)) 0 0 0;
  padding: 0;

  word-wrap: break-word;

  color: var(--mod-inlinealert-header-and-content-color, var(--spectrum-inlinealert-header-and-content-color));
}

.spectrum-InLineAlert-footer {
  display: flex;
  justify-content: flex-end;
  margin-block-start: var(--mod-inlinealert-spacing-header-content-butto, var(--spectrum-inlinealert-spacing-header-content-button));

  &:empty {
    display: none;
  }
}

.spectrum-InLineAlert--info {
  border-color: var(--mod-inlinealert-border-and-icon-color-info, var(--spectrum-inlinealert-border-and-icon-color-info));

  .spectrum-InLineAlert-icon {
    color: var(--mod-inlinealert-border-and-icon-color-info, var(--spectrum-inlinealert-border-and-icon-color-info));
  }
}

.spectrum-InLineAlert--notice {
  border-color: var(--mod-inlinealert-border-and-icon-color-notice, var(--spectrum-inlinealert-border-and-icon-color-notice));

  .spectrum-InLineAlert-icon {
    color: var(--mod-inlinealert-border-and-icon-color-notice, var(--spectrum-inlinealert-border-and-icon-color-notice));
  }
}

.spectrum-InLineAlert--positive {
  border-color: var(--mod-inlinealert-border-and-icon-color-positive, var(--spectrum-inlinealert-border-and-icon-color-positive));

  .spectrum-InLineAlert-icon {
    color: var(--mod-inlinealert-border-and-icon-color-positive, var(--spectrum-inlinealert-border-and-icon-color-positive));
  }
}

.spectrum-InLineAlert--negative {
  border-color: var(--mod-inlinealert-border-and-icon-color-negative, var(--spectrum-inlinealert-border-and-icon-color-negative));

  .spectrum-InLineAlert-icon {
    color: var(--mod-inlinealert-border-and-icon-color-negative, var(--spectrum-inlinealert-border-and-icon-color-negative));
  }
}
