/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@container style(--system: spectrum) {
	.spectrum-Card {
		/* Default Layout */
		--spectrum-card-background-color: var(--spectrum-background-layer-2-color);
		--spectrum-card-body-spacing: var(--spectrum-spacing-400);
		--spectrum-card-title-padding-top: var(--spectrum-spacing-300);
		--spectrum-card-title-padding-right: var(--spectrum-spacing-400);
		--spectrum-card-content-margin-top: var(--spectrum-spacing-100);
		--spectrum-card-content-margin-bottom: var(--spectrum-spacing-300);
		--spectrum-card-footer-padding-top: var(--spectrum-spacing-100);
		--spectrum-card-subtitle-padding-right: var(--spectrum-spacing-100);

		--spectrum-card-border-width: var(--spectrum-border-width-100);
		--spectrum-card-corner-radius: var(--spectrum-corner-radius-100);
		--spectrum-card-border-color: var(--spectrum-gray-100);
		--spectrum-card-border-color-hover: var(--spectrum-gray-200);
		--spectrum-card-border-color-selected: var(--spectrum-blue-700);

		--spectrum-card-divider-color: var(--spectrum-gray-200);

		/* Typography */
		--spectrum-card-title-font-family: var(--spectrum-sans-font-family-stack);
		--spectrum-card-title-font-size: var(--spectrum-heading-size-xxs);
		--spectrum-card-title-font-weight: var(--spectrum-heading-sans-serif-font-weight);
		--spectrum-card-title-font-style: var(--spectrum-heading-sans-serif-font-style);
		--spectrum-card-title-line-height: var(--spectrum-heading-line-height);
		--spectrum-card-title-font-color: var(--spectrum-heading-color);

		--spectrum-card-body-font-family: var(--spectrum-sans-font-family-stack);
		--spectrum-card-body-font-size: var(--spectrum-body-size-s);
		--spectrum-card-body-font-weight: var(--spectrum-body-sans-serif-font-weight);
		--spectrum-card-body-font-style: var(--spectrum-body-sans-serif-font-style);
		--spectrum-card-body-line-height: var(--spectrum-body-line-height);
		--spectrum-card-body-font-color: var(--spectrum-body-color);

		/* Quick Actions */
		--spectrum-card-actions-spacing: var(--spectrum-spacing-300);
		--spectrum-card-actions-size: var(--spectrum-card-selection-background-size);
		--spectrum-card-actions-border-radius: var(--spectrum-corner-radius-100);

		/* TODO update to --spectrum-card-selection-background-color token once an RGB stripped value is available */
		--spectrum-card-actions-background-color-rgb: var(--spectrum-gray-100-rgb);
		--spectrum-card-actions-background-color-opacity: var(--spectrum-card-selection-background-color-opacity);
		--spectrum-card-actions-drop-shadow-color: var(--spectrum-drop-shadow-color);
		--spectrum-card-actions-drop-shadow-x: var(--spectrum-drop-shadow-x);
		--spectrum-card-actions-drop-shadow-y: var(--spectrum-drop-shadow-y);
		--spectrum-card-actions-drop-shadow-blur: var(--spectrum-drop-shadow-blur);

		/* Focus */
		--spectrum-card-focus-indicator-color: var(--spectrum-focus-indicator-color);
		--spectrum-card-focus-indicator-width: var(--spectrum-focus-indicator-thickness);

		/* Selected */
		--spectrum-card-selected-background-opacity: 0.1; /* table-selected-row-background-opacity does not exist in tokens yet */

		--spectrum-card-preview-border-width-selected: var(--spectrum-border-width-100);
		--spectrum-card-preview-background-color: var(--spectrum-background-base-color);
		--spectrum-card-preview-background-color-hover: var(--spectrum-gray-200);

		/* Horizontal */
		--spectrum-card-horizontal-body-padding: var(--spectrum-spacing-300);
		--spectrum-card-horizontal-preview-padding: var(--spectrum-spacing-200);

		/* TODO: These are placeholder until recursive RGB is available */
		.spectrum--light &,
		.spectrum--lightest & {
			--spectrum-card-selected-background-color-rgb: var(--spectrum-blue-900-rgb);
		}

		.spectrum--dark & {
			--spectrum-card-selected-background-color-rgb: var(--spectrum-blue-500-rgb);
		}
	}

	/* Quiet/Gallery */
	.spectrum-Card--quiet,
	.spectrum-Card--gallery {
		--mod-card-content-margin-top: var(--mod-card-content-margin-top-quiet, var(--spectrum-spacing-100));
		--mod-card-minimum-width: var(--mod-card-minimum-width-quiet, var(--spectrum-card-minimum-width));
	}
}
