:root {
  --spectrum-semantic-negative-background-color: var(--spectrum-global-color-static-red-600);
  --spectrum-semantic-negative-color-default: var(--spectrum-global-color-red-500);
  --spectrum-semantic-negative-color-hover: var(--spectrum-global-color-red-600);
  --spectrum-semantic-negative-color-dark: var(--spectrum-global-color-red-600);
  --spectrum-semantic-negative-border-color: var(--spectrum-global-color-red-400);
  --spectrum-semantic-negative-icon-color: var(--spectrum-global-color-red-600);
  --spectrum-semantic-negative-status-color: var(--spectrum-global-color-red-400);
  --spectrum-semantic-negative-text-color-large: var(--spectrum-global-color-red-500);
  --spectrum-semantic-negative-text-color-small: var(--spectrum-global-color-red-600);
  --spectrum-semantic-negative-text-color-small-hover: var(--spectrum-global-color-red-700);
  --spectrum-semantic-negative-text-color-small-down: var(--spectrum-global-color-red-700);
  --spectrum-semantic-negative-text-color-small-key-focus: var(--spectrum-global-color-red-600);
  --spectrum-semantic-negative-color-down: var(--spectrum-global-color-red-700);
  --spectrum-semantic-negative-color-key-focus: var(--spectrum-global-color-red-400);
  --spectrum-semantic-negative-background-color-default: var(--spectrum-global-color-static-red-600);
  --spectrum-semantic-negative-background-color-hover: var(--spectrum-global-color-static-red-700);
  --spectrum-semantic-negative-background-color-down: var(--spectrum-global-color-static-red-800);
  --spectrum-semantic-negative-background-color-key-focus: var(--spectrum-global-color-static-red-700);
  --spectrum-semantic-notice-background-color: var(--spectrum-global-color-static-orange-600);
  --spectrum-semantic-notice-color-default: var(--spectrum-global-color-orange-500);
  --spectrum-semantic-notice-color-dark: var(--spectrum-global-color-orange-600);
  --spectrum-semantic-notice-border-color: var(--spectrum-global-color-orange-400);
  --spectrum-semantic-notice-icon-color: var(--spectrum-global-color-orange-600);
  --spectrum-semantic-notice-status-color: var(--spectrum-global-color-orange-400);
  --spectrum-semantic-notice-text-color-large: var(--spectrum-global-color-orange-500);
  --spectrum-semantic-notice-text-color-small: var(--spectrum-global-color-orange-600);
  --spectrum-semantic-notice-color-down: var(--spectrum-global-color-orange-700);
  --spectrum-semantic-notice-color-key-focus: var(--spectrum-global-color-orange-400);
  --spectrum-semantic-notice-background-color-default: var(--spectrum-global-color-static-orange-600);
  --spectrum-semantic-notice-background-color-hover: var(--spectrum-global-color-static-orange-700);
  --spectrum-semantic-notice-background-color-down: var(--spectrum-global-color-static-orange-800);
  --spectrum-semantic-notice-background-color-key-focus: var(--spectrum-global-color-static-orange-700);
  --spectrum-semantic-positive-background-color: var(--spectrum-global-color-static-green-600);
  --spectrum-semantic-positive-color-default: var(--spectrum-global-color-green-500);
  --spectrum-semantic-positive-color-dark: var(--spectrum-global-color-green-600);
  --spectrum-semantic-positive-border-color: var(--spectrum-global-color-green-400);
  --spectrum-semantic-positive-icon-color: var(--spectrum-global-color-green-600);
  --spectrum-semantic-positive-status-color: var(--spectrum-global-color-green-400);
  --spectrum-semantic-positive-text-color-large: var(--spectrum-global-color-green-500);
  --spectrum-semantic-positive-text-color-small: var(--spectrum-global-color-green-600);
  --spectrum-semantic-positive-color-down: var(--spectrum-global-color-green-700);
  --spectrum-semantic-positive-color-key-focus: var(--spectrum-global-color-green-400);
  --spectrum-semantic-positive-background-color-default: var(--spectrum-global-color-static-green-600);
  --spectrum-semantic-positive-background-color-hover: var(--spectrum-global-color-static-green-700);
  --spectrum-semantic-positive-background-color-down: var(--spectrum-global-color-static-green-800);
  --spectrum-semantic-positive-background-color-key-focus: var(--spectrum-global-color-static-green-700);
  --spectrum-semantic-informative-background-color: var(--spectrum-global-color-static-blue-600);
  --spectrum-semantic-informative-color-default: var(--spectrum-global-color-blue-500);
  --spectrum-semantic-informative-color-dark: var(--spectrum-global-color-blue-600);
  --spectrum-semantic-informative-border-color: var(--spectrum-global-color-blue-400);
  --spectrum-semantic-informative-icon-color: var(--spectrum-global-color-blue-600);
  --spectrum-semantic-informative-status-color: var(--spectrum-global-color-blue-400);
  --spectrum-semantic-informative-text-color-large: var(--spectrum-global-color-blue-500);
  --spectrum-semantic-informative-text-color-small: var(--spectrum-global-color-blue-600);
  --spectrum-semantic-informative-color-down: var(--spectrum-global-color-blue-700);
  --spectrum-semantic-informative-color-key-focus: var(--spectrum-global-color-blue-400);
  --spectrum-semantic-informative-background-color-default: var(--spectrum-global-color-static-blue-600);
  --spectrum-semantic-informative-background-color-hover: var(--spectrum-global-color-static-blue-700);
  --spectrum-semantic-informative-background-color-down: var(--spectrum-global-color-static-blue-800);
  --spectrum-semantic-informative-background-color-key-focus: var(--spectrum-global-color-static-blue-700);
  --spectrum-semantic-cta-background-color-default: var(--spectrum-global-color-static-blue-600);
  --spectrum-semantic-cta-background-color-hover: var(--spectrum-global-color-static-blue-700);
  --spectrum-semantic-cta-background-color-down: var(--spectrum-global-color-static-blue-800);
  --spectrum-semantic-cta-background-color-key-focus: var(--spectrum-global-color-static-blue-700);
  --spectrum-semantic-emphasized-border-color-default: var(--spectrum-global-color-blue-500);
  --spectrum-semantic-emphasized-border-color-hover: var(--spectrum-global-color-blue-600);
  --spectrum-semantic-emphasized-border-color-down: var(--spectrum-global-color-blue-700);
  --spectrum-semantic-emphasized-border-color-key-focus: var(--spectrum-global-color-blue-600);
  --spectrum-semantic-neutral-background-color-default: var(--spectrum-global-color-static-gray-700);
  --spectrum-semantic-neutral-background-color-hover: var(--spectrum-global-color-static-gray-800);
  --spectrum-semantic-neutral-background-color-down: var(--spectrum-global-color-static-gray-900);
  --spectrum-semantic-neutral-background-color-key-focus: var(--spectrum-global-color-static-gray-800);
  --spectrum-semantic-presence-color-1: var(--spectrum-global-color-static-red-500);
  --spectrum-semantic-presence-color-2: var(--spectrum-global-color-static-orange-400);
  --spectrum-semantic-presence-color-3: var(--spectrum-global-color-static-yellow-400);
  --spectrum-semantic-presence-color-4-rgb: 75, 204, 162;
  --spectrum-semantic-presence-color-4: rgb(var(--spectrum-semantic-presence-color-4-rgb));
  --spectrum-semantic-presence-color-5-rgb: 0, 199, 255;
  --spectrum-semantic-presence-color-5: rgb(var(--spectrum-semantic-presence-color-5-rgb));
  --spectrum-semantic-presence-color-6-rgb: 0, 140, 184;
  --spectrum-semantic-presence-color-6: rgb(var(--spectrum-semantic-presence-color-6-rgb));
  --spectrum-semantic-presence-color-7-rgb: 126, 75, 243;
  --spectrum-semantic-presence-color-7: rgb(var(--spectrum-semantic-presence-color-7-rgb));
  --spectrum-semantic-presence-color-8: var(--spectrum-global-color-static-fuchsia-600);
}
