/*
Copyright 2022 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Radio {
  /* states for all themes */
  --spectrum-radio-neutral-content-color: var(--spectrum-neutral-content-color-default);
  --spectrum-radio-neutral-content-color-hover: var(--spectrum-neutral-content-color-hover);
  --spectrum-radio-neutral-content-color-down: var(--spectrum-neutral-content-color-down);
  --spectrum-radio-neutral-content-color-focus: var(--spectrum-neutral-content-color-key-focus);

  /* spacing for all themes */
  --spectrum-radio-text-to-control: var(--spectrum-text-to-control-100);
  --spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-100);
  --spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-100);

  /* text styles for all themes */
  --spectrum-radio-font-size: var(--spectrum-font-size-100);
  --spectrum-radio-line-height: var(--spectrum-line-height-100);

  /* focus ring all themes */
  --spectrum-radio-focus-ring-thickness: var(--spectrum-focus-ring-thickness);
  --spectrum-radio-focus-ring-gap: var(--spectrum-focus-ring-gap);
  --spectrum-radio-focus-ring-color: var(--spectrum-focus-ring-color);

  /* animation all themes */
  --spectrum-radio-animation-duration: var(--spectrum-animation-duration-100);

  /* selection indicator all themes */
  --spectrum-radio-border-width: var(--spectrum-border-width-200);

  /* disabled all themes */
  --spectrum-radio-disabled-content-color: var(--spectrum-disabled-content-color);
  --spectrum-radio-disabled-border-color: var(--spectrum-gray-400);

  /* focus ring all themes */
  --spectrum-radio-focus-ring-thickness: var(--spectrum-focus-ring-thickness);
  --spectrum-radio-accent-color-focus: var(--spectrum-focus-ring-color);

  /* selection indicator emphasized */
  --spectrum-radio-emphasized-accent-color-default: var(--spectrum-accent-color-900);
  --spectrum-radio-emphasized-accent-color-hover: var(--spectrum-accent-color-1000);
  --spectrum-radio-emphasized-accent-color-down: var(--spectrum-accent-color-1100);
  --spectrum-radio-emphasized-accent-color-focus: var(--spectrum-accent-color-1000);

  /* default radio size for no t-shirt size */
  --spectrum-radio-height: var(--spectrum-component-height-100);
  --spectrum-radio-button-control-size: var(--spectrum-radio-button-control-size-medium);
  --spectrum-radio-text-to-control: var(--spectrum-text-to-control-100);
  --spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-100);
  --spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-100);
  --spectrum-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-medium);

  --spectrum-radio-font-size: var(--spectrum-font-size-100);
}

.spectrum-Radio--sizeS {
  --spectrum-radio-height: var(--spectrum-component-height-75);
  --spectrum-radio-button-control-size: var(--spectrum-radio-button-control-size-small);
  --spectrum-radio-text-to-control: var(--spectrum-text-to-control-75);
  --spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-75);
  --spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-75);
  --spectrum-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-small);

  --spectrum-radio-font-size: var(--spectrum-font-size-75);
}

.spectrum-Radio--sizeM {
  --spectrum-radio-height: var(--spectrum-component-height-100);
  --spectrum-radio-button-control-size: var(--spectrum-radio-button-control-size-medium);
  --spectrum-radio-text-to-control: var(--spectrum-text-to-control-100);
  --spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-100);
  --spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-100);
  --spectrum-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-medium);

  --spectrum-radio-font-size: var(--spectrum-font-size-100);
}

.spectrum-Radio--sizeL {
  --spectrum-radio-height: var(--spectrum-component-height-200);
  --spectrum-radio-button-control-size: var(--spectrum-radio-button-control-size-large);
  --spectrum-radio-text-to-control: var(--spectrum-text-to-control-200);
  --spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-200);
  --spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-200);
  --spectrum-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-large);

  --spectrum-radio-font-size: var(--spectrum-font-size-200);
}

.spectrum-Radio--sizeXL {
  --spectrum-radio-height: var(--spectrum-component-height-300);
  --spectrum-radio-button-control-size: var(--spectrum-radio-button-control-size-extra-large);
  --spectrum-radio-text-to-control: var(--spectrum-text-to-control-300);
  --spectrum-radio-label-top-to-text: var(--spectrum-component-top-to-text-300);
  --spectrum-radio-label-bottom-to-text: var(--spectrum-component-bottom-to-text-300);
  --spectrum-radio-button-top-to-control: var(--spectrum-radio-button-top-to-control-extra-large);

  --spectrum-radio-font-size: var(--spectrum-font-size-300);
}

.spectrum-Radio {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  vertical-align: top;

  min-block-size: var(--spectrum-radio-height);
  max-inline-size: 100%;

  &:hover {
    .spectrum-Radio-button {
      /* selection indicator */
      &:before {
        border-color: var(--spectrum-radio-gray-hover);
      }
    }

    /* selected selection indicator hover */
    .spectrum-Radio-input:checked + .spectrum-Radio-button {
      &:before {
        border-color: var(--spectrum-radio-selected-gray-hover);
      }
    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-neutral-content-color-hover);
    }
  }

  &:active {
    .spectrum-Radio-button {
      /* selection indicator */
      &:before {
        border-color: var(--spectrum-radio-gray-down);
      }
    }

    /* selected selection indicator active */
    .spectrum-Radio-input:checked + .spectrum-Radio-button {
      &:before {
        border-color: var(--spectrum-radio-selected-gray-down);
      }
    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-neutral-content-color-down);
    }
  }

  &:focus {
    .spectrum-Radio-button {
      /* selection indicator */
      &:before {
        border-color: var(--spectrum-radio-gray-focus);
      }
    }

    .spectrum-Radio-button {
      &:after {
        border-style: solid;
        border-color: var(--spectrum-radio-accent-color-focus);
        border-width: var(--spectrum-radio-focus-ring-thickness);
        width: calc(var(--spectrum-radio-button-control-size) + (var(--spectrum-radio-focus-ring-gap) * 2));
        height: calc(var(--spectrum-radio-button-control-size) + (var(--spectrum-radio-focus-ring-gap) * 2));
      }
    }

    /* selected selection indicator focus */
    .spectrum-Radio-input:checked + .spectrum-Radio-button {
      &:before {
        border-color: var(--spectrum-radio-selected-gray-focus);
      }
    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-neutral-content-color-focus);
    }
  }

  &.is-invalid {
    .spectrum-Radio-label {
      color: var(--spectrum-radio-neutral-content-color);
    }
  }

  &--emphasized {
    .spectrum-Radio-input:checked + .spectrum-Radio-button {
      &:before {
        border-color: var(--spectrum-radio-emphasized-accent-color-default);
      }
    }

    &:hover {
      .spectrum-Radio-input:checked + .spectrum-Radio-button {
        &:before {
          border-color: var(--spectrum-radio-emphasized-accent-color-hover);
        }
      }
    }

    &:active {
      .spectrum-Radio-input:checked + .spectrum-Radio-button {
        &:before {
          border-color: var(--spectrum-radio-emphasized-accent-color-down);
        }
      }
    }

    &:focus {
      .spectrum-Radio-input:checked + .spectrum-Radio-button {
        &:before {
          border-color: var(--spectrum-radio-emphasized-accent-color-focus);
        }
      }
    }
  }
}

/* disabled */
.spectrum-Radio .spectrum-Radio-input,
.spectrum-Radio .spectrum-Radio-input:checked {
  &:disabled + .spectrum-Radio-button {
    &:before {
      border-color: var(--spectrum-radio-disabled-border-color);
    }
  }

  &:disabled ~ .spectrum-Radio-label {
    color: var(--spectrum-radio-disabled-content-color);
  }
}

.spectrum-Radio-input {
  /* Change the font styles in all browsers for input. */
  font-family: inherit;
  font-size: 100%;
  line-height: var(--spectrum-radio-line-height);

  /* Remove the margin for input in Firefox and Safari. */
  margin: 0;

  /* Show the overflow for input in Edge. */
  overflow: visible;

  /* Add the correct box sizing for [type="radio"] in IE 10-. */
  box-sizing: border-box;

  /* Remove the padding for [type="radio"] in IE 10-. */
  padding: 0;

  position: absolute;
  inline-size: 100%;
  block-size: 100%;

  opacity: 0;
  z-index: 1;

  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:checked + .spectrum-Radio-button {
    &:before {
      border-width: calc((var(--spectrum-radio-button-control-size) / 2) - (var(--spectrum-radio-button-selection-indicator) / 2));
      border-color: var(--spectrum-radio-selected-gray-default);
    }
  }

  &:focus-ring {
    + .spectrum-Radio-button {
      &:after {
        border-width: var(--spectrum-radio-focus-ring-thickness);

        border-color: var(--spectrum-radio-focus-ring-color);
      }
    }
  }
}

.spectrum-Radio-label {
  text-align: start;
  margin-inline-start: var(--spectrum-radio-text-to-control);
  margin-block-start: var(--spectrum-radio-label-top-to-text);
  margin-block-end: var(--spectrum-radio-label-bottom-to-text);

  font-size: var(--spectrum-radio-font-size);
  /* font-weight: var(--spectrum-radio-text-font-weight); **** missing token resolves to 400 ****/
  /* font-style: var(--spectrum-radio-text-font-style); **** missing token resolves to normal ****/
  color: var(--spectrum-radio-neutral-content-color);
  line-height: var(--spectrum-radio-line-height);

  transition: color var(--spectrum-radio-animation-duration) ease-in-out;
}


.spectrum-Radio-button {
  position: relative;
  box-sizing: border-box;
  inline-size: var(--spectrum-radio-button-control-size);
  block-size: var(--spectrum-radio-button-control-size);
  margin-block-start: var(--spectrum-radio-button-top-to-control);

  flex-grow: 0;
  flex-shrink: 0;

  &:before {
    display: block;
    z-index: 0;
    content: "";
    box-sizing: border-box;
    position: absolute;

    width: var(--spectrum-radio-button-control-size);
    height: var(--spectrum-radio-button-control-size);

    border-radius: 50%;
    border-width: var(--spectrum-radio-border-width);
    border-color: var(--spectrum-radio-gray-default);

    border-style: solid;

    transition: border var(--spectrum-radio-animation-duration) ease-in-out,
      box-shadow var(--spectrum-radio-animation-duration) ease-in-out;
  }

  /* focus ring */
  &:after {
    border-radius: 50%;

    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    transition: opacity var(--spectrum-radio-animation-duration) ease-out,
                margin var(--spectrum-radio-animation-duration) ease-out;
  }
}
