---
layout: pages.njk
tags:
    - component
pagination:
    data: component
    size: 1
    alias: component
    addAllPagesToCollections: true
eleventyComputed:
  title: "{{ component.title}}"
  permalink: "{{ component.permalink }}"
  dependencies:
    - card
    - typography
    - table
    - statuslight
    - icon
    - closebutton
    - "{{ component.name }}"
  eleventyNavigation:
    key: "{{ component.name }}"
    parent: "Components"
---

{% for dep in component.dependencies %}
<link rel="stylesheet" type="text/css" href='/components/{{ dep }}/index-vars.css' data-dependency={{ dep }} />
{% endfor %}
<link rel="stylesheet" href="/components/{{ component.name | slugify }}/index-vars.css">

<article id="main">
    {% include "context-switcher.njk" %}
    <header id="{{ component.name | slugify }}" class="spectrum-CSSComponent-heading">
        <h1 class="spectrum-CSSComponent-title spectrum-Heading spectrum-Heading--sizeXXXL spectrum-Heading--serif">
            <a href="#{{ component.name | slugify }}" class="spectrum-BigSubtleLink">{% if component.title %}{{ component.title }}{% else %}{{ component.name }}{% endif %}</a>
        </h1>
    </header>
    <table class="spectrum-Table spectrum-Table--sizeM spectrum-Table--quiet">
        <tbody>
        {% if component.status -%}
            <tr class="spectrum-Table-row">
                <th class="spectrum-Table-headCell">Component status</th>
                <td class="spectrum-Table-cell">
                    <span class="spectrum-StatusLight spectrum-StatusLight--sizeM spectrum-StatusLight--{{ component.status | statusLightVariant }}">{{ component.status }}</span>
                </td>
            </tr>
        {%- endif %}
        {% if component.releaseDate -%}
            <tr class="spectrum-Table-row">
                <th class="spectrum-Table-headCell">Last released</th>
                <td class="spectrum-Table-cell">{{ component.releaseDate }}</td>
            </tr>
        {%- endif %}
        {% if component.version -%}
            <tr class="spectrum-Table-row">
                <th class="spectrum-Table-headCell">Current version</th>
                <td class="spectrum-Table-cell"><bdo dir="ltr">{{ component.packageName }}@{{ component.version }}</bdo></td>
            </tr>
        {%- endif %}
        </tbody>
        <tfoot class="spectrum-Table-foot">
            <tr class="spectrum-Table-row">
                <td class="spectrum-Table-cell spectrum-Table-cell--alignCenter" colspan="2">
                    {% if component.migrated %}
                        <span class="spectrum-StatusLight spectrum-StatusLight--sizeM spectrum-CSSComponent-status spectrum-StatusLight--positive">Migrated to @adobe/spectrum-tokens</span>
                    {% else %}
                        <span class="spectrum-StatusLight spectrum-StatusLight--sizeM spectrum-CSSComponent-status spectrum-StatusLight--negative">Not yet migrated to @adobe/spectrum-tokens</span>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="spectrum-CSSComponent-resources">
        {% set card = { type: 'GitHub', cta: 'View repository', href: "https://github.com/adobe/spectrum-css/tree/main/components/{{ component.name }}", svg: '<svg class="spectrum-Icon spectrum-Icon--sizeXXL" focusable="false" aria-hidden="true" aria-label="GitHub" viewBox="0 0 36 36"><path d="M17.988 2a16.291 16.291 0 0 0-5.147 31.747c.814.149 1.111-.354 1.111-.786 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184a4.32 4.32 0 0 0-1.809-2.383c-1.479-1.01.112-.99.112-.99a3.42 3.42 0 0 1 2.495 1.679 3.468 3.468 0 0 0 4.741 1.353 3.482 3.482 0 0 1 1.034-2.177C11.4 25.078 7.6 23.68 7.6 17.438a6.3 6.3 0 0 1 1.677-4.371 5.863 5.863 0 0 1 .16-4.311s1.368-.438 4.479 1.67a15.451 15.451 0 0 1 8.157 0c3.109-2.108 4.475-1.67 4.475-1.67a5.857 5.857 0 0 1 .162 4.311 6.286 6.286 0 0 1 1.674 4.371c0 6.258-3.808 7.635-7.437 8.038a3.888 3.888 0 0 1 1.106 3.017c0 2.177-.02 3.934-.02 4.468 0 .436.293.943 1.12.784A16.292 16.292 0 0 0 17.988 2z"></path></svg>' } %}
        {% include 'link-cards.njk' %}
        {% set card = { type: 'npm', cta: 'View package', href: "https://www.npmjs.com/package/@spectrum-css/{{ component.name }}", svg: '<svg class="spectrum-Icon spectrum-Icon--sizeXXL" viewBox="0 0 18 7" focusable="false" aria-hidden="true" aria-label="npm"><path fill="#CB3837" d="M0,0h18v6H9v1H5V6H0V0z M1,5h2V2h1v3h1V1H1V5z M6,1v5h2V5h2V1H6z M8,2h1v2H8V2z M11,1v4h2V2h1v3h1V2h1v3h1V1H11z"></path><polygon fill="#FFFFFF" points="1,5 3,5 3,2 4,2 4,5 5,5 5,1 1,1 "></polygon><path fill="#FFFFFF" d="M6,1v5h2V5h2V1H6z M9,4H8V2h1V4z"></path><polygon fill="#FFFFFF" points="11,1 11,5 13,5 13,2 14,2 14,5 15,5 15,2 16,2 16,5 17,5 17,1 "></polygon></svg>' } %}
        {% include 'link-cards.njk' %}
    </div>
    {% if component.description -%}
        {% set section = { name: 'Usage notes', id: 'usage', description: component.description } %}
        {% include 'section-header.njk' %}
    {%- endif %}
    {% if component.examples %}
        {% set section = { name: 'Variants', id: 'variants' } %}
        {% include 'section-header.njk' %}
        {% for example in component.examples %}
            {% include "example.njk" %}
        {% endfor %}
    {% endif %}
    {% if component.cssVariables and component.cssVariables.mods.length > 0 -%}
        {% set section = { name: 'Modifiable Custom Properties', id: 'mods' } %}
        {% include 'section-header.njk' %}
        <table class="spectrum-Table spectrum-Table--sizeM spectrum-Table--quiet" style="width: 100%;">
            <thead class="spectrum-Table-head">
                <tr>
                    <th class="spectrum-Table-headCell">Property name</th>
                    <th class="spectrum-Table-headCell">Description</th>
                    <th class="spectrum-Table-headCell">Initial value</th>
                </tr>
            </thead>
            <tbody class="spectrum-Table-body">
            {% for mod in component.cssVariables.mods -%}
                <tr class="spectrum-Table-row">
                    <td class="spectrum-Table-cell">
                        <bdo dir="ltr" tabindex="0">{{ mod }}</bdo>
                    </td>
                    <td class="spectrum-Table-cell"></td>
                    <td class="spectrum-Table-cell"></td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if component.sections %}
        {% set section = { name: '', id: '' } %}
        {% for section in component.sections %}
            {% include "section.njk" %}
        {% endfor %}
    {% endif %}
</article>

<script src="/components/{{ component.name | slugify }}/enhancement.js"></script>
