/*
Copyright 2022 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/* closebutton/index.css */

@import "../commons/basebutton.css";

.spectrum-CloseButton {
  /* TODO How does %spectrum-BaseButton work? Check Radio Button */
  @inherit: %spectrum-BaseButton;
  position: relative;
  border-color: transparent;
  border-width: 0;
  color: inherit;

  --spectrum-closebutton-height: var(--spectrum-component-height-100);

  --spectrum-closebutton-focus-ring-thickness: var(--spectrum-focus-ring-thickness);
  --spectrum-closebutton-focus-ring-gap: var(--spectrum-focus-ring-gap);
  --spectrum-closebutton-focus-ring-color: var(--spectrum-focus-ring-color);

  --spectrum-closebutton-black: var(--spectrum-black);
  --spectrum-closebutton-white: var(--spectrum-white);

  --spectrum-closebutton-animation-duration: var(--spectrum-animation-duration-100);
}

.spectrum-Checkbox--sizeS {
  --spectrum-closebutton-height: var(--spectrum-component-height-75);
}

.spectrum-Checkbox--sizeM {
  --spectrum-closebutton-height: var(--spectrum-component-height-100);
}

.spectrum-Checkbox--sizeL {
  --spectrum-closebutton-height: var(--spectrum-component-height-200);
}

.spectrum-Checkbox--sizeXL {
  --spectrum-closebutton-height: var(--spectrum-component-height-300);
}

/* Windows high contrast mode */
@media (forced-colors: active) {}

a.spectrum-CloseButton {
  /* TODO What is %spectrum-AnchorButton? */
  @inherit: %spectrum-AnchorButton;
}

/* special cases for focus-ring */
.spectrum-CloseButton {
  transition: border-color var(--spectrum-closebutton-animation-duration) ease-in-out;

  &:after {
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: calc(var(--spectrum-closebutton-focus-ring-gap) * -1);
    border-radius: calc(var(--spectrum-closebutton-focus-ring-thickness) + var(--spectrum-closebutton-focus-ring-gap));
    transition: box-shadow var(--spectrum-closebutton-animation-duration) ease-in-out;
  }

  &:focus-ring {
    /* kill the default ring */
    box-shadow: none;

    &:after {
      box-shadow: 0 0 0 var(--spectrum-closebutton-focus-ring-thickness) var(--spectrum-closebutton-focus-ring-color);
    }
  }
}

.spectrum-CloseButton--staticWhite {
  --spectrum-closebutton-focus-ring-color: var(--spectrum-white);
}

.spectrum-CloseButton--staticBlack {
  --spectrum-closebutton-focus-ring-color: var(--spectrum-black);
}
