@import '../commons/index.css';

%spectrum-BaseButton {
  display: inline-block;
  box-sizing: border-box;

  /* Show the button overflow in Edge. */
  overflow: visible;

  /* Remove button the margin in Firefox and Safari. */
  margin: 0;

  /* Remove the inheritance of text transform on button in Edge, Firefox, and IE. */
  text-transform: none;
  -webkit-font-smoothing: antialiased;

  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;

  /* Adjacent buttons should be aligned correctly */
  vertical-align: top;

  transition: background var(--spectrum-transition-time) ease-out,
              border-color var(--spectrum-transition-time) ease-out,
              color var(--spectrum-transition-time) ease-out,
              box-shadow var(--spectrum-transition-time) ease-out;

  text-decoration: none;
  text-align: center;
  font-family: var(--spectrum-font-family-base);

  cursor: pointer;

  &:focus {
    outline: none;
  }

  /* Fix Firefox */
  &::-moz-focus-inner {
    border: 0;

    /* Remove the inner border and padding for button in Firefox. */
    border-style: none;
    padding: 0;

    /* Use uppercase PX so values don't get converted to rem */
    margin-top: -2PX;
    margin-bottom: -2PX;
  }

  /* Restore the focus styles unset by the previous rule. */
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
  }

  .spectrum-Icon {
    height: 100%;
    vertical-align: middle;
  }
}

.spectrum-Button {
  @inherit: %spectrum-BaseButton;

  border-width: var(--spectrum-button-primary-border-size);
  border-style: solid;
  border-radius: var(--spectrum-button-primary-border-radius);

  height: var(--spectrum-button-primary-height);

  padding: 0 calc(var(--spectrum-button-primary-padding-x) - var(--spectrum-button-primary-border-size)) 1px; /* 1px to push up text, sits kind of low */

  font-size: var(--spectrum-button-primary-text-size);
  font-weight: var(--spectrum-button-primary-text-font-weight);

  &:hover,
  &:active {
    box-shadow: none;
  }

  .spectrum-Icon + .spectrum-Button-label {
    margin-left: var(--spectrum-button-primary-text-gap);
  }

  /* Space out buttons when placed next to eachother */
  & + .spectrum-Button {
    margin-left: var(--spectrum-margin);
  }
}

a.spectrum-Button {
  /* Remove appearance for clickable types in iOS and Safari. */
  -webkit-appearance: none;
  /* Make link text not selectable  */
  user-select: none;
}

.spectrum-ActionButton {
  @inherit: %spectrum-BaseButton;

  height: var(--spectrum-actionbutton-height);
  min-width: var(--spectrum-actionbutton-min-width);
  padding: 0 var(--spectrum-actionbutton-text-padding-x);

  border-width: var(--spectrum-actionbutton-border-size);
  border-radius: var(--spectrum-actionbutton-border-radius);

  font-size: var(--spectrum-actionbutton-text-size);
  font-weight: var(--spectrum-actionbutton-text-font-weight);

  text-align: center;
}

.spectrum-ActionButton-label,
.spectrum-Button-label {
  display: inline-block;
  height: 100%;
  vertical-align: top;

  &:empty {
    display: none;
  }
}

.spectrum-Button-label {
  line-height: calc(var(--spectrum-button-primary-height) - calc(2 * var(--spectrum-button-primary-border-size)));
}

.spectrum-ActionButton-label {
  line-height: calc(var(--spectrum-actionbutton-height) - calc(2 * var(--spectrum-actionbutton-border-size)));
}

.spectrum-ActionButton--quiet {
  padding: 0 var(--spectrum-actionbutton-text-padding-x);

  border-width: var(--spectrum-actionbutton-quiet-border-size);
  border-radius: var(--spectrum-actionbutton-quiet-border-radius);

  font-size: var(--spectrum-actionbutton-quiet-text-size);
  font-weight: var(--spectrum-actionbutton-quiet-text-font-weight);

  .spectrum-ActionButton-label {
    line-height: calc(var(--spectrum-actionbutton-quiet-height) - calc(2 * var(--spectrum-actionbutton-quiet-border-size)));
  }
}

.spectrum-LogicButton {
  @inherit: %spectrum-BaseButton;

  height: var(--spectrum-logicbutton-and-height);
  padding: var(--spectrum-logicbutton-and-padding-x);

  border-width: var(--spectrum-logicbutton-and-border-size);
  border-radius: var(--spectrum-logicbutton-and-border-radius);

  font-size: var(--spectrum-logicbutton-and-text-size);
  font-weight: var(--spectrum-logicbutton-and-text-font-weight);
  line-height: 0;
}

.spectrum-Button--block {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  min-width: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spectrum-FieldButton {
  @inherit: %spectrum-BaseButton;

  height: var(--spectrum-dropdown-height);

  padding: 0 var(--spectrum-dropdown-padding-x);

  font-family: inherit;
  font-weight: normal;
  font-size: var(--spectrum-dropdown-text-size);
  line-height: normal;
  -webkit-font-smoothing: initial;

  cursor: pointer;
  outline: none;
}

.spectrum-FieldButton {
  margin: 0;
  padding: 0 var(--spectrum-dropdown-padding-x);

  border-width: var(--spectrum-dropdown-border-size);
  border-style: solid;
  border-radius: var(--spectrum-border-radius);

  transition: background-color var(--spectrum-transition-time),
    box-shadow var(--spectrum-transition-time),
    border-color var(--spectrum-transition-time);

  &:disabled,
  &.is-disabled {
    border-width: 0;
    cursor: default;
  }

  &.is-open {
    border-width: var(--spectrum-dropdown-border-size);
  }
}

.spectrum-FieldButton--quiet {
  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0;
}

.spectrum-ClearButton {
  @inherit: %spectrum-BaseButton;

  width: var(--spectrum-clearbutton-medium-width);
  height: var(--spectrum-clearbutton-medium-height);

  padding: 0;
  margin: 0;

  border: none;

  .spectrum-Icon {
    width: var(--spectrum-clearbutton-medium-icon-size);
    height: 100%;
  }
}

.spectrum-ClearButton--small {
  width: var(--spectrum-clearbutton-small-width);
  height: var(--spectrum-clearbutton-small-height);
}

.spectrum-Tool {
  @inherit: .spectrum-ActionButton;
  @inherit: .spectrum-ActionButton--quiet;

  width: var(--spectrum-tool-min-width);
  height: var(--spectrum-tool-height);

  padding: 0;
}
