.spectrum-Button {
  &:focus-ring {
    box-shadow: 0 0 0 calc(var(--spectrum-button-primary-border-size) + var(--spectrum-button-primary-border-size-increase-key-focus)) var(--spectrum-button-primary-border-color-key-focus);
  }

  &:active {
    /* Override focus -- clicking with spacebar should not show outline */
    box-shadow: none;
  }

  &.is-selected .spectrum-Icon {
    color: var(--spectrum-button-primary-icon-color-down);
  }
}

/* topdoc
{{ button/button-cta.yml }}
*/
.spectrum-Button--cta {
  background-color: var(--spectrum-button-cta-background-color);
  border-color: var(--spectrum-button-cta-border-color);
  color: var(--spectrum-button-cta-text-color);

  &:hover {
    background-color: var(--spectrum-button-cta-background-color-hover);
    border-color: var(--spectrum-button-cta-border-color-hover);
    color: var(--spectrum-button-cta-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-cta-background-color-key-focus);
    border-color: var(--spectrum-button-cta-border-color-key-focus);
    color: var(--spectrum-button-cta-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-cta-background-color-down);
    border-color: var(--spectrum-button-cta-border-color-down);
    color: var(--spectrum-button-cta-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-cta-background-color-disabled);
    border-color: var(--spectrum-button-cta-border-color-disabled);
    color: var(--spectrum-button-cta-text-color-disabled);
  }
}

/* topdoc
{{ button/button-primary.yml }}
*/
.spectrum-Button--primary {
  background-color: var(--spectrum-button-primary-background-color);
  border-color: var(--spectrum-button-primary-border-color);
  color: var(--spectrum-button-primary-text-color);

  &:hover {
    background-color: var(--spectrum-button-primary-background-color-hover);
    border-color: var(--spectrum-button-primary-border-color-hover);
    color: var(--spectrum-button-primary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-primary-background-color-key-focus);
    border-color: var(--spectrum-button-primary-border-color-key-focus);
    color: var(--spectrum-button-primary-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-primary-background-color-down);
    border-color: var(--spectrum-button-primary-border-color-down);
    color: var(--spectrum-button-primary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-primary-background-color-disabled);
    border-color: var(--spectrum-button-primary-border-color-disabled);
    color: var(--spectrum-button-primary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-secondary.yml }}
*/
.spectrum-Button--secondary {
  background-color: var(--spectrum-button-secondary-background-color);
  border-color: var(--spectrum-button-secondary-border-color);
  color: var(--spectrum-button-secondary-text-color);

  &:hover {
    background-color: var(--spectrum-button-secondary-background-color-hover);
    border-color: var(--spectrum-button-secondary-border-color-hover);
    color: var(--spectrum-button-secondary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-secondary-background-color-key-focus);
    border-color: var(--spectrum-button-secondary-border-color-key-focus);
    color: var(--spectrum-button-secondary-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-secondary-background-color-down);
    border-color: var(--spectrum-button-secondary-border-color-down);
    color: var(--spectrum-button-secondary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-secondary-background-color-disabled);
    border-color: var(--spectrum-button-secondary-border-color-disabled);
    color: var(--spectrum-button-secondary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-warning.yml }}
*/
.spectrum-Button--warning {
  background-color: var(--spectrum-button-warning-background-color);
  border-color: var(--spectrum-button-warning-border-color);
  color: var(--spectrum-button-warning-text-color);

  &:hover {
    background-color: var(--spectrum-button-warning-background-color-hover);
    border-color: var(--spectrum-button-warning-border-color-hover);
    color: var(--spectrum-button-warning-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-warning-background-color-key-focus);
    border-color: var(--spectrum-button-warning-border-color-key-focus);
    color: var(--spectrum-button-warning-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-warning-background-color-down);
    border-color: var(--spectrum-button-warning-border-color-down);
    color: var(--spectrum-button-warning-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-warning-background-color-disabled);
    border-color: var(--spectrum-button-warning-border-color-disabled);
    color: var(--spectrum-button-warning-text-color-disabled);
  }
}

/* topdoc
{{ button/button-overbackground.yml }}
*/
.spectrum-Button--overBackground {
  background-color: var(--spectrum-button-over-color-background-color);
  border-color: var(--spectrum-button-over-color-border-color);
  color: var(--spectrum-button-over-color-text-color);

  &:hover {
    background-color: var(--spectrum-button-over-color-background-color-hover);
    border-color: var(--spectrum-button-over-color-border-color-hover);
    color: inherit;
  }

  &:focus-ring {
    background-color: var(--spectrum-button-over-color-background-color-key-focus);
    border-color: var(--spectrum-button-over-color-border-color-key-focus);
    color: inherit;
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-button-over-color-border-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-over-color-background-color-down);
    border-color: var(--spectrum-button-over-color-border-color-down);
    color: inherit;
    box-shadow: none;
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-over-color-background-color-disabled);
    border-color: var(--spectrum-button-over-color-border-color-disabled);
    color: var(--spectrum-button-over-color-text-color-disabled);
  }
}

/* topdoc
{{ button/button-quiet-overbackground.yml }}
*/
.spectrum-Button--quiet--overBackground {
  background-color: var(--spectrum-button-quiet-over-color-background-color);
  border-color: var(--spectrum-button-quiet-over-color-border-color);
  color: var(--spectrum-button-quiet-over-color-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-over-color-background-color-hover);
    border-color: var(--spectrum-button-quiet-over-color-border-color-hover);
    color: var(--spectrum-button-quiet-over-color-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-over-color-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-over-color-border-color-key-focus);
    color: inherit;
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-button-quiet-over-color-border-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-over-color-background-color-down);
    border-color: var(--spectrum-button-quiet-over-color-border-color-down);
    color: var(--spectrum-button-quiet-over-color-text-color-down);
    box-shadow: none;
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-over-color-background-color-disabled);
    border-color: var(--spectrum-button-quiet-over-color-border-color-disabled);
    color: var(--spectrum-button-quiet-over-color-text-color-disabled);
  }
}

/* topdoc
{{ button/button-quiet-primary.yml }}
*/
.spectrum-Button--quiet--primary {
  background-color: var(--spectrum-button-quiet-primary-background-color);
  border-color: var(--spectrum-button-quiet-primary-border-color);
  color: var(--spectrum-button-quiet-primary-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-primary-background-color-hover);
    border-color: var(--spectrum-button-quiet-primary-border-color-hover);
    color: var(--spectrum-button-quiet-primary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-primary-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-primary-border-color-key-focus);
    color: var(--spectrum-button-quiet-primary-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-primary-background-color-down);
    border-color: var(--spectrum-button-quiet-primary-border-color-down);
    color: var(--spectrum-button-quiet-primary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-primary-background-color-disabled);
    border-color: var(--spectrum-button-quiet-primary-border-color-disabled);
    color: var(--spectrum-button-quiet-primary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-quiet-secondary.yml }}
*/
.spectrum-Button--quiet--secondary {
  background-color: var(--spectrum-button-quiet-secondary-background-color);
  border-color: var(--spectrum-button-quiet-secondary-border-color);
  color: var(--spectrum-button-quiet-secondary-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-secondary-background-color-hover);
    border-color: var(--spectrum-button-quiet-secondary-border-color-hover);
    color: var(--spectrum-button-quiet-secondary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-secondary-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-secondary-border-color-key-focus);
    color: var(--spectrum-button-quiet-secondary-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-secondary-background-color-down);
    border-color: var(--spectrum-button-quiet-secondary-border-color-down);
    color: var(--spectrum-button-quiet-secondary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-secondary-background-color-disabled);
    border-color: var(--spectrum-button-quiet-secondary-border-color-disabled);
    color: var(--spectrum-button-quiet-secondary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-action.yml }}
*/
.spectrum-Button--action {
  background-color: var(--spectrum-actionbutton-background-color);
  border-color: var(--spectrum-actionbutton-border-color);
  color: var(--spectrum-actionbutton-text-color);

  &:hover {
    background-color: var(--spectrum-actionbutton-background-color-hover);
    border-color: var(--spectrum-actionbutton-border-color-hover);
    box-shadow: none;
    color: var(--spectrum-actionbutton-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-actionbutton-background-color-key-focus);
    border-color: var(--spectrum-actionbutton-border-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-actionbutton-border-color-key-focus);
    color: var(--spectrum-actionbutton-text-color-key-focus);
  }

  &:active,
  &.is-selected {
    background-color: var(--spectrum-actionbutton-background-color-down);
    border-color: var(--spectrum-actionbutton-border-color-down);
    box-shadow: none;
    color: var(--spectrum-actionbutton-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-actionbutton-background-color-disabled);
    border-color: var(--spectrum-actionbutton-border-color-disabled);
    color: var(--spectrum-actionbutton-text-color-disabled);
  }
}

/* topdoc
{{ button/button-quietaction.yml }}
*/
.spectrum-Button--quiet--action {
  background-color: var(--spectrum-actionbutton-quiet-background-color);
  color: var(--spectrum-actionbutton-quiet-text-color);

  &.is-selected {
    color: var(--spectrum-actionbutton-quiet-text-color-selected);
  }

  &:hover {
    background-color: var(--spectrum-actionbutton-quiet-background-color-hover);
    box-shadow: none;
    color: var(--spectrum-actionbutton-quiet-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-actionbutton-quiet-background-color-key-focus);
    box-shadow: 0 0 0 2px var(--spectrum-actionbutton-quiet-border-color-key-focus);
    color: var(--spectrum-actionbutton-quiet-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-actionbutton-quiet-background-color-down);
    box-shadow: none;
    color: var(--spectrum-actionbutton-quiet-text-color-down);
  }

  /* Make sure background color overrides hover and active */
  &.is-selected {
    background-color: var(--spectrum-actionbutton-quiet-background-color-selected);
  }

  &:disabled,
  &[disabled] {
    background-color: var(--spectrum-button-quiet-warning-background-color-disabled);
    color: var(--spectrum-button-quiet-warning-text-color-disabled);
  }
}

/* topdoc
{{ button/button-toggle.yml }}
*/
.spectrum-Button--toggle {
  background-color: var(--spectrum-button-toggle-off-background-color);
  border-color: var(--spectrum-button-toggle-off-border-color);
  color: var(--spectrum-button-toggle-off-text-color);

  &:hover {
    background-color: var(--spectrum-button-toggle-off-background-color-hover);
    border-color: var(--spectrum-button-toggle-off-border-color-hover);
    color: var(--spectrum-button-toggle-off-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-toggle-off-background-color-key-focus);
    border-color: var(--spectrum-button-toggle-off-border-color-key-focus);
    color: var(--spectrum-button-toggle-off-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-toggle-off-background-color-down);
    border-color: var(--spectrum-button-toggle-off-border-color-down);
    color: var(--spectrum-button-toggle-off-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-toggle-off-background-color-disabled);
    border-color: var(--spectrum-button-toggle-off-border-color-disabled);
    color: var(--spectrum-button-toggle-off-text-color-disabled);
  }

  &.is-selected {
    background-color: var(--spectrum-button-toggle-on-background-color);
    border-color: var(--spectrum-button-toggle-on-border-color);
    color: var(--spectrum-button-toggle-on-text-color);
  }

  &.is-selected:focus-ring {
    background-color: var(--spectrum-button-toggle-on-background-color-key-focus);
    border-color: var(--spectrum-button-toggle-on-border-color-key-focus);
    color: var(--spectrum-button-toggle-on-text-color-key-focus);
  }

  &.is-selected:hover {
    background-color: var(--spectrum-button-toggle-on-background-color-hover);
    border-color: var(--spectrum-button-toggle-on-border-color-hover);
    color: var(--spectrum-button-toggle-on-text-color-hover);
  }

  &.is-selected:active {
    background-color: var(--spectrum-button-toggle-on-background-color-down);
    border-color: var(--spectrum-button-toggle-on-border-color-down);
    color: var(--spectrum-button-toggle-on-text-color-down);
  }

  &.is-selected:disabled,
  &.is-selected.is-disabled {
    background-color: var(--spectrum-button-toggle-on-background-color-disabled);
    border-color: var(--spectrum-button-toggle-on-border-color-disabled);
    color: var(--spectrum-button-toggle-on-text-color-disabled);
  }

}

/* topdoc
{{ button/button-quiet-warning.yml }}
*/
.spectrum-Button--quiet--warning {
  background-color: var(--spectrum-button-quiet-warning-background-color);
  border-color: var(--spectrum-button-quiet-warning-border-color);
  color: var(--spectrum-button-quiet-warning-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-warning-background-color-hover);
    border-color: var(--spectrum-button-quiet-warning-border-color-hover);
    color: var(--spectrum-button-quiet-warning-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-warning-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-warning-border-color-key-focus);
    color: var(--spectrum-button-quiet-warning-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-warning-background-color-down);
    border-color: var(--spectrum-button-quiet-warning-border-color-down);
    color: var(--spectrum-button-quiet-warning-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-warning-background-color-disabled);
    border-color: var(--spectrum-button-quiet-warning-border-color-disabled);
    color: var(--spectrum-button-quiet-warning-text-color-disabled);
  }
}

/* topdoc
{{ button/logicbutton-and.yml }}
*/

.spectrum-Button--logic--and {
  background-color: var(--spectrum-logicbutton-and-background-color);
  border-color: var(--spectrum-logicbutton-and-border-color);
  color: var(--spectrum-logicbutton-text-color);

  &:hover {
    background-color: var(--spectrum-logicbutton-and-background-color-hover);
    border-color: var(--spectrum-logicbutton-and-border-color-hover);
    color: var(--spectrum-logicbutton-text-color);
  }

  &:focus-ring {
    background-color: var(--spectrum-logicbutton-and-background-color-key-focus);
    border-color: var(--spectrum-logicbutton-and-border-color-key-focus);
    color: var(--spectrum-logicbutton-text-color);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-logicbutton-and-background-color-disabled);
    border-color: var(--spectrum-logicbutton-and-border-color-disabled);
    color: var(--spectrum-logicbutton-text-color-disabled);
  }
}

/* topdoc
{{ button/logicbutton-or.yml }}
*/
.spectrum-Button--logic--or {
  background-color: var(--spectrum-logicbutton-or-background-color);
  border-color: var(--spectrum-logicbutton-or-border-color);
  color: var(--spectrum-logicbutton-text-color);

  &:hover {
    background-color: var(--spectrum-logicbutton-or-background-color-hover);
    border-color: var(--spectrum-logicbutton-or-border-color-hover);
    color: var(--spectrum-logicbutton-text-color);
  }

  &:focus-ring {
    background-color: var(--spectrum-logicbutton-or-background-color-key-focus);
    border-color: var(--spectrum-logicbutton-or-border-color-key-focus);
    color: var(--spectrum-logicbutton-text-color);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-secondary-background-color-disabled);
    border-color: var(--spectrum-button-secondary-border-color-disabled);
    color: var(--spectrum-logicbutton-text-color-disabled);
  }
}

/* topdoc
{{ button/button-icon.yml }}
*/
.spectrum-Button--icon {
  color: var(--spectrum-button-icon-icon-color);

  &:hover {
    color: var(--spectrum-button-icon-icon-color-hover);
  }

  &:focus-ring {
    color: var(--spectrum-button-icon-icon-color-key-focus);
  }

  &:active {
    color: var(--spectrum-button-icon-icon-color-down);

    &::before {
      background-color: var(--spectrum-button-icon-background-color-down);
    }
  }

  &:disabled {
    color: var(--spectrum-button-icon-icon-color-disabled);
  }
}

.spectrum-Button--dropdown {
  color: var(--spectrum-dropdown-text-color);
  background-color: var(--spectrum-dropdown-background-color);
  border-color: var(--spectrum-dropdown-border-color);

  &:hover {
    color: var(--spectrum-dropdown-text-color-hover);
    background-color: var(--spectrum-dropdown-background-color-hover);
    border-color: var(--spectrum-dropdown-border-color-hover);
  }

  &:focus-ring,
  &.is-focused {
    border-color: var(--spectrum-dropdown-border-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-dropdown-border-color-key-focus);
  }

  &:active,
  &.is-selected {
    background-color: var(--spectrum-dropdown-background-color-open);
    border-color: var(--spectrum-dropdown-border-color-open);

    &:focus-ring,
    &.is-focused {
      box-shadow: none;
    }
  }

  &.is-invalid {
    border-color: var(--spectrum-dropdown-border-color-invalid);

    &:focus-ring,
    &.is-focused {
      border-color: var(--spectrum-dropdown-border-color-invalid);
      box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-dropdown-border-color-invalid);
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-dropdown-background-color-disabled);
    color: var(--spectrum-dropdown-text-color-disabled);

    &:focus-ring {
      box-shadow: none;
    }
  }
}

.spectrum-Button--quiet--dropdown {
  color: var(--spectrum-dropdown-text-color);
  border-color: var(--spectrum-dropdown-quiet-border-color);
  background-color: var(--spectrum-dropdown-quiet-background-color);

  &:hover {
    color: var(--spectrum-dropdown-text-color-hover);
  }

  &:focus-ring,
  &.is-focused {
    box-shadow: 0 2px 0 0 var(--spectrum-dropdown-border-color-key-focus);
  }

  &.is-invalid {
    &:focus-ring,
    &.is-focused {
      box-shadow: 0 2px 0 0 var(--spectrum-dropdown-border-color-invalid);
    }
  }

  &:disabled,
  &.is-disabled {
    color: var(--spectrum-dropdown-text-color-disabled);

    &:focus-ring {
      box-shadow: none;
    }
  }
}
