.spectrum-Button {
  &:focus-ring {
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-button-primary-border-color-key-focus);
  }

  &:active {
    /* Override focus -- clicking with spacebar should not show outline */
    box-shadow: none;
  }
}

/* topdoc
{{ button/button-cta.yml }}
*/
.spectrum-Button--cta {
  background-color: var(--spectrum-button-cta-background-color);
  border-color: var(--spectrum-button-cta-border-color);
  color: var(--spectrum-button-cta-text-color);

  &:hover {
    background-color: var(--spectrum-button-cta-background-color-hover);
    border-color: var(--spectrum-button-cta-border-color-hover);
    color: var(--spectrum-button-cta-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-cta-background-color-key-focus);
    border-color: var(--spectrum-button-cta-border-color-key-focus);
    color: var(--spectrum-button-cta-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-cta-background-color-down);
    border-color: var(--spectrum-button-cta-border-color-down);
    color: var(--spectrum-button-cta-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-cta-background-color-disabled);
    border-color: var(--spectrum-button-cta-border-color-disabled);
    color: var(--spectrum-button-cta-text-color-disabled);
  }
}

/* topdoc
{{ button/button-primary.yml }}
*/
.spectrum-Button--primary {
  background-color: var(--spectrum-button-primary-background-color);
  border-color: var(--spectrum-button-primary-border-color);
  color: var(--spectrum-button-primary-text-color);

  &:hover {
    background-color: var(--spectrum-button-primary-background-color-hover);
    border-color: var(--spectrum-button-primary-border-color-hover);
    color: var(--spectrum-button-primary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-primary-background-color-key-focus);
    border-color: var(--spectrum-button-primary-border-color-key-focus);
    color: var(--spectrum-button-primary-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-primary-background-color-down);
    border-color: var(--spectrum-button-primary-border-color-down);
    color: var(--spectrum-button-primary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-primary-background-color-disabled);
    border-color: var(--spectrum-button-primary-border-color-disabled);
    color: var(--spectrum-button-primary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-secondary.yml }}
*/
.spectrum-Button--secondary {
  background-color: var(--spectrum-button-secondary-background-color);
  border-color: var(--spectrum-button-secondary-border-color);
  color: var(--spectrum-button-secondary-text-color);

  &:hover {
    background-color: var(--spectrum-button-secondary-background-color-hover);
    border-color: var(--spectrum-button-secondary-border-color-hover);
    color: var(--spectrum-button-secondary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-secondary-background-color-key-focus);
    border-color: var(--spectrum-button-secondary-border-color-key-focus);
    color: var(--spectrum-button-secondary-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-secondary-background-color-down);
    border-color: var(--spectrum-button-secondary-border-color-down);
    color: var(--spectrum-button-secondary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-secondary-background-color-disabled);
    border-color: var(--spectrum-button-secondary-border-color-disabled);
    color: var(--spectrum-button-secondary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-warning.yml }}
*/
.spectrum-Button--warning {
  background-color: var(--spectrum-button-warning-background-color);
  border-color: var(--spectrum-button-warning-border-color);
  color: var(--spectrum-button-warning-text-color);

  &:hover {
    background-color: var(--spectrum-button-warning-background-color-hover);
    border-color: var(--spectrum-button-warning-border-color-hover);
    color: var(--spectrum-button-warning-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-warning-background-color-key-focus);
    border-color: var(--spectrum-button-warning-border-color-key-focus);
    color: var(--spectrum-button-warning-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-warning-background-color-down);
    border-color: var(--spectrum-button-warning-border-color-down);
    color: var(--spectrum-button-warning-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-warning-background-color-disabled);
    border-color: var(--spectrum-button-warning-border-color-disabled);
    color: var(--spectrum-button-warning-text-color-disabled);
  }
}

/* topdoc
{{ button/button-overbackground.yml }}
*/
.spectrum-Button--overBackground {
  background-color: var(--spectrum-button-over-background-background-color);
  border-color: var(--spectrum-button-over-background-border-color);
  color: var(--spectrum-button-over-background-text-color);

  &:hover {
    background-color: var(--spectrum-button-over-background-background-color-hover);
    border-color: var(--spectrum-button-over-background-border-color-hover);
    color: inherit;
  }

  &:focus-ring {
    background-color: var(--spectrum-button-over-background-background-color-key-focus);
    border-color: var(--spectrum-button-over-background-border-color-key-focus);
    color: inherit;
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-button-over-background-border-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-over-background-background-color-down);
    border-color: var(--spectrum-button-over-background-border-color-down);
    color: inherit;
    box-shadow: none;
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-over-background-background-color-disabled);
    border-color: var(--spectrum-button-over-background-border-color-disabled);
    color: var(--spectrum-button-over-background-text-color-disabled);
  }
}

/* topdoc
{{ button/button-quiet-overbackground.yml }}
*/
.spectrum-Button--quiet--overBackground {
  background-color: var(--spectrum-button-quiet-over-background-background-color);
  border-color: var(--spectrum-button-quiet-over-background-border-color);
  color: var(--spectrum-button-quiet-over-background-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-over-background-background-color-hover);
    border-color: var(--spectrum-button-quiet-over-background-border-color-hover);
    color: var(--spectrum-button-quiet-over-background-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-over-background-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-over-background-border-color-key-focus);
    color: inherit;
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-button-quiet-over-background-border-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-over-background-background-color-down);
    border-color: var(--spectrum-button-quiet-over-background-border-color-down);
    color: var(--spectrum-button-quiet-over-background-text-color-down);
    box-shadow: none;
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-over-background-background-color-disabled);
    border-color: var(--spectrum-button-quiet-over-background-border-color-disabled);
    color: var(--spectrum-button-quiet-over-background-text-color-disabled);
  }
}

/* topdoc
{{ button/button-quiet-primary.yml }}
*/
.spectrum-Button--quiet--primary {
  background-color: var(--spectrum-button-quiet-primary-background-color);
  border-color: var(--spectrum-button-quiet-primary-border-color);
  color: var(--spectrum-button-quiet-primary-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-primary-background-color-hover);
    border-color: var(--spectrum-button-quiet-primary-border-color-hover);
    color: var(--spectrum-button-quiet-primary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-primary-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-primary-border-color-key-focus);
    color: var(--spectrum-button-quiet-primary-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-primary-background-color-down);
    border-color: var(--spectrum-button-quiet-primary-border-color-down);
    color: var(--spectrum-button-quiet-primary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-primary-background-color-disabled);
    border-color: var(--spectrum-button-quiet-primary-border-color-disabled);
    color: var(--spectrum-button-quiet-primary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-quiet-secondary.yml }}
*/
.spectrum-Button--quiet--secondary {
  background-color: var(--spectrum-button-quiet-secondary-background-color);
  border-color: var(--spectrum-button-quiet-secondary-border-color);
  color: var(--spectrum-button-quiet-secondary-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-secondary-background-color-hover);
    border-color: var(--spectrum-button-quiet-secondary-border-color-hover);
    color: var(--spectrum-button-quiet-secondary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-secondary-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-secondary-border-color-key-focus);
    color: var(--spectrum-button-quiet-secondary-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-secondary-background-color-down);
    border-color: var(--spectrum-button-quiet-secondary-border-color-down);
    color: var(--spectrum-button-quiet-secondary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-secondary-background-color-disabled);
    border-color: var(--spectrum-button-quiet-secondary-border-color-disabled);
    color: var(--spectrum-button-quiet-secondary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-action.yml }}
*/
.spectrum-ActionButton {
  background-color: var(--spectrum-actionbutton-background-color);
  border-color: var(--spectrum-actionbutton-border-color);
  color: var(--spectrum-actionbutton-text-color);

  &:hover {
    background-color: var(--spectrum-actionbutton-background-color-hover);
    border-color: var(--spectrum-actionbutton-border-color-hover);
    box-shadow: none;
    color: var(--spectrum-actionbutton-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-actionbutton-background-color-key-focus);
    border-color: var(--spectrum-actionbutton-border-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-actionbutton-border-color-key-focus);
    color: var(--spectrum-actionbutton-text-color-key-focus);
  }

  &:active,
  &.is-selected {
    background-color: var(--spectrum-actionbutton-background-color-down);
    border-color: var(--spectrum-actionbutton-border-color-down);
    box-shadow: none;
    color: var(--spectrum-actionbutton-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-actionbutton-background-color-disabled);
    border-color: var(--spectrum-actionbutton-border-color-disabled);
    color: var(--spectrum-actionbutton-text-color-disabled);
  }

  &.is-selected {
    background-color: var(--spectrum-actionbutton-background-color-selected);
    border-color: var(--spectrum-actionbutton-border-color-selected);
    color: var(--spectrum-actionbutton-text-color-selected);
  }

  &.is-selected:focus-ring {
    background-color: var(--spectrum-actionbutton-background-color-selected-key-focus);
    border-color: var(--spectrum-actionbutton-border-color-selected-key-focus);
    color: var(--spectrum-actionbutton-text-color-selected-key-focus);
  }

  &.is-selected:hover {
    background-color: var(--spectrum-actionbutton-background-color-selected-hover);
    border-color: var(--spectrum-actionbutton-border-color-selected-hover);
    color: var(--spectrum-actionbutton-text-color-selected-hover);
  }

  &.is-selected:active {
    background-color: var(--spectrum-actionbutton-background-color-selected-down);
    border-color: var(--spectrum-actionbutton-border-color-selected-down);
    color: var(--spectrum-actionbutton-text-color-selected-down);
  }

  &.is-selected:disabled,
  &.is-selected.is-disabled {
    background-color: var(--spectrum-actionbutton-background-color-selected-disabled);
    border-color: var(--spectrum-actionbutton-border-color-selected-disabled);
    color: var(--spectrum-actionbutton-text-color-selected-disabled);
  }
}

/* topdoc
{{ button/button-quietaction.yml }}
*/
.spectrum-ActionButton--quiet {
  background-color: var(--spectrum-actionbutton-quiet-background-color);
  color: var(--spectrum-actionbutton-quiet-text-color);

  &.is-selected {
    color: var(--spectrum-actionbutton-quiet-text-color-selected);
  }

  &:hover {
    background-color: var(--spectrum-actionbutton-quiet-background-color-hover);
    box-shadow: none;
    color: var(--spectrum-actionbutton-quiet-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-actionbutton-quiet-background-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-actionbutton-quiet-border-size-key-focus) var(--spectrum-actionbutton-quiet-border-color-key-focus);
    color: var(--spectrum-actionbutton-quiet-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-actionbutton-quiet-background-color-down);
    box-shadow: none;
    color: var(--spectrum-actionbutton-quiet-text-color-down);
  }


  &:disabled,
  &[disabled] {
    background-color: var(--spectrum-actionbutton-quiet-background-color-disabled);
    color: var(--spectrum-actionbutton-quiet-text-color-disabled);
  }

  &.is-selected {
    background-color: var(--spectrum-actionbutton-quiet-background-color-selected);
    border-color: var(--spectrum-actionbutton-quiet-border-color-selected);
    color: var(--spectrum-actionbutton-quiet-text-color-selected);
  }

  &.is-selected:focus-ring {
    background-color: var(--spectrum-actionbutton-quiet-background-color-selected-key-focus);
    border-color: var(--spectrum-actionbutton-quiet-border-color-selected-key-focus);
    color: var(--spectrum-actionbutton-quiet-text-color-selected-key-focus);
  }

  &.is-selected:hover {
    background-color: var(--spectrum-actionbutton-quiet-background-color-selected-hover);
    border-color: var(--spectrum-actionbutton-quiet-border-color-selected-hover);
    color: var(--spectrum-actionbutton-quiet-text-color-selected-hover);
  }

  &.is-selected:active {
    background-color: var(--spectrum-actionbutton-quiet-background-color-selected-down);
    border-color: var(--spectrum-actionbutton-quiet-border-color-selected-down);
    color: var(--spectrum-actionbutton-quiet-text-color-selected-down);
  }

  &.is-selected:disabled,
  &.is-selected.is-disabled {
    background-color: var(--spectrum-actionbutton-quiet-background-color-selected-disabled);
    border-color: var(--spectrum-actionbutton-quiet-border-color-selected-disabled);
    color: var(--spectrum-actionbutton-quiet-text-color-selected-disabled);
  }
}

/* topdoc
{{ button/button-quiet-warning.yml }}
*/
.spectrum-Button--quiet--warning {
  background-color: var(--spectrum-button-quiet-warning-background-color);
  border-color: var(--spectrum-button-quiet-warning-border-color);
  color: var(--spectrum-button-quiet-warning-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-warning-background-color-hover);
    border-color: var(--spectrum-button-quiet-warning-border-color-hover);
    color: var(--spectrum-button-quiet-warning-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-warning-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-warning-border-color-key-focus);
    color: var(--spectrum-button-quiet-warning-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-warning-background-color-down);
    border-color: var(--spectrum-button-quiet-warning-border-color-down);
    color: var(--spectrum-button-quiet-warning-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-warning-background-color-disabled);
    border-color: var(--spectrum-button-quiet-warning-border-color-disabled);
    color: var(--spectrum-button-quiet-warning-text-color-disabled);
  }
}

/* topdoc
{{ button/logicbutton.yml }}
*/

.spectrum-LogicButton--and {
  background-color: var(--spectrum-logicbutton-and-background-color);
  border-color: var(--spectrum-logicbutton-and-border-color);
  color: var(--spectrum-logicbutton-and-text-color);

  &:hover {
    background-color: var(--spectrum-logicbutton-and-background-color-hover);
    border-color: var(--spectrum-logicbutton-and-border-color-hover);
    color: var(--spectrum-logicbutton-and-text-color);
  }

  &:focus-ring {
    background-color: var(--spectrum-logicbutton-and-background-color-key-focus);
    border-color: var(--spectrum-logicbutton-and-border-color-key-focus);
    color: var(--spectrum-logicbutton-and-text-color);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-logicbutton-and-background-color-disabled);
    border-color: var(--spectrum-logicbutton-and-border-color-disabled);
    color: var(--spectrum-logicbutton-and-text-color-disabled);
  }
}

.spectrum-LogicButton--or {
  background-color: var(--spectrum-logicbutton-or-background-color);
  border-color: var(--spectrum-logicbutton-or-border-color);
  color: var(--spectrum-logicbutton-or-text-color);

  &:hover {
    background-color: var(--spectrum-logicbutton-or-background-color-hover);
    border-color: var(--spectrum-logicbutton-or-border-color-hover);
    color: var(--spectrum-logicbutton-or-text-color);
  }

  &:focus-ring {
    background-color: var(--spectrum-logicbutton-or-background-color-key-focus);
    border-color: var(--spectrum-logicbutton-or-border-color-key-focus);
    color: var(--spectrum-logicbutton-or-text-color);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-secondary-background-color-disabled);
    border-color: var(--spectrum-button-secondary-border-color-disabled);
    color: var(--spectrum-logicbutton-and-text-color-disabled);
  }
}

/* topdoc
{{ button/button-icon.yml }}
*/

.spectrum-FieldButton {
  color: var(--spectrum-dropdown-text-color);
  background-color: var(--spectrum-dropdown-background-color);
  border-color: var(--spectrum-dropdown-border-color);

  &:hover {
    color: var(--spectrum-dropdown-text-color-hover);
    background-color: var(--spectrum-dropdown-background-color-hover);
    border-color: var(--spectrum-dropdown-border-color-hover);
  }

  &:focus-ring,
  &.is-focused {
    border-color: var(--spectrum-dropdown-border-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-dropdown-border-color-key-focus);
  }

  &:active,
  &.is-selected {
    background-color: var(--spectrum-dropdown-background-color-down);
    border-color: var(--spectrum-dropdown-border-color-down);

    &:focus-ring,
    &.is-focused {
      box-shadow: none;
    }
  }

  &.is-invalid {
    border-color: var(--spectrum-dropdown-border-color-error);

    &:focus-ring,
    &.is-focused {
      border-color: var(--spectrum-dropdown-border-color-error);
      box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-dropdown-border-color-error);
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-dropdown-background-color-disabled);
    color: var(--spectrum-dropdown-text-color-disabled);

    &:focus-ring {
      box-shadow: none;
    }
  }
}

.spectrum-FieldButton--quiet {
  color: var(--spectrum-dropdown-text-color);
  border-color: var(--spectrum-dropdown-quiet-border-color);
  background-color: var(--spectrum-dropdown-quiet-background-color);

  &:hover {
    background-color: var(--spectrum-dropdown-quiet-background-color-hover);
    color: var(--spectrum-dropdown-text-color-hover);
  }

  &:focus-ring,
  &.is-focused {
    background-color: var(--spectrum-dropdown-quiet-background-color-key-focus);
    box-shadow: 0 2px 0 0 var(--spectrum-dropdown-border-color-key-focus);
  }

  &:active,
  &.is-selected {
    background-color: var(--spectrum-dropdown-quiet-background-color-down);
    border-color: var(--spectrum-dropdown-quiet-border-color-down);

    &:focus-ring,
    &.is-focused {
      box-shadow: none;
    }
  }

  &.is-invalid {
    &:focus-ring,
    &.is-focused {
      box-shadow: 0 2px 0 0 var(--spectrum-dropdown-border-color-error);
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-dropdown-quiet-background-color-disabled);
    color: var(--spectrum-dropdown-text-color-disabled);

    &:focus-ring {
      box-shadow: none;
    }
  }
}

.spectrum-ClearButton {
  background-color: var(--spectrum-clearbutton-medium-background-color);

  color: var(--spectrum-clearbutton-medium-icon-color);

  &:hover {
    background-color: var(--spectrum-clearbutton-medium-background-color-hover);

    color: var(--spectrum-clearbutton-medium-icon-color-hover);
  }

  &:active {
    background-color: var(--spectrum-clearbutton-medium-background-color-down);

    color: var(--spectrum-clearbutton-medium-icon-color-down);
  }

  &:focus-ring {
    background-color: var(--spectrum-clearbutton-medium-background-color-key-focus);

    color: var(--spectrum-clearbutton-medium-icon-color-key-focus);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-clearbutton-medium-background-color-disabled);

    color: var(--spectrum-clearbutton-medium-icon-color-disabled);
  }
}

.spectrum-Tool {
  @inherit: .spectrum-ActionButton;
  @inherit: .spectrum-ActionButton--quiet;

  &.is-selected {
    color: var(--spectrum-tool-icon-color-selected);

    .spectrum-Tool-hold {
      color: var(--spectrum-tool-hold-icon-color-selected);
    }

    &:hover {
      color: var(--spectrum-tool-icon-color-selected-hover);

      .spectrum-Tool-hold {
        color: var(--spectrum-tool-hold-icon-color-selected-hover);
      }
    }

    &:active {
      color: var(--spectrum-tool-icon-color-selected-down);

      .spectrum-Tool-hold {
        color: var(--spectrum-tool-hold-icon-color-selected-down);
      }
    }

    &:focus-ring {
      color: var(--spectrum-tool-icon-color-selected-key-focus);

      .spectrum-Tool-hold {
        color: var(--spectrum-tool-hold-icon-color-selected-key-focus);
      }
    }

    &:disabled,
    &.is-disabled {
      background-color: var(--spectrum-actionbutton-quiet-background-color-selected-disabled);
      border-color: var(--spectrum-actionbutton-quiet-border-color-selected-disabled);
      color: var(--spectrum-actionbutton-quiet-text-color-selected-disabled);

      .spectrum-Tool-hold {
        color: var(--spectrum-tool-hold-icon-color-disabled);
      }
    }
  }

  .spectrum-Tool-hold {
    color: var(--spectrum-tool-hold-icon-color);
  }

  &:hover {
    .spectrum-Tool-hold {
      color: var(--spectrum-tool-hold-icon-color-hover);
    }
  }

  &:active {
    .spectrum-Tool-hold {
      color: var(--spectrum-tool-hold-icon-color-down);
    }
  }

  &:focus-ring {
    .spectrum-Tool-hold {
      color: var(--spectrum-tool-hold-icon-color-key-focus);
    }
  }

  &.is-disabled,
  &:disabled {
    .spectrum-Tool-hold {
      color: var(--spectrum-tool-hold-icon-color-disabled);
    }
  }
}
