/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

%spectrum-BaseButton {
	cursor: pointer;
	user-select: none;

	/* Contain halo */
	position: relative;

	/* Show the button overflow in Edge. */
	overflow: visible;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	/* Remove button the margin in Firefox and Safari. */
	margin: 0;

	font-family: var(--mod-sans-font-family-stack, var(--spectrum-sans-font-family-stack));
	line-height: var(--mod-line-height-100, var(--spectrum-line-height-100));
	text-decoration: none;

	/* Remove the inheritance of text transform on button in Edge, Firefox, and IE. */
	text-transform: none;

	/* Adjacent buttons should be aligned correctly */
	vertical-align: top;

	/* Correct the inability to style clickable types in iOS and Safari. */
	appearance: button;
	border-style: solid;

	transition:
		background var(--mod-animation-duration-100, var(--spectrum-animation-duration-100)) ease-out,
		border-color var(--mod-animation-duration-100, var(--spectrum-animation-duration-100)) ease-out,
		color var(--mod-animation-duration-100, var(--spectrum-animation-duration-100)) ease-out,
		box-shadow var(--mod-animation-duration-100, var(--spectrum-animation-duration-100)) ease-out;

	-webkit-font-smoothing: antialiased;

	/* Font smoothing for Firefox */
	-moz-osx-font-smoothing: grayscale;

	/* Fix Firefox */
	&::-moz-focus-inner {
		/* Use uppercase PX so values don't get converted to rem */
		margin-block-start: -2px;
		margin-block-end: -2px;
		padding: 0;

		border: 0;

		/* Remove the inner border and padding for button in Firefox. */
		border-style: none;
	}

	&:focus {
		outline: none;
	}

	&:disabled,
	&.is-disabled {
		cursor: default;
	}
}

%spectrum-ButtonIcon {
	flex-shrink: 0;
	max-block-size: 100%;
}

%spectrum-ButtonWithFocusRing {
	&::after {
		content: "";

		position: absolute;
		inset-block-start: 0;
		inset-block-end: 0;
		inset-inline-start: 0;
		inset-inline-end: 0;

		display: block;

		margin: calc(var(--mod-focus-indicator-gap, var(--spectrum-focus-indicator-gap)) * -1);

		transition:
			opacity var(--mod-animation-duration-100, var(--spectrum-animation-duration-100)) ease-out,
			margin var(--mod-animation-duration-100, var(--spectrum-animation-duration-100)) ease-out;
	}

	&:focus-visible {
		&::after {
			margin: calc(var(--mod-focus-indicator-gap, var(--spectrum-focus-indicator-gap)) * -2);
		}
	}
}

%spectrum-AnchorButton {
	/* Make link text not selectable  */
	user-select: none;

	/* Remove appearance for clickable types in iOS and Safari. */
	appearance: none;
}

%spectrum-ButtonLabel {
	align-self: center;
	justify-self: center;

	/* Fixes horizontal alignment of text in anchor buttons */
	text-align: center;

	/* @safari10 Workaround for https://bugs.webkit.org/show_bug.cgi?id=169700 */
	/* inline-size: 100%; */

	&:empty {
		display: none;
	}
}
