/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-SwatchGroup {
	--spectrum-swatchgroup-spacing: var(--spectrum-spacing-75);

	display: inline-flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;

	/* Regular (Default) */
	gap: var(--mod-swatchgroup-spacing-regular, var(--spectrum-swatchgroup-spacing));
}

/* Compact */
.spectrum-SwatchGroup--compact {
	--mod-swatchgroup-spacing-regular: var(--mod-swatchgroup-spacing-compact);
	--spectrum-swatchgroup-spacing: var(--spectrum-spacing-50);
}

/* Spacious */
.spectrum-SwatchGroup--spacious {
	--mod-swatchgroup-spacing-regular: var(--mod-swatchgroup-spacing-spacious);
	--spectrum-swatchgroup-spacing: var(--spectrum-spacing-100);
}
