/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* This file contains overrides and additions to core tokens */
.spectrum {
	--system: spectrum;

	--spectrum-animation-duration-0: 0ms;
	--spectrum-animation-duration-100: 130ms;
	--spectrum-animation-duration-200: 160ms;
	--spectrum-animation-duration-300: 190ms;
	--spectrum-animation-duration-400: 220ms;
	--spectrum-animation-duration-500: 250ms;
	--spectrum-animation-duration-600: 300ms;
	--spectrum-animation-duration-700: 350ms;
	--spectrum-animation-duration-800: 400ms;
	--spectrum-animation-duration-900: 450ms;
	--spectrum-animation-duration-1000: 500ms;
	--spectrum-animation-duration-2000: 1000ms;
	--spectrum-animation-duration-4000: 2000ms;
	--spectrum-animation-duration-6000: 3000ms;

	--spectrum-animation-linear: cubic-bezier(0, 0, 1, 1);

	--spectrum-animation-ease-in-out: cubic-bezier(0.45, 0, 0.4, 1);
	--spectrum-animation-ease-in: cubic-bezier(0.5, 0, 1, 1);
	--spectrum-animation-ease-out: cubic-bezier(0, 0, 0.4, 1);
	--spectrum-animation-ease-linear: cubic-bezier(0, 0, 1, 1);

	/* stylelint-disable value-keyword-case -- typography names should use their appropriate cases */
	--spectrum-sans-font-family-stack: adobe-clean, var(--spectrum-sans-serif-font-family), "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
	--spectrum-sans-serif-font: var(--spectrum-sans-font-family-stack);

	--spectrum-serif-font-family-stack: adobe-clean-serif, var(--spectrum-serif-font-family), "Source Serif Pro", Georgia, serif;
	--spectrum-serif-font: var(--spectrum-serif-font-family-stack);

	--spectrum-code-font-family-stack: "Source Code Pro", Monaco, monospace;

	--spectrum-font-family-ar: myriad-arabic, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
	--spectrum-font-family-he: myriad-hebrew, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
	/* stylelint-enable value-keyword-case */

	--spectrum-font-family: var(--spectrum-sans-font-family-stack);
	--spectrum-font-style: var(--spectrum-default-font-style);
	--spectrum-font-size: var(--spectrum-font-size-100);

	--spectrum-cjk-font-family-stack: adobe-clean-han-japanese, var(--spectrum-cjk-font-family), sans-serif;
	--spectrum-cjk-font: var(--spectrum-cjk-font-family-stack);

	/* static white / black background color for docs containers */
	--spectrum-docs-static-white-background-color: rgb(15 121 125);
	--spectrum-docs-static-black-background-color: rgb(181 209 211);

	--spectrum-coach-indicator-ring-static-white-color: var(--spectrum-white);

	/* s2 static colors */
	--spectrum-static-blue-900-rgb: 59 99 251;
	--spectrum-static-blue-900: rgb(var(--spectrum-static-blue-900-rgb));
	--spectrum-static-blue-1000-rgb: 39 77 234;
	--spectrum-static-blue-1000: rgb(var(--spectrum-static-blue-1000-rgb));
	--spectrum-static-fuchsia-400-rgb: 247 181 255;
	--spectrum-static-fuchsia-400: rgb(var(--spectrum-static-fuchsia-400-rgb));
	--spectrum-static-fuchsia-600-rgb: 236 105 255;
	--spectrum-static-fuchsia-600: rgb(var(--spectrum-static-fuchsia-600-rgb));
	--spectrum-static-fuchsia-800-rgb: 200 68 220;
	--spectrum-static-fuchsia-800: rgb(var(--spectrum-static-fuchsia-800-rgb));
	--spectrum-static-fuchsia-900-rgb: 181 57 200;
	--spectrum-static-fuchsia-900: rgb(var(--spectrum-static-fuchsia-900-rgb));
	--spectrum-static-fuchsia-1000-rgb: 156 40 175;
	--spectrum-static-fuchsia-1000: rgb(var(--spectrum-static-fuchsia-1000-rgb));
	--spectrum-static-indigo-400-rgb: 192 201 255;
	--spectrum-static-indigo-400: rgb(var(--spectrum-static-indigo-400-rgb));
	--spectrum-static-indigo-600-rgb: 145 151 254;
	--spectrum-static-indigo-600: rgb(var(--spectrum-static-indigo-600-rgb));
	--spectrum-static-indigo-800-rgb: 122 106 253;
	--spectrum-static-indigo-800: rgb(var(--spectrum-static-indigo-800-rgb));
	--spectrum-static-indigo-900-rgb: 113 85 250;
	--spectrum-static-indigo-900: rgb(var(--spectrum-static-indigo-900-rgb));
	--spectrum-static-indigo-1000-rgb: 99 56 238;
	--spectrum-static-indigo-1000: rgb(var(--spectrum-static-indigo-1000-rgb));
	--spectrum-static-magenta-400-rgb: 255 185 208;
	--spectrum-static-magenta-400: rgb(var(--spectrum-static-magenta-400-rgb));
	--spectrum-static-magenta-600-rgb: 255 112 159;
	--spectrum-static-magenta-600: rgb(var(--spectrum-static-magenta-600-rgb));
	--spectrum-static-magenta-800-rgb: 240 45 110;
	--spectrum-static-magenta-800: rgb(var(--spectrum-static-magenta-800-rgb));
	--spectrum-static-magenta-900-rgb: 217 35 97;
	--spectrum-static-magenta-900: rgb(var(--spectrum-static-magenta-900-rgb));
	--spectrum-static-magenta-1000-rgb: 186 22 80;
	--spectrum-static-magenta-1000: rgb(var(--spectrum-static-magenta-1000-rgb));
	--spectrum-static-red-400-rgb: 255 188 180;
	--spectrum-static-red-400: rgb(var(--spectrum-static-red-400-rgb));
	--spectrum-static-red-600-rgb: 255 118 101;
	--spectrum-static-red-600: rgb(var(--spectrum-static-red-600-rgb));
	--spectrum-static-red-800-rgb: 240 56 35;
	--spectrum-static-red-800: rgb(var(--spectrum-static-red-800-rgb));
	--spectrum-static-red-900-rgb: 215 50 32;
	--spectrum-static-red-900: rgb(var(--spectrum-static-red-900-rgb));
	--spectrum-static-red-1000-rgb: 183 40 24;
	--spectrum-static-red-1000: rgb(var(--spectrum-static-red-1000-rgb));
	--spectrum-static-cyan-400-rgb: 138 213 255;
	--spectrum-static-cyan-400: rgb(var(--spectrum-static-cyan-400-rgb));
	--spectrum-static-cyan-600-rgb: 48 167 254;
	--spectrum-static-cyan-600: rgb(var(--spectrum-static-cyan-600-rgb));
	--spectrum-static-cyan-800-rgb: 18 134 205;
	--spectrum-static-cyan-800: rgb(var(--spectrum-static-cyan-800-rgb));
	--spectrum-static-chartreuse-400-rgb: 182 219 0;
	--spectrum-static-chartreuse-400: rgb(var(--spectrum-static-chartreuse-400-rgb));
	--spectrum-static-chartreuse-600-rgb: 143 172 0;
	--spectrum-static-chartreuse-600: rgb(var(--spectrum-static-chartreuse-600-rgb));
	--spectrum-static-chartreuse-800-rgb: 114 137 0;
	--spectrum-static-chartreuse-800: rgb(var(--spectrum-static-chartreuse-800-rgb));
	--spectrum-static-green-400-rgb: 107 227 162;
	--spectrum-static-green-400: rgb(var(--spectrum-static-green-400-rgb));
	--spectrum-static-green-600-rgb: 18 184 103;
	--spectrum-static-green-600: rgb(var(--spectrum-static-green-600-rgb));
	--spectrum-static-green-800-rgb: 7 147 85;
	--spectrum-static-green-800: rgb(var(--spectrum-static-green-800-rgb));
	--spectrum-static-orange-400-rgb: 255 193 94;
	--spectrum-static-orange-400: rgb(var(--spectrum-static-orange-400-rgb));
	--spectrum-static-orange-600-rgb: 252 125 0;
	--spectrum-static-orange-600: rgb(var(--spectrum-static-orange-600-rgb));
	--spectrum-static-orange-800-rgb: 212 91 0;
	--spectrum-static-orange-800: rgb(var(--spectrum-static-orange-800-rgb));
	--spectrum-static-purple-400-rgb: 221 193 246;
	--spectrum-static-purple-400: rgb(var(--spectrum-static-purple-400-rgb));
	--spectrum-static-purple-600-rgb: 191 138 238;
	--spectrum-static-purple-600: rgb(var(--spectrum-static-purple-600-rgb));
	--spectrum-static-purple-800-rgb: 166 92 231;
	--spectrum-static-purple-800: rgb(var(--spectrum-static-purple-800-rgb));
	--spectrum-static-turquoise-400-rgb: 111 221 228;
	--spectrum-static-turquoise-400: rgb(var(--spectrum-static-turquoise-400-rgb));
	--spectrum-static-turquoise-600-rgb: 15 177 192;
	--spectrum-static-turquoise-600: rgb(var(--spectrum-static-turquoise-600-rgb));
	--spectrum-static-turquoise-800-rgb: 10 141 153;
	--spectrum-static-turquoise-800: rgb(var(--spectrum-static-turquoise-800-rgb));
}
