/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* This file contains overrides and additions to core tokens */
.spectrum--light {
	/* stylelint-disable-next-line custom-property-pattern -- context identification */
	--color-scheme: light;

	--spectrum-assetcard-border-color-selected: var(--spectrum-blue-900);
	--spectrum-assetcard-border-color-selected-hover: var(--spectrum-blue-900);
	--spectrum-assetcard-border-color-selected-down: var(--spectrum-blue-1000);
	--spectrum-assetcard-selectionindicator-background-color-ordered: var(--spectrum-blue-900);
	--spectrum-assestcard-focus-indicator-color: var(--spectrum-blue-800);

	--spectrum-assetlist-item-background-color-selected-hover: rgba(var(--spectrum-blue-900-rgb), 0.2);
	--spectrum-assetlist-item-background-color-selected: rgba(var(--spectrum-blue-900-rgb), 0.1);
	--spectrum-assetlist-border-color-key-focus: var(--spectrum-blue-800);

	--spectrum-badge-label-icon-color-primary: var(--spectrum-white);

	--spectrum-calendar-day-background-color-selected: rgba(var(--spectrum-blue-900-rgb), 0.1);
	--spectrum-calendar-day-background-color-hover: rgba(var(--spectrum-black-rgb), 0.06);
	--spectrum-calendar-day-today-background-color-selected-hover: rgba(var(--spectrum-blue-900-rgb), 0.2);
	--spectrum-calendar-day-background-color-selected-hover: rgba(var(--spectrum-blue-900-rgb), 0.2);
	--spectrum-calendar-day-background-color-down: var(--spectrum-transparent-black-200);
	--spectrum-calendar-day-background-color-cap-selected: rgba(var(--spectrum-blue-900-rgb), 0.2);
	--spectrum-calendar-day-background-color-key-focus: rgba(var(--spectrum-black-rgb), 0.06);
	--spectrum-calendar-day-border-color-key-focus: var(--spectrum-blue-800);
	--spectrum-card-selected-background-color-rgb: var(--spectrum-blue-900-rgb);

	--spectrum-coach-indicator-ring-default-color: var(--spectrum-blue-800);

	--spectrum-drop-zone-background-color-rgb: var(--spectrum-blue-800-rgb); /* var(--spectrum-accent-color-800); */

	--spectrum-dropindicator-color: var(--spectrum-blue-800);

	--spectrum-logic-button-and-background-color: var(--spectrum-blue-900);
	--spectrum-logic-button-and-border-color: var(--spectrum-blue-900);
	--spectrum-logic-button-and-background-color-hover: var(--spectrum-blue-1100);
	--spectrum-logic-button-and-border-color-hover: var(--spectrum-blue-1100);
	--spectrum-logic-button-or-background-color: var(--spectrum-magenta-900);
	--spectrum-logic-button-or-border-color: var(--spectrum-magenta-900);
	--spectrum-logic-button-or-background-color-hover: var(--spectrum-magenta-1100);
	--spectrum-logic-button-or-border-color-hover: var(--spectrum-magenta-1100);

	--spectrum-steplist-current-marker-color-key-focus: var(--spectrum-blue-800);

	--spectrum-swatch-border-color: rgb(0 0 0 / 51%);
	--spectrum-swatch-border-color-light: rgb(0 0 0 / 20%);

	--spectrum-treeview-item-background-color-quiet-selected: rgba(var(--spectrum-gray-900-rgb), 0.06);
	--spectrum-treeview-item-background-color-selected: rgba(var(--spectrum-blue-900-rgb), 0.1);
}
