.component {
    --system-spectrum-background-color: var(--system-spectrum) blue;
    --system-express-background-color: var(--system-express) purple;
    --background-color: var(--system-express-background-color, var(--system-spectrum-background-color));
    --system-spectrum-border-color: var(--system-spectrum) darkblue;
    --system-express-border-color: var(--system-express) darkpurple;
    --border-color: var(--system-express-border-color, var(--system-spectrum-border-color))
}
.icon .component {
    --system-spectrum-color: var(--system-spectrum) gray;
    --system-express-color: var(--system-express) white;
    --color: var(--system-express-color, var(--system-spectrum-color))
}
