.component {
    --system-spectrum-background-color: var(--system-spectrum) blue;
    --system-express-background-color: var(--system-express) purple;
    --system-next-background-color: var(--system-next) brown;
    --background-color: var(--system-next-background-color, var(--system-express-background-color, var(--system-spectrum-background-color)));
    --system-spectrum-border-color: var(--system-spectrum) darkblue;
    --system-express-border-color: var(--system-express) darkpurple;
    --system-next-border-color: var(--system-next) darkbrown;
    --border-color: var(--system-next-border-color, var(--system-express-border-color, var(--system-spectrum-border-color)))
}
.component .icon {
    --system-spectrum-color: var(--system-spectrum) gray;
    --system-express-color: var(--system-express) white;
    --system-next-color: var(--system-next) white;
    --color: var(--system-next-color, var(--system-express-color, var(--system-spectrum-color)))
}
