/** Colors common to all color stops */
$spectrum-color-red1 = rgb(255, 105, 105);
$spectrum-color-red2 = rgb(245, 60, 60);
$spectrum-color-red3 = rgb(230, 20, 20);
$spectrum-color-red4 = rgb(210, 10, 10);
$spectrum-color-red5 = rgb(180, 0, 0);
$spectrum-color-yellow1 = rgb(240, 210, 110);
$spectrum-color-yellow2 = rgb(235, 190, 50);
$spectrum-color-yellow3 = rgb(230, 175, 0);
$spectrum-color-yellow4 = rgb(230, 160, 0);
$spectrum-color-yellow5 = rgb(220, 145, 0);
$spectrum-color-green1 = rgb(70, 170, 70);
$spectrum-color-green2 = rgb(20, 155, 20);
$spectrum-color-green3 = rgb(15, 135, 15);
$spectrum-color-green4 = rgb(10, 120, 10);
$spectrum-color-green5 = rgb(0, 100, 0);
$spectrum-color-blue1 = rgb(70, 160, 245);
$spectrum-color-blue2 = rgb(45, 140, 235);
$spectrum-color-blue3 = rgb(20, 115, 230);
$spectrum-color-blue4 = rgb(0, 100, 220);
$spectrum-color-blue5 = rgb(0, 90, 190);
$spectrum-color-periwinkle = rgb(115, 75, 195);
$spectrum-color-plum = rgb(150, 60, 115);
$spectrum-color-fuchsia = rgb(230, 20, 130);
$spectrum-color-magenta = rgb(205, 0, 95);
$spectrum-color-orange = rgb(240, 80, 0);
$spectrum-color-tangerine = rgb(250, 140, 0);
$spectrum-color-chartreuse = rgb(120, 200, 35);
$spectrum-color-kellygreen = rgb(0, 135, 105);
$spectrum-color-seafoam = rgb(30, 180, 140);
$spectrum-color-cyan = rgb(0, 190, 225);
$spectrum-color-blue = rgb(20, 115, 230);
$spectrum-color-defaultgrey = rgb(112, 112, 112);


/** Palette for color stop dark */
$spectrum-color-dark-grey1 = rgb(42, 42, 42);
$spectrum-color-dark-grey2 = rgb(46, 46, 46);
$spectrum-color-dark-grey3 = rgb(50, 50, 50);
$spectrum-color-dark-grey4 = rgb(57, 57, 57);
$spectrum-color-dark-grey5 = rgb(62, 62, 62);
$spectrum-color-dark-grey6 = rgb(82, 82, 82);
$spectrum-color-dark-grey7 = rgb(112, 112, 112);
$spectrum-color-dark-grey8 = rgb(153, 153, 153);
$spectrum-color-dark-grey9 = rgb(205, 205, 205);
$spectrum-color-dark-grey10 = rgb(252, 252, 252);

/** Concepts for color stop dark */
$spectrum-color-dark-info = $spectrum-color-blue3;
$spectrum-color-dark-error = $spectrum-color-red3;
$spectrum-color-dark-warning = $spectrum-color-yellow3;
$spectrum-color-dark-success = $spectrum-color-green3;
$spectrum-color-dark-background = $spectrum-color-dark-grey3;
$spectrum-color-dark-text = $spectrum-color-dark-grey9;
$spectrum-color-dark-text-secondary = $spectrum-color-dark-grey8;
$spectrum-color-dark-disabled = $spectrum-color-dark-grey4;
$spectrum-color-dark-disabled-text = $spectrum-color-dark-grey6;
$spectrum-color-dark-disabled-border = transparent;
$spectrum-color-dark-border = $spectrum-color-dark-grey5;
$spectrum-color-dark-border-hover = $spectrum-color-dark-grey6;
$spectrum-color-dark-invalid = $spectrum-color-red2;
$spectrum-color-dark-invalid-hover = $spectrum-color-red3;
$spectrum-color-dark-invalid-active = $spectrum-color-red4;
$spectrum-color-dark-dropshadow = rgba(0, 0, 0, 0.08);
$spectrum-color-dark-modal-overlay-background = rgba(0, 0, 0, 0.6);
$spectrum-color-dark-track = $spectrum-color-dark-grey5;
$spectrum-color-dark-button-background = transparent;
$spectrum-color-dark-button-background-hover = $spectrum-color-dark-grey9;
$spectrum-color-dark-button-background-active = $spectrum-color-dark-grey10;
$spectrum-color-dark-button-background-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-background-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-button-border = $spectrum-color-dark-grey9;
$spectrum-color-dark-button-border-hover = $spectrum-color-dark-grey9;
$spectrum-color-dark-button-border-active = $spectrum-color-dark-grey10;
$spectrum-color-dark-button-border-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-border-disabled = $spectrum-color-dark-disabled-border;
$spectrum-color-dark-button-text = $spectrum-color-dark-button-border;
$spectrum-color-dark-button-text-hover = $spectrum-color-dark-grey1;
$spectrum-color-dark-button-text-active = $spectrum-color-dark-grey1;
$spectrum-color-dark-button-text-focus = white;
$spectrum-color-dark-button-text-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-button-secondary-background = transparent;
$spectrum-color-dark-button-secondary-background-hover = $spectrum-color-dark-grey8;
$spectrum-color-dark-button-secondary-background-active = $spectrum-color-dark-grey9;
$spectrum-color-dark-button-secondary-background-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-secondary-background-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-button-secondary-border = $spectrum-color-dark-grey8;
$spectrum-color-dark-button-secondary-border-hover = $spectrum-color-dark-grey8;
$spectrum-color-dark-button-secondary-border-active = $spectrum-color-dark-grey9;
$spectrum-color-dark-button-secondary-border-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-secondary-border-disabled = $spectrum-color-dark-disabled-border;
$spectrum-color-dark-button-secondary-text = $spectrum-color-dark-button-secondary-border;
$spectrum-color-dark-button-secondary-text-hover = $spectrum-color-dark-grey1;
$spectrum-color-dark-button-secondary-text-active = $spectrum-color-dark-grey1;
$spectrum-color-dark-button-secondary-text-focus = white;
$spectrum-color-dark-button-secondary-text-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-button-cta-background = $spectrum-color-blue3;
$spectrum-color-dark-button-cta-background-hover = $spectrum-color-blue4;
$spectrum-color-dark-button-cta-background-active = $spectrum-color-blue5;
$spectrum-color-dark-button-cta-background-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-cta-background-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-button-cta-border = transparent;
$spectrum-color-dark-button-cta-border-hover = transparent;
$spectrum-color-dark-button-cta-border-active = transparent;
$spectrum-color-dark-button-cta-border-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-cta-border-disabled = $spectrum-color-dark-disabled-border;
$spectrum-color-dark-button-cta-text = white;
$spectrum-color-dark-button-cta-text-hover = white;
$spectrum-color-dark-button-cta-text-active = white;
$spectrum-color-dark-button-cta-text-focus = white;
$spectrum-color-dark-button-cta-text-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-button-warning-background = transparent;
$spectrum-color-dark-button-warning-background-hover = $spectrum-color-red3;
$spectrum-color-dark-button-warning-background-active = $spectrum-color-red4;
$spectrum-color-dark-button-warning-background-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-warning-background-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-button-warning-border = $spectrum-color-red3;
$spectrum-color-dark-button-warning-border-hover = $spectrum-color-red3;
$spectrum-color-dark-button-warning-border-active = $spectrum-color-red4;
$spectrum-color-dark-button-warning-border-focus = white;
$spectrum-color-dark-button-warning-border-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-button-warning-text = $spectrum-color-red3;
$spectrum-color-dark-button-warning-text-hover = $spectrum-color-dark-grey1;
$spectrum-color-dark-button-warning-text-active = $spectrum-color-dark-grey1;
$spectrum-color-dark-button-warning-text-focus = white;
$spectrum-color-dark-button-warning-text-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-button-quiet-primary-background = transparent;
$spectrum-color-dark-button-quiet-primary-background-hover = transparent;
$spectrum-color-dark-button-quiet-primary-background-active = transparent;
$spectrum-color-dark-button-quiet-primary-background-focus = transparent;
$spectrum-color-dark-button-quiet-primary-background-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-button-quiet-primary-border = transparent;
$spectrum-color-dark-button-quiet-primary-border-hover = transparent;
$spectrum-color-dark-button-quiet-primary-border-active = transparent;
$spectrum-color-dark-button-quiet-primary-border-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-quiet-primary-border-disabled = $spectrum-color-dark-disabled-border;
$spectrum-color-dark-button-quiet-primary-text = $spectrum-color-dark-grey8;
$spectrum-color-dark-button-quiet-primary-text-hover = $spectrum-color-dark-grey9;
$spectrum-color-dark-button-quiet-primary-text-active = $spectrum-color-dark-grey10;
$spectrum-color-dark-button-quiet-primary-text-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-quiet-primary-text-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-button-quiet-background = transparent;
$spectrum-color-dark-button-quiet-background-hover = transparent;
$spectrum-color-dark-button-quiet-background-active = transparent;
$spectrum-color-dark-button-quiet-background-focus = transparent;
$spectrum-color-dark-button-quiet-background-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-button-quiet-border = transparent;
$spectrum-color-dark-button-quiet-border-hover = transparent;
$spectrum-color-dark-button-quiet-border-active = transparent;
$spectrum-color-dark-button-quiet-border-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-quiet-border-disabled = $spectrum-color-dark-disabled-border;
$spectrum-color-dark-button-quiet-text = $spectrum-color-dark-grey8;
$spectrum-color-dark-button-quiet-text-hover = $spectrum-color-dark-grey9;
$spectrum-color-dark-button-quiet-text-active = $spectrum-color-dark-grey10;
$spectrum-color-dark-button-quiet-text-focus = $spectrum-color-dark-button-focus;
$spectrum-color-dark-button-quiet-text-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-button-buttonbar-background = $spectrum-color-dark-grey2;
$spectrum-color-dark-button-buttonbar-background-hover = $spectrum-color-dark-grey1;
$spectrum-color-dark-button-buttonbar-background-active = $spectrum-color-dark-grey4;
$spectrum-color-dark-button-buttonbar-background-selected = $spectrum-color-dark-grey4;
$spectrum-color-dark-button-buttonbar-border = $spectrum-color-dark-border;
$spectrum-color-dark-button-buttonbar-border-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-button-icon = $spectrum-color-dark-grey8;
$spectrum-color-dark-button-icon-hover = $spectrum-color-dark-grey9;
$spectrum-color-dark-button-icon-active = $spectrum-color-dark-grey9;
$spectrum-color-dark-button-icon-selected = $spectrum-color-dark-grey9;
$spectrum-color-dark-button-toggle-background-on = $spectrum-color-dark-grey4;
$spectrum-color-dark-button-quickaction-background = $spectrum-color-dark-grey1;
$spectrum-color-dark-button-quickaction-border = $spectrum-color-dark-translucent-border;
$spectrum-color-dark-button-quickaction-shadow = $spectrum-color-dark-dropshadow;
$spectrum-color-dark-button-quickaction-icon-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-switch-border = $spectrum-color-dark-grey8;
$spectrum-color-dark-switch-border-hover = $spectrum-color-dark-grey9;
$spectrum-color-dark-switch-border-active = $spectrum-color-dark-grey10;
$spectrum-color-dark-switch-border-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-switch-border-invalid = $spectrum-color-dark-invalid;
$spectrum-color-dark-switch-border-invalid-hover = $spectrum-color-dark-invalid-hover;
$spectrum-color-dark-switch-border-invalid-active = $spectrum-color-dark-invalid-active;
$spectrum-color-dark-switch-track = $spectrum-color-dark-track;
$spectrum-color-dark-slider-track = $spectrum-color-dark-track;
$spectrum-color-dark-slider-track-filled = $spectrum-color-dark-grey8;
$spectrum-color-dark-slider-track-buffer = $spectrum-color-dark-grey6;
$spectrum-color-dark-slider-handle-border = $spectrum-color-dark-grey8;
$spectrum-color-dark-slider-handle-border-hover = $spectrum-color-dark-grey8;
$spectrum-color-dark-slider-handle-border-active = $spectrum-color-dark-grey9;
$spectrum-color-dark-slider-handle-border-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-slider-handle-border-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-input-placeholder = $spectrum-color-dark-grey7;
$spectrum-color-dark-input-placeholder-hover = $spectrum-color-dark-grey8;
$spectrum-color-dark-input-placeholder-disabled = $spectrum-color-dark-grey5;
$spectrum-color-dark-input-background = $spectrum-color-dark-grey1;
$spectrum-color-dark-input-background-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-input-border = $spectrum-color-dark-border;
$spectrum-color-dark-input-border-hover = $spectrum-color-dark-border-hover;
$spectrum-color-dark-input-border-active = $spectrum-color-dark-focus;
$spectrum-color-dark-input-border-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-input-border-disabled = $spectrum-color-dark-disabled-border;
$spectrum-color-dark-input-border-invalid = $spectrum-color-dark-invalid;
$spectrum-color-dark-input-text = $spectrum-color-dark-text;
$spectrum-color-dark-input-text-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-input-quiet-background = transparent;
$spectrum-color-dark-input-quiet-background-disabled = transparent;
$spectrum-color-dark-input-quiet-border-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-input-label = $spectrum-color-dark-grey8;
$spectrum-color-dark-input-icon = $spectrum-color-dark-grey8;
$spectrum-color-dark-input-icon-hover = $spectrum-color-dark-grey9;
$spectrum-color-dark-input-icon-active = $spectrum-color-dark-grey10;
$spectrum-color-dark-select-background = $spectrum-color-dark-grey2;
$spectrum-color-dark-select-background-hover = $spectrum-color-dark-grey1;
$spectrum-color-dark-select-icon = $spectrum-color-dark-grey8;
$spectrum-color-dark-select-icon-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-select-border = $spectrum-color-dark-border;
$spectrum-color-dark-select-border-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-select-quiet-background = transparent;
$spectrum-color-dark-select-quiet-background-disabled = transparent;
$spectrum-color-dark-select-quiet-text-hover = $spectrum-color-dark-grey10;
$spectrum-color-dark-list-background = $spectrum-color-dark-grey1;
$spectrum-color-dark-list-background-hover = $spectrum-color-dark-grey3;
$spectrum-color-dark-list-text-selected = $spectrum-color-dark-focus-text;
$spectrum-color-dark-list-icon-selected = $spectrum-color-dark-focus-text;
$spectrum-color-dark-list-focusindicator = $spectrum-color-dark-focus;
$spectrum-color-dark-tag-border = $spectrum-color-dark-grey7;
$spectrum-color-dark-tag-border-hover = $spectrum-color-dark-grey9;
$spectrum-color-dark-tag-border-active = $spectrum-color-dark-grey10;
$spectrum-color-dark-tag-border-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-tag-border-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-tag-border-invalid = $spectrum-color-dark-invalid;
$spectrum-color-dark-tag-text = $spectrum-color-dark-grey7;
$spectrum-color-dark-tag-text-hover = $spectrum-color-dark-grey9;
$spectrum-color-dark-tag-text-active = $spectrum-color-dark-grey10;
$spectrum-color-dark-tag-text-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-tag-text-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-tag-text-invalid = $spectrum-color-dark-invalid;
$spectrum-color-dark-alert-background = $spectrum-color-dark-grey1;
$spectrum-color-dark-alert-border-error = $spectrum-color-dark-error;
$spectrum-color-dark-alert-border-info = $spectrum-color-dark-info;
$spectrum-color-dark-alert-border-success = $spectrum-color-dark-success;
$spectrum-color-dark-alert-border-warning = $spectrum-color-dark-warning;
$spectrum-color-dark-notification-background-default = $spectrum-color-defaultgrey;
$spectrum-color-dark-notification-background-success = $spectrum-color-dark-success;
$spectrum-color-dark-notification-background-info = $spectrum-color-dark-info;
$spectrum-color-dark-notification-background-error = $spectrum-color-dark-error;
$spectrum-color-dark-notification-background-warning = $spectrum-color-dark-warning;
$spectrum-color-dark-notification-text = white;
$spectrum-color-dark-notification-button = white;
$spectrum-color-dark-notification-icon = white;
$spectrum-color-dark-loader-track = $spectrum-color-dark-track;
$spectrum-color-dark-loader-progress = $spectrum-color-dark-focus;
$spectrum-color-dark-loader-progress-grey = $spectrum-color-dark-grey7;
$spectrum-color-dark-divider-background = $spectrum-color-dark-grey9;
$spectrum-color-dark-rule-background = $spectrum-color-dark-grey6;
$spectrum-color-dark-tab-text = $spectrum-color-dark-grey8;
$spectrum-color-dark-tab-text-hover = $spectrum-color-dark-grey10;
$spectrum-color-dark-tab-text-active = $spectrum-color-dark-grey10;
$spectrum-color-dark-tab-text-selected = $spectrum-color-dark-grey10;
$spectrum-color-dark-tab-text-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-tab-text-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-tab-line-background = $spectrum-color-dark-grey10;
$spectrum-color-dark-tab-line-background-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-tab-line-background-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-tab-border-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-accordion-border = $spectrum-color-dark-grey4;
$spectrum-color-dark-accordion-text = $spectrum-color-dark-grey8;
$spectrum-color-dark-accordion-text-hover = $spectrum-color-dark-grey10;
$spectrum-color-dark-accordion-text-active = $spectrum-color-dark-grey10;
$spectrum-color-dark-accordion-text-focus = $spectrum-color-dark-grey10;
$spectrum-color-dark-accordion-text-disabled = $spectrum-color-dark-disabled-text;
$spectrum-color-dark-accordion-focusindicator = $spectrum-color-dark-focus;
$spectrum-color-dark-accordion-icon = $spectrum-color-dark-grey7;
$spectrum-color-dark-accordion-icon-hover = $spectrum-color-dark-grey9;
$spectrum-color-dark-accordion-icon-active = $spectrum-color-dark-grey9;
$spectrum-color-dark-accordion-icon-focus = $spectrum-color-dark-grey9;
$spectrum-color-dark-accordion-icon-disabled = $spectrum-color-dark-disabled;
$spectrum-color-dark-drawer-background = $spectrum-color-dark-grey2;
$spectrum-color-dark-drag-handle-background = $spectrum-color-dark-grey5;
$spectrum-color-dark-drag-handle-background-hover = $spectrum-color-dark-grey6;
$spectrum-color-dark-drag-handle-background-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-drag-handle-icon = $spectrum-color-dark-grey1;
$spectrum-color-dark-dialog-background = $spectrum-color-dark-grey1;
$spectrum-color-dark-dialog-header-default = $spectrum-color-dark-grey10;
$spectrum-color-dark-dialog-header-success = $spectrum-color-dark-success;
$spectrum-color-dark-dialog-header-info = $spectrum-color-dark-info;
$spectrum-color-dark-dialog-header-error = $spectrum-color-dark-invalid;
$spectrum-color-dark-dialog-header-warning = $spectrum-color-dark-grey10;
$spectrum-color-dark-dialog-icon-success = $spectrum-color-dark-success;
$spectrum-color-dark-dialog-icon-info = $spectrum-color-dark-info;
$spectrum-color-dark-dialog-icon-error = $spectrum-color-dark-invalid;
$spectrum-color-dark-dialog-icon-warning = $spectrum-color-dark-warning;
$spectrum-color-dark-dialog-divider = $spectrum-color-dark-grey3;
$spectrum-color-dark-dialog-popover-border = $spectrum-color-dark-border;
$spectrum-color-dark-dialog-popover-shadow = $spectrum-color-dark-dropshadow;
$spectrum-color-dark-miller-divider = $spectrum-color-dark-grey4;
$spectrum-color-dark-miller-item-hover = $spectrum-color-dark-grey4;
$spectrum-color-dark-miller-item-icon = $spectrum-color-dark-grey7;
$spectrum-color-dark-miller-item-icon-hover = $spectrum-color-dark-grey8;
$spectrum-color-dark-miller-item-text-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-miller-item-focusindicator = $spectrum-color-dark-focus;
$spectrum-color-dark-wizard-step = $spectrum-color-dark-grey5;
$spectrum-color-dark-wizard-step-current = $spectrum-color-dark-grey9;
$spectrum-color-dark-wizard-step-complete = $spectrum-color-dark-grey7;
$spectrum-color-dark-wizard-step-hover = $spectrum-color-dark-grey8;
$spectrum-color-dark-wizard-step-focus = $spectrum-color-dark-focus;
$spectrum-color-dark-wizard-segement = $spectrum-color-dark-grey5;
$spectrum-color-dark-wizard-segement-complete = $spectrum-color-dark-grey7;
$spectrum-color-dark-wizard-label = $spectrum-color-dark-grey7;
$spectrum-color-dark-wizard-label-complete = $spectrum-color-dark-grey8;
$spectrum-color-dark-wizard-label-current = $spectrum-color-dark-grey9;
$spectrum-color-dark-heading1 = $spectrum-color-dark-grey10;
$spectrum-color-dark-heading2 = $spectrum-color-dark-grey10;
$spectrum-color-dark-heading3 = $spectrum-color-dark-grey10;
$spectrum-color-dark-heading4 = $spectrum-color-dark-grey10;
$spectrum-color-dark-heading5 = $spectrum-color-dark-grey8;
$spectrum-color-dark-focus = $spectrum-color-blue2;
$spectrum-color-dark-focus-text = $spectrum-color-blue1;
$spectrum-color-dark-button-focus = $spectrum-color-blue4;
$spectrum-color-dark-translucent-border = rgba(252, 252, 252, .1);
$spectrum-color-dark-link = $spectrum-color-blue1;
$spectrum-color-dark-link-active = $spectrum-color-blue2;


/** Palette for color stop darkest */
$spectrum-color-darkest-grey1 = rgb(27, 27, 27);
$spectrum-color-darkest-grey2 = rgb(31, 31, 31);
$spectrum-color-darkest-grey3 = rgb(35, 35, 35);
$spectrum-color-darkest-grey4 = rgb(42, 42, 42);
$spectrum-color-darkest-grey5 = rgb(49, 49, 49);
$spectrum-color-darkest-grey6 = rgb(69, 69, 69);
$spectrum-color-darkest-grey7 = rgb(99, 99, 99);
$spectrum-color-darkest-grey8 = rgb(138, 138, 138);
$spectrum-color-darkest-grey9 = rgb(185, 185, 185);
$spectrum-color-darkest-grey10 = rgb(230, 230, 230);

/** Concepts for color stop darkest */
$spectrum-color-darkest-info = $spectrum-color-blue3;
$spectrum-color-darkest-error = $spectrum-color-red3;
$spectrum-color-darkest-warning = $spectrum-color-yellow3;
$spectrum-color-darkest-success = $spectrum-color-green3;
$spectrum-color-darkest-background = $spectrum-color-darkest-grey3;
$spectrum-color-darkest-text = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-text-secondary = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-disabled = $spectrum-color-darkest-grey4;
$spectrum-color-darkest-disabled-text = $spectrum-color-darkest-grey6;
$spectrum-color-darkest-disabled-border = transparent;
$spectrum-color-darkest-border = $spectrum-color-darkest-grey5;
$spectrum-color-darkest-border-hover = $spectrum-color-darkest-grey6;
$spectrum-color-darkest-invalid = $spectrum-color-red2;
$spectrum-color-darkest-invalid-hover = $spectrum-color-red3;
$spectrum-color-darkest-invalid-active = $spectrum-color-red4;
$spectrum-color-darkest-dropshadow = rgba(0, 0, 0, 0.08);
$spectrum-color-darkest-modal-overlay-background = rgba(0, 0, 0, 0.6);
$spectrum-color-darkest-track = $spectrum-color-darkest-grey5;
$spectrum-color-darkest-button-background = transparent;
$spectrum-color-darkest-button-background-hover = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-button-background-active = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-button-background-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-background-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-button-border = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-button-border-hover = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-button-border-active = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-button-border-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-border-disabled = $spectrum-color-darkest-disabled-border;
$spectrum-color-darkest-button-text = $spectrum-color-darkest-button-border;
$spectrum-color-darkest-button-text-hover = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-button-text-active = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-button-text-focus = white;
$spectrum-color-darkest-button-text-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-button-secondary-background = transparent;
$spectrum-color-darkest-button-secondary-background-hover = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-button-secondary-background-active = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-button-secondary-background-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-secondary-background-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-button-secondary-border = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-button-secondary-border-hover = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-button-secondary-border-active = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-button-secondary-border-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-secondary-border-disabled = $spectrum-color-darkest-disabled-border;
$spectrum-color-darkest-button-secondary-text = $spectrum-color-darkest-button-secondary-border;
$spectrum-color-darkest-button-secondary-text-hover = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-button-secondary-text-active = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-button-secondary-text-focus = white;
$spectrum-color-darkest-button-secondary-text-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-button-cta-background = $spectrum-color-blue3;
$spectrum-color-darkest-button-cta-background-hover = $spectrum-color-blue4;
$spectrum-color-darkest-button-cta-background-active = $spectrum-color-blue5;
$spectrum-color-darkest-button-cta-background-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-cta-background-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-button-cta-border = transparent;
$spectrum-color-darkest-button-cta-border-hover = transparent;
$spectrum-color-darkest-button-cta-border-active = transparent;
$spectrum-color-darkest-button-cta-border-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-cta-border-disabled = $spectrum-color-darkest-disabled-border;
$spectrum-color-darkest-button-cta-text = white;
$spectrum-color-darkest-button-cta-text-hover = white;
$spectrum-color-darkest-button-cta-text-active = white;
$spectrum-color-darkest-button-cta-text-focus = white;
$spectrum-color-darkest-button-cta-text-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-button-warning-background = transparent;
$spectrum-color-darkest-button-warning-background-hover = $spectrum-color-red3;
$spectrum-color-darkest-button-warning-background-active = $spectrum-color-red4;
$spectrum-color-darkest-button-warning-background-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-warning-background-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-button-warning-border = $spectrum-color-red3;
$spectrum-color-darkest-button-warning-border-hover = $spectrum-color-red3;
$spectrum-color-darkest-button-warning-border-active = $spectrum-color-red4;
$spectrum-color-darkest-button-warning-border-focus = white;
$spectrum-color-darkest-button-warning-border-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-button-warning-text = $spectrum-color-red3;
$spectrum-color-darkest-button-warning-text-hover = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-button-warning-text-active = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-button-warning-text-focus = white;
$spectrum-color-darkest-button-warning-text-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-button-quiet-primary-background = transparent;
$spectrum-color-darkest-button-quiet-primary-background-hover = transparent;
$spectrum-color-darkest-button-quiet-primary-background-active = transparent;
$spectrum-color-darkest-button-quiet-primary-background-focus = transparent;
$spectrum-color-darkest-button-quiet-primary-background-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-button-quiet-primary-border = transparent;
$spectrum-color-darkest-button-quiet-primary-border-hover = transparent;
$spectrum-color-darkest-button-quiet-primary-border-active = transparent;
$spectrum-color-darkest-button-quiet-primary-border-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-quiet-primary-border-disabled = $spectrum-color-darkest-disabled-border;
$spectrum-color-darkest-button-quiet-primary-text = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-button-quiet-primary-text-hover = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-button-quiet-primary-text-active = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-button-quiet-primary-text-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-quiet-primary-text-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-button-quiet-background = transparent;
$spectrum-color-darkest-button-quiet-background-hover = transparent;
$spectrum-color-darkest-button-quiet-background-active = transparent;
$spectrum-color-darkest-button-quiet-background-focus = transparent;
$spectrum-color-darkest-button-quiet-background-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-button-quiet-border = transparent;
$spectrum-color-darkest-button-quiet-border-hover = transparent;
$spectrum-color-darkest-button-quiet-border-active = transparent;
$spectrum-color-darkest-button-quiet-border-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-quiet-border-disabled = $spectrum-color-darkest-disabled-border;
$spectrum-color-darkest-button-quiet-text = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-button-quiet-text-hover = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-button-quiet-text-active = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-button-quiet-text-focus = $spectrum-color-darkest-button-focus;
$spectrum-color-darkest-button-quiet-text-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-button-buttonbar-background = $spectrum-color-darkest-grey2;
$spectrum-color-darkest-button-buttonbar-background-hover = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-button-buttonbar-background-active = $spectrum-color-darkest-grey4;
$spectrum-color-darkest-button-buttonbar-background-selected = $spectrum-color-darkest-grey4;
$spectrum-color-darkest-button-buttonbar-border = $spectrum-color-darkest-border;
$spectrum-color-darkest-button-buttonbar-border-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-button-icon = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-button-icon-hover = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-button-icon-active = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-button-icon-selected = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-button-toggle-background-on = $spectrum-color-darkest-grey4;
$spectrum-color-darkest-button-quickaction-background = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-button-quickaction-border = $spectrum-color-darkest-translucent-border;
$spectrum-color-darkest-button-quickaction-shadow = $spectrum-color-darkest-dropshadow;
$spectrum-color-darkest-button-quickaction-icon-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-switch-border = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-switch-border-hover = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-switch-border-active = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-switch-border-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-switch-border-invalid = $spectrum-color-darkest-invalid;
$spectrum-color-darkest-switch-border-invalid-hover = $spectrum-color-darkest-invalid-hover;
$spectrum-color-darkest-switch-border-invalid-active = $spectrum-color-darkest-invalid-active;
$spectrum-color-darkest-switch-track = $spectrum-color-darkest-track;
$spectrum-color-darkest-slider-track = $spectrum-color-darkest-track;
$spectrum-color-darkest-slider-track-filled = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-slider-track-buffer = $spectrum-color-darkest-grey6;
$spectrum-color-darkest-slider-handle-border = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-slider-handle-border-hover = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-slider-handle-border-active = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-slider-handle-border-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-slider-handle-border-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-input-placeholder = $spectrum-color-darkest-grey7;
$spectrum-color-darkest-input-placeholder-hover = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-input-placeholder-disabled = $spectrum-color-darkest-grey5;
$spectrum-color-darkest-input-background = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-input-background-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-input-border = $spectrum-color-darkest-border;
$spectrum-color-darkest-input-border-hover = $spectrum-color-darkest-border-hover;
$spectrum-color-darkest-input-border-active = $spectrum-color-darkest-focus;
$spectrum-color-darkest-input-border-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-input-border-disabled = $spectrum-color-darkest-disabled-border;
$spectrum-color-darkest-input-border-invalid = $spectrum-color-darkest-invalid;
$spectrum-color-darkest-input-text = $spectrum-color-darkest-text;
$spectrum-color-darkest-input-text-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-input-quiet-background = transparent;
$spectrum-color-darkest-input-quiet-background-disabled = transparent;
$spectrum-color-darkest-input-quiet-border-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-input-label = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-input-icon = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-input-icon-hover = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-input-icon-active = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-select-background = $spectrum-color-darkest-grey2;
$spectrum-color-darkest-select-background-hover = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-select-icon = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-select-icon-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-select-border = $spectrum-color-darkest-border;
$spectrum-color-darkest-select-border-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-select-quiet-background = transparent;
$spectrum-color-darkest-select-quiet-background-disabled = transparent;
$spectrum-color-darkest-select-quiet-text-hover = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-list-background = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-list-background-hover = $spectrum-color-darkest-grey3;
$spectrum-color-darkest-list-text-selected = $spectrum-color-darkest-focus-text;
$spectrum-color-darkest-list-icon-selected = $spectrum-color-darkest-focus-text;
$spectrum-color-darkest-list-focusindicator = $spectrum-color-darkest-focus;
$spectrum-color-darkest-tag-border = $spectrum-color-darkest-grey7;
$spectrum-color-darkest-tag-border-hover = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-tag-border-active = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-tag-border-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-tag-border-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-tag-border-invalid = $spectrum-color-darkest-invalid;
$spectrum-color-darkest-tag-text = $spectrum-color-darkest-grey7;
$spectrum-color-darkest-tag-text-hover = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-tag-text-active = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-tag-text-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-tag-text-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-tag-text-invalid = $spectrum-color-darkest-invalid;
$spectrum-color-darkest-alert-background = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-alert-border-error = $spectrum-color-darkest-error;
$spectrum-color-darkest-alert-border-info = $spectrum-color-darkest-info;
$spectrum-color-darkest-alert-border-success = $spectrum-color-darkest-success;
$spectrum-color-darkest-alert-border-warning = $spectrum-color-darkest-warning;
$spectrum-color-darkest-notification-background-default = $spectrum-color-defaultgrey;
$spectrum-color-darkest-notification-background-success = $spectrum-color-darkest-success;
$spectrum-color-darkest-notification-background-info = $spectrum-color-darkest-info;
$spectrum-color-darkest-notification-background-error = $spectrum-color-darkest-error;
$spectrum-color-darkest-notification-background-warning = $spectrum-color-darkest-warning;
$spectrum-color-darkest-notification-text = white;
$spectrum-color-darkest-notification-button = white;
$spectrum-color-darkest-notification-icon = white;
$spectrum-color-darkest-loader-track = $spectrum-color-darkest-track;
$spectrum-color-darkest-loader-progress = $spectrum-color-darkest-focus;
$spectrum-color-darkest-loader-progress-grey = $spectrum-color-darkest-grey7;
$spectrum-color-darkest-divider-background = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-rule-background = $spectrum-color-darkest-grey6;
$spectrum-color-darkest-tab-text = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-tab-text-hover = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-tab-text-active = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-tab-text-selected = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-tab-text-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-tab-text-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-tab-line-background = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-tab-line-background-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-tab-line-background-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-tab-border-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-accordion-border = $spectrum-color-darkest-grey4;
$spectrum-color-darkest-accordion-text = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-accordion-text-hover = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-accordion-text-active = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-accordion-text-focus = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-accordion-text-disabled = $spectrum-color-darkest-disabled-text;
$spectrum-color-darkest-accordion-focusindicator = $spectrum-color-darkest-focus;
$spectrum-color-darkest-accordion-icon = $spectrum-color-darkest-grey7;
$spectrum-color-darkest-accordion-icon-hover = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-accordion-icon-active = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-accordion-icon-focus = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-accordion-icon-disabled = $spectrum-color-darkest-disabled;
$spectrum-color-darkest-drawer-background = $spectrum-color-darkest-grey2;
$spectrum-color-darkest-drag-handle-background = $spectrum-color-darkest-grey5;
$spectrum-color-darkest-drag-handle-background-hover = $spectrum-color-darkest-grey6;
$spectrum-color-darkest-drag-handle-background-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-drag-handle-icon = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-dialog-background = $spectrum-color-darkest-grey1;
$spectrum-color-darkest-dialog-header-default = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-dialog-header-success = $spectrum-color-darkest-success;
$spectrum-color-darkest-dialog-header-info = $spectrum-color-darkest-info;
$spectrum-color-darkest-dialog-header-error = $spectrum-color-darkest-invalid;
$spectrum-color-darkest-dialog-header-warning = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-dialog-icon-success = $spectrum-color-darkest-success;
$spectrum-color-darkest-dialog-icon-info = $spectrum-color-darkest-info;
$spectrum-color-darkest-dialog-icon-error = $spectrum-color-darkest-invalid;
$spectrum-color-darkest-dialog-icon-warning = $spectrum-color-darkest-warning;
$spectrum-color-darkest-dialog-divider = $spectrum-color-darkest-grey3;
$spectrum-color-darkest-dialog-popover-border = $spectrum-color-darkest-border;
$spectrum-color-darkest-dialog-popover-shadow = $spectrum-color-darkest-dropshadow;
$spectrum-color-darkest-miller-divider = $spectrum-color-darkest-grey4;
$spectrum-color-darkest-miller-item-hover = $spectrum-color-darkest-grey4;
$spectrum-color-darkest-miller-item-icon = $spectrum-color-darkest-grey7;
$spectrum-color-darkest-miller-item-icon-hover = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-miller-item-text-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-miller-item-focusindicator = $spectrum-color-darkest-focus;
$spectrum-color-darkest-wizard-step = $spectrum-color-darkest-grey5;
$spectrum-color-darkest-wizard-step-current = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-wizard-step-complete = $spectrum-color-darkest-grey7;
$spectrum-color-darkest-wizard-step-hover = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-wizard-step-focus = $spectrum-color-darkest-focus;
$spectrum-color-darkest-wizard-segement = $spectrum-color-darkest-grey5;
$spectrum-color-darkest-wizard-segement-complete = $spectrum-color-darkest-grey7;
$spectrum-color-darkest-wizard-label = $spectrum-color-darkest-grey7;
$spectrum-color-darkest-wizard-label-complete = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-wizard-label-current = $spectrum-color-darkest-grey9;
$spectrum-color-darkest-heading1 = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-heading2 = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-heading3 = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-heading4 = $spectrum-color-darkest-grey10;
$spectrum-color-darkest-heading5 = $spectrum-color-darkest-grey8;
$spectrum-color-darkest-focus = $spectrum-color-blue2;
$spectrum-color-darkest-focus-text = $spectrum-color-blue2;
$spectrum-color-darkest-button-focus = $spectrum-color-blue2;
$spectrum-color-darkest-translucent-border = rgba(230, 230, 230, .1);
$spectrum-color-darkest-link = $spectrum-color-blue2;
$spectrum-color-darkest-link-active = $spectrum-color-blue3;


/** Palette for color stop light */
$spectrum-color-light-grey1 = rgb(255, 255, 255);
$spectrum-color-light-grey2 = rgb(250, 250, 250);
$spectrum-color-light-grey3 = rgb(245, 245, 245);
$spectrum-color-light-grey4 = rgb(234, 234, 234);
$spectrum-color-light-grey5 = rgb(225, 225, 225);
$spectrum-color-light-grey6 = rgb(194, 194, 194);
$spectrum-color-light-grey7 = rgb(153, 153, 153);
$spectrum-color-light-grey8 = rgb(112, 112, 112);
$spectrum-color-light-grey9 = rgb(75, 75, 75);
$spectrum-color-light-grey10 = rgb(45, 45, 45);

/** Concepts for color stop light */
$spectrum-color-light-info = $spectrum-color-blue3;
$spectrum-color-light-error = $spectrum-color-red3;
$spectrum-color-light-warning = $spectrum-color-yellow3;
$spectrum-color-light-success = $spectrum-color-green3;
$spectrum-color-light-background = $spectrum-color-light-grey3;
$spectrum-color-light-text = $spectrum-color-light-grey9;
$spectrum-color-light-text-secondary = $spectrum-color-light-grey8;
$spectrum-color-light-disabled = $spectrum-color-light-grey4;
$spectrum-color-light-disabled-text = $spectrum-color-light-grey6;
$spectrum-color-light-disabled-border = transparent;
$spectrum-color-light-border = $spectrum-color-light-grey5;
$spectrum-color-light-border-hover = $spectrum-color-light-grey6;
$spectrum-color-light-invalid = $spectrum-color-red2;
$spectrum-color-light-invalid-hover = $spectrum-color-red3;
$spectrum-color-light-invalid-active = $spectrum-color-red4;
$spectrum-color-light-dropshadow = rgba(0, 0, 0, 0.08);
$spectrum-color-light-modal-overlay-background = rgba(0, 0, 0, 0.6);
$spectrum-color-light-track = $spectrum-color-light-grey5;
$spectrum-color-light-button-background = transparent;
$spectrum-color-light-button-background-hover = $spectrum-color-light-grey9;
$spectrum-color-light-button-background-active = $spectrum-color-light-grey10;
$spectrum-color-light-button-background-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-background-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-button-border = $spectrum-color-light-grey9;
$spectrum-color-light-button-border-hover = $spectrum-color-light-grey9;
$spectrum-color-light-button-border-active = $spectrum-color-light-grey10;
$spectrum-color-light-button-border-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-border-disabled = $spectrum-color-light-disabled-border;
$spectrum-color-light-button-text = $spectrum-color-light-button-border;
$spectrum-color-light-button-text-hover = $spectrum-color-light-grey1;
$spectrum-color-light-button-text-active = $spectrum-color-light-grey1;
$spectrum-color-light-button-text-focus = white;
$spectrum-color-light-button-text-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-button-secondary-background = transparent;
$spectrum-color-light-button-secondary-background-hover = $spectrum-color-light-grey8;
$spectrum-color-light-button-secondary-background-active = $spectrum-color-light-grey9;
$spectrum-color-light-button-secondary-background-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-secondary-background-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-button-secondary-border = $spectrum-color-light-grey8;
$spectrum-color-light-button-secondary-border-hover = $spectrum-color-light-grey8;
$spectrum-color-light-button-secondary-border-active = $spectrum-color-light-grey9;
$spectrum-color-light-button-secondary-border-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-secondary-border-disabled = $spectrum-color-light-disabled-border;
$spectrum-color-light-button-secondary-text = $spectrum-color-light-button-secondary-border;
$spectrum-color-light-button-secondary-text-hover = $spectrum-color-light-grey1;
$spectrum-color-light-button-secondary-text-active = $spectrum-color-light-grey1;
$spectrum-color-light-button-secondary-text-focus = white;
$spectrum-color-light-button-secondary-text-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-button-cta-background = $spectrum-color-blue3;
$spectrum-color-light-button-cta-background-hover = $spectrum-color-blue4;
$spectrum-color-light-button-cta-background-active = $spectrum-color-blue5;
$spectrum-color-light-button-cta-background-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-cta-background-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-button-cta-border = transparent;
$spectrum-color-light-button-cta-border-hover = transparent;
$spectrum-color-light-button-cta-border-active = transparent;
$spectrum-color-light-button-cta-border-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-cta-border-disabled = $spectrum-color-light-disabled-border;
$spectrum-color-light-button-cta-text = white;
$spectrum-color-light-button-cta-text-hover = white;
$spectrum-color-light-button-cta-text-active = white;
$spectrum-color-light-button-cta-text-focus = white;
$spectrum-color-light-button-cta-text-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-button-warning-background = transparent;
$spectrum-color-light-button-warning-background-hover = $spectrum-color-red3;
$spectrum-color-light-button-warning-background-active = $spectrum-color-red4;
$spectrum-color-light-button-warning-background-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-warning-background-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-button-warning-border = $spectrum-color-red3;
$spectrum-color-light-button-warning-border-hover = $spectrum-color-red3;
$spectrum-color-light-button-warning-border-active = $spectrum-color-red4;
$spectrum-color-light-button-warning-border-focus = white;
$spectrum-color-light-button-warning-border-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-button-warning-text = $spectrum-color-red3;
$spectrum-color-light-button-warning-text-hover = $spectrum-color-light-grey1;
$spectrum-color-light-button-warning-text-active = $spectrum-color-light-grey1;
$spectrum-color-light-button-warning-text-focus = white;
$spectrum-color-light-button-warning-text-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-button-quiet-primary-background = transparent;
$spectrum-color-light-button-quiet-primary-background-hover = transparent;
$spectrum-color-light-button-quiet-primary-background-active = transparent;
$spectrum-color-light-button-quiet-primary-background-focus = transparent;
$spectrum-color-light-button-quiet-primary-background-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-button-quiet-primary-border = transparent;
$spectrum-color-light-button-quiet-primary-border-hover = transparent;
$spectrum-color-light-button-quiet-primary-border-active = transparent;
$spectrum-color-light-button-quiet-primary-border-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-quiet-primary-border-disabled = $spectrum-color-light-disabled-border;
$spectrum-color-light-button-quiet-primary-text = $spectrum-color-light-grey8;
$spectrum-color-light-button-quiet-primary-text-hover = $spectrum-color-light-grey9;
$spectrum-color-light-button-quiet-primary-text-active = $spectrum-color-light-grey10;
$spectrum-color-light-button-quiet-primary-text-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-quiet-primary-text-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-button-quiet-background = transparent;
$spectrum-color-light-button-quiet-background-hover = transparent;
$spectrum-color-light-button-quiet-background-active = transparent;
$spectrum-color-light-button-quiet-background-focus = transparent;
$spectrum-color-light-button-quiet-background-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-button-quiet-border = transparent;
$spectrum-color-light-button-quiet-border-hover = transparent;
$spectrum-color-light-button-quiet-border-active = transparent;
$spectrum-color-light-button-quiet-border-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-quiet-border-disabled = $spectrum-color-light-disabled-border;
$spectrum-color-light-button-quiet-text = $spectrum-color-light-grey8;
$spectrum-color-light-button-quiet-text-hover = $spectrum-color-light-grey9;
$spectrum-color-light-button-quiet-text-active = $spectrum-color-light-grey10;
$spectrum-color-light-button-quiet-text-focus = $spectrum-color-light-button-focus;
$spectrum-color-light-button-quiet-text-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-button-buttonbar-background = $spectrum-color-light-grey2;
$spectrum-color-light-button-buttonbar-background-hover = $spectrum-color-light-grey1;
$spectrum-color-light-button-buttonbar-background-active = $spectrum-color-light-grey4;
$spectrum-color-light-button-buttonbar-background-selected = $spectrum-color-light-grey4;
$spectrum-color-light-button-buttonbar-border = $spectrum-color-light-border;
$spectrum-color-light-button-buttonbar-border-focus = $spectrum-color-light-focus;
$spectrum-color-light-button-icon = $spectrum-color-light-grey8;
$spectrum-color-light-button-icon-hover = $spectrum-color-light-grey9;
$spectrum-color-light-button-icon-active = $spectrum-color-light-grey9;
$spectrum-color-light-button-icon-selected = $spectrum-color-light-grey9;
$spectrum-color-light-button-toggle-background-on = $spectrum-color-light-grey4;
$spectrum-color-light-button-quickaction-background = $spectrum-color-light-grey1;
$spectrum-color-light-button-quickaction-border = $spectrum-color-light-translucent-border;
$spectrum-color-light-button-quickaction-shadow = $spectrum-color-light-dropshadow;
$spectrum-color-light-button-quickaction-icon-focus = $spectrum-color-light-focus;
$spectrum-color-light-switch-border = $spectrum-color-light-grey8;
$spectrum-color-light-switch-border-hover = $spectrum-color-light-grey9;
$spectrum-color-light-switch-border-active = $spectrum-color-light-grey10;
$spectrum-color-light-switch-border-focus = $spectrum-color-light-focus;
$spectrum-color-light-switch-border-invalid = $spectrum-color-light-invalid;
$spectrum-color-light-switch-border-invalid-hover = $spectrum-color-light-invalid-hover;
$spectrum-color-light-switch-border-invalid-active = $spectrum-color-light-invalid-active;
$spectrum-color-light-switch-track = $spectrum-color-light-track;
$spectrum-color-light-slider-track = $spectrum-color-light-track;
$spectrum-color-light-slider-track-filled = $spectrum-color-light-grey8;
$spectrum-color-light-slider-track-buffer = $spectrum-color-light-grey6;
$spectrum-color-light-slider-handle-border = $spectrum-color-light-grey8;
$spectrum-color-light-slider-handle-border-hover = $spectrum-color-light-grey8;
$spectrum-color-light-slider-handle-border-active = $spectrum-color-light-grey9;
$spectrum-color-light-slider-handle-border-focus = $spectrum-color-light-focus;
$spectrum-color-light-slider-handle-border-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-input-placeholder = $spectrum-color-light-grey7;
$spectrum-color-light-input-placeholder-hover = $spectrum-color-light-grey8;
$spectrum-color-light-input-placeholder-disabled = $spectrum-color-light-grey5;
$spectrum-color-light-input-background = $spectrum-color-light-grey1;
$spectrum-color-light-input-background-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-input-border = $spectrum-color-light-border;
$spectrum-color-light-input-border-hover = $spectrum-color-light-border-hover;
$spectrum-color-light-input-border-active = $spectrum-color-light-focus;
$spectrum-color-light-input-border-focus = $spectrum-color-light-focus;
$spectrum-color-light-input-border-disabled = $spectrum-color-light-disabled-border;
$spectrum-color-light-input-border-invalid = $spectrum-color-light-invalid;
$spectrum-color-light-input-text = $spectrum-color-light-text;
$spectrum-color-light-input-text-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-input-quiet-background = transparent;
$spectrum-color-light-input-quiet-background-disabled = transparent;
$spectrum-color-light-input-quiet-border-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-input-label = $spectrum-color-light-grey8;
$spectrum-color-light-input-icon = $spectrum-color-light-grey8;
$spectrum-color-light-input-icon-hover = $spectrum-color-light-grey9;
$spectrum-color-light-input-icon-active = $spectrum-color-light-grey10;
$spectrum-color-light-select-background = $spectrum-color-light-grey2;
$spectrum-color-light-select-background-hover = $spectrum-color-light-grey1;
$spectrum-color-light-select-icon = $spectrum-color-light-grey8;
$spectrum-color-light-select-icon-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-select-border = $spectrum-color-light-border;
$spectrum-color-light-select-border-focus = $spectrum-color-light-focus;
$spectrum-color-light-select-quiet-background = transparent;
$spectrum-color-light-select-quiet-background-disabled = transparent;
$spectrum-color-light-select-quiet-text-hover = $spectrum-color-light-grey10;
$spectrum-color-light-list-background = $spectrum-color-light-grey1;
$spectrum-color-light-list-background-hover = $spectrum-color-light-grey3;
$spectrum-color-light-list-text-selected = $spectrum-color-light-focus-text;
$spectrum-color-light-list-icon-selected = $spectrum-color-light-focus-text;
$spectrum-color-light-list-focusindicator = $spectrum-color-light-focus;
$spectrum-color-light-tag-border = $spectrum-color-light-grey7;
$spectrum-color-light-tag-border-hover = $spectrum-color-light-grey9;
$spectrum-color-light-tag-border-active = $spectrum-color-light-grey10;
$spectrum-color-light-tag-border-focus = $spectrum-color-light-focus;
$spectrum-color-light-tag-border-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-tag-border-invalid = $spectrum-color-light-invalid;
$spectrum-color-light-tag-text = $spectrum-color-light-grey7;
$spectrum-color-light-tag-text-hover = $spectrum-color-light-grey9;
$spectrum-color-light-tag-text-active = $spectrum-color-light-grey10;
$spectrum-color-light-tag-text-focus = $spectrum-color-light-focus;
$spectrum-color-light-tag-text-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-tag-text-invalid = $spectrum-color-light-invalid;
$spectrum-color-light-alert-background = $spectrum-color-light-grey1;
$spectrum-color-light-alert-border-error = $spectrum-color-light-error;
$spectrum-color-light-alert-border-info = $spectrum-color-light-info;
$spectrum-color-light-alert-border-success = $spectrum-color-light-success;
$spectrum-color-light-alert-border-warning = $spectrum-color-light-warning;
$spectrum-color-light-notification-background-default = $spectrum-color-defaultgrey;
$spectrum-color-light-notification-background-success = $spectrum-color-light-success;
$spectrum-color-light-notification-background-info = $spectrum-color-light-info;
$spectrum-color-light-notification-background-error = $spectrum-color-light-error;
$spectrum-color-light-notification-background-warning = $spectrum-color-light-warning;
$spectrum-color-light-notification-text = white;
$spectrum-color-light-notification-button = white;
$spectrum-color-light-notification-icon = white;
$spectrum-color-light-loader-track = $spectrum-color-light-track;
$spectrum-color-light-loader-progress = $spectrum-color-light-focus;
$spectrum-color-light-loader-progress-grey = $spectrum-color-light-grey7;
$spectrum-color-light-divider-background = $spectrum-color-light-grey9;
$spectrum-color-light-rule-background = $spectrum-color-light-grey6;
$spectrum-color-light-tab-text = $spectrum-color-light-grey8;
$spectrum-color-light-tab-text-hover = $spectrum-color-light-grey10;
$spectrum-color-light-tab-text-active = $spectrum-color-light-grey10;
$spectrum-color-light-tab-text-selected = $spectrum-color-light-grey10;
$spectrum-color-light-tab-text-focus = $spectrum-color-light-focus;
$spectrum-color-light-tab-text-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-tab-line-background = $spectrum-color-light-grey10;
$spectrum-color-light-tab-line-background-focus = $spectrum-color-light-focus;
$spectrum-color-light-tab-line-background-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-tab-border-focus = $spectrum-color-light-focus;
$spectrum-color-light-accordion-border = $spectrum-color-light-grey4;
$spectrum-color-light-accordion-text = $spectrum-color-light-grey8;
$spectrum-color-light-accordion-text-hover = $spectrum-color-light-grey10;
$spectrum-color-light-accordion-text-active = $spectrum-color-light-grey10;
$spectrum-color-light-accordion-text-focus = $spectrum-color-light-grey10;
$spectrum-color-light-accordion-text-disabled = $spectrum-color-light-disabled-text;
$spectrum-color-light-accordion-focusindicator = $spectrum-color-light-focus;
$spectrum-color-light-accordion-icon = $spectrum-color-light-grey7;
$spectrum-color-light-accordion-icon-hover = $spectrum-color-light-grey9;
$spectrum-color-light-accordion-icon-active = $spectrum-color-light-grey9;
$spectrum-color-light-accordion-icon-focus = $spectrum-color-light-grey9;
$spectrum-color-light-accordion-icon-disabled = $spectrum-color-light-disabled;
$spectrum-color-light-drawer-background = $spectrum-color-light-grey2;
$spectrum-color-light-drag-handle-background = $spectrum-color-light-grey5;
$spectrum-color-light-drag-handle-background-hover = $spectrum-color-light-grey6;
$spectrum-color-light-drag-handle-background-focus = $spectrum-color-light-focus;
$spectrum-color-light-drag-handle-icon = $spectrum-color-light-grey1;
$spectrum-color-light-dialog-background = $spectrum-color-light-grey1;
$spectrum-color-light-dialog-header-default = $spectrum-color-light-grey10;
$spectrum-color-light-dialog-header-success = $spectrum-color-light-success;
$spectrum-color-light-dialog-header-info = $spectrum-color-light-info;
$spectrum-color-light-dialog-header-error = $spectrum-color-light-invalid;
$spectrum-color-light-dialog-header-warning = $spectrum-color-light-grey10;
$spectrum-color-light-dialog-icon-success = $spectrum-color-light-success;
$spectrum-color-light-dialog-icon-info = $spectrum-color-light-info;
$spectrum-color-light-dialog-icon-error = $spectrum-color-light-invalid;
$spectrum-color-light-dialog-icon-warning = $spectrum-color-light-warning;
$spectrum-color-light-dialog-divider = $spectrum-color-light-grey3;
$spectrum-color-light-dialog-popover-border = $spectrum-color-light-border;
$spectrum-color-light-dialog-popover-shadow = $spectrum-color-light-dropshadow;
$spectrum-color-light-miller-divider = $spectrum-color-light-grey4;
$spectrum-color-light-miller-item-hover = $spectrum-color-light-grey4;
$spectrum-color-light-miller-item-icon = $spectrum-color-light-grey7;
$spectrum-color-light-miller-item-icon-hover = $spectrum-color-light-grey8;
$spectrum-color-light-miller-item-text-focus = $spectrum-color-light-focus;
$spectrum-color-light-miller-item-focusindicator = $spectrum-color-light-focus;
$spectrum-color-light-wizard-step = $spectrum-color-light-grey5;
$spectrum-color-light-wizard-step-current = $spectrum-color-light-grey9;
$spectrum-color-light-wizard-step-complete = $spectrum-color-light-grey7;
$spectrum-color-light-wizard-step-hover = $spectrum-color-light-grey8;
$spectrum-color-light-wizard-step-focus = $spectrum-color-light-focus;
$spectrum-color-light-wizard-segement = $spectrum-color-light-grey5;
$spectrum-color-light-wizard-segement-complete = $spectrum-color-light-grey7;
$spectrum-color-light-wizard-label = $spectrum-color-light-grey7;
$spectrum-color-light-wizard-label-complete = $spectrum-color-light-grey8;
$spectrum-color-light-wizard-label-current = $spectrum-color-light-grey9;
$spectrum-color-light-heading1 = $spectrum-color-light-grey10;
$spectrum-color-light-heading2 = $spectrum-color-light-grey10;
$spectrum-color-light-heading3 = $spectrum-color-light-grey10;
$spectrum-color-light-heading4 = $spectrum-color-light-grey10;
$spectrum-color-light-heading5 = $spectrum-color-light-grey8;
$spectrum-color-light-focus = $spectrum-color-blue3;
$spectrum-color-light-focus-text = $spectrum-color-blue4;
$spectrum-color-light-button-focus = $spectrum-color-blue4;
$spectrum-color-light-translucent-border = rgba(45, 45, 45, .1);
$spectrum-color-light-link = $spectrum-color-blue4;
$spectrum-color-light-link-active = $spectrum-color-blue5;


/** Palette for color stop lightest */
$spectrum-color-lightest-grey1 = rgb(255, 255, 255);
$spectrum-color-lightest-grey2 = rgb(255, 255, 255);
$spectrum-color-lightest-grey3 = rgb(255, 255, 255);
$spectrum-color-lightest-grey4 = rgb(244, 244, 244);
$spectrum-color-lightest-grey5 = rgb(234, 234, 234);
$spectrum-color-lightest-grey6 = rgb(202, 202, 202);
$spectrum-color-lightest-grey7 = rgb(160, 160, 160);
$spectrum-color-lightest-grey8 = rgb(118, 118, 118);
$spectrum-color-lightest-grey9 = rgb(80, 80, 80);
$spectrum-color-lightest-grey10 = rgb(51, 51, 51);

/** Concepts for color stop lightest */
$spectrum-color-lightest-info = $spectrum-color-blue3;
$spectrum-color-lightest-error = $spectrum-color-red3;
$spectrum-color-lightest-warning = $spectrum-color-yellow3;
$spectrum-color-lightest-success = $spectrum-color-green3;
$spectrum-color-lightest-background = $spectrum-color-lightest-grey3;
$spectrum-color-lightest-text = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-text-secondary = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-disabled = $spectrum-color-lightest-grey4;
$spectrum-color-lightest-disabled-text = $spectrum-color-lightest-grey6;
$spectrum-color-lightest-disabled-border = transparent;
$spectrum-color-lightest-border = $spectrum-color-lightest-grey5;
$spectrum-color-lightest-border-hover = $spectrum-color-lightest-grey6;
$spectrum-color-lightest-invalid = $spectrum-color-red2;
$spectrum-color-lightest-invalid-hover = $spectrum-color-red3;
$spectrum-color-lightest-invalid-active = $spectrum-color-red4;
$spectrum-color-lightest-dropshadow = rgba(0, 0, 0, 0.08);
$spectrum-color-lightest-modal-overlay-background = rgba(0, 0, 0, 0.6);
$spectrum-color-lightest-track = $spectrum-color-lightest-grey5;
$spectrum-color-lightest-button-background = transparent;
$spectrum-color-lightest-button-background-hover = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-button-background-active = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-button-background-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-background-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-button-border = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-button-border-hover = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-button-border-active = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-button-border-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-border-disabled = $spectrum-color-lightest-disabled-border;
$spectrum-color-lightest-button-text = $spectrum-color-lightest-button-border;
$spectrum-color-lightest-button-text-hover = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-button-text-active = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-button-text-focus = white;
$spectrum-color-lightest-button-text-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-button-secondary-background = transparent;
$spectrum-color-lightest-button-secondary-background-hover = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-button-secondary-background-active = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-button-secondary-background-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-secondary-background-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-button-secondary-border = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-button-secondary-border-hover = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-button-secondary-border-active = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-button-secondary-border-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-secondary-border-disabled = $spectrum-color-lightest-disabled-border;
$spectrum-color-lightest-button-secondary-text = $spectrum-color-lightest-button-secondary-border;
$spectrum-color-lightest-button-secondary-text-hover = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-button-secondary-text-active = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-button-secondary-text-focus = white;
$spectrum-color-lightest-button-secondary-text-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-button-cta-background = $spectrum-color-blue3;
$spectrum-color-lightest-button-cta-background-hover = $spectrum-color-blue4;
$spectrum-color-lightest-button-cta-background-active = $spectrum-color-blue5;
$spectrum-color-lightest-button-cta-background-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-cta-background-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-button-cta-border = transparent;
$spectrum-color-lightest-button-cta-border-hover = transparent;
$spectrum-color-lightest-button-cta-border-active = transparent;
$spectrum-color-lightest-button-cta-border-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-cta-border-disabled = $spectrum-color-lightest-disabled-border;
$spectrum-color-lightest-button-cta-text = white;
$spectrum-color-lightest-button-cta-text-hover = white;
$spectrum-color-lightest-button-cta-text-active = white;
$spectrum-color-lightest-button-cta-text-focus = white;
$spectrum-color-lightest-button-cta-text-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-button-warning-background = transparent;
$spectrum-color-lightest-button-warning-background-hover = $spectrum-color-red3;
$spectrum-color-lightest-button-warning-background-active = $spectrum-color-red4;
$spectrum-color-lightest-button-warning-background-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-warning-background-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-button-warning-border = $spectrum-color-red3;
$spectrum-color-lightest-button-warning-border-hover = $spectrum-color-red3;
$spectrum-color-lightest-button-warning-border-active = $spectrum-color-red4;
$spectrum-color-lightest-button-warning-border-focus = white;
$spectrum-color-lightest-button-warning-border-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-button-warning-text = $spectrum-color-red3;
$spectrum-color-lightest-button-warning-text-hover = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-button-warning-text-active = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-button-warning-text-focus = white;
$spectrum-color-lightest-button-warning-text-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-button-quiet-primary-background = transparent;
$spectrum-color-lightest-button-quiet-primary-background-hover = transparent;
$spectrum-color-lightest-button-quiet-primary-background-active = transparent;
$spectrum-color-lightest-button-quiet-primary-background-focus = transparent;
$spectrum-color-lightest-button-quiet-primary-background-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-button-quiet-primary-border = transparent;
$spectrum-color-lightest-button-quiet-primary-border-hover = transparent;
$spectrum-color-lightest-button-quiet-primary-border-active = transparent;
$spectrum-color-lightest-button-quiet-primary-border-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-quiet-primary-border-disabled = $spectrum-color-lightest-disabled-border;
$spectrum-color-lightest-button-quiet-primary-text = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-button-quiet-primary-text-hover = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-button-quiet-primary-text-active = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-button-quiet-primary-text-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-quiet-primary-text-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-button-quiet-background = transparent;
$spectrum-color-lightest-button-quiet-background-hover = transparent;
$spectrum-color-lightest-button-quiet-background-active = transparent;
$spectrum-color-lightest-button-quiet-background-focus = transparent;
$spectrum-color-lightest-button-quiet-background-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-button-quiet-border = transparent;
$spectrum-color-lightest-button-quiet-border-hover = transparent;
$spectrum-color-lightest-button-quiet-border-active = transparent;
$spectrum-color-lightest-button-quiet-border-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-quiet-border-disabled = $spectrum-color-lightest-disabled-border;
$spectrum-color-lightest-button-quiet-text = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-button-quiet-text-hover = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-button-quiet-text-active = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-button-quiet-text-focus = $spectrum-color-lightest-button-focus;
$spectrum-color-lightest-button-quiet-text-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-button-buttonbar-background = $spectrum-color-lightest-grey2;
$spectrum-color-lightest-button-buttonbar-background-hover = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-button-buttonbar-background-active = $spectrum-color-lightest-grey4;
$spectrum-color-lightest-button-buttonbar-background-selected = $spectrum-color-lightest-grey4;
$spectrum-color-lightest-button-buttonbar-border = $spectrum-color-lightest-border;
$spectrum-color-lightest-button-buttonbar-border-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-button-icon = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-button-icon-hover = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-button-icon-active = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-button-icon-selected = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-button-toggle-background-on = $spectrum-color-lightest-grey4;
$spectrum-color-lightest-button-quickaction-background = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-button-quickaction-border = $spectrum-color-lightest-translucent-border;
$spectrum-color-lightest-button-quickaction-shadow = $spectrum-color-lightest-dropshadow;
$spectrum-color-lightest-button-quickaction-icon-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-switch-border = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-switch-border-hover = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-switch-border-active = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-switch-border-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-switch-border-invalid = $spectrum-color-lightest-invalid;
$spectrum-color-lightest-switch-border-invalid-hover = $spectrum-color-lightest-invalid-hover;
$spectrum-color-lightest-switch-border-invalid-active = $spectrum-color-lightest-invalid-active;
$spectrum-color-lightest-switch-track = $spectrum-color-lightest-track;
$spectrum-color-lightest-slider-track = $spectrum-color-lightest-track;
$spectrum-color-lightest-slider-track-filled = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-slider-track-buffer = $spectrum-color-lightest-grey6;
$spectrum-color-lightest-slider-handle-border = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-slider-handle-border-hover = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-slider-handle-border-active = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-slider-handle-border-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-slider-handle-border-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-input-placeholder = $spectrum-color-lightest-grey7;
$spectrum-color-lightest-input-placeholder-hover = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-input-placeholder-disabled = $spectrum-color-lightest-grey5;
$spectrum-color-lightest-input-background = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-input-background-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-input-border = $spectrum-color-lightest-border;
$spectrum-color-lightest-input-border-hover = $spectrum-color-lightest-border-hover;
$spectrum-color-lightest-input-border-active = $spectrum-color-lightest-focus;
$spectrum-color-lightest-input-border-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-input-border-disabled = $spectrum-color-lightest-disabled-border;
$spectrum-color-lightest-input-border-invalid = $spectrum-color-lightest-invalid;
$spectrum-color-lightest-input-text = $spectrum-color-lightest-text;
$spectrum-color-lightest-input-text-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-input-quiet-background = transparent;
$spectrum-color-lightest-input-quiet-background-disabled = transparent;
$spectrum-color-lightest-input-quiet-border-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-input-label = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-input-icon = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-input-icon-hover = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-input-icon-active = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-select-background = $spectrum-color-lightest-grey2;
$spectrum-color-lightest-select-background-hover = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-select-icon = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-select-icon-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-select-border = $spectrum-color-lightest-border;
$spectrum-color-lightest-select-border-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-select-quiet-background = transparent;
$spectrum-color-lightest-select-quiet-background-disabled = transparent;
$spectrum-color-lightest-select-quiet-text-hover = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-list-background = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-list-background-hover = $spectrum-color-lightest-grey4;
$spectrum-color-lightest-list-text-selected = $spectrum-color-lightest-focus-text;
$spectrum-color-lightest-list-icon-selected = $spectrum-color-lightest-focus-text;
$spectrum-color-lightest-list-focusindicator = $spectrum-color-lightest-focus;
$spectrum-color-lightest-tag-border = $spectrum-color-lightest-grey7;
$spectrum-color-lightest-tag-border-hover = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-tag-border-active = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-tag-border-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-tag-border-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-tag-border-invalid = $spectrum-color-lightest-invalid;
$spectrum-color-lightest-tag-text = $spectrum-color-lightest-grey7;
$spectrum-color-lightest-tag-text-hover = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-tag-text-active = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-tag-text-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-tag-text-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-tag-text-invalid = $spectrum-color-lightest-invalid;
$spectrum-color-lightest-alert-background = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-alert-border-error = $spectrum-color-lightest-error;
$spectrum-color-lightest-alert-border-info = $spectrum-color-lightest-info;
$spectrum-color-lightest-alert-border-success = $spectrum-color-lightest-success;
$spectrum-color-lightest-alert-border-warning = $spectrum-color-lightest-warning;
$spectrum-color-lightest-notification-background-default = $spectrum-color-defaultgrey;
$spectrum-color-lightest-notification-background-success = $spectrum-color-lightest-success;
$spectrum-color-lightest-notification-background-info = $spectrum-color-lightest-info;
$spectrum-color-lightest-notification-background-error = $spectrum-color-lightest-error;
$spectrum-color-lightest-notification-background-warning = $spectrum-color-lightest-warning;
$spectrum-color-lightest-notification-text = white;
$spectrum-color-lightest-notification-button = white;
$spectrum-color-lightest-notification-icon = white;
$spectrum-color-lightest-loader-track = $spectrum-color-lightest-track;
$spectrum-color-lightest-loader-progress = $spectrum-color-lightest-focus;
$spectrum-color-lightest-loader-progress-grey = $spectrum-color-lightest-grey7;
$spectrum-color-lightest-divider-background = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-rule-background = $spectrum-color-lightest-grey6;
$spectrum-color-lightest-tab-text = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-tab-text-hover = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-tab-text-active = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-tab-text-selected = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-tab-text-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-tab-text-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-tab-line-background = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-tab-line-background-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-tab-line-background-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-tab-border-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-accordion-border = $spectrum-color-lightest-grey4;
$spectrum-color-lightest-accordion-text = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-accordion-text-hover = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-accordion-text-active = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-accordion-text-focus = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-accordion-text-disabled = $spectrum-color-lightest-disabled-text;
$spectrum-color-lightest-accordion-focusindicator = $spectrum-color-lightest-focus;
$spectrum-color-lightest-accordion-icon = $spectrum-color-lightest-grey7;
$spectrum-color-lightest-accordion-icon-hover = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-accordion-icon-active = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-accordion-icon-focus = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-accordion-icon-disabled = $spectrum-color-lightest-disabled;
$spectrum-color-lightest-drawer-background = $spectrum-color-lightest-grey2;
$spectrum-color-lightest-drag-handle-background = $spectrum-color-lightest-grey5;
$spectrum-color-lightest-drag-handle-background-hover = $spectrum-color-lightest-grey6;
$spectrum-color-lightest-drag-handle-background-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-drag-handle-icon = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-dialog-background = $spectrum-color-lightest-grey1;
$spectrum-color-lightest-dialog-header-default = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-dialog-header-success = $spectrum-color-lightest-success;
$spectrum-color-lightest-dialog-header-info = $spectrum-color-lightest-info;
$spectrum-color-lightest-dialog-header-error = $spectrum-color-lightest-invalid;
$spectrum-color-lightest-dialog-header-warning = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-dialog-icon-success = $spectrum-color-lightest-success;
$spectrum-color-lightest-dialog-icon-info = $spectrum-color-lightest-info;
$spectrum-color-lightest-dialog-icon-error = $spectrum-color-lightest-invalid;
$spectrum-color-lightest-dialog-icon-warning = $spectrum-color-lightest-warning;
$spectrum-color-lightest-dialog-divider = $spectrum-color-lightest-grey3;
$spectrum-color-lightest-dialog-popover-border = $spectrum-color-lightest-border;
$spectrum-color-lightest-dialog-popover-shadow = $spectrum-color-lightest-dropshadow;
$spectrum-color-lightest-miller-divider = $spectrum-color-lightest-grey4;
$spectrum-color-lightest-miller-item-hover = $spectrum-color-lightest-grey4;
$spectrum-color-lightest-miller-item-icon = $spectrum-color-lightest-grey7;
$spectrum-color-lightest-miller-item-icon-hover = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-miller-item-text-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-miller-item-focusindicator = $spectrum-color-lightest-focus;
$spectrum-color-lightest-wizard-step = $spectrum-color-lightest-grey5;
$spectrum-color-lightest-wizard-step-current = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-wizard-step-complete = $spectrum-color-lightest-grey7;
$spectrum-color-lightest-wizard-step-hover = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-wizard-step-focus = $spectrum-color-lightest-focus;
$spectrum-color-lightest-wizard-segement = $spectrum-color-lightest-grey5;
$spectrum-color-lightest-wizard-segement-complete = $spectrum-color-lightest-grey7;
$spectrum-color-lightest-wizard-label = $spectrum-color-lightest-grey7;
$spectrum-color-lightest-wizard-label-complete = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-wizard-label-current = $spectrum-color-lightest-grey9;
$spectrum-color-lightest-heading1 = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-heading2 = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-heading3 = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-heading4 = $spectrum-color-lightest-grey10;
$spectrum-color-lightest-heading5 = $spectrum-color-lightest-grey8;
$spectrum-color-lightest-focus = $spectrum-color-blue3;
$spectrum-color-lightest-focus-text = $spectrum-color-blue4;
$spectrum-color-lightest-button-focus = $spectrum-color-blue4;
$spectrum-color-lightest-translucent-border = rgba(51, 51, 51, .1);
$spectrum-color-lightest-link = $spectrum-color-blue3;
$spectrum-color-lightest-link-active = $spectrum-color-blue4;
