@import '../commons/index.css';

:root {
  --spectrum-textfield-padding-top: 3px;
  --spectrum-textfield-padding-bottom: 5px;

  /* Todo fix in DNA */
  --spectrum-textfield-quiet-border-radius: 0;

  --spectrum-textfield-quiet-invalid-background-position: 100% 50%;

  --spectrum-textfield-multiline-height: auto;

  --spectrum-textfield-multiline-padding-y: 4px;
  --spectrum-textfield-multiline-padding-x: 8px;
}

.spectrum-Textfield {
  /* box */
  box-sizing: border-box;
  border: var(--spectrum-textfield-border-size) solid;
  border-radius: var(--spectrum-border-radius);

  /* Apply padding by default to center text, giving consistency between input and textfield */
  padding: var(--spectrum-textfield-padding-top) var(--spectrum-padding) var(--spectrum-textfield-padding-bottom);
  /* Use padding instead of text-indent because text-indent does not left align the text in Edge browser  */
  text-indent: 0;

  min-width: var(--spectrum-textfield-min-width);
  height: var(--spectrum-textfield-height);
  width: var(--spectrum-component-single-line-width);

  vertical-align: top; /* used to align them correctly in forms. */

  /* Remove the margin for input in Firefox and Safari. */
  margin: 0;

  /* Show the overflow for input in Edge. */
  overflow: visible;

  /* Change the input font styles in all browsers */
  font-family: inherit;
  font-size: var(--spectrum-textfield-text-size);
  line-height: var(--spectrum-text-body-line-height);
  text-overflow: ellipsis;

  transition: border-color var(--spectrum-transition-time) ease-in-out, box-shadow var(--spectrum-transition-time) ease-in-out;

  outline: none;

  /* removes the native spin buttons in firefox. -mox-appearance: none has no effect */
  /* http://stackoverflow.com/questions/23372903/hide-spinner-in-input-number-firefox-29 */
  -moz-appearance: textfield;

  /* Normalize is adding a specific selector that resets this, so be important */
  -webkit-appearance: none !important;

  &::placeholder {
    font-weight: var(--spectrum-textfield-placeholder-text-font-weight);
    font-style: var(--spectrum-textfield-placeholder-text-font-style);
    transition: color var(--spectrum-transition-time) ease-in-out;
  }

  &:hover {
    &::placeholder {
      font-weight: var(--spectrum-textfield-placeholder-text-font-weight);
    }
  }

  &:disabled {
    /* The opacity must be set to 1 */
    opacity: 1;
    &::placeholder {
      font-weight: var(--spectrum-textfield-placeholder-text-font-weight);
    }
  }

  /* Remove the native clear button in IE */
  /* http://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs */
  &::-ms-clear {
    width: 0;
    height: 0;
  }

  /* removes the native spin buttons */
  /* http://stackoverflow.com/questions/23372903/hide-spinner-in-input-number-firefox-29 */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* removes the red border that appears in Firefox */
  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &.is-invalid,
  &:invalid,
  &.is-valid {
    background-repeat: no-repeat;
  }

  &.is-invalid,
  &:invalid {
    background-size: var(--spectrum-icon-alert-medium-width) var(--spectrum-icon-alert-medium-width);
    background-position: calc(100% - var(--spectrum-textfield-padding-x)) 50%;
    padding-right: calc(var(--spectrum-textfield-padding-x) + var(--spectrum-icon-alert-medium-width) + var(--spectrum-textfield-icon-margin-left));
  }

  &.is-valid {
    background-size: var(--spectrum-icon-checkmark-medium-width) var(--spectrum-icon-checkmark-medium-width);
    background-position: calc(100% - var(--spectrum-textfield-padding-x)) 50%;
    padding-right: calc(var(--spectrum-textfield-padding-x) + var(--spectrum-icon-checkmark-medium-width) + var(--spectrum-textfield-icon-margin-left));
  }
}

.spectrum-Textfield--multiline {
  height: var(--spectrum-textfield-multiline-height);
  padding: var(--spectrum-textfield-multiline-padding-y) var(--spectrum-textfield-multiline-padding-x);
  text-indent: 0;

  /* Remove the default vertical scrollbar for textarea in IE. */
  overflow: auto;

  &.is-invalid,
  &:invalid,
  &.is-valid {
    background-position: calc(100% - calc(var(--spectrum-textfield-icon-size) / 2)) calc(100% - calc(var(--spectrum-textfield-icon-size) / 2));
  }
}

.spectrum-Textfield--quiet {
  border-radius: var(--spectrum-textfield-quiet-border-radius);
  text-indent: 0;

  border-width: 0 0 var(--spectrum-textfield-quiet-border-size) 0;

  /* removes the side padding to align the text properly */
  padding-left: var(--spectrum-textfield-quiet-padding-x);
  padding-right: var(--spectrum-textfield-quiet-padding-x);

  /* Treat all quiet inputs and textareas the same */
  resize: none;
  overflow-y: hidden;

  &.is-invalid,
  &:invalid,
  &.is-valid {
    background-position: var(--spectrum-textfield-quiet-invalid-background-position);
  }
}
