
/* topdoc
{{ textfield/textarea.yml }}
*/

/* topdoc
{{ textfield/textarea-quiet.yml }}
*/

/* topdoc
{{ textfield/textfield.yml }}
*/

.spectrum-Textfield {
  background-color: var(--spectrum-textfield-background-color);
  border-color: var(--spectrum-textfield-border-color);
  color: var(--spectrum-textfield-text-color);

  &::placeholder {
    color: var(--spectrum-textfield-placeholder-text-color);
  }

  &::selection {
    background-color: var(--spectrum-textfield-placeholder-selected);
  }

  &:hover {
    background-color: var(--spectrum-textfield-background-color-hover);
    color: var(--spectrum-textfield-text-color-hover);
    border-color: var(--spectrum-textfield-border-color-hover);
    box-shadow: none;

    &::placeholder {
      color: var(--spectrum-textfield-placeholder-text-color-hover);
    }
  }

  &:focus {
    background-color: var(--spectrum-textfield-background-color-down);
    border-color: var(--spectrum-textfield-border-color-down);
    color: var(--spectrum-textfield-text-color-down);

    &::placeholder {
      color: var(--spectrum-textfield-placeholder-text-color-down);
    }

    &:not(:hover) {
      background-color: var(--spectrum-textfield-background-color-down);
      color: var(--spectrum-textfield-text-color);
      border-color: var(--spectrum-textfield-border-color-down);
      box-shadow: none;

      &::placeholder {
        color: var(--spectrum-textfield-placeholder-text-color);
      }
    }
  }

  &:focus-ring {
    &:not(:active) {
      color: var(--spectrum-textfield-text-color-key-focus);
      border-color: var(--spectrum-textfield-border-color-key-focus);

    }

    &::placeholder {
      color: var(--spectrum-textfield-placeholder-text-color-key-focus);
    }
  }

  &.is-invalid,
  &:invalid {
    border-color: var(--spectrum-textfield-border-color-error);
    background-image: url("embed/AlertMedium.svg" param(--color var(--spectrum-textfield-validation-icon-color-error)));
  }

  &.is-valid {
    background-image: url("embed/CheckmarkMedium.svg" param(--color var(--spectrum-textfield-icon-color-valid)));
  }

  &:disabled,
  &[disabled] {
    background-color: var(--spectrum-textfield-background-color-disabled);
    border-color: var(--spectrum-textfield-border-color-disabled);
    color: var(--spectrum-textfield-text-color-disabled);

    /* For safari mobile browser */
    -webkit-text-fill-color: var(--spectrum-textfield-text-color-disabled);

    &::placeholder {
      color: var(--spectrum-textfield-placeholder-text-color-disabled);
    }

    /* Invalid */
    &.is-invalid,
    &:invalid {
      background-image: url("embed/AlertMedium.svg" param(--color var(--spectrum-textfield-validation-icon-color-disabled)));
    }

    &.is-valid {
      background-image: url("embed/CheckmarkMedium.svg" param(--color var(--spectrum-textfield-validation-icon-color-disabled)));
    }
  }
}


/* topdoc
{{ textfield/textfield-quiet.yml }}
*/
.spectrum-Textfield--quiet {
  background-color: var(--spectrum-textfield-quiet-background-color);
  border-color: var(--spectrum-textfield-quiet-border-color);

  &:hover {
    background-color: var(--spectrum-textfield-quiet-background-color-hover);
    border-color: var(--spectrum-textfield-quiet-border-color-hover);
  }

  &:active {
    border-color: var(--spectrum-textfield-quiet-border-color-down);
  }

  &:focus {
    border-color: var(--spectrum-textfield-quiet-border-color-mouse-focus);

    &:not(:hover) {
      background-color: var(--spectrum-textfield-quiet-background-color-mouse-focus);
    }
  }

  &:focus-ring {
    box-shadow: none;
    border-color: var(--spectrum-textfield-quiet-border-color-key-focus);
  }

  &:disabled {
    background-color: var(--spectrum-textfield-quiet-background-color-disabled);
    border-color:  var(--spectrum-textfield-quiet-border-color-disabled);
  }
}
