/* TODO: is it wonky that textarea shares the selector? */
/* It's a little wonky, right? */

/* topdoc
{{ textfield/textarea-default.yml }}
*/

/* topdoc
{{ textfield/textarea-quiet.yml }}
*/

/* topdoc
{{ textfield/textfield-default.yml }}
*/
.spectrum-Textfield {
  background-color: var(--spectrum-textfield-background-color);
  border-color: var(--spectrum-textfield-border-color);
  color: var(--spectrum-textfield-text-color);

  &::placeholder {
    color: var(--spectrum-textfield-placeholder-text-color);
  }

  &:hover {
    border-color: var(--spectrum-textfield-border-color-hover);
    box-shadow: none;

    &::placeholder {
      color: var(--spectrum-textfield-placeholder-text-color-hover);
    }
  }

  &:focus {
    border-color: var(--spectrum-textfield-border-color-down);
  }

  &:focus-ring {
    &:not(:active) {
      border-color: var(--spectrum-textfield-border-color-key-focus);
      box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-key-focus);
    }
  }



  &[disabled] {
    background-color: var(--spectrum-textfield-background-color-disabled);
    border-color: var(--spectrum-textfield-border-color-disabled);
    color: var(--spectrum-textfield-text-color-disabled);

    /* For safari mobile browser */
    -webkit-text-fill-color: var(--spectrum-textfield-text-color-disabled);

    &::placeholder {
      color: var(--spectrum-textfield-placeholder-text-color-disabled);
    }
  }

  &.is-invalid,
  &:invalid {
    border-color: var(--spectrum-textfield-border-color-error);
    background-image: url("embed/S_Alert_18_N@2x.svg" param(--color var(--spectrum-alert-error-border-color)));

    &:focus-ring { /* might break things due to pre-defined focus-ring */
      &:not(:active) {
        border-color: var(--spectrum-textfield-border-color-error);
        box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-error);
      }
    }
  }
}


/* topdoc
{{ textfield/textfield-quiet.yml }}
*/
.spectrum-Textfield--quiet {
  background-color: var(--spectrum-textfield-quiet-background-color);
  border-color: var(--spectrum-textfield-quiet-border-color);

  &:hover {
    border-color: var(--spectrum-textfield-quiet-border-color-hover);
  }

  &:active {
    border-color: var(--spectrum-textfield-quiet-border-color-down);
  }

  &:focus {
    border-color: var(--spectrum-textfield-quiet-border-color-key-focus);
    box-shadow: 0 1px 0 var(--spectrum-textfield-quiet-border-color-key-focus);
  }

  &:focus-ring {
    &:not(:active) {
      border-color: var(--spectrum-textfield-border-color-key-focus);
      box-shadow: 0 1px 0 var(--spectrum-textfield-border-color-key-focus);
    }
  }

  &:disabled {
    background-color: var(--spectrum-textfield-quiet-background-color-disabled);
    border-color:  var(--spectrum-textfield-quiet-border-color-disabled);
  }

  &.is-invalid,
  &:invalid {
    border-color: var(--spectrum-textfield-border-color-error);

    &:focus {
      box-shadow: 0 1px 0 var(--spectrum-textfield-border-color-error);
    }

    &:focus-ring { /* might break things due to pre-defined focus-ring */
      &:not(:active) {
        border-color: var(--spectrum-textfield-border-color-error);
        box-shadow: 0 1px 0 var(--spectrum-textfield-border-color-error);
      }
    }
  }
}
