@import '../commons/index.css';

:root {
  --spectrum-toast-height: var(--spectrum-global-dimension-size-600);
  --spectrum-toast-icon-size: var(--spectrum-icon-alert-medium-height);
  --spectrum-toast-button-group-margin: var(--spectrum-global-dimension-size-100) var(--spectrum-global-dimension-size-100) 0 calc(-1 * calc(var(--spectrum-global-dimension-size-200) - var(--spectrum-global-dimension-size-100)));
  --spectrum-toast-icon-margin: calc(calc(var(--spectrum-toast-height) - var(--spectrum-toast-icon-size)) / 2) calc(-1 * var(--spectrum-global-dimension-size-50)) calc(calc(var(--spectrum-toast-height) - var(--spectrum-toast-icon-size)) / 2) var(--spectrum-global-dimension-size-200);
  --spectrum-toast-button-margin: 0 0 var(--spectrum-global-dimension-size-100) var(--spectrum-global-dimension-size-100);
  --spectrum-toast-content-margin: var(--spectrum-global-dimension-size-175) var(--spectrum-global-dimension-size-200) var(--spectrum-global-dimension-size-175) var(--spectrum-global-dimension-size-200);
}

/* topdoc
{{ toast/toast-default.yml }}
*/
.spectrum-Toast {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;

  border-radius: var(--spectrum-toast-border-radius);

  font-size: var(--spectrum-toast-text-size);
  font-weight: var(--spectrum-toast-text-font-weight);
  -webkit-font-smoothing: antialiased;
}

.spectrum-Toast-typeIcon {
  flex-shrink: 0;
  flex-grow: 0;

  margin: var(--spectrum-toast-icon-margin);
}

.spectrum-Toast-buttons {
  display: flex;
  flex: 1;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;

  margin: var(--spectrum-toast-button-group-margin);

  .spectrum-Button,
  .spectrum-ClearButton {
    margin: var(--spectrum-toast-button-margin);
  }
}

.spectrum-Toast-content {
  margin: var(--spectrum-toast-content-margin);
}
