@import '../commons/index.css';

:root {
  --spectrum-toast-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-toast-content-padding-top: var(--spectrum-global-dimension-size-65);
  --spectrum-toast-content-padding-bottom: var(--spectrum-global-dimension-size-65);

  --spectrum-toast-button-margin-right: var(--spectrum-global-dimension-size-130);
}

/* topdoc
{{ toast/toast.yml }}
*/
.spectrum-Toast {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;

  border-radius: var(--spectrum-toast-border-radius);

  padding: var(--spectrum-toast-padding-y) var(--spectrum-toast-padding-right) var(--spectrum-toast-padding-y) var(--spectrum-toast-padding-left);

  font-size: var(--spectrum-toast-text-size);
  font-weight: var(--spectrum-toast-text-font-weight);
  -webkit-font-smoothing: antialiased;
}

.spectrum-Toast-typeIcon {
  flex-shrink: 0;
  flex-grow: 0;

  margin: var(--spectrum-toast-icon-padding-y) var(--spectrum-toast-icon-padding-right) var(--spectrum-toast-icon-padding-y) 0;
}

.spectrum-Toast-content {
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
  padding: var(--spectrum-toast-content-padding-top) var(--spectrum-toast-content-padding-right) var(--spectrum-toast-content-padding-bottom) 0;
  text-align: left;
}

.spectrum-Toast-buttons {
  display: flex;
  flex: 0 0 auto;
  align-items: flex-end;
  flex-wrap: wrap-reverse;

  .spectrum-Button,
  .spectrum-ClearButton {
    & + .spectrum-Button,
    & + .spectrum-ClearButton {
      margin-left: var(--spectrum-toast-button-gap);
    }
  }
}

.spectrum-Toast-body {
  flex: 1;
  align-self: center;

  .spectrum-Button {
    float: right;
    margin-right: var(--spectrum-toast-button-margin-right);
  }

  & + .spectrum-Toast-buttons {
    padding-left: var(--spectrum-toast-padding-right);

    border-left-width: 1px;
    border-left-style: solid;
  }
}
