.spectrum-Tooltip-label p {
  margin: 0;
}

.spectrum-Toast {
  background-color: var(--spectrum-toast-background-color);
  color: var(--spectrum-toast-background-color);
}

.spectrum-Toast-content {
  color: var(--spectrum-toast-text-color);
}

.spectrum-Toast-typeIcon {
  color: white;
}

.spectrum-Toast-buttons {
  border-left-color: rgba(255, 255, 255, 0.2);
}

.spectrum-Toast--warning {
  background-color: var(--spectrum-toast-warning-background-color);
  color: var(--spectrum-toast-warning-background-color);

  .spectrum-Toast-closeButton {
    &:focus-ring:not(:active) {
      color: var(--spectrum-toast-warning-background-color);
    }
  }
}

.spectrum-Toast--negative,
/** @deprecated */.spectrum-Toast--error {
  background-color: var(--spectrum-toast-error-background-color);
  color: var(--spectrum-toast-error-background-color);

  .spectrum-Toast-closeButton {
    &:focus-ring:not(:active) {
      color: var(--spectrum-toast-error-background-color);
    }
  }
}

.spectrum-Toast--info {
  background-color: var(--spectrum-toast-info-background-color);
  color: var(--spectrum-toast-info-background-color);

  .spectrum-Toast-closeButton {
    &:focus-ring:not(:active) {
      color: var(--spectrum-toast-info-background-color);
    }
  }
}

.spectrum-Toast--positive,
/** @deprecated */.spectrum-Toast--success {
  background-color: var(--spectrum-toast-positive-background-color);
  color: var(--spectrum-toast-positive-background-color);

  .spectrum-Toast-closeButton {
    &:focus-ring:not(:active) {
      color: var(--spectrum-toast-positive-background-color);
    }
  }
}

