.spectrum-Toast {
  background-color: var(--spectrum-toast-background-color);
  color: var(--spectrum-toast-text-color);
}

.spectrum-Toast-typeIcon {
  color: white;
}

.spectrum-Toast-closeButton {
  color: white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:focus-ring {
    background-color: rgba(255, 255, 255, 1);

    &:not(:active) {
      color: var(--spectrum-toast-background-color);
    }
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.15);
  }
}


/* topdoc
{{ toast/toast-warning.yml }}
*/
.spectrum-Toast--warning {
  background-color: var(--spectrum-toast-warning-background-color);

  .spectrum-Toast-closeButton {
    &:focus-ring:not(:active) {
      color: var(--spectrum-toast-warning-background-color);
    }
  }
}

/* topdoc
{{ toast/toast-error.yml }}
*/
.spectrum-Toast--error {
  background-color: var(--spectrum-toast-error-background-color);

  .spectrum-Toast-closeButton {
    &:focus-ring:not(:active) {
      color: var(--spectrum-toast-error-background-color);
    }
  }
}

/* topdoc
{{ toast/toast-info.yml }}
*/
.spectrum-Toast--info {
  background-color: var(--spectrum-toast-info-background-color);

  .spectrum-Toast-closeButton {
    &:focus-ring:not(:active) {
      color: var(--spectrum-toast-info-background-color);
    }
  }
}

/* topdoc
{{ toast/toast-success.yml }}
*/
.spectrum-Toast--success {
  background-color: var(--spectrum-toast-success-background-color);


  .spectrum-Toast-closeButton {
    &:focus-ring:not(:active) {
      color: var(--spectrum-toast-success-background-color);
    }
  }
}

