---
layout: layout.njk
dependencies:
    - actionbutton
    - icon
    - underlay
    - divider
    - sidenav
---

{% block content %}
<button tabindex="-1" class="spectrum-ActionButton spectrum-ActionButton--sizeL site-SkipToContent-link" href="#main">
    Skip to content
</button>
<div class="site">
    <div class="site-Overlay" id="site-Overlay"></div>
    <div class="site-Header">
        <button class="spectrum-ActionButton spectrum-ActionButton--sizeM spectrum-ActionButton--quiet" is-selected="is-selected" id="site-menu">
            <svg class="spectrum-Icon spectrum-Icon--sizeM" focusable="false" aria-hidden="true" aria-label="Show Menu">
                <use xlink:href="#spectrum-icon-18-ShowMenu"></use>
            </svg>
        </button>
    </div>
    <div class="site-Content">
        {% include "sidenav.njk" %}
        <div class="site-Main-content">
            {% include "context-switcher.njk" %}
            <div class="site-Main-container">
                <div class="site-Page" id="main">
                    {{ content | safe }}
                </div>
            </div>
            {% if not process.env.VRT -%}
            <div class="site-Footer-container">
                <hr class="spectrum-Divider spectrum-Divider--small" hidden/>
                <div id="footer_global"></div>
            </div>
            {%- endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
    <div class="spectrum-Underlay" id="spectrum-underlay"></div>
{% endblock %}
