@import '../commons/index.css';

:root {
  --spectrum-menu-heading-text-size: 11px;
  --spectrum-menu-heading-text-font-weight: 400;
  --spectrum-menu-heading-text-transform: uppercase;
  --spectrum-menu-heading-letter-spacing: 0.06em;
  --spectrum-menu-heading-margin: 4px 0;
  --spectrum-menu-heading-padding: 0 36px 0 12px;
}

.spectrum-SelectList {
  display: inline-block;
  white-space: nowrap;
  overflow: auto;

  box-sizing: border-box;

  list-style-type: none;
  margin: 0;
  padding: 3px 0;
}

.spectrum-SelectList-checkmark {
  position: absolute;
  right: 9px;
  top: 11px;

  width: var(--spectrum-selectlist-option-icon-width);
  height: var(--spectrum-selectlist-option-icon-height);

  transform: scale(1);
  opacity: 1;
}

.spectrum-SelectList-item {
  cursor: pointer;
  position: relative;
  display: flex;

  padding: 0 calc(calc(var(--spectrum-selectlist-option-padding) * 2) + var(--spectrum-selectlist-option-icon-width)) 0 var(--spectrum-selectlist-option-padding);
  margin: 0;

  height: var(--spectrum-component-single-line-height);
  line-height: var(--spectrum-component-single-line-height);

  font-size: var(--spectrum-selectlist-option-text-size);
  font-weight: var(--spectrum-selectlist-option-text-font-weight);
  font-style: normal;

  &:focus {
    outline: none;
  }

  &.is-selected {
    .spectrum-SelectList-checkmark {
      display: block;
    }
  }
}

.spectrum-SelectList-divider {

  /* Add the correct box sizing for hr in Firefox. */
  box-sizing: content-box;

  /* Show the overflow for hr in Edge and IE. */
  overflow: visible;

  height: var(--spectrum-selectlist-divider-size);
  margin: var(--spectrum-selectlist-divider-padding) var(--spectrum-selectlist-option-padding);
  padding: 0 0;
  border: none;
}

.spectrum-SelectList-sectionHeading {
  font-size: var(--spectrum-menu-heading-text-size);
  font-weight: var(--spectrum-menu-heading-text-font-weight);
  line-height: var(--spectrum-text-body-line-height);
  text-transform: var(--spectrum-menu-heading-text-transform);
  letter-spacing: var(--spectrum-menu-heading-letter-spacing);
  margin: var(--spectrum-menu-heading-margin);
  padding: var(--spectrum-menu-heading-padding);
}
