/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "themes/spectrum-two.css";

@media (forced-colors: active) {
	.spectrum-FloatingActionButton {
		&::after {
			/* make sure focus-ring renders */
			forced-color-adjust: none;
		}

		--highcontrast-floating-action-button-background-color: ButtonText;
		--highcontrast-floating-action-button-background-color-hover: Highlight;
		--highcontrast-floating-action-button-background-color-down: Highlight;
		--highcontrast-floating-action-button-background-color-key-focus: Highlight;

		--highcontrast-floating-action-button-icon-color: ButtonFace;
		--highcontrast-floating-action-button-icon-color-hover: ButtonFace;
		--highcontrast-floating-action-button-icon-color-down: ButtonFace;
		--highcontrast-floating-action-button-icon-color-key-focus: ButtonFace;
	}
}

.spectrum-FloatingActionButton {
	cursor: pointer;
	position: relative;
	inline-size: var(--mod-floating-action-button-size, var(--spectrum-floating-action-button-size));
	block-size: var(--mod-floating-action-button-size, var(--spectrum-floating-action-button-size));
	margin-block-end: var(--mod-floating-action-button-margin, var(--spectrum-floating-action-button-margin));
	margin-inline-end: var(--mod-floating-action-button-margin, var(--spectrum-floating-action-button-margin));
	padding-block: var(--mod-floating-action-button-padding, var(--spectrum-floating-action-button-padding));
	padding-inline: var(--mod-floating-action-button-padding, var(--spectrum-floating-action-button-padding));

	/* default is primary */
	background-color: var(--highcontrast-floating-action-button-background-color, var(--mod-floating-action-button-background-color, var(--spectrum-floating-action-button-background-color)));
	border: none;
	border-radius: var(--mod-floating-action-button-border-radius, 50%);
	box-shadow: var(--mod-floating-action-button-drop-shadow-x, var(--spectrum-floating-action-button-drop-shadow-x)) var(--mod-floating-action-button-drop-shadow-y, var(--spectrum-floating-action-button-drop-shadow-y)) var(--mod-floating-action-button-drop-shadow-blur, var(--spectrum-floating-action-button-drop-shadow-blur)) var(--mod-floating-action-button-drop-shadow-color, var(--spectrum-floating-action-button-drop-shadow-color));

	&:hover {
		background-color: var(--highcontrast-floating-action-button-background-color-hover, var(--mod-floating-action-button-background-color-hover, var(--spectrum-floating-action-button-background-color-hover)));

		.spectrum-FloatingActionButton-icon {
			fill: var(--highcontrast-floating-action-button-icon-color-hover, var(--mod-floating-action-button-icon-color-hover, var(--spectrum-floating-action-button-icon-color-hover)));
		}
	}

	&:active {
		background-color: var(--highcontrast-floating-action-button-background-color-down, var(--mod-floating-action-button-background-color-down, var(--spectrum-floating-action-button-background-color-down)));

		.spectrum-FloatingActionButton-icon {
			fill: var(--highcontrast-floating-action-button-icon-color-down, var(--mod-floating-action-button-icon-color-down, var(--spectrum-floating-action-button-icon-color-down)));
		}
	}

	&:focus-visible {
		background-color: var(--highcontrast-floating-action-button-background-color-key-focus, var(--mod-floating-action-button-background-color-key-focus, var(--spectrum-floating-action-button-background-color-key-focus)));
		outline: 0;

		.spectrum-FloatingActionButton-icon {
			fill: var(--highcontrast-floating-action-button-icon-color-key-focus, var(--mod-floating-action-button-icon-color-key-focus, var(--spectrum-floating-action-button-icon-color-key-focus)));
		}

		&::after {
			pointer-events: none;
			content: "";
			position: absolute;
			inset: 0;
			margin: calc(-1 * var(--mod-floating-action-button-focus-ring-gap, var(--spectrum-floating-action-button-focus-ring-gap)));
			border-radius: var(--mod-floating-action-button-border-radius, 50%);
			box-shadow: 0 0 0 var(--mod-floating-action-button-focus-ring-width, var(--spectrum-floating-action-button-focus-ring-width)) var(--highcontrast-floating-action-button-focus-ring-color, var(--mod-afloating-action-button-focus-ring-color, var(--spectrum-floating-action-button-focus-ring-color)));
		}
	}
}

.spectrum-Icon.spectrum-FloatingActionButton-icon {
	inline-size: var(--mod-floating-action-button-icon-size, var(--spectrum-floating-action-button-icon-size));
	block-size: var(--mod-floating-action-button-icon-size, var(--spectrum-floating-action-button-icon-size));
	fill: var(--highcontrast-floating-action-button-icon-color, var(--mod-floating-action-button-icon-color, var(--spectrum-floating-action-button-icon-color)));
}
