/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-legacy {
	--system-spectrum-assetcard--overlay-background-color: rgba(27, 127, 245, 10%);
	--system-spectrum-assetcard--asset-size: 224px;
	--system-spectrum-assetcard--background-color: var(--spectrum-gray-100);
	--system-spectrum-assetcard--asset-animation-duration: var(--spectrum-animation-duration-100);
	--system-spectrum-assetcard--asset-container-border-size: 1px;
	--system-spectrum-assetcard--header-margin-block-start: var(--spectrum-spacing-300);
	--system-spectrum-assetcard--border-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-assetcard--border-color: transparent;
	--system-spectrum-assetcard--border-color-hover: var(--spectrum-gray-500);
	--system-spectrum-assetcard--border-color-down: var(--spectrum-gray-600);
	--system-spectrum-assetcard--focus-ring-gap: 5px;
	--system-spectrum-assetcard--focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
	--system-spectrum-assetcard--selectionindicator-background-color-default: rgba(var(--spectrum-gray-100-rgb), 0.9);
	--system-spectrum-assetcard--selectionindicator-size: var(--spectrum-card-selection-background-size);
	--system-spectrum-assetcard--selectionindicator-border-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-assetcard--selectionindicator-offset-y: 4px;
	--system-spectrum-assetcard--selectionindicator-blur: 6px;
	--system-spectrum-assetcard--selectionindicator-color: var(--spectrum-white);
	--system-spectrum-assetcard--selectionindicator-font-weight: var(--spectrum-bold-font-weight);
	--system-spectrum-assetcard--selectionindicator-font-size: var(--spectrum-font-size-400);
	--system-spectrum-assetcard--title-text-color: var(--spectrum-gray-900);
	--system-spectrum-assetcard--title-font-family: var(--spectrum-sans-font-family-stack);
	--system-spectrum-assetcard--title-font-weight: var(--spectrum-heading-sans-serif-font-weight);
	--system-spectrum-assetcard--title-font-style: var(--spectrum-default-font-style);
	--system-spectrum-assetcard--title-line-height: var(--spectrum-line-height-100);
	--system-spectrum-assetcard--title-letter-spacing: 0;
	--system-spectrum-assetcard--header-content-text-color: var(--spectrum-gray-900);
	--system-spectrum-assetcard--header-content-font-family: var(--spectrum-sans-font-family-stack);
	--system-spectrum-assetcard--header-content-font-weight: var(--spectrum-body-sans-serif-font-weight);
	--system-spectrum-assetcard--header-content-font-style: var(--spectrum-default-font-style);
	--system-spectrum-assetcard--header-content-line-height: var(--spectrum-line-height-200);
	--system-spectrum-assetcard--header-content-letter-spacing: 0;
	--system-spectrum-assetcard--content-text-color: var(--spectrum-gray-700);
	--system-spectrum-assetcard--content-font-family: var(--spectrum-sans-font-family-stack);
	--system-spectrum-assetcard--content-font-weight: var(--spectrum-body-sans-serif-font-weight);
	--system-spectrum-assetcard--content-font-style: var(--spectrum-default-font-style);
	--system-spectrum-assetcard--content-line-height: var(--spectrum-line-height-200);
	--system-spectrum-assetcard--content-letter-spacing: 0;
	--system-spectrum-assetcard--content-margin-block-start: var(--spectrum-spacing-75);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-title-font-family: var(--spectrum-cjk-font-family-stack);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-title-font-family: var(--spectrum-cjk-font-family-stack);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-title-font-family: var(--spectrum-cjk-font-family-stack);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-title-font-style: var(--spectrum-heading-cjk-font-style);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-title-font-style: var(--spectrum-heading-cjk-font-style);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-title-font-style: var(--spectrum-heading-cjk-font-style);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-title-font-weight: var(--spectrum-heading-cjk-font-weight);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-title-font-weight: var(--spectrum-heading-cjk-font-weight);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-title-font-weight: var(--spectrum-heading-cjk-font-weight);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-title-font-size: var(--spectrum-heading-cjk-size-xs);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-title-font-size: var(--spectrum-heading-cjk-size-xs);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-title-font-size: var(--spectrum-heading-cjk-size-xs);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-title-line-height: var(--spectrum-heading-cjk-line-height);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-title-line-height: var(--spectrum-heading-cjk-line-height);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-title-line-height: var(--spectrum-heading-cjk-line-height);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-title-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-title-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-title-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-header-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-header-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-header-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-header-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-header-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-header-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-header-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-header-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-header-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-header-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-header-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-header-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-header-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-header-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-header-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-content-font-family: var(--spectrum-cjk-font-family-stack);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-content-font-weight: var(--spectrum-body-cjk-font-weight);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-content-line-height: var(--spectrum-body-cjk-line-height);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-content-font-style: var(--spectrum-body-cjk-font-style);
	--system-spectrum-assetcard: lang(zh); --asset-card-lang-zh--assetcard-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-spectrum-assetcard: lang(ja); --asset-card-lang-ja--assetcard-content-letter-spacing: var(--spectrum-cjk-letter-spacing);
	--system-spectrum-assetcard: lang(ko); --asset-card-lang-ko--assetcard-content-letter-spacing: var(--spectrum-cjk-letter-spacing)
}
