/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-legacy {
	--system-spectrum-button-animation-duration: var(--spectrum-animation-duration-100);
	--system-spectrum-button-border-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-button-border-width: var(--spectrum-border-width-200);
	--system-spectrum-button-line-height: 1.2;
	--system-spectrum-button-focus-ring-gap: var(--spectrum-focus-indicator-gap);
	--system-spectrum-button-focus-ring-border-radius: calc(var(--spectrum-button-border-radius) + var(--spectrum-button-focus-ring-gap));
	--system-spectrum-button-focus-ring-thickness: var(--spectrum-focus-indicator-thickness);
	--system-spectrum-button-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--system-spectrum-button-intended-icon-size: var(--spectrum-workflow-icon-size-50);
	--system-spectrum-button-progress-circle-position: absolute;
	--system-spectrum-button-background-color-default: var(--spectrum-gray-75);
	--system-spectrum-button-background-color-hover: var(--spectrum-gray-200);
	--system-spectrum-button-background-color-down: var(--spectrum-gray-300);
	--system-spectrum-button-background-color-focus: var(--spectrum-gray-200);
	--system-spectrum-button-border-color-default: var(--spectrum-gray-400);
	--system-spectrum-button-border-color-hover: var(--spectrum-gray-500);
	--system-spectrum-button-border-color-down: var(--spectrum-gray-600);
	--system-spectrum-button-border-color-focus: var(--spectrum-gray-500);
	--system-spectrum-button-content-color-default: var(--spectrum-neutral-content-color-default);
	--system-spectrum-button-content-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-spectrum-button-content-color-down: var(--spectrum-neutral-content-color-down);
	--system-spectrum-button-content-color-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-spectrum-button-background-color-disabled: transparent;
	--system-spectrum-button-border-color-disabled: var(--spectrum-disabled-border-color);
	--system-spectrum-button-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-button-accent-background-color-default: var(--spectrum-accent-background-color-default);
	--system-spectrum-button-accent-background-color-hover: var(--spectrum-accent-background-color-hover);
	--system-spectrum-button-accent-background-color-down: var(--spectrum-accent-background-color-down);
	--system-spectrum-button-accent-background-color-focus: var(--spectrum-accent-background-color-key-focus);
	--system-spectrum-button-accent-border-color-default: transparent;
	--system-spectrum-button-accent-border-color-hover: transparent;
	--system-spectrum-button-accent-border-color-down: transparent;
	--system-spectrum-button-accent-border-color-focus: transparent;
	--system-spectrum-button-accent-content-color-default: var(--spectrum-white);
	--system-spectrum-button-accent-content-color-hover: var(--spectrum-white);
	--system-spectrum-button-accent-content-color-down: var(--spectrum-white);
	--system-spectrum-button-accent-content-color-focus: var(--spectrum-white);
	--system-spectrum-button-accent-background-color-disabled: var(--spectrum-disabled-background-color);
	--system-spectrum-button-accent-border-color-disabled: transparent;
	--system-spectrum-button-accent-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-button-accent-outline-background-color-default: transparent;
	--system-spectrum-button-accent-outline-background-color-hover: var(--spectrum-accent-color-200);
	--system-spectrum-button-accent-outline-background-color-down: var(--spectrum-accent-color-300);
	--system-spectrum-button-accent-outline-background-color-focus: var(--spectrum-accent-color-200);
	--system-spectrum-button-accent-outline-border-color-default: var(--spectrum-accent-color-900);
	--system-spectrum-button-accent-outline-border-color-hover: var(--spectrum-accent-color-1000);
	--system-spectrum-button-accent-outline-border-color-down: var(--spectrum-accent-color-1100);
	--system-spectrum-button-accent-outline-border-color-focus: var(--spectrum-accent-color-1000);
	--system-spectrum-button-accent-outline-content-color-default: var(--spectrum-accent-content-color-default);
	--system-spectrum-button-accent-outline-content-color-hover: var(--spectrum-accent-content-color-hover);
	--system-spectrum-button-accent-outline-content-color-down: var(--spectrum-accent-content-color-down);
	--system-spectrum-button-accent-outline-content-color-focus: var(--spectrum-accent-content-color-key-focus);
	--system-spectrum-button-accent-outline-background-color-disabled: transparent;
	--system-spectrum-button-accent-outline-border-color-disabled: var(--spectrum-disabled-border-color);
	--system-spectrum-button-accent-outline-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-button-negative-background-color-default: var(--spectrum-negative-background-color-default);
	--system-spectrum-button-negative-background-color-hover: var(--spectrum-negative-background-color-hover);
	--system-spectrum-button-negative-background-color-down: var(--spectrum-negative-background-color-down);
	--system-spectrum-button-negative-background-color-focus: var(--spectrum-negative-background-color-key-focus);
	--system-spectrum-button-negative-border-color-default: transparent;
	--system-spectrum-button-negative-border-color-hover: transparent;
	--system-spectrum-button-negative-border-color-down: transparent;
	--system-spectrum-button-negative-border-color-focus: transparent;
	--system-spectrum-button-negative-content-color-default: var(--spectrum-white);
	--system-spectrum-button-negative-content-color-hover: var(--spectrum-white);
	--system-spectrum-button-negative-content-color-down: var(--spectrum-white);
	--system-spectrum-button-negative-content-color-focus: var(--spectrum-white);
	--system-spectrum-button-negative-background-color-disabled: var(--spectrum-disabled-background-color);
	--system-spectrum-button-negative-border-color-disabled: transparent;
	--system-spectrum-button-negative-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-button-negative-outline-background-color-default: transparent;
	--system-spectrum-button-negative-outline-background-color-hover: var(--spectrum-negative-color-200);
	--system-spectrum-button-negative-outline-background-color-down: var(--spectrum-negative-color-300);
	--system-spectrum-button-negative-outline-background-color-focus: var(--spectrum-negative-color-200);
	--system-spectrum-button-negative-outline-border-color-default: var(--spectrum-negative-color-900);
	--system-spectrum-button-negative-outline-border-color-hover: var(--spectrum-negative-color-1000);
	--system-spectrum-button-negative-outline-border-color-down: var(--spectrum-negative-color-1100);
	--system-spectrum-button-negative-outline-border-color-focus: var(--spectrum-negative-color-1000);
	--system-spectrum-button-negative-outline-content-color-default: var(--spectrum-negative-content-color-default);
	--system-spectrum-button-negative-outline-content-color-hover: var(--spectrum-negative-content-color-hover);
	--system-spectrum-button-negative-outline-content-color-down: var(--spectrum-negative-content-color-down);
	--system-spectrum-button-negative-outline-content-color-focus: var(--spectrum-negative-content-color-key-focus);
	--system-spectrum-button-negative-outline-background-color-disabled: transparent;
	--system-spectrum-button-negative-outline-border-color-disabled: var(--spectrum-disabled-border-color);
	--system-spectrum-button-negative-outline-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-button-primary-background-color-default: var(--spectrum-neutral-background-color-default);
	--system-spectrum-button-primary-background-color-hover: var(--spectrum-neutral-background-color-hover);
	--system-spectrum-button-primary-background-color-down: var(--spectrum-neutral-background-color-down);
	--system-spectrum-button-primary-background-color-focus: var(--spectrum-neutral-background-color-key-focus);
	--system-spectrum-button-primary-border-color-default: transparent;
	--system-spectrum-button-primary-border-color-hover: transparent;
	--system-spectrum-button-primary-border-color-down: transparent;
	--system-spectrum-button-primary-border-color-focus: transparent;
	--system-spectrum-button-primary-content-color-default: var(--spectrum-white);
	--system-spectrum-button-primary-content-color-hover: var(--spectrum-white);
	--system-spectrum-button-primary-content-color-down: var(--spectrum-white);
	--system-spectrum-button-primary-content-color-focus: var(--spectrum-white);
	--system-spectrum-button-primary-background-color-disabled: var(--spectrum-disabled-background-color);
	--system-spectrum-button-primary-border-color-disabled: transparent;
	--system-spectrum-button-primary-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-button-primary-outline-background-color-default: transparent;
	--system-spectrum-button-primary-outline-background-color-hover: var(--spectrum-gray-300);
	--system-spectrum-button-primary-outline-background-color-down: var(--spectrum-gray-400);
	--system-spectrum-button-primary-outline-background-color-focus: var(--spectrum-gray-300);
	--system-spectrum-button-primary-outline-border-color-default: var(--spectrum-gray-800);
	--system-spectrum-button-primary-outline-border-color-hover: var(--spectrum-gray-900);
	--system-spectrum-button-primary-outline-border-color-down: var(--spectrum-gray-900);
	--system-spectrum-button-primary-outline-border-color-focus: var(--spectrum-gray-900);
	--system-spectrum-button-primary-outline-content-color-default: var(--spectrum-neutral-content-color-default);
	--system-spectrum-button-primary-outline-content-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-spectrum-button-primary-outline-content-color-down: var(--spectrum-neutral-content-color-down);
	--system-spectrum-button-primary-outline-content-color-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-spectrum-button-primary-outline-background-color-disabled: transparent;
	--system-spectrum-button-primary-outline-border-color-disabled: var(--spectrum-disabled-border-color);
	--system-spectrum-button-primary-outline-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-button-secondary-background-color-default: var(--spectrum-gray-200);
	--system-spectrum-button-secondary-background-color-hover: var(--spectrum-gray-300);
	--system-spectrum-button-secondary-background-color-down: var(--spectrum-gray-400);
	--system-spectrum-button-secondary-background-color-focus: var(--spectrum-gray-300);
	--system-spectrum-button-secondary-border-color-default: transparent;
	--system-spectrum-button-secondary-border-color-hover: transparent;
	--system-spectrum-button-secondary-border-color-down: transparent;
	--system-spectrum-button-secondary-border-color-focus: transparent;
	--system-spectrum-button-secondary-content-color-default: var(--spectrum-neutral-content-color-default);
	--system-spectrum-button-secondary-content-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-spectrum-button-secondary-content-color-down: var(--spectrum-neutral-content-color-down);
	--system-spectrum-button-secondary-content-color-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-spectrum-button-secondary-background-color-disabled: var(--spectrum-disabled-background-color);
	--system-spectrum-button-secondary-border-color-disabled: transparent;
	--system-spectrum-button-secondary-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-button-secondary-outline-background-color-default: transparent;
	--system-spectrum-button-secondary-outline-background-color-hover: var(--spectrum-gray-300);
	--system-spectrum-button-secondary-outline-background-color-down: var(--spectrum-gray-400);
	--system-spectrum-button-secondary-outline-background-color-focus: var(--spectrum-gray-300);
	--system-spectrum-button-secondary-outline-border-color-default: var(--spectrum-gray-300);
	--system-spectrum-button-secondary-outline-border-color-hover: var(--spectrum-gray-400);
	--system-spectrum-button-secondary-outline-border-color-down: var(--spectrum-gray-500);
	--system-spectrum-button-secondary-outline-border-color-focus: var(--spectrum-gray-400);
	--system-spectrum-button-secondary-outline-content-color-default: var(--spectrum-neutral-content-color-default);
	--system-spectrum-button-secondary-outline-content-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-spectrum-button-secondary-outline-content-color-down: var(--spectrum-neutral-content-color-down);
	--system-spectrum-button-secondary-outline-content-color-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-spectrum-button-secondary-outline-background-color-disabled: transparent;
	--system-spectrum-button-secondary-outline-border-color-disabled: var(--spectrum-disabled-border-color);
	--system-spectrum-button-secondary-outline-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-button-quiet-background-color-default: transparent;
	--system-spectrum-button-quiet-background-color-hover: var(--spectrum-gray-200);
	--system-spectrum-button-quiet-background-color-down: var(--spectrum-gray-300);
	--system-spectrum-button-quiet-background-color-focus: var(--spectrum-gray-200);
	--system-spectrum-button-quiet-border-color-default: transparent;
	--system-spectrum-button-quiet-border-color-hover: transparent;
	--system-spectrum-button-quiet-border-color-down: transparent;
	--system-spectrum-button-quiet-border-color-focus: transparent;
	--system-spectrum-button-quiet-background-color-disabled: transparent;
	--system-spectrum-button-quiet-border-color-disabled: transparent;
	--system-spectrum-button-selected-background-color-default: var(--spectrum-neutral-subdued-background-color-default);
	--system-spectrum-button-selected-background-color-hover: var(--spectrum-neutral-subdued-background-color-hover);
	--system-spectrum-button-selected-background-color-down: var(--spectrum-neutral-subdued-background-color-down);
	--system-spectrum-button-selected-background-color-focus: var(--spectrum-neutral-subdued-background-color-key-focus);
	--system-spectrum-button-selected-border-color-default: transparent;
	--system-spectrum-button-selected-border-color-hover: transparent;
	--system-spectrum-button-selected-border-color-down: transparent;
	--system-spectrum-button-selected-border-color-focus: transparent;
	--system-spectrum-button-selected-content-color-default: var(--spectrum-white);
	--system-spectrum-button-selected-content-color-hover: var(--spectrum-white);
	--system-spectrum-button-selected-content-color-down: var(--spectrum-white);
	--system-spectrum-button-selected-content-color-focus: var(--spectrum-white);
	--system-spectrum-button-selected-background-color-disabled: var(--spectrum-disabled-background-color);
	--system-spectrum-button-selected-border-color-disabled: transparent;
	--system-spectrum-button-selected-emphasized-background-color-default: var(--spectrum-accent-background-color-default);
	--system-spectrum-button-selected-emphasized-background-color-hover: var(--spectrum-accent-background-color-hover);
	--system-spectrum-button-selected-emphasized-background-color-down: var(--spectrum-accent-background-color-down);
	--system-spectrum-button-selected-emphasized-background-color-focus: var(--spectrum-accent-background-color-key-focus);
	--system-spectrum-button-static-black-quiet-border-color-default: transparent;
	--system-spectrum-button-static-white-quiet-border-color-default: transparent;
	--system-spectrum-button-static-black-quiet-border-color-hover: transparent;
	--system-spectrum-button-static-white-quiet-border-color-hover: transparent;
	--system-spectrum-button-static-black-quiet-border-color-down: transparent;
	--system-spectrum-button-static-white-quiet-border-color-down: transparent;
	--system-spectrum-button-static-black-quiet-border-color-focus: transparent;
	--system-spectrum-button-static-white-quiet-border-color-focus: transparent;
	--system-spectrum-button-static-black-quiet-border-color-disabled: transparent;
	--system-spectrum-button-static-white-quiet-border-color-disabled: transparent;
	--system-spectrum-button-static-white-background-color-default: var(--spectrum-transparent-white-800);
	--system-spectrum-button-static-white-background-color-hover: var(--spectrum-transparent-white-900);
	--system-spectrum-button-static-white-background-color-down: var(--spectrum-transparent-white-900);
	--system-spectrum-button-static-white-background-color-focus: var(--spectrum-transparent-white-900);
	--system-spectrum-button-static-white-border-color-default: transparent;
	--system-spectrum-button-static-white-border-color-hover: transparent;
	--system-spectrum-button-static-white-border-color-down: transparent;
	--system-spectrum-button-static-white-border-color-focus: transparent;
	--system-spectrum-button-static-white-content-color-default: var(--spectrum-black);
	--system-spectrum-button-static-white-content-color-hover: var(--spectrum-black);
	--system-spectrum-button-static-white-content-color-down: var(--spectrum-black);
	--system-spectrum-button-static-white-content-color-focus: var(--spectrum-black);
	--system-spectrum-button-static-white-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);
	--system-spectrum-button-static-white-background-color-disabled: var(--spectrum-disabled-static-white-background-color);
	--system-spectrum-button-static-white-border-color-disabled: transparent;
	--system-spectrum-button-static-white-content-color-disabled: var(--spectrum-disabled-static-white-content-color);
	--system-spectrum-button-static-white-outline-background-color-default: transparent;
	--system-spectrum-button-static-white-outline-background-color-hover: var(--spectrum-transparent-white-300);
	--system-spectrum-button-static-white-outline-background-color-down: var(--spectrum-transparent-white-400);
	--system-spectrum-button-static-white-outline-background-color-focus: var(--spectrum-transparent-white-300);
	--system-spectrum-button-static-white-outline-border-color-default: var(--spectrum-transparent-white-800);
	--system-spectrum-button-static-white-outline-border-color-hover: var(--spectrum-transparent-white-900);
	--system-spectrum-button-static-white-outline-border-color-down: var(--spectrum-transparent-white-900);
	--system-spectrum-button-static-white-outline-border-color-focus: var(--spectrum-transparent-white-900);
	--system-spectrum-button-static-white-outline-content-color-default: var(--spectrum-white);
	--system-spectrum-button-static-white-outline-content-color-hover: var(--spectrum-white);
	--system-spectrum-button-static-white-outline-content-color-down: var(--spectrum-white);
	--system-spectrum-button-static-white-outline-content-color-focus: var(--spectrum-white);
	--system-spectrum-button-static-white-outline-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);
	--system-spectrum-button-static-white-outline-background-color-disabled: transparent;
	--system-spectrum-button-static-white-outline-border-color-disabled: var(--spectrum-disabled-static-white-border-color);
	--system-spectrum-button-static-white-outline-content-color-disabled: var(--spectrum-disabled-static-white-content-color);
	--system-spectrum-button-static-white-selected-background-color-default: var(--spectrum-transparent-white-800);
	--system-spectrum-button-static-white-selected-background-color-hover: var(--spectrum-transparent-white-900);
	--system-spectrum-button-static-white-selected-background-color-down: var(--spectrum-transparent-white-900);
	--system-spectrum-button-static-white-selected-background-color-focus: var(--spectrum-transparent-white-900);
	--system-spectrum-button-static-white-selected-content-color-default: var(--mod-button-static-content-color, var(--spectrum-black));
	--system-spectrum-button-static-white-selected-content-color-hover: var(--mod-button-static-content-color, var(--spectrum-black));
	--system-spectrum-button-static-white-selected-content-color-down: var(--mod-button-static-content-color, var(--spectrum-black));
	--system-spectrum-button-static-white-selected-content-color-focus: var(--mod-button-static-content-color, var(--spectrum-black));
	--system-spectrum-button-static-white-selected-background-color-disabled: var(--spectrum-disabled-static-white-background-color);
	--system-spectrum-button-static-white-selected-border-color-disabled: transparent;
	--system-spectrum-button-static-white-secondary-background-color-default: var(--spectrum-transparent-white-200);
	--system-spectrum-button-static-white-secondary-background-color-hover: var(--spectrum-transparent-white-300);
	--system-spectrum-button-static-white-secondary-background-color-down: var(--spectrum-transparent-white-400);
	--system-spectrum-button-static-white-secondary-background-color-focus: var(--spectrum-transparent-white-300);
	--system-spectrum-button-static-white-secondary-border-color-default: transparent;
	--system-spectrum-button-static-white-secondary-border-color-hover: transparent;
	--system-spectrum-button-static-white-secondary-border-color-down: transparent;
	--system-spectrum-button-static-white-secondary-border-color-focus: transparent;
	--system-spectrum-button-static-white-secondary-content-color-default: var(--spectrum-white);
	--system-spectrum-button-static-white-secondary-content-color-hover: var(--spectrum-white);
	--system-spectrum-button-static-white-secondary-content-color-down: var(--spectrum-white);
	--system-spectrum-button-static-white-secondary-content-color-focus: var(--spectrum-white);
	--system-spectrum-button-static-white-secondary-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);
	--system-spectrum-button-static-white-secondary-background-color-disabled: var(--spectrum-disabled-static-white-background-color);
	--system-spectrum-button-static-white-secondary-border-color-disabled: transparent;
	--system-spectrum-button-static-white-secondary-content-color-disabled: var(--spectrum-disabled-static-white-content-color);
	--system-spectrum-button-static-white-secondary-outline-background-color-default: transparent;
	--system-spectrum-button-static-white-secondary-outline-background-color-hover: var(--spectrum-transparent-white-300);
	--system-spectrum-button-static-white-secondary-outline-background-color-down: var(--spectrum-transparent-white-400);
	--system-spectrum-button-static-white-secondary-outline-background-color-focus: var(--spectrum-transparent-white-300);
	--system-spectrum-button-static-white-secondary-outline-border-color-default: var(--spectrum-transparent-white-300);
	--system-spectrum-button-static-white-secondary-outline-border-color-hover: var(--spectrum-transparent-white-400);
	--system-spectrum-button-static-white-secondary-outline-border-color-down: var(--spectrum-transparent-white-500);
	--system-spectrum-button-static-white-secondary-outline-border-color-focus: var(--spectrum-transparent-white-400);
	--system-spectrum-button-static-white-secondary-outline-content-color-default: var(--spectrum-white);
	--system-spectrum-button-static-white-secondary-outline-content-color-hover: var(--spectrum-white);
	--system-spectrum-button-static-white-secondary-outline-content-color-down: var(--spectrum-white);
	--system-spectrum-button-static-white-secondary-outline-content-color-focus: var(--spectrum-white);
	--system-spectrum-button-static-white-secondary-outline-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);
	--system-spectrum-button-static-white-secondary-outline-background-color-disabled: transparent;
	--system-spectrum-button-static-white-secondary-outline-border-color-disabled: var(--spectrum-disabled-static-white-border-color);
	--system-spectrum-button-static-white-secondary-outline-content-color-disabled: var(--spectrum-disabled-static-white-content-color);
	--system-spectrum-button-static-black-background-color-default: var(--spectrum-transparent-black-800);
	--system-spectrum-button-static-black-background-color-hover: var(--spectrum-transparent-black-900);
	--system-spectrum-button-static-black-background-color-down: var(--spectrum-transparent-black-900);
	--system-spectrum-button-static-black-background-color-focus: var(--spectrum-transparent-black-900);
	--system-spectrum-button-static-black-border-color-default: transparent;
	--system-spectrum-button-static-black-border-color-hover: transparent;
	--system-spectrum-button-static-black-border-color-down: transparent;
	--system-spectrum-button-static-black-border-color-focus: transparent;
	--system-spectrum-button-static-black-content-color-default: var(--spectrum-white);
	--system-spectrum-button-static-black-content-color-hover: var(--spectrum-white);
	--system-spectrum-button-static-black-content-color-down: var(--spectrum-white);
	--system-spectrum-button-static-black-content-color-focus: var(--spectrum-white);
	--system-spectrum-button-static-black-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);
	--system-spectrum-button-static-black-background-color-disabled: var(--spectrum-disabled-static-black-background-color);
	--system-spectrum-button-static-black-border-color-disabled: transparent;
	--system-spectrum-button-static-black-content-color-disabled: var(--spectrum-disabled-static-black-content-color);
	--system-spectrum-button-static-black-outline-background-color-default: transparent;
	--system-spectrum-button-static-black-outline-background-color-hover: var(--spectrum-transparent-black-300);
	--system-spectrum-button-static-black-outline-background-color-down: var(--spectrum-transparent-black-400);
	--system-spectrum-button-static-black-outline-background-color-focus: var(--spectrum-transparent-black-300);
	--system-spectrum-button-static-black-outline-border-color-default: var(--spectrum-transparent-black-400);
	--system-spectrum-button-static-black-outline-border-color-hover: var(--spectrum-transparent-black-500);
	--system-spectrum-button-static-black-outline-border-color-down: var(--spectrum-transparent-black-600);
	--system-spectrum-button-static-black-outline-border-color-focus: var(--spectrum-transparent-black-500);
	--system-spectrum-button-static-black-outline-content-color-default: var(--spectrum-black);
	--system-spectrum-button-static-black-outline-content-color-hover: var(--spectrum-black);
	--system-spectrum-button-static-black-outline-content-color-down: var(--spectrum-black);
	--system-spectrum-button-static-black-outline-content-color-focus: var(--spectrum-black);
	--system-spectrum-button-static-black-outline-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);
	--system-spectrum-button-static-black-outline-background-color-disabled: transparent;
	--system-spectrum-button-static-black-outline-border-color-disabled: var(--spectrum-disabled-static-black-border-color);
	--system-spectrum-button-static-black-outline-content-color-disabled: var(--spectrum-disabled-static-black-content-color);
	--system-spectrum-button-static-black-secondary-background-color-default: var(--spectrum-transparent-black-200);
	--system-spectrum-button-static-black-secondary-background-color-hover: var(--spectrum-transparent-black-300);
	--system-spectrum-button-static-black-secondary-background-color-down: var(--spectrum-transparent-black-400);
	--system-spectrum-button-static-black-secondary-background-color-focus: var(--spectrum-transparent-black-300);
	--system-spectrum-button-static-black-secondary-border-color-default: transparent;
	--system-spectrum-button-static-black-secondary-border-color-hover: transparent;
	--system-spectrum-button-static-black-secondary-border-color-down: transparent;
	--system-spectrum-button-static-black-secondary-border-color-focus: transparent;
	--system-spectrum-button-static-black-secondary-content-color-default: var(--spectrum-black);
	--system-spectrum-button-static-black-secondary-content-color-hover: var(--spectrum-black);
	--system-spectrum-button-static-black-secondary-content-color-down: var(--spectrum-black);
	--system-spectrum-button-static-black-secondary-content-color-focus: var(--spectrum-black);
	--system-spectrum-button-static-black-secondary-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);
	--system-spectrum-button-static-black-secondary-background-color-disabled: var(--spectrum-disabled-static-black-background-color);
	--system-spectrum-button-static-black-secondary-border-color-disabled: transparent;
	--system-spectrum-button-static-black-secondary-content-color-disabled: var(--spectrum-disabled-static-black-content-color);
	--system-spectrum-button-static-black-secondary-outline-background-color-default: transparent;
	--system-spectrum-button-static-black-secondary-outline-background-color-hover: var(--spectrum-transparent-black-300);
	--system-spectrum-button-static-black-secondary-outline-background-color-down: var(--spectrum-transparent-black-400);
	--system-spectrum-button-static-black-secondary-outline-background-color-focus: var(--spectrum-transparent-black-300);
	--system-spectrum-button-static-black-secondary-outline-border-color-default: var(--spectrum-transparent-black-300);
	--system-spectrum-button-static-black-secondary-outline-border-color-hover: var(--spectrum-transparent-black-400);
	--system-spectrum-button-static-black-secondary-outline-border-color-down: var(--spectrum-transparent-black-500);
	--system-spectrum-button-static-black-secondary-outline-border-color-focus: var(--spectrum-transparent-black-400);
	--system-spectrum-button-static-black-secondary-outline-content-color-default: var(--spectrum-black);
	--system-spectrum-button-static-black-secondary-outline-content-color-hover: var(--spectrum-black);
	--system-spectrum-button-static-black-secondary-outline-content-color-down: var(--spectrum-black);
	--system-spectrum-button-static-black-secondary-outline-content-color-focus: var(--spectrum-black);
	--system-spectrum-button-static-black-secondary-outline-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);
	--system-spectrum-button-static-black-secondary-outline-background-color-disabled: transparent;
	--system-spectrum-button-static-black-secondary-outline-border-color-disabled: var(--spectrum-disabled-static-black-border-color);
	--system-spectrum-button-static-black-secondary-outline-content-color-disabled: var(--spectrum-disabled-static-black-content-color);
}
