/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-legacy {
	--system-spectrum-textfield-border-color: var(--spectrum-gray-500);
	--system-spectrum-textfield-border-color-hover: var(--spectrum-gray-600);
	--system-spectrum-textfield-border-color-focus: var(--spectrum-gray-800);
	--system-spectrum-textfield-border-color-focus-hover: var(--spectrum-gray-900);
	--system-spectrum-textfield-border-color-keyboard-focus: var(--spectrum-gray-900);
	--system-spectrum-textfield-border-width: var(--spectrum-border-width-100);
	--system-spectrum-textfield-input-line-height: var(--spectrum-textfield-height);
	--system-spectrum-textfield-texfield-animation-duration: var(--spectrum-animation-duration-100);
	--system-spectrum-textfield-width: 240px;
	--system-spectrum-textfield-min-width: var(--spectrum-text-field-minimum-width-multiplier);
	--system-spectrum-textfield-corner-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-textfield-height: var(--spectrum-component-height-100);
	--system-spectrum-textfield-spacing-inline: var(--spectrum-component-edge-to-text-100);
	--system-spectrum-textfield-spacing-inline-quiet: var(--spectrum-field-edge-to-text-quiet);
	--system-spectrum-textfield-spacing-block-start: var(--spectrum-component-top-to-text-100);
	--system-spectrum-textfield-spacing-block-end: var(--spectrum-component-bottom-to-text-100);
	--system-spectrum-textfield-spacing-block-quiet: var(--spectrum-field-edge-to-border-quiet);
	--system-spectrum-textfield-label-spacing-block: var(--spectrum-field-label-to-component);
	--system-spectrum-textfield-label-spacing-block-quiet: var(--spectrum-field-label-to-component-quiet-medium);
	--system-spectrum-textfield-label-spacing-inline-side-label: var(--spectrum-spacing-100);
	--system-spectrum-textfield-helptext-spacing-block: var(--spectrum-help-text-to-component);
	--system-spectrum-textfield-icon-size-invalid: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-textfield-icon-size-valid: var(--spectrum-checkmark-icon-size-100);
	--system-spectrum-textfield-icon-spacing-inline-start-invalid: var(--spectrum-field-text-to-alert-icon-medium);
	--system-spectrum-textfield-icon-spacing-inline-end-invalid: var(--spectrum-field-edge-to-alert-icon-medium);
	--system-spectrum-textfield-icon-spacing-inline-end-quiet-invalid: var(--spectrum-field-edge-to-alert-icon-quiet);
	--system-spectrum-textfield-icon-spacing-block-invalid: var(--spectrum-field-top-to-alert-icon-medium);
	--system-spectrum-textfield-icon-spacing-inline-start-valid: var(--spectrum-field-text-to-validation-icon-medium);
	--system-spectrum-textfield-icon-spacing-inline-end-valid: var(--spectrum-field-edge-to-validation-icon-medium);
	--system-spectrum-textfield-icon-spacing-inline-end-quiet-valid: var(--spectrum-field-edge-to-validation-icon-quiet);
	--system-spectrum-textfield-icon-spacing-block-valid: var(--spectrum-field-top-to-validation-icon-medium);
	--system-spectrum-textfield-font-family: var(--spectrum-sans-font-family-stack);
	--system-spectrum-textfield-font-weight: var(--spectrum-regular-font-weight);
	--system-spectrum-textfield-placeholder-font-size: var(--spectrum-font-size-100);
	--system-spectrum-textfield-character-count-font-family: var(--spectrum-sans-font-family-stack);
	--system-spectrum-textfield-character-count-font-weight: var(--spectrum-regular-font-weight);
	--system-spectrum-textfield-character-count-font-size: var(--spectrum-font-size-75);
	--system-spectrum-textfield-character-count-spacing-inline: var(--spectrum-spacing-200);
	--system-spectrum-textfield-character-count-spacing-block: var(--spectrum-component-bottom-to-text-75);
	--system-spectrum-textfield-character-count-spacing-inline-side: var(--spectrum-side-label-character-count-to-field);
	--system-spectrum-textfield-character-count-spacing-block-side: var(--spectrum-side-label-character-count-top-margin-medium);
	--system-spectrum-textfield-focus-indicator-width: var(--spectrum-focus-indicator-thickness);
	--system-spectrum-textfield-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
	--system-spectrum-textfield-background-color: var(--spectrum-gray-25);
	--system-spectrum-textfield-text-color-default: var(--spectrum-neutral-content-color-default);
	--system-spectrum-textfield-text-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-spectrum-textfield-text-color-focus: var(--spectrum-neutral-content-color-focus);
	--system-spectrum-textfield-text-color-focus-hover: var(--spectrum-neutral-content-color-focus-hover);
	--system-spectrum-textfield-text-color-keyboard-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-spectrum-textfield-text-color-readonly: var(--spectrum-neutral-content-color-default);
	--system-spectrum-textfield-background-color-disabled: var(--spectrum-disabled-background-color);
	--system-spectrum-textfield-border-color-disabled: var(--spectrum-disabled-border-color);
	--system-spectrum-textfield-text-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-textfield-border-color-invalid-default: var(--spectrum-negative-border-color-default);
	--system-spectrum-textfield-border-color-invalid-hover: var(--spectrum-negative-border-color-hover);
	--system-spectrum-textfield-border-color-invalid-focus: var(--spectrum-negative-border-color-focus);
	--system-spectrum-textfield-border-color-invalid-focus-hover: var(--spectrum-negative-border-color-focus-hover);
	--system-spectrum-textfield-border-color-invalid-keyboard-focus: var(--spectrum-negative-border-color-key-focus);
	--system-spectrum-textfield-icon-color-invalid: var(--spectrum-negative-visual-color);
	--system-spectrum-textfield-text-color-invalid: var(--spectrum-neutral-content-color-default);
	--system-spectrum-textfield-text-color-valid: var(--spectrum-neutral-content-color-default);
	--system-spectrum-textfield-icon-color-valid: var(--spectrum-positive-visual-color);
	--system-spectrum-textfield-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--system-spectrum-textfield-text-area-min-inline-size: var(--spectrum-text-area-minimum-width);
	--system-spectrum-textfield-text-area-min-block-size: var(--spectrum-text-area-minimum-height);
	--system-spectrum-textfield-text-area-min-block-size-quiet: var(--spectrum-component-height-100);
	--system-spectrum-textfield-size-s-height: var(--spectrum-component-height-75);
	--system-spectrum-textfield-size-s-label-spacing-block-quiet: var(--spectrum-field-label-to-component-quiet-small);
	--system-spectrum-textfield-size-s-label-spacing-inline-side-label: var(--spectrum-spacing-100);
	--system-spectrum-textfield-size-s-placeholder-font-size: var(--spectrum-font-size-75);
	--system-spectrum-textfield-size-s-spacing-inline: var(--spectrum-component-edge-to-text-75);
	--system-spectrum-textfield-size-s-icon-size-invalid: var(--spectrum-workflow-icon-size-75);
	--system-spectrum-textfield-size-s-icon-size-valid: var(--spectrum-checkmark-icon-size-75);
	--system-spectrum-textfield-size-s-icon-spacing-inline-end-invalid: var(--spectrum-field-edge-to-alert-icon-small);
	--system-spectrum-textfield-size-s-icon-spacing-inline-end-valid: var(--spectrum-field-edge-to-validation-icon-small);
	--system-spectrum-textfield-size-s-icon-spacing-block-invalid: var(--spectrum-field-top-to-alert-icon-small);
	--system-spectrum-textfield-size-s-icon-spacing-block-valid: var(--spectrum-field-top-to-validation-icon-small);
	--system-spectrum-textfield-size-s-icon-spacing-inline-start-invalid: var(--spectrum-field-text-to-alert-icon-small);
	--system-spectrum-textfield-size-s-icon-spacing-inline-start-valid: var(--spectrum-field-text-to-validation-icon-small);
	--system-spectrum-textfield-size-s-character-count-font-size: var(--spectrum-font-size-75);
	--system-spectrum-textfield-size-s-character-count-spacing-block: var(--spectrum-component-bottom-to-text-75);
	--system-spectrum-textfield-size-s-character-count-spacing-block-quiet: var(--spectrum-character-count-to-field-quiet-small);
	--system-spectrum-textfield-size-s-character-count-spacing-block-side: var(--spectrum-side-label-character-count-top-margin-small);
	--system-spectrum-textfield-size-s-text-area-min-block-size-quiet: var(--spectrum-component-height-75);
	--system-spectrum-textfield-size-m-height: var(--spectrum-component-height-100);
	--system-spectrum-textfield-size-m-label-spacing-block-quiet: var(--spectrum-field-label-to-component-quiet-medium);
	--system-spectrum-textfield-size-m-label-spacing-inline-side-label: var(--spectrum-spacing-200);
	--system-spectrum-textfield-size-m-placeholder-font-size: var(--spectrum-font-size-100);
	--system-spectrum-textfield-size-m-spacing-inline: var(--spectrum-component-edge-to-text-100);
	--system-spectrum-textfield-size-m-icon-size-invalid: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-textfield-size-m-icon-size-valid: var(--spectrum-checkmark-icon-size-100);
	--system-spectrum-textfield-size-m-icon-spacing-inline-end-invalid: var(--spectrum-field-edge-to-alert-icon-medium);
	--system-spectrum-textfield-size-m-icon-spacing-inline-end-valid: var(--spectrum-field-edge-to-validation-icon-medium);
	--system-spectrum-textfield-size-m-icon-spacing-block-invalid: var(--spectrum-field-top-to-alert-icon-medium);
	--system-spectrum-textfield-size-m-icon-spacing-block-valid: var(--spectrum-field-top-to-validation-icon-medium);
	--system-spectrum-textfield-size-m-icon-spacing-inline-start-invalid: var(--spectrum-field-text-to-alert-icon-medium);
	--system-spectrum-textfield-size-m-icon-spacing-inline-start-valid: var(--spectrum-field-text-to-validation-icon-medium);
	--system-spectrum-textfield-size-m-character-count-font-size: var(--spectrum-font-size-75);
	--system-spectrum-textfield-size-m-character-count-spacing-block: var(--spectrum-component-bottom-to-text-75);
	--system-spectrum-textfield-size-m-character-count-spacing-block-quiet: var(--spectrum-character-count-to-field-quiet-medium);
	--system-spectrum-textfield-size-m-character-count-spacing-block-side: var(--spectrum-side-label-character-count-top-margin-medium);
	--system-spectrum-textfield-size-m-text-area-min-block-size-quiet: var(--spectrum-component-height-100);
	--system-spectrum-textfield-size-l-height: var(--spectrum-component-height-200);
	--system-spectrum-textfield-size-l-label-spacing-block-quiet: var(--spectrum-field-label-to-component-quiet-large);
	--system-spectrum-textfield-size-l-label-spacing-inline-side-label: var(--spectrum-spacing-200);
	--system-spectrum-textfield-size-l-placeholder-font-size: var(--spectrum-font-size-200);
	--system-spectrum-textfield-size-l-spacing-inline: var(--spectrum-component-edge-to-text-200);
	--system-spectrum-textfield-size-l-icon-size-invalid: var(--spectrum-workflow-icon-size-200);
	--system-spectrum-textfield-size-l-icon-size-valid: var(--spectrum-checkmark-icon-size-200);
	--system-spectrum-textfield-size-l-icon-spacing-inline-end-invalid: var(--spectrum-field-edge-to-alert-icon-large);
	--system-spectrum-textfield-size-l-icon-spacing-inline-end-valid: var(--spectrum-field-edge-to-validation-icon-large);
	--system-spectrum-textfield-size-l-icon-spacing-block-invalid: var(--spectrum-field-top-to-alert-icon-large);
	--system-spectrum-textfield-size-l-icon-spacing-block-valid: var(--spectrum-field-top-to-validation-icon-large);
	--system-spectrum-textfield-size-l-icon-spacing-inline-start-invalid: var(--spectrum-field-text-to-alert-icon-large);
	--system-spectrum-textfield-size-l-icon-spacing-inline-start-valid: var(--spectrum-field-text-to-validation-icon-large);
	--system-spectrum-textfield-size-l-character-count-font-size: var(--spectrum-font-size-100);
	--system-spectrum-textfield-size-l-character-count-spacing-block: var(--spectrum-component-bottom-to-text-100);
	--system-spectrum-textfield-size-l-character-count-spacing-block-quiet: var(--spectrum-character-count-to-field-quiet-large);
	--system-spectrum-textfield-size-l-character-count-spacing-block-side: var(--spectrum-side-label-character-count-top-margin-large);
	--system-spectrum-textfield-size-l-text-area-min-block-size-quiet: var(--spectrum-component-height-200);
	--system-spectrum-textfield-size-xl-height: var(--spectrum-component-height-300);
	--system-spectrum-textfield-size-xl-label-spacing-block-quiet: var(--spectrum-field-label-to-component-quiet-extra-large);
	--system-spectrum-textfield-size-xl-label-spacing-inline-side-label: var(--spectrum-spacing-200);
	--system-spectrum-textfield-size-xl-placeholder-font-size: var(--spectrum-font-size-300);
	--system-spectrum-textfield-size-xl-spacing-inline: var(--spectrum-component-edge-to-text-200);
	--system-spectrum-textfield-size-xl-icon-size-invalid: var(--spectrum-workflow-icon-size-300);
	--system-spectrum-textfield-size-xl-icon-size-valid: var(--spectrum-checkmark-icon-size-300);
	--system-spectrum-textfield-size-xl-icon-spacing-inline-end-invalid: var(--spectrum-field-edge-to-alert-icon-extra-large);
	--system-spectrum-textfield-size-xl-icon-spacing-inline-end-valid: var(--spectrum-field-edge-to-validation-icon-extra-large);
	--system-spectrum-textfield-size-xl-icon-spacing-block-invalid: var(--spectrum-field-top-to-alert-icon-extra-large);
	--system-spectrum-textfield-size-xl-icon-spacing-block-valid: var(--spectrum-field-top-to-validation-icon-extra-large);
	--system-spectrum-textfield-size-xl-icon-spacing-inline-start-invalid: var(--spectrum-field-text-to-alert-icon-extra-large);
	--system-spectrum-textfield-size-xl-icon-spacing-inline-start-valid: var(--spectrum-field-text-to-validation-icon-extra-large);
	--system-spectrum-textfield-size-xl-character-count-font-size: var(--spectrum-font-size-200);
	--system-spectrum-textfield-size-xl-character-count-spacing-block: var(--spectrum-component-bottom-to-text-200);
	--system-spectrum-textfield-size-xl-character-count-spacing-block-quiet: var(--spectrum-character-count-to-field-quiet-extra-large);
	--system-spectrum-textfield-size-xl-character-count-spacing-block-side: var(--spectrum-side-label-character-count-top-margin-extra-large);
	--system-spectrum-textfield-size-xl-text-area-min-block-size-quiet: var(--spectrum-component-height-300);
}
