@import '../commons/index.css';
@import 'animation.css';

/* topdoc
{{ circleloader/circleloader-medium.yml }}
*/
.spectrum-CircleLoader {
  display: inline-block;
  width: var(--spectrum-loader-circle-medium-width);
  height: var(--spectrum-loader-circle-medium-height);
  position: relative;
}
.spectrum-CircleLoader-track {
  box-sizing: border-box;
  width: calc(var(--spectrum-loader-circle-medium-width));
  height: calc(var(--spectrum-loader-circle-medium-height));
  border-style: solid;
  border-width: var(--spectrum-loader-circle-medium-border-size);
  border-radius: var(--spectrum-loader-circle-medium-width);
}
.spectrum-CircleLoader-fills {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.spectrum-CircleLoader-fill {
  box-sizing: border-box;
  width: calc(var(--spectrum-loader-circle-medium-width));
  height: calc(var(--spectrum-loader-circle-medium-height));
  border-style: solid;
  border-width: var(--spectrum-loader-circle-medium-border-size);
  border-radius: var(--spectrum-loader-circle-medium-width);
}
.spectrum-CircleLoader-fillMask1,
.spectrum-CircleLoader-fillMask2 {
  width: 50%;
  height: 100%;
  transform-origin: 100% center;
  transform: rotate(180deg);
  overflow: hidden;
  position: absolute;
}
.spectrum-CircleLoader-fillSubMask1,
.spectrum-CircleLoader-fillSubMask2 {
  width: 100%;
  height: 100%;
  transform-origin: 100% center;
  overflow: hidden;
  transform: rotate(-180deg);
}
.spectrum-CircleLoader-fillMask2 {
  transform: rotate(0deg);
}

/* topdoc
{{ circleloader/circleloader-small.yml }}
*/
.spectrum-CircleLoader--small {
  width: var(--spectrum-loader-circle-small-width);
  height: var(--spectrum-loader-circle-small-height);

  .spectrum-CircleLoader-track {
    width: calc(var(--spectrum-loader-circle-small-width));
    height: calc(var(--spectrum-loader-circle-small-height));
    border-style: solid;
    border-width: var(--spectrum-loader-circle-small-border-size);
    border-radius: var(--spectrum-loader-circle-small-width);
  }
  .spectrum-CircleLoader-fill {
    width: calc(var(--spectrum-loader-circle-small-width));
    height: calc(var(--spectrum-loader-circle-small-height));
    border-style: solid;
    border-width: var(--spectrum-loader-circle-small-border-size);
    border-radius: var(--spectrum-loader-circle-small-width);
  }
}

/* topdoc
{{ circleloader/circleloader-large.yml }}
*/
.spectrum-CircleLoader--large {
  width: var(--spectrum-loader-circle-large-width);
  height: var(--spectrum-loader-circle-large-height);

  .spectrum-CircleLoader-track {
    width: calc(var(--spectrum-loader-circle-large-width));
    height: calc(var(--spectrum-loader-circle-large-height));
    border-style: solid;
    border-width: var(--spectrum-loader-circle-large-border-size);
    border-radius: var(--spectrum-loader-circle-large-width);
  }

  .spectrum-CircleLoader-fill {
    width: calc(var(--spectrum-loader-circle-large-width));
    height: calc(var(--spectrum-loader-circle-large-height));
    border-style: solid;
    border-width: var(--spectrum-loader-circle-large-border-size);
    border-radius: var(--spectrum-loader-circle-large-width);
  }
}

/* topdoc
{{ circleloader/circleloader-medium-over-background.yml }}
*/
.spectrum-CircleLoader--overBackground {
  width: var(--spectrum-loader-circle-large-width);
  height: var(--spectrum-loader-circle-large-height);
  .spectrum-CircleLoader-track {
    width: calc(var(--spectrum-loader-circle-large-width));
    height: calc(var(--spectrum-loader-circle-large-height));
    border-style: solid;
    border-width: var(--spectrum-loader-circle-large-border-size);
    border-radius: var(--spectrum-loader-circle-large-width);
  }

  .spectrum-CircleLoader-fill {
    width: calc(var(--spectrum-loader-circle-large-width));
    height: calc(var(--spectrum-loader-circle-large-height));
    border-style: solid;
    border-width: var(--spectrum-loader-circle-large-border-size);
    border-radius: var(--spectrum-loader-circle-large-width);
  }
}

/* topdoc
{{ circleloader/circleloader-indeterminate-default.yml }}
*/
.spectrum-CircleLoader--indeterminate {
  .spectrum-CircleLoader-fills {
    will-change: transform;
    transform: translateZ(0);
    animation: 1s infinite cubic-bezier(.25,.78,.48,.89) spectrum-fills-rotate;
    transform-origin: center;
  }
  .spectrum-CircleLoader-fillSubMask1 {
    will-change: transform;
    transform: translateZ(0);
    animation: 1s infinite linear spectrum-fill-mask-1;
  }

  .spectrum-CircleLoader-fillSubMask2 {
    will-change: transform;
    transform: translateZ(0);
    animation: 1s infinite linear spectrum-fill-mask-2;
  }
}
/* topdoc
{{ circleloader/circleloader-indeterminate-small.yml }}
*/

/* topdoc
{{ circleloader/circleloader-indeterminate-large.yml }}
*/

/* topdoc
{{ circleloader/circleloader-indeterminate-over-background.yml }}
*/
