/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@container style(--system: legacy) {
	.spectrum-Tag {
		/* border */
		--spectrum-tag-border-color: var(--spectrum-gray-700);
		--spectrum-tag-border-color-hover: var(--spectrum-gray-800);
		--spectrum-tag-border-color-active: var(--spectrum-gray-900);
		--spectrum-tag-border-color-focus: var(--spectrum-gray-800);

		/* corner border radius */
		--spectrum-tag-size-small-corner-radius: var(--spectrum-corner-radius-100);
		--spectrum-tag-size-medium-corner-radius: var(--spectrum-corner-radius-100);
		--spectrum-tag-size-large-corner-radius: var(--spectrum-corner-radius-100);

		/* background */
		--spectrum-tag-background-color: var(--spectrum-gray-75);
		--spectrum-tag-background-color-hover: var(--spectrum-gray-75);
		--spectrum-tag-background-color-active: var(--spectrum-gray-200);
		--spectrum-tag-background-color-focus: var(--spectrum-gray-75);

		/* content color */
		--spectrum-tag-content-color: var(--spectrum-neutral-subdued-content-color-default);
		--spectrum-tag-content-color-hover: var(--spectrum-neutral-subdued-content-color-hover);
		--spectrum-tag-content-color-active: var(--spectrum-neutral-subdued-content-color-down);
		--spectrum-tag-content-color-focus: var(--spectrum-neutral-subdued-content-color-key-focus);

		/* selected variant */
		--spectrum-tag-border-color-selected: var(--spectrum-neutral-subdued-background-color-default);
		--spectrum-tag-border-color-selected-hover: var(--spectrum-neutral-subdued-background-color-hover);
		--spectrum-tag-border-color-selected-active: var(--spectrum-neutral-subdued-background-color-down);
		--spectrum-tag-border-color-selected-focus: var(--spectrum-neutral-subdued-background-color-key-focus);

		/* disabled variant */
		--spectrum-tag-border-color-disabled: transparent;
		--spectrum-tag-background-color-disabled: var(--spectrum-disabled-background-color);

		/* tokens based on theme and t-shirt size */
		--spectrum-tag-size-small-spacing-inline-start: var(--spectrum-component-edge-to-visual-75);
		--spectrum-tag-size-small-label-spacing-inline-end: var(--spectrum-component-edge-to-text-75);
		--spectrum-tag-size-small-clear-button-spacing-inline-end: var(--spectrum-component-edge-to-visual-75);
		--spectrum-tag-size-medium-spacing-inline-start: var(--spectrum-component-edge-to-visual-100);
		--spectrum-tag-size-medium-label-spacing-inline-end: var(--spectrum-component-edge-to-text-100);
		--spectrum-tag-size-medium-clear-button-spacing-inline-end: var(--spectrum-component-edge-to-visual-100);
		--spectrum-tag-size-large-spacing-inline-start: var(--spectrum-component-edge-to-visual-200);
		--spectrum-tag-size-large-label-spacing-inline-end: var(--spectrum-component-edge-to-text-200);
		--spectrum-tag-size-large-clear-button-spacing-inline-end: var(--spectrum-component-edge-to-visual-200);

		/* TODO - replace placeholder disabled avatar opacity with correct token once avatar is migrated */
		--spectrum-avatar-opacity-disabled: 0.3;

		--spectrum-tag-animation-duration: var(--spectrum-animation-duration-100);
		--spectrum-tag-border-width: var(--spectrum-border-width-100);

		/* focus ring */
		--spectrum-tag-focus-ring-thickness: var(--spectrum-focus-indicator-thickness);
		--spectrum-tag-focus-ring-gap: var(--spectrum-focus-indicator-gap);
		--spectrum-tag-focus-ring-color: var(--spectrum-focus-indicator-color);

		/* label */
		--spectrum-tag-label-line-height: var(--spectrum-line-height-100);
		--spectrum-tag-label-font-weight: var(--spectrum-regular-font-weight);

		/* selected */
		--spectrum-tag-content-color-selected: var(--spectrum-gray-50);
		--spectrum-tag-background-color-selected: var(--spectrum-neutral-background-color-selected-default);
		--spectrum-tag-background-color-selected-hover: var(--spectrum-neutral-background-color-selected-hover);
		--spectrum-tag-background-color-selected-active: var(--spectrum-neutral-background-color-selected-down);
		--spectrum-tag-background-color-selected-focus: var(--spectrum-neutral-background-color-selected-key-focus);

		/* invalid variant */
		--spectrum-tag-border-color-invalid: var(--spectrum-negative-color-900);
		--spectrum-tag-border-color-invalid-hover: var(--spectrum-negative-color-1000);
		--spectrum-tag-border-color-invalid-active: var(--spectrum-negative-color-1100);
		--spectrum-tag-border-color-invalid-focus: var(--spectrum-negative-color-1000);

		/* invalid variant content */
		--spectrum-tag-content-color-invalid: var(--spectrum-negative-content-color-default);
		--spectrum-tag-content-color-invalid-hover: var(--spectrum-negative-content-color-hover);
		--spectrum-tag-content-color-invalid-active: var(--spectrum-negative-content-color-down);
		--spectrum-tag-content-color-invalid-focus: var(--spectrum-negative-content-color-key-focus);

		/* invalid selected variant */
		--spectrum-tag-border-color-invalid-selected: var(--spectrum-negative-background-color-default);
		--spectrum-tag-border-color-invalid-selected-hover: var(--spectrum-negative-background-color-hover);
		--spectrum-tag-border-color-invalid-selected-focus: var(--spectrum-negative-background-color-down);
		--spectrum-tag-border-color-invalid-selected-active: var(--spectrum-negative-background-color-key-focus);
		--spectrum-tag-background-color-invalid-selected: var(--spectrum-negative-background-color-default);
		--spectrum-tag-background-color-invalid-selected-hover: var(--spectrum-negative-background-color-hover);
		--spectrum-tag-background-color-invalid-selected-active: var(--spectrum-negative-background-color-down);
		--spectrum-tag-background-color-invalid-selected-focus: var(--spectrum-negative-background-color-key-focus);

		/* invalid selected variant content */
		--spectrum-tag-content-color-invalid-selected: var(--spectrum-white);

		/* emphasized variant */
		--spectrum-tag-border-color-emphasized: var(--spectrum-accent-background-color-default);
		--spectrum-tag-border-color-emphasized-hover: var(--spectrum-accent-background-color-hover);
		--spectrum-tag-border-color-emphasized-active: var(--spectrum-accent-background-color-down);
		--spectrum-tag-border-color-emphasized-focus: var(--spectrum-accent-background-color-key-focus);
		--spectrum-tag-background-color-emphasized: var(--spectrum-accent-background-color-default);
		--spectrum-tag-background-color-emphasized-hover: var(--spectrum-accent-background-color-hover);
		--spectrum-tag-background-color-emphasized-active: var(--spectrum-accent-background-color-down);
		--spectrum-tag-background-color-emphasized-focus: var(--spectrum-accent-background-color-key-focus);

		/* emphasized variant content */
		--spectrum-tag-content-color-emphasized: var(--spectrum-white);

		/* disabled variant content */
		--spectrum-tag-content-color-disabled: var(--spectrum-disabled-content-color);

		/* ↧↧↧ Fallback defaults in case of no t-shirt size - set to Medium styles ↧↧↧ */
		/* icon spacing fallback if no t-shirt size */
		--spectrum-tag-icon-spacing-inline-end: var(--spectrum-text-to-visual-100);
		--spectrum-tag-icon-size: var(--spectrum-workflow-icon-size-100);
		--spectrum-tag-icon-spacing-block-start: var(--spectrum-component-top-to-workflow-icon-100);
		--spectrum-tag-icon-spacing-block-end: var(--spectrum-component-top-to-workflow-icon-100);

		/* avatar spacing fallback if no t-shirt size */
		--spectrum-tag-avatar-spacing-block-start: var(--spectrum-tag-top-to-avatar-medium);
		--spectrum-tag-avatar-spacing-block-end: var(--spectrum-tag-top-to-avatar-medium);
		--spectrum-tag-avatar-spacing-inline-end: var(--spectrum-text-to-visual-100);

		/* label spacing fallback if no t-shirt size */
		--spectrum-tag-label-spacing-block: var(--spectrum-component-top-to-text-100);

		/* clear button inline spacing fallback if no t-shirt size */
		--spectrum-tag-clear-button-spacing-inline-start: var(--spectrum-text-to-visual-100);

		/* tag defaults if no t-shirt size */
		--spectrum-tag-height: var(--spectrum-component-height-100);

		/* text defaults if no t-shirt size */
		--spectrum-tag-font-size: var(--spectrum-font-size-100);

		/* clear button spacing if no t-shirt size */
		--spectrum-tag-clear-button-spacing-block: var(--spectrum-tag-top-to-cross-icon-medium);

		/* t-shirt sizes */
		&.spectrum-Tag--sizeS {
			--spectrum-tag-height: var(--spectrum-component-height-75);
			--spectrum-tag-font-size: var(--spectrum-font-size-75);
			--spectrum-tag-icon-size: var(--spectrum-workflow-icon-size-75);

			--spectrum-tag-clear-button-spacing-inline-start: var(--spectrum-text-to-visual-75);
			--spectrum-tag-clear-button-spacing-block: var(--spectrum-tag-top-to-cross-icon-small);

			--spectrum-tag-icon-spacing-block-start: var(--spectrum-component-top-to-workflow-icon-75);
			--spectrum-tag-icon-spacing-block-end: var(--spectrum-component-top-to-workflow-icon-75);
			--spectrum-tag-icon-spacing-inline-end: var(--spectrum-text-to-visual-75);

			--spectrum-tag-avatar-spacing-block-start: var(--spectrum-tag-top-to-avatar-small);
			--spectrum-tag-avatar-spacing-block-end: var(--spectrum-tag-top-to-avatar-small);
			--spectrum-tag-avatar-spacing-inline-end: var(--spectrum-text-to-visual-75);

			--spectrum-tag-label-spacing-block: var(--spectrum-component-top-to-text-75);

			/* tokens based on theme and t-shirt size */
			--spectrum-tag-corner-radius: var(--spectrum-tag-size-small-corner-radius);
			--spectrum-tag-spacing-inline-start: var(--spectrum-tag-size-small-spacing-inline-start);
			--spectrum-tag-label-spacing-inline-end: var(--spectrum-tag-size-small-label-spacing-inline-end);
			--spectrum-tag-clear-button-spacing-inline-end: var(--spectrum-tag-size-small-clear-button-spacing-inline-end);
		}

		&,
		&.spectrum-Tag--sizeM {
			--spectrum-tag-height: var(--spectrum-component-height-100);
			--spectrum-tag-font-size: var(--spectrum-font-size-100);
			--spectrum-tag-icon-size: var(--spectrum-workflow-icon-size-100);

			--spectrum-tag-clear-button-spacing-inline-start: var(--spectrum-text-to-visual-100);
			--spectrum-tag-clear-button-spacing-block: var(--spectrum-tag-top-to-cross-icon-medium);

			--spectrum-tag-icon-spacing-block-start: var(--spectrum-component-top-to-workflow-icon-100);
			--spectrum-tag-icon-spacing-block-end: var(--spectrum-component-top-to-workflow-icon-100);
			--spectrum-tag-icon-spacing-inline-end: var(--spectrum-text-to-visual-100);

			--spectrum-tag-avatar-spacing-block-start: var(--spectrum-tag-top-to-avatar-medium); /* 6px 9px */
			--spectrum-tag-avatar-spacing-block-end: var(--spectrum-tag-top-to-avatar-medium);
			--spectrum-tag-avatar-spacing-inline-end: var(--spectrum-text-to-visual-100);

			--spectrum-tag-label-spacing-block: var(--spectrum-component-top-to-text-100);

			/* tokens based on theme and t-shirt size */
			--spectrum-tag-corner-radius: var(--spectrum-tag-size-medium-corner-radius);
			--spectrum-tag-spacing-inline-start: var(--spectrum-tag-size-medium-spacing-inline-start);
			--spectrum-tag-label-spacing-inline-end: var(--spectrum-tag-size-medium-label-spacing-inline-end);
			--spectrum-tag-clear-button-spacing-inline-end: var(--spectrum-tag-size-medium-clear-button-spacing-inline-end);
		}

		&.spectrum-Tag--sizeL {
			--spectrum-tag-height: var(--spectrum-component-height-200);
			--spectrum-tag-font-size: var(--spectrum-font-size-200);
			--spectrum-tag-icon-size: var(--spectrum-workflow-icon-size-200);

			--spectrum-tag-clear-button-spacing-inline-start: var(--spectrum-text-to-visual-200);
			--spectrum-tag-clear-button-spacing-block: var(--spectrum-tag-top-to-cross-icon-large);

			--spectrum-tag-icon-spacing-block-start: var(--spectrum-component-top-to-workflow-icon-200);
			--spectrum-tag-icon-spacing-block-end: var(--spectrum-component-top-to-workflow-icon-200);
			--spectrum-tag-icon-spacing-inline-end: var(--spectrum-text-to-visual-200);

			--spectrum-tag-avatar-spacing-block-start: var(--spectrum-tag-top-to-avatar-large);
			--spectrum-tag-avatar-spacing-block-end: var(--spectrum-tag-top-to-avatar-large);
			--spectrum-tag-avatar-spacing-inline-end: var(--spectrum-text-to-visual-200);

			--spectrum-tag-label-spacing-block: var(--spectrum-component-top-to-text-200);

			/* tokens based on theme and t-shirt size */
			--spectrum-tag-corner-radius: var(--spectrum-tag-size-large-corner-radius);
			--spectrum-tag-spacing-inline-start: var(--spectrum-tag-size-large-spacing-inline-start);
			--spectrum-tag-label-spacing-inline-end: var(--spectrum-tag-size-large-label-spacing-inline-end);
			--spectrum-tag-clear-button-spacing-inline-end: var(--spectrum-tag-size-large-clear-button-spacing-inline-end);
		}
	}
}
