/*
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/*** TODO - Stepper was migrated using placeholder tokens, reevaluate when complete design specs are available ***/
/*** This migration combines existing Stepper styles with minimal new design instructions ***/

.spectrum-Stepper {
   /**** TODO - this section contains placeholder widths ****/
  --spectrum-stepper-width-medium: 72px; /* placeholder for --spectrum-global-dimension-size-900 */
  --spectrum-stepper-width-large: 90px; /* placeholder for --spectrum-global-dimension-size-900 */
  --spectrum-stepper-icon-width-medium: 10px; /* placeholder for --spectrum-alias-ui-icon-chevron-size-75 */
  --spectrum-stepper-icon-width-large: 12px; /* placeholder for --spectrum-alias-ui-icon-chevron-size-75 */

  /* set defaults to medium theme */
  --spectrum-stepper-width: var(--spectrum-stepper-width-medium);
  --spectrum-stepper-icon-width: var(--spectrum-stepper-icon-width-medium);

  /* override per theme size to match old token --spectrum-global-dimension-size-900 */
  /* this is necessary to mimmic the size-responsive tokens which were already present */
  .spectrum--medium {
    & {
      --spectrum-stepper-width: var(--spectrum-stepper-width-medium);
      --spectrum-stepper-icon-width: var(--spectrum-stepper-icon-width-medium);
    }
  }

  .spectrum--large {
    & {
      --spectrum-stepper-width: var(--spectrum-stepper-width-large);
      --spectrum-stepper-icon-width: var(--spectrum-stepper-icon-width-large);
    }
  }
  /**** END placeholder widths ****/


  --spectrum-stepper-button-width: var(--spectrum-component-height-75); /* this height token matches the previous WIDTH token */

  --spectrum-stepper-button-padding: var(--spectrum-component-edge-to-visual-50); /* 6px md + 7px lg - previously 6px md + 7.5px lg */

  --spectrum-stepper-border-radius-reset: 0;
  --spectrum-stepper-border-size-reset: 0;

  /*** Button Icons - appears to adjust position ***/
  --spectrum-stepper-icon-nudge-start: 1px; /* placeholder - was var(--spectrum-global-dimension-size-10) - 1px */
  --spectrum-stepper-icon-nudge-end: 2px; /* placeholder -was var(--spectrum-global-dimension-size-25) - 2px */


 /*** :AFTER - this is for the :after element labeled below as hit area, but used as focus indicator in ActionButton ***/
  --spectrum-stepper-button-offset: calc(var(--spectrum-stepper-button-width) / 2 - var(--spectrum-stepper-icon-width) / 2);
    /* chevron = --spectrum-global-dimension-static-size-125 and --spectrum-global-dimension-static-size-150 = 10px and 12px */
  /* button width of 23px / 29px divided by 2 = 11.5px and 14.5px */
  /* chevron size of 10px and 12px divided by 2 = 5px and 6px */
  /* 11.5px minus 5px = 6.5px */
  /* 14.5px minus 6px = 8.5px */


  /*** New added tokens begin here - chosen to match textfield - reevaluate when fully migrating Stepper ***/
  --spectrum-stepper-animation-duration: var(--spectrum-animation-duration-100);
  --spectrum-stepper-border-radius: var(--spectrum-corner-radius-100);
  --spectrum-stepper-buttons-height: var(--spectrum-component-height-100); /* from textfield height */

 /*** Quiet Variant ***/
  --spectrum-stepper-quiet-width: var(--spectrum-component-height-300); /* matches previous width token */
  --spectrum-stepper-quiet-button-width: calc(var(--spectrum-stepper-button-width) - var(--spectrum-stepper-button-offset));

  /*** Disabled Colors ***/
  --spectrum-stepper-border-color-quiet-disabled: var(--spectrum-disabled-border-color);

  /*** Invalid Colors ***/
  --spectrum-stepper-border-color-invalid-default: var(--spectrum-negative-border-color-default);
  --spectrum-stepper-border-color-invalid-hover: var(--spectrum-negative-border-color-hover);
  --spectrum-stepper-border-color-invalid-focus: var(--spectrum-negative-border-color-focus);
  --spectrum-stepper-border-color-invalid-focus-hover: var(--spectrum-negative-border-color-focus-hover);
  --spectrum-stepper-border-color-invalid-keyboard-focus: var(--spectrum-negative-border-color-key-focus);

  /*** Focus Indicator ***/
  --spectrum-stepper-focus-indicator-width: var(--spectrum-focus-indicator-thickness);
  --spectrum-stepper-focus-indicator-gap: var(--spectrum-focus-indicator-gap);

  /*** Focus Indicator Color ***/
  --spectrum-stepper-focus-indicator-color: var(--spectrum-focus-indicator-color);
}


/********* WHCM *********/
@media (forced-colors: active) {
  .spectrum-Stepper {
    --highcontrast-stepper-border-color: CanvasText;
    --highcontrast-stepper-border-color-hover: Highlight;
    --highcontrast-stepper-border-color-focus: Highlight;
    --highcontrast-stepper-border-color-focus-hover: Highlight;
    --highcontrast-stepper-border-color-keyboard-focus: Highlight;

    /*** Disabled Colors ***/
    --highcontrast-stepper-border-color-quiet-disabled: GrayText;

    /*** Invalid Colors ***/
    --highcontrast-stepper-border-color-invalid-default: Highlight;
    --highcontrast-stepper-border-color-invalid-hover: Highlight;
    --highcontrast-stepper-border-color-invalid-focus: Highlight;
    --highcontrast-stepper-border-color-invalid-focus-hover: Highlight;
    --highcontrast-stepper-border-color-invalid-keyboard-focus: Highlight;

    --highcontrast-stepper-focus-indicator-color: CanvasText;
  }
}

.spectrum-Stepper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;

  inline-size: var(--mod-stepper-width, var(--spectrum-stepper-width));
  line-height: 0;
  border-radius: var(--mod-stepper-border-radius, var(--spectrum-stepper-border-radius)); /* --spectrum-global-dimension-size-75 = 6px 8px */
  transition: border-color var(--mod-stepper-animation-duration, var(--spectrum-stepper-animation-duration)) ease-in-out;
}
.spectrum-Stepper::before {
  content: '';
}

.spectrum-Stepper-buttons {
  display: block;
  box-sizing: border-box;
  border-start-start-radius: 0;
  border-start-end-radius: var(--mod-stepper-border-radius, var(--spectrum-stepper-border-radius)); /* --spectrum-global-dimension-size-75  = 6px 8px */
  border-end-end-radius: var(--mod-stepper-border-radius, var(--spectrum-stepper-border-radius));
  border-end-start-radius: 0;
  block-size: var(--mod-stepper-buttons-height, var(--spectrum-stepper-buttons-height));
}

.spectrum-Stepper-stepUp,
.spectrum-Stepper-stepDown {
  position: relative;
  display: flex;
  box-sizing: border-box;

  /* remove middle border from button height */
  block-size: calc((var(--mod-stepper-buttons-height, var(--spectrum-stepper-buttons-height)) / 2)) - var(--mod-stepper-border-width, var(--spectrum-stepper-border-width)));
  block-size: calc((var(--mod-stepper-buttons-height, var(--spectrum-stepper-buttons-height)) - var(--mod-stepper-border-width, var(--spectrum-stepper-border-width))) / 2);

  block-size: calc((var(--mod-stepper-buttons-height, var(--spectrum-stepper-buttons-height)) / 2) - (var(--mod-stepper-border-width, var(--spectrum-stepper-border-width)) / 2));
  block-size: calc(var(--mod-stepper-buttons-height, var(--spectrum-stepper-buttons-height)) / 2);

  /* remove left border width from button width */
  inline-size: calc(var(--mod-stepper-button-width, var(--spectrum-stepper-button-width)) - var(--mod-stepper-border-width, var(--spectrum-stepper-border-width)));

  min-inline-size: 0;

  padding-inline-start: var(--mod-stepper-button-padding, var(--spectrum-stepper-button-padding));
  padding-inline-end: var(--mod-stepper-button-padding, var(--spectrum-stepper-button-padding));

  /* Avoid margin added by adjacent buttons */
  margin: 0;

  border-color: var(--highcontrast-stepper-border-color, var(--mod-stepper-border-color, var(--spectrum-stepper-border-color)));

  border-width: var(--mod-stepper-border-width, var(--spectrum-stepper-border-width));
  border-inline-start-width: var(--mod-stepper-border-size-reset, var(--spectrum-stepper-border-size-reset));

  border-start-start-radius: var(--mod-stepper-border-radius-reset, var(--spectrum-stepper-border-radius-reset));
  border-end-start-radius: var(--mod-stepper-border-radius-reset, var(--spectrum-stepper-border-radius-reset));

  .spectrum-Icon {
    opacity: 1;
  }
}

.spectrum-Stepper-stepUp {
  border-block-end: none;
  border-end-end-radius: var(--mod-stepper-border-radius-reset, var(--spectrum-stepper-border-radius-reset));

  padding-block-start: var(--mod-stepper-icon-nudge-start, var(--spectrum-stepper-icon-nudge-start));
}

.spectrum-Stepper-stepDown {
  border-start-end-radius: var(--mod-stepper-border-radius-reset, var(--spectrum-stepper-border-radius-reset));

  padding-block-end: var(--mod-stepper-icon-nudge-end, var(--spectrum-stepper-icon-nudge-end));
}

.spectrum-Stepper-textfield {
  flex: 1;
  inline-size: auto;
}

.spectrum-Stepper-input {
  min-inline-size: 0;
  border-start-end-radius: var(--mod-stepper-border-radius-reset, var(--spectrum-stepper-border-radius-reset));
  border-end-end-radius: var(--mod-stepper-border-radius-reset, var(--spectrum-stepper-border-radius-reset));
}

.spectrum-Stepper-textfield {
  min-inline-size: 0;
}

.spectrum-Stepper--quiet {
  border-radius: var(--mod-stepper-border-radius-reset, var(--spectrum-stepper-border-radius-reset));
  inline-size: var(--mod-stepper-quiet-width, var(--spectrum-stepper-quiet-width));

  .spectrum-Stepper-buttons {
    border-radius: var(--mod-stepper-border-radius-reset, var(--spectrum-stepper-border-radius-reset));
  }

  .spectrum-Stepper-stepUp,
  .spectrum-Stepper-stepDown {
    inline-size: var(--mod-stepper-quiet-button-width, var(--spectrum-stepper-quiet-button-width));
    min-inline-size: 0;

    border-inline-end-width: var(--mod-stepper-border-size-reset, var(--spectrum-stepper-border-size-reset));
    border-block-start: none;
    border-inline-start: none;
    border-radius: var(--mod-stepper-border-radius-reset, var(--spectrum-stepper-border-radius-reset));

    padding-inline-end: 0;
    justify-content: flex-end;

    /* More hitarea */
    &::after {
      content: '';
      position: absolute;
      block-size: 100%;
      inline-size: var(--mod-stepper-button-offset, var(--spectrum-stepper-button-offset));
      inset-inline-end: calc(var(--mod-stepper-button-offset, var(--spectrum-stepper-button-offset)) * -1);
    }
  }
}


/* Variant colors - WIP placeholders - bring in colors from textfield */

.spectrum-Stepper {
  position: relative;

  /* remove textfield focus indicator so we don't have two of them */
  .spectrum-Stepper-textfield::after {
    display: none;
  }

    /*** Focus Indicator - Unfocused Base Styles ***/
  &::after {
    block-size: calc(100% + (var(--mod-stepper-focus-indicator-gap, var(--spectrum-stepper-focus-indicator-gap)) * 2));
    inline-size: calc(100% + (var(--mod-stepper-focus-indicator-gap, var(--spectrum-stepper-focus-indicator-gap)) * 2));
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    content: '';
    border-style: solid;
    border-color: transparent;
    border-width: 0;
    border-radius: calc(var(--mod-stepper-border-radius, var(--spectrum-stepper-border-radius))
                        + var(--mod-stepper-border-width, var(--spectrum-stepper-border-width))
                        + var(--mod-stepper-focus-indicator-gap, var(--spectrum-stepper-focus-indicator-gap)));

    margin-block-start: calc((var(--mod-stepper-focus-indicator-gap, var(--spectrum-stepper-focus-indicator-gap))
                              + var(--mod-stepper-focus-indicator-width, var(--spectrum-stepper-focus-indicator-width)))
                              * -1);
    margin-inline-start: calc((var(--mod-stepper-focus-indicator-gap, var(--spectrum-stepper-focus-indicator-gap))
                              + var(--mod-stepper-focus-indicator-width, var(--spectrum-stepper-focus-indicator-width)))
                              * -1);
  }

  &:hover:not(.is-disabled):not(.is-invalid):not(.is-focused):not(.is-keyboardFocused) {
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown,
    .spectrum-Stepper-input {
      border-color: var(--highcontrast-stepper-border-color-hover, var(--mod-stepper-border-color-hover, var(--spectrum-stepper-border-color-hover)));
    }
  }

  &.is-focused {
    border-color: var(--highcontrast-stepper-border-color-focus, var(--mod-stepper-border-color-focus, var(--spectrum-stepper-border-color-focus)));

    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: var(--highcontrast-stepper-border-color-focus, var(--mod-stepper-border-color-focus, var(--spectrum-stepper-border-color-focus)));
    }

    .spectrum-Stepper-input {
      border-color: var(--highcontrast-stepper-border-color-focus, var(--mod-stepper-border-color-focus, var(--spectrum-stepper-border-color-focus)));
    }

    &:hover {
      border-color: var(--highcontrast-stepper-border-color-focus-hover, var(--mod-stepper-border-color-focus-hover, var(--spectrum-stepper-border-color-focus-hover)));

      .spectrum-Stepper-stepUp,
      .spectrum-Stepper-stepDown {
        border-color: var(--highcontrast-stepper-border-color-focus-hover, var(--mod-stepper-border-color-focus-hover, var(--spectrum-stepper-border-color-focus-hover)));
      }
    }

    &.is-invalid {
      border-color: var(--highcontrast-stepper-border-color-invalid-focus, var(--mod-stepper-border-color-invalid-focus, var(--spectrum-stepper-border-color-invalid-focus)));

      .spectrum-Stepper-stepUp,
      .spectrum-Stepper-stepDown {
        border-color: var(--highcontrast-stepper-border-color-invalid-focus, var(--mod-stepper-border-color-invalid-focus, var(--spectrum-stepper-border-color-invalid-focus)));
      }

      .spectrum-Stepper-input {
        border-color: var(--highcontrast-stepper-border-color-invalid-focus, var(--mod-stepper-border-color-invalid-focus, var(--spectrum-stepper-border-color-invalid-focus)));
      }
    }
  }

  &.is-keyboardFocused {

    /* focus indicator is visible */
    &::after {
      border-color: var(--highcontrast-stepper-focus-indicator-color, var(--mod-stepper-focus-indicator-color, var(--spectrum-stepper-focus-indicator-color)));
      border-width: var(--mod-stepper-focus-indicator-width, var(--spectrum-stepper-focus-indicator-width));
    }

    .spectrum-Stepper-input,
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: var(--highcontrast-stepper-border-color-keyboard-focus, var(--mod-stepper-border-color-keyboard-focus, var(--spectrum-stepper-border-color-keyboard-focus)));
    }

    &.is-invalid {

      .spectrum-Stepper-stepUp,
      .spectrum-Stepper-stepDown {
        border-color: var(--highcontrast-stepper-border-color-invalid-keyboard-focus, var(--mod-stepper-border-color-invalid-keyboard-focus, var(--spectrum-stepper-border-color-invalid-keyboard-focus)));
      }
    }
  }

  &.is-invalid {
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: var(--highcontrast-stepper-border-color-invalid-default, var(--mod-stepper-border-color-invalid-default, var(--spectrum-stepper-border-color-invalid-default)));
    }

    .spectrum-Stepper-input {
      border-color: var(--highcontrast-stepper-border-color-invalid-default, var(--mod-stepper-border-color-invalid-default, var(--spectrum-stepper-border-color-invalid-default)));
    }

    &:hover {
      border-color: var(--highcontrast-stepper-border-color-invalid-hover, var(--mod-stepper-border-color-invalid-hover, var(--spectrum-stepper-border-color-invalid-hover)));

      .spectrum-Stepper-stepUp,
      .spectrum-Stepper-stepDown {
        border-color: var(--highcontrast-stepper-border-color-invalid-hover, var(--mod-stepper-border-color-invalid-hover, var(--spectrum-stepper-border-color-invalid-hover)));
      }
    }

    &.is-focused {
      .spectrum-Stepper-stepUp,
      .spectrum-Stepper-stepDown {
        border-color: var(--highcontrast-stepper-border-color-invalid-focus, var(--mod-stepper-border-color-invalid-focus, var(--spectrum-stepper-border-color-invalid-focus)));
      }

      &:hover {
        .spectrum-Stepper-stepUp,
        .spectrum-Stepper-stepDown {
          border-color: var(--highcontrast-stepper-border-color-invalid-focus-hover, var(--mod-stepper-border-color-invalid-focus-hover, var(--spectrum-stepper-border-color-invalid-focus-hover)));
        }
      }
    }

    &.is-keyboardFocused {
      .spectrum-Stepper-input {
        border-color: var(--highcontrast-stepper-border-color-invalid-keyboard-focus, var(--mod-stepper-border-color-invalid-keyboard-focus, var(--spectrum-stepper-border-color-invalid-keyboard-focus)));
      }
    }
  }

  &.is-disabled {
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: transparent;
    }
  }
}

.spectrum-Stepper-stepUp,
.spectrum-Stepper-stepDown {

  &:disabled {
    border-color: transparent;
  }
}

.spectrum-Stepper--quiet {
  &.is-disabled {
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: var(--highcontrast-stepper-border-color-quiet-disabled, var(--mod-stepper-border-color-quiet-disabled, var(--spectrum-stepper-border-color-quiet-disabled)));
    }
  }

  .spectrum-Stepper-stepUp,
  .spectrum-Stepper-stepDown {
    border-color: var(--highcontrast-stepper-border-color, var(--mod-stepper-border-color, var(--spectrum-stepper-border-color)));

    &:disabled {
      border-color: var(--highcontrast-stepper-border-color-quiet-disabled, var(--mod-stepper-border-color-quiet-disabled, var(--spectrum-stepper-border-color-quiet-disabled)));
    }
  }

  &.is-invalid {
    .spectrum-Stepper-input {
      border-color: var(--highcontrast-stepper-border-color-invalid-default, var(--mod-stepper-border-color-invalid-default, var(--spectrum-stepper-border-color-invalid-default)));
    }

    .spectrum-Stepper-stepDown {
      border-color: var(--highcontrast-stepper-border-color-invalid-default, var(--mod-stepper-border-color-invalid-default, var(--spectrum-stepper-border-color-invalid-default)));
    }
  }

  &.is-focused {
    .spectrum-Stepper-stepDown {
      border-color: var(--highcontrast-stepper-border-color-focus, var(--mod-stepper-border-color-focus, var(--spectrum-stepper-border-color-focus)));
    }

    &:hover {
      border-color: var(--highcontrast-stepper-border-color-focus-hover, var(--mod-stepper-border-color-focus-hover, var(--spectrum-stepper-border-color-focus-hover)));

      .spectrum-Stepper-stepUp,
      .spectrum-Stepper-stepDown {
        border-color: var(--highcontrast-stepper-border-color-focus-hover, var(--mod-stepper-border-color-focus-hover, var(--spectrum-stepper-border-color-focus-hover)));
      }
    }

    &.is-invalid {
      .spectrum-Stepper-input {
        border-color: var(--highcontrast-stepper-border-color-focus, var(--mod-stepper-border-color-focus, var(--spectrum-stepper-border-color-focus)));
      }

      .spectrum-Stepper-stepDown {
        border-color: var(--highcontrast-stepper-border-color-focus, var(--mod-stepper-border-color-focus, var(--spectrum-stepper-border-color-focus)));
      }
    }
  }

  &.is-keyboardFocused {
    &::after {
      border-width: 0 0 var(--mod-stepper-focus-indicator-width, var(--spectrum-stepper-focus-indicator-width)) 0;
      border-radius: 0;
      inline-size: 100%;
      block-size: calc(100% + var(--mod-stepper-focus-indicator-gap, var(--spectrum-stepper-focus-indicator-gap)));
      margin-inline-start: 0;
      margin-block-start: 0;
    }

    .spectrum-Stepper-stepDown {
      border-color: var(--highcontrast-stepper-border-color-keyboard-focus, var(--mod-stepper-border-color-keyboard-focus, var(--spectrum-stepper-border-color-keyboard-focus)));
    }

    &.is-invalid {
      .spectrum-Stepper-input {
        border-color: var(--highcontrast-stepper-border-color-invalid-keyboard-focus, var(--mod-stepper-border-color-invalid-keyboard-focus, var(--spectrum-stepper-border-color-invalid-keyboard-focus)));
      }

      .spectrum-Stepper-stepDown {
        border-color: var(--highcontrast-stepper-border-color-invalid-keyboard-focus, var(--mod-stepper-border-color-invalid-keyboard-focus, var(--spectrum-stepper-border-color-invalid-keyboard-focus)));
      }
    }
  }
}
