/*
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Stepper {

  /* TODO - ask Design to evaluate these widths */
  .spectrum--medium {
    & {
      --spectrum-stepper-width: 72px; /* replaces --spectrum-global-dimension-size-900 */
      --spectrum-stepper-icon-width: 10px; /* placeholder for --spectrum-alias-ui-icon-chevron-size-75 */
    }
  }

  .spectrum--large {
    & {
      --spectrum-stepper-width: 90px; /* replaces --spectrum-global-dimension-size-900 */
      --spectrum-stepper-icon-width: 12px; /* placeholder for --spectrum-alias-ui-icon-chevron-size-75 */
    }
  }

  --spectrum-stepper-button-offset: calc(var(--spectrum-stepper-button-width) / 2 - var(--spectrum-stepper-icon-width) / 2); /* TODO - reevaluate when icons are migrated */

  --spectrum-stepper-button-width: var(--spectrum-component-height-75); /* this height token matches the previous width token */

  --spectrum-stepper-button-padding: var(--spectrum-component-edge-to-visual-50); /* 6px md + 7px lg - previously 6px md + 7.5px lg */

  --spectrum-stepper-border-radius-reset: 0;
  --spectrum-stepper-border-size-reset: 0;

  --spectrum-stepper-icon-nudge-start: 1px; /* 1px - could this be == the component border width? Check Express */
  /* was var(--spectrum-global-dimension-size-10); */
  /* was 1px */

  --spectrum-stepper-icon-nudge-end: 2px; /* 2px - could this be == the component border width? Check Express */
  /* was var(--spectrum-global-dimension-size-25); */
  /* was 2px */

  --spectrum-stepper-quiet-width: var(--spectrum-component-height-300); /* matches previous width token */

  --spectrum-stepper-quiet-button-width: calc(var(--spectrum-stepper-button-width) - var(--spectrum-stepper-button-offset));


  /* New tokens */
  --spectrum-stepper-animation-duration: var(--spectrum-animation-duration-100);
  --spectrum-stepper-border-radius: var(--spectrum-corner-radius-100); /* was 6px 8px */
  --spectrum-stepper-buttons-height: var(--spectrum-component-height-100);

  /* new colors */
  --spectrum-stepper-border-color: var(--spectrum-stepper-border-color-default);
}

.spectrum-Stepper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;

  inline-size: var(--spectrum-stepper-width);
  line-height: 0;
  border-radius: var(--spectrum-stepper-border-radius); /* --spectrum-global-dimension-size-75 = 6px 8px */
  transition: border-color var(--spectrum-stepper-animation-duration) ease-in-out, box-shadow var(--spectrum-stepper-animation-duration) ease-in-out;
  /* 130ms */
}
.spectrum-Stepper::before {
  content: '';
}

.spectrum-Stepper-buttons {
  display: block;
  box-sizing: border-box;
  border-start-start-radius: 0;
  border-start-end-radius: var(--spectrum-stepper-border-radius); /* --spectrum-global-dimension-size-75  = 6px 8px */
  border-end-end-radius: var(--spectrum-stepper-border-radius);
  border-end-start-radius: 0;
  transition: box-shadow var(--spectrum-stepper-animation-duration) ease-in-out;
  block-size: var(--spectrum-stepper-buttons-height);
}

.spectrum-Stepper-stepUp,
.spectrum-Stepper-stepDown {
  position: relative;
  display: flex;
  box-sizing: border-box;

  /* remove middle border from button height */
  block-size: calc((var(--spectrum-stepper-buttons-height) / 2)) - var(--spectrum-stepper-border-size));
  block-size: calc((var(--spectrum-stepper-buttons-height) - var(--spectrum-stepper-border-size)) / 2);

  block-size: calc((var(--spectrum-stepper-buttons-height) / 2) - (var(--spectrum-stepper-border-size) / 2));
  block-size: calc(var(--spectrum-stepper-buttons-height) / 2);

  /* remove left border width from button width */
  inline-size: calc(var(--spectrum-stepper-button-width) - var(--spectrum-stepper-border-size));

  min-inline-size: 0;

  padding-inline-start: var(--spectrum-stepper-button-padding);
  padding-inline-end: var(--spectrum-stepper-button-padding);

  /* Avoid margin added by adjacent buttons */
  margin: 0 !important;

  border-color: var(--spectrum-stepper-border-color);

  border-width: var(--spectrum-stepper-border-size);
  border-inline-start-width: var(--spectrum-stepper-border-size-reset);

  border-start-start-radius: var(--spectrum-stepper-border-radius-reset);
  border-end-start-radius: var(--spectrum-stepper-border-radius-reset);

  .spectrum-Icon {
    margin: 0 !important;
    opacity: 1;
  }
}

.spectrum-Stepper-stepUp {
  border-block-end: none;
  border-end-end-radius: var(--spectrum-stepper-border-radius-reset);

  padding-block-start: var(--spectrum-stepper-icon-nudge-start);
}

.spectrum-Stepper-stepDown {
  border-start-end-radius: var(--spectrum-stepper-border-radius-reset);

  padding-block-end: var(--spectrum-stepper-icon-nudge-end);
}

.spectrum-Stepper-textfield {
  flex: 1;
  inline-size: auto;
}

.spectrum-Stepper-input {
  min-inline-size: 0;
  border-start-end-radius: var(--spectrum-stepper-border-radius-reset);
  border-end-end-radius: var(--spectrum-stepper-border-radius-reset);
}

.spectrum-Stepper-textfield {
  min-inline-size: 0;
}

.spectrum-Stepper--quiet {
  border-radius: var(--spectrum-stepper-border-radius-reset);
  inline-size: var(--spectrum-stepper-quiet-width);

  .spectrum-Stepper-buttons {
    border-radius: var(--spectrum-stepper-border-radius-reset);
  }

  .spectrum-Stepper-stepUp,
  .spectrum-Stepper-stepDown {
    inline-size: var(--spectrum-stepper-quiet-button-width);
    min-inline-size: 0;

    border-inline-end-width: var(--spectrum-stepper-border-size-reset);
    border-block-start: none;
    border-inline-start: none;
    border-radius: var(--spectrum-stepper-border-radius-reset);

    padding-inline-end: 0;
    justify-content: flex-end;

    /* More hitarea */
    &::after {
      content: '';
      position: absolute;
      block-size: 100%;
      inline-size: var(--spectrum-stepper-button-offset);
      inset-inline-end: calc(var(--spectrum-stepper-button-offset) * -1);
    }
  }
}



/* Variant colors - WIP placeholders - bring in colors from textfield */

.spectrum-Stepper {
  &:hover:not(.is-disabled):not(.is-invalid):not(.is-focused):not(.is-keyboardFocused) {
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown,
    .spectrum-Stepper-input {
      border-color: var(--spectrum-stepper-border-color);
    }
  }

  &.is-focused {
    border-color: cyan; /* WIP placeholder */

    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color:  cyan; /* WIP placeholder */
    }

    .spectrum-Stepper-input {
      border-color:  cyan; /* WIP placeholder */
      box-shadow: none;
    }

    &.is-invalid {
      border-color: red;

      .spectrum-Stepper-stepUp,
      .spectrum-Stepper-stepDown {
        border-color: red;
      }

      .spectrum-Stepper-input {
        border-color: red;
      }
    }
  }

  &.is-keyboardFocused {
    box-shadow: 0 0 0 1px magenta;

    .spectrum-Stepper-input,
    .spectrum-Stepper-buttons {
      box-shadow: 0 0 0 1px magenta;
    }

    .spectrum-Stepper-input,
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: magenta;
    }

    &.is-invalid {
      box-shadow: 0 0 0 1px magenta;

      .spectrum-Stepper-stepUp,
      .spectrum-Stepper-stepDown {
        border-color: magenta;
      }
      .spectrum-Stepper-buttons {
        box-shadow: 0 0 0 1px magenta;
      }
    }
  }

  &.is-invalid {
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: red;
    }

    .spectrum-Stepper-input {
      border-color: red;
    }

    &.is-keyboardFocused {
      .spectrum-Stepper-input {
        border-color: red;
        box-shadow: 0 0 0 1px red;
      }

      .spectrum-Stepper-buttons {
        box-shadow: 0 0 0 1px red;
      }
    }
  }

  &.is-disabled {
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: gray;
    }
  }
}

.spectrum-Stepper-stepUp,
.spectrum-Stepper-stepDown {

  &:disabled {
    border-color: gray;
  }
}

.spectrum-Stepper--quiet {
  &.is-disabled {
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: pink;
    }
  }

  .spectrum-Stepper-stepUp,
  .spectrum-Stepper-stepDown {
    border-color: pink;

    &:disabled {
      border-color: pink;
    }
  }

  .spectrum-Stepper-input {
    box-shadow: none;
  }

  &.is-invalid {
    .spectrum-Stepper-input {
      border-color: red;
    }

    .spectrum-Stepper-stepDown {
      border-color: red;
    }
  }

  &.is-keyboardFocused,
  &.is-focused {
    box-shadow: none;

    .spectrum-Stepper-buttons,
    .spectrum-Stepper-input {
      box-shadow: 0 1px 0 0 purple;;
    }

    .spectrum-Stepper-stepDown {
      border-color: purple;
    }

    &.is-invalid {
      box-shadow: none;

      .spectrum-Stepper-input,
      .spectrum-Stepper-buttons {
        box-shadow: 0 1px 0 0 purple;;
      }

      .spectrum-Stepper-input {
        border-color: purple;
      }

      .spectrum-Stepper-stepDown {
        border-color: purple;
      }
    }
  }
}
