/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "./themes/spectrum-two.css";

.spectrum-Stepper {
	--spectrum-stepper-width: calc(var(--mod-stepper-height, var(--spectrum-stepper-height)) * var(--mod-stepper-min-width-multiplier, var(--spectrum-stepper-min-width-multiplier)) + var(--mod-stepper-button-width, var(--spectrum-stepper-button-width)) + (var(--mod-stepper-border-width, var(--spectrum-stepper-border-width)) * 2));

	/*** MODS for sub components ***/
	--mod-infield-button-border-color: var(--highcontrast-stepper-border-color, var(--mod-stepper-buttons-border-color, var(--spectrum-stepper-buttons-border-color)));
	--mod-infield-button-border-width: var(--mod-stepper-button-border-width, var(--spectrum-stepper-button-border-width));
	--mod-infield-button-border-radius-reset: var(--spectrum-stepper-button-border-radius-reset);
	--mod-textfield-border-width: var(--mod-stepper-border-width, var(--spectrum-stepper-border-width));

	position: relative;
	display: inline-flex;
	flex-flow: row nowrap;

	inline-size: var(--mod-stepper-width, var(--spectrum-stepper-width));
	block-size: var(--mod-stepper-height, var(--spectrum-stepper-height));
	border-radius: var(--mod-stepper-border-radius, var(--spectrum-stepper-border-radius));
	border-color: var(--highcontrast-stepper-border-color, var(--mod-stepper-border-color, var(--spectrum-stepper-border-color)));

	&::before {
		content: "";
	}

	&::after {
		content: "";
		position: absolute;
		inset-block-end: calc(-1 * (var(--mod-stepper-focus-indicator-gap, var(--spectrum-stepper-focus-indicator-gap)) + var(--mod-stepper-focus-indicator-width, var(--spectrum-stepper-focus-indicator-width))));
		inset-inline-start: 0;
		inline-size: 100%;
		block-size: var(--mod-stepper-focus-indicator-width, var(--spectrum-stepper-focus-indicator-width));
	}

	/*** Hover ***/
	&:hover:not(.is-invalid,.is-disabled) {
		--mod-infield-button-border-color: var(--highcontrast-stepper-border-color-hover, var(--mod-stepper-buttons-border-color-hover, var(--spectrum-stepper-buttons-border-color-hover)));
	}

	&:hover:not(.is-disabled) {
		.spectrum-Stepper-input,
		.spectrum-Stepper-buttons {
			border-color: var(--highcontrast-stepper-border-color-hover, var(--mod-stepper-border-color-hover, var(--spectrum-stepper-border-color-hover)));
		}
	}

	/*** Focused ***/
	&.is-focused,
	&:focus {
		--mod-infield-button-border-color: var(--highcontrast-stepper-border-color-focus, var(--mod-stepper-buttons-border-color-focus, var(--spectrum-stepper-buttons-border-color-focus)));

		&:not(.is-disabled) {
			.spectrum-Stepper-input {
				outline: none;
			}

			.spectrum-Stepper-input,
			.spectrum-Stepper-buttons {
				border-color: var(--highcontrast-stepper-border-color-focus, var(--mod-stepper-border-color-focus, var(--spectrum-stepper-border-color-focus)));
			}
		}

		&:hover {
			/* stylelint-disable-next-line spectrum-tools/no-unknown-custom-properties */
			--mod-infield-button-border-color: var(--highcontrast-stepper-border-color-focus-hover, var(--mod-stepper-buttons-border-color-focus-hover, var(--spectrum-stepper-buttons-border-color-focus-hover)));

			.spectrum-Stepper-input,
			.spectrum-Stepper-buttons {
				border-color: var(--highcontrast-stepper-border-color-focus-hover, var(--mod-stepper-border-color-focus-hover, var(--spectrum-stepper-border-color-focus-hover)));
			}
		}
	}

	/*** Keyboard Focused ***/
	&.is-keyboardFocused,
	&:focus-visible {
		--mod-infield-button-border-color: var(--highcontrast-stepper-border-color-keyboard-focus, var(--mod-stepper-buttons-border-color-keyboard-focus, var(--spectrum-stepper-buttons-border-color-keyboard-focus)));

		&:not(.is-disabled) {
			/* keyboard focus indicator is visible */
			outline: var(--mod-stepper-focus-indicator-width, var(--spectrum-stepper-focus-indicator-width)) solid;
			outline-color: var(--highcontrast-stepper-focus-indicator-color, var(--mod-stepper-focus-indicator-color, var(--spectrum-stepper-focus-indicator-color)));
			outline-offset: var(--mod-stepper-focus-indicator-gap, var(--spectrum-stepper-focus-indicator-gap));

			.spectrum-Stepper-input {
				outline: none;
			}

			.spectrum-Stepper-input,
			.spectrum-Stepper-buttons {
				border-color: var(--highcontrast-stepper-border-color-keyboard-focus, var(--mod-stepper-border-color-keyboard-focus, var(--spectrum-stepper-border-color-keyboard-focus)));
			}
		}
	}

	/*** Invalid ***/
	&.is-invalid:not(.is-disabled) {
		--mod-stepper-border-color: var(--mod-stepper-border-color-invalid, var(--spectrum-stepper-border-color-invalid));
		--mod-stepper-border-color-hover: var(--mod-stepper-border-color-hover-invalid, var(--spectrum-stepper-border-color-hover-invalid));
		--mod-stepper-border-color-focus: var(--mod-stepper-border-color-focus-invalid, var(--spectrum-stepper-border-color-focus-invalid));
		--mod-stepper-border-color-focus-hover: var(--mod-stepper-border-color-focus-hover-invalid, var(--spectrum-stepper-border-color-focus-hover-invalid));
		--mod-stepper-border-color-keyboard-focus: var(--mod-stepper-border-color-keyboard-focus-invalid, var(--spectrum-stepper-border-color-keyboard-focus-invalid));

		--mod-infield-button-border-color: var(--mod-stepper-border-color-invalid, var(--spectrum-stepper-border-color-invalid));
		--mod-textfield-icon-spacing-inline-start-invalid: 0;

		&:hover {
			--mod-infield-button-border-color: var(--mod-stepper-border-color-hover-invalid, var(--spectrum-stepper-border-color-hover-invalid));
		}

		&.is-focused,
		&:focus {
			--mod-infield-button-border-color: var(--mod-stepper-border-color-focus-invalid, var(--spectrum-stepper-border-color-focus-invalid));

			&:hover {
				--mod-infield-button-border-color: var(--mod-stepper-border-color-focus-hover-invalid, var(--spectrum-stepper-border-color-focus-hover-invalid));
			}
		}

		&.is-keyboardFocused,
		&:focus-visible {
			--mod-infield-button-border-color: var(--mod-stepper-border-color-keyboard-focus-invalid, var(--spectrum-stepper-border-color-keyboard-focus-invalid));
		}
	}

	&.is-disabled {
		--mod-stepper-border-color: var(--spectrum-stepper-button-border-color-disabled);
		--mod-stepper-border-color-hover: var(--spectrum-stepper-button-border-color-disabled);
		--mod-stepper-border-color-focus: var(--spectrum-stepper-button-border-color-disabled);
		--mod-stepper-border-color-focus-hover: var(--spectrum-stepper-button-border-color-disabled);
		--mod-stepper-border-color-keyboard-focus: var(--spectrum-stepper-button-border-color-disabled);
		--mod-stepper-buttons-background-color: var(--spectrum-stepper-buttons-background-color-disabled);

		--mod-infield-button-border-width: var(--spectrum-stepper-button-border-width-disabled);
		--mod-infield-button-border-color: var(--spectrum-stepper-button-border-color-disabled);
		--mod-textfield-border-color-disabled: var(--spectrum-stepper-button-border-color-disabled);
	}

	.spectrum-Stepper-input {
		border-color: var(--highcontrast-stepper-border-color, var(--mod-stepper-border-color, var(--spectrum-stepper-border-color)));
		border-start-end-radius: 0;
		border-end-end-radius: 0;
		border-inline-end-width: 0;
	}

	/* hide-stepper */
	&.hide-stepper .spectrum-Stepper-input {
		border-start-end-radius: var(--mod-stepper-border-radius, var(--spectrum-stepper-border-radius));
		border-end-end-radius: var(--mod-stepper-border-radius, var(--spectrum-stepper-border-radius));
		border-inline-end-width: var(--mod-stepper-border-width, var(--spectrum-stepper-border-width));
	}

	/* container for stepUp and stepDown buttons */
	.spectrum-Stepper-buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;

		block-size: var(--mod-stepper-height, var(--spectrum-stepper-height));
		inline-size: var(--mod-stepper-button-width, var(--spectrum-stepper-button-width));

		border-color: var(--highcontrast-stepper-border-color, var(--mod-stepper-border-color, var(--spectrum-stepper-border-color)));
		border-style: var(--mod-stepper-buttons-border-style, var(--spectrum-stepper-buttons-border-style));
		border-width: var(--highcontrast-stepper-buttons-border-width, var(--mod-stepper-buttons-border-width, var(--spectrum-stepper-buttons-border-width)));
		border-inline-start-width: 0;

		/* Have to add border radius here to avoid overlapping textfield border */
		border-start-end-radius: var(--mod-stepper-border-radius, var(--spectrum-stepper-border-radius));
		border-end-end-radius: var(--mod-stepper-border-radius, var(--spectrum-stepper-border-radius));

		background-color: var(--highcontrast-stepper-buttons-background-color, var(--mod-stepper-buttons-background-color, var(--spectrum-stepper-buttons-background-color)));
		transition: border-color var(--mod-stepper-animation-duration, var(--spectrum-stepper-animation-duration)) ease-in-out;
	}

	/*** Quiet ***/
	&.spectrum-Stepper--quiet {
		/* quiet corners are not rounded */
		border-start-start-radius: 0;
		border-start-end-radius: 0;
		border-end-start-radius: 0;
		border-end-end-radius: 0;

		.spectrum-Stepper-input {
			--mod-textfield-focus-indicator-color: transparent;
		}

		&.hide-stepper .spectrum-Stepper-input {
			border-inline-end-width: 0;
			border-end-end-radius: 0;
		}

		.spectrum-Stepper-buttons {
			--mod-infield-button-border-color: transparent;

			border-width: 0;
			border-block-end-width: var(--mod-stepper-border-width, var(--spectrum-stepper-border-width));
			border-block-end-color: var(--highcontrast-stepper-border-color, var(--mod-stepper-border-color, var(--spectrum-stepper-border-color)));
			border-block-end-style: solid;
			border-end-end-radius: 0;
		}

		.spectrum-Stepper-button {
			--mod-infield-button-width-stacked: var(--mod-stepper-button-width-quiet, var(--spectrum-stepper-button-width));
			--mod-infield-button-border-color: var(--mod-stepper-border-color-quiet, var(--spectrum-stepper-button-border-color-quiet));
			--mod-infield-button-stacked-bottom-border-block-end-width: var(--mod-stepper-border-width, var(--spectrum-stepper-border-width));
			--mod-infield-button-stacked-bottom-border-radius-end-end: 0;
			--mod-infield-button-stacked-bottom-border-radius-end-start: 0;
			--mod-infield-button-fill-justify-content: flex-end;

			padding: 0;
		}

		.spectrum-Stepper-input,
		.spectrum-Stepper-buttons {
			background-color: transparent;
		}

		/* quiet hover */
		&:not(.is-disabled):hover {
			--mod-infield-button-border-color: var(--highcontrast-stepper-border-color-hover, var(--mod-stepper-border-color-hover, var(--spectrum-stepper-border-color-hover)));

			.spectrum-Stepper-buttons {
				background-color: transparent;
			}
		}

		/* quiet focus */
		&.is-focused,
		&:focus {
			--mod-infield-button-border-color: var(--highcontrast-stepper-border-color-focus, var(--mod-stepper-border-color-focus, var(--spectrum-stepper-border-color-focus)));

			&:hover {
				--mod-infield-button-border-color: var(--highcontrast-stepper-border-color-focus-hover, var(--mod-stepper-border-color-focus-hover, var(--spectrum-stepper-border-color-focus-hover)));
			}
		}

		/* quiet keyboard focused */
		&.is-keyboardFocused:not(.is-disabled) {
			--mod-infield-button-border-color: var(--highcontrast-stepper-border-color-keyboard-focus, var(--mod-stepper-border-color-keyboard-focus, var(--spectrum-stepper-border-color-keyboard-focus)));

			outline: none;

			/* quiet focus indicator only on bottom border */
			&::after {
				background-color: var(--highcontrast-stepper-focus-indicator-color, var(--mod-stepper-focus-indicator-color, var(--spectrum-stepper-focus-indicator-color)));
			}

			&:hover {
				--mod-infield-button-border-color: var(--highcontrast-stepper-border-color-hover, var(--mod-stepper-border-color-hover, var(--spectrum-stepper-border-color-hover)));
			}
		}
	}
}

@media (forced-colors: active) {
	.spectrum-Stepper {
		--highcontrast-stepper-border-color: CanvasText;
		--highcontrast-stepper-border-color-hover: Highlight;
		--highcontrast-stepper-border-color-focus: Highlight;
		--highcontrast-stepper-border-color-focus-hover: Highlight;
		--highcontrast-stepper-border-color-keyboard-focus: CanvasText;
		--highcontrast-stepper-button-background-color-default: Canvas;
		--highcontrast-stepper-button-background-color-hover: Canvas;
		--highcontrast-stepper-button-background-color-focus: Canvas;
		--highcontrast-stepper-button-background-color-keyboard-focus: Canvas;
		--highcontrast-stepper-focus-indicator-color: Highlight;

		&.is-invalid {
			--highcontrast-stepper-border-color: Highlight;
			--highcontrast-stepper-border-color-hover: Highlight;
			--highcontrast-stepper-border-color-focus: Highlight;
			--highcontrast-stepper-border-color-focus-hover: Highlight;
			--highcontrast-stepper-border-color-keyboard-focus: Highlight;
			--highcontrast-infield-button-border-color: Highlight;
		}

		&.is-disabled {
			--highcontrast-stepper-border-color: GrayText;
			--highcontrast-infield-button-border-color: GrayText;
			--highcontrast-stepper-buttons-border-width: var(--mod-stepper-border-width, var(--spectrum-stepper-border-width));
		}
	}
}
