/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Stepper {
  .spectrum-Stepper-textfield {
    &.is-focused {
      border-color: var(--spectrum-textfield-border-color-key-focus);

      + .spectrum-Stepper-buttons {
        .spectrum-Stepper-stepUp,
        .spectrum-Stepper-stepDown {
          border-color: var(--spectrum-textfield-border-color-key-focus);
        }
      }

      &.is-invalid {
        border-color: var(--spectrum-textfield-border-color-error);

        + .spectrum-Stepper-buttons {
          .spectrum-Stepper-stepUp,
          .spectrum-Stepper-stepDown {
            border-color: var(--spectrum-textfield-border-color-error);
          }
        }
      }
    }

    &.is-keyboardFocused {
      box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-key-focus);

      + .spectrum-Stepper-buttons {
        box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-key-focus);
      }

      &.is-invalid {
        box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-error);

        + .spectrum-Stepper-buttons {
          box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-error);
        }
      }
    }

    &.is-invalid {
      border-color: var(--spectrum-textfield-border-color-error);

      + .spectrum-Stepper-buttons {
        .spectrum-Stepper-stepUp,
        .spectrum-Stepper-stepDown {
          border-color: var(--spectrum-textfield-border-color-error);
        }
      }
    }
  }

  &.is-focused {
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: var(--spectrum-textfield-border-color-key-focus);
    }

    .spectrum-Stepper-input {
      border-color: var(--spectrum-textfield-border-color-key-focus);
      box-shadow: none;
    }

    .spectrum-Stepper-textfield {
      &.is-keyboardFocused {
        box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-key-focus);

        + .spectrum-Stepper-buttons {
          box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-key-focus);
        }

        &.is-invalid {
          box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-error);

          + .spectrum-Stepper-buttons {
            box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-error);
          }
        }
      }

      &.is-invalid {
        .spectrum-Stepper-input {
          border-color: var(--spectrum-textfield-border-color-error);
        }

        + .spectrum-Stepper-buttons {
          .spectrum-Stepper-stepUp,
          .spectrum-Stepper-stepDown {
            border-color: var(--spectrum-textfield-border-color-error);
          }
        }
      }
    }
  }

  &.is-invalid {
    .spectrum-Stepper-stepUp,
    .spectrum-Stepper-stepDown {
      border-color: var(--spectrum-textfield-border-color-error);
    }

    .spectrum-Stepper-input {
      border-color: var(--spectrum-textfield-border-color-error);
      box-shadow: none;
    }

    .spectrum-Stepper-textfield {
      &.is-keyboardFocused {
        .spectrum-Stepper-input {
          box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-error);
        }

        + .spectrum-Stepper-buttons {
          box-shadow: 0 0 0 1px var(--spectrum-textfield-border-color-error);
        }
      }
    }
  }
}

.spectrum-Stepper-stepUp,
.spectrum-Stepper-stepDown {
  border-color: var(--spectrum-textfield-border-color);

  &:disabled {
    border-color: var(--spectrum-textfield-border-color-disabled);
  }
}

.spectrum-Stepper-stepUp,
.spectrum-Stepper-stepDown {
  &:hover {
    /* Keep the border on hover */
    border-color: var(--spectrum-textfield-border-color);
  }
}

.spectrum-Stepper--quiet {
  .spectrum-Stepper-stepUp,
  .spectrum-Stepper-stepDown {
    &:disabled {
      border-color: var(--spectrum-textfield-quiet-border-color-disabled);
    }
  }

  .spectrum-Stepper-input {
    box-shadow: none;
  }

  .spectrum-Stepper-textfield {
    &.is-focused {
      + .spectrum-Stepper-buttons {
        box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-key-focus);

        .spectrum-Stepper-stepDown {
          border-color: var(--spectrum-textfield-border-color-key-focus);
        }
      }

      &.is-invalid {
        .spectrum-Stepper-input {
          box-shadow: none;
        }
      }
    }

    &.is-keyboardFocused {
      .spectrum-Stepper-input {
        box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-key-focus);
      }

      + .spectrum-Stepper-buttons {
        box-shadow: none;

        .spectrum-Stepper-stepDown {
          box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-key-focus);
        }
      }

      &.is-invalid {
        .spectrum-Stepper-input {
          box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-error);
        }

        + .spectrum-Stepper-buttons {
          box-shadow: none;

          .spectrum-Stepper-stepDown {
            box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-error);
          }
        }
      }
    }

    &.is-invalid {
      .spectrum-Stepper-input {
        border-color: var(--spectrum-textfield-border-color-error);
      }

      + .spectrum-Stepper-buttons {
        box-shadow: none;

        .spectrum-Stepper-stepDown {
          border-color: var(--spectrum-textfield-border-color-error);
        }
      }
    }
  }

  &.is-focused {
    .spectrum-Stepper-textfield {
      .spectrum-Stepper-input {
        box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-key-focus);
      }

      + .spectrum-Stepper-buttons {
        box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-key-focus);
        .spectrum-Stepper-stepDown {
          border-color: var(--spectrum-textfield-border-color-key-focus);
        }
      }

      &.is-focused {
        + .spectrum-Stepper-buttons {
          .spectrum-Stepper-stepDown {
            border-color: var(--spectrum-textfield-border-color-key-focus);
          }
        }
      }

      &.is-keyboardFocused {
        .spectrum-Stepper-input {
          border-color: var(--spectrum-textfield-border-color-key-focus);
          box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-key-focus);
        }

        + .spectrum-Stepper-buttons {
          box-shadow: none;
          .spectrum-Stepper-stepDown {
            box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-key-focus);
          }
        }

        &.is-invalid {
          .spectrum-Stepper-input {
            box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-error);
          }

          + .spectrum-Stepper-buttons {
            box-shadow: none;
            .spectrum-Stepper-stepDown {
              box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-error);
            }
          }
        }
      }

      &.is-invalid {
        .spectrum-Stepper-input {
          border-color: var(--spectrum-textfield-border-color-error);
        }

        + .spectrum-Stepper-buttons {
          box-shadow: none;

          .spectrum-Stepper-stepDown {
            border-color: var(--spectrum-textfield-border-color-error);
          }
        }
      }
    }
  }

  &.is-invalid {
    .spectrum-Stepper-textfield {
      .spectrum-Stepper-input {
        border-color: var(--spectrum-textfield-border-color-error);
      }

      + .spectrum-Stepper-buttons {
        .spectrum-Stepper-stepDown {
          border-color: var(--spectrum-textfield-border-color-error);
        }
      }

      &:focus {
        + .spectrum-Stepper-buttons {
          .spectrum-Stepper-stepDown {
            border-color: var(--spectrum-textfield-border-color-error);
          }
        }
      }

      &.is-keyboardFocused {
        .spectrum-Stepper-input {
          box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-error);
        }

        + .spectrum-Stepper-buttons {
          box-shadow: none;
          .spectrum-Stepper-stepDown {
            box-shadow: 0 1px 0 0 var(--spectrum-textfield-border-color-error);
          }
        }
      }
    }
  }
}
