/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --spectrum-treeview-item-background-color-quiet-selected: var(--mod-treeview-item-background-color-quiet-selected, var(--spectrum-treeview-item-background-color-quiet-selected));
  --spectrum-treeview-item-border-color-selected-quiet: var(--mod-treeview-item-border-color-selected-quiet, var(--spectrum-treeview-item-border-color-selected-quiet));
  --spectrum-treeview-item-min-block-size-thumbnail: var(--mod-treeview-item-min-block-size-thumbnail, var(--spectrum-treeview-item-min-block-size-thumbnail));
  --spectrum-treeview-item-border-radius-detached: var(--mod-treeview-item-border-radius-detached, var(--spectrum-treeview-item-border-radius-detached));
  --spectrum-treeview-line-height: var(--mod-treeview-line-height, var(--spectrum-treeview-line-height));
  --spectrum-treeview-margin-block: var(--mod-treeview-margin-block, var(--spectrum-treeview-margin-block));
  --spectrum-treeview-font-size: var(--mod-treeview-font-size, var(--spectrum-treeview-font-size));
  --spectrum-treeview-item-indentation: var(--mod-treeview-item-indentation, var(--spectrum-treeview-item-indentation));
  --spectrum-treeview-item-text-color-selected: var(--mod-treeview-item-text-color-selected, var(--spectrum-treeview-item-text-color-selected));
  --spectrum-treeview-item-background-color-selected: var(--mod-treeview-item-background-color-selected, var(--spectrum-treeview-item-background-color-selected));
  --spectrum-treeview-item-icon-color-selected: var(--mod-treeview-item-icon-color-selected, var(--spectrum-treeview-item-icon-color-selected));
  --spectrum-treeview-item-border-color-selected: var(--mod-treeview-item-border-color-selected, var(--spectrum-treeview-item-border-color-selected));
  --spectrum-treeview-item-border-size-selected: var(--mod-treeview-item-border-size-selected, var(--spectrum-treeview-item-border-size-selected));
  --spectrum-treeview-item-border-size: var(--mod-treeview-item-border-size, var(--spectrum-treeview-item-border-size));
  --spectrum-treeview-item-text-color-disabled: var(--mod-treeview-item-text-color-disabled, var(--spectrum-treeview-item-text-color-disabled));
  --spectrum-treeview-item-icon-color-disabled: var(--mod-treeview-item-icon-color-disabled, var(--spectrum-treeview-item-icon-color-disabled));
  --spectrum-treeview-item-padding-inline-start: var(--mod-treeview-item-padding-inline-start, var(--spectrum-treeview-item-padding-inline-start));
  --spectrum-treeview-item-padding-inline-end: var(--mod-treeview-item-padding-inline-end, var(--spectrum-treeview-item-padding-inline-end));
  --spectrum-treeview-item-text-color: var(--mod-treeview-item-text-color, var(--spectrum-treeview-item-text-color));
  --spectrum-treeview-item-min-block-size: var(--mod-treeview-item-min-block-size, var(--spectrum-treeview-item-min-block-size));
  --spectrum-treeview-item-text-color-focus: var(--mod-treeview-item-text-color-focus, var(--spectrum-treeview-item-text-color-focus));
  --spectrum-treeview-item-background-color-focus: var(--mod-treeview-item-background-color-focus, var(--spectrum-treeview-item-background-color-focus));
  --spectrum-treeview-item-border-color-focus: var(--mod-treeview-item-border-color-focus, var(--spectrum-treeview-item-border-color-focus));
  --spectrum-treeview-item-icon-color-focus: var(--mod-treeview-item-icon-color-focus, var(--spectrum-treeview-item-icon-color-focus));
  --spectrum-treeview-item-text-color-hover: var(--mod-treeview-item-text-color-hover, var(--spectrum-treeview-item-text-color-hover));
  --spectrum-treeview-item-background-color-hover: var(--mod-treeview-item-background-color-hover, var(--spectrum-treeview-item-background-color-hover));
  --spectrum-treeview-item-icon-color-hover: var(--mod-treeview-item-icon-color-hover, var(--spectrum-treeview-item-icon-color-hover));
  --spectrum-treeview-item-icon-gap: var(--mod-treeview-item-icon-gap, var(--spectrum-treeview-item-icon-gap));
  --spectrum-treeview-item-icon-color: var(--mod-treeview-item-icon-color, var(--spectrum-treeview-item-icon-color));
  --spectrum-treeview-indicator-padding-inline: var(--mod-treeview-indicator-padding-inline, var(--spectrum-treeview-indicator-padding-inline));
  --spectrum-treeview-indicator-padding-block: var(--mod-treeview-indicator-padding-block, var(--spectrum-treeview-indicator-padding-block));
  --spectrum-treeview-indicator-margin-inline-start: var(--mod-treeview-indicator-margin-inline-start, var(--spectrum-treeview-indicator-margin-inline-start));
  --spectrum-treeview-indicator-animation-duration: var(--mod-treeview-indicator-animation-duration, var(--spectrum-treeview-indicator-animation-duration));
  --spectrum-treeview-section-spacing: var(--mod-treeview-section-spacing, var(--spectrum-treeview-section-spacing));
  --spectrum-treeview-heading-bottom-to-text: var(--mod-treeview-heading-bottom-to-text, var(--spectrum-treeview-heading-bottom-to-text));
  --spectrum-treeview-heading-font-weight: var(--mod-treeview-heading-font-weight, var(--spectrum-treeview-heading-font-weight));
  --spectrum-treeview-heading-color: var(--mod-treeview-heading-color, var(--spectrum-treeview-heading-color));
}
