/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@container style(--system: spectrum) {
	.spectrum-Table {
		/* Size and Spacing */
		--spectrum-table-header-top-to-text: var(--spectrum-table-column-header-row-top-to-text-medium);
		--spectrum-table-header-bottom-to-text: var(--spectrum-table-column-header-row-bottom-to-text-medium);

		--spectrum-table-min-header-height: var(--spectrum-component-height-100);
		--spectrum-table-min-row-height: var(--spectrum-table-row-height-medium-regular);
		--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-medium-regular);
		--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-medium-regular);

		--spectrum-table-cell-inline-space: var(--spectrum-table-edge-to-content);

		--spectrum-table-border-radius: var(--spectrum-corner-radius-100);
		--spectrum-table-border-width: var(--spectrum-table-border-divider-width);
		--spectrum-table-outer-border-inline-width: var(--spectrum-table-border-divider-width);

		--spectrum-table-icon-to-text: var(--spectrum-text-to-visual-100);

		--spectrum-table-default-vertical-align: top;
		--spectrum-table-header-vertical-align: middle;

		/* Typography */
		--spectrum-table-header-font-weight: var(--spectrum-bold-font-weight);

		--spectrum-table-row-font-family: var(--spectrum-sans-font-family-stack);
		--spectrum-table-row-font-weight: var(--spectrum-regular-font-weight);
		--spectrum-table-row-font-style: var(--spectrum-default-font-style);
		--spectrum-table-row-font-size: var(--spectrum-font-size-100);
		--spectrum-table-row-line-height: var(--spectrum-line-height-100);

		/* General Colors */
		--spectrum-table-border-color: var(--spectrum-gray-200);
		--spectrum-table-divider-color: var(--spectrum-gray-200);

		--spectrum-table-header-background-color: var(--spectrum-transparent-white-100);
		--spectrum-table-header-text-color: var(--spectrum-body-color);

		--spectrum-table-row-background-color: var(--spectrum-gray-25);
		--spectrum-table-row-text-color: var(--spectrum-neutral-content-color-default);

		/* ----- *
      @todo Refactor or remove these properties once the RGB stripped value is available. */
		--spectrum-table-selected-row-background-color: rgba(var(--spectrum-blue-900-rgb), var(--spectrum-table-selected-row-background-opacity));
		--spectrum-table-selected-row-background-color-non-emphasized: rgba(var(--spectrum-gray-700-rgb), var(--spectrum-table-selected-row-background-opacity-non-emphasized));
		--spectrum-table-row-background-color-hover: rgba(var(--spectrum-gray-900-rgb), var(--spectrum-table-row-hover-opacity));

		--spectrum-table-row-active-color: rgba(var(--spectrum-gray-900-rgb), var(--spectrum-table-row-down-opacity));
		--spectrum-table-selected-row-background-color-focus: rgba(var(--spectrum-blue-900-rgb), var(--spectrum-table-selected-row-background-opacity-hover));
		--spectrum-table-selected-row-background-color-non-emphasized-focus: rgba(var(--spectrum-gray-700-rgb), var(--spectrum-table-selected-row-background-opacity-non-emphasized-hover));

		/* ----- */

		--spectrum-table-icon-color-default: var(--spectrum-neutral-subdued-content-color-default);
		--spectrum-table-icon-color-hover: var(--spectrum-neutral-subdued-content-color-hover);
		--spectrum-table-icon-color-active: var(--spectrum-neutral-subdued-content-color-down);
		--spectrum-table-icon-color-focus: var(--spectrum-neutral-subdued-content-color-focus);
		--spectrum-table-icon-color-focus-hover: var(--spectrum-neutral-subdued-content-focus-hover);
		--spectrum-table-icon-color-key-focus: var(--spectrum-neutral-subdued-content-color-key-focus);

		/* Row Selection */
		--spectrum-table-header-checkbox-block-spacing: var(--spectrum-table-header-row-checkbox-to-top-medium);
		--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-medium-regular);

		--spectrum-table-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
		--spectrum-table-focus-indicator-color: var(--spectrum-focus-indicator-color);

		--spectrum-table-drop-zone-background-color: rgba(var(--spectrum-drop-zone-background-color-rgb), var(--spectrum-drop-zone-background-color-opacity));
		--spectrum-table-drop-zone-outline-color: var(--spectrum-accent-visual-color);

		--spectrum-table-transition-duration: var(--spectrum-animation-duration-100);

		/* Summary Row and Section Header Row */
		--spectrum-table-summary-row-font-weight: var(--spectrum-bold-font-weight);
		--spectrum-table-summary-row-background-color: var(--spectrum-gray-100);

		--spectrum-table-section-header-min-height: var(--spectrum-table-section-header-row-height-medium);
		--spectrum-table-section-header-block-start-spacing: var(--spectrum-component-top-to-text-100);
		--spectrum-table-section-header-block-end-spacing: var(--spectrum-component-bottom-to-text-100);

		--spectrum-table-section-header-font-weight: var(--spectrum-bold-font-weight);
		--spectrum-table-section-header-background-color: var(--spectrum-gray-100);

		/* Collapsible and Thumbnails */
		--spectrum-table-collapsible-tier-indent: var(--spectrum-spacing-300);
		--spectrum-table-collapsible-disclosure-inline-spacing: 0px;
		--spectrum-table-disclosure-icon-size: var(--spectrum-component-height-100);
		--spectrum-table-collapsible-icon-animation-duration: var(--spectrum-animation-duration-100);

		--spectrum-table-thumbnail-to-text: var(--spectrum-text-to-visual-100);
		--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-medium-regular);
		--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-300);

		/* Local custom properties used to assign row color to child cells, to help get around Firefox bug 921341
         and for modifying emphasized/non-emphasized background colors from the root element. */
		--spectrum-table-cell-background-color: var(--spectrum-table-row-background-color);
		--spectrum-table-selected-cell-background-color: var(--spectrum-table-selected-row-background-color-non-emphasized);
		--spectrum-table-selected-cell-background-color-focus: var(--spectrum-table-selected-row-background-color-non-emphasized-focus);
	}

	/********* T-SHIRT SIZES (Regular Density) *********/
	.spectrum-Table--sizeS {
		/* Size and Spacing */
		--spectrum-table-min-header-height: var(--spectrum-component-height-100);
		--spectrum-table-header-top-to-text: var(--spectrum-table-column-header-row-top-to-text-small);
		--spectrum-table-header-bottom-to-text: var(--spectrum-table-column-header-row-bottom-to-text-small);

		--spectrum-table-min-row-height: var(--spectrum-table-row-height-small-regular);
		--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-small-regular);
		--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-small-regular);

		--spectrum-table-icon-to-text: var(--spectrum-text-to-visual-100);

		/* Typography */
		--spectrum-table-row-font-size: var(--spectrum-font-size-75);

		/* Row Selection */
		--spectrum-table-header-checkbox-block-spacing: var(--spectrum-table-header-row-checkbox-to-top-small);
		--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-small-regular);

		/* Summary Row and Section Header Row */
		--spectrum-table-section-header-min-height: var(--spectrum-table-section-header-row-height-small);
		--spectrum-table-section-header-block-start-spacing: var(--spectrum-component-top-to-text-75);
		--spectrum-table-section-header-block-end-spacing: var(--spectrum-component-bottom-to-text-75);

		/* Collapsible and Thumbnails */
		--spectrum-table-disclosure-icon-size: var(--spectrum-component-height-75);

		--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-small-regular);
		--spectrum-table-thumbnail-to-text: var(--spectrum-text-to-visual-100);
		--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-200);
	}

	.spectrum-Table--sizeL {
		/* Size and Spacing */
		--spectrum-table-min-header-height: var(--spectrum-component-height-200);
		--spectrum-table-header-top-to-text: var(--spectrum-table-column-header-row-top-to-text-large);
		--spectrum-table-header-bottom-to-text: var(--spectrum-table-column-header-row-bottom-to-text-large);

		--spectrum-table-min-row-height: var(--spectrum-table-row-height-large-regular);
		--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-large-regular);
		--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-large-regular);

		--spectrum-table-icon-to-text: var(--spectrum-text-to-visual-200);

		/* Typography */
		--spectrum-table-row-font-size: var(--spectrum-font-size-200);

		/* Row Selection */
		--spectrum-table-header-checkbox-block-spacing: var(--spectrum-table-header-row-checkbox-to-top-large);
		--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-large-regular);

		/* Summary Row and Section Header Row */
		--spectrum-table-section-header-min-height: var(--spectrum-table-section-header-row-height-large);
		--spectrum-table-section-header-block-start-spacing: var(--spectrum-component-top-to-text-200);
		--spectrum-table-section-header-block-end-spacing: var(--spectrum-component-bottom-to-text-200);

		/* Collapsible and Thumbnails */
		--spectrum-table-disclosure-icon-size: var(--spectrum-component-height-200);

		--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-large-regular);
		--spectrum-table-thumbnail-to-text: var(--spectrum-text-to-visual-200);
		--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-500);
	}

	.spectrum-Table--sizeXL {
		/* Size and Spacing */
		--spectrum-table-min-header-height: var(--spectrum-component-height-300);
		--spectrum-table-header-top-to-text: var(--spectrum-table-column-header-row-top-to-text-extra-large);
		--spectrum-table-header-bottom-to-text: var(--spectrum-table-column-header-row-bottom-to-text-extra-large);

		--spectrum-table-min-row-height: var(--spectrum-table-row-height-extra-large-regular);
		--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-extra-large-regular);
		--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-extra-large-regular);

		--spectrum-table-icon-to-text: var(--spectrum-text-to-visual-300);

		/* Typography */
		--spectrum-table-row-font-size: var(--spectrum-font-size-300);

		/* Row Selection */
		--spectrum-table-header-checkbox-block-spacing: var(--spectrum-table-header-row-checkbox-to-top-extra-large);
		--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-extra-large-regular);

		/* Summary Row and Section Header Row */
		--spectrum-table-section-header-min-height: var(--spectrum-table-section-header-row-height-extra-large);
		--spectrum-table-section-header-block-start-spacing: var(--spectrum-component-top-to-text-300);
		--spectrum-table-section-header-block-end-spacing: var(--spectrum-component-bottom-to-text-300);

		/* Collapsible and Thumbnails */
		--spectrum-table-disclosure-icon-size: var(--spectrum-component-height-300);

		--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-extra-large-regular);
		--spectrum-table-thumbnail-to-text: var(--spectrum-text-to-visual-300);
		--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-700);
	}

	/********* VARIANTS *********/
	.spectrum-Table--compact {
		/* Size and Spacing */
		--spectrum-table-min-row-height: var(--spectrum-table-row-height-medium-compact);
		--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-medium-compact);
		--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-medium-compact);

		/* Row Selection */
		--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-medium-compact);

		/* Collapsible and Thumbnails */
		--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-medium-compact);
		--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-200);

		&.spectrum-Table--sizeS {
			/* Size and Spacing */
			--spectrum-table-min-row-height: var(--spectrum-table-row-height-small-compact);
			--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-small-compact);
			--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-small-compact);

			/* Row Selection */
			--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-small-compact);

			/* Collapsible and Thumbnails */
			--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-small-compact);
			--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-50);
		}

		&.spectrum-Table--sizeL {
			/* Size and Spacing */
			--spectrum-table-min-row-height: var(--spectrum-table-row-height-large-compact);
			--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-large-compact);
			--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-large-compact);

			/* Row Selection */
			--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-large-compact);

			/* Collapsible and Thumbnails */
			--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-large-compact);
			--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-300);
		}

		&.spectrum-Table--sizeXL {
			/* Size and Spacing */
			--spectrum-table-min-row-height: var(--spectrum-table-row-height-extra-large-compact);
			--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-extra-large-compact);
			--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-extra-large-compact);

			/* Row Selection */
			--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-extra-large-compact);

			/* Collapsible and Thumbnails */
			--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-extra-large-compact);
			--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-500);
		}
	}

	.spectrum-Table--spacious {
		/* Size and Spacing */
		--spectrum-table-min-row-height: var(--spectrum-table-row-height-medium-spacious);
		--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-medium-spacious);
		--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-medium-spacious);

		/* Row Selection */
		--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-medium-spacious);

		/* Collapsible and Thumbnails */
		--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-medium-spacious);
		--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-500);

		&.spectrum-Table--sizeS {
			/* Size and Spacing */
			--spectrum-table-min-row-height: var(--spectrum-table-row-height-small-spacious);
			--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-small-spacious);
			--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-small-spacious);

			/* Row Selection */
			--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-small-spacious);

			/* Collapsible and Thumbnails */
			--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-small-spacious);
			--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-300);
		}

		&.spectrum-Table--sizeL {
			/* Size and Spacing */
			--spectrum-table-min-row-height: var(--spectrum-table-row-height-large-spacious);
			--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-large-spacious);
			--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-large-spacious);

			/* Row Selection */
			--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-large-spacious);

			/* Collapsible and Thumbnails */
			--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-large-spacious);
			--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-700);
		}

		&.spectrum-Table--sizeXL {
			/* Size and Spacing */
			--spectrum-table-min-row-height: var(--spectrum-table-row-height-extra-large-spacious);
			--spectrum-table-row-top-to-text: var(--spectrum-table-row-top-to-text-extra-large-spacious);
			--spectrum-table-row-bottom-to-text: var(--spectrum-table-row-bottom-to-text-extra-large-spacious);

			/* Row Selection */
			--spectrum-table-row-checkbox-block-spacing: var(--spectrum-table-row-checkbox-to-top-extra-large-spacious);

			/* Collapsible and Thumbnails */
			--spectrum-table-thumbnail-block-spacing: var(--spectrum-table-thumbnail-to-top-minimum-extra-large-spacious);
			--spectrum-table-thumbnail-size: var(--spectrum-thumbnail-size-800);
		}
	}

	.spectrum-Table--emphasized {
		--spectrum-table-selected-cell-background-color: var(--spectrum-table-selected-row-background-color);
		--spectrum-table-selected-cell-background-color-focus: var(--spectrum-table-selected-row-background-color-focus);
	}

	.spectrum-Table--quiet {
		--spectrum-table-border-radius: 0px;
		--spectrum-table-outer-border-inline-width: 0px;
		--spectrum-table-header-background-color: var(--spectrum-transparent-white-100);
		--spectrum-table-row-background-color: var(--spectrum-transparent-white-100);
	}
}
