:root {
  --spectrum-table-quiet-row-background-color-selected: var(--spectrum-alias-highlight-selected);
  --spectrum-table-quiet-header-text-color-selected: var(--spectrum-alias-label-text-color);
  --spectrum-table-quiet-header-text-text-color-selected: var(--spectrum-alias-label-text-color);
  --spectrum-table-quiet-header-sort-icon-color-selected: var(--spectrum-global-color-gray-600);
  --spectrum-table-quiet-header-border-size-selected: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-header-border-color-selected: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-header-border-radius-selected: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-size-selected: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-color-selected: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-cell-border-radius-selected: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-row-background-color-selected-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-quiet-header-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-table-quiet-header-text-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-table-quiet-header-sort-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-table-quiet-header-border-size-selected-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-header-border-color-selected-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-header-border-radius-selected-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-size-selected-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-color-selected-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-cell-border-radius-selected-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-row-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-quiet-header-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-table-quiet-header-text-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-table-quiet-header-sort-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-table-quiet-header-border-size-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-header-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-header-border-radius-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-size-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-cell-border-radius-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-row-background-color-selected-down: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-table-quiet-header-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-table-quiet-header-text-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-table-quiet-header-sort-icon-color-selected-down: var(--spectrum-alias-icon-color-down);
  --spectrum-table-quiet-header-border-size-selected-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-header-border-color-selected-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-header-border-radius-selected-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-size-selected-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-color-selected-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-cell-border-radius-selected-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-row-background-color-selected-hover: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-table-quiet-header-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-table-quiet-header-text-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-table-quiet-header-sort-icon-color-selected-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-table-quiet-header-border-size-selected-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-header-border-color-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-header-border-radius-selected-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-size-selected-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-color-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-cell-border-radius-selected-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-row-background-color-selected-key-focus: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-table-quiet-header-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-table-quiet-header-text-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-table-quiet-header-sort-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-key-focus);
  --spectrum-table-quiet-header-border-size-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-table-quiet-header-border-color-selected-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-table-quiet-header-border-radius-selected-key-focus: var(--spectrum-alias-border-radius-regular);
  --spectrum-table-quiet-cell-border-size-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-table-quiet-cell-border-color-selected-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-table-quiet-cell-border-radius-selected-key-focus: var(--spectrum-alias-border-radius-regular);
  --spectrum-table-quiet-row-background-color-selected-mouse-focus: var(--spectrum-alias-highlight-selected);
  --spectrum-table-quiet-header-text-color-selected-mouse-focus: var(--spectrum-alias-label-text-color);
  --spectrum-table-quiet-header-text-text-color-selected-mouse-focus: var(--spectrum-alias-label-text-color);
  --spectrum-table-quiet-header-sort-icon-color-selected-mouse-focus: var(--spectrum-global-color-gray-600);
  --spectrum-table-quiet-header-border-size-selected-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-header-border-color-selected-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-header-border-radius-selected-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-size-selected-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-color-selected-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-cell-border-radius-selected-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-row-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-quiet-header-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-table-quiet-header-text-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-table-quiet-header-sort-icon-color: var(--spectrum-global-color-gray-600);
  --spectrum-table-quiet-header-border-size: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-header-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-header-border-radius: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-size: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-cell-border-radius: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-row-background-color-down: var(--spectrum-alias-highlight-down);
  --spectrum-table-quiet-header-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-table-quiet-header-text-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-table-quiet-header-sort-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-table-quiet-header-border-size-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-header-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-header-border-radius-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-size-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-cell-border-radius-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-row-background-color-hover: var(--spectrum-alias-highlight-hover);
  --spectrum-table-quiet-header-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-table-quiet-header-text-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-table-quiet-header-sort-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-table-quiet-header-border-size-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-header-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-header-border-radius-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-size-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-cell-border-radius-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-row-background-color-key-focus: var(--spectrum-alias-highlight-down);
  --spectrum-table-quiet-header-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-table-quiet-header-text-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-table-quiet-header-sort-icon-color-key-focus: var(--spectrum-alias-icon-color-key-focus);
  --spectrum-table-quiet-header-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-table-quiet-header-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-table-quiet-header-border-radius-key-focus: var(--spectrum-alias-border-radius-regular);
  --spectrum-table-quiet-cell-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-table-quiet-cell-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-table-quiet-cell-border-radius-key-focus: var(--spectrum-alias-border-radius-regular);
  --spectrum-table-quiet-row-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-quiet-header-text-color-mouse-focus: var(--spectrum-alias-label-text-color);
  --spectrum-table-quiet-header-text-text-color-mouse-focus: var(--spectrum-alias-label-text-color);
  --spectrum-table-quiet-header-sort-icon-color-mouse-focus: var(--spectrum-global-color-gray-600);
  --spectrum-table-quiet-header-border-size-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-header-border-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-header-border-radius-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-size-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-cell-border-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-quiet-cell-border-radius-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-divider-border-color: var(--spectrum-alias-border-color-mid);
  --spectrum-table-quiet-header-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-quiet-cell-text-color: var(--spectrum-alias-text-color);
  --spectrum-table-quiet-cell-text-text-color: var(--spectrum-alias-text-color);
  --spectrum-table-quiet-cell-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-quiet-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-quiet-border-color: var(--spectrum-alias-border-color-mid);
  --spectrum-table-quiet-border-x-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-quiet-border-y-size: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-divider-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-quiet-header-padding-x: var(--spectrum-global-dimension-size-200);
  --spectrum-table-quiet-header-padding-y: var(--spectrum-global-dimension-static-size-125);
  --spectrum-table-quiet-header-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-table-quiet-header-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-table-quiet-header-text-font-weight: var(--spectrum-alias-detail-text-font-weight-regular);
  --spectrum-table-quiet-header-text-font-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-table-quiet-header-text-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-table-quiet-header-text-text-transform: uppercase;
  --spectrum-table-quiet-header-text-margin-top: 0px;
  --spectrum-table-quiet-header-text-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-table-quiet-header-text-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-table-quiet-header-text-line-height: var(--spectrum-alias-heading-text-line-height);
  --spectrum-table-quiet-header-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-table-quiet-header-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-table-quiet-header-sort-icon-gap: var(--spectrum-global-dimension-size-125);
  --spectrum-table-quiet-header-sort-icon-width: var(--spectrum-global-dimension-size-125);
  --spectrum-table-quiet-header-sort-icon-height: var(--spectrum-global-dimension-size-150);
  --spectrum-table-quiet-header-min-height: var(--spectrum-global-dimension-size-150);
  --spectrum-table-quiet-header-padding-top: var(--spectrum-global-dimension-static-size-125);
  --spectrum-table-quiet-header-padding-bottom: var(--spectrum-global-dimension-static-size-125);
  --spectrum-table-quiet-header-padding-left: var(--spectrum-global-dimension-size-200);
  --spectrum-table-quiet-header-padding-right: var(--spectrum-global-dimension-size-200);
  --spectrum-table-quiet-header-vertical-alignment: top;
  --spectrum-table-quiet-cell-padding-x: var(--spectrum-global-dimension-size-200);
  --spectrum-table-quiet-cell-padding-y: var(--spectrum-global-dimension-static-size-175);
  --spectrum-table-quiet-cell-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-table-quiet-cell-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-table-quiet-cell-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-table-quiet-cell-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-table-quiet-cell-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-table-quiet-cell-text-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-table-quiet-cell-text-margin-top: 0px;
  --spectrum-table-quiet-cell-text-margin-bottom: var(--spectrum-global-dimension-size-125);
  --spectrum-table-quiet-cell-text-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-table-quiet-cell-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-table-quiet-cell-text-text-transform: none;
  --spectrum-table-quiet-cell-checkbox-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-table-quiet-cell-checkbox-vertical-alignment: middle;
  --spectrum-table-quiet-cell-checkbox-margin-right: var(--spectrum-global-dimension-size-100);
  --spectrum-table-quiet-cell-min-height: var(--spectrum-global-dimension-size-600);
  --spectrum-table-quiet-cell-padding-top: var(--spectrum-global-dimension-static-size-175);
  --spectrum-table-quiet-cell-padding-bottom: var(--spectrum-global-dimension-static-size-175);
  --spectrum-table-quiet-cell-padding-left: var(--spectrum-global-dimension-size-200);
  --spectrum-table-quiet-cell-padding-right: var(--spectrum-global-dimension-size-200);
  --spectrum-table-quiet-cell-vertical-alignment: top;
  --spectrum-table-quiet-border-radius: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-quiet-border-top-size: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-border-bottom-size: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-quiet-border-left-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-quiet-border-right-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-row-background-color-selected: var(--spectrum-alias-highlight-selected);
  --spectrum-table-header-text-color-selected: var(--spectrum-alias-label-text-color);
  --spectrum-table-header-text-text-color-selected: var(--spectrum-alias-label-text-color);
  --spectrum-table-header-sort-icon-color-selected: var(--spectrum-global-color-gray-600);
  --spectrum-table-header-border-size-selected: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-header-border-color-selected: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-header-border-radius-selected: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-size-selected: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-color-selected: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-cell-border-radius-selected: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-row-background-color-selected-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-header-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-table-header-text-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-table-header-sort-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-table-header-border-size-selected-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-header-border-color-selected-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-header-border-radius-selected-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-size-selected-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-color-selected-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-cell-border-radius-selected-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-row-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-header-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-table-header-text-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-table-header-sort-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-table-header-border-size-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-header-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-header-border-radius-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-size-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-cell-border-radius-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-row-background-color-selected-down: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-table-header-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-table-header-text-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-table-header-sort-icon-color-selected-down: var(--spectrum-alias-icon-color-down);
  --spectrum-table-header-border-size-selected-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-header-border-color-selected-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-header-border-radius-selected-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-size-selected-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-color-selected-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-cell-border-radius-selected-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-row-background-color-selected-hover: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-table-header-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-table-header-text-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-table-header-sort-icon-color-selected-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-table-header-border-size-selected-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-header-border-color-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-header-border-radius-selected-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-size-selected-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-color-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-cell-border-radius-selected-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-row-background-color-selected-key-focus: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-table-header-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-table-header-text-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-table-header-sort-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-key-focus);
  --spectrum-table-header-border-size-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-table-header-border-color-selected-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-table-header-border-radius-selected-key-focus: var(--spectrum-alias-border-radius-regular);
  --spectrum-table-cell-border-size-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-table-cell-border-color-selected-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-table-cell-border-radius-selected-key-focus: var(--spectrum-alias-border-radius-regular);
  --spectrum-table-row-background-color-selected-mouse-focus: var(--spectrum-alias-highlight-selected);
  --spectrum-table-header-text-color-selected-mouse-focus: var(--spectrum-alias-label-text-color);
  --spectrum-table-header-text-text-color-selected-mouse-focus: var(--spectrum-alias-label-text-color);
  --spectrum-table-header-sort-icon-color-selected-mouse-focus: var(--spectrum-global-color-gray-600);
  --spectrum-table-header-border-size-selected-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-header-border-color-selected-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-header-border-radius-selected-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-size-selected-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-color-selected-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-cell-border-radius-selected-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-row-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-header-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-table-header-text-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-table-header-sort-icon-color: var(--spectrum-global-color-gray-600);
  --spectrum-table-header-border-size: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-header-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-header-border-radius: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-size: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-cell-border-radius: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-row-background-color-down: var(--spectrum-alias-highlight-down);
  --spectrum-table-header-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-table-header-text-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-table-header-sort-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-table-header-border-size-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-header-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-header-border-radius-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-size-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-cell-border-radius-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-row-background-color-hover: var(--spectrum-alias-highlight-hover);
  --spectrum-table-header-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-table-header-text-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-table-header-sort-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-table-header-border-size-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-header-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-header-border-radius-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-size-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-cell-border-radius-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-row-background-color-key-focus: var(--spectrum-alias-highlight-down);
  --spectrum-table-header-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-table-header-text-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-table-header-sort-icon-color-key-focus: var(--spectrum-alias-icon-color-key-focus);
  --spectrum-table-header-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-table-header-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-table-header-border-radius-key-focus: var(--spectrum-alias-border-radius-regular);
  --spectrum-table-cell-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-table-cell-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-table-cell-border-radius-key-focus: var(--spectrum-alias-border-radius-regular);
  --spectrum-table-row-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-header-text-color-mouse-focus: var(--spectrum-alias-label-text-color);
  --spectrum-table-header-text-text-color-mouse-focus: var(--spectrum-alias-label-text-color);
  --spectrum-table-header-sort-icon-color-mouse-focus: var(--spectrum-global-color-gray-600);
  --spectrum-table-header-border-size-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-header-border-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-header-border-radius-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-size-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-cell-border-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-table-cell-border-radius-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-table-divider-border-color: var(--spectrum-alias-border-color-mid);
  --spectrum-table-header-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-cell-text-color: var(--spectrum-alias-text-color);
  --spectrum-table-cell-text-text-color: var(--spectrum-alias-text-color);
  --spectrum-table-cell-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-table-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-table-border-color: var(--spectrum-alias-border-color-mid);
  --spectrum-table-border-x-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-border-y-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-divider-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-header-padding-x: var(--spectrum-global-dimension-size-200);
  --spectrum-table-header-padding-y: var(--spectrum-global-dimension-static-size-125);
  --spectrum-table-header-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-table-header-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-table-header-text-font-weight: var(--spectrum-alias-detail-text-font-weight-regular);
  --spectrum-table-header-text-font-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-table-header-text-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-table-header-text-text-transform: uppercase;
  --spectrum-table-header-text-margin-top: 0px;
  --spectrum-table-header-text-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-table-header-text-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-table-header-text-line-height: var(--spectrum-alias-heading-text-line-height);
  --spectrum-table-header-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-table-header-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-table-header-sort-icon-gap: var(--spectrum-global-dimension-size-125);
  --spectrum-table-header-sort-icon-width: var(--spectrum-global-dimension-size-125);
  --spectrum-table-header-sort-icon-height: var(--spectrum-global-dimension-size-150);
  --spectrum-table-header-min-height: var(--spectrum-global-dimension-size-150);
  --spectrum-table-header-padding-top: var(--spectrum-global-dimension-static-size-125);
  --spectrum-table-header-padding-bottom: var(--spectrum-global-dimension-static-size-125);
  --spectrum-table-header-padding-left: var(--spectrum-global-dimension-size-200);
  --spectrum-table-header-padding-right: var(--spectrum-global-dimension-size-200);
  --spectrum-table-header-vertical-alignment: top;
  --spectrum-table-cell-padding-x: var(--spectrum-global-dimension-size-200);
  --spectrum-table-cell-padding-y: var(--spectrum-global-dimension-static-size-175);
  --spectrum-table-cell-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-table-cell-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-table-cell-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-table-cell-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-table-cell-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-table-cell-text-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-table-cell-text-margin-top: 0px;
  --spectrum-table-cell-text-margin-bottom: var(--spectrum-global-dimension-size-125);
  --spectrum-table-cell-text-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-table-cell-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-table-cell-text-text-transform: none;
  --spectrum-table-cell-checkbox-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-table-cell-checkbox-vertical-alignment: middle;
  --spectrum-table-cell-checkbox-margin-right: var(--spectrum-global-dimension-size-100);
  --spectrum-table-cell-min-height: var(--spectrum-global-dimension-size-600);
  --spectrum-table-cell-padding-top: var(--spectrum-global-dimension-static-size-175);
  --spectrum-table-cell-padding-bottom: var(--spectrum-global-dimension-static-size-175);
  --spectrum-table-cell-padding-left: var(--spectrum-global-dimension-size-200);
  --spectrum-table-cell-padding-right: var(--spectrum-global-dimension-size-200);
  --spectrum-table-cell-vertical-alignment: top;
  --spectrum-table-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-table-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-border-top-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-border-bottom-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-border-left-size: var(--spectrum-alias-border-size-thin);
  --spectrum-table-border-right-size: var(--spectrum-alias-border-size-thin);
}
