:root {
  --spectrum-progresscircle-s-indeterminate-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-color-down: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-fill-color-down: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-color-hover: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-fill-color-hover: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-color-key-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-fill-color-key-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-color-mouse-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-track-fill-color-mouse-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-s-indeterminate-overbackground-width: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-s-indeterminate-overbackground-height: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-s-indeterminate-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-s-indeterminate-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-s-indeterminate-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-s-indeterminate-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-s-indeterminate-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-s-indeterminate-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-s-indeterminate-track-color-down: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-s-indeterminate-track-fill-color-down: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-s-indeterminate-track-color-hover: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-s-indeterminate-track-fill-color-hover: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-s-indeterminate-track-color-key-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-s-indeterminate-track-fill-color-key-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-s-indeterminate-track-color-mouse-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-s-indeterminate-track-fill-color-mouse-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-s-indeterminate-width: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-s-indeterminate-height: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-s-indeterminate-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-s-indeterminate-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-s-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-color-down: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-fill-color-down: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-color-hover: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-fill-color-hover: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-color-key-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-fill-color-key-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-color-mouse-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-s-overbackground-track-fill-color-mouse-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-s-overbackground-width: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-s-overbackground-height: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-s-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-s-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-s-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-s-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-s-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-s-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-s-track-color-down: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-s-track-fill-color-down: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-s-track-color-hover: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-s-track-fill-color-hover: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-s-track-color-key-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-s-track-fill-color-key-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-s-track-color-mouse-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-s-track-fill-color-mouse-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-s-width: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-s-height: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-s-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-s-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-color-down: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-fill-color-down: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-color-hover: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-fill-color-hover: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-color-key-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-fill-color-key-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-color-mouse-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-track-fill-color-mouse-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-m-indeterminate-overbackground-width: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-m-indeterminate-overbackground-height: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-m-indeterminate-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-m-indeterminate-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-m-indeterminate-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-m-indeterminate-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-m-indeterminate-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-m-indeterminate-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-m-indeterminate-track-color-down: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-m-indeterminate-track-fill-color-down: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-m-indeterminate-track-color-hover: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-m-indeterminate-track-fill-color-hover: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-m-indeterminate-track-color-key-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-m-indeterminate-track-fill-color-key-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-m-indeterminate-track-color-mouse-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-m-indeterminate-track-fill-color-mouse-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-m-indeterminate-width: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-m-indeterminate-height: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-m-indeterminate-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-m-indeterminate-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-m-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-color-down: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-fill-color-down: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-color-hover: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-fill-color-hover: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-color-key-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-fill-color-key-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-color-mouse-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-m-overbackground-track-fill-color-mouse-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-m-overbackground-width: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-m-overbackground-height: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-m-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-m-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-m-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-m-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-m-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-m-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-m-track-color-down: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-m-track-fill-color-down: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-m-track-color-hover: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-m-track-fill-color-hover: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-m-track-color-key-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-m-track-fill-color-key-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-m-track-color-mouse-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-m-track-fill-color-mouse-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-m-width: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-m-height: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-m-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-m-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-color-down: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-fill-color-down: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-color-hover: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-fill-color-hover: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-color-key-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-fill-color-key-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-color-mouse-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-track-fill-color-mouse-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-l-indeterminate-overbackground-width: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-l-indeterminate-overbackground-height: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-l-indeterminate-overbackground-border-size: var(--spectrum-global-dimension-size-50);
  --spectrum-progresscircle-l-indeterminate-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-l-indeterminate-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-l-indeterminate-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-l-indeterminate-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-l-indeterminate-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-l-indeterminate-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-l-indeterminate-track-color-down: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-l-indeterminate-track-fill-color-down: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-l-indeterminate-track-color-hover: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-l-indeterminate-track-fill-color-hover: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-l-indeterminate-track-color-key-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-l-indeterminate-track-fill-color-key-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-l-indeterminate-track-color-mouse-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-l-indeterminate-track-fill-color-mouse-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-l-indeterminate-width: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-l-indeterminate-height: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-l-indeterminate-border-size: var(--spectrum-global-dimension-size-50);
  --spectrum-progresscircle-l-indeterminate-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-l-indeterminate-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-l-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-color-down: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-fill-color-down: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-color-hover: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-fill-color-hover: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-color-key-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-fill-color-key-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-color-mouse-focus: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-l-overbackground-track-fill-color-mouse-focus: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-l-overbackground-width: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-l-overbackground-height: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-l-overbackground-border-size: var(--spectrum-global-dimension-size-50);
  --spectrum-progresscircle-l-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-l-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-l-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-l-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-l-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-l-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-l-track-color-down: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-l-track-fill-color-down: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-l-track-color-hover: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-l-track-fill-color-hover: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-l-track-color-key-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-l-track-fill-color-key-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-l-track-color-mouse-focus: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-l-track-fill-color-mouse-focus: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-l-width: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-l-height: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-l-border-size: var(--spectrum-global-dimension-size-50);
  --spectrum-progresscircle-l-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-l-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
}
