:root {
  --spectrum-illustratedmessage-illustration-color: var(--spectrum-global-color-gray-500);
  --spectrum-illustratedmessage-heading-margin-top: var(--spectrum-global-dimension-size-300);
  --spectrum-illustratedmessage-heading-margin-bottom: var(--spectrum-global-dimension-size-50);
}
