:root {
  --spectrum-progresscircle-small-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-small-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-small-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-small-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-small-height: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-small-width: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-small-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-small-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-small-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-small-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-small-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-small-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-small-overbackground-height: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-small-overbackground-width: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-small-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-small-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-small-indeterminate-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-small-indeterminate-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-small-indeterminate-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-small-indeterminate-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-small-indeterminate-height: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-small-indeterminate-width: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-small-indeterminate-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-small-indeterminate-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-small-indeterminate-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-small-indeterminate-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-small-indeterminate-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-small-indeterminate-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-small-indeterminate-overbackground-height: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-small-indeterminate-overbackground-width: var(--spectrum-global-dimension-size-200);
  --spectrum-progresscircle-small-indeterminate-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-small-indeterminate-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-medium-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-medium-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-medium-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-medium-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-medium-height: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-medium-width: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-medium-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-medium-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-medium-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-medium-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-medium-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-medium-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-medium-overbackground-height: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-medium-overbackground-width: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-medium-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-medium-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-medium-indeterminate-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-medium-indeterminate-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-medium-indeterminate-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-medium-indeterminate-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-medium-indeterminate-height: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-medium-indeterminate-width: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-medium-indeterminate-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-medium-indeterminate-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-medium-indeterminate-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-medium-indeterminate-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-medium-indeterminate-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-medium-indeterminate-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-medium-indeterminate-overbackground-height: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-medium-indeterminate-overbackground-width: var(--spectrum-global-dimension-size-400);
  --spectrum-progresscircle-medium-indeterminate-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-medium-indeterminate-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-large-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-large-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-large-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-large-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-large-height: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-large-width: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-large-border-size: var(--spectrum-global-dimension-size-50);
  --spectrum-progresscircle-large-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-large-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-large-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-large-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-large-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-large-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-large-overbackground-height: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-large-overbackground-width: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-large-overbackground-border-size: var(--spectrum-global-dimension-size-50);
  --spectrum-progresscircle-large-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-large-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-large-indeterminate-track-color: var(--spectrum-alias-track-color-default);
  --spectrum-progresscircle-large-indeterminate-track-fill-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-progresscircle-large-indeterminate-track-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-large-indeterminate-track-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-progresscircle-large-indeterminate-height: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-large-indeterminate-width: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-large-indeterminate-border-size: var(--spectrum-global-dimension-size-50);
  --spectrum-progresscircle-large-indeterminate-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-large-indeterminate-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
  --spectrum-progresscircle-large-indeterminate-overbackground-track-color: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-large-indeterminate-overbackground-track-fill-color: var(--spectrum-alias-track-fill-color-overbackground);
  --spectrum-progresscircle-large-indeterminate-overbackground-track-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-large-indeterminate-overbackground-track-fill-color-disabled: var(--spectrum-alias-track-color-overbackground);
  --spectrum-progresscircle-large-indeterminate-overbackground-height: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-large-indeterminate-overbackground-width: var(--spectrum-global-dimension-size-800);
  --spectrum-progresscircle-large-indeterminate-overbackground-border-size: var(--spectrum-global-dimension-size-50);
  --spectrum-progresscircle-large-indeterminate-overbackground-spin-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-progresscircle-large-indeterminate-overbackground-spin-animation-duration: var(--spectrum-global-animation-duration-2000);
}
