:root {
  --spectrum-detail-article-text-color: var(--spectrum-alias-text-color);
  --spectrum-detail-article-text-font-family: var(--spectrum-alias-article-text-font-family);
  --spectrum-detail-article-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-detail-article-text-font-weight: var(--spectrum-alias-article-body-text-font-weight);
  --spectrum-detail-article-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-detail-article-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-detail-article-text-transform: none;
  --spectrum-detail-article-margin-top: 0px;
  --spectrum-detail-article-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-detail-article-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-detail-article-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-detail-article-emphasis-text-color: var(--spectrum-alias-text-color);
  --spectrum-detail-article-emphasis-text-font-family: var(--spectrum-alias-article-text-font-family);
  --spectrum-detail-article-emphasis-text-font-style: var(--spectrum-global-font-style-italic);
  --spectrum-detail-article-emphasis-text-font-weight: var(--spectrum-alias-article-body-text-font-weight);
  --spectrum-detail-article-emphasis-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-detail-article-emphasis-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-detail-article-emphasis-text-transform: none;
  --spectrum-detail-article-emphasis-margin-top: 0px;
  --spectrum-detail-article-emphasis-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-detail-article-emphasis-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-detail-article-emphasis-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-detail-article-strong-text-color: var(--spectrum-alias-text-color);
  --spectrum-detail-article-strong-text-font-family: var(--spectrum-alias-article-text-font-family);
  --spectrum-detail-article-strong-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-detail-article-strong-text-font-weight: var(--spectrum-alias-article-detail-text-font-weight-strong);
  --spectrum-detail-article-strong-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-detail-article-strong-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-detail-article-strong-text-transform: none;
  --spectrum-detail-article-strong-margin-top: 0px;
  --spectrum-detail-article-strong-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-detail-article-strong-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-detail-article-strong-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-detail-text-color: var(--spectrum-alias-text-color);
  --spectrum-detail-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-detail-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-detail-text-font-weight: var(--spectrum-alias-detail-text-font-weight);
  --spectrum-detail-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-detail-text-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-detail-text-transform: uppercase;
  --spectrum-detail-margin-top: 0px;
  --spectrum-detail-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-detail-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-detail-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-detail-emphasis-text-color: var(--spectrum-alias-text-color);
  --spectrum-detail-emphasis-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-detail-emphasis-text-font-style: var(--spectrum-global-font-style-italic);
  --spectrum-detail-emphasis-text-font-weight: var(--spectrum-alias-detail-text-font-weight);
  --spectrum-detail-emphasis-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-detail-emphasis-text-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-detail-emphasis-text-transform: uppercase;
  --spectrum-detail-emphasis-margin-top: 0px;
  --spectrum-detail-emphasis-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-detail-emphasis-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-detail-emphasis-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-detail-strong-text-color: var(--spectrum-alias-text-color);
  --spectrum-detail-strong-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-detail-strong-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-detail-strong-text-font-weight: var(--spectrum-alias-detail-text-font-weight-strong);
  --spectrum-detail-strong-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-detail-strong-text-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-detail-strong-text-transform: uppercase;
  --spectrum-detail-strong-margin-top: 0px;
  --spectrum-detail-strong-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-detail-strong-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-detail-strong-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-detail-han-text-color: var(--spectrum-alias-text-color);
  --spectrum-detail-han-text-font-family: var(--spectrum-alias-font-family-zh);
  --spectrum-detail-han-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-detail-han-text-font-weight: var(--spectrum-alias-han-detail-text-font-weight);
  --spectrum-detail-han-text-line-height: var(--spectrum-alias-body-han-text-line-height);
  --spectrum-detail-han-text-letter-spacing: var(--spectrum-global-font-letter-spacing-han);
  --spectrum-detail-han-text-transform: none;
  --spectrum-detail-han-margin-top: 0px;
  --spectrum-detail-han-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-detail-han-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-detail-han-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-detail-han-emphasis-text-color: var(--spectrum-alias-text-color);
  --spectrum-detail-han-emphasis-text-font-family: var(--spectrum-alias-font-family-zh);
  --spectrum-detail-han-emphasis-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-detail-han-emphasis-text-font-weight: var(--spectrum-alias-han-detail-text-font-weight-emphasis);
  --spectrum-detail-han-emphasis-text-line-height: var(--spectrum-alias-body-han-text-line-height);
  --spectrum-detail-han-emphasis-text-letter-spacing: var(--spectrum-global-font-letter-spacing-han);
  --spectrum-detail-han-emphasis-text-transform: none;
  --spectrum-detail-han-emphasis-margin-top: 0px;
  --spectrum-detail-han-emphasis-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-detail-han-emphasis-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-detail-han-emphasis-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-detail-han-strong-text-color: var(--spectrum-alias-text-color);
  --spectrum-detail-han-strong-text-font-family: var(--spectrum-alias-font-family-zh);
  --spectrum-detail-han-strong-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-detail-han-strong-text-font-weight: var(--spectrum-alias-han-detail-text-font-weight-strong);
  --spectrum-detail-han-strong-text-line-height: var(--spectrum-alias-body-han-text-line-height);
  --spectrum-detail-han-strong-text-letter-spacing: var(--spectrum-global-font-letter-spacing-han);
  --spectrum-detail-han-strong-text-transform: none;
  --spectrum-detail-han-strong-margin-top: 0px;
  --spectrum-detail-han-strong-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-detail-han-strong-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-detail-han-strong-margin-bottom: var(--spectrum-global-dimension-size-100);
}
