:root {
  --spectrum-banner-0-text-color: var(--spectrum-);
  --spectrum-banner-1-text-color: c;
  --spectrum-banner-2-text-color: o;
  --spectrum-banner-3-text-color: l;
  --spectrum-banner-4-text-color: o;
  --spectrum-banner-5-text-color: r;
  --spectrum-banner-6-text-color: G;
  --spectrum-banner-7-text-color: l;
  --spectrum-banner-8-text-color: o;
  --spectrum-banner-9-text-color: b;
  --spectrum-banner-10-text-color: a;
  --spectrum-banner-11-text-color: l;
  --spectrum-banner-12-text-color: s;
  --spectrum-banner-13-text-color: .;
  --spectrum-banner-14-text-color: s;
  --spectrum-banner-15-text-color: t;
  --spectrum-banner-16-text-color: a;
  --spectrum-banner-17-text-color: t;
  --spectrum-banner-18-text-color: i;
  --spectrum-banner-19-text-color: c;
  --spectrum-banner-20-text-color: -;
  --spectrum-banner-21-text-color: w;
  --spectrum-banner-22-text-color: h;
  --spectrum-banner-23-text-color: i;
  --spectrum-banner-24-text-color: t;
  --spectrum-banner-25-text-color: e;
  --spectrum-banner-text-color: var(--spectrum-global-color-static-white);
  --spectrum-banner-border-radius: var(--spectrum-global-dimension-static-size-100);
  --spectrum-banner-padding-y: var(--spectrum-global-dimension-static-size-50);
  --spectrum-banner-padding-x: var(--spectrum-global-dimension-static-size-100);
  --spectrum-banner-text-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-banner-text-line-height: var(--spectrum-alias-heading-text-line-height);
  --spectrum-banner-error-0-text-color: var(--spectrum-);
  --spectrum-banner-error-1-text-color: c;
  --spectrum-banner-error-2-text-color: o;
  --spectrum-banner-error-3-text-color: l;
  --spectrum-banner-error-4-text-color: o;
  --spectrum-banner-error-5-text-color: r;
  --spectrum-banner-error-6-text-color: G;
  --spectrum-banner-error-7-text-color: l;
  --spectrum-banner-error-8-text-color: o;
  --spectrum-banner-error-9-text-color: b;
  --spectrum-banner-error-10-text-color: a;
  --spectrum-banner-error-11-text-color: l;
  --spectrum-banner-error-12-text-color: s;
  --spectrum-banner-error-13-text-color: .;
  --spectrum-banner-error-14-text-color: s;
  --spectrum-banner-error-15-text-color: t;
  --spectrum-banner-error-16-text-color: a;
  --spectrum-banner-error-17-text-color: t;
  --spectrum-banner-error-18-text-color: i;
  --spectrum-banner-error-19-text-color: c;
  --spectrum-banner-error-20-text-color: -;
  --spectrum-banner-error-21-text-color: w;
  --spectrum-banner-error-22-text-color: h;
  --spectrum-banner-error-23-text-color: i;
  --spectrum-banner-error-24-text-color: t;
  --spectrum-banner-error-25-text-color: e;
  --spectrum-banner-error-background-color: var(--spectrum-semantic-negative-color-default);
  --spectrum-banner-error-border-radius: var(--spectrum-global-dimension-static-size-100);
  --spectrum-banner-error-padding-y: var(--spectrum-global-dimension-static-size-50);
  --spectrum-banner-error-padding-x: var(--spectrum-global-dimension-static-size-100);
  --spectrum-banner-error-text-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-banner-error-text-line-height: var(--spectrum-alias-heading-text-line-height);
  --spectrum-banner-info-0-text-color: var(--spectrum-);
  --spectrum-banner-info-1-text-color: c;
  --spectrum-banner-info-2-text-color: o;
  --spectrum-banner-info-3-text-color: l;
  --spectrum-banner-info-4-text-color: o;
  --spectrum-banner-info-5-text-color: r;
  --spectrum-banner-info-6-text-color: G;
  --spectrum-banner-info-7-text-color: l;
  --spectrum-banner-info-8-text-color: o;
  --spectrum-banner-info-9-text-color: b;
  --spectrum-banner-info-10-text-color: a;
  --spectrum-banner-info-11-text-color: l;
  --spectrum-banner-info-12-text-color: s;
  --spectrum-banner-info-13-text-color: .;
  --spectrum-banner-info-14-text-color: s;
  --spectrum-banner-info-15-text-color: t;
  --spectrum-banner-info-16-text-color: a;
  --spectrum-banner-info-17-text-color: t;
  --spectrum-banner-info-18-text-color: i;
  --spectrum-banner-info-19-text-color: c;
  --spectrum-banner-info-20-text-color: -;
  --spectrum-banner-info-21-text-color: w;
  --spectrum-banner-info-22-text-color: h;
  --spectrum-banner-info-23-text-color: i;
  --spectrum-banner-info-24-text-color: t;
  --spectrum-banner-info-25-text-color: e;
  --spectrum-banner-info-background-color: var(--spectrum-semantic-informative-color-default);
  --spectrum-banner-info-border-radius: var(--spectrum-global-dimension-static-size-100);
  --spectrum-banner-info-padding-y: var(--spectrum-global-dimension-static-size-50);
  --spectrum-banner-info-padding-x: var(--spectrum-global-dimension-static-size-100);
  --spectrum-banner-info-text-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-banner-info-text-line-height: var(--spectrum-alias-heading-text-line-height);
  --spectrum-banner-warning-0-text-color: var(--spectrum-);
  --spectrum-banner-warning-1-text-color: c;
  --spectrum-banner-warning-2-text-color: o;
  --spectrum-banner-warning-3-text-color: l;
  --spectrum-banner-warning-4-text-color: o;
  --spectrum-banner-warning-5-text-color: r;
  --spectrum-banner-warning-6-text-color: G;
  --spectrum-banner-warning-7-text-color: l;
  --spectrum-banner-warning-8-text-color: o;
  --spectrum-banner-warning-9-text-color: b;
  --spectrum-banner-warning-10-text-color: a;
  --spectrum-banner-warning-11-text-color: l;
  --spectrum-banner-warning-12-text-color: s;
  --spectrum-banner-warning-13-text-color: .;
  --spectrum-banner-warning-14-text-color: s;
  --spectrum-banner-warning-15-text-color: t;
  --spectrum-banner-warning-16-text-color: a;
  --spectrum-banner-warning-17-text-color: t;
  --spectrum-banner-warning-18-text-color: i;
  --spectrum-banner-warning-19-text-color: c;
  --spectrum-banner-warning-20-text-color: -;
  --spectrum-banner-warning-21-text-color: w;
  --spectrum-banner-warning-22-text-color: h;
  --spectrum-banner-warning-23-text-color: i;
  --spectrum-banner-warning-24-text-color: t;
  --spectrum-banner-warning-25-text-color: e;
  --spectrum-banner-warning-background-color: var(--spectrum-semantic-notice-color-default);
  --spectrum-banner-warning-border-radius: var(--spectrum-global-dimension-static-size-100);
  --spectrum-banner-warning-padding-y: var(--spectrum-global-dimension-static-size-50);
  --spectrum-banner-warning-padding-x: var(--spectrum-global-dimension-static-size-100);
  --spectrum-banner-warning-text-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-banner-warning-text-line-height: var(--spectrum-alias-heading-text-line-height);
}
