:root {
  --spectrum-closebutton-s-none-fill-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-closebutton-s-none-fill-background-color-disabled: transparent;
  --spectrum-closebutton-s-none-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-s-none-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-s-none-focusring-render-disabled: no;
  --spectrum-closebutton-s-none-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-none-fill-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-closebutton-s-none-fill-background-color: transparent;
  --spectrum-closebutton-s-none-fill-border-color: transparent;
  --spectrum-closebutton-s-none-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-s-none-focusring-render: no;
  --spectrum-closebutton-s-none-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-none-fill-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-closebutton-s-none-fill-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-s-none-fill-border-color-down: transparent;
  --spectrum-closebutton-s-none-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-s-none-focusring-render-down: no;
  --spectrum-closebutton-s-none-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-none-fill-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-closebutton-s-none-fill-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-closebutton-s-none-fill-border-color-hover: transparent;
  --spectrum-closebutton-s-none-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-s-none-focusring-render-hover: no;
  --spectrum-closebutton-s-none-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-none-fill-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-closebutton-s-none-fill-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-s-none-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-s-none-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-closebutton-s-none-focusring-render-key-focus: yes;
  --spectrum-closebutton-s-none-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-s-none-fill-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-closebutton-s-none-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-s-none-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-s-none-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-s-none-focusring-render-mouse-focus: no;
  --spectrum-closebutton-s-none-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-none-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-200);
  --spectrum-closebutton-s-none-fill-uiicon-margin: 0;
  --spectrum-closebutton-s-none-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-s-none-fill-layout: inline-row;
  --spectrum-closebutton-s-none-fill-align-items: center;
  --spectrum-closebutton-s-none-fill-justify-content: center;
  --spectrum-closebutton-s-none-fill-size: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-none-fill-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-none-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-none-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-none-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-none-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-none-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-s-none-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-s);
  --spectrum-closebutton-s-none-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-s);
  --spectrum-closebutton-s-none-focusring-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-none-focusring-type: focusring;
  --spectrum-closebutton-s-none-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-s-none-padding: 0;
  --spectrum-closebutton-s-none-size: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-white-fill-uiicon-color-disabled: rgba(255,255,255,0.4);
  --spectrum-closebutton-s-white-fill-background-color-disabled: transparent;
  --spectrum-closebutton-s-white-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-s-white-focusring-border-color-disabled: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render-disabled: no;
  --spectrum-closebutton-s-white-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-white-fill-uiicon-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-fill-background-color: transparent;
  --spectrum-closebutton-s-white-fill-border-color: transparent;
  --spectrum-closebutton-s-white-focusring-border-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render: no;
  --spectrum-closebutton-s-white-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-white-fill-uiicon-color-down: inherit;
  --spectrum-closebutton-s-white-fill-background-color-down: rgba(0,0,0,0.55);
  --spectrum-closebutton-s-white-fill-border-color-down: transparent;
  --spectrum-closebutton-s-white-focusring-border-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render-down: no;
  --spectrum-closebutton-s-white-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-white-fill-uiicon-color-hover: inherit;
  --spectrum-closebutton-s-white-fill-background-color-hover: rgba(255,255,255,0.4);
  --spectrum-closebutton-s-white-fill-border-color-hover: transparent;
  --spectrum-closebutton-s-white-focusring-border-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render-hover: no;
  --spectrum-closebutton-s-white-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-white-fill-uiicon-color-key-focus: inherit;
  --spectrum-closebutton-s-white-fill-background-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-s-white-focusring-border-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render-key-focus: yes;
  --spectrum-closebutton-s-white-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-s-white-fill-uiicon-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-s-white-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-s-white-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render-mouse-focus: no;
  --spectrum-closebutton-s-white-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-white-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-200);
  --spectrum-closebutton-s-white-fill-uiicon-margin: 0;
  --spectrum-closebutton-s-white-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-s-white-fill-layout: inline-row;
  --spectrum-closebutton-s-white-fill-align-items: center;
  --spectrum-closebutton-s-white-fill-justify-content: center;
  --spectrum-closebutton-s-white-fill-size: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-white-fill-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-white-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-white-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-white-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-white-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-white-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-s-white-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-s);
  --spectrum-closebutton-s-white-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-s);
  --spectrum-closebutton-s-white-focusring-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-white-focusring-type: focusring;
  --spectrum-closebutton-s-white-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-s-white-padding: 0;
  --spectrum-closebutton-s-white-size: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-black-fill-uiicon-color-disabled: rgba(0,0,0,0.4);
  --spectrum-closebutton-s-black-fill-background-color-disabled: transparent;
  --spectrum-closebutton-s-black-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-s-black-focusring-border-color-disabled: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render-disabled: no;
  --spectrum-closebutton-s-black-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-black-fill-uiicon-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-fill-background-color: transparent;
  --spectrum-closebutton-s-black-fill-border-color: transparent;
  --spectrum-closebutton-s-black-focusring-border-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render: no;
  --spectrum-closebutton-s-black-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-black-fill-uiicon-color-down: inherit;
  --spectrum-closebutton-s-black-fill-background-color-down: rgba(0,0,0,0.55);
  --spectrum-closebutton-s-black-fill-border-color-down: transparent;
  --spectrum-closebutton-s-black-focusring-border-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render-down: no;
  --spectrum-closebutton-s-black-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-black-fill-uiicon-color-hover: inherit;
  --spectrum-closebutton-s-black-fill-background-color-hover: rgba(0,0,0,0.4);
  --spectrum-closebutton-s-black-fill-border-color-hover: transparent;
  --spectrum-closebutton-s-black-focusring-border-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render-hover: no;
  --spectrum-closebutton-s-black-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-black-fill-uiicon-color-key-focus: inherit;
  --spectrum-closebutton-s-black-fill-background-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-s-black-focusring-border-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render-key-focus: yes;
  --spectrum-closebutton-s-black-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-s-black-fill-uiicon-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-s-black-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-s-black-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render-mouse-focus: no;
  --spectrum-closebutton-s-black-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-black-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-200);
  --spectrum-closebutton-s-black-fill-uiicon-margin: 0;
  --spectrum-closebutton-s-black-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-s-black-fill-layout: inline-row;
  --spectrum-closebutton-s-black-fill-align-items: center;
  --spectrum-closebutton-s-black-fill-justify-content: center;
  --spectrum-closebutton-s-black-fill-size: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-black-fill-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-black-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-black-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-black-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-black-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-s-black-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-s-black-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-s);
  --spectrum-closebutton-s-black-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-s);
  --spectrum-closebutton-s-black-focusring-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-black-focusring-type: focusring;
  --spectrum-closebutton-s-black-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-s-black-padding: 0;
  --spectrum-closebutton-s-black-size: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-m-none-fill-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-closebutton-m-none-fill-background-color-disabled: transparent;
  --spectrum-closebutton-m-none-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-m-none-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-m-none-focusring-render-disabled: no;
  --spectrum-closebutton-m-none-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-none-fill-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-closebutton-m-none-fill-background-color: transparent;
  --spectrum-closebutton-m-none-fill-border-color: transparent;
  --spectrum-closebutton-m-none-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-m-none-focusring-render: no;
  --spectrum-closebutton-m-none-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-none-fill-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-closebutton-m-none-fill-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-m-none-fill-border-color-down: transparent;
  --spectrum-closebutton-m-none-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-m-none-focusring-render-down: no;
  --spectrum-closebutton-m-none-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-none-fill-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-closebutton-m-none-fill-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-closebutton-m-none-fill-border-color-hover: transparent;
  --spectrum-closebutton-m-none-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-m-none-focusring-render-hover: no;
  --spectrum-closebutton-m-none-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-none-fill-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-closebutton-m-none-fill-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-m-none-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-m-none-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-closebutton-m-none-focusring-render-key-focus: yes;
  --spectrum-closebutton-m-none-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-m-none-fill-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-closebutton-m-none-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-m-none-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-m-none-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-m-none-focusring-render-mouse-focus: no;
  --spectrum-closebutton-m-none-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-none-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-300);
  --spectrum-closebutton-m-none-fill-uiicon-margin: 0;
  --spectrum-closebutton-m-none-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-m-none-fill-layout: inline-row;
  --spectrum-closebutton-m-none-fill-align-items: center;
  --spectrum-closebutton-m-none-fill-justify-content: center;
  --spectrum-closebutton-m-none-fill-size: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-none-fill-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-none-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-none-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-none-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-none-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-none-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-m-none-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-m);
  --spectrum-closebutton-m-none-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-m);
  --spectrum-closebutton-m-none-focusring-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-none-focusring-type: focusring;
  --spectrum-closebutton-m-none-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-m-none-padding: 0;
  --spectrum-closebutton-m-none-size: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-white-fill-uiicon-color-disabled: rgba(255,255,255,0.4);
  --spectrum-closebutton-m-white-fill-background-color-disabled: transparent;
  --spectrum-closebutton-m-white-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-m-white-focusring-border-color-disabled: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render-disabled: no;
  --spectrum-closebutton-m-white-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-white-fill-uiicon-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-fill-background-color: transparent;
  --spectrum-closebutton-m-white-fill-border-color: transparent;
  --spectrum-closebutton-m-white-focusring-border-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render: no;
  --spectrum-closebutton-m-white-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-white-fill-uiicon-color-down: inherit;
  --spectrum-closebutton-m-white-fill-background-color-down: rgba(0,0,0,0.55);
  --spectrum-closebutton-m-white-fill-border-color-down: transparent;
  --spectrum-closebutton-m-white-focusring-border-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render-down: no;
  --spectrum-closebutton-m-white-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-white-fill-uiicon-color-hover: inherit;
  --spectrum-closebutton-m-white-fill-background-color-hover: rgba(255,255,255,0.4);
  --spectrum-closebutton-m-white-fill-border-color-hover: transparent;
  --spectrum-closebutton-m-white-focusring-border-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render-hover: no;
  --spectrum-closebutton-m-white-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-white-fill-uiicon-color-key-focus: inherit;
  --spectrum-closebutton-m-white-fill-background-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-m-white-focusring-border-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render-key-focus: yes;
  --spectrum-closebutton-m-white-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-m-white-fill-uiicon-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-m-white-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-m-white-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render-mouse-focus: no;
  --spectrum-closebutton-m-white-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-white-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-300);
  --spectrum-closebutton-m-white-fill-uiicon-margin: 0;
  --spectrum-closebutton-m-white-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-m-white-fill-layout: inline-row;
  --spectrum-closebutton-m-white-fill-align-items: center;
  --spectrum-closebutton-m-white-fill-justify-content: center;
  --spectrum-closebutton-m-white-fill-size: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-white-fill-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-white-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-white-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-white-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-white-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-white-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-m-white-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-m);
  --spectrum-closebutton-m-white-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-m);
  --spectrum-closebutton-m-white-focusring-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-white-focusring-type: focusring;
  --spectrum-closebutton-m-white-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-m-white-padding: 0;
  --spectrum-closebutton-m-white-size: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-black-fill-uiicon-color-disabled: rgba(0,0,0,0.4);
  --spectrum-closebutton-m-black-fill-background-color-disabled: transparent;
  --spectrum-closebutton-m-black-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-m-black-focusring-border-color-disabled: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render-disabled: no;
  --spectrum-closebutton-m-black-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-black-fill-uiicon-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-fill-background-color: transparent;
  --spectrum-closebutton-m-black-fill-border-color: transparent;
  --spectrum-closebutton-m-black-focusring-border-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render: no;
  --spectrum-closebutton-m-black-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-black-fill-uiicon-color-down: inherit;
  --spectrum-closebutton-m-black-fill-background-color-down: rgba(0,0,0,0.55);
  --spectrum-closebutton-m-black-fill-border-color-down: transparent;
  --spectrum-closebutton-m-black-focusring-border-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render-down: no;
  --spectrum-closebutton-m-black-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-black-fill-uiicon-color-hover: inherit;
  --spectrum-closebutton-m-black-fill-background-color-hover: rgba(0,0,0,0.4);
  --spectrum-closebutton-m-black-fill-border-color-hover: transparent;
  --spectrum-closebutton-m-black-focusring-border-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render-hover: no;
  --spectrum-closebutton-m-black-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-black-fill-uiicon-color-key-focus: inherit;
  --spectrum-closebutton-m-black-fill-background-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-m-black-focusring-border-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render-key-focus: yes;
  --spectrum-closebutton-m-black-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-m-black-fill-uiicon-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-m-black-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-m-black-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render-mouse-focus: no;
  --spectrum-closebutton-m-black-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-black-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-300);
  --spectrum-closebutton-m-black-fill-uiicon-margin: 0;
  --spectrum-closebutton-m-black-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-m-black-fill-layout: inline-row;
  --spectrum-closebutton-m-black-fill-align-items: center;
  --spectrum-closebutton-m-black-fill-justify-content: center;
  --spectrum-closebutton-m-black-fill-size: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-black-fill-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-black-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-black-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-black-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-black-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-m-black-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-m-black-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-m);
  --spectrum-closebutton-m-black-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-m);
  --spectrum-closebutton-m-black-focusring-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-black-focusring-type: focusring;
  --spectrum-closebutton-m-black-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-m-black-padding: 0;
  --spectrum-closebutton-m-black-size: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-l-none-fill-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-closebutton-l-none-fill-background-color-disabled: transparent;
  --spectrum-closebutton-l-none-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-l-none-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-l-none-focusring-render-disabled: no;
  --spectrum-closebutton-l-none-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-none-fill-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-closebutton-l-none-fill-background-color: transparent;
  --spectrum-closebutton-l-none-fill-border-color: transparent;
  --spectrum-closebutton-l-none-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-l-none-focusring-render: no;
  --spectrum-closebutton-l-none-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-none-fill-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-closebutton-l-none-fill-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-l-none-fill-border-color-down: transparent;
  --spectrum-closebutton-l-none-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-l-none-focusring-render-down: no;
  --spectrum-closebutton-l-none-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-none-fill-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-closebutton-l-none-fill-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-closebutton-l-none-fill-border-color-hover: transparent;
  --spectrum-closebutton-l-none-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-l-none-focusring-render-hover: no;
  --spectrum-closebutton-l-none-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-none-fill-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-closebutton-l-none-fill-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-l-none-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-l-none-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-closebutton-l-none-focusring-render-key-focus: yes;
  --spectrum-closebutton-l-none-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-l-none-fill-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-closebutton-l-none-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-l-none-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-l-none-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-l-none-focusring-render-mouse-focus: no;
  --spectrum-closebutton-l-none-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-none-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-400);
  --spectrum-closebutton-l-none-fill-uiicon-margin: 0;
  --spectrum-closebutton-l-none-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-l-none-fill-layout: inline-row;
  --spectrum-closebutton-l-none-fill-align-items: center;
  --spectrum-closebutton-l-none-fill-justify-content: center;
  --spectrum-closebutton-l-none-fill-size: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-none-fill-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-none-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-none-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-none-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-none-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-none-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-l-none-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-l);
  --spectrum-closebutton-l-none-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-l);
  --spectrum-closebutton-l-none-focusring-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-none-focusring-type: focusring;
  --spectrum-closebutton-l-none-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-l-none-padding: 0;
  --spectrum-closebutton-l-none-size: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-white-fill-uiicon-color-disabled: rgba(255,255,255,0.4);
  --spectrum-closebutton-l-white-fill-background-color-disabled: transparent;
  --spectrum-closebutton-l-white-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-l-white-focusring-border-color-disabled: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render-disabled: no;
  --spectrum-closebutton-l-white-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-white-fill-uiicon-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-fill-background-color: transparent;
  --spectrum-closebutton-l-white-fill-border-color: transparent;
  --spectrum-closebutton-l-white-focusring-border-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render: no;
  --spectrum-closebutton-l-white-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-white-fill-uiicon-color-down: inherit;
  --spectrum-closebutton-l-white-fill-background-color-down: rgba(0,0,0,0.55);
  --spectrum-closebutton-l-white-fill-border-color-down: transparent;
  --spectrum-closebutton-l-white-focusring-border-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render-down: no;
  --spectrum-closebutton-l-white-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-white-fill-uiicon-color-hover: inherit;
  --spectrum-closebutton-l-white-fill-background-color-hover: rgba(255,255,255,0.4);
  --spectrum-closebutton-l-white-fill-border-color-hover: transparent;
  --spectrum-closebutton-l-white-focusring-border-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render-hover: no;
  --spectrum-closebutton-l-white-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-white-fill-uiicon-color-key-focus: inherit;
  --spectrum-closebutton-l-white-fill-background-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-l-white-focusring-border-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render-key-focus: yes;
  --spectrum-closebutton-l-white-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-l-white-fill-uiicon-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-l-white-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-l-white-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render-mouse-focus: no;
  --spectrum-closebutton-l-white-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-white-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-400);
  --spectrum-closebutton-l-white-fill-uiicon-margin: 0;
  --spectrum-closebutton-l-white-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-l-white-fill-layout: inline-row;
  --spectrum-closebutton-l-white-fill-align-items: center;
  --spectrum-closebutton-l-white-fill-justify-content: center;
  --spectrum-closebutton-l-white-fill-size: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-white-fill-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-white-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-white-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-white-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-white-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-white-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-l-white-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-l);
  --spectrum-closebutton-l-white-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-l);
  --spectrum-closebutton-l-white-focusring-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-white-focusring-type: focusring;
  --spectrum-closebutton-l-white-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-l-white-padding: 0;
  --spectrum-closebutton-l-white-size: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-black-fill-uiicon-color-disabled: rgba(0,0,0,0.4);
  --spectrum-closebutton-l-black-fill-background-color-disabled: transparent;
  --spectrum-closebutton-l-black-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-l-black-focusring-border-color-disabled: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render-disabled: no;
  --spectrum-closebutton-l-black-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-black-fill-uiicon-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-fill-background-color: transparent;
  --spectrum-closebutton-l-black-fill-border-color: transparent;
  --spectrum-closebutton-l-black-focusring-border-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render: no;
  --spectrum-closebutton-l-black-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-black-fill-uiicon-color-down: inherit;
  --spectrum-closebutton-l-black-fill-background-color-down: rgba(0,0,0,0.55);
  --spectrum-closebutton-l-black-fill-border-color-down: transparent;
  --spectrum-closebutton-l-black-focusring-border-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render-down: no;
  --spectrum-closebutton-l-black-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-black-fill-uiicon-color-hover: inherit;
  --spectrum-closebutton-l-black-fill-background-color-hover: rgba(0,0,0,0.4);
  --spectrum-closebutton-l-black-fill-border-color-hover: transparent;
  --spectrum-closebutton-l-black-focusring-border-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render-hover: no;
  --spectrum-closebutton-l-black-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-black-fill-uiicon-color-key-focus: inherit;
  --spectrum-closebutton-l-black-fill-background-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-l-black-focusring-border-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render-key-focus: yes;
  --spectrum-closebutton-l-black-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-l-black-fill-uiicon-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-l-black-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-l-black-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render-mouse-focus: no;
  --spectrum-closebutton-l-black-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-black-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-400);
  --spectrum-closebutton-l-black-fill-uiicon-margin: 0;
  --spectrum-closebutton-l-black-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-l-black-fill-layout: inline-row;
  --spectrum-closebutton-l-black-fill-align-items: center;
  --spectrum-closebutton-l-black-fill-justify-content: center;
  --spectrum-closebutton-l-black-fill-size: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-black-fill-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-black-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-black-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-black-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-black-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-l-black-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-l-black-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-l);
  --spectrum-closebutton-l-black-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-l);
  --spectrum-closebutton-l-black-focusring-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-black-focusring-type: focusring;
  --spectrum-closebutton-l-black-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-l-black-padding: 0;
  --spectrum-closebutton-l-black-size: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-xl-none-fill-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-closebutton-xl-none-fill-background-color-disabled: transparent;
  --spectrum-closebutton-xl-none-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-xl-none-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-xl-none-focusring-render-disabled: no;
  --spectrum-closebutton-xl-none-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-none-fill-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-closebutton-xl-none-fill-background-color: transparent;
  --spectrum-closebutton-xl-none-fill-border-color: transparent;
  --spectrum-closebutton-xl-none-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-xl-none-focusring-render: no;
  --spectrum-closebutton-xl-none-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-none-fill-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-closebutton-xl-none-fill-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-xl-none-fill-border-color-down: transparent;
  --spectrum-closebutton-xl-none-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-xl-none-focusring-render-down: no;
  --spectrum-closebutton-xl-none-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-none-fill-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-closebutton-xl-none-fill-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-closebutton-xl-none-fill-border-color-hover: transparent;
  --spectrum-closebutton-xl-none-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-xl-none-focusring-render-hover: no;
  --spectrum-closebutton-xl-none-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-none-fill-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-closebutton-xl-none-fill-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-xl-none-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-xl-none-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-closebutton-xl-none-focusring-render-key-focus: yes;
  --spectrum-closebutton-xl-none-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-xl-none-fill-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-closebutton-xl-none-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-xl-none-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-xl-none-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-xl-none-focusring-render-mouse-focus: no;
  --spectrum-closebutton-xl-none-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-none-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-500);
  --spectrum-closebutton-xl-none-fill-uiicon-margin: 0;
  --spectrum-closebutton-xl-none-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-xl-none-fill-layout: inline-row;
  --spectrum-closebutton-xl-none-fill-align-items: center;
  --spectrum-closebutton-xl-none-fill-justify-content: center;
  --spectrum-closebutton-xl-none-fill-size: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-none-fill-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-none-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-none-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-none-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-none-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-none-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-xl-none-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-xl);
  --spectrum-closebutton-xl-none-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-xl);
  --spectrum-closebutton-xl-none-focusring-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-none-focusring-type: focusring;
  --spectrum-closebutton-xl-none-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-xl-none-padding: 0;
  --spectrum-closebutton-xl-none-size: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-white-fill-uiicon-color-disabled: rgba(255,255,255,0.4);
  --spectrum-closebutton-xl-white-fill-background-color-disabled: transparent;
  --spectrum-closebutton-xl-white-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-xl-white-focusring-border-color-disabled: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render-disabled: no;
  --spectrum-closebutton-xl-white-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-white-fill-uiicon-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-fill-background-color: transparent;
  --spectrum-closebutton-xl-white-fill-border-color: transparent;
  --spectrum-closebutton-xl-white-focusring-border-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render: no;
  --spectrum-closebutton-xl-white-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-white-fill-uiicon-color-down: inherit;
  --spectrum-closebutton-xl-white-fill-background-color-down: rgba(0,0,0,0.55);
  --spectrum-closebutton-xl-white-fill-border-color-down: transparent;
  --spectrum-closebutton-xl-white-focusring-border-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render-down: no;
  --spectrum-closebutton-xl-white-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-white-fill-uiicon-color-hover: inherit;
  --spectrum-closebutton-xl-white-fill-background-color-hover: rgba(255,255,255,0.4);
  --spectrum-closebutton-xl-white-fill-border-color-hover: transparent;
  --spectrum-closebutton-xl-white-focusring-border-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render-hover: no;
  --spectrum-closebutton-xl-white-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-white-fill-uiicon-color-key-focus: inherit;
  --spectrum-closebutton-xl-white-fill-background-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-xl-white-focusring-border-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render-key-focus: yes;
  --spectrum-closebutton-xl-white-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-xl-white-fill-uiicon-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-xl-white-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-xl-white-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render-mouse-focus: no;
  --spectrum-closebutton-xl-white-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-white-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-500);
  --spectrum-closebutton-xl-white-fill-uiicon-margin: 0;
  --spectrum-closebutton-xl-white-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-xl-white-fill-layout: inline-row;
  --spectrum-closebutton-xl-white-fill-align-items: center;
  --spectrum-closebutton-xl-white-fill-justify-content: center;
  --spectrum-closebutton-xl-white-fill-size: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-white-fill-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-white-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-white-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-white-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-white-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-white-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-xl-white-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-xl);
  --spectrum-closebutton-xl-white-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-xl);
  --spectrum-closebutton-xl-white-focusring-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-white-focusring-type: focusring;
  --spectrum-closebutton-xl-white-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-xl-white-padding: 0;
  --spectrum-closebutton-xl-white-size: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-black-fill-uiicon-color-disabled: rgba(0,0,0,0.4);
  --spectrum-closebutton-xl-black-fill-background-color-disabled: transparent;
  --spectrum-closebutton-xl-black-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-closebutton-xl-black-focusring-border-color-disabled: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render-disabled: no;
  --spectrum-closebutton-xl-black-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-black-fill-uiicon-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-fill-background-color: transparent;
  --spectrum-closebutton-xl-black-fill-border-color: transparent;
  --spectrum-closebutton-xl-black-focusring-border-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render: no;
  --spectrum-closebutton-xl-black-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-black-fill-uiicon-color-down: inherit;
  --spectrum-closebutton-xl-black-fill-background-color-down: rgba(0,0,0,0.55);
  --spectrum-closebutton-xl-black-fill-border-color-down: transparent;
  --spectrum-closebutton-xl-black-focusring-border-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render-down: no;
  --spectrum-closebutton-xl-black-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-black-fill-uiicon-color-hover: inherit;
  --spectrum-closebutton-xl-black-fill-background-color-hover: rgba(0,0,0,0.4);
  --spectrum-closebutton-xl-black-fill-border-color-hover: transparent;
  --spectrum-closebutton-xl-black-focusring-border-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render-hover: no;
  --spectrum-closebutton-xl-black-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-black-fill-uiicon-color-key-focus: inherit;
  --spectrum-closebutton-xl-black-fill-background-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-fill-border-color-key-focus: transparent;
  --spectrum-closebutton-xl-black-focusring-border-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render-key-focus: yes;
  --spectrum-closebutton-xl-black-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-xl-black-fill-uiicon-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-fill-background-color-mouse-focus: transparent;
  --spectrum-closebutton-xl-black-fill-border-color-mouse-focus: transparent;
  --spectrum-closebutton-xl-black-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render-mouse-focus: no;
  --spectrum-closebutton-xl-black-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-black-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-500);
  --spectrum-closebutton-xl-black-fill-uiicon-margin: 0;
  --spectrum-closebutton-xl-black-fill-uiicon-type: ui-icon;
  --spectrum-closebutton-xl-black-fill-layout: inline-row;
  --spectrum-closebutton-xl-black-fill-align-items: center;
  --spectrum-closebutton-xl-black-fill-justify-content: center;
  --spectrum-closebutton-xl-black-fill-size: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-black-fill-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-black-fill-border-top-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-black-fill-border-bottom-left-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-black-fill-border-top-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-black-fill-border-bottom-right-radius: var(--spectrum-alias-infieldbutton-border-radius);
  --spectrum-closebutton-xl-black-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-closebutton-xl-black-fill-padding-left: var(--spectrum-alias-infieldbutton-fill-padding-xl);
  --spectrum-closebutton-xl-black-fill-padding-right: var(--spectrum-alias-infieldbutton-fill-padding-xl);
  --spectrum-closebutton-xl-black-focusring-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-black-focusring-type: focusring;
  --spectrum-closebutton-xl-black-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-xl-black-padding: 0;
  --spectrum-closebutton-xl-black-size: var(--spectrum-global-dimension-size-600);
}
