:root {
  --spectrum-dialog-background-color: var(--spectrum-alias-background-color-default);
  --spectrum-dialog-underlay-background-color: var(--spectrum-alias-background-color-modal-overlay);
  --spectrum-dialog-icon-color: var(--spectrum-global-color-gray-900);
  --spectrum-dialog-rule-color: var(--spectrum-global-color-gray-300);
  --spectrum-dialog-title-text-color: var(--spectrum-global-color-gray-900);
  --spectrum-dialog-content-text-color: var(--spectrum-global-color-gray-800);
  --spectrum-dialog-width: 90%;
  --spectrum-dialog-min-width: var(--spectrum-global-dimension-static-size-3600);
  --spectrum-dialog-icon-margin-left: var(--spectrum-global-dimension-static-size-300);
  --spectrum-dialog-rule-height: var(--spectrum-global-dimension-static-size-25);
  --spectrum-dialog-rule-margin-top: var(--spectrum-global-dimension-static-size-150);
  --spectrum-dialog-rule-margin-bottom: var(--spectrum-global-dimension-static-size-200);
  --spectrum-dialog-rule-border-radius: var(--spectrum-global-dimension-static-size-10);
  --spectrum-dialog-divider-margin-top: var(--spectrum-global-dimension-static-size-150);
  --spectrum-dialog-divider-margin-bottom: var(--spectrum-global-dimension-static-size-200);
  --spectrum-dialog-title-text-line-height: var(--spectrum-alias-heading-text-line-height);
  --spectrum-dialog-title-text-font-weight: var(--spectrum-global-font-weight-bold);
  --spectrum-dialog-content-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-dialog-border-radius: var(--spectrum-global-dimension-size-50);
  --spectrum-dialog-icon-height: var(--spectrum-global-dimension-size-225);
  --spectrum-dialog-icon-width: var(--spectrum-global-dimension-size-225);
  --spectrum-dialog-button-gap: var(--spectrum-global-dimension-static-size-200);
  --spectrum-dialog-buttongroup-gap-x: var(--spectrum-global-dimension-static-size-200);
  --spectrum-dialog-buttongroup-gap-y: var(--spectrum-global-dimension-static-size-200);
  --spectrum-dialog-content-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-dialog-animation-distance: var(--spectrum-global-dimension-static-size-100);
  --spectrum-dialog-background-entry-animation-delay: 0ms;
  --spectrum-dialog-background-entry-animation-duration: var(--spectrum-global-animation-duration-600);
  --spectrum-dialog-background-entry-animation-ease: var(--spectrum-global-animation-linear);
  --spectrum-dialog-background-entry-animation-properties: opacity;
  --spectrum-dialog-entry-animation-delay: var(--spectrum-global-animation-duration-200);
  --spectrum-dialog-entry-animation-duration: var(--spectrum-global-animation-duration-500);
  --spectrum-dialog-entry-animation-ease: var(--spectrum-global-animation-ease-out);
  --spectrum-dialog-entry-animation-distance: var(--spectrum-global-dimension-size-250);
  --spectrum-dialog-entry-animation-properties: opacity, distance;
  --spectrum-dialog-background-exit-animation-delay: var(--spectrum-global-animation-duration-200);
  --spectrum-dialog-background-exit-animation-duration: var(--spectrum-global-animation-duration-300);
  --spectrum-dialog-background-exit-animation-ease: var(--spectrum-global-animation-linear);
  --spectrum-dialog-background-exit-animation-properties: opacity;
  --spectrum-dialog-exit-animation-delay: 0ms;
  --spectrum-dialog-exit-animation-duration: var(--spectrum-global-animation-duration-100);
  --spectrum-dialog-exit-animation-ease: var(--spectrum-global-animation-ease-in);
  --spectrum-dialog-exit-animation-distance: 0;
  --spectrum-dialog-exit-animation-properties: opacity, distance;
  --spectrum-dialog-error-icon-color: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dialog-error-title-text-color: var(--spectrum-semantic-negative-color-text-small);
  --spectrum-dialog-error-background-entry-animation-delay: 0ms;
  --spectrum-dialog-error-background-entry-animation-duration: var(--spectrum-global-animation-duration-600);
  --spectrum-dialog-error-background-entry-animation-ease: var(--spectrum-global-animation-linear);
  --spectrum-dialog-error-background-entry-animation-properties: opacity;
  --spectrum-dialog-error-entry-animation-delay: var(--spectrum-global-animation-duration-200);
  --spectrum-dialog-error-entry-animation-duration: var(--spectrum-global-animation-duration-500);
  --spectrum-dialog-error-entry-animation-ease: var(--spectrum-global-animation-ease-out);
  --spectrum-dialog-error-entry-animation-distance: var(--spectrum-global-dimension-size-250);
  --spectrum-dialog-error-entry-animation-properties: opacity, distance;
  --spectrum-dialog-error-background-exit-animation-delay: var(--spectrum-global-animation-duration-200);
  --spectrum-dialog-error-background-exit-animation-duration: var(--spectrum-global-animation-duration-300);
  --spectrum-dialog-error-background-exit-animation-ease: var(--spectrum-global-animation-linear);
  --spectrum-dialog-error-background-exit-animation-properties: opacity;
  --spectrum-dialog-error-exit-animation-delay: 0ms;
  --spectrum-dialog-error-exit-animation-duration: var(--spectrum-global-animation-duration-100);
  --spectrum-dialog-error-exit-animation-ease: var(--spectrum-global-animation-ease-in);
  --spectrum-dialog-error-exit-animation-distance: 0;
  --spectrum-dialog-error-exit-animation-properties: opacity, distance;
}
