:root {
  --spectrum-calendar-button-icon-color: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color: var(--spectrum-alias-text-color);
  --spectrum-calendar-day-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-calendar-day-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-calendar-day-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color: var(--spectrum-alias-text-color);
  --spectrum-calendar-day-today-border-color: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-calendar-day-title-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-hover: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-text-font-weight-hover: var(--spectrum-global-font-weight-regular);
  --spectrum-calendar-day-background-color-hover: var(--spectrum-alias-highlight-hover);
  --spectrum-calendar-day-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-today-border-color-hover: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-hover: var(--spectrum-alias-highlight-hover);
  --spectrum-calendar-day-title-text-color-hover: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-down: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-calendar-day-text-font-weight-down: var(--spectrum-global-font-weight-regular);
  --spectrum-calendar-day-background-color-down: var(--spectrum-alias-highlight-active);
  --spectrum-calendar-day-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-down: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-calendar-day-today-border-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-down: var(--spectrum-alias-highlight-active);
  --spectrum-calendar-day-title-text-color-down: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-text-font-weight-key-focus: var(--spectrum-global-font-weight-regular);
  --spectrum-calendar-day-background-color-key-focus: var(--spectrum-alias-highlight-hover);
  --spectrum-calendar-day-border-color-key-focus: var(--spectrum-alias-focus-color);
  --spectrum-calendar-day-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-today-border-color-key-focus: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-calendar-day-title-text-color-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-disabled: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-calendar-day-text-font-weight-disabled: var(--spectrum-global-font-weight-regular);
  --spectrum-calendar-day-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-calendar-day-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-calendar-day-today-border-color-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-calendar-day-today-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-calendar-day-title-text-color-disabled: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-selected: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-selected: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-text-font-weight-selected: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-background-color-selected: var(--spectrum-alias-highlight-selected);
  --spectrum-calendar-day-border-color-selected: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-selected: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-selected: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-today-border-color-selected: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-selected: var(--spectrum-alias-highlight-selected);
  --spectrum-calendar-day-title-text-color-selected: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-selected-hover: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-text-font-weight-selected-hover: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-background-color-selected-hover: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-border-color-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-selected-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-today-border-color-selected-hover: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-selected-hover: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-title-text-color-selected-hover: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-selected-down: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-calendar-day-text-font-weight-selected-down: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-background-color-selected-down: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-border-color-selected-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-selected-down: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-calendar-day-today-border-color-selected-down: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-selected-down: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-title-text-color-selected-down: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-selected-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-text-font-weight-selected-key-focus: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-background-color-selected-key-focus: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-border-color-selected-key-focus: var(--spectrum-alias-focus-color);
  --spectrum-calendar-day-border-size-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-today-border-color-selected-key-focus: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-selected-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-calendar-day-title-text-color-selected-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-selected-disabled: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-calendar-day-text-font-weight-selected-disabled: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-background-color-selected-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-calendar-day-border-color-selected-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-selected-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-calendar-day-today-border-color-selected-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-calendar-day-today-background-color-selected-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-calendar-day-title-text-color-selected-disabled: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-cap-selected: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-cap-selected: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-text-font-weight-cap-selected: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-background-color-cap-selected: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-border-color-cap-selected: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-cap-selected: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-cap-selected: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-today-border-color-cap-selected: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-cap-selected: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-title-text-color-cap-selected: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-cap-selected-hover: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-cap-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-text-font-weight-cap-selected-hover: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-background-color-cap-selected-hover: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-border-color-cap-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-cap-selected-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-cap-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-today-border-color-cap-selected-hover: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-cap-selected-hover: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-title-text-color-cap-selected-hover: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-cap-selected-down: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-cap-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-calendar-day-text-font-weight-cap-selected-down: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-background-color-cap-selected-down: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-border-color-cap-selected-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-cap-selected-down: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-cap-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-calendar-day-today-border-color-cap-selected-down: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-cap-selected-down: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-title-text-color-cap-selected-down: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-cap-selected-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-cap-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-text-font-weight-cap-selected-key-focus: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-background-color-cap-selected-key-focus: var(--spectrum-alias-highlight-selected-hover);
  --spectrum-calendar-day-border-color-cap-selected-key-focus: var(--spectrum-alias-focus-color);
  --spectrum-calendar-day-border-size-cap-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-cap-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-calendar-day-today-border-color-cap-selected-key-focus: var(--spectrum-global-color-gray-800);
  --spectrum-calendar-day-today-background-color-cap-selected-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-calendar-day-title-text-color-cap-selected-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-button-icon-color-cap-selected-disabled: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-day-text-color-cap-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-calendar-day-text-font-weight-cap-selected-disabled: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-background-color-cap-selected-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-calendar-day-border-color-cap-selected-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-calendar-day-border-size-cap-selected-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-calendar-day-today-text-color-cap-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-calendar-day-today-border-color-cap-selected-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-calendar-day-today-background-color-cap-selected-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-calendar-day-title-text-color-cap-selected-disabled: var(--spectrum-global-color-gray-700);
  --spectrum-calendar-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-calendar-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-calendar-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-calendar-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-calendar-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-calendar-text-transform: none;
  --spectrum-calendar-width: 250px;
  --spectrum-calendar-title-height: var(--spectrum-global-dimension-static-size-400);
  --spectrum-calendar-title-text-size: var(--spectrum-global-dimension-font-size-300);
  --spectrum-calendar-day-width: var(--spectrum-global-dimension-size-400);
  --spectrum-calendar-day-height: var(--spectrum-global-dimension-size-400);
  --spectrum-calendar-day-padding: 4px;
  --spectrum-calendar-day-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-calendar-day-text-size-han: var(--spectrum-global-dimension-font-size-50);
  --spectrum-calendar-day-title-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-calendar-day-title-text-font-weight: var(--spectrum-global-font-weight-bold);
  --spectrum-calendar-day-today-text-font-weight: var(--spectrum-global-font-weight-bold);
}
