:root {
  --spectrum-avatar-small-opacity: 1;
  --spectrum-avatar-small-opacity-disabled: 0.3;
  --spectrum-avatar-small-border-radius: 0.5;
  --spectrum-avatar-small-width: var(--spectrum-global-dimension-size-200);
  --spectrum-avatar-small-height: var(--spectrum-global-dimension-size-200);
}
