:root {
  --spectrum-steplist-incomplete-marker-color: var(--spectrum-global-color-gray-300);
  --spectrum-steplist-incomplete-segment-color: var(--spectrum-global-color-gray-300);
  --spectrum-steplist-incomplete-label-text-color: var(--spectrum-global-color-gray-600);
  --spectrum-steplist-incomplete-marker-color-hover: var(--spectrum-global-color-gray-700);
  --spectrum-steplist-incomplete-segment-color-hover: var(--spectrum-global-color-gray-300);
  --spectrum-steplist-incomplete-label-text-color-hover: var(--spectrum-global-color-gray-600);
  --spectrum-steplist-incomplete-marker-color-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-steplist-incomplete-segment-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-steplist-incomplete-label-text-color-key-focus: var(--spectrum-global-color-gray-600);
  --spectrum-steplist-incomplete-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-steplist-incomplete-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-steplist-incomplete-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-steplist-incomplete-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-steplist-incomplete-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-steplist-incomplete-text-transform: none;
  --spectrum-steplist-current-marker-color: var(--spectrum-global-color-gray-800);
  --spectrum-steplist-current-segment-color: var(--spectrum-global-color-gray-800);
  --spectrum-steplist-current-label-text-color: var(--spectrum-global-color-gray-800);
  --spectrum-steplist-current-marker-color-hover: var(--spectrum-global-color-gray-800);
  --spectrum-steplist-current-segment-color-hover: var(--spectrum-global-color-gray-800);
  --spectrum-steplist-current-label-text-color-hover: var(--spectrum-global-color-gray-800);
  --spectrum-steplist-current-marker-color-key-focus: var(--spectrum-alias-focus-color);
  --spectrum-steplist-current-segment-color-key-focus: var(--spectrum-global-color-gray-800);
  --spectrum-steplist-current-label-text-color-key-focus: var(--spectrum-global-color-gray-800);
  --spectrum-steplist-current-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-steplist-current-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-steplist-current-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-steplist-current-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-steplist-current-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-steplist-current-text-transform: none;
  --spectrum-steplist-complete-marker-color: var(--spectrum-global-color-gray-600);
  --spectrum-steplist-complete-segment-color: var(--spectrum-global-color-gray-600);
  --spectrum-steplist-complete-label-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-steplist-complete-marker-color-hover: var(--spectrum-global-color-gray-700);
  --spectrum-steplist-complete-segment-color-hover: var(--spectrum-global-color-gray-600);
  --spectrum-steplist-complete-label-text-color-hover: var(--spectrum-global-color-gray-700);
  --spectrum-steplist-complete-marker-color-key-focus: var(--spectrum-alias-focus-color);
  --spectrum-steplist-complete-segment-color-key-focus: var(--spectrum-global-color-gray-600);
  --spectrum-steplist-complete-label-text-color-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-steplist-complete-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-steplist-complete-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-steplist-complete-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-steplist-complete-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-steplist-complete-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-steplist-complete-text-transform: none;
}
