:root {
  --spectrum-clearbutton-small-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-small-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-clearbutton-small-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-small-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-clearbutton-small-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-small-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-clearbutton-small-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-small-icon-color-mouse-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-clearbutton-small-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-small-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-clearbutton-small-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-small-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-clearbutton-small-width: var(--spectrum-global-dimension-size-300);
  --spectrum-clearbutton-small-height: var(--spectrum-global-dimension-size-300);
  --spectrum-clearbutton-small-icon-size: var(--spectrum-global-dimension-size-100);
  --spectrum-clearbutton-small-border-radius: var(--spectrum-alias-item-rounded-border-radius-s);
  --spectrum-clearbutton-small-overbackground-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-small-overbackground-icon-color: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-small-overbackground-background-color-hover: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-small-overbackground-icon-color-hover: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-small-overbackground-background-color-down: var(--spectrum-alias-background-color-quiet-overbackground-down);
  --spectrum-clearbutton-small-overbackground-icon-color-down: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-small-overbackground-background-color-mouse-focus: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-small-overbackground-icon-color-mouse-focus: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-small-overbackground-background-color-key-focus: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-small-overbackground-icon-color-key-focus: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-small-overbackground-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-small-overbackground-icon-color-disabled: var(--spectrum-alias-icon-color-overbackground-disabled);
  --spectrum-clearbutton-small-overbackground-width: var(--spectrum-global-dimension-size-300);
  --spectrum-clearbutton-small-overbackground-height: var(--spectrum-global-dimension-size-300);
  --spectrum-clearbutton-small-overbackground-icon-size: var(--spectrum-global-dimension-size-100);
  --spectrum-clearbutton-small-overbackground-border-radius: var(--spectrum-alias-item-rounded-border-radius-s);
  --spectrum-clearbutton-medium-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-medium-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-clearbutton-medium-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-medium-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-clearbutton-medium-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-medium-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-clearbutton-medium-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-medium-icon-color-mouse-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-clearbutton-medium-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-medium-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-clearbutton-medium-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-medium-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-clearbutton-medium-width: var(--spectrum-alias-single-line-height);
  --spectrum-clearbutton-medium-height: var(--spectrum-alias-single-line-height);
  --spectrum-clearbutton-medium-icon-size: var(--spectrum-global-dimension-size-100);
  --spectrum-clearbutton-medium-border-radius: var(--spectrum-alias-item-rounded-border-radius-m);
  --spectrum-clearbutton-medium-overbackground-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-medium-overbackground-icon-color: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-medium-overbackground-background-color-hover: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-medium-overbackground-icon-color-hover: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-medium-overbackground-background-color-down: var(--spectrum-alias-background-color-quiet-overbackground-down);
  --spectrum-clearbutton-medium-overbackground-icon-color-down: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-medium-overbackground-background-color-mouse-focus: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-medium-overbackground-icon-color-mouse-focus: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-medium-overbackground-background-color-key-focus: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-medium-overbackground-icon-color-key-focus: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-medium-overbackground-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-medium-overbackground-icon-color-disabled: var(--spectrum-alias-icon-color-overbackground-disabled);
  --spectrum-clearbutton-medium-overbackground-width: var(--spectrum-alias-single-line-height);
  --spectrum-clearbutton-medium-overbackground-height: var(--spectrum-alias-single-line-height);
  --spectrum-clearbutton-medium-overbackground-icon-size: var(--spectrum-global-dimension-size-100);
  --spectrum-clearbutton-medium-overbackground-border-radius: var(--spectrum-alias-item-rounded-border-radius-m);
}
