:root {
  --spectrum-clearbutton-s-fill-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-clearbutton-s-fill-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-clearbutton-s-focusring-render-disabled: no;
  --spectrum-clearbutton-s-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-s-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-fill-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-clearbutton-s-fill-background-color: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-default);
  --spectrum-clearbutton-s-fill-border-color: transparent;
  --spectrum-clearbutton-s-focusring-render: no;
  --spectrum-clearbutton-s-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-s-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-fill-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-clearbutton-s-fill-background-color-down: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-down);
  --spectrum-clearbutton-s-fill-border-color-down: transparent;
  --spectrum-clearbutton-s-focusring-render-down: no;
  --spectrum-clearbutton-s-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-s-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-fill-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-clearbutton-s-fill-background-color-hover: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-hover);
  --spectrum-clearbutton-s-fill-border-color-hover: transparent;
  --spectrum-clearbutton-s-focusring-render-hover: no;
  --spectrum-clearbutton-s-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-s-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-fill-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-clearbutton-s-fill-background-color-key-focus: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-key-focus);
  --spectrum-clearbutton-s-fill-border-color-key-focus: transparent;
  --spectrum-clearbutton-s-focusring-render-key-focus: yes;
  --spectrum-clearbutton-s-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-clearbutton-s-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-clearbutton-s-fill-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-clearbutton-s-fill-background-color-mouse-focus: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-default);
  --spectrum-clearbutton-s-fill-border-color-mouse-focus: transparent;
  --spectrum-clearbutton-s-focusring-render-mouse-focus: no;
  --spectrum-clearbutton-s-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-s-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-fill-uiicon-type: ui-icon;
  --spectrum-clearbutton-s-fill-uiicon-margin: var(--spectrum-alias-clearbutton-icon-margin-s);
  --spectrum-clearbutton-s-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-75);
  --spectrum-clearbutton-s-fill-layout: row;
  --spectrum-clearbutton-s-fill-border-top-left-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-s-fill-border-top-right-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-s-fill-border-bottom-left-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-s-fill-border-bottom-right-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-s-fill-padding-top: 0;
  --spectrum-clearbutton-s-fill-padding-bottom: 0;
  --spectrum-clearbutton-s-fill-padding-left: 0;
  --spectrum-clearbutton-s-fill-padding-right: 0;
  --spectrum-clearbutton-s-fill-size: var(--spectrum-alias-infieldbutton-full-height-s);
  --spectrum-clearbutton-s-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-clearbutton-s-focusring-border-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-s-focusring-type: focusring;
  --spectrum-clearbutton-s-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-clearbutton-s-padding: var(--spectrum-alias-infieldbutton-padding-s);
  --spectrum-clearbutton-m-fill-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-clearbutton-m-fill-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-clearbutton-m-focusring-render-disabled: no;
  --spectrum-clearbutton-m-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-m-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-fill-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-clearbutton-m-fill-background-color: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-default);
  --spectrum-clearbutton-m-fill-border-color: transparent;
  --spectrum-clearbutton-m-focusring-render: no;
  --spectrum-clearbutton-m-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-m-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-fill-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-clearbutton-m-fill-background-color-down: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-down);
  --spectrum-clearbutton-m-fill-border-color-down: transparent;
  --spectrum-clearbutton-m-focusring-render-down: no;
  --spectrum-clearbutton-m-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-m-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-fill-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-clearbutton-m-fill-background-color-hover: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-hover);
  --spectrum-clearbutton-m-fill-border-color-hover: transparent;
  --spectrum-clearbutton-m-focusring-render-hover: no;
  --spectrum-clearbutton-m-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-m-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-fill-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-clearbutton-m-fill-background-color-key-focus: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-key-focus);
  --spectrum-clearbutton-m-fill-border-color-key-focus: transparent;
  --spectrum-clearbutton-m-focusring-render-key-focus: yes;
  --spectrum-clearbutton-m-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-clearbutton-m-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-clearbutton-m-fill-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-clearbutton-m-fill-background-color-mouse-focus: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-default);
  --spectrum-clearbutton-m-fill-border-color-mouse-focus: transparent;
  --spectrum-clearbutton-m-focusring-render-mouse-focus: no;
  --spectrum-clearbutton-m-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-m-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-fill-uiicon-type: ui-icon;
  --spectrum-clearbutton-m-fill-uiicon-margin: var(--spectrum-alias-clearbutton-icon-margin-m);
  --spectrum-clearbutton-m-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-100);
  --spectrum-clearbutton-m-fill-layout: row;
  --spectrum-clearbutton-m-fill-border-top-left-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-m-fill-border-top-right-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-m-fill-border-bottom-left-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-m-fill-border-bottom-right-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-m-fill-padding-top: 0;
  --spectrum-clearbutton-m-fill-padding-bottom: 0;
  --spectrum-clearbutton-m-fill-padding-left: 0;
  --spectrum-clearbutton-m-fill-padding-right: 0;
  --spectrum-clearbutton-m-fill-size: var(--spectrum-alias-infieldbutton-full-height-m);
  --spectrum-clearbutton-m-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-clearbutton-m-focusring-border-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-m-focusring-type: focusring;
  --spectrum-clearbutton-m-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-clearbutton-m-padding: var(--spectrum-alias-infieldbutton-padding-m);
  --spectrum-clearbutton-l-fill-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-clearbutton-l-fill-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-l-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-clearbutton-l-focusring-render-disabled: no;
  --spectrum-clearbutton-l-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-l-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-l-fill-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-clearbutton-l-fill-background-color: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-default);
  --spectrum-clearbutton-l-fill-border-color: transparent;
  --spectrum-clearbutton-l-focusring-render: no;
  --spectrum-clearbutton-l-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-l-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-l-fill-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-clearbutton-l-fill-background-color-down: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-down);
  --spectrum-clearbutton-l-fill-border-color-down: transparent;
  --spectrum-clearbutton-l-focusring-render-down: no;
  --spectrum-clearbutton-l-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-l-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-l-fill-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-clearbutton-l-fill-background-color-hover: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-hover);
  --spectrum-clearbutton-l-fill-border-color-hover: transparent;
  --spectrum-clearbutton-l-focusring-render-hover: no;
  --spectrum-clearbutton-l-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-l-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-l-fill-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-clearbutton-l-fill-background-color-key-focus: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-key-focus);
  --spectrum-clearbutton-l-fill-border-color-key-focus: transparent;
  --spectrum-clearbutton-l-focusring-render-key-focus: yes;
  --spectrum-clearbutton-l-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-clearbutton-l-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-clearbutton-l-fill-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-clearbutton-l-fill-background-color-mouse-focus: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-default);
  --spectrum-clearbutton-l-fill-border-color-mouse-focus: transparent;
  --spectrum-clearbutton-l-focusring-render-mouse-focus: no;
  --spectrum-clearbutton-l-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-l-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-l-fill-uiicon-type: ui-icon;
  --spectrum-clearbutton-l-fill-uiicon-margin: var(--spectrum-alias-clearbutton-icon-margin-l);
  --spectrum-clearbutton-l-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-200);
  --spectrum-clearbutton-l-fill-layout: row;
  --spectrum-clearbutton-l-fill-border-top-left-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-l-fill-border-top-right-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-l-fill-border-bottom-left-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-l-fill-border-bottom-right-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-l-fill-padding-top: 0;
  --spectrum-clearbutton-l-fill-padding-bottom: 0;
  --spectrum-clearbutton-l-fill-padding-left: 0;
  --spectrum-clearbutton-l-fill-padding-right: 0;
  --spectrum-clearbutton-l-fill-size: var(--spectrum-alias-infieldbutton-full-height-l);
  --spectrum-clearbutton-l-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-clearbutton-l-focusring-border-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-l-focusring-type: focusring;
  --spectrum-clearbutton-l-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-clearbutton-l-padding: var(--spectrum-alias-infieldbutton-padding-l);
  --spectrum-clearbutton-xl-fill-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-clearbutton-xl-fill-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-xl-fill-border-color-disabled: var(--spectrum-alias-infieldbutton-fill-loudnessLow-border-color-disabled);
  --spectrum-clearbutton-xl-focusring-render-disabled: no;
  --spectrum-clearbutton-xl-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-xl-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-xl-fill-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-clearbutton-xl-fill-background-color: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-default);
  --spectrum-clearbutton-xl-fill-border-color: transparent;
  --spectrum-clearbutton-xl-focusring-render: no;
  --spectrum-clearbutton-xl-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-xl-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-xl-fill-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-clearbutton-xl-fill-background-color-down: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-down);
  --spectrum-clearbutton-xl-fill-border-color-down: transparent;
  --spectrum-clearbutton-xl-focusring-render-down: no;
  --spectrum-clearbutton-xl-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-xl-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-xl-fill-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-clearbutton-xl-fill-background-color-hover: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-hover);
  --spectrum-clearbutton-xl-fill-border-color-hover: transparent;
  --spectrum-clearbutton-xl-focusring-render-hover: no;
  --spectrum-clearbutton-xl-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-xl-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-xl-fill-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-clearbutton-xl-fill-background-color-key-focus: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-key-focus);
  --spectrum-clearbutton-xl-fill-border-color-key-focus: transparent;
  --spectrum-clearbutton-xl-focusring-render-key-focus: yes;
  --spectrum-clearbutton-xl-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-clearbutton-xl-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-clearbutton-xl-fill-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-clearbutton-xl-fill-background-color-mouse-focus: var(--spectrum-alias-infieldbutton-fill-loudnessLow-background-color-default);
  --spectrum-clearbutton-xl-fill-border-color-mouse-focus: transparent;
  --spectrum-clearbutton-xl-focusring-render-mouse-focus: no;
  --spectrum-clearbutton-xl-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-clearbutton-xl-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-xl-fill-uiicon-type: ui-icon;
  --spectrum-clearbutton-xl-fill-uiicon-margin: var(--spectrum-alias-clearbutton-icon-margin-xl);
  --spectrum-clearbutton-xl-fill-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-300);
  --spectrum-clearbutton-xl-fill-layout: row;
  --spectrum-clearbutton-xl-fill-border-top-left-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-xl-fill-border-top-right-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-xl-fill-border-bottom-left-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-xl-fill-border-bottom-right-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-xl-fill-padding-top: 0;
  --spectrum-clearbutton-xl-fill-padding-bottom: 0;
  --spectrum-clearbutton-xl-fill-padding-left: 0;
  --spectrum-clearbutton-xl-fill-padding-right: 0;
  --spectrum-clearbutton-xl-fill-size: var(--spectrum-alias-infieldbutton-full-height-xl);
  --spectrum-clearbutton-xl-fill-border-size: var(--spectrum-alias-infieldbutton-border-size);
  --spectrum-clearbutton-xl-focusring-border-radius: var(--spectrum-alias-clearbutton-border-radius);
  --spectrum-clearbutton-xl-focusring-type: focusring;
  --spectrum-clearbutton-xl-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-clearbutton-xl-padding: var(--spectrum-alias-infieldbutton-padding-xl);
}
