:root {
  --spectrum-dropzone-border-color: var(--spectrum-global-color-gray-300);
  --spectrum-dropzone-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-dropzone-illustration-color: var(--spectrum-global-color-gray-500);
  --spectrum-dropzone-border-color-hover: var(--spectrum-global-color-gray-300);
  --spectrum-dropzone-background-color-hover: var(--spectrum-global-color-gray-100);
  --spectrum-dropzone-illustration-color-hover: var(--spectrum-global-color-gray-500);
  --spectrum-dropzone-border-color-selected: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-background-color-selected: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-illustration-color-selected: var(--spectrum-global-color-blue-500);
  --spectrum-dropzone-border-color-selected-hover: var(--spectrum-global-color-blue-400);
  --spectrum-dropzone-background-color-selected-hover: var(--spectrum-alias-highlight-selected);
  --spectrum-dropzone-illustration-color-selected-hover: var(--spectrum-global-color-blue-500);
  --spectrum-dropzone-padding: var(--spectrum-global-dimension-size-900);
  --spectrum-dropzone-border-width: var(--spectrum-alias-border-size-thick);
  --spectrum-dropzone-border-radius: var(--spectrum-alias-border-radius-regular);
}
