:root {
  --spectrum-treeview-item-group-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-row-border-color: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-item-text-color: var(--spectrum-alias-text-color);
  --spectrum-treeview-item-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-item-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-item-group-background-color-hover: var(--spectrum-global-color-gray-75);
  --spectrum-treeview-row-border-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-item-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-treeview-item-background-color-hover: var(--spectrum-global-color-gray-75);
  --spectrum-treeview-item-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-item-group-background-color-down: var(--spectrum-global-color-gray-75);
  --spectrum-treeview-row-border-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-item-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-treeview-item-background-color-down: var(--spectrum-global-color-gray-75);
  --spectrum-treeview-item-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-item-group-background-color-key-focus: var(--spectrum-global-color-gray-75);
  --spectrum-treeview-row-border-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-item-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-treeview-item-background-color-key-focus: var(--spectrum-global-color-gray-75);
  --spectrum-treeview-item-border-color-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-treeview-item-group-background-color-disabled: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-row-border-color-disabled: var(--spectrum-global-color-gray-900);
  --spectrum-treeview-item-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-treeview-item-background-color-disabled: var(--spectrum-global-color-gray-100);
  --spectrum-treeview-item-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-treeview-item-group-border-color: var(--spectrum-global-color-gray-500);
  --spectrum-treeview-width: 304px;
  --spectrum-treeview-item-height: var(--spectrum-global-dimension-size-450);
  --spectrum-treeview-padding-x: 6px;
  --spectrum-treeview-item-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-treeview-item-border-size: var(--spectrum-global-dimension-static-size-25);
  --spectrum-treeview-item-padding-y: var(--spectrum-global-dimension-static-size-100);
  --spectrum-treeview-item-margin-y: var(--spectrum-global-dimension-static-size-100);
  --spectrum-treeview-item-padding-x: 30px;
  --spectrum-treeview-item-indent: var(--spectrum-global-dimension-size-350);
  --spectrum-treeview-item-icon-gap: var(--spectrum-global-dimension-size-100);
}
