:root {
  --spectrum-cyclebutton-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-cyclebutton-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-cyclebutton-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-cyclebutton-hold-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-cyclebutton-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-cyclebutton-border-size-hover: var(--spectrum-alias-border-size-thin);
  --spectrum-cyclebutton-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-cyclebutton-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-cyclebutton-hold-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-cyclebutton-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-cyclebutton-border-size-down: var(--spectrum-alias-border-size-thin);
  --spectrum-cyclebutton-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-cyclebutton-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-cyclebutton-hold-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-cyclebutton-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-cyclebutton-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-cyclebutton-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-cyclebutton-border-color-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-cyclebutton-hold-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-cyclebutton-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-cyclebutton-border-size-disabled: var(--spectrum-alias-border-size-thin);
  --spectrum-cyclebutton-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-cyclebutton-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-cyclebutton-hold-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-cyclebutton-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-cyclebutton-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-cyclebutton-hold-icon-padding-bottom: var(--spectrum-global-dimension-size-40);
  --spectrum-cyclebutton-hold-icon-padding-right: var(--spectrum-global-dimension-size-40);
  --spectrum-cyclebutton-hold-icon-size: var(--spectrum-global-dimension-size-65);
  --spectrum-cyclebutton-padding-left: var(--spectrum-alias-item-icononly-padding-m);
  --spectrum-cyclebutton-padding-right: var(--spectrum-alias-item-icononly-padding-m);
  --spectrum-cyclebutton-height: var(--spectrum-alias-item-height-m);
  --spectrum-cyclebutton-min-width: var(--spectrum-alias-item-height-m);
  --spectrum-cyclebutton-icon-size: var(--spectrum-alias-workflow-icon-size-m);
  --spectrum-cyclebutton-icon-padding-top: var(--spectrum-alias-item-icon-padding-top-m);
  --spectrum-cyclebutton-icon-padding-bottom: var(--spectrum-alias-item-icon-padding-bottom-m);
}
