:root {
  --spectrum-clearbutton-s-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-clearbutton-s-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-clearbutton-s-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-clearbutton-s-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-icon-color-mouse-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-clearbutton-s-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-clearbutton-s-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-clearbutton-s-width: var(--spectrum-global-dimension-size-300);
  --spectrum-clearbutton-s-height: var(--spectrum-global-dimension-size-300);
  --spectrum-clearbutton-s-icon-size: var(--spectrum-global-dimension-size-100);
  --spectrum-clearbutton-s-border-radius: var(--spectrum-alias-item-rounded-border-radius-s);
  --spectrum-clearbutton-s-overbackground-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-overbackground-icon-color: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-s-overbackground-background-color-hover: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-s-overbackground-icon-color-hover: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-s-overbackground-background-color-down: var(--spectrum-alias-background-color-quiet-overbackground-down);
  --spectrum-clearbutton-s-overbackground-icon-color-down: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-s-overbackground-background-color-mouse-focus: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-s-overbackground-icon-color-mouse-focus: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-s-overbackground-background-color-key-focus: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-s-overbackground-icon-color-key-focus: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-s-overbackground-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-s-overbackground-icon-color-disabled: var(--spectrum-alias-icon-color-overbackground-disabled);
  --spectrum-clearbutton-s-overbackground-width: var(--spectrum-global-dimension-size-300);
  --spectrum-clearbutton-s-overbackground-height: var(--spectrum-global-dimension-size-300);
  --spectrum-clearbutton-s-overbackground-icon-size: var(--spectrum-global-dimension-size-100);
  --spectrum-clearbutton-s-overbackground-border-radius: var(--spectrum-alias-item-rounded-border-radius-s);
  --spectrum-clearbutton-m-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-clearbutton-m-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-clearbutton-m-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-clearbutton-m-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-icon-color-mouse-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-clearbutton-m-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-clearbutton-m-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-clearbutton-m-width: var(--spectrum-alias-single-line-height);
  --spectrum-clearbutton-m-height: var(--spectrum-alias-single-line-height);
  --spectrum-clearbutton-m-icon-size: var(--spectrum-global-dimension-size-100);
  --spectrum-clearbutton-m-border-radius: var(--spectrum-alias-item-rounded-border-radius-m);
  --spectrum-clearbutton-m-overbackground-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-overbackground-icon-color: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-m-overbackground-background-color-hover: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-m-overbackground-icon-color-hover: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-m-overbackground-background-color-down: var(--spectrum-alias-background-color-quiet-overbackground-down);
  --spectrum-clearbutton-m-overbackground-icon-color-down: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-m-overbackground-background-color-mouse-focus: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-m-overbackground-icon-color-mouse-focus: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-m-overbackground-background-color-key-focus: var(--spectrum-alias-background-color-quiet-overbackground-hover);
  --spectrum-clearbutton-m-overbackground-icon-color-key-focus: var(--spectrum-alias-icon-color-overbackground);
  --spectrum-clearbutton-m-overbackground-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-clearbutton-m-overbackground-icon-color-disabled: var(--spectrum-alias-icon-color-overbackground-disabled);
  --spectrum-clearbutton-m-overbackground-width: var(--spectrum-alias-single-line-height);
  --spectrum-clearbutton-m-overbackground-height: var(--spectrum-alias-single-line-height);
  --spectrum-clearbutton-m-overbackground-icon-size: var(--spectrum-global-dimension-size-100);
  --spectrum-clearbutton-m-overbackground-border-radius: var(--spectrum-alias-item-rounded-border-radius-m);
}
