:root {
  --spectrum-helptext-s-neutral-texticon-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-helptext-s-neutral-texticon-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-helptext-s-neutral-texticon-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-s-neutral-texticon-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-helptext-s-neutral-texticon-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-s-neutral-texticon-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-s-neutral-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-s-neutral-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-s-neutral-texticon-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-s-neutral-texticon-text-transform: none;
  --spectrum-helptext-s-neutral-texticon-icon-size: var(--spectrum-alias-workflow-icon-size-s);
  --spectrum-helptext-s-neutral-texticon-icon-padding-top: var(--spectrum-global-dimension-size-50);
  --spectrum-helptext-s-neutral-texticon-icon-padding-bottom: var(--spectrum-global-dimension-size-50);
  --spectrum-helptext-s-neutral-texticon-icon-gap: var(--spectrum-alias-item-workflow-icon-gap-s);
  --spectrum-helptext-s-neutral-texticon-text-size: var(--spectrum-alias-item-text-size-s);
  --spectrum-helptext-s-neutral-texticon-text-padding-top: var(--spectrum-alias-item-text-padding-top-s);
  --spectrum-helptext-s-neutral-texticon-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-s);
  --spectrum-helptext-s-neutral-texticon-height: var(--spectrum-alias-item-height-s);
  --spectrum-helptext-s-neutral-textonly-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-helptext-s-neutral-textonly-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-s-neutral-textonly-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-s-neutral-textonly-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-s-neutral-textonly-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-s-neutral-textonly-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-s-neutral-textonly-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-s-neutral-textonly-text-transform: none;
  --spectrum-helptext-s-neutral-textonly-text-size: var(--spectrum-alias-item-text-size-s);
  --spectrum-helptext-s-neutral-textonly-text-padding-top: var(--spectrum-alias-item-text-padding-top-s);
  --spectrum-helptext-s-neutral-textonly-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-s);
  --spectrum-helptext-s-neutral-textonly-height: var(--spectrum-alias-item-height-s);
  --spectrum-helptext-s-negative-texticon-text-color: var(--spectrum-semantic-negative-color-text-small);
  --spectrum-helptext-s-negative-texticon-icon-color: var(--spectrum-semantic-negative-color-icon);
  --spectrum-helptext-s-negative-texticon-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-s-negative-texticon-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-helptext-s-negative-texticon-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-s-negative-texticon-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-s-negative-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-s-negative-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-s-negative-texticon-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-s-negative-texticon-text-transform: none;
  --spectrum-helptext-s-negative-texticon-icon-size: var(--spectrum-alias-workflow-icon-size-s);
  --spectrum-helptext-s-negative-texticon-icon-padding-top: var(--spectrum-global-dimension-size-50);
  --spectrum-helptext-s-negative-texticon-icon-padding-bottom: var(--spectrum-global-dimension-size-50);
  --spectrum-helptext-s-negative-texticon-icon-gap: var(--spectrum-alias-item-workflow-icon-gap-s);
  --spectrum-helptext-s-negative-texticon-text-size: var(--spectrum-alias-item-text-size-s);
  --spectrum-helptext-s-negative-texticon-text-padding-top: var(--spectrum-alias-item-text-padding-top-s);
  --spectrum-helptext-s-negative-texticon-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-s);
  --spectrum-helptext-s-negative-texticon-height: var(--spectrum-alias-item-height-s);
  --spectrum-helptext-s-negative-textonly-text-color: var(--spectrum-semantic-negative-color-text-small);
  --spectrum-helptext-s-negative-textonly-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-s-negative-textonly-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-s-negative-textonly-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-s-negative-textonly-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-s-negative-textonly-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-s-negative-textonly-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-s-negative-textonly-text-transform: none;
  --spectrum-helptext-s-negative-textonly-text-size: var(--spectrum-alias-item-text-size-s);
  --spectrum-helptext-s-negative-textonly-text-padding-top: var(--spectrum-alias-item-text-padding-top-s);
  --spectrum-helptext-s-negative-textonly-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-s);
  --spectrum-helptext-s-negative-textonly-height: var(--spectrum-alias-item-height-s);
  --spectrum-helptext-m-neutral-texticon-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-helptext-m-neutral-texticon-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-helptext-m-neutral-texticon-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-m-neutral-texticon-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-helptext-m-neutral-texticon-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-m-neutral-texticon-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-m-neutral-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-m-neutral-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-m-neutral-texticon-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-m-neutral-texticon-text-transform: none;
  --spectrum-helptext-m-neutral-texticon-icon-size: var(--spectrum-alias-workflow-icon-size-m);
  --spectrum-helptext-m-neutral-texticon-icon-padding-top: var(--spectrum-global-dimension-size-40);
  --spectrum-helptext-m-neutral-texticon-icon-padding-bottom: var(--spectrum-global-dimension-size-40);
  --spectrum-helptext-m-neutral-texticon-icon-gap: var(--spectrum-alias-item-workflow-icon-gap-m);
  --spectrum-helptext-m-neutral-texticon-text-size: var(--spectrum-alias-item-text-size-s);
  --spectrum-helptext-m-neutral-texticon-text-padding-top: var(--spectrum-alias-item-text-padding-top-s);
  --spectrum-helptext-m-neutral-texticon-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-s);
  --spectrum-helptext-m-neutral-texticon-height: var(--spectrum-alias-item-height-s);
  --spectrum-helptext-m-neutral-textonly-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-helptext-m-neutral-textonly-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-m-neutral-textonly-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-m-neutral-textonly-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-m-neutral-textonly-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-m-neutral-textonly-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-m-neutral-textonly-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-m-neutral-textonly-text-transform: none;
  --spectrum-helptext-m-neutral-textonly-text-size: var(--spectrum-alias-item-text-size-s);
  --spectrum-helptext-m-neutral-textonly-text-padding-top: var(--spectrum-alias-item-text-padding-top-s);
  --spectrum-helptext-m-neutral-textonly-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-s);
  --spectrum-helptext-m-neutral-textonly-height: var(--spectrum-alias-item-height-s);
  --spectrum-helptext-m-negative-texticon-text-color: var(--spectrum-semantic-negative-color-text-small);
  --spectrum-helptext-m-negative-texticon-icon-color: var(--spectrum-semantic-negative-color-icon);
  --spectrum-helptext-m-negative-texticon-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-m-negative-texticon-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-helptext-m-negative-texticon-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-m-negative-texticon-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-m-negative-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-m-negative-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-m-negative-texticon-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-m-negative-texticon-text-transform: none;
  --spectrum-helptext-m-negative-texticon-icon-size: var(--spectrum-alias-workflow-icon-size-m);
  --spectrum-helptext-m-negative-texticon-icon-padding-top: var(--spectrum-global-dimension-size-40);
  --spectrum-helptext-m-negative-texticon-icon-padding-bottom: var(--spectrum-global-dimension-size-40);
  --spectrum-helptext-m-negative-texticon-icon-gap: var(--spectrum-alias-item-workflow-icon-gap-m);
  --spectrum-helptext-m-negative-texticon-text-size: var(--spectrum-alias-item-text-size-s);
  --spectrum-helptext-m-negative-texticon-text-padding-top: var(--spectrum-alias-item-text-padding-top-s);
  --spectrum-helptext-m-negative-texticon-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-s);
  --spectrum-helptext-m-negative-texticon-height: var(--spectrum-alias-item-height-s);
  --spectrum-helptext-m-negative-textonly-text-color: var(--spectrum-semantic-negative-color-text-small);
  --spectrum-helptext-m-negative-textonly-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-m-negative-textonly-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-m-negative-textonly-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-m-negative-textonly-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-m-negative-textonly-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-m-negative-textonly-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-m-negative-textonly-text-transform: none;
  --spectrum-helptext-m-negative-textonly-text-size: var(--spectrum-alias-item-text-size-s);
  --spectrum-helptext-m-negative-textonly-text-padding-top: var(--spectrum-alias-item-text-padding-top-s);
  --spectrum-helptext-m-negative-textonly-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-s);
  --spectrum-helptext-m-negative-textonly-height: var(--spectrum-alias-item-height-s);
  --spectrum-helptext-l-neutral-texticon-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-helptext-l-neutral-texticon-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-helptext-l-neutral-texticon-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-l-neutral-texticon-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-helptext-l-neutral-texticon-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-l-neutral-texticon-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-l-neutral-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-l-neutral-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-l-neutral-texticon-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-l-neutral-texticon-text-transform: none;
  --spectrum-helptext-l-neutral-texticon-icon-size: var(--spectrum-alias-workflow-icon-size-l);
  --spectrum-helptext-l-neutral-texticon-icon-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-helptext-l-neutral-texticon-icon-padding-bottom: var(--spectrum-global-dimension-size-75);
  --spectrum-helptext-l-neutral-texticon-icon-gap: var(--spectrum-alias-item-workflow-icon-gap-l);
  --spectrum-helptext-l-neutral-texticon-text-size: var(--spectrum-alias-item-text-size-m);
  --spectrum-helptext-l-neutral-texticon-text-padding-top: var(--spectrum-alias-item-text-padding-top-m);
  --spectrum-helptext-l-neutral-texticon-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-m);
  --spectrum-helptext-l-neutral-texticon-height: var(--spectrum-alias-item-height-m);
  --spectrum-helptext-l-neutral-textonly-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-helptext-l-neutral-textonly-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-l-neutral-textonly-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-l-neutral-textonly-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-l-neutral-textonly-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-l-neutral-textonly-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-l-neutral-textonly-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-l-neutral-textonly-text-transform: none;
  --spectrum-helptext-l-neutral-textonly-text-size: var(--spectrum-alias-item-text-size-m);
  --spectrum-helptext-l-neutral-textonly-text-padding-top: var(--spectrum-alias-item-text-padding-top-m);
  --spectrum-helptext-l-neutral-textonly-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-m);
  --spectrum-helptext-l-neutral-textonly-height: var(--spectrum-alias-item-height-m);
  --spectrum-helptext-l-negative-texticon-text-color: var(--spectrum-semantic-negative-color-text-small);
  --spectrum-helptext-l-negative-texticon-icon-color: var(--spectrum-semantic-negative-color-icon);
  --spectrum-helptext-l-negative-texticon-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-l-negative-texticon-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-helptext-l-negative-texticon-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-l-negative-texticon-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-l-negative-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-l-negative-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-l-negative-texticon-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-l-negative-texticon-text-transform: none;
  --spectrum-helptext-l-negative-texticon-icon-size: var(--spectrum-alias-workflow-icon-size-l);
  --spectrum-helptext-l-negative-texticon-icon-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-helptext-l-negative-texticon-icon-padding-bottom: var(--spectrum-global-dimension-size-75);
  --spectrum-helptext-l-negative-texticon-icon-gap: var(--spectrum-alias-item-workflow-icon-gap-l);
  --spectrum-helptext-l-negative-texticon-text-size: var(--spectrum-alias-item-text-size-m);
  --spectrum-helptext-l-negative-texticon-text-padding-top: var(--spectrum-alias-item-text-padding-top-m);
  --spectrum-helptext-l-negative-texticon-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-m);
  --spectrum-helptext-l-negative-texticon-height: var(--spectrum-alias-item-height-m);
  --spectrum-helptext-l-negative-textonly-text-color: var(--spectrum-semantic-negative-color-text-small);
  --spectrum-helptext-l-negative-textonly-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-l-negative-textonly-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-l-negative-textonly-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-l-negative-textonly-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-l-negative-textonly-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-l-negative-textonly-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-l-negative-textonly-text-transform: none;
  --spectrum-helptext-l-negative-textonly-text-size: var(--spectrum-alias-item-text-size-m);
  --spectrum-helptext-l-negative-textonly-text-padding-top: var(--spectrum-alias-item-text-padding-top-m);
  --spectrum-helptext-l-negative-textonly-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-m);
  --spectrum-helptext-l-negative-textonly-height: var(--spectrum-alias-item-height-m);
  --spectrum-helptext-xl-neutral-texticon-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-helptext-xl-neutral-texticon-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-helptext-xl-neutral-texticon-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-xl-neutral-texticon-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-helptext-xl-neutral-texticon-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-xl-neutral-texticon-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-xl-neutral-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-xl-neutral-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-xl-neutral-texticon-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-xl-neutral-texticon-text-transform: none;
  --spectrum-helptext-xl-neutral-texticon-icon-size: var(--spectrum-alias-workflow-icon-size-xl);
  --spectrum-helptext-xl-neutral-texticon-icon-padding-top: var(--spectrum-global-dimension-size-115);
  --spectrum-helptext-xl-neutral-texticon-icon-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-helptext-xl-neutral-texticon-icon-gap: var(--spectrum-alias-item-workflow-icon-gap-xl);
  --spectrum-helptext-xl-neutral-texticon-text-size: var(--spectrum-alias-item-text-size-l);
  --spectrum-helptext-xl-neutral-texticon-text-padding-top: var(--spectrum-alias-item-text-padding-top-l);
  --spectrum-helptext-xl-neutral-texticon-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-l);
  --spectrum-helptext-xl-neutral-texticon-height: var(--spectrum-alias-item-height-l);
  --spectrum-helptext-xl-neutral-textonly-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-helptext-xl-neutral-textonly-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-xl-neutral-textonly-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-xl-neutral-textonly-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-xl-neutral-textonly-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-xl-neutral-textonly-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-xl-neutral-textonly-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-xl-neutral-textonly-text-transform: none;
  --spectrum-helptext-xl-neutral-textonly-text-size: var(--spectrum-alias-item-text-size-l);
  --spectrum-helptext-xl-neutral-textonly-text-padding-top: var(--spectrum-alias-item-text-padding-top-l);
  --spectrum-helptext-xl-neutral-textonly-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-l);
  --spectrum-helptext-xl-neutral-textonly-height: var(--spectrum-alias-item-height-l);
  --spectrum-helptext-xl-negative-texticon-text-color: var(--spectrum-semantic-negative-color-text-small);
  --spectrum-helptext-xl-negative-texticon-icon-color: var(--spectrum-semantic-negative-color-icon);
  --spectrum-helptext-xl-negative-texticon-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-xl-negative-texticon-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-helptext-xl-negative-texticon-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-xl-negative-texticon-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-xl-negative-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-xl-negative-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-xl-negative-texticon-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-xl-negative-texticon-text-transform: none;
  --spectrum-helptext-xl-negative-texticon-icon-size: var(--spectrum-alias-workflow-icon-size-xl);
  --spectrum-helptext-xl-negative-texticon-icon-padding-top: var(--spectrum-global-dimension-size-115);
  --spectrum-helptext-xl-negative-texticon-icon-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-helptext-xl-negative-texticon-icon-gap: var(--spectrum-alias-item-workflow-icon-gap-xl);
  --spectrum-helptext-xl-negative-texticon-text-size: var(--spectrum-alias-item-text-size-l);
  --spectrum-helptext-xl-negative-texticon-text-padding-top: var(--spectrum-alias-item-text-padding-top-l);
  --spectrum-helptext-xl-negative-texticon-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-l);
  --spectrum-helptext-xl-negative-texticon-height: var(--spectrum-alias-item-height-l);
  --spectrum-helptext-xl-negative-textonly-text-color: var(--spectrum-semantic-negative-color-text-small);
  --spectrum-helptext-xl-negative-textonly-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-helptext-xl-negative-textonly-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-helptext-xl-negative-textonly-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-helptext-xl-negative-textonly-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-helptext-xl-negative-textonly-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-helptext-xl-negative-textonly-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-helptext-xl-negative-textonly-text-transform: none;
  --spectrum-helptext-xl-negative-textonly-text-size: var(--spectrum-alias-item-text-size-l);
  --spectrum-helptext-xl-negative-textonly-text-padding-top: var(--spectrum-alias-item-text-padding-top-l);
  --spectrum-helptext-xl-negative-textonly-text-padding-bottom: var(--spectrum-alias-item-text-padding-bottom-l);
  --spectrum-helptext-xl-negative-textonly-height: var(--spectrum-alias-item-height-l);
}
