:root {
  --spectrum-closebutton-s-none-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-closebutton-s-none-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-s-none-focusring-render-disabled: no;
  --spectrum-closebutton-s-none-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-none-background-color-disabled: transparent;
  --spectrum-closebutton-s-none-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-closebutton-s-none-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-s-none-focusring-render: no;
  --spectrum-closebutton-s-none-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-none-background-color: transparent;
  --spectrum-closebutton-s-none-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-closebutton-s-none-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-s-none-focusring-render-down: no;
  --spectrum-closebutton-s-none-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-none-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-s-none-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-closebutton-s-none-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-s-none-focusring-render-hover: no;
  --spectrum-closebutton-s-none-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-none-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-closebutton-s-none-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-closebutton-s-none-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-closebutton-s-none-focusring-render-key-focus: yes;
  --spectrum-closebutton-s-none-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-s-none-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-s-none-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-closebutton-s-none-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-s-none-focusring-render-mouse-focus: no;
  --spectrum-closebutton-s-none-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-none-background-color-mouse-focus: transparent;
  --spectrum-closebutton-s-none-uiicon-type: ui-icon;
  --spectrum-closebutton-s-none-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-200);
  --spectrum-closebutton-s-none-uiicon-margin: 0;
  --spectrum-closebutton-s-none-focusring-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-none-focusring-type: focusring;
  --spectrum-closebutton-s-none-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-s-none-padding: 0;
  --spectrum-closebutton-s-none-size: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-none-layout: inline-row;
  --spectrum-closebutton-s-none-align-items: center;
  --spectrum-closebutton-s-none-justify-content: center;
  --spectrum-closebutton-s-none-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-white-uiicon-color-disabled: rgba(255,255,255,0.4);
  --spectrum-closebutton-s-white-focusring-border-color-disabled: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render-disabled: no;
  --spectrum-closebutton-s-white-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-white-background-color-disabled: transparent;
  --spectrum-closebutton-s-white-uiicon-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-border-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render: no;
  --spectrum-closebutton-s-white-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-white-background-color: transparent;
  --spectrum-closebutton-s-white-uiicon-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-border-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render-down: no;
  --spectrum-closebutton-s-white-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-white-background-color-down: rgba(255,255,255,0.4);
  --spectrum-closebutton-s-white-uiicon-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-border-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render-hover: no;
  --spectrum-closebutton-s-white-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-white-background-color-hover: rgba(255,255,255,0.25);
  --spectrum-closebutton-s-white-uiicon-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-border-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render-key-focus: yes;
  --spectrum-closebutton-s-white-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-s-white-background-color-key-focus: rgba(255,255,255,0.25);
  --spectrum-closebutton-s-white-uiicon-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-s-white-focusring-render-mouse-focus: no;
  --spectrum-closebutton-s-white-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-white-background-color-mouse-focus: transparent;
  --spectrum-closebutton-s-white-uiicon-type: ui-icon;
  --spectrum-closebutton-s-white-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-200);
  --spectrum-closebutton-s-white-uiicon-margin: 0;
  --spectrum-closebutton-s-white-focusring-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-white-focusring-type: focusring;
  --spectrum-closebutton-s-white-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-s-white-padding: 0;
  --spectrum-closebutton-s-white-size: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-white-layout: inline-row;
  --spectrum-closebutton-s-white-align-items: center;
  --spectrum-closebutton-s-white-justify-content: center;
  --spectrum-closebutton-s-white-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-black-uiicon-color-disabled: rgba(0,0,0,0.4);
  --spectrum-closebutton-s-black-focusring-border-color-disabled: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render-disabled: no;
  --spectrum-closebutton-s-black-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-black-background-color-disabled: transparent;
  --spectrum-closebutton-s-black-uiicon-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-border-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render: no;
  --spectrum-closebutton-s-black-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-black-background-color: transparent;
  --spectrum-closebutton-s-black-uiicon-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-border-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render-down: no;
  --spectrum-closebutton-s-black-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-black-background-color-down: rgba(0,0,0,0.4);
  --spectrum-closebutton-s-black-uiicon-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-border-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render-hover: no;
  --spectrum-closebutton-s-black-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-black-background-color-hover: rgba(0,0,0,0.25);
  --spectrum-closebutton-s-black-uiicon-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-border-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render-key-focus: yes;
  --spectrum-closebutton-s-black-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-s-black-background-color-key-focus: rgba(0,0,0,0.25);
  --spectrum-closebutton-s-black-uiicon-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-s-black-focusring-render-mouse-focus: no;
  --spectrum-closebutton-s-black-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-s-black-background-color-mouse-focus: transparent;
  --spectrum-closebutton-s-black-uiicon-type: ui-icon;
  --spectrum-closebutton-s-black-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-200);
  --spectrum-closebutton-s-black-uiicon-margin: 0;
  --spectrum-closebutton-s-black-focusring-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-black-focusring-type: focusring;
  --spectrum-closebutton-s-black-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-s-black-padding: 0;
  --spectrum-closebutton-s-black-size: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-s-black-layout: inline-row;
  --spectrum-closebutton-s-black-align-items: center;
  --spectrum-closebutton-s-black-justify-content: center;
  --spectrum-closebutton-s-black-border-radius: var(--spectrum-global-dimension-size-300);
  --spectrum-closebutton-m-none-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-closebutton-m-none-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-m-none-focusring-render-disabled: no;
  --spectrum-closebutton-m-none-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-none-background-color-disabled: transparent;
  --spectrum-closebutton-m-none-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-closebutton-m-none-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-m-none-focusring-render: no;
  --spectrum-closebutton-m-none-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-none-background-color: transparent;
  --spectrum-closebutton-m-none-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-closebutton-m-none-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-m-none-focusring-render-down: no;
  --spectrum-closebutton-m-none-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-none-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-m-none-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-closebutton-m-none-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-m-none-focusring-render-hover: no;
  --spectrum-closebutton-m-none-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-none-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-closebutton-m-none-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-closebutton-m-none-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-closebutton-m-none-focusring-render-key-focus: yes;
  --spectrum-closebutton-m-none-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-m-none-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-m-none-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-closebutton-m-none-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-m-none-focusring-render-mouse-focus: no;
  --spectrum-closebutton-m-none-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-none-background-color-mouse-focus: transparent;
  --spectrum-closebutton-m-none-uiicon-type: ui-icon;
  --spectrum-closebutton-m-none-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-300);
  --spectrum-closebutton-m-none-uiicon-margin: 0;
  --spectrum-closebutton-m-none-focusring-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-none-focusring-type: focusring;
  --spectrum-closebutton-m-none-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-m-none-padding: 0;
  --spectrum-closebutton-m-none-size: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-none-layout: inline-row;
  --spectrum-closebutton-m-none-align-items: center;
  --spectrum-closebutton-m-none-justify-content: center;
  --spectrum-closebutton-m-none-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-white-uiicon-color-disabled: rgba(255,255,255,0.4);
  --spectrum-closebutton-m-white-focusring-border-color-disabled: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render-disabled: no;
  --spectrum-closebutton-m-white-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-white-background-color-disabled: transparent;
  --spectrum-closebutton-m-white-uiicon-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-border-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render: no;
  --spectrum-closebutton-m-white-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-white-background-color: transparent;
  --spectrum-closebutton-m-white-uiicon-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-border-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render-down: no;
  --spectrum-closebutton-m-white-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-white-background-color-down: rgba(255,255,255,0.4);
  --spectrum-closebutton-m-white-uiicon-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-border-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render-hover: no;
  --spectrum-closebutton-m-white-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-white-background-color-hover: rgba(255,255,255,0.25);
  --spectrum-closebutton-m-white-uiicon-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-border-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render-key-focus: yes;
  --spectrum-closebutton-m-white-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-m-white-background-color-key-focus: rgba(255,255,255,0.25);
  --spectrum-closebutton-m-white-uiicon-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-m-white-focusring-render-mouse-focus: no;
  --spectrum-closebutton-m-white-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-white-background-color-mouse-focus: transparent;
  --spectrum-closebutton-m-white-uiicon-type: ui-icon;
  --spectrum-closebutton-m-white-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-300);
  --spectrum-closebutton-m-white-uiicon-margin: 0;
  --spectrum-closebutton-m-white-focusring-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-white-focusring-type: focusring;
  --spectrum-closebutton-m-white-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-m-white-padding: 0;
  --spectrum-closebutton-m-white-size: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-white-layout: inline-row;
  --spectrum-closebutton-m-white-align-items: center;
  --spectrum-closebutton-m-white-justify-content: center;
  --spectrum-closebutton-m-white-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-black-uiicon-color-disabled: rgba(0,0,0,0.4);
  --spectrum-closebutton-m-black-focusring-border-color-disabled: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render-disabled: no;
  --spectrum-closebutton-m-black-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-black-background-color-disabled: transparent;
  --spectrum-closebutton-m-black-uiicon-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-border-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render: no;
  --spectrum-closebutton-m-black-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-black-background-color: transparent;
  --spectrum-closebutton-m-black-uiicon-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-border-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render-down: no;
  --spectrum-closebutton-m-black-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-black-background-color-down: rgba(0,0,0,0.4);
  --spectrum-closebutton-m-black-uiicon-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-border-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render-hover: no;
  --spectrum-closebutton-m-black-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-black-background-color-hover: rgba(0,0,0,0.25);
  --spectrum-closebutton-m-black-uiicon-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-border-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render-key-focus: yes;
  --spectrum-closebutton-m-black-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-m-black-background-color-key-focus: rgba(0,0,0,0.25);
  --spectrum-closebutton-m-black-uiicon-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-m-black-focusring-render-mouse-focus: no;
  --spectrum-closebutton-m-black-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-m-black-background-color-mouse-focus: transparent;
  --spectrum-closebutton-m-black-uiicon-type: ui-icon;
  --spectrum-closebutton-m-black-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-300);
  --spectrum-closebutton-m-black-uiicon-margin: 0;
  --spectrum-closebutton-m-black-focusring-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-black-focusring-type: focusring;
  --spectrum-closebutton-m-black-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-m-black-padding: 0;
  --spectrum-closebutton-m-black-size: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-m-black-layout: inline-row;
  --spectrum-closebutton-m-black-align-items: center;
  --spectrum-closebutton-m-black-justify-content: center;
  --spectrum-closebutton-m-black-border-radius: var(--spectrum-global-dimension-size-400);
  --spectrum-closebutton-l-none-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-closebutton-l-none-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-l-none-focusring-render-disabled: no;
  --spectrum-closebutton-l-none-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-none-background-color-disabled: transparent;
  --spectrum-closebutton-l-none-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-closebutton-l-none-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-l-none-focusring-render: no;
  --spectrum-closebutton-l-none-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-none-background-color: transparent;
  --spectrum-closebutton-l-none-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-closebutton-l-none-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-l-none-focusring-render-down: no;
  --spectrum-closebutton-l-none-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-none-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-l-none-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-closebutton-l-none-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-l-none-focusring-render-hover: no;
  --spectrum-closebutton-l-none-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-none-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-closebutton-l-none-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-closebutton-l-none-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-closebutton-l-none-focusring-render-key-focus: yes;
  --spectrum-closebutton-l-none-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-l-none-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-l-none-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-closebutton-l-none-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-l-none-focusring-render-mouse-focus: no;
  --spectrum-closebutton-l-none-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-none-background-color-mouse-focus: transparent;
  --spectrum-closebutton-l-none-uiicon-type: ui-icon;
  --spectrum-closebutton-l-none-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-400);
  --spectrum-closebutton-l-none-uiicon-margin: 0;
  --spectrum-closebutton-l-none-focusring-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-none-focusring-type: focusring;
  --spectrum-closebutton-l-none-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-l-none-padding: 0;
  --spectrum-closebutton-l-none-size: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-none-layout: inline-row;
  --spectrum-closebutton-l-none-align-items: center;
  --spectrum-closebutton-l-none-justify-content: center;
  --spectrum-closebutton-l-none-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-white-uiicon-color-disabled: rgba(255,255,255,0.4);
  --spectrum-closebutton-l-white-focusring-border-color-disabled: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render-disabled: no;
  --spectrum-closebutton-l-white-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-white-background-color-disabled: transparent;
  --spectrum-closebutton-l-white-uiicon-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-border-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render: no;
  --spectrum-closebutton-l-white-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-white-background-color: transparent;
  --spectrum-closebutton-l-white-uiicon-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-border-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render-down: no;
  --spectrum-closebutton-l-white-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-white-background-color-down: rgba(255,255,255,0.4);
  --spectrum-closebutton-l-white-uiicon-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-border-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render-hover: no;
  --spectrum-closebutton-l-white-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-white-background-color-hover: rgba(255,255,255,0.25);
  --spectrum-closebutton-l-white-uiicon-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-border-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render-key-focus: yes;
  --spectrum-closebutton-l-white-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-l-white-background-color-key-focus: rgba(255,255,255,0.25);
  --spectrum-closebutton-l-white-uiicon-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-l-white-focusring-render-mouse-focus: no;
  --spectrum-closebutton-l-white-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-white-background-color-mouse-focus: transparent;
  --spectrum-closebutton-l-white-uiicon-type: ui-icon;
  --spectrum-closebutton-l-white-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-400);
  --spectrum-closebutton-l-white-uiicon-margin: 0;
  --spectrum-closebutton-l-white-focusring-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-white-focusring-type: focusring;
  --spectrum-closebutton-l-white-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-l-white-padding: 0;
  --spectrum-closebutton-l-white-size: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-white-layout: inline-row;
  --spectrum-closebutton-l-white-align-items: center;
  --spectrum-closebutton-l-white-justify-content: center;
  --spectrum-closebutton-l-white-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-black-uiicon-color-disabled: rgba(0,0,0,0.4);
  --spectrum-closebutton-l-black-focusring-border-color-disabled: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render-disabled: no;
  --spectrum-closebutton-l-black-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-black-background-color-disabled: transparent;
  --spectrum-closebutton-l-black-uiicon-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-border-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render: no;
  --spectrum-closebutton-l-black-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-black-background-color: transparent;
  --spectrum-closebutton-l-black-uiicon-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-border-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render-down: no;
  --spectrum-closebutton-l-black-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-black-background-color-down: rgba(0,0,0,0.4);
  --spectrum-closebutton-l-black-uiicon-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-border-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render-hover: no;
  --spectrum-closebutton-l-black-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-black-background-color-hover: rgba(0,0,0,0.25);
  --spectrum-closebutton-l-black-uiicon-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-border-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render-key-focus: yes;
  --spectrum-closebutton-l-black-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-l-black-background-color-key-focus: rgba(0,0,0,0.25);
  --spectrum-closebutton-l-black-uiicon-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-l-black-focusring-render-mouse-focus: no;
  --spectrum-closebutton-l-black-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-l-black-background-color-mouse-focus: transparent;
  --spectrum-closebutton-l-black-uiicon-type: ui-icon;
  --spectrum-closebutton-l-black-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-400);
  --spectrum-closebutton-l-black-uiicon-margin: 0;
  --spectrum-closebutton-l-black-focusring-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-black-focusring-type: focusring;
  --spectrum-closebutton-l-black-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-l-black-padding: 0;
  --spectrum-closebutton-l-black-size: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-l-black-layout: inline-row;
  --spectrum-closebutton-l-black-align-items: center;
  --spectrum-closebutton-l-black-justify-content: center;
  --spectrum-closebutton-l-black-border-radius: var(--spectrum-global-dimension-size-500);
  --spectrum-closebutton-xl-none-uiicon-color-disabled: var(--spectrum-alias-component-icon-color-disabled);
  --spectrum-closebutton-xl-none-focusring-border-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-xl-none-focusring-render-disabled: no;
  --spectrum-closebutton-xl-none-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-none-background-color-disabled: transparent;
  --spectrum-closebutton-xl-none-uiicon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-closebutton-xl-none-focusring-border-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-xl-none-focusring-render: no;
  --spectrum-closebutton-xl-none-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-none-background-color: transparent;
  --spectrum-closebutton-xl-none-uiicon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-closebutton-xl-none-focusring-border-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-xl-none-focusring-render-down: no;
  --spectrum-closebutton-xl-none-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-none-background-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-xl-none-uiicon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-closebutton-xl-none-focusring-border-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-xl-none-focusring-render-hover: no;
  --spectrum-closebutton-xl-none-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-none-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-closebutton-xl-none-uiicon-color-key-focus: var(--spectrum-alias-component-icon-color-key-focus);
  --spectrum-closebutton-xl-none-focusring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-closebutton-xl-none-focusring-render-key-focus: yes;
  --spectrum-closebutton-xl-none-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-xl-none-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-closebutton-xl-none-uiicon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-closebutton-xl-none-focusring-border-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-closebutton-xl-none-focusring-render-mouse-focus: no;
  --spectrum-closebutton-xl-none-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-none-background-color-mouse-focus: transparent;
  --spectrum-closebutton-xl-none-uiicon-type: ui-icon;
  --spectrum-closebutton-xl-none-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-500);
  --spectrum-closebutton-xl-none-uiicon-margin: 0;
  --spectrum-closebutton-xl-none-focusring-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-none-focusring-type: focusring;
  --spectrum-closebutton-xl-none-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-xl-none-padding: 0;
  --spectrum-closebutton-xl-none-size: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-none-layout: inline-row;
  --spectrum-closebutton-xl-none-align-items: center;
  --spectrum-closebutton-xl-none-justify-content: center;
  --spectrum-closebutton-xl-none-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-white-uiicon-color-disabled: rgba(255,255,255,0.4);
  --spectrum-closebutton-xl-white-focusring-border-color-disabled: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render-disabled: no;
  --spectrum-closebutton-xl-white-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-white-background-color-disabled: transparent;
  --spectrum-closebutton-xl-white-uiicon-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-border-color: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render: no;
  --spectrum-closebutton-xl-white-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-white-background-color: transparent;
  --spectrum-closebutton-xl-white-uiicon-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-border-color-down: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render-down: no;
  --spectrum-closebutton-xl-white-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-white-background-color-down: rgba(255,255,255,0.4);
  --spectrum-closebutton-xl-white-uiicon-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-border-color-hover: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render-hover: no;
  --spectrum-closebutton-xl-white-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-white-background-color-hover: rgba(255,255,255,0.25);
  --spectrum-closebutton-xl-white-uiicon-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-border-color-key-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render-key-focus: yes;
  --spectrum-closebutton-xl-white-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-xl-white-background-color-key-focus: rgba(255,255,255,0.25);
  --spectrum-closebutton-xl-white-uiicon-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-white);
  --spectrum-closebutton-xl-white-focusring-render-mouse-focus: no;
  --spectrum-closebutton-xl-white-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-white-background-color-mouse-focus: transparent;
  --spectrum-closebutton-xl-white-uiicon-type: ui-icon;
  --spectrum-closebutton-xl-white-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-500);
  --spectrum-closebutton-xl-white-uiicon-margin: 0;
  --spectrum-closebutton-xl-white-focusring-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-white-focusring-type: focusring;
  --spectrum-closebutton-xl-white-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-xl-white-padding: 0;
  --spectrum-closebutton-xl-white-size: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-white-layout: inline-row;
  --spectrum-closebutton-xl-white-align-items: center;
  --spectrum-closebutton-xl-white-justify-content: center;
  --spectrum-closebutton-xl-white-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-black-uiicon-color-disabled: rgba(0,0,0,0.4);
  --spectrum-closebutton-xl-black-focusring-border-color-disabled: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render-disabled: no;
  --spectrum-closebutton-xl-black-focusring-gap-disabled: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-black-background-color-disabled: transparent;
  --spectrum-closebutton-xl-black-uiicon-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-border-color: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render: no;
  --spectrum-closebutton-xl-black-focusring-gap: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-black-background-color: transparent;
  --spectrum-closebutton-xl-black-uiicon-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-border-color-down: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render-down: no;
  --spectrum-closebutton-xl-black-focusring-gap-down: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-black-background-color-down: rgba(0,0,0,0.4);
  --spectrum-closebutton-xl-black-uiicon-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-border-color-hover: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render-hover: no;
  --spectrum-closebutton-xl-black-focusring-gap-hover: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-black-background-color-hover: rgba(0,0,0,0.25);
  --spectrum-closebutton-xl-black-uiicon-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-border-color-key-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render-key-focus: yes;
  --spectrum-closebutton-xl-black-focusring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-closebutton-xl-black-background-color-key-focus: rgba(0,0,0,0.25);
  --spectrum-closebutton-xl-black-uiicon-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-border-color-mouse-focus: var(--spectrum-global-color-static-black);
  --spectrum-closebutton-xl-black-focusring-render-mouse-focus: no;
  --spectrum-closebutton-xl-black-focusring-gap-mouse-focus: var(--spectrum-global-dimension-static-size-0);
  --spectrum-closebutton-xl-black-background-color-mouse-focus: transparent;
  --spectrum-closebutton-xl-black-uiicon-type: ui-icon;
  --spectrum-closebutton-xl-black-uiicon-size: var(--spectrum-alias-ui-icon-cross-size-500);
  --spectrum-closebutton-xl-black-uiicon-margin: 0;
  --spectrum-closebutton-xl-black-focusring-border-radius: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-black-focusring-type: focusring;
  --spectrum-closebutton-xl-black-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-closebutton-xl-black-padding: 0;
  --spectrum-closebutton-xl-black-size: var(--spectrum-global-dimension-size-600);
  --spectrum-closebutton-xl-black-layout: inline-row;
  --spectrum-closebutton-xl-black-align-items: center;
  --spectrum-closebutton-xl-black-justify-content: center;
  --spectrum-closebutton-xl-black-border-radius: var(--spectrum-global-dimension-size-600);
}
