:root {
  --spectrum-tooltip-neutral-text-color: var(--spectrum-global-color-static-white);
  --spectrum-tooltip-neutral-tip-color: var(--spectrum-semantic-neutral-background-color-default);
  --spectrum-tooltip-neutral-icon-color: var(--spectrum-global-color-static-white);
  --spectrum-tooltip-neutral-border-color: transparent;
  --spectrum-tooltip-neutral-background-color: var(--spectrum-semantic-neutral-background-color-default);
  --spectrum-tooltip-neutral-padding-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-neutral-text-baseline: var(--spectrum-global-dimension-size-100);
  --spectrum-tooltip-neutral-text-transform: none;
  --spectrum-tooltip-neutral-text-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-tooltip-neutral-text-margin-top: var(--spectrum-global-dimension-static-size-50);
  --spectrum-tooltip-neutral-text-padding-top: 0;
  --spectrum-tooltip-neutral-text-padding-bottom: 0;
  --spectrum-tooltip-neutral-text-render: yes;
  --spectrum-tooltip-neutral-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-tooltip-neutral-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-tooltip-neutral-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tooltip-neutral-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tooltip-neutral-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-tooltip-neutral-text-text-transform: none;
  --spectrum-tooltip-neutral-text-font-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-tooltip-neutral-tip-render: no;
  --spectrum-tooltip-neutral-tip-width: var(--spectrum-global-dimension-size-100);
  --spectrum-tooltip-neutral-tip-height: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-neutral-tip-margin: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-neutral-icon-margin-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-neutral-icon-margin-right: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-neutral-icon-margin-y: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-neutral-icon-type: icon;
  --spectrum-tooltip-neutral-icon-render: no;
  --spectrum-tooltip-neutral-icon-size: var(--spectrum-global-dimension-size-200);
  --spectrum-tooltip-neutral-icon-margin-top: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-neutral-icon-margin-bottom: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-neutral-icon-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-neutral-layout: inline-row;
  --spectrum-tooltip-neutral-min-width: var(--spectrum-global-dimension-size-300);
  --spectrum-tooltip-neutral-max-width: var(--spectrum-global-dimension-size-2000);
  --spectrum-tooltip-neutral-height: auto;
  --spectrum-tooltip-neutral-min-height: var(--spectrum-global-dimension-size-300);
  --spectrum-tooltip-neutral-border-size: var(--spectrum-global-dimension-size-0);
  --spectrum-tooltip-neutral-padding-left: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-neutral-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-neutral-border-radius: var(--spectrum-alias-component-border-radius);
  --spectrum-tooltip-neutral-padding-right: var(--spectrum-global-dimension-size-115);
  --spectrum-tooltip-neutral-entry-animation-delay: var(--spectrum-global-animation-duration-0);
  --spectrum-tooltip-neutral-entry-animation-warmup-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-neutral-entry-animation-duration: var(--spectrum-global-animation-duration-200);
  --spectrum-tooltip-neutral-entry-animation-distance: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-neutral-entry-animation-ease: var(--spectrum-global-animation-ease-out);
  --spectrum-tooltip-neutral-entry-animation-properties: opacity, distance;
  --spectrum-tooltip-neutral-exit-animation-delay: var(--spectrum-global-animation-duration-0);
  --spectrum-tooltip-neutral-exit-animation-warmup-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-neutral-exit-animation-duration: var(--spectrum-global-animation-duration-200);
  --spectrum-tooltip-neutral-exit-animation-distance: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-neutral-exit-animation-ease: var(--spectrum-global-animation-ease-out);
  --spectrum-tooltip-neutral-exit-animation-properties: opacity, distance;
  --spectrum-tooltip-neutral-entry-warmup-animation-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-neutral-exit-warmup-animation-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-info-text-color: var(--spectrum-global-color-static-white);
  --spectrum-tooltip-info-tip-color: var(--spectrum-semantic-informative-background-color);
  --spectrum-tooltip-info-icon-color: var(--spectrum-global-color-static-white);
  --spectrum-tooltip-info-border-color: transparent;
  --spectrum-tooltip-info-background-color: var(--spectrum-semantic-informative-background-color);
  --spectrum-tooltip-info-padding-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-info-text-baseline: var(--spectrum-global-dimension-size-100);
  --spectrum-tooltip-info-text-transform: none;
  --spectrum-tooltip-info-text-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-tooltip-info-text-margin-top: var(--spectrum-global-dimension-static-size-50);
  --spectrum-tooltip-info-text-padding-top: 0;
  --spectrum-tooltip-info-text-padding-bottom: 0;
  --spectrum-tooltip-info-text-render: yes;
  --spectrum-tooltip-info-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-tooltip-info-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-tooltip-info-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tooltip-info-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tooltip-info-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-tooltip-info-text-text-transform: none;
  --spectrum-tooltip-info-text-font-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-tooltip-info-tip-render: no;
  --spectrum-tooltip-info-tip-width: var(--spectrum-global-dimension-size-100);
  --spectrum-tooltip-info-tip-height: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-info-tip-margin: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-info-icon-margin-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-info-icon-margin-right: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-info-icon-margin-y: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-info-icon-type: icon;
  --spectrum-tooltip-info-icon-render: yes;
  --spectrum-tooltip-info-icon-size: var(--spectrum-global-dimension-size-200);
  --spectrum-tooltip-info-icon-margin-top: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-info-icon-margin-bottom: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-info-icon-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-info-layout: inline-row;
  --spectrum-tooltip-info-min-width: var(--spectrum-global-dimension-size-300);
  --spectrum-tooltip-info-max-width: var(--spectrum-global-dimension-size-2000);
  --spectrum-tooltip-info-height: auto;
  --spectrum-tooltip-info-min-height: var(--spectrum-global-dimension-size-300);
  --spectrum-tooltip-info-border-size: var(--spectrum-global-dimension-size-0);
  --spectrum-tooltip-info-padding-left: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-info-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-info-border-radius: var(--spectrum-alias-component-border-radius);
  --spectrum-tooltip-info-padding-right: var(--spectrum-global-dimension-size-115);
  --spectrum-tooltip-info-entry-animation-delay: var(--spectrum-global-animation-duration-0);
  --spectrum-tooltip-info-entry-animation-warmup-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-info-entry-animation-duration: var(--spectrum-global-animation-duration-200);
  --spectrum-tooltip-info-entry-animation-distance: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-info-entry-animation-ease: var(--spectrum-global-animation-ease-out);
  --spectrum-tooltip-info-entry-animation-properties: opacity, distance;
  --spectrum-tooltip-info-exit-animation-delay: var(--spectrum-global-animation-duration-0);
  --spectrum-tooltip-info-exit-animation-warmup-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-info-exit-animation-duration: var(--spectrum-global-animation-duration-200);
  --spectrum-tooltip-info-exit-animation-distance: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-info-exit-animation-ease: var(--spectrum-global-animation-ease-out);
  --spectrum-tooltip-info-exit-animation-properties: opacity, distance;
  --spectrum-tooltip-info-entry-warmup-animation-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-info-exit-warmup-animation-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-positive-text-color: var(--spectrum-global-color-static-white);
  --spectrum-tooltip-positive-tip-color: var(--spectrum-semantic-positive-background-color);
  --spectrum-tooltip-positive-icon-color: var(--spectrum-global-color-static-white);
  --spectrum-tooltip-positive-border-color: transparent;
  --spectrum-tooltip-positive-background-color: var(--spectrum-semantic-positive-background-color);
  --spectrum-tooltip-positive-padding-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-positive-text-baseline: var(--spectrum-global-dimension-size-100);
  --spectrum-tooltip-positive-text-transform: none;
  --spectrum-tooltip-positive-text-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-tooltip-positive-text-margin-top: var(--spectrum-global-dimension-static-size-50);
  --spectrum-tooltip-positive-text-padding-top: 0;
  --spectrum-tooltip-positive-text-padding-bottom: 0;
  --spectrum-tooltip-positive-text-render: yes;
  --spectrum-tooltip-positive-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-tooltip-positive-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-tooltip-positive-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tooltip-positive-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tooltip-positive-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-tooltip-positive-text-text-transform: none;
  --spectrum-tooltip-positive-text-font-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-tooltip-positive-tip-render: no;
  --spectrum-tooltip-positive-tip-width: var(--spectrum-global-dimension-size-100);
  --spectrum-tooltip-positive-tip-height: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-positive-tip-margin: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-positive-icon-margin-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-positive-icon-margin-right: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-positive-icon-margin-y: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-positive-icon-type: icon;
  --spectrum-tooltip-positive-icon-render: yes;
  --spectrum-tooltip-positive-icon-size: var(--spectrum-global-dimension-size-200);
  --spectrum-tooltip-positive-icon-margin-top: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-positive-icon-margin-bottom: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-positive-icon-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-positive-layout: inline-row;
  --spectrum-tooltip-positive-min-width: var(--spectrum-global-dimension-size-300);
  --spectrum-tooltip-positive-max-width: var(--spectrum-global-dimension-size-2000);
  --spectrum-tooltip-positive-height: auto;
  --spectrum-tooltip-positive-min-height: var(--spectrum-global-dimension-size-300);
  --spectrum-tooltip-positive-border-size: var(--spectrum-global-dimension-size-0);
  --spectrum-tooltip-positive-padding-left: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-positive-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-positive-border-radius: var(--spectrum-alias-component-border-radius);
  --spectrum-tooltip-positive-padding-right: var(--spectrum-global-dimension-size-115);
  --spectrum-tooltip-positive-entry-animation-delay: var(--spectrum-global-animation-duration-0);
  --spectrum-tooltip-positive-entry-animation-warmup-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-positive-entry-animation-duration: var(--spectrum-global-animation-duration-200);
  --spectrum-tooltip-positive-entry-animation-distance: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-positive-entry-animation-ease: var(--spectrum-global-animation-ease-out);
  --spectrum-tooltip-positive-entry-animation-properties: opacity, distance;
  --spectrum-tooltip-positive-exit-animation-delay: var(--spectrum-global-animation-duration-0);
  --spectrum-tooltip-positive-exit-animation-warmup-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-positive-exit-animation-duration: var(--spectrum-global-animation-duration-200);
  --spectrum-tooltip-positive-exit-animation-distance: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-positive-exit-animation-ease: var(--spectrum-global-animation-ease-out);
  --spectrum-tooltip-positive-exit-animation-properties: opacity, distance;
  --spectrum-tooltip-positive-entry-warmup-animation-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-positive-exit-warmup-animation-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-negative-text-color: var(--spectrum-global-color-static-white);
  --spectrum-tooltip-negative-tip-color: var(--spectrum-semantic-negative-background-color);
  --spectrum-tooltip-negative-icon-color: var(--spectrum-global-color-static-white);
  --spectrum-tooltip-negative-border-color: transparent;
  --spectrum-tooltip-negative-background-color: var(--spectrum-semantic-negative-background-color);
  --spectrum-tooltip-negative-padding-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-negative-text-baseline: var(--spectrum-global-dimension-size-100);
  --spectrum-tooltip-negative-text-transform: none;
  --spectrum-tooltip-negative-text-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-tooltip-negative-text-margin-top: var(--spectrum-global-dimension-static-size-50);
  --spectrum-tooltip-negative-text-padding-top: 0;
  --spectrum-tooltip-negative-text-padding-bottom: 0;
  --spectrum-tooltip-negative-text-render: yes;
  --spectrum-tooltip-negative-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-tooltip-negative-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-tooltip-negative-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tooltip-negative-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tooltip-negative-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-tooltip-negative-text-text-transform: none;
  --spectrum-tooltip-negative-text-font-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-tooltip-negative-tip-render: no;
  --spectrum-tooltip-negative-tip-width: var(--spectrum-global-dimension-size-100);
  --spectrum-tooltip-negative-tip-height: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-negative-tip-margin: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-negative-icon-margin-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-negative-icon-margin-right: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-negative-icon-margin-y: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-negative-icon-type: icon;
  --spectrum-tooltip-negative-icon-render: yes;
  --spectrum-tooltip-negative-icon-size: var(--spectrum-global-dimension-size-200);
  --spectrum-tooltip-negative-icon-margin-top: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-negative-icon-margin-bottom: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-negative-icon-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-negative-layout: inline-row;
  --spectrum-tooltip-negative-min-width: var(--spectrum-global-dimension-size-300);
  --spectrum-tooltip-negative-max-width: var(--spectrum-global-dimension-size-2000);
  --spectrum-tooltip-negative-height: auto;
  --spectrum-tooltip-negative-min-height: var(--spectrum-global-dimension-size-300);
  --spectrum-tooltip-negative-border-size: var(--spectrum-global-dimension-size-0);
  --spectrum-tooltip-negative-padding-left: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-negative-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tooltip-negative-border-radius: var(--spectrum-alias-component-border-radius);
  --spectrum-tooltip-negative-padding-right: var(--spectrum-global-dimension-size-115);
  --spectrum-tooltip-negative-entry-animation-delay: var(--spectrum-global-animation-duration-0);
  --spectrum-tooltip-negative-entry-animation-warmup-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-negative-entry-animation-duration: var(--spectrum-global-animation-duration-200);
  --spectrum-tooltip-negative-entry-animation-distance: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-negative-entry-animation-ease: var(--spectrum-global-animation-ease-out);
  --spectrum-tooltip-negative-entry-animation-properties: opacity, distance;
  --spectrum-tooltip-negative-exit-animation-delay: var(--spectrum-global-animation-duration-0);
  --spectrum-tooltip-negative-exit-animation-warmup-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-negative-exit-animation-duration: var(--spectrum-global-animation-duration-200);
  --spectrum-tooltip-negative-exit-animation-distance: var(--spectrum-global-dimension-size-50);
  --spectrum-tooltip-negative-exit-animation-ease: var(--spectrum-global-animation-ease-out);
  --spectrum-tooltip-negative-exit-animation-properties: opacity, distance;
  --spectrum-tooltip-negative-entry-warmup-animation-delay: var(--spectrum-global-animation-duration-4000);
  --spectrum-tooltip-negative-exit-warmup-animation-delay: var(--spectrum-global-animation-duration-4000);
}
