:root {
  --spectrum-accordion-border-color: var(--spectrum-global-color-gray-300);
  --spectrum-accordion-icon-color: var(--spectrum-global-color-gray-600);
  --spectrum-accordion-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-accordion-item-border-left-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-item-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-border-color-hover: var(--spectrum-global-color-gray-300);
  --spectrum-accordion-icon-color-hover: var(--spectrum-global-color-gray-800);
  --spectrum-accordion-text-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-accordion-item-border-left-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-item-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-accordion-border-color-down: var(--spectrum-global-color-gray-300);
  --spectrum-accordion-icon-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-accordion-text-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-accordion-item-border-left-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-item-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-border-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-accordion-icon-color-key-focus: var(--spectrum-global-color-gray-800);
  --spectrum-accordion-text-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-accordion-item-border-left-color-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-accordion-item-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-border-color-disabled: var(--spectrum-global-color-gray-300);
  --spectrum-accordion-icon-color-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-accordion-text-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-accordion-item-border-left-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-item-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-accordion-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-accordion-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-accordion-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-accordion-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-accordion-text-transform: none;
  --spectrum-accordion-item-height: 40px;
  --spectrum-accordion-item-padding-x: var(--spectrum-global-dimension-size-225);
  --spectrum-accordion-item-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-accordion-icon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-accordion-icon-width: var(--spectrum-global-dimension-size-75);
  --spectrum-accordion-icon-height: var(--spectrum-global-dimension-size-125);
  --spectrum-accordion-item-title-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-accordion-item-title-tracking: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-accordion-item-content-padding: var(--spectrum-global-dimension-size-200);
  --spectrum-accordion-item-border-left-size: var(--spectrum-alias-border-size-thick);
}
