:root {
  --spectrum-accordion-item-title-text-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-accordion-item-border-left-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-item-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-text-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-accordion-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-accordion-item-title-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-accordion-item-border-left-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-item-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-accordion-icon-color: var(--spectrum-global-color-gray-600);
  --spectrum-accordion-item-title-text-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-accordion-item-border-left-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-item-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-text-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-accordion-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-accordion-item-title-text-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-accordion-item-border-left-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-item-background-color-hover: var(--spectrum-global-color-gray-200);
  --spectrum-accordion-text-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-accordion-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-accordion-item-title-text-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-accordion-item-border-left-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-accordion-item-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-text-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-accordion-icon-color-key-focus: var(--spectrum-alias-icon-color-hover);
  --spectrum-accordion-item-title-text-color-mouse-focus: var(--spectrum-global-color-gray-700);
  --spectrum-accordion-item-border-left-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-item-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-accordion-text-color-mouse-focus: var(--spectrum-global-color-gray-700);
  --spectrum-accordion-icon-color-mouse-focus: var(--spectrum-global-color-gray-600);
  --spectrum-accordion-item-title-color: var(--spectrum-alias-heading-text-color);
  --spectrum-accordion-border-color: var(--spectrum-global-color-gray-300);
  --spectrum-accordion-item-title-tracking: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-accordion-item-title-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-accordion-item-title-font-weight: var(--spectrum-alias-detail-text-font-weight-regular);
  --spectrum-accordion-item-title-font-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-accordion-item-title-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-accordion-item-title-text-transform: uppercase;
  --spectrum-accordion-item-title-margin-top: 0px;
  --spectrum-accordion-item-title-margin-bottom-multiplier: var(--spectrum-alias-body-margin-bottom);
  --spectrum-accordion-item-title-margin-bottom: var(--spectrum-global-dimension-size-100);
  --spectrum-accordion-item-title-line-height: var(--spectrum-alias-heading-text-line-height);
  --spectrum-accordion-item-title-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-accordion-item-title-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-accordion-item-content-padding: var(--spectrum-global-dimension-size-200);
  --spectrum-accordion-item-height: var(--spectrum-global-dimension-static-size-500);
  --spectrum-accordion-item-padding-x: var(--spectrum-global-dimension-size-225);
  --spectrum-accordion-item-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-accordion-item-border-left-size: var(--spectrum-alias-border-size-thick);
  --spectrum-accordion-text-transform: none;
  --spectrum-accordion-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-accordion-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-accordion-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-accordion-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-accordion-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-accordion-text-text-transform: none;
  --spectrum-accordion-text-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-accordion-icon-width: var(--spectrum-global-dimension-size-75);
  --spectrum-accordion-icon-height: var(--spectrum-global-dimension-size-125);
  --spectrum-accordion-icon-gap: var(--spectrum-global-dimension-size-100);
}
