:root {
  --prefix-component-background-color: blue;

  --prefix-component-width: 10px;
  --prefix-component-height: 10px;
  --prefix-component-size: 10px;

  --prefix-component-width: 12px;
  --prefix-component-height: 12px;
}
