/* topdoc
{{ cyclebutton/cyclebutton-default.yml }}
*/

.spectrum-CycleButton {
  background-color: var(--spectrum-cyclebutton-background-color);

  .spectrum-Icon {
    color: var(--spectrum-cyclebutton-icon-color);
  }

  &:hover {
    .spectrum-Icon {
      color: var(--spectrum-cyclebutton-icon-color-hover);
    }
  }

  &:active {
    background-color: var(--spectrum-cyclebutton-background-color-down);
    .spectrum-Icon {
      color: var(--spectrum-cyclebutton-icon-color-down);
    }
  }

  &:focus-ring {
    /* we cannot achieve rounded corners with outline so we use box-shadow instead */
    box-shadow: 0px 0px 0px 2px var(--spectrum-cyclebutton-border-color-key-focus) inset;

    .spectrum-Icon {
      color: var(--spectrum-cyclebutton-icon-color-hover);
    }
  }
}
