/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import "../commons/basebutton-coretokens.css";

.spectrum-ActionButton {
  --spectrum-actionbutton-animation-duration: var(--spectrum-animation-duration-100);
  --spectrum-actionbutton-border-radius: var(--spectrum-corner-radius-100);
  --spectrum-actionbutton-border-width: var(--spectrum-border-width-100);

  --spectrum-actionbutton-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
  --spectrum-actionbutton-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
  --spectrum-actionbutton-focus-indicator-color: var(--spectrum-focus-indicator-color);
  --spectrum-actionbutton-focus-indicator-border-radius: calc(var(--spectrum-actionbutton-border-radius) + var(--spectrum-actionbutton-focus-indicator-gap));
}

.spectrum-ActionButton--sizeXS {
  --spectrum-actionbutton-min-width: calc((var(--spectrum-component-edge-to-visual-only-75) * 2) + var(--spectrum-workflow-icon-size-75));
  --spectrum-actionbutton-height: var(--spectrum-component-height-50);

  --spectrum-actionbutton-icon-size: var(--spectrum-workflow-icon-size-50);
  --spectrum-actionbutton-font-size: var(--spectrum-font-size-50);
  --spectrum-actionbutton-text-to-visual: var(--spectrum-text-to-visual-50);
  --spectrum-actionbutton-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-extra-small);
  --spectrum-actionbutton-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-50) - var(--spectrum-actionbutton-border-width));
  --spectrum-actionbutton-edge-to-text: calc(var(--spectrum-component-edge-to-text-50) - var(--spectrum-actionbutton-border-width));
  --spectrum-actionbutton-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-50) - var(--spectrum-actionbutton-border-width));
}

.spectrum-ActionButton--sizeS {
  --spectrum-actionbutton-min-width: calc((var(--spectrum-component-edge-to-visual-only-75) * 2) + var(--spectrum-workflow-icon-size-75));
  --spectrum-actionbutton-height: var(--spectrum-component-height-75);

  --spectrum-actionbutton-icon-size: var(--spectrum-workflow-icon-size-75);
  --spectrum-actionbutton-font-size: var(--spectrum-font-size-75);
  --spectrum-actionbutton-text-to-visual: var(--spectrum-text-to-visual-75);
  --spectrum-actionbutton-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-small);
  --spectrum-actionbutton-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-75) - var(--spectrum-actionbutton-border-width));
  --spectrum-actionbutton-edge-to-text: calc(var(--spectrum-component-edge-to-text-75) - var(--spectrum-actionbutton-border-width));
  --spectrum-actionbutton-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-75) - var(--spectrum-actionbutton-border-width));
}

.spectrum-ActionButton--sizeM {
  --spectrum-actionbutton-min-width: calc((var(--spectrum-component-edge-to-visual-only-100) * 2) + var(--spectrum-workflow-icon-size-100));
  --spectrum-actionbutton-height: var(--spectrum-component-height-100);

  --spectrum-actionbutton-icon-size: var(--spectrum-workflow-icon-size-100);
  --spectrum-actionbutton-font-size: var(--spectrum-font-size-100);
  --spectrum-actionbutton-text-to-visual: var(--spectrum-text-to-visual-100);
  --spectrum-actionbutton-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-medium);
  --spectrum-actionbutton-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-100) - var(--spectrum-actionbutton-border-width));
  --spectrum-actionbutton-edge-to-text: calc(var(--spectrum-component-edge-to-text-100) - var(--spectrum-actionbutton-border-width));
  --spectrum-actionbutton-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-100) - var(--spectrum-actionbutton-border-width));
}

.spectrum-ActionButton--sizeL {
  --spectrum-actionbutton-min-width: calc((var(--spectrum-component-edge-to-visual-only-200) * 2) + var(--spectrum-workflow-icon-size-200));
  --spectrum-actionbutton-height: var(--spectrum-component-height-200);

  --spectrum-actionbutton-icon-size: var(--spectrum-workflow-icon-size-200);
  --spectrum-actionbutton-font-size: var(--spectrum-font-size-200);
  --spectrum-actionbutton-text-to-visual: var(--spectrum-text-to-visual-200);
  --spectrum-actionbutton-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-large);
  --spectrum-actionbutton-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-200) - var(--spectrum-actionbutton-border-width));
  --spectrum-actionbutton-edge-to-text: calc(var(--spectrum-component-edge-to-text-200) - var(--spectrum-actionbutton-border-width));
  --spectrum-actionbutton-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-200) - var(--spectrum-actionbutton-border-width));
}

.spectrum-ActionButton--sizeXL {
  --spectrum-actionbutton-min-width: calc((var(--spectrum-component-edge-to-visual-only-300) * 2) + var(--spectrum-workflow-icon-size-300));
  --spectrum-actionbutton-height: var(--spectrum-component-height-300);

  --spectrum-actionbutton-icon-size: var(--spectrum-workflow-icon-size-300);
  --spectrum-actionbutton-font-size: var(--spectrum-font-size-300);
  --spectrum-actionbutton-text-to-visual: var(--spectrum-text-to-visual-300);
  --spectrum-actionbutton-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-extra-large);
  --spectrum-actionbutton-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-300) - var(--spectrum-actionbutton-border-width));
  --spectrum-actionbutton-edge-to-text: calc(var(--spectrum-component-edge-to-text-300) - var(--spectrum-actionbutton-border-width));
  --spectrum-actionbutton-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-300) - var(--spectrum-actionbutton-border-width));
}

@media (forced-colors: active) {
  .spectrum-ActionButton {
    &:after {
      /* make sure focus-ring renders */
      forced-color-adjust: none;
    }

    /* force a more visible focus-ring color */
    --highcontrast-actionbutton-focus-indicator-color: ButtonText;

    &.is-selected {
      --highcontrast-actionbutton-background-color-default: Highlight;
      --highcontrast-actionbutton-background-color-hover: Highlight;
      --highcontrast-actionbutton-background-color-focus: Highlight;
      --highcontrast-actionbutton-background-color-down: Highlight;
      --highcontrast-actionbutton-background-color-disabled: ButtonFace;

      --highcontrast-actionbutton-border-color-default: HighlightText;
      --highcontrast-actionbutton-border-color-hover: HighlightText;
      --highcontrast-actionbutton-border-color-focus: HighlightText;
      --highcontrast-actionbutton-border-color-down: HighlightText;
      --highcontrast-actionbutton-border-color-disabled: GrayText;

      --highcontrast-actionbutton-content-color-default: HighlightText;
      --highcontrast-actionbutton-content-color-hover: HighlightText;
      --highcontrast-actionbutton-content-color-focus: HighlightText;
      --highcontrast-actionbutton-content-color-down: HighlightText;
      --highcontrast-actionbutton-content-color-disabled: GrayText;

      .spectrum-ActionButton-icon,
      .spectrum-ActionButton-hold,
      .spectrum-ActionButton-label {
        /* ensure custom text colors from above get applied */
        /* it seems like this shouldn't have to be done, but colors are wrong without it */
        forced-color-adjust: none;
      }
    }
  }
}

.spectrum-ActionButton {
  @inherit: %spectrum-BaseButton;
  position: relative;

  min-inline-size: var(--mod-actionbutton-min-width, var(--spectrum-actionbutton-min-width));
  height: var(--mod-actionbutton-height, var(--spectrum-actionbutton-height));

  border-radius: var(--mod-actionbutton-border-radius, var(--spectrum-actionbutton-border-radius));
  border-width: var(--mod-actionbutton-border-width, var(--spectrum-actionbutton-border-width));

  gap: calc(var(--mod-actionbutton-text-to-visual, var(--spectrum-actionbutton-text-to-visual)) + (var(--mod-actionbutton-edge-to-text, var(--spectrum-actionbutton-edge-to-text)) - var(--mod-actionbutton-edge-to-visual-only, var(--spectrum-actionbutton-edge-to-visual-only))));

  /* Start with text-only padding */
  padding-inline: var(--mod-actionbutton-edge-to-text, var(--spectrum-actionbutton-edge-to-text));

  background-color: var(--highcontrast-actionbutton-background-color-default, var(--mod-actionbutton-background-color-default, var(--spectrum-actionbutton-background-color-default)));
  border-color: var(--highcontrast-actionbutton-border-color-default, var(--mod-actionbutton-border-color-default, var(--spectrum-actionbutton-border-color-default)));
  color: var(--highcontrast-actionbutton-content-color-default, var(--mod-actionbutton-content-color-default, var(--spectrum-actionbutton-content-color-default)));

  &:hover {
    background-color: var(--highcontrast-actionbutton-background-color-hover, var(--mod-actionbutton-background-color-hover, var(--spectrum-actionbutton-background-color-hover)));
    border-color: var(--highcontrast-actionbutton-border-color-hover, var(--mod-actionbutton-border-color-hover, var(--spectrum-actionbutton-border-color-hover)));
    color: var(--highcontrast-actionbutton-content-color-hover, var(--mod-actionbutton-content-color-hover, var(--spectrum-actionbutton-content-color-hover)));
  }

  &:focus-ring {
    background-color: var(--highcontrast-actionbutton-background-color-focus, var(--mod-actionbutton-background-color-focus, var(--spectrum-actionbutton-background-color-focus)));
    border-color: var(--highcontrast-actionbutton-border-color-focus, var(--mod-actionbutton-border-color-focus, var(--spectrum-actionbutton-border-color-focus)));
    color: var(--highcontrast-actionbutton-content-color-focus, var(--mod-actionbutton-content-color-focus, var(--spectrum-actionbutton-content-color-focus)));
  }

  &:active {
    background-color: var(--highcontrast-actionbutton-background-color-down, var(--mod-actionbutton-background-color-down, var(--spectrum-actionbutton-background-color-down)));
    border-color: var(--highcontrast-actionbutton-border-color-down, var(--mod-actionbutton-border-color-down, var(--spectrum-actionbutton-border-color-down)));
    color: var(--highcontrast-actionbutton-content-color-down, var(--mod-actionbutton-content-color-down, var(--spectrum-actionbutton-content-color-down)));
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--highcontrast-actionbutton-background-color-disabled, var(--mod-actionbutton-background-color-disabled, var(--spectrum-actionbutton-background-color-disabled)));
    border-color: var(--highcontrast-actionbutton-border-color-disabled, var(--mod-actionbutton-border-color-disabled, var(--spectrum-actionbutton-border-color-disabled)));
    color: var(--highcontrast-actionbutton-content-color-disabled, var(--mod-actionbutton-content-color-disabled, var(--spectrum-actionbutton-content-color-disabled)));
  }
}

a.spectrum-ActionButton {
  @inherit: %spectrum-AnchorButton;
}

.spectrum-ActionButton-icon {
  @inherit: %spectrum-ButtonIcon;

  width: var(--mod-actionbutton-icon-size, var(--spectrum-actionbutton-icon-size));
  height: var(--mod-actionbutton-icon-size, var(--spectrum-actionbutton-icon-size));

  /* adjust icon positioning to match UI kit */
  margin-inline-start: calc(
    var(--mod-actionbutton-edge-to-visual, var(--spectrum-actionbutton-edge-to-visual)) -
        var(--mod-actionbutton-edge-to-text, var(--spectrum-actionbutton-edge-to-text))
  );
  margin-inline-end: calc(
      var(--mod-actionbutton-edge-to-visual-only, var(--spectrum-actionbutton-edge-to-visual-only)) -
          var(--mod-actionbutton-edge-to-text, var(--spectrum-actionbutton-edge-to-text))
  );

  color: inherit;
}

.spectrum-ActionButton-hold + .spectrum-ActionButton-icon,
.spectrum-ActionButton-icon:only-child {
  /* Augment the margin correction for the icon only scenario */
  margin-inline-start: calc(
      var(--mod-actionbutton-edge-to-visual-only, var(--spectrum-actionbutton-edge-to-visual-only)) -
          var(--mod-actionbutton-edge-to-text, var(--spectrum-actionbutton-edge-to-text))
  );
}

.spectrum-ActionButton-label {
  @inherit: %spectrum-ButtonLabel;

  font-size: var(--mod-actionbutton-font-size, var(--spectrum-actionbutton-font-size));
  white-space: nowrap;
  color: inherit;

  text-overflow: ellipsis;
  overflow: hidden;
}

.spectrum-ActionButton-hold {
  position: absolute;
  inset-inline-end: calc(var(--mod-actionbutton-edge-to-hold-icon, var(--spectrum-actionbutton-edge-to-hold-icon)) - var(--mod-actionbutton-border-width, var(--spectrum-actionbutton-border-width)));
  inset-block-end: calc(var(--mod-actionbutton-edge-to-hold-icon, var(--spectrum-actionbutton-edge-to-hold-icon)) - var(--mod-actionbutton-border-width, var(--spectrum-actionbutton-border-width)));

  color: inherit;

  transform: logical rotate(0deg);
}

/* special cases for focus-ring */
.spectrum-ActionButton {
  transition: border-color var(--mod-actionbutton-animation-duration, var(--spectrum-actionbutton-animation-duration)) ease-in-out;

  &:after {
    position: absolute;
    inset: 0;

    margin: calc((var(--mod-actionbutton-focus-indicator-gap, var(--spectrum-actionbutton-focus-indicator-gap)) + var(--mod-actionbutton-border-width, var(--spectrum-actionbutton-border-width))) * -1);

    border-radius: var(--mod-actionbutton-focus-indicator-border-radius, var(--spectrum-actionbutton-focus-indicator-border-radius));

    transition: box-shadow var(--mod-actionbutton-animation-duration, var(--spectrum-actionbutton-animation-duration)) ease-in-out;

    pointer-events: none;
    content: '';
  }

  &:focus-ring {
    /* kill the default ring */
    box-shadow: none;

    &:after {
      box-shadow: 0 0 0 var(--mod-actionbutton-focus-indicator-thickness, var(--spectrum-actionbutton-focus-indicator-thickness)) var(--highcontrast-actionbutton-focus-indicator-color, var(--mod-actionbutton-focus-indicator-color, var(--spectrum-actionbutton-focus-indicator-color)));
    }
  }
}
