/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-ActionButton {
  /* Overridden because of the way we draw focus rings */
  --spectrum-actionbutton-m-quiet-textonly-border-size-key-focus: 1px;
}

.spectrum-ActionButton {
  background-color: var(--spectrum-actionbutton-m-textonly-background-color);
  border-color: var(--spectrum-actionbutton-m-textonly-border-color);
  color: var(--spectrum-actionbutton-m-textonly-text-color);

  .spectrum-Icon {
    color: var(--spectrum-actionbutton-m-texticon-icon-color);
  }

  .spectrum-ActionButton-hold {
    color: var(--spectrum-actionbutton-m-textonly-hold-icon-color);
  }

  &:hover {
    background-color: var(--spectrum-actionbutton-m-textonly-background-color-hover);
    border-color: var(--spectrum-actionbutton-m-textonly-border-color-hover);
    color: var(--spectrum-actionbutton-m-textonly-text-color-hover);

    .spectrum-Icon {
      color: var(--spectrum-actionbutton-m-texticon-icon-color-hover);
    }

    .spectrum-ActionButton-hold {
      color: var(--spectrum-actionbutton-m-textonly-hold-icon-color-hover);
    }
  }

  &:focus-ring {
    background-color: var(--spectrum-actionbutton-m-textonly-background-color-key-focus);
    border-color: var(--spectrum-actionbutton-m-textonly-border-color-key-focus);
    color: var(--spectrum-actionbutton-m-textonly-text-color-key-focus);

    &:active {
      border-color: var(--spectrum-actionbutton-m-textonly-border-color-key-focus);
    }

    .spectrum-Icon {
      color: var(--spectrum-actionbutton-m-texticon-icon-color-key-focus);
    }

    .spectrum-ActionButton-hold {
      color: var(--spectrum-actionbutton-m-textonly-hold-icon-color-key-focus);
    }
  }

  &:active {
    background-color: var(--spectrum-actionbutton-m-textonly-background-color-down);
    border-color: var(--spectrum-actionbutton-m-textonly-border-color-down);
    color: var(--spectrum-actionbutton-m-textonly-text-color-down);

    .spectrum-ActionButton-hold {
      color: var(--spectrum-actionbutton-m-textonly-hold-icon-color-down);
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-actionbutton-m-textonly-background-color-disabled);
    border-color: var(--spectrum-actionbutton-m-textonly-border-color-disabled);
    color: var(--spectrum-actionbutton-m-textonly-text-color-disabled);

    .spectrum-Icon {
      color: var(--spectrum-actionbutton-m-texticon-icon-color-disabled);
    }

    .spectrum-ActionButton-hold {
      color: var(--spectrum-actionbutton-m-textonly-hold-icon-color-disabled);
    }
  }

  &.is-selected {
    background-color: var(--spectrum-actionbutton-m-textonly-background-color-selected);
    border-color: var(--spectrum-actionbutton-m-textonly-border-color-selected);
    color: var(--spectrum-actionbutton-m-textonly-text-color-selected);

    .spectrum-Icon {
      color: var(--spectrum-actionbutton-m-texticon-icon-color-selected);
    }

    &:focus-ring {
      background-color: var(--spectrum-actionbutton-m-textonly-background-color-selected-key-focus);
      border-color: var(--spectrum-actionbutton-m-textonly-border-color-selected-key-focus);
      color: var(--spectrum-actionbutton-m-textonly-text-color-selected-key-focus);

      &:active {
        border-color: var(--spectrum-actionbutton-m-textonly-border-color-key-focus);
      }

      .spectrum-Icon {
        color: var(--spectrum-actionbutton-m-texticon-icon-color-selected-key-focus);
      }
    }

    &:hover {
      background-color: var(--spectrum-actionbutton-m-textonly-background-color-selected-hover);
      border-color: var(--spectrum-actionbutton-m-textonly-border-color-selected-hover);
      color: var(--spectrum-actionbutton-m-textonly-text-color-selected-hover);

      .spectrum-Icon {
        color: var(--spectrum-actionbutton-m-texticon-icon-color-selected-hover);
      }
    }

    &:active {
      background-color: var(--spectrum-actionbutton-m-textonly-background-color-selected-down);
      border-color: var(--spectrum-actionbutton-m-textonly-border-color-selected-down);
      color: var(--spectrum-actionbutton-m-textonly-text-color-selected-down);

      .spectrum-Icon {
        color: var(--spectrum-actionbutton-m-texticon-icon-color-selected-down);
      }
    }

    &:disabled,
    &.is-disabled {
      background-color: var(--spectrum-actionbutton-m-textonly-background-color-selected-disabled);
      border-color: var(--spectrum-actionbutton-m-textonly-border-color-selected-disabled);
      color: var(--spectrum-actionbutton-m-textonly-text-color-selected-disabled);

      .spectrum-Icon {
        color: var(--spectrum-actionbutton-m-texticon-icon-color-selected-disabled);
      }
    }
  }
}

.spectrum-ActionButton--emphasized {
  &.spectrum-ActionButton--quiet.is-selected,
  &.is-selected {
    background-color: var(--spectrum-actionbutton-m-emphasized-textonly-background-color-selected);
    border-color: var(--spectrum-actionbutton-m-emphasized-textonly-border-color-selected);
    color: var(--spectrum-actionbutton-m-emphasized-textonly-text-color-selected);

    .spectrum-Icon {
      color: var(--spectrum-actionbutton-m-emphasized-texticon-icon-color-selected);
    }

    &:focus-ring {
      background-color: var(--spectrum-actionbutton-m-emphasized-textonly-background-color-selected-key-focus);
      border-color: var(--spectrum-actionbutton-m-emphasized-textonly-border-color-selected-key-focus);
      color: var(--spectrum-actionbutton-m-emphasized-textonly-text-color-selected-key-focus);

      .spectrum-Icon {
        color: var(--spectrum-actionbutton-m-emphasized-texticon-icon-color-selected-key-focus);
      }
    }

    &:hover {
      background-color: var(--spectrum-actionbutton-m-emphasized-textonly-background-color-selected-hover);
      border-color: var(--spectrum-actionbutton-m-emphasized-textonly-border-color-selected-hover);
      color: var(--spectrum-actionbutton-m-emphasized-textonly-text-color-selected-hover);

      .spectrum-Icon {
        color: var(--spectrum-actionbutton-m-emphasized-texticon-icon-color-selected-hover);
      }
    }

    &.is-active {
      background-color: var(--spectrum-actionbutton-m-emphasized-textonly-background-color-selected-down);
      border-color: var(--spectrum-actionbutton-m-emphasized-textonly-border-color-selected-down);
      color: var(--spectrum-actionbutton-m-emphasized-textonly-text-color-selected-down);

      .spectrum-Icon {
        color: var(--spectrum-actionbutton-m-emphasized-texticon-icon-color-selected-down);
      }
    }

    &:disabled,
    &.is-disabled {
      background-color: var(--spectrum-actionbutton-m-emphasized-textonly-background-color-selected-disabled);
      border-color: var(--spectrum-actionbutton-m-emphasized-textonly-border-color-selected-disabled);
      color: var(--spectrum-actionbutton-m-emphasized-textonly-text-color-selected-disabled);

      .spectrum-Icon {
        color: var(--spectrum-actionbutton-m-emphasized-texticon-icon-color-selected-disabled);
      }
    }
  }
}

.spectrum-ActionButton--quiet {
  background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color);
  border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color);
  color: var(--spectrum-actionbutton-m-quiet-textonly-text-color);

  &:hover {
    background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-hover);
    border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-hover);
    color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-key-focus);
    border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-key-focus);
    color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-key-focus);
  }

  &:active {
    background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-down);
    border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-down);
    color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-disabled);
    border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-disabled);
    color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-disabled);
  }

  &.is-selected {
    background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-selected);
    border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-selected);
    color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected);

    &:focus-ring {
      background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-selected-key-focus);
      border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-selected-key-focus);
      color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected-key-focus);
    }

    &:hover {
      background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-selected-hover);
      border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-selected-hover);
      color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected-hover);
    }

    &:active {
      background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-selected-down);
      border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-selected-down);
      color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected-down);
    }

    &:disabled,
    &.is-disabled {
      background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-selected-disabled);
      border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-selected-disabled);
      color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected-disabled);
    }
  }
}

.spectrum-ActionButton--staticBlack,
.spectrum-ActionButton--staticWhite {
  /* required to make rgba() work with vars */
  --spectrum-global-color-static-black-rgb: 0, 0, 0;
  --spectrum-global-color-static-white-rgb: 255, 255, 255;
  --spectrum-ActionButton-static-black-color: var(--spectrum-global-color-static-black);
  --spectrum-ActionButton-static-white-color: var(--spectrum-global-color-static-white);

  &.is-selected {
    /* let selected styles get their color from parent elements */
    color: inherit !important;
  }
}

@media (forced-colors: active) {
  .spectrum-ActionButton {
    &:after {
      forced-color-adjust: none;    
    }
    &.is-selected {
      &:not(.is-disabled) {
        .spectrum-ActionButton-label {
          forced-color-adjust: none;
        }
      }
    }
    &.spectrum-ActionButton--staticBlack,
    &.spectrum-ActionButton--staticWhite {
      &.is-selected {
        &:not(:disabled, .is-disabled) {
          color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected);
          background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-selected);
          border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-selected);
          .spectrum-ActionButton-holdIcon {
            color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected);
          }
          .spectrum-ActionButton-label {
            color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected) ! important;
          }
          .spectrum-Icon {
            color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected) ! important;
          }
          &:hover,
          &:active,
          &:focus-visible,
          &.is-keyboardFocused {
            background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-selected);
            border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-selected);
            .spectrum-ActionButton-holdIcon {
              color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected);
            }
  
            .spectrum-ActionButton-label {
              color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected);
            }
  
            .spectrum-Icon {
              color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected);
            }
          }
        }
        &:disabled,
        &.is-disabled {
          color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected-disabled);
          background-color: var(--spectrum-actionbutton-m-quiet-textonly-background-color-selected-disabled);
          border-color: var(--spectrum-actionbutton-m-quiet-textonly-border-color-selected-disabled);
          .spectrum-ActionButton-holdIcon {
            color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected-disabled);
          }
          .spectrum-ActionButton-label {
            color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected-disabled);           
          }
          .spectrum-Icon {
            color: var(--spectrum-actionbutton-m-quiet-textonly-text-color-selected-disabled);
          }
        }
      }
    }
    --spectrum-actionbutton-focus-ring-gap: var(--spectrum-alias-component-focusring-gap-emphasized);
    --spectrum-actionbutton-focus-ring-size: var(--spectrum-alias-component-focusring-size-emphasized);
    --spectrum-actionbutton-focus-ring-color: ButtonText;

    --spectrum-actionbutton-m-emphasized-texticon-icon-color-selected: HighlightText;
    --spectrum-actionbutton-m-emphasized-texticon-icon-color-selected-disabled: GrayText;
    --spectrum-actionbutton-m-emphasized-texticon-icon-color-selected-down: HighlightText;
    --spectrum-actionbutton-m-emphasized-texticon-icon-color-selected-hover: HighlightText;
    --spectrum-actionbutton-m-emphasized-texticon-icon-color-selected-key-focus: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-background-color-selected: Highlight;
    --spectrum-actionbutton-m-emphasized-textonly-background-color-selected-disabled: ButtonFace;
    --spectrum-actionbutton-m-emphasized-textonly-background-color-selected-down: Highlight;
    --spectrum-actionbutton-m-emphasized-textonly-background-color-selected-hover: Highlight;
    --spectrum-actionbutton-m-emphasized-textonly-background-color-selected-key-focus: Highlight;
    --spectrum-actionbutton-m-emphasized-textonly-border-color-selected: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-border-color-selected-disabled: GrayText;
    --spectrum-actionbutton-m-emphasized-textonly-border-color-selected-down: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-border-color-selected-hover: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-border-color-selected-key-focus: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-hold-icon-color-selected: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-text-color-down: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-text-color-hover: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-text-color-selected: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-text-color-selected-disabled: GrayText;
    --spectrum-actionbutton-m-emphasized-textonly-text-color-selected-down: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-text-color-selected-hover: HighlightText;
    --spectrum-actionbutton-m-emphasized-textonly-text-color-selected-key-focus: HighlightText;
    --spectrum-actionbutton-m-quiet-textonly-background-color-selected: Highlight;
    --spectrum-actionbutton-m-quiet-textonly-background-color-selected-disabled: ButtonFace;
    --spectrum-actionbutton-m-quiet-textonly-background-color-selected-down: Highlight;
    --spectrum-actionbutton-m-quiet-textonly-background-color-selected-hover: Highlight;
    --spectrum-actionbutton-m-quiet-textonly-background-color-selected-key-focus: Highlight;
    --spectrum-actionbutton-m-quiet-textonly-border-color: ButtonFace;
    --spectrum-actionbutton-m-quiet-textonly-border-color-down: Highlight;
    --spectrum-actionbutton-m-quiet-textonly-border-color-hover: Highlight;
    --spectrum-actionbutton-m-quiet-textonly-border-color-selected: HighlightText;
    --spectrum-actionbutton-m-quiet-textonly-border-color-selected-disabled: GrayText;
    --spectrum-actionbutton-m-quiet-textonly-border-color-selected-down: HighlightText;
    --spectrum-actionbutton-m-quiet-textonly-border-color-selected-hover: HighlightText;
    --spectrum-actionbutton-m-quiet-textonly-border-color-selected-key-focus: HighlightText;
    --spectrum-actionbutton-m-quiet-textonly-text-color-selected: HighlightText;
    --spectrum-actionbutton-m-quiet-textonly-text-color-selected-disabled: GrayText;
    --spectrum-actionbutton-m-quiet-textonly-text-color-selected-down: HighlightText;
    --spectrum-actionbutton-m-quiet-textonly-text-color-selected-hover: HighlightText;
    --spectrum-actionbutton-m-quiet-textonly-text-color-selected-key-focus: HighlightText;
    --spectrum-actionbutton-m-texticon-icon-color-selected: HighlightText;
    --spectrum-actionbutton-m-texticon-icon-color-selected-disabled: GrayText;
    --spectrum-actionbutton-m-texticon-icon-color-selected-down: HighlightText;
    --spectrum-actionbutton-m-texticon-icon-color-selected-hover: HighlightText;
    --spectrum-actionbutton-m-texticon-icon-color-selected-key-focus: HighlightText;
    --spectrum-actionbutton-m-textonly-background-color-selected: Highlight;
    --spectrum-actionbutton-m-textonly-background-color-selected-disabled: ButtonFace;
    --spectrum-actionbutton-m-textonly-background-color-selected-down: Highlight;
    --spectrum-actionbutton-m-textonly-background-color-selected-hover: Highlight;
    --spectrum-actionbutton-m-textonly-background-color-selected-key-focus: Highlight;
    --spectrum-actionbutton-m-textonly-border-color-selected: HighlightText;
    --spectrum-actionbutton-m-textonly-border-color-selected-disabled: GrayText;
    --spectrum-actionbutton-m-textonly-border-color-selected-down: HighlightText;
    --spectrum-actionbutton-m-textonly-border-color-selected-hover: HighlightText;
    --spectrum-actionbutton-m-textonly-border-color-selected-key-focus: HighlightText;
    --spectrum-actionbutton-m-textonly-text-color-selected: HighlightText;
    --spectrum-actionbutton-m-textonly-text-color-selected-disabled: GrayText;
    --spectrum-actionbutton-m-textonly-text-color-selected-down: HighlightText;
    --spectrum-actionbutton-m-textonly-text-color-selected-hover: HighlightText;
    --spectrum-actionbutton-m-textonly-text-color-selected-key-focus: HighlightText;
  }
}
