@import '../commons/index.css';
@import '../commons/overlay.css';

.spectrum-Rail {
  @inherit: %spectrum-overlay;

  position: fixed;
  height: 100vh;
  z-index: 2; /* Appear above underlay */

  &.is-open {
    @inherit: %spectrum-overlay--open;
  }
}

.spectrum-Rail-content {
  width: var(--spectrum-rail-content-width-default);
  height: 100%;
}

.spectrum-Rail-dragHandle {
  /* Contain the gripper */
  position: relative;

  width: var(--spectrum-rail-draghandle-width-default);
  height: 100%;

  /* Prevent text selection while dragging */
  user-select: none;
}

/* topdoc
{{ rail/rail-left.yml }}
*/

.spectrum-Rail--left {
  top: 0;
  left: 0;

  .spectrum-Rail-content {
    float: left;
  }

  .spectrum-Rail-dragHandle {
    float: right;
  }
}

/* topdoc
{{ rail/rail-right.yml }}
*/

.spectrum-Rail--right {
  top: 0;
  right: 0;

  .spectrum-Rail-content {
    float: right;
  }

  .spectrum-Rail-dragHandle {
    float: left;
  }
}

/* topdoc
{{ rail/rail-left-overlay.yml }}
*/

/* topdoc
{{ rail/rail-right-draggable-gripper.yml }}
*/

.spectrum-Rail--draggable {
  .spectrum-Rail-dragHandle {
    cursor: ew-resize;
  }
}

/* topdoc
{{ rail/rail-horizontal-draggable-gripper.yml }}
*/

.spectrum-Rail-gripper {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  /* half of (width + horizontal border - draghandle width) * -1 (for negative opposite) */
  left: calc(((var(--spectrum-rail-gripper-width-default) + (2 * var(--spectrum-rail-gripper-border-width-horizontal-default)) - var(--spectrum-rail-draghandle-width-default)) / 2) * -1);

  width: var(--spectrum-rail-gripper-width-default);
  height: var(--spectrum-rail-gripper-height-default);
  border-width: var(--spectrum-rail-gripper-border-width-vertical-default) var(--spectrum-rail-gripper-border-width-horizontal-default);
  border-style: solid;
  border-radius: var(--spectrum-rail-gripper-border-radius-default);
}

.spectrum-Rail--horizontal {
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;

  .spectrum-Rail-content {
    width: 100%;
    height: var(--spectrum-rail-content-width-default);
    float: right;
  }

  .spectrum-Rail-dragHandle {
    width: auto;
    height: var(--spectrum-rail-draghandle-width-default);
    cursor: ns-resize;
  }

  .spectrum-Rail-gripper {
    /* half of (height + vertical border - draghandle width) * -1 (for negative opposite) */
    top: calc(((var(--spectrum-rail-gripper-width-default) + (2 * var(--spectrum-rail-gripper-border-width-horizontal-default)) - var(--spectrum-rail-draghandle-width-default)) / 2) * -1);

    transform: translate(-50%, 0);
    left: 50%;
    width: var(--spectrum-rail-gripper-height-default); /* same as default height */
    height: var(--spectrum-rail-gripper-width-default); /* same as default width */

    /* opposite of default border-width */
    border-width: var(--spectrum-rail-gripper-border-width-horizontal-default) var(--spectrum-rail-gripper-border-width-vertical-default);
  }
}