.spectrum-Rail-content {
  background-color: var(--spectrum-rail-content-background-color-default);
}

.spectrum-Rail-dragHandle {
  background-color: var(--spectrum-rail-draghandle-background-color-default);
}

.spectrum-Rail--draggable {
  .spectrum-Rail-dragHandle {
    &:hover {
      background-color: var(--spectrum-rail-draghandle-background-color-hover);

      .spectrum-Rail-gripper {
        border-color: var(--spectrum-rail-draghandle-background-color-hover);
      }
    }

    &:active {
      background-color: var(--spectrum-rail-draghandle-background-color-down);

      .spectrum-Rail-gripper {
        border-color: var(--spectrum-rail-draghandle-background-color-down);
      }
    }
  }
}

.spectrum-Rail-gripper {
  border-color: var(--spectrum-rail-draghandle-background-color-default);
}
