/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import "themes/spectrum.css";

.spectrum-Icon,
.spectrum-UIIcon {
	/* Don't catch clicks or hover, otherwise they may not escape the SVG. */
	pointer-events: none;
	transform: var(--spectrum-icon-transform);
	display: inline-block;

	/* Use custom pass through or inherit the text color. */
	color: var(--mod-icon-color, inherit);

	/* Fill should match the current text color. */
	fill: currentColor;

	/* Hide the SVG overflow in IE. */
	&:not(:root) {
		overflow: hidden;
	}

	&,
	& img,
	& svg {
		inline-size: var(--spectrum-icon-inline-size, var(--mod-icon-inline-size, var(--mod-icon-size, var(--spectrum-icon-size))));
		block-size: var(--spectrum-icon-block-size, var(--mod-icon-block-size, var(--mod-icon-size, var(--spectrum-icon-size))));
	}
}

/*
 * Medium/large scale
 * ------------------
 * In the "combined" versiom of the UI Icon SVGs, the medium and the large icons are
 * contained within the same SVG. The two separate elements are shown or hidden based
 * on the current platform scale.
 */

.spectrum-UIIcon--medium {
	display: var(--mod-ui-icon-medium-display, var(--spectrum-ui-icon-medium-display, block));
}

.spectrum-UIIcon--large {
	display: var(--mod-ui-icon-large-display, var(--spectrum-ui-icon-large-display, none));
}

@media (forced-colors: active) {
	.spectrum-Icon,
	.spectrum-UIIcon {
		/* Automatically adjust the SVG to pick up the text color for High Contrast mode */
		forced-color-adjust: auto;
	}
}
