/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/*
 * Medium/large scale
 * ------------------
 * In the "combined" versiom of the UI Icon SVGs, the medium and the large icons are
 * contained within the same SVG. The two separate elements are shown or hidden based
 * on the current platform scale.
 */

.spectrum-UIIcon--medium {
  display: var(--mod-ui-icon-medium-display, var(--spectrum-ui-icon-medium-display, block));
}

.spectrum-UIIcon--large {
  display: var(--mod-ui-icon-large-display, var(--spectrum-ui-icon-large-display, none));
}

/*
 * UI icons list
 * -------------
 * - Unlike workflow icons, UI icons come in various sizes, defined by their own tokens.
 * - Their base icon is rotated for directional variations (e.g. left and down).
 */

/* Chevron */
.spectrum-UIIcon-ChevronRight50 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-50);
}

.spectrum-UIIcon-ChevronRight75 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-75);
}

.spectrum-UIIcon-ChevronRight100 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-100);
}

.spectrum-UIIcon-ChevronRight200 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-200);
}

.spectrum-UIIcon-ChevronRight300 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-300);
}

.spectrum-UIIcon-ChevronRight400 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-400);
}

.spectrum-UIIcon-ChevronRight500 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-500);
}

.spectrum-UIIcon-ChevronDown50 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-50);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown75 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-75);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown100 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-100);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown200 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-200);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown300 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-300);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown400 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-400);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown500 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-500);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronLeft50 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-50);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft75 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-75);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft100 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-100);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft200 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-200);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft300 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-300);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft400 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-400);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft500 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-500);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronUp50 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-50);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp75 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-75);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp100 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-100);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp200 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-200);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp300 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-300);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp400 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-400);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp500 {
  --spectrum-icon-size: var(--spectrum-chevron-icon-size-500);
  transform: rotate(270deg);
}

/* Arrow */
.spectrum-UIIcon-ArrowRight75 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-75);
}

.spectrum-UIIcon-ArrowRight100 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-100);
}

.spectrum-UIIcon-ArrowRight200 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-200);
}

.spectrum-UIIcon-ArrowRight300 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-300);
}

.spectrum-UIIcon-ArrowRight400 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-400);
}

.spectrum-UIIcon-ArrowRight500 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-500);
}

.spectrum-UIIcon-ArrowRight600 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-600);
}

.spectrum-UIIcon-ArrowDown75 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-75);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ArrowDown100 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-100);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ArrowDown200 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-200);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ArrowDown300 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-300);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ArrowDown400 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-400);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ArrowDown500 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-500);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ArrowDown600 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-600);
  transform: rotate(90deg);
}

.spectrum-UIIcon-ArrowLeft75 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-75);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ArrowLeft100 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-100);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ArrowLeft200 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-200);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ArrowLeft300 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-300);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ArrowLeft400 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-400);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ArrowLeft500 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-500);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ArrowLeft600 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-600);
  transform: rotate(180deg);
}

.spectrum-UIIcon-ArrowUp75 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-75);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ArrowUp100 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-100);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ArrowUp200 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-200);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ArrowUp300 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-300);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ArrowUp400 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-400);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ArrowUp500 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-500);
  transform: rotate(270deg);
}

.spectrum-UIIcon-ArrowUp600 {
  --spectrum-icon-size: var(--spectrum-arrow-icon-size-600);
  transform: rotate(270deg);
}

/* Checkmark */
.spectrum-UIIcon-Checkmark50 {
  --spectrum-icon-size: var(--spectrum-checkmark-icon-size-50);
}

.spectrum-UIIcon-Checkmark75 {
  --spectrum-icon-size: var(--spectrum-checkmark-icon-size-75);
}

.spectrum-UIIcon-Checkmark100 {
  --spectrum-icon-size: var(--spectrum-checkmark-icon-size-100);
}

.spectrum-UIIcon-Checkmark200 {
  --spectrum-icon-size: var(--spectrum-checkmark-icon-size-200);
}

.spectrum-UIIcon-Checkmark300 {
  --spectrum-icon-size: var(--spectrum-checkmark-icon-size-300);
}

.spectrum-UIIcon-Checkmark400 {
  --spectrum-icon-size: var(--spectrum-checkmark-icon-size-400);
}

.spectrum-UIIcon-Checkmark500 {
  --spectrum-icon-size: var(--spectrum-checkmark-icon-size-500);
}

.spectrum-UIIcon-Checkmark600 {
  --spectrum-icon-size: var(--spectrum-checkmark-icon-size-600);
}

/* Dash */
.spectrum-UIIcon-Dash50 {
  --spectrum-icon-size: var(--spectrum-dash-icon-size-50);
}

.spectrum-UIIcon-Dash75 {
  --spectrum-icon-size: var(--spectrum-dash-icon-size-75);
}

.spectrum-UIIcon-Dash100 {
  --spectrum-icon-size: var(--spectrum-dash-icon-size-100);
}

.spectrum-UIIcon-Dash200 {
  --spectrum-icon-size: var(--spectrum-dash-icon-size-200);
}

.spectrum-UIIcon-Dash300 {
  --spectrum-icon-size: var(--spectrum-dash-icon-size-300);
}

.spectrum-UIIcon-Dash400 {
  --spectrum-icon-size: var(--spectrum-dash-icon-size-400);
}

.spectrum-UIIcon-Dash500 {
  --spectrum-icon-size: var(--spectrum-dash-icon-size-500);
}

.spectrum-UIIcon-Dash600 {
  --spectrum-icon-size: var(--spectrum-dash-icon-size-600);
}

/* Cross */
.spectrum-UIIcon-Cross75 {
  --spectrum-icon-size: var(--spectrum-cross-icon-size-75);
}

.spectrum-UIIcon-Cross100 {
  --spectrum-icon-size: var(--spectrum-cross-icon-size-100);
}

.spectrum-UIIcon-Cross200 {
  --spectrum-icon-size: var(--spectrum-cross-icon-size-200);
}

.spectrum-UIIcon-Cross300 {
  --spectrum-icon-size: var(--spectrum-cross-icon-size-300);
}

.spectrum-UIIcon-Cross400 {
  --spectrum-icon-size: var(--spectrum-cross-icon-size-400);
}

.spectrum-UIIcon-Cross500 {
  --spectrum-icon-size: var(--spectrum-cross-icon-size-500);
}

.spectrum-UIIcon-Cross600 {
  --spectrum-icon-size: var(--spectrum-cross-icon-size-600);
}

/* Triple Gripper */
.spectrum-UIIcon-TripleGripper100 {
  inline-size: var(--spectrum-alias-ui-icon-triplegripper-size-100-height);
  block-size: var(--spectrum-alias-ui-icon-triplegripper-size-100-width);
}

/* Double Gripper */
.spectrum-UIIcon-DoubleGripper100 {
  inline-size: var(--spectrum-alias-ui-icon-doublegripper-size-100-height);
  block-size: var(--spectrum-alias-ui-icon-doublegripper-size-100-width);
}

/* Single Gripper */
.spectrum-UIIcon-SingleGripper100 {
  inline-size: var(--spectrum-alias-ui-icon-singlegripper-size-100-height);
  block-size: var(--spectrum-alias-ui-icon-singlegripper-size-100-width);
}

/* Corner Triangle */
.spectrum-UIIcon-CornerTriangle75 {
  --spectrum-icon-size: var(--spectrum-corner-triangle-icon-size-75);
}

.spectrum-UIIcon-CornerTriangle100 {
  --spectrum-icon-size: var(--spectrum-corner-triangle-icon-size-100);
}

.spectrum-UIIcon-CornerTriangle200 {
  --spectrum-icon-size: var(--spectrum-corner-triangle-icon-size-200);
}

.spectrum-UIIcon-CornerTriangle300 {
  --spectrum-icon-size: var(--spectrum-corner-triangle-icon-size-300);
}

/* Asterisk */
.spectrum-UIIcon-Asterisk75 {
  --spectrum-icon-size: var(--spectrum-asterisk-icon-size-75);
}

.spectrum-UIIcon-Asterisk100 {
  --spectrum-icon-size: var(--spectrum-asterisk-icon-size-100);
}

.spectrum-UIIcon-Asterisk200 {
  --spectrum-icon-size: var(--spectrum-asterisk-icon-size-200);
}

.spectrum-UIIcon-Asterisk300 {
  --spectrum-icon-size: var(--spectrum-asterisk-icon-size-300);
}
