<div class="u-scrollable spectrum-Site-nav">
    <nav>
        <ul class="spectrum-SideNav spectrum-SideNav--multiLevel">
            <li class="spectrum-SideNav-item">
                <a class="spectrum-SideNav-itemLink js-fastLoad" href="get-started.html">Get started</a>
            </li>
            <li class="spectrum-SideNav-item">
                <a class="spectrum-SideNav-itemLink" href="https://github.com/adobe/spectrum-css" target="_blank" rel="noopener">GitHub</a>
            </li>
            <li class="spectrum-SideNav-item">
                <a class="spectrum-SideNav-itemLink" href="#">Components</a>
                <ul class="spectrum-SideNav spectrum-SideNav--multiLevel">
                    {% asyncEach component in nav %}
                    {% if not component.hide %}
                        <li class="spectrum-SideNav-item {{ 'is-selected' if pageURL === component.href }}">
                            <a href={{component.href}} class="{{ 'js-fastLoad' if component.fastLoad else 'spectrum-SideNav-itemLink' }}">{{component.name}}</a>
                        </li>
                    {% endif %}
                    {% endeach %}
                </ul>
            </li>
        </ul>
    </nav>
    <nav class="spectrum-Site-bottomNav">
        <ul class="spectrum-SideNav">
            <li class="spectrum-SideNav-item">
                <a class="spectrum-SideNav-itemLink" href="https://spectrum.adobe.com" target="_blank" rel="noopener">Spectrum</a>
            </li>
        </ul>
    </nav>
</div>