<html lang='en-US' dir="ltr">
    <head></head>
    <body>
        <div class="spectrum-Site">
            <div class="spectrum-Site-content">
                <div class="spectrum-Site-mainContent">
                    <div class="spectrum-Site-mainContainer">
                        <article class="spectrum-CSSComponent">
                            <div class="spectrum-CSSComponent-switcher"></div>
                            <header id="{{component.slug}}" class="spectrum-CSSComponent-heading">
                                <h1 class="spectrum-CSSComponent-title spectrum-Heading spectrum-Heading--sizeXXXL spectrum-Heading--serif">
                                   abc
                                </h1>
                            </header>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>