:root {
  --spectrum-tabbar-primary-item-icon-color-selected: var(--spectrum-alias-icon-color-selected);
  --spectrum-tabbar-primary-item-text-color-selected: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-primary-item-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tabbar-primary-item-text-color-selected-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-tabbar-primary-item-icon-color-selected-down: var(--spectrum-alias-icon-color-selected-down);
  --spectrum-tabbar-primary-item-text-color-selected-down: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-primary-item-icon-color-selected-hover: var(--spectrum-alias-icon-color-selected-hover);
  --spectrum-tabbar-primary-item-text-color-selected-hover: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-primary-item-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-selected-focus);
  --spectrum-tabbar-primary-item-text-color-selected-key-focus: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-primary-item-icon-color-selected-mouse-focus: var(--spectrum-alias-icon-color-selected);
  --spectrum-tabbar-primary-item-text-color-selected-mouse-focus: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-primary-item-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tabbar-primary-item-text-color-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-tabbar-primary-item-icon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-tabbar-primary-item-text-color: var(--spectrum-alias-component-text-color-default);
  --spectrum-tabbar-primary-item-icon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-tabbar-primary-item-text-color-down: var(--spectrum-alias-component-text-color-down);
  --spectrum-tabbar-primary-item-icon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-tabbar-primary-item-text-color-hover: var(--spectrum-alias-component-text-color-hover);
  --spectrum-tabbar-primary-item-icon-color-key-focus: var(--spectrum-alias-icon-color-key-focus);
  --spectrum-tabbar-primary-item-text-color-key-focus: var(--spectrum-alias-component-text-color-key-focus);
  --spectrum-tabbar-primary-item-icon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-tabbar-primary-item-text-color-mouse-focus: var(--spectrum-alias-component-text-color-mouse-focus);
  --spectrum-tabbar-primary-background-color: var(--spectrum-alias-background-color-primary);
  --spectrum-tabbar-primary-height: 49px;
  --spectrum-tabbar-primary-border-size: 1px;
  --spectrum-tabbar-primary-item-icon-gap: var(--spectrum-global-dimension-static-size-50);
  --spectrum-tabbar-primary-item-icon-size: var(--spectrum-alias-workflow-icon-size-m);
  --spectrum-tabbar-primary-item-icon-type: icon;
  --spectrum-tabbar-primary-item-icon-render: yes;
  --spectrum-tabbar-primary-item-icon-margin-top: var(--spectrum-global-dimension-size-85);
  --spectrum-tabbar-primary-item-icon-margin-bottom: var(--spectrum-global-dimension-size-85);
  --spectrum-tabbar-primary-item-text-size: var(--spectrum-global-dimension-static-font-size-50);
  --spectrum-tabbar-primary-item-text-transform: none;
  --spectrum-tabbar-primary-item-text-font-size: var(--spectrum-global-dimension-static-font-size-50);
  --spectrum-tabbar-primary-item-text-render: yes;
  --spectrum-tabbar-primary-item-text-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-tabbar-primary-item-text-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-tabbar-primary-item-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-tabbar-primary-item-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-tabbar-primary-item-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tabbar-primary-item-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tabbar-primary-item-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-tabbar-primary-item-text-text-transform: none;
  --spectrum-tabbar-primary-item-padding-bottom: var(--spectrum-global-dimension-static-size-40);
  --spectrum-tabbar-primary-item-padding-top: var(--spectrum-global-dimension-static-size-100);
  --spectrum-tabbar-primary-title-position-offset: -2px;
  --spectrum-tabbar-sidelabel-primary-item-icon-color-selected: var(--spectrum-alias-icon-color-selected);
  --spectrum-tabbar-sidelabel-primary-item-text-color-selected: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-sidelabel-primary-item-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tabbar-sidelabel-primary-item-text-color-selected-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-tabbar-sidelabel-primary-item-icon-color-selected-down: var(--spectrum-alias-icon-color-selected-down);
  --spectrum-tabbar-sidelabel-primary-item-text-color-selected-down: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-sidelabel-primary-item-icon-color-selected-hover: var(--spectrum-alias-icon-color-selected-hover);
  --spectrum-tabbar-sidelabel-primary-item-text-color-selected-hover: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-sidelabel-primary-item-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-selected-focus);
  --spectrum-tabbar-sidelabel-primary-item-text-color-selected-key-focus: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-sidelabel-primary-item-icon-color-selected-mouse-focus: var(--spectrum-alias-icon-color-selected);
  --spectrum-tabbar-sidelabel-primary-item-text-color-selected-mouse-focus: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-sidelabel-primary-item-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tabbar-sidelabel-primary-item-text-color-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-tabbar-sidelabel-primary-item-icon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-tabbar-sidelabel-primary-item-text-color: var(--spectrum-alias-component-text-color-default);
  --spectrum-tabbar-sidelabel-primary-item-icon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-tabbar-sidelabel-primary-item-text-color-down: var(--spectrum-alias-component-text-color-down);
  --spectrum-tabbar-sidelabel-primary-item-icon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-tabbar-sidelabel-primary-item-text-color-hover: var(--spectrum-alias-component-text-color-hover);
  --spectrum-tabbar-sidelabel-primary-item-icon-color-key-focus: var(--spectrum-alias-icon-color-key-focus);
  --spectrum-tabbar-sidelabel-primary-item-text-color-key-focus: var(--spectrum-alias-component-text-color-key-focus);
  --spectrum-tabbar-sidelabel-primary-item-icon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-tabbar-sidelabel-primary-item-text-color-mouse-focus: var(--spectrum-alias-component-text-color-mouse-focus);
  --spectrum-tabbar-sidelabel-primary-background-color: var(--spectrum-alias-background-color-primary);
  --spectrum-tabbar-sidelabel-primary-height: 49px;
  --spectrum-tabbar-sidelabel-primary-border-size: 1px;
  --spectrum-tabbar-sidelabel-primary-item-icon-gap: var(--spectrum-global-dimension-static-size-115);
  --spectrum-tabbar-sidelabel-primary-item-icon-size: var(--spectrum-alias-workflow-icon-size-m);
  --spectrum-tabbar-sidelabel-primary-item-icon-type: icon;
  --spectrum-tabbar-sidelabel-primary-item-icon-render: yes;
  --spectrum-tabbar-sidelabel-primary-item-icon-margin-top: var(--spectrum-global-dimension-size-85);
  --spectrum-tabbar-sidelabel-primary-item-icon-margin-bottom: var(--spectrum-global-dimension-size-85);
  --spectrum-tabbar-sidelabel-primary-item-text-size: var(--spectrum-global-dimension-static-font-size-150);
  --spectrum-tabbar-sidelabel-primary-item-text-transform: none;
  --spectrum-tabbar-sidelabel-primary-item-text-font-size: var(--spectrum-global-dimension-static-font-size-150);
  --spectrum-tabbar-sidelabel-primary-item-text-render: yes;
  --spectrum-tabbar-sidelabel-primary-item-text-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-tabbar-sidelabel-primary-item-text-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-tabbar-sidelabel-primary-item-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-tabbar-sidelabel-primary-item-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-tabbar-sidelabel-primary-item-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tabbar-sidelabel-primary-item-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tabbar-sidelabel-primary-item-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-tabbar-sidelabel-primary-item-text-text-transform: none;
  --spectrum-tabbar-sidelabel-primary-item-padding-bottom: var(--spectrum-global-dimension-static-size-225);
  --spectrum-tabbar-sidelabel-primary-item-padding-top: var(--spectrum-global-dimension-static-size-200);
  --spectrum-tabbar-sidelabel-primary-title-position-offset: -2px;
  --spectrum-tabbar-secondary-item-icon-color-selected: var(--spectrum-alias-icon-color-selected);
  --spectrum-tabbar-secondary-item-text-color-selected: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-secondary-item-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tabbar-secondary-item-text-color-selected-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-tabbar-secondary-item-icon-color-selected-down: var(--spectrum-alias-icon-color-selected-down);
  --spectrum-tabbar-secondary-item-text-color-selected-down: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-secondary-item-icon-color-selected-hover: var(--spectrum-alias-icon-color-selected-hover);
  --spectrum-tabbar-secondary-item-text-color-selected-hover: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-secondary-item-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-selected-focus);
  --spectrum-tabbar-secondary-item-text-color-selected-key-focus: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-secondary-item-icon-color-selected-mouse-focus: var(--spectrum-alias-icon-color-selected);
  --spectrum-tabbar-secondary-item-text-color-selected-mouse-focus: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-secondary-item-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tabbar-secondary-item-text-color-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-tabbar-secondary-item-icon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-tabbar-secondary-item-text-color: var(--spectrum-alias-component-text-color-default);
  --spectrum-tabbar-secondary-item-icon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-tabbar-secondary-item-text-color-down: var(--spectrum-alias-component-text-color-down);
  --spectrum-tabbar-secondary-item-icon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-tabbar-secondary-item-text-color-hover: var(--spectrum-alias-component-text-color-hover);
  --spectrum-tabbar-secondary-item-icon-color-key-focus: var(--spectrum-alias-icon-color-key-focus);
  --spectrum-tabbar-secondary-item-text-color-key-focus: var(--spectrum-alias-component-text-color-key-focus);
  --spectrum-tabbar-secondary-item-icon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-tabbar-secondary-item-text-color-mouse-focus: var(--spectrum-alias-component-text-color-mouse-focus);
  --spectrum-tabbar-secondary-background-color: var(--spectrum-alias-background-color-secondary);
  --spectrum-tabbar-secondary-height: 49px;
  --spectrum-tabbar-secondary-border-size: 1px;
  --spectrum-tabbar-secondary-item-icon-gap: var(--spectrum-global-dimension-static-size-50);
  --spectrum-tabbar-secondary-item-icon-size: var(--spectrum-alias-workflow-icon-size-m);
  --spectrum-tabbar-secondary-item-icon-type: icon;
  --spectrum-tabbar-secondary-item-icon-render: yes;
  --spectrum-tabbar-secondary-item-icon-margin-top: var(--spectrum-global-dimension-size-85);
  --spectrum-tabbar-secondary-item-icon-margin-bottom: var(--spectrum-global-dimension-size-85);
  --spectrum-tabbar-secondary-item-text-size: var(--spectrum-global-dimension-static-font-size-50);
  --spectrum-tabbar-secondary-item-text-transform: none;
  --spectrum-tabbar-secondary-item-text-font-size: var(--spectrum-global-dimension-static-font-size-50);
  --spectrum-tabbar-secondary-item-text-render: yes;
  --spectrum-tabbar-secondary-item-text-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-tabbar-secondary-item-text-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-tabbar-secondary-item-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-tabbar-secondary-item-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-tabbar-secondary-item-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tabbar-secondary-item-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tabbar-secondary-item-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-tabbar-secondary-item-text-text-transform: none;
  --spectrum-tabbar-secondary-item-padding-bottom: var(--spectrum-global-dimension-static-size-40);
  --spectrum-tabbar-secondary-item-padding-top: var(--spectrum-global-dimension-static-size-100);
  --spectrum-tabbar-secondary-title-position-offset: -2px;
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-selected: var(--spectrum-alias-icon-color-selected);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-selected: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-selected-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-selected-down: var(--spectrum-alias-icon-color-selected-down);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-selected-down: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-selected-hover: var(--spectrum-alias-icon-color-selected-hover);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-selected-hover: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-selected-focus);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-selected-key-focus: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-selected-mouse-focus: var(--spectrum-alias-icon-color-selected);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-selected-mouse-focus: var(--spectrum-alias-text-color-selected);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-disabled: var(--spectrum-alias-component-text-color-disabled);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color: var(--spectrum-alias-component-icon-color-default);
  --spectrum-tabbar-sidelabel-secondary-item-text-color: var(--spectrum-alias-component-text-color-default);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-down: var(--spectrum-alias-component-icon-color-down);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-down: var(--spectrum-alias-component-text-color-down);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-hover: var(--spectrum-alias-component-icon-color-hover);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-hover: var(--spectrum-alias-component-text-color-hover);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-key-focus: var(--spectrum-alias-icon-color-key-focus);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-key-focus: var(--spectrum-alias-component-text-color-key-focus);
  --spectrum-tabbar-sidelabel-secondary-item-icon-color-mouse-focus: var(--spectrum-alias-component-icon-color-mouse-focus);
  --spectrum-tabbar-sidelabel-secondary-item-text-color-mouse-focus: var(--spectrum-alias-component-text-color-mouse-focus);
  --spectrum-tabbar-sidelabel-secondary-background-color: var(--spectrum-alias-background-color-secondary);
  --spectrum-tabbar-sidelabel-secondary-height: 49px;
  --spectrum-tabbar-sidelabel-secondary-border-size: 1px;
  --spectrum-tabbar-sidelabel-secondary-item-icon-gap: var(--spectrum-global-dimension-static-size-115);
  --spectrum-tabbar-sidelabel-secondary-item-icon-size: var(--spectrum-alias-workflow-icon-size-m);
  --spectrum-tabbar-sidelabel-secondary-item-icon-type: icon;
  --spectrum-tabbar-sidelabel-secondary-item-icon-render: yes;
  --spectrum-tabbar-sidelabel-secondary-item-icon-margin-top: var(--spectrum-global-dimension-size-85);
  --spectrum-tabbar-sidelabel-secondary-item-icon-margin-bottom: var(--spectrum-global-dimension-size-85);
  --spectrum-tabbar-sidelabel-secondary-item-text-size: var(--spectrum-global-dimension-static-font-size-150);
  --spectrum-tabbar-sidelabel-secondary-item-text-transform: none;
  --spectrum-tabbar-sidelabel-secondary-item-text-font-size: var(--spectrum-global-dimension-static-font-size-150);
  --spectrum-tabbar-sidelabel-secondary-item-text-render: yes;
  --spectrum-tabbar-sidelabel-secondary-item-text-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-tabbar-sidelabel-secondary-item-text-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-tabbar-sidelabel-secondary-item-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-tabbar-sidelabel-secondary-item-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-tabbar-sidelabel-secondary-item-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tabbar-sidelabel-secondary-item-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tabbar-sidelabel-secondary-item-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-tabbar-sidelabel-secondary-item-text-text-transform: none;
  --spectrum-tabbar-sidelabel-secondary-item-padding-bottom: var(--spectrum-global-dimension-static-size-225);
  --spectrum-tabbar-sidelabel-secondary-item-padding-top: var(--spectrum-global-dimension-static-size-200);
  --spectrum-tabbar-sidelabel-secondary-title-position-offset: -2px;
}
