:root {
  --spectrum-colorslider-vertical-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-colorslider-vertical-border-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-colorslider-vertical-background-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-colorslider-vertical-fill-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-vertical-border-color: var(--spectrum-alias-border-color-translucent);
  --spectrum-colorslider-vertical-background-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-vertical-fill-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-vertical-border-color-down: var(--spectrum-alias-border-color-translucent);
  --spectrum-colorslider-vertical-background-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-vertical-fill-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-vertical-border-color-hover: var(--spectrum-alias-border-color-translucent);
  --spectrum-colorslider-vertical-background-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-vertical-fill-color-key-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-vertical-border-color-key-focus: var(--spectrum-alias-border-color-translucent);
  --spectrum-colorslider-vertical-background-color-key-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-vertical-fill-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-vertical-border-color-mouse-focus: var(--spectrum-alias-border-color-translucent);
  --spectrum-colorslider-vertical-background-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-vertical-min-height: var(--spectrum-global-dimension-size-1000);
  --spectrum-colorslider-vertical-height: var(--spectrum-global-dimension-size-2400);
  --spectrum-colorslider-vertical-min-width: var(--spectrum-global-dimension-size-300);
  --spectrum-colorslider-vertical-width: var(--spectrum-global-dimension-size-300);
  --spectrum-colorslider-vertical-default-length: var(--spectrum-global-dimension-size-2400);
  --spectrum-colorslider-vertical-min-length: var(--spectrum-global-dimension-size-1000);
  --spectrum-colorslider-vertical-cursor-hit-x: var(--spectrum-global-dimension-size-0);
  --spectrum-colorslider-vertical-cursor-hit-y: var(--spectrum-global-dimension-size-100);
  --spectrum-colorslider-vertical-touch-hit-y: var(--spectrum-global-dimension-size-100);
  --spectrum-colorslider-vertical-colorhandle-touch-hit-width: var(--spectrum-global-dimension-size-600);
  --spectrum-colorslider-vertical-colorhandle-touch-hit-height: var(--spectrum-global-dimension-size-600);
  --spectrum-colorslider-vertical-colorhandle-touch-hit-border-radius: var(--spectrum-global-dimension-size-0);
  --spectrum-colorslider-vertical-colorhandle-cursor-hit-border-radius: var(--spectrum-global-dimension-size-0);
  --spectrum-colorslider-vertical-colorhandle-cursor-hit-width: var(--spectrum-global-dimension-size-300);
  --spectrum-colorslider-vertical-colorhandle-cursor-hit-height: var(--spectrum-global-dimension-size-200);
  --spectrum-colorslider-vertical-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-colorslider-vertical-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-colorslider-fill-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-colorslider-border-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-colorslider-background-color-disabled: var(--spectrum-alias-track-color-disabled);
  --spectrum-colorslider-fill-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-border-color: var(--spectrum-alias-border-color-translucent);
  --spectrum-colorslider-background-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-fill-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-border-color-down: var(--spectrum-alias-border-color-translucent);
  --spectrum-colorslider-background-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-fill-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-border-color-hover: var(--spectrum-alias-border-color-translucent);
  --spectrum-colorslider-background-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-fill-color-key-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-border-color-key-focus: var(--spectrum-alias-border-color-translucent);
  --spectrum-colorslider-background-color-key-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-fill-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-border-color-mouse-focus: var(--spectrum-alias-border-color-translucent);
  --spectrum-colorslider-background-color-mouse-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-colorslider-min-height: var(--spectrum-global-dimension-size-300);
  --spectrum-colorslider-height: var(--spectrum-global-dimension-size-300);
  --spectrum-colorslider-min-width: var(--spectrum-global-dimension-size-1000);
  --spectrum-colorslider-width: var(--spectrum-global-dimension-size-2400);
  --spectrum-colorslider-default-length: var(--spectrum-global-dimension-size-2400);
  --spectrum-colorslider-min-length: var(--spectrum-global-dimension-size-1000);
  --spectrum-colorslider-cursor-hit-x: var(--spectrum-global-dimension-size-100);
  --spectrum-colorslider-cursor-hit-y: var(--spectrum-global-dimension-size-0);
  --spectrum-colorslider-touch-hit-x: var(--spectrum-global-dimension-size-100);
  --spectrum-colorslider-colorhandle-touch-hit-width: var(--spectrum-global-dimension-size-600);
  --spectrum-colorslider-colorhandle-touch-hit-height: var(--spectrum-global-dimension-size-600);
  --spectrum-colorslider-colorhandle-touch-hit-border-radius: var(--spectrum-global-dimension-size-0);
  --spectrum-colorslider-colorhandle-cursor-hit-border-radius: var(--spectrum-global-dimension-size-0);
  --spectrum-colorslider-colorhandle-cursor-hit-width: var(--spectrum-global-dimension-size-200);
  --spectrum-colorslider-colorhandle-cursor-hit-height: var(--spectrum-global-dimension-size-300);
  --spectrum-colorslider-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-colorslider-border-radius: var(--spectrum-alias-border-radius-regular);
}
