:root {
  --spectrum-card-s-quiet-preview-background-color-selected: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-quiet-border-color-selected: var(--spectrum-global-color-blue-500);
  --spectrum-card-s-quiet-preview-background-color-selected-down: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-quiet-border-color-selected-down: var(--spectrum-global-color-blue-500);
  --spectrum-card-s-quiet-preview-background-color-selected-hover: var(--spectrum-global-color-gray-300);
  --spectrum-card-s-quiet-border-color-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-card-s-quiet-preview-background-color-selected-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-card-s-quiet-border-color-selected-key-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-card-s-quiet-preview-background-color-selected-mouse-focus: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-quiet-border-color-selected-mouse-focus: var(--spectrum-global-color-blue-500);
  --spectrum-card-s-quiet-preview-background-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-quiet-border-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-quiet-preview-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-quiet-border-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-quiet-preview-background-color-hover: var(--spectrum-global-color-gray-300);
  --spectrum-card-s-quiet-border-color-hover: var(--spectrum-global-color-gray-400);
  --spectrum-card-s-quiet-preview-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-card-s-quiet-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-card-s-quiet-preview-background-color-mouse-focus: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-quiet-border-color-mouse-focus: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-quiet-coverphoto-background-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-quiet-coverphoto-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-card-s-quiet-title-text-color: var(--spectrum-global-color-gray-800);
  --spectrum-card-s-quiet-subtitle-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-card-s-quiet-description-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-card-s-quiet-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-card-s-quiet-body-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-card-s-quiet-body-margin-top: var(--spectrum-global-dimension-size-100);
  --spectrum-card-s-quiet-body-header-margin-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-s-quiet-body-header-height: var(--spectrum-global-dimension-size-150);
  --spectrum-card-s-quiet-body-header-padding-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-s-quiet-body-content-min-height: var(--spectrum-global-dimension-size-175);
  --spectrum-card-s-quiet-body-content-margin-top: var(--spectrum-global-dimension-size-75);
  --spectrum-card-s-quiet-body-padding-top: var(--spectrum-global-dimension-size-100);
  --spectrum-card-s-quiet-body-padding-bottom: var(--spectrum-global-dimension-static-size-0);
  --spectrum-card-s-quiet-body-padding-left: var(--spectrum-global-dimension-static-size-0);
  --spectrum-card-s-quiet-body-padding-right: var(--spectrum-global-dimension-static-size-0);
  --spectrum-card-s-quiet-text-transform: none;
  --spectrum-card-s-quiet-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-card-s-quiet-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-card-s-quiet-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-card-s-quiet-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-card-s-quiet-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-card-s-quiet-text-text-transform: none;
  --spectrum-card-s-quiet-text-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-card-s-quiet-coverphoto-height: auto;
  --spectrum-card-s-quiet-coverphoto-border-bottom-size: var(--spectrum-global-dimension-static-size-0);
  --spectrum-card-s-quiet-preview-padding: var(--spectrum-global-dimension-size-150);
  --spectrum-card-s-quiet-checkbox-margin: var(--spectrum-global-dimension-size-125);
  --spectrum-card-s-quiet-title-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-card-s-quiet-title-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-card-s-quiet-title-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-card-s-quiet-subtitle-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-card-s-quiet-subtitle-padding-top: var(--spectrum-global-dimension-size-50);
  --spectrum-card-s-quiet-subtitle-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-card-s-quiet-subtitle-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-card-s-quiet-actions-margin: var(--spectrum-global-dimension-size-125);
  --spectrum-card-s-quiet-footer-padding-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-s-quiet-footer-border-top-size: var(--spectrum-global-dimension-size-10);
  --spectrum-card-s-quiet-min-width: var(--spectrum-global-dimension-size-1200);
  --spectrum-card-s-quiet-min-height: var(--spectrum-global-dimension-size-900);
  --spectrum-card-s-quiet-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-card-s-quiet-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-card-s-preview-background-color-selected: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-s-border-color-selected: var(--spectrum-global-color-blue-500);
  --spectrum-card-s-preview-background-color-selected-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-s-border-color-selected-down: var(--spectrum-global-color-blue-500);
  --spectrum-card-s-preview-background-color-selected-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-s-border-color-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-card-s-preview-background-color-selected-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-s-border-color-selected-key-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-card-s-preview-background-color-selected-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-s-border-color-selected-mouse-focus: var(--spectrum-global-color-blue-500);
  --spectrum-card-s-preview-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-s-border-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-preview-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-s-border-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-preview-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-s-border-color-hover: var(--spectrum-global-color-gray-400);
  --spectrum-card-s-preview-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-s-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-card-s-preview-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-s-border-color-mouse-focus: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-coverphoto-background-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-coverphoto-border-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-s-title-text-color: var(--spectrum-global-color-gray-800);
  --spectrum-card-s-subtitle-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-card-s-description-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-card-s-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-card-s-body-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-card-s-body-margin-top: var(--spectrum-global-dimension-size-250);
  --spectrum-card-s-body-header-margin-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-s-body-header-height: var(--spectrum-global-dimension-size-150);
  --spectrum-card-s-body-header-padding-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-s-body-content-min-height: var(--spectrum-global-dimension-size-175);
  --spectrum-card-s-body-content-margin-top: var(--spectrum-global-dimension-size-75);
  --spectrum-card-s-body-padding-top: var(--spectrum-global-dimension-size-250);
  --spectrum-card-s-body-padding-bottom: var(--spectrum-global-dimension-size-250);
  --spectrum-card-s-body-padding-left: var(--spectrum-global-dimension-size-300);
  --spectrum-card-s-body-padding-right: var(--spectrum-global-dimension-size-300);
  --spectrum-card-s-text-transform: none;
  --spectrum-card-s-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-card-s-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-card-s-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-card-s-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-card-s-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-card-s-text-text-transform: none;
  --spectrum-card-s-text-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-card-s-coverphoto-height: var(--spectrum-global-dimension-size-1700);
  --spectrum-card-s-coverphoto-border-bottom-size: var(--spectrum-alias-border-size-thin);
  --spectrum-card-s-preview-padding: var(--spectrum-global-dimension-size-0);
  --spectrum-card-s-checkbox-margin: var(--spectrum-global-dimension-size-125);
  --spectrum-card-s-title-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-card-s-title-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-card-s-title-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-card-s-subtitle-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-card-s-subtitle-padding-top: var(--spectrum-global-dimension-size-50);
  --spectrum-card-s-subtitle-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-card-s-subtitle-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-card-s-actions-margin: var(--spectrum-global-dimension-size-125);
  --spectrum-card-s-footer-padding-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-s-footer-border-top-size: var(--spectrum-global-dimension-size-10);
  --spectrum-card-s-min-width: var(--spectrum-global-dimension-size-1250);
  --spectrum-card-s-min-height: var(--spectrum-global-dimension-size-1700);
  --spectrum-card-s-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-card-s-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-card-m-quiet-preview-background-color-selected: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-quiet-border-color-selected: var(--spectrum-global-color-blue-500);
  --spectrum-card-m-quiet-preview-background-color-selected-down: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-quiet-border-color-selected-down: var(--spectrum-global-color-blue-500);
  --spectrum-card-m-quiet-preview-background-color-selected-hover: var(--spectrum-global-color-gray-300);
  --spectrum-card-m-quiet-border-color-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-card-m-quiet-preview-background-color-selected-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-card-m-quiet-border-color-selected-key-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-card-m-quiet-preview-background-color-selected-mouse-focus: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-quiet-border-color-selected-mouse-focus: var(--spectrum-global-color-blue-500);
  --spectrum-card-m-quiet-preview-background-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-quiet-border-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-quiet-preview-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-quiet-border-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-quiet-preview-background-color-hover: var(--spectrum-global-color-gray-300);
  --spectrum-card-m-quiet-border-color-hover: var(--spectrum-global-color-gray-400);
  --spectrum-card-m-quiet-preview-background-color-key-focus: var(--spectrum-global-color-gray-300);
  --spectrum-card-m-quiet-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-card-m-quiet-preview-background-color-mouse-focus: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-quiet-border-color-mouse-focus: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-quiet-coverphoto-background-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-quiet-coverphoto-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-card-m-quiet-title-text-color: var(--spectrum-global-color-gray-800);
  --spectrum-card-m-quiet-subtitle-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-card-m-quiet-description-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-card-m-quiet-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-card-m-quiet-body-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-card-m-quiet-body-margin-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-m-quiet-body-header-margin-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-m-quiet-body-header-height: var(--spectrum-global-dimension-size-225);
  --spectrum-card-m-quiet-body-header-padding-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-m-quiet-body-content-min-height: var(--spectrum-global-dimension-size-175);
  --spectrum-card-m-quiet-body-content-margin-top: var(--spectrum-global-dimension-size-75);
  --spectrum-card-m-quiet-body-padding-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-m-quiet-body-padding-bottom: var(--spectrum-global-dimension-static-size-0);
  --spectrum-card-m-quiet-body-padding-left: var(--spectrum-global-dimension-static-size-0);
  --spectrum-card-m-quiet-body-padding-right: var(--spectrum-global-dimension-static-size-0);
  --spectrum-card-m-quiet-text-transform: none;
  --spectrum-card-m-quiet-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-card-m-quiet-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-card-m-quiet-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-card-m-quiet-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-card-m-quiet-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-card-m-quiet-text-text-transform: none;
  --spectrum-card-m-quiet-text-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-card-m-quiet-coverphoto-height: auto;
  --spectrum-card-m-quiet-coverphoto-border-bottom-size: var(--spectrum-global-dimension-static-size-0);
  --spectrum-card-m-quiet-preview-padding: var(--spectrum-global-dimension-size-250);
  --spectrum-card-m-quiet-checkbox-margin: var(--spectrum-global-dimension-size-200);
  --spectrum-card-m-quiet-title-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-card-m-quiet-title-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-card-m-quiet-title-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-card-m-quiet-subtitle-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-card-m-quiet-subtitle-padding-top: var(--spectrum-global-dimension-size-50);
  --spectrum-card-m-quiet-subtitle-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-card-m-quiet-subtitle-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-card-m-quiet-actions-margin: var(--spectrum-global-dimension-size-125);
  --spectrum-card-m-quiet-footer-padding-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-m-quiet-footer-border-top-size: var(--spectrum-global-dimension-size-10);
  --spectrum-card-m-quiet-min-width: var(--spectrum-global-dimension-size-2500);
  --spectrum-card-m-quiet-min-height: var(--spectrum-global-dimension-size-1700);
  --spectrum-card-m-quiet-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-card-m-quiet-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-card-m-preview-background-color-selected: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-m-border-color-selected: var(--spectrum-global-color-blue-500);
  --spectrum-card-m-preview-background-color-selected-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-m-border-color-selected-down: var(--spectrum-global-color-blue-500);
  --spectrum-card-m-preview-background-color-selected-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-m-border-color-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-card-m-preview-background-color-selected-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-m-border-color-selected-key-focus: var(--spectrum-alias-border-color-transparent);
  --spectrum-card-m-preview-background-color-selected-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-m-border-color-selected-mouse-focus: var(--spectrum-global-color-blue-500);
  --spectrum-card-m-preview-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-m-border-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-preview-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-m-border-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-preview-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-m-border-color-hover: var(--spectrum-global-color-gray-400);
  --spectrum-card-m-preview-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-m-border-color-key-focus: var(--spectrum-alias-border-color-key-focus);
  --spectrum-card-m-preview-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-card-m-border-color-mouse-focus: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-coverphoto-background-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-coverphoto-border-color: var(--spectrum-global-color-gray-200);
  --spectrum-card-m-title-text-color: var(--spectrum-global-color-gray-800);
  --spectrum-card-m-subtitle-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-card-m-description-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-card-m-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-card-m-body-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-card-m-body-margin-top: var(--spectrum-global-dimension-size-250);
  --spectrum-card-m-body-header-margin-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-m-body-header-height: var(--spectrum-global-dimension-size-225);
  --spectrum-card-m-body-header-padding-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-m-body-content-min-height: var(--spectrum-global-dimension-size-175);
  --spectrum-card-m-body-content-margin-top: var(--spectrum-global-dimension-size-75);
  --spectrum-card-m-body-padding-top: var(--spectrum-global-dimension-size-250);
  --spectrum-card-m-body-padding-bottom: var(--spectrum-global-dimension-size-250);
  --spectrum-card-m-body-padding-left: var(--spectrum-global-dimension-size-300);
  --spectrum-card-m-body-padding-right: var(--spectrum-global-dimension-size-300);
  --spectrum-card-m-text-transform: none;
  --spectrum-card-m-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-card-m-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-card-m-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-card-m-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-card-m-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-card-m-text-text-transform: none;
  --spectrum-card-m-text-font-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-card-m-coverphoto-height: var(--spectrum-global-dimension-size-1700);
  --spectrum-card-m-coverphoto-border-bottom-size: var(--spectrum-alias-border-size-thin);
  --spectrum-card-m-preview-padding: var(--spectrum-global-dimension-size-0);
  --spectrum-card-m-checkbox-margin: var(--spectrum-global-dimension-size-200);
  --spectrum-card-m-title-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-card-m-title-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-card-m-title-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-card-m-subtitle-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-card-m-subtitle-padding-top: var(--spectrum-global-dimension-size-50);
  --spectrum-card-m-subtitle-padding-right: var(--spectrum-global-dimension-size-100);
  --spectrum-card-m-subtitle-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-card-m-actions-margin: var(--spectrum-global-dimension-size-125);
  --spectrum-card-m-footer-padding-top: var(--spectrum-global-dimension-size-175);
  --spectrum-card-m-footer-border-top-size: var(--spectrum-global-dimension-size-10);
  --spectrum-card-m-min-width: var(--spectrum-global-dimension-size-2500);
  --spectrum-card-m-min-height: var(--spectrum-global-dimension-size-1700);
  --spectrum-card-m-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-card-m-border-size: var(--spectrum-alias-border-size-thin);
}
