name: Update PRs

on:
  push:
    branches:
      - main

jobs:
  autoupdate:
    name: Auto-update PRs
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
       # README: https://github.com/castastrophe/actions-pr-auto-update#auto-update-pull-requests
      - uses: castastrophe/actions-pr-auto-update@v1.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Draft PRs will not be automatically updated by this utility
          include_drafts: false
          limit: 50
          exclude_labels: blocked,wip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
