:root {
  /* redefine this var so it can be used in skin.css */
  --spectrum-colorhandle-outer-border-size: var(--spectrum-global-dimension-static-size-10);
  --spectrum-colorhandle-background-offset: calc(-1 * var(--spectrum-global-dimension-static-size-25));
  --spectrum-colorhandle-checkerboard-size: var(--spectrum-global-dimension-static-size-100);
}

.spectrum-ColorHandle {
  border-color: var(--spectrum-colorhandle-inner-border-color);
  box-shadow: 0 0 0 var(--spectrum-colorhandle-outer-border-size) var(--spectrum-colorhandle-outer-border-color), inset 0 0 0 var(--spectrum-colorhandle-outer-border-size) var(--spectrum-colorhandle-outer-border-color);

  background-color: var(--spectrum-global-color-static-white);

  /* Add a half-percent to fix diagonal line issue in Chrome on non-retina displays */
  background-image:
    linear-gradient(-45deg, transparent 75.5%, var(--spectrum-global-color-static-gray-500) 75.5%),
    linear-gradient(45deg, transparent 75.5%, var(--spectrum-global-color-static-gray-500) 75.5%),
    linear-gradient(-45deg, var(--spectrum-global-color-static-gray-500) 25.5%, transparent 25.5%),
    linear-gradient(45deg, var(--spectrum-global-color-static-gray-500) 25.5%, transparent 25.5%);
  background-size:
    var(--spectrum-global-dimension-static-size-200)
    var(--spectrum-global-dimension-static-size-200);
  background-position:
    var(--spectrum-colorhandle-background-offset) var(--spectrum-colorhandle-background-offset),
    var(--spectrum-colorhandle-background-offset) calc(var(--spectrum-colorhandle-checkerboard-size) + var(--spectrum-colorhandle-background-offset)),
    calc(var(--spectrum-colorhandle-checkerboard-size) + var(--spectrum-colorhandle-background-offset)) calc(-1 * var(--spectrum-colorhandle-checkerboard-size) + var(--spectrum-colorhandle-background-offset)),
    calc(-1 * var(--spectrum-colorhandle-checkerboard-size) + var(--spectrum-colorhandle-background-offset)) var(--spectrum-colorhandle-background-offset);
}
